Repository vectordotdev/vector, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vectordotdev/vector, @vectordotdev/single-machine-performance, @vectordotdev/ux-team, @vectordotdev/documentation, @vectordotdev/vector-website

.github/CODEOWNERS:

* @vectordotdev/vector

.github/workflows/regression.yml @vectordotdev/vector @vectordotdev/single-machine-performance
regression/config.yaml @vectordotdev/vector @vectordotdev/single-machine-performance

docs/ @vectordotdev/vector @vectordotdev/ux-team @vectordotdev/documentation
website/ @vectordotdev/vector @vectordotdev/ux-team
website/content @vectordotdev/vector @vectordotdev/documentation
website/cue/reference @vectordotdev/vector @vectordotdev/documentation

website/js @vectordotdev/vector @vectordotdev/vector-website
website/layouts @vectordotdev/vector @vectordotdev/vector-website
website/scripts @vectordotdev/vector @vectordotdev/vector-website
website/data @vectordotdev/vector @vectordotdev/vector-website
website/* @vectordotdev/vector @vectordotdev/vector-website

chore(deps): use workspace whenever possible (#23599)
  Cargo.lock
  Cargo.toml
  lib/codecs/Cargo.toml
  lib/dnstap-parser/Cargo.toml
  lib/docs-renderer/Cargo.toml
  lib/file-source/Cargo.toml
  lib/k8s-e2e-tests/Cargo.toml
  lib/k8s-test-framework/Cargo.toml
  lib/loki-logproto/Cargo.toml
  lib/opentelemetry-proto/Cargo.toml
  lib/vector-api-client/Cargo.toml
  lib/vector-buffers/Cargo.toml
  lib/vector-common/Cargo.toml
  lib/vector-config-common/Cargo.toml
  lib/vector-config/Cargo.toml
  lib/vector-core/Cargo.toml
  lib/vector-stream/Cargo.toml
  lib/vector-tap/Cargo.toml
  vdev/Cargo.toml
Owners: @vectordotdev/vector

chore(config): Handle `serde(untagged)` in enum variants (#23575)
  lib/vector-config-macros/src/ast/container.rs
  lib/vector-config-macros/src/ast/util.rs
  lib/vector-config-macros/src/ast/variant.rs
  lib/vector-config/tests/integration/smoke.rs
Owners: @vectordotdev/vector

chore(file source): refactor file source into common module
  Cargo.lock
  Cargo.toml
  lib/file-source-common/.gitignore
  lib/file-source-common/Cargo.toml
  lib/file-source-common/LICENSE
  lib/file-source-common/src/buffer.rs
  lib/file-source-common/src/checkpointer.rs
  lib/file-source-common/src/fingerprinter.rs
  lib/file-source-common/src/internal_events.rs
  lib/file-source-common/src/lib.rs
  lib/file-source-common/src/metadata_ext.rs
  lib/file-source/benches/buffer.rs
  lib/file-source/src/file_server.rs
  lib/file-source/src/file_watcher/mod.rs
  lib/file-source/src/file_watcher/tests/experiment.rs
  lib/file-source/src/file_watcher/tests/experiment_no_truncations.rs
  lib/file-source/src/lib.rs
  lib/file-source/src/paths_provider.rs
  lib/file-source/src/paths_provider/mod.rs
  lib/vector-lib/Cargo.toml
  lib/vector-lib/src/lib.rs
  src/internal_events/file.rs
  src/sources/file.rs
  src/sources/kubernetes_logs/mod.rs
  src/sources/kubernetes_logs/util.rs
Owners: @vectordotdev/vector

chore(buffers): Rework gauge metric handling (#23561)
  lib/vector-buffers/src/buffer_usage_data.rs
  lib/vector-buffers/src/cast_utils.rs
  lib/vector-buffers/src/internal_events.rs
  lib/vector-buffers/src/lib.rs
Owners: @vectordotdev/vector

chore(file source): refactor file source into common module (#23607)
  Cargo.lock
  Cargo.toml
  lib/file-source-common/.gitignore
  lib/file-source-common/Cargo.toml
  lib/file-source-common/LICENSE
  lib/file-source-common/src/buffer.rs
  lib/file-source-common/src/checkpointer.rs
  lib/file-source-common/src/fingerprinter.rs
  lib/file-source-common/src/internal_events.rs
  lib/file-source-common/src/lib.rs
  lib/file-source-common/src/metadata_ext.rs
  lib/file-source/benches/buffer.rs
  lib/file-source/src/file_server.rs
  lib/file-source/src/file_watcher/mod.rs
  lib/file-source/src/file_watcher/tests/experiment.rs
  lib/file-source/src/file_watcher/tests/experiment_no_truncations.rs
  lib/file-source/src/lib.rs
  lib/file-source/src/paths_provider.rs
  lib/file-source/src/paths_provider/mod.rs
  lib/vector-lib/Cargo.toml
  lib/vector-lib/src/lib.rs
  src/internal_events/file.rs
  src/sources/file.rs
  src/sources/kubernetes_logs/mod.rs
  src/sources/kubernetes_logs/util.rs
Owners: @vectordotdev/vector

ran cargo fmt
  lib/codecs/src/decoding/format/protobuf.rs
  lib/vector-vrl/web-playground/build.rs
  src/sources/opentelemetry/config.rs
  src/sources/opentelemetry/grpc.rs
  src/sources/opentelemetry/http.rs
  src/sources/opentelemetry/tests.rs
Owners: @vectordotdev/vector

chore(dev): cargo vdev build licenses
  LICENSE-3rdparty.csv
Owners: @vectordotdev/vector

Add website doc
  website/content/en/docs/reference/configuration/sinks/journald.md
  website/cue/reference/components/sinks/journald.cue
Owners: @vectordotdev/vector, @vectordotdev/documentation

Revert "chore(codecs protobuf): allow all telemetry types (#23550)"
  .github/workflows/semantic.yml
  lib/codecs/src/decoding/format/protobuf.rs
  lib/codecs/src/encoding/format/protobuf.rs
Owners: @vectordotdev/vector

Update search.tsx
  website/assets/js/search.tsx
Owners: @vectordotdev/vector, @vectordotdev/ux-team

add known issue
  website/cue/reference/releases/0.49.0.cue
Owners: @vectordotdev/vector, @vectordotdev/documentation

encoder supports traces too
  lib/codecs/src/encoding/format/protobuf.rs
Owners: @vectordotdev/vector

chore(website): update Typesense connection string [WEB-6971] (#23611)
  website/assets/js/search.tsx
Owners: @vectordotdev/vector, @vectordotdev/ux-team

Update website/cue/reference/releases/0.49.0.cue
  website/cue/reference/releases/0.49.0.cue
Owners: @vectordotdev/vector, @vectordotdev/documentation
