Repository vectordotdev/vector, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vectordotdev/vector, @vectordotdev/single-machine-performance, @vectordotdev/ux-team, @vectordotdev/documentation

fix(sample transform): component feature check fix
  Cargo.lock
  src/transforms/mod.rs
  src/transforms/sample/config.rs
  src/transforms/sample/mod.rs
  src/transforms/sample/tests.rs
  src/transforms/sample/transform.rs
Owners: @vectordotdev/vector

chore(dev): Add configuration for aqua to manage tooling dependencies (#18020)
  .github/actions/spelling/expect.txt
  aqua/aqua-policy.yaml
  aqua/aqua.yaml
  aqua/registry.yaml
Owners: @vectordotdev/vector

fix compliation errors
  src/topology/running.rs
Owners: @vectordotdev/vector

Update lib/vector-core/src/config/global_options.rs
  lib/vector-core/src/config/global_options.rs
Owners: @vectordotdev/vector

fix(sample transform): component feature check fix (#21677)
  Cargo.lock
  src/transforms/mod.rs
  src/transforms/sample/config.rs
  src/transforms/sample/mod.rs
  src/transforms/sample/tests.rs
  src/transforms/sample/transform.rs
Owners: @vectordotdev/vector

Add note about preserving old behavior to changelog
  changelog.d/expire_internal_metrics.breaking.md
Owners: @vectordotdev/vector

Clear disk space for misc workflow
  .github/workflows/misc.yml
  scripts/ci-free-disk-space.sh
Owners: @vectordotdev/vector

chore(dev): update Cargo.lock
  Cargo.lock
Owners: @vectordotdev/vector

cuefmt
  website/cue/reference/components/sinks/vector.cue
Owners: @vectordotdev/ux-team, @vectordotdev/documentation

docs(vector sink): Added proxy option to Vector sink (#21609)
  website/cue/reference/components/sinks/vector.cue
Owners: @vectordotdev/ux-team, @vectordotdev/documentation

chore(config)!: Default `expire_internal_metrics` to 300s (#20710)
  changelog.d/expire_internal_metrics.breaking.md
  lib/vector-core/src/config/global_options.rs
  src/topology/running.rs
  website/cue/reference/configuration.cue
Owners: @vectordotdev/vector, @vectordotdev/ux-team, @vectordotdev/documentation

chore(ci): Fix scraping of target metrics by lading (#21530)
  regression/cases/datadog_agent_remap_blackhole/lading/lading.yaml
  regression/cases/datadog_agent_remap_blackhole_acks/lading/lading.yaml
  regression/cases/datadog_agent_remap_datadog_logs/lading/lading.yaml
  regression/cases/datadog_agent_remap_datadog_logs_acks/lading/lading.yaml
  regression/cases/file_to_blackhole/lading/lading.yaml
  regression/cases/fluent_elasticsearch/lading/lading.yaml
  regression/cases/http_elasticsearch/lading/lading.yaml
  regression/cases/http_text_to_http_json/lading/lading.yaml
  regression/cases/http_to_http_acks/lading/lading.yaml
  regression/cases/http_to_http_json/lading/lading.yaml
  regression/cases/http_to_http_noack/lading/lading.yaml
  regression/cases/http_to_s3/lading/lading.yaml
  regression/cases/otlp_grpc_to_blackhole/lading/lading.yaml
  regression/cases/otlp_http_to_blackhole/lading/lading.yaml
  regression/cases/socket_to_socket_blackhole/lading/lading.yaml
  regression/cases/splunk_hec_indexer_ack_blackhole/lading/lading.yaml
  regression/cases/splunk_hec_route_s3/lading/lading.yaml
  regression/cases/splunk_hec_to_splunk_hec_logs_acks/lading/lading.yaml
  regression/cases/splunk_hec_to_splunk_hec_logs_noack/lading/lading.yaml
  regression/cases/syslog_humio_logs/lading/lading.yaml
  regression/cases/syslog_log2metric_humio_metrics/lading/lading.yaml
  regression/cases/syslog_log2metric_splunk_hec_metrics/lading/lading.yaml
  regression/cases/syslog_log2metric_tag_cardinality_limit_blackhole/lading/lading.yaml
  regression/cases/syslog_loki/lading/lading.yaml
  regression/cases/syslog_regex_logs2metric_ddmetrics/lading/lading.yaml
  regression/cases/syslog_splunk_hec_logs/lading/lading.yaml
  regression/config.yaml
Owners: @vectordotdev/vector, @vectordotdev/single-machine-performance

update test
  src/config/graph.rs
Owners: @vectordotdev/vector

chore(ci): Limit spellchecker to user-facing content
  .github/actions/spelling/excludes.txt
  .github/actions/spelling/only.txt
Owners: @vectordotdev/vector

Try splitting up build
  .github/workflows/environment.yml
Owners: @vectordotdev/vector

Ignore own configuration files
  .github/actions/spelling/excludes.txt
Owners: @vectordotdev/vector

whitespace
  .github/workflows/environment.yml
Owners: @vectordotdev/vector

Update expect
  .github/actions/spelling/excludes.txt
  .github/actions/spelling/expect.txt
Owners: @vectordotdev/vector

chore(ci): Limit spellchecker to user-facing content (#21680)
  .github/actions/spelling/excludes.txt
  .github/actions/spelling/expect.txt
  .github/actions/spelling/only.txt
Owners: @vectordotdev/vector

leave node_modules
  scripts/ci-free-disk-space.sh
Owners: @vectordotdev/vector

.github/CODEOWNERS:

* @vectordotdev/vector

.github/workflows/regression.yml @vectordotdev/vector @vectordotdev/single-machine-performance
regression/config.yaml @vectordotdev/vector @vectordotdev/single-machine-performance
docs/ @vectordotdev/ux-team @vectordotdev/documentation
website/ @vectordotdev/ux-team @vectordotdev/documentation
