Repository vectordotdev/vector, changes with the labels that .github/labeler.yml gives for each.
All labels: domain: sources, domain: sinks, domain: transforms, domain: topology, domain: codecs, domain: core, domain: vrl, domain: ci, domain: vdev, domain: releasing, domain: rfc, domain: external docs

.github/labeler.yml:

# Generic component-level labels and high-level groupings.
"domain: sources":
  - changed-files:
    - any-glob-to-any-file: ["src/sources/**/*"]

"domain: sinks":
  - changed-files:
    - any-glob-to-any-file: ["src/sinks/**/*"]

"domain: transforms":
  - changed-files:
    - any-glob-to-any-file: ["src/transforms/**/*"]

"domain: topology":
  - changed-files:
    - any-glob-to-any-file: ["src/topology/**/*"]

"domain: codecs":
  - changed-files:
    - any-glob-to-any-file: ["src/codecs/**/*"]

"domain: core":
  - changed-files:
    - any-glob-to-any-file: ["lib/vector-core/**/*"]

"domain: vrl":
  - changed-files:
    - any-glob-to-any-file: ["lib/vrl/**/*"]

"domain: ci":
  - changed-files:
    - any-glob-to-any-file: ["scripts/**/*"]

"domain: vdev":
  - changed-files:
    - any-glob-to-any-file: ["vdev/**/*"]

"domain: releasing":
  - changed-files:
    - any-glob-to-any-file: ["distribution/**/*", "scripts/package-*", "scripts/release-*"]

"domain: rfc":
  - changed-files:
    - any-glob-to-any-file: ["rfcs/**/*"]

"domain: external docs":
  - changed-files:
    - any-glob-to-any-file: ["website/cue/**/*"]

add newline to changelog
  changelog.d/strftime_items_in_unsigned_int_templates.enhancement.md
Labels: none

better event path usage
  src/template.rs
Labels: none

rust 1.88 - prep
  clippy.toml
  lib/codecs/src/decoding/mod.rs
  lib/enrichment/src/vrl_util.rs
  lib/vector-buffers/src/topology/channel/receiver.rs
  lib/vector-buffers/src/variants/disk_v2/tests/size_limits.rs
  lib/vector-common/src/finalization.rs
  lib/vector-common/src/shutdown.rs
  lib/vector-core/src/config/log_schema.rs
  lib/vector-core/src/event/metadata.rs
  src/common/http/server_auth.rs
  src/sinks/aws_s3/sink.rs
  src/sinks/azure_blob/request_builder.rs
  src/sources/aws_ecs_metrics/parser.rs
  src/sources/http_client/client.rs
  src/test_util/components.rs
  vdev/src/commands/info.rs
  vdev/src/features.rs
  vdev/src/platform.rs
  vdev/src/testing/config.rs
  vdev/src/testing/integration.rs
  vdev/src/testing/runner.rs
  vdev/src/testing/state.rs
Labels: domain: sources, domain: sinks, domain: core, domain: vdev

remove obsolete clippy.toml setting
  clippy.toml
Labels: none

fix(ci): use Debian-native bind package
  tests/data/dnstap/Dockerfile
Labels: none

Add log when putting an object to s3-compatible storage
  src/sinks/s3_common/service.rs
Labels: domain: sinks

address comments
  lib/vector-core/src/event/metric/data.rs
  src/transforms/incremental_to_absolute.rs
  website/cue/reference/components/transforms/generated/incremental_to_absolute.cue
  website/cue/reference/components/transforms/incremental_to_absolute.cue
Labels: domain: transforms, domain: core, domain: external docs

add changelog
  changelog.d/22994_emit_log_on_s3_puts.enhancement.md
Labels: none

add newline to json-schema_definition.json so cargo vdec check fmt passes
  lib/vector-vrl/tests/resources/json-schema_definition.json
Labels: none

Readded default value.
  lib/vector-vrl/web-playground/public/index.html
Labels: none

fix(ci): use Debian-native bind package (#23389)
  tests/data/dnstap/Dockerfile
Labels: none

feat(website): add timezone option, add performance timing into VRL Playground Website (#23343)
  Cargo.lock
  lib/vector-vrl/web-playground/Cargo.toml
  lib/vector-vrl/web-playground/public/index.css
  lib/vector-vrl/web-playground/public/index.html
  lib/vector-vrl/web-playground/public/index.js
  lib/vector-vrl/web-playground/src/lib.rs
Labels: none

clippy fix
  src/sinks/elasticsearch/common.rs
Labels: domain: sinks

cargo update -p vrl
  Cargo.lock
Labels: none

enhancement(templating): Allow strftime in UnsignedIntTemplate (#23387)
  changelog.d/strftime_items_in_unsigned_int_templates.enhancement.md
  src/template.rs
Labels: none

Update vdev/src/commands/info.rs
  vdev/src/commands/info.rs
Labels: domain: vdev

Update vdev/src/commands/info.rs
  vdev/src/commands/info.rs
Labels: domain: vdev

ran cargo fmt
  src/components/validation/mod.rs
  src/components/validation/runner/mod.rs
  src/sinks/amqp/integration_tests.rs
  src/sinks/databend/integration_tests.rs
  src/sinks/humio/logs.rs
  src/sinks/influxdb/metrics.rs
  src/sinks/mqtt/integration_tests.rs
  src/sinks/splunk_hec/logs/integration_tests.rs
  src/sources/kafka.rs
  tests/e2e/datadog/metrics/series.rs
  tests/e2e/datadog/mod.rs
Labels: domain: sources, domain: sinks

more auto-fixes
  benches/languages.rs
  lib/vector-vrl/web-playground/src/lib.rs
Labels: none

replace depracted all function
  benches/remap.rs
Labels: none

unix auto fixes
  src/sources/host_metrics/cgroups.rs
Labels: domain: sources

Update vdev/README.md
  vdev/README.md
Labels: domain: vdev

Fix wrong cue vdev matcher
  .github/workflows/changes.yml
Labels: none

Remove cargo cache and add rust matcher
  .github/workflows/test.yml
Labels: none

Fix markdown check
  .github/workflows/test.yml
Labels: none

Bootstrap ubuntu in cue docs
  .github/workflows/test.yml
Labels: none

Remove all-checks job
  .github/workflows/test.yml
Labels: none

debug Revert "Bootstrap ubuntu in cue docs"
  .github/workflows/test.yml
Labels: none

Re-add reverted "Bootstrap ubuntu in cue docs"
  .github/workflows/test.yml
Labels: none

Re-add all-checks job to satisfy branch protection rules
  .github/workflows/test.yml
Labels: none

Remove whitespace
  website/cue/reference/remap/functions/decode_lz4.cue
Labels: domain: external docs

auto fixes and one manual fix in benches
  benches/enrichment_tables.rs
  src/sources/dnstap/mod.rs
  src/sources/util/framestream.rs
Labels: domain: sources

cargo fmt --all
  benches/enrichment_tables.rs
  src/components/validation/resources/http.rs
  src/config/loading/loader.rs
  src/internal_telemetry/allocations/allocator/tracing_allocator.rs
  src/line_agg.rs
  src/sinks/azure_monitor_logs/sink.rs
  src/sinks/honeycomb/encoder.rs
  src/sinks/influxdb/metrics.rs
  src/sinks/prometheus/exporter.rs
  src/sinks/util/adaptive_concurrency/controller.rs
  src/sources/aws_s3/mod.rs
  src/sources/demo_logs.rs
  src/test_util/mock/mod.rs
  src/topology/builder.rs
  src/transforms/aggregate.rs
  src/transforms/reduce/merge_strategy.rs
  src/transforms/throttle/transform.rs
  src/validate.rs
Labels: domain: sources, domain: sinks, domain: transforms, domain: topology

Fix invalid json
  website/cue/reference/remap/functions/validate_json_schema.cue
Labels: domain: external docs

feat(ci): split up test.yml (#23383)
  .github/workflows/changes.yml
  .github/workflows/test.yml
  vdev/README.md
Labels: domain: vdev

rename to avoid reserved words
  src/config/sink.rs
  src/config/source.rs
  src/config/transform.rs
  src/sinks/gcp_chronicle/compression.rs
  src/sinks/util/buffer/compression.rs
  src/sources/docker_logs/mod.rs
Labels: domain: sources, domain: sinks

ran cargo fmt
  src/config/sink.rs
  src/config/source.rs
  src/config/transform.rs
  src/sinks/gcp_chronicle/compression.rs
  src/sinks/util/buffer/compression.rs
  src/sources/docker_logs/mod.rs
Labels: domain: sources, domain: sinks

Remove whitespace
  website/cue/reference/remap/functions/decode_lz4.cue
Labels: domain: external docs

fix(ci): pass in GITHUB_TOKEN to bypass rate limits
  .github/workflows/protobuf.yml
Labels: none

Add temp test file
  proto/test
Labels: none
