Repository vectordotdev/vector, changes with the labels that .github/labeler.yml gives for each.
All labels: domain: sources, domain: sinks, domain: transforms, domain: topology, domain: codecs, domain: core, domain: vrl, domain: ci, domain: vdev, domain: releasing, domain: rfc, domain: external docs

.github/labeler.yml:

# Generic component-level labels and high-level groupings.
"domain: sources":
  - changed-files:
    - any-glob-to-any-file: ["src/sources/**/*"]

"domain: sinks":
  - changed-files:
    - any-glob-to-any-file: ["src/sinks/**/*"]

"domain: transforms":
  - changed-files:
    - any-glob-to-any-file: ["src/transforms/**/*"]

"domain: topology":
  - changed-files:
    - any-glob-to-any-file: ["src/topology/**/*"]

"domain: codecs":
  - changed-files:
    - any-glob-to-any-file: ["src/codecs/**/*"]

"domain: core":
  - changed-files:
    - any-glob-to-any-file: ["lib/vector-core/**/*"]

"domain: vrl":
  - changed-files:
    - any-glob-to-any-file: ["lib/vrl/**/*"]

"domain: ci":
  - changed-files:
    - any-glob-to-any-file: ["scripts/**/*"]

"domain: vdev":
  - changed-files:
    - any-glob-to-any-file: ["vdev/**/*"]

"domain: releasing":
  - changed-files:
    - any-glob-to-any-file: ["distribution/**/*", "scripts/package-*", "scripts/release-*"]

"domain: rfc":
  - changed-files:
    - any-glob-to-any-file: ["rfcs/**/*"]

"domain: external docs":
  - changed-files:
    - any-glob-to-any-file: ["website/cue/**/*"]

fix(core): `metrics-tag-values: full` made tags unmodifiable (#23371)
  changelog.d/23371_metric-tag-values-full-unmodifiable-tags.fix.md
  lib/vector-core/src/event/vrl_target.rs
Labels: domain: core

fix(ci): checkout changelog script from master
  .github/workflows/changelog.yaml
Labels: none

Add debug statement
  scripts/check_changelog_fragments.sh
Labels: domain: ci

Add pull_request to test modified workflow
  .github/workflows/changelog.yaml
Labels: none

Revert "Add pull_request to test modified workflow" + "Add debug statement"
  .github/workflows/changelog.yaml
  scripts/check_changelog_fragments.sh
Labels: domain: ci

Change ref to master
  .github/workflows/changelog.yaml
Labels: none

Re-add debug
  .github/workflows/changelog.yaml
  scripts/check_changelog_fragments.sh
Labels: domain: ci

Remove debug
  .github/workflows/changelog.yaml
  scripts/check_changelog_fragments.sh
Labels: domain: ci

Remove whitespace
  scripts/check_changelog_fragments.sh
Labels: domain: ci

fix(ci): checkout changelog script from master (#23382)
  .github/workflows/changelog.yaml
  scripts/check_changelog_fragments.sh
Labels: domain: ci

feat(ci): split up test.yml
  .github/workflows/test.yml
  Makefile
Labels: none

Change path and chmod
  .github/workflows/test.yml
Labels: none

use sync
  src/transforms/incremental_to_absolute.rs
Labels: domain: transforms

Install deps
  .github/workflows/test.yml
Labels: none

Use sudo to install protoc
  .github/workflows/test.yml
Labels: none

Update website/cue/reference/remap/functions/decode_lz4.cue
  website/cue/reference/remap/functions/decode_lz4.cue
Labels: domain: external docs

Update website/cue/reference/remap/functions/encode_lz4.cue
  website/cue/reference/remap/functions/encode_lz4.cue
Labels: domain: external docs

add json-schema_definition for tests to pass
  lib/vector-vrl/tests/resources/json-schema_definition.json
Labels: none

fix extra aggregate
  src/transforms/incremental_to_absolute.rs
Labels: domain: transforms

remove interval_ms
  lib/vector-core/src/event/metric/data.rs
Labels: domain: core

change read linger line flag type to bool, to fix the problem that stop the read file without wait to the timeout sec run out.
  lib/file-source/src/file_watcher/tests/experiment.rs
  lib/file-source/src/file_watcher/tests/experiment_no_truncations.rs
Labels: none

Remove default value to fix suggestion.
  lib/vector-vrl/web-playground/public/index.html
Labels: none

Update src/sinks/util/retries.rs
  src/sinks/util/retries.rs
Labels: domain: sinks

Update src/sinks/elasticsearch/retry.rs
  src/sinks/elasticsearch/retry.rs
Labels: domain: sinks

add on_retriable_error hook in RetryLogic
  src/sinks/redis/config.rs
  src/sinks/redis/sink.rs
  src/sinks/util/retries.rs
Labels: domain: sinks

fix(ci): add MIT-0 to allowed licenses
  deny.toml
Labels: none

fix(ci): add MIT-0 to allowed licenses (#23386)
  deny.toml
Labels: none

Allow strftime in UnsignedIntTemplates
  src/template.rs
Labels: none

Add wasm-pack to vrl playground job
  .github/workflows/test.yml
Labels: none

Install nextest
  .github/workflows/test.yml
Labels: none

Install missing libsals2 in jobs
  .github/workflows/test.yml
Labels: none

Install protoc for unit and component spec
  .github/workflows/test.yml
Labels: none

Bootstrap only in component docs job
  .github/workflows/test.yml
Labels: none

Add changelog fragment
  changelog.d/strftime_items_in_unsigned_int_templates.enchancement.md
Labels: none

spelling
  changelog.d/strftime_items_in_unsigned_int_templates.enhancement.md
Labels: none

Bootstrap ubuntu for unit tests
  .github/workflows/test.yml
Labels: none

Remove unecessary libsasl2-dev
  .github/workflows/test.yml
Labels: none

fix(elasticsearch sink): opensearch credentials provided in uri not used (#23367)
  changelog.d/23103_fix_uri_provided_basic_auth_opensearch.fix.md
  src/sinks/elasticsearch/common.rs
  src/sinks/elasticsearch/config.rs
  src/sinks/elasticsearch/tests.rs
  website/cue/reference/components/sinks/generated/elasticsearch.cue
Labels: domain: sinks, domain: external docs

Remove rustup relative path
  .github/workflows/test.yml
Labels: none

Revert vdev caching
  .github/workflows/test.yml
  Makefile
Labels: none
