Repository vectordotdev/vector, changes with the labels that .github/labeler.yml gives for each.
All labels: domain: sources, domain: sinks, domain: transforms, domain: topology, domain: codecs, domain: core, domain: vrl, domain: ci, domain: vdev, domain: releasing, domain: rfc, domain: external docs

Fix config bug where flatten option isn't respected for variants
  lib/vector-config-macros/src/configurable.rs
Labels: none

Rename MemoryBufferSize variant options
  lib/vector-buffers/benches/sized_records.rs
  lib/vector-buffers/examples/buffer_perf.rs
  lib/vector-buffers/src/config.rs
  lib/vector-buffers/src/test/variant.rs
  lib/vector-buffers/src/topology/channel/limited_queue.rs
  lib/vector-buffers/src/variants/in_memory.rs
  src/source_sender/mod.rs
  src/test_util/mock/sources/basic.rs
  src/topology/test/backpressure.rs
Labels: domain: topology

Add unit test for parsing memory buffer config w/ byte_size
  lib/vector-buffers/src/config.rs
Labels: none

Update doc comments
  lib/vector-buffers/src/config.rs
Labels: none

Update generated documentation
  website/cue/reference/components/base/sinks.cue
Labels: domain: external docs

Fix bug in config generator with flattening enum values
  lib/vector-config-macros/src/configurable.rs
Labels: none

add changelog
  changelog.d/22957_breaking_otel_source_http.md
Labels: none

add content-type extractor
  src/sources/opentelemetry/http.rs
Labels: domain: sources

Avoid unwraps()
  src/sources/opentelemetry/http.rs
Labels: domain: sources

migrate from warp::rejection to reply
  src/sources/opentelemetry/http.rs
Labels: domain: sources

Add tests for new behaviour
  src/sources/opentelemetry/tests.rs
Labels: domain: sources

clarify use of test case
  src/sources/opentelemetry/tests.rs
Labels: domain: sources

otel-proto: support json serialization
  Cargo.lock
  lib/opentelemetry-proto/Cargo.toml
  lib/opentelemetry-proto/build.rs
  lib/opentelemetry-proto/src/proto.rs
Labels: none

add json support
  src/sources/opentelemetry/http.rs
  src/sources/opentelemetry/reply.rs
Labels: domain: sources

google/rpc: Add json serialization
  build.rs
Labels: none

otlp: support both string and u64
  lib/opentelemetry-proto/build.rs
  lib/opentelemetry-proto/src/proto.rs
Labels: none

add tests
  src/sources/opentelemetry/tests.rs
Labels: domain: sources

test: update batch nofitier handling
  src/sinks/http/tests.rs
Labels: domain: sinks

refactor: new run_and_assert_sink_error_with_events utility function
  src/sinks/http/tests.rs
  src/test_util/components.rs
Labels: domain: sinks

refactor: new run_and_assert_sink_error_with_events utility function
  src/sinks/http/tests.rs
Labels: domain: sinks

refactor: new run_and_assert_sink_error_with_events utility function
  src/sinks/http/tests.rs
Labels: domain: sinks

chore: fix opensearch credentials provided in uri not used
  changelog.d/23103_fix_uri_provided_basic_auth_opensearch.fix.md
  src/sinks/elasticsearch/common.rs
  src/sinks/elasticsearch/tests.rs
Labels: domain: sinks

Make tz_str Optional.
  lib/vector-vrl/web-playground/src/lib.rs
Labels: none

cargo vdev build licenses
  LICENSE-3rdparty.csv
Labels: none

Fix typo in filename
  changelog.d/23361_interval_ms_readable.fix.md
Labels: none

Rename changelog
  changelog.d/22957_breaking_otel_source_http.breaking.md
Labels: none

cargo fmt
  Cargo.lock
  lib/vector-vrl/web-playground/src/lib.rs
Labels: none

fix(core): unreadable interval_ms (#23361)
  Cargo.lock
  LICENSE-3rdparty.csv
  changelog.d/23361_interval_ms_readable.fix.md
  lib/vector-core/src/event/vrl_target.rs
Labels: domain: core

cargo vdev build licenses
  LICENSE-3rdparty.csv
Labels: none

Fix tags with multi_value_tags
  lib/vector-core/src/event/vrl_target.rs
Labels: domain: core

clippy fixes
  src/sinks/http/sink.rs
  src/sinks/http/tests.rs
  src/test_util/components.rs
Labels: domain: sinks

Add changelog
  changelog.d/23371_metric-tag-values-full-unmodifiable-tags.fix.md
Labels: none

Modify MemoryBufferSize to be a tuple variant
  lib/vector-buffers/benches/sized_records.rs
  lib/vector-buffers/examples/buffer_perf.rs
  lib/vector-buffers/src/config.rs
  lib/vector-buffers/src/test/variant.rs
  lib/vector-buffers/src/topology/channel/limited_queue.rs
  lib/vector-buffers/src/variants/in_memory.rs
  src/source_sender/mod.rs
  src/test_util/mock/sources/basic.rs
  src/topology/test/backpressure.rs
Labels: domain: topology

Updating generated documentation
  website/cue/reference/components/generated/sinks.cue
Labels: domain: external docs

Remove unnecessary serde attribute
  lib/vector-buffers/src/config.rs
Labels: none

Simplify tag getter by splitting into multiple fns
  lib/vector-core/src/event/vrl_target.rs
Labels: domain: core

Fix clippy warning
  lib/vector-core/src/event/vrl_target.rs
Labels: domain: core

fix: clippy lints
  src/test_util/components.rs
Labels: none

Add `@main`
  .github/workflows/changes.yml
Labels: none

Use separate ensure-cache job
  .github/workflows/changes.yml
Labels: none

.github/labeler.yml:

# Generic component-level labels and high-level groupings.
"domain: sources":
  - changed-files:
    - any-glob-to-any-file: ["src/sources/**/*"]

"domain: sinks":
  - changed-files:
    - any-glob-to-any-file: ["src/sinks/**/*"]

"domain: transforms":
  - changed-files:
    - any-glob-to-any-file: ["src/transforms/**/*"]

"domain: topology":
  - changed-files:
    - any-glob-to-any-file: ["src/topology/**/*"]

"domain: codecs":
  - changed-files:
    - any-glob-to-any-file: ["src/codecs/**/*"]

"domain: core":
  - changed-files:
    - any-glob-to-any-file: ["lib/vector-core/**/*"]

"domain: vrl":
  - changed-files:
    - any-glob-to-any-file: ["lib/vrl/**/*"]

"domain: ci":
  - changed-files:
    - any-glob-to-any-file: ["scripts/**/*"]

"domain: vdev":
  - changed-files:
    - any-glob-to-any-file: ["vdev/**/*"]

"domain: releasing":
  - changed-files:
    - any-glob-to-any-file: ["distribution/**/*", "scripts/package-*", "scripts/release-*"]

"domain: rfc":
  - changed-files:
    - any-glob-to-any-file: ["rfcs/**/*"]

"domain: external docs":
  - changed-files:
    - any-glob-to-any-file: ["website/cue/**/*"]
