Repository vectordotdev/vector, changes with the labels that .github/labeler.yml gives for each.
All labels: domain: sources, domain: sinks, domain: transforms, domain: topology, domain: codecs, domain: core, domain: vrl, domain: ci, domain: vdev, domain: releasing, domain: rfc, domain: external docs

.github/labeler.yml:

# Generic component-level labels and high-level groupings.
"domain: sources":
  - changed-files:
    - any-glob-to-any-file: ["src/sources/**/*"]

"domain: sinks":
  - changed-files:
    - any-glob-to-any-file: ["src/sinks/**/*"]

"domain: transforms":
  - changed-files:
    - any-glob-to-any-file: ["src/transforms/**/*"]

"domain: topology":
  - changed-files:
    - any-glob-to-any-file: ["src/topology/**/*"]

"domain: codecs":
  - changed-files:
    - any-glob-to-any-file: ["src/codecs/**/*"]

"domain: core":
  - changed-files:
    - any-glob-to-any-file: ["lib/vector-core/**/*"]

"domain: vrl":
  - changed-files:
    - any-glob-to-any-file: ["lib/vrl/**/*"]

"domain: ci":
  - changed-files:
    - any-glob-to-any-file: ["scripts/**/*"]

"domain: vdev":
  - changed-files:
    - any-glob-to-any-file: ["vdev/**/*"]

"domain: releasing":
  - changed-files:
    - any-glob-to-any-file: ["distribution/**/*", "scripts/package-*", "scripts/release-*"]

"domain: rfc":
  - changed-files:
    - any-glob-to-any-file: ["rfcs/**/*"]

"domain: external docs":
  - changed-files:
    - any-glob-to-any-file: ["website/cue/**/*"]

fix spelling
  src/sinks/redis/config.rs
  website/cue/reference/components/sinks/base/redis.cue
Labels: domain: sinks, domain: external docs

test case fix
  website/cue/reference/remap/functions/replace.cue
Labels: domain: external docs

cue fmt
  website/cue/reference/remap/functions/replace.cue
Labels: domain: external docs

docs(external): Updated `replace` capture group example (#18785)
  website/cue/reference/remap/functions/replace.cue
Labels: domain: external docs

Import validation macros for Datadog logs
  src/sinks/datadog/logs/config.rs
Labels: domain: sinks

vdev fmt
  changelog.d/redis_sentinel_in_sink.feature.md
Labels: none

Debug error
  src/sinks/azure_blob/integration_tests.rs
Labels: domain: sinks

Added "interpreting" spelling/expect.txt to fix spell check failing. (#10870)
  .github/actions/spelling/expect.txt
Labels: none

Removed interpreting from expect.txt. Changed interepreting to interpreting in replace.cue. (#10870)
  .github/actions/spelling/expect.txt
  website/cue/reference/remap/functions/replace.cue
Labels: domain: external docs

Delete COMMIT_MESSAGE.md
  COMMIT_MESSAGE.md
Labels: none

Delete PULL_REQUEST_SUMMARY.md
  PULL_REQUEST_SUMMARY.md
Labels: none

add documentation changelog fragment
  changelog.d/23359_document_validate_json_schema_vrl_function.md
Labels: none

config UX improvements
  src/sinks/clickhouse/config.rs
  src/sinks/clickhouse/integration_tests.rs
  src/sinks/clickhouse/mod.rs
  src/sinks/clickhouse/service.rs
Labels: domain: sinks

fix integration tests & clippy error
  src/sinks/redis/integration_tests.rs
  src/sinks/redis/sink.rs
  website/cue/reference/remap/functions/replace.cue
Labels: domain: sinks, domain: external docs

fix(ci): attempt to enable splunk ITs
  .github/workflows/integration.yml
Labels: none

sort
  .github/workflows/integration.yml
Labels: none

Update changelog.d/22764_clickhouse_query_settings.feature.md
  changelog.d/22764_clickhouse_query_settings.feature.md
Labels: none

Fix spelling
  website/cue/reference/remap/functions/replace.cue
Labels: domain: external docs

fix(ci): re-enable splunk ITs (#23360)
  .github/workflows/integration.yml
Labels: none

cargo fmt
  src/sinks/clickhouse/config.rs
  src/sinks/clickhouse/integration_tests.rs
  src/sinks/clickhouse/service.rs
Labels: domain: sinks

Update VRL
  Cargo.lock
  Cargo.toml
Labels: none

Add interval_ms to get funcs
  lib/vector-core/src/event/vrl_target.rs
Labels: domain: core

regen docs
  website/cue/reference/components/sinks/generated/clickhouse.cue
Labels: domain: external docs

Update website/cue/reference/remap/functions/validate_json_schema.cue
  website/cue/reference/remap/functions/validate_json_schema.cue
Labels: domain: external docs

cargo update -p vrl
  Cargo.lock
Labels: none

remove changelog
  changelog.d/23359_document_validate_json_schema_vrl_function.md
Labels: none

feat(metrics): add TTL-based cache for metric sets and add expire_metrics_secs for Prometheus remote write sink (#23286)
  changelog.d/fix_metric_set_memory_growth.feature.md
  src/sinks/prometheus/remote_write/config.rs
  src/sinks/prometheus/remote_write/sink.rs
  src/sinks/util/buffer/metrics/normalize.rs
  src/sinks/util/builder.rs
  src/sinks/util/normalizer.rs
  website/cue/reference/components/sinks/base/prometheus_remote_write.cue
Labels: domain: sinks, domain: external docs

Refactor code to remove duplication
  lib/vector-core/src/event/vrl_target.rs
Labels: domain: core

feat(clickhouse sink): add query_settings to clickhouse sink (#22764)
  changelog.d/22764_clickhouse_query_settings.feature.md
  src/sinks/clickhouse/config.rs
  src/sinks/clickhouse/integration_tests.rs
  src/sinks/clickhouse/mod.rs
  src/sinks/clickhouse/service.rs
  website/cue/reference/components/sinks/generated/clickhouse.cue
  website/cue/reference/remap/functions/replace.cue
Labels: domain: sinks, domain: external docs

Revert "Update VRL"
  Cargo.lock
  Cargo.toml
Labels: none

Update VRL's main branch
  Cargo.lock
Labels: none

fix and improve RetryStrategy enum
  src/sinks/aws_s3/config.rs
  src/sinks/s3_common/config.rs
  website/cue/reference/components/sinks/generated/aws_s3.cue
Labels: domain: sinks, domain: external docs

update licenses
  LICENSE-3rdparty.csv
Labels: none

Add changelog
  changelog.d/23361_interval_ms_redeable.fix.md
Labels: none

Update changelog.d/23361_interval_ms_redeable.fix.md
  changelog.d/23361_interval_ms_redeable.fix.md
Labels: none

Update changelog.d/23361_interval_ms_redeable.fix.md
  changelog.d/23361_interval_ms_redeable.fix.md
Labels: none

fix changelog
  changelog.d/batch-newline.fix.md
Labels: none

Revert "Modify MemoryBufferSize to be a tuple variant"
  lib/vector-buffers/src/config.rs
  lib/vector-buffers/src/test/variant.rs
  lib/vector-buffers/src/topology/channel/limited_queue.rs
  lib/vector-buffers/src/variants/in_memory.rs
  src/source_sender/mod.rs
  src/test_util/mock/sources/basic.rs
  src/topology/test/backpressure.rs
Labels: domain: topology

Move structs to before statments (clippy)
  lib/vector-core/src/event/vrl_target.rs
Labels: domain: core

Revert "Config config to flat layout"
  lib/vector-buffers/benches/sized_records.rs
  lib/vector-buffers/examples/buffer_perf.rs
  lib/vector-buffers/src/config.rs
  lib/vector-buffers/src/topology/channel/limited_queue.rs
Labels: none
