Repository vectordotdev/vector, changes with the labels that .github/labeler.yml gives for each.
All labels: domain: sources, domain: sinks, domain: transforms, domain: topology, domain: codecs, domain: core, domain: vrl, domain: ci, domain: vdev, domain: releasing, domain: rfc, domain: external docs

.github/labeler.yml:

# Generic component-level labels and high-level groupings.
"domain: sources":
  - changed-files:
    - any-glob-to-any-file: ["src/sources/**/*"]

"domain: sinks":
  - changed-files:
    - any-glob-to-any-file: ["src/sinks/**/*"]

"domain: transforms":
  - changed-files:
    - any-glob-to-any-file: ["src/transforms/**/*"]

"domain: topology":
  - changed-files:
    - any-glob-to-any-file: ["src/topology/**/*"]

"domain: codecs":
  - changed-files:
    - any-glob-to-any-file: ["src/codecs/**/*"]

"domain: core":
  - changed-files:
    - any-glob-to-any-file: ["lib/vector-core/**/*"]

"domain: vrl":
  - changed-files:
    - any-glob-to-any-file: ["lib/vrl/**/*"]

"domain: ci":
  - changed-files:
    - any-glob-to-any-file: ["scripts/**/*"]

"domain: vdev":
  - changed-files:
    - any-glob-to-any-file: ["vdev/**/*"]

"domain: releasing":
  - changed-files:
    - any-glob-to-any-file: ["distribution/**/*", "scripts/package-*", "scripts/release-*"]

"domain: rfc":
  - changed-files:
    - any-glob-to-any-file: ["rfcs/**/*"]

"domain: external docs":
  - changed-files:
    - any-glob-to-any-file: ["website/cue/**/*"]

Move inputs in action
  .github/actions/cache/action.yml
Labels: none

Add caching to integration and e2e
  .github/workflows/e2e.yml
  .github/workflows/integration.yml
Labels: none

Add workflow_call
  .github/workflows/cache.yml
Labels: none

Remove worflow from group
  .github/workflows/cache.yml
Labels: none

Remove `@main`
  .github/workflows/changes.yml
Labels: none

Remove prepare.sh checking
  .github/actions/cache/action.yml
Labels: none

Use sha instead of ref to ensure changes are picked up
  .github/workflows/cache.yml
Labels: none

Change concurrency group in cache action
  .github/workflows/cache.yml
Labels: none

Try sync cache concurrency group
  .github/workflows/cache.yml
  .github/workflows/changes.yml
  .github/workflows/e2e.yml
  .github/workflows/integration.yml
Labels: none

Inline tags_getter
  lib/vector-core/src/event/vrl_target.rs
Labels: domain: core

Move MaxSizes configurable attribute within the tuple
  lib/vector-buffers/src/config.rs
  website/cue/reference/components/generated/sinks.cue
Labels: domain: external docs

fix(codecs): Ensure that batches using newline delimited framing end in a newline (#21097)
  changelog.d/batch-newline.fix.md
  src/codecs/encoding/encoder.rs
  src/sinks/util/encoding.rs
Labels: domain: sinks, domain: codecs

chore: make generate-component-docs
  website/cue/reference/components/sinks/generated/greptimedb_logs.cue
  website/cue/reference/components/sinks/generated/http.cue
  website/cue/reference/components/sinks/generated/opentelemetry.cue
Labels: domain: external docs

Update .github/actions/spelling/allow.txt
  .github/actions/spelling/allow.txt
Labels: none

chore(ci): spellcheck only website files
  .github/workflows/spelling.yml
Labels: none

test 1
  changelog.d/22070_utilization_metric_periodic_emit.fix.md
Labels: none

test 2
  changelog.d/22070_utilization_metric_periodic_emit.fix.md
  website/content/en/docs/_index.md
Labels: none

doc: document elasticsearch authenticated url behavior
  src/sinks/elasticsearch/config.rs
  website/cue/reference/components/sinks/generated/elasticsearch.cue
Labels: domain: sinks, domain: external docs

make generate-component-docs
  website/cue/reference/components/sinks/generated/greptimedb_logs.cue
Labels: domain: external docs

add incremental_to_absolute
  Cargo.toml
  changelog.d/incremental_to_absolute_transform.feature.md
  src/transforms/incremental_to_absolute.rs
  src/transforms/mod.rs
  website/cue/reference/components.cue
  website/cue/reference/components/transforms/generated/incremental_to_absolute.cue
  website/cue/reference/components/transforms/incremental_to_absolute.cue
Labels: domain: transforms, domain: external docs

Update src/sinks/elasticsearch/config.rs
  src/sinks/elasticsearch/config.rs
Labels: domain: sinks

feat(http sink): templateable uri (#23288)
  benches/http.rs
  changelog.d/1155_http_sink_templateable_uri.feature.md
  src/sinks/http/batch.rs
  src/sinks/http/config.rs
  src/sinks/http/request_builder.rs
  src/sinks/http/service.rs
  src/sinks/http/sink.rs
  src/sinks/http/tests.rs
  src/test_util/components.rs
  src/test_util/mod.rs
  website/cue/reference/components/sinks/generated/http.cue
  website/cue/reference/components/sinks/generated/opentelemetry.cue
Labels: domain: sinks, domain: external docs

fix(ci): remove token permissions for changelog workflow
  .github/workflows/changelog.yaml
Labels: none

fix(ci): remove token permissions for changelog workflow (#23376)
  .github/workflows/changelog.yaml
Labels: none

enhancement(aws_s3 sink): Add ability to configure request errors to retry (#23206)
  changelog.d/10870_aws_sink_retry_logic_update.enhancement.md
  lib/vector-buffers/src/variants/disk_v2/writer.rs
  src/sinks/aws_s3/config.rs
  src/sinks/aws_s3/integration_tests.rs
  src/sinks/s3_common/config.rs
  website/cue/reference/components/sinks/generated/aws_s3.cue
Labels: domain: sinks, domain: external docs

doc: update document elasticsearch authenticated url behavior
  src/sinks/elasticsearch/config.rs
  website/cue/reference/components/sinks/generated/elasticsearch.cue
Labels: domain: sinks, domain: external docs

fix docs
  src/transforms/incremental_to_absolute.rs
  website/cue/reference/components/transforms/generated/incremental_to_absolute.cue
Labels: domain: transforms, domain: external docs

fix tpos
  website/cue/reference/components/transforms/incremental_to_absolute.cue
Labels: domain: external docs

Update VRL
  Cargo.lock
Labels: none

Update decode_lz4 documentation
  website/cue/reference/remap/functions/decode_lz4.cue
Labels: domain: external docs

Update encode_lz4 documentation to reflect prepend_size argument
  website/cue/reference/remap/functions/encode_lz4.cue
Labels: domain: external docs

Changed 'took' to 'Duration: '. Changed 'TZ' to 'Select Timezone'. Changed position of elapsed time element to code section.
  lib/vector-vrl/web-playground/public/index.css
  lib/vector-vrl/web-playground/public/index.html
  lib/vector-vrl/web-playground/public/index.js
Labels: none

fix(ci): remove EOL Debian Buster 10
  .github/workflows/publish.yml
Labels: none

fix(ci): remove EOL Debian Buster 10 (#23380)
  .github/workflows/publish.yml
Labels: none

Update types for haversine in docs
  website/cue/reference/remap/functions/haversine.cue
Labels: domain: external docs

Modify _heap_allocated to be a heap allocated array
  lib/vector-buffers/benches/common.rs
Labels: none

Remove useless metric.series access
  lib/vector-core/src/event/vrl_target.rs
Labels: domain: core

chore(ci): rename name for publish-github job
  .github/workflows/publish.yml
Labels: none

chore(ci): rename name for publish-github job (#23381)
  .github/workflows/publish.yml
Labels: none

enhancement(sinks): Add support for `max_bytes` for memory buffers (#23330)
  changelog.d/8679_add_support_max_bytes_memory_buffers.feature.md
  lib/vector-buffers/benches/common.rs
  lib/vector-buffers/benches/sized_records.rs
  lib/vector-buffers/examples/buffer_perf.rs
  lib/vector-buffers/src/config.rs
  lib/vector-buffers/src/lib.rs
  lib/vector-buffers/src/test/variant.rs
  lib/vector-buffers/src/topology/builder.rs
  lib/vector-buffers/src/topology/channel/limited_queue.rs
  lib/vector-buffers/src/topology/test_util.rs
  lib/vector-buffers/src/variants/in_memory.rs
  lib/vector-config-macros/src/configurable.rs
  src/source_sender/mod.rs
  src/test_util/mock/sources/basic.rs
  src/topology/test/backpressure.rs
  website/cue/reference/components/generated/sinks.cue
Labels: domain: topology, domain: external docs
