Repository vectordotdev/vector, pull requests merged in 2019-10, with the labels that each got.

#1055 chore(operations): Update leveldb-sys up to 2.0.5
  Cargo.lock
Labels: domain: operations

#1034 chore: apply some fixes for clippy lints
  lib/file-source/src/file_server.rs
  lib/file-source/src/file_watcher.rs
  src/event/mod.rs
  src/event/unflatten.rs
  src/sinks/aws_cloudwatch_logs/mod.rs
  src/sinks/aws_cloudwatch_logs/request.rs
  src/sinks/aws_cloudwatch_metrics.rs
  src/sinks/aws_kinesis_streams.rs
  src/sinks/aws_s3.rs
  src/sinks/clickhouse.rs
  src/sinks/elasticsearch.rs
  src/sinks/file/file.rs
  src/sinks/kafka.rs
  src/sinks/splunk_hec.rs
  src/sinks/statsd.rs
  src/sinks/tcp.rs
  src/sinks/util/batch.rs
  src/sinks/util/partition.rs
  src/sinks/util/retries.rs
  src/sinks/vector.rs
  src/sources/docker.rs
  src/sources/file.rs
  src/sources/journald.rs
  src/sources/stdin.rs
  src/sources/syslog.rs
  src/sources/udp.rs
  src/test_util.rs
  src/topology/config/mod.rs
  src/topology/config/validation.rs
  src/topology/mod.rs
  src/transforms/add_fields.rs
  src/transforms/json_parser.rs
  src/transforms/regex_parser.rs
  src/transforms/tokenizer.rs
  src/types.rs
  tests/support/mod.rs
Labels: type: tech debt

#1080 enhancement(datadog_metrics sink): Use metric buffer in Datadog sink
  src/sinks/datadog_metrics.rs
Labels: sink: datadog_metrics
