Repository vectordotdev/vector, pull requests merged in 2019-09, with the labels that each got.

#809 feat(file source): allow aggregating multiple lines into one event
  .metadata.toml
  config/vector.spec.toml
  docs/usage/configuration/sources/file.md
  docs/usage/configuration/specification.md
  src/sources/file.rs
Labels: source: file, type: enhancement

#816 feat(journald source): Add checkpointing support
  .metadata.toml
  config/vector.spec.toml
  docs/usage/configuration/sources/journald.md
  docs/usage/configuration/specification.md
  lib/journald/src/lib.rs
  src/sources/file.rs
  src/sources/journald.rs
  src/topology/config/mod.rs
Labels: meta: ready for merge

#810 feat(file source): favor older files and allow configuring greedier reads
  .metadata.toml
  Cargo.lock
  config/vector.spec.toml
  docs/usage/configuration/sources/file.md
  docs/usage/configuration/specification.md
  lib/file-source/Cargo.toml
  lib/file-source/src/file_server.rs
  scripts/generate/templates/docs/usage/configuration/sources/file.md.erb
  src/sources/file.rs
Labels: needs: docs, source: file, type: enhancement

#902 fix(add_fields transform): rename config tag
  src/transforms/add_fields.rs
Labels: transform: add_fields

#835 feat(observability): Show information about why a retry needs to happen
  src/sinks/clickhouse.rs
  src/sinks/util/http.rs
  src/sinks/util/retries.rs
Labels: meta: ready for merge

#894 chore(config): Make encoding non-optional
  .meta/sinks/aws_cloudwatch_logs.toml
  .meta/sinks/aws_kinesis_streams.toml
  .meta/sinks/aws_s3.toml
  .meta/sinks/kafka.toml
  .meta/sinks/splunk_hec.toml
  .meta/sinks/tcp.toml
  config/vector.spec.toml
  docs/usage/configuration/sinks/aws_cloudwatch_logs.md
  docs/usage/configuration/sinks/aws_kinesis_streams.md
  docs/usage/configuration/sinks/aws_s3.md
  docs/usage/configuration/sinks/kafka.md
  docs/usage/configuration/sinks/splunk_hec.md
  docs/usage/configuration/sinks/tcp.md
  docs/usage/configuration/specification.md
  src/sinks/aws_cloudwatch_logs/mod.rs
  src/sinks/aws_kinesis_streams.rs
  src/sinks/aws_s3.rs
  src/sinks/kafka.rs
  src/sinks/splunk_hec.rs
  src/sinks/tcp.rs
  tests/config.rs
  tests/syslog.rs
  tests/tcp.rs
Labels: needs: docs

#821 feat(new sink): initial statsd implementation
  .github/semantic.yml
  .meta/links.toml
  .meta/sinks/statsd.toml
  README.md
  config/vector.spec.toml
  docs/SUMMARY.md
  docs/about/guarantees.md
  docs/assets/statsd-sink.svg
  docs/usage/configuration/README.md
  docs/usage/configuration/sinks/README.md
  docs/usage/configuration/sinks/statsd.md
  docs/usage/configuration/specification.md
  scripts/generate/templates/docs/usage/configuration/sinks/statsd.md.erb
  src/sinks/mod.rs
  src/sinks/statsd.rs
  src/sources/statsd/mod.rs
Labels: needs: docs

#947 fix: clean up debian user creation and unit file
  distribution/debian/scripts/preinst
  distribution/systemd/vector.service
Labels: domain: operations, type: bug
