Repository vectordotdev/vector, pull requests merged in 2020-04, with the labels that each got.

#2111 chore(sinks): Refactor internal sinks and simplify
  benches/batch.rs
  src/runtime.rs
  src/sinks/aws_cloudwatch_logs/mod.rs
  src/sinks/aws_cloudwatch_metrics.rs
  src/sinks/aws_kinesis_firehose.rs
  src/sinks/aws_kinesis_streams.rs
  src/sinks/aws_s3.rs
  src/sinks/clickhouse.rs
  src/sinks/console.rs
  src/sinks/datadog/metrics.rs
  src/sinks/elasticsearch.rs
  src/sinks/file/mod.rs
  src/sinks/gcp/cloud_storage.rs
  src/sinks/gcp/pubsub.rs
  src/sinks/gcp/stackdriver_logs.rs
  src/sinks/honeycomb.rs
  src/sinks/http.rs
  src/sinks/influxdb_metrics.rs
  src/sinks/kafka.rs
  src/sinks/logdna.rs
  src/sinks/loki.rs
  src/sinks/pulsar.rs
  src/sinks/splunk_hec.rs
  src/sinks/statsd.rs
  src/sinks/util/batch.rs
  src/sinks/util/buffer/metrics.rs
  src/sinks/util/buffer/mod.rs
  src/sinks/util/buffer/partition.rs
  src/sinks/util/http.rs
  src/sinks/util/mod.rs
  src/sinks/util/retries.rs
  src/sinks/util/service.rs
  src/sinks/util/sink.rs
  src/sinks/util/tcp.rs
  src/sinks/util/udp.rs
  src/sinks/util/unix.rs
  src/sinks/vector.rs
  tests/support/mod.rs
Labels: type: enhancement

#2198 enhancement: Add support for a new `regex` condition predicate
  .meta/_partials/fields/_conditions_options.toml
  .meta/links.toml
  config/vector.spec.toml
  src/conditions/check_fields.rs
  website/docs/reference/tests.md
  website/docs/reference/transforms/filter.md
  website/docs/reference/transforms/regex_parser.md
  website/docs/reference/transforms/swimlanes.md
Labels: domain: transforms, transform: filter, transform: swimlanes, type: enhancement

#2197 status: Warn that old field_filter transform is deprecated
  src/transforms/field_filter.rs
Labels: domain: transforms, transform: filter, type: task

#2023 enhancement(regex_parser transform): Add support for `target_field`
  .meta/transforms/regex_parser.toml
  config/vector.spec.toml
  src/transforms/regex_parser.rs
  tests/behavior/transforms/regex_parser.toml
  website/docs/reference/transforms/regex_parser.md
Labels: transform: regex_parser, type: enhancement

#2093 chore: add event-driven observability rfc
  rfcs/2020-03-17-2064-event-driven-observability.md
Labels: domain: observability

#2150 chore(windows platform): Improve Windows Makefile support
  Makefile
Labels: domain: tests, platform: windows

#2209 enhancement: Detect TCP disconnects earlier in socket and vector sinks
  src/sinks/socket.rs
  src/sinks/util/tcp.rs
Labels: domain: networking, sink: socket, sink: vector, type: enhancement

#2213 chore(kubernetes_pod_metadata transform): Add field tests
  src/sources/kubernetes/test.rs
  src/transforms/kubernetes/mod.rs
Labels: domain: tests, transform: kubernetes_pod_metadata

#2231 enhancement(ux)!: Use external tagging for metrics serialization
  .meta/data_model/metric.toml
  src/event/metric.rs
  src/sinks/console.rs
  src/topology/unit_test.rs
  tests/behavior/transforms/lua_v2.toml
  website/docs/about/data-model/metric.md
  website/docs/about/data-model/metric.md.erb
Labels: event type: metric, type: enhancement

#2244 enhancement(config): Add `source_key` and `source_type_key` to `log_scheme`
  .meta/data_model/log.toml
  .meta/options.toml
  config/vector.spec.toml
  src/event/mod.rs
  website/docs/about/data-model/log.md
  website/docs/reference/global-options.md
Labels: domain: config

#2259 fix(gcp_cloud_storage sink): Use kebab case for ACL encoding
  src/sinks/gcp/cloud_storage.rs
Labels: sink: gcp_cloud_storage

#1953 feat(new source): add internal metrics source
  Cargo.lock
  Cargo.toml
  lib/tracing-metrics/Cargo.toml
  lib/tracing-metrics/src/lib.rs
  src/internal_events/blackhole.rs
  src/internal_events/elasticsearch.rs
  src/internal_events/file.rs
  src/internal_events/lua.rs
  src/internal_events/mod.rs
  src/internal_events/prometheus.rs
  src/internal_events/regex.rs
  src/internal_events/syslog.rs
  src/internal_events/tcp.rs
  src/internal_events/udp.rs
  src/internal_events/unix.rs
  src/internal_events/vector.rs
  src/lib.rs
  src/main.rs
  src/metrics.rs
  src/sinks/blackhole.rs
  src/sinks/elasticsearch.rs
  src/sinks/util/tcp.rs
  src/sinks/util/unix.rs
  src/sinks/vector.rs
  src/sources/file/mod.rs
  src/sources/internal_metrics.rs
  src/sources/mod.rs
  src/sources/prometheus/mod.rs
  src/sources/socket/tcp.rs
  src/sources/socket/udp.rs
  src/sources/socket/unix.rs
  src/sources/syslog.rs
  src/sources/util/tcp.rs
  src/sources/util/unix.rs
  src/sources/vector.rs
  src/trace.rs
  src/transforms/lua/v1/mod.rs
  src/transforms/regex_parser.rs
Labels: domain: observability, needs: approval, type: new feature

#2265 fix(aws_ec2_metadata transform): Only run required requests
  src/transforms/aws_ec2_metadata.rs
Labels: provider: aws, transform: aws_ec2_metadata

#1363 docs: Add blog post on how we test vector
  README.md
  scripts/generate/post_processors/link_definer.rb
  scripts/util/metadata/links.rb
  website/blog/2020-04-09-how-we-test-vector.md
  website/blog/2020-04-09-how-we-test-vector.md.sig
  website/docs/about/concepts.md
  website/docs/about/data-model/log.md
  website/docs/administration/updating.md
  website/metadata.js
  website/src/css/custom.css
  website/src/theme/BlogPostPage/index.js
  website/src/theme/BlogPostPage/styles.module.css
  website/static/img/testing-bg-dark.svg
  website/static/img/testing-bg-light.svg
Labels: domain: website

#2283 enhancement(gcp_cloud_storage sink)!: Make ACL optional
  .meta/sinks/gcp_cloud_storage.toml
  config/vector.spec.toml
  src/sinks/gcp/cloud_storage.rs
  website/docs/reference/sinks/gcp_cloud_storage.md
Labels: provider: gcp, sink: gcp_cloud_storage, type: enhancement

#2260 chore(docker source): Wire `ShutdownSignal`
  src/sources/docker.rs
Labels: domain: topology, source: docker

#2291 fix(website): correct typo in testing post
  website/blog/2020-04-09-how-we-test-vector.md
  website/blog/2020-04-09-how-we-test-vector.md.sig
Labels: domain: website

#2292 fix(website): small fixes for testing post
  README.md
  scripts/generate/templates/_partials/_installation_tutorial.md.erb
  website/blog/2020-04-09-how-we-test-vector.md
  website/blog/2020-04-09-how-we-test-vector.md.sig
  website/metadata.js
Labels: domain: website

#2288 fix(kafka sink): Run healthcheck in rt context
  src/runtime.rs
  src/sinks/kafka.rs
  src/topology/mod.rs
Labels: sink: kafka, type: bug

#2295 perf: start removing Atom from the hot path
  src/event/discriminant.rs
  src/event/mod.rs
  src/event/util/log/all_fields.rs
  src/event/util/log/contains.rs
  src/event/util/log/get.rs
  src/event/util/log/get_mut.rs
  src/event/util/log/insert.rs
  src/event/util/log/keys.rs
  src/event/util/log/mod.rs
  src/event/util/log/path_iter.rs
  src/event/util/log/remove.rs
  src/event/util/mod.rs
  src/sinks/util/encoding.rs
  src/sources/file/mod.rs
  src/transforms/dedupe.rs
  src/transforms/grok_parser.rs
  src/types.rs
Labels: type: performance

#2296 perf: add fast path and caching api to event insert
  src/event/mod.rs
  src/event/util/log/insert.rs
  src/event/util/log/mod.rs
  src/event/util/log/path_iter.rs
  src/transforms/grok_parser.rs
Labels: type: performance

#2309 fix(windows platform): Fix Windows metrics
  src/main.rs
Labels: platform: windows

#2298 enhancement(sources): Add `source_type` field
  src/event/mod.rs
  src/sources/docker.rs
  src/sources/file/mod.rs
  src/sources/http.rs
  src/sources/journald.rs
  src/sources/kafka.rs
  src/sources/kubernetes/mod.rs
  src/sources/kubernetes/test.rs
  src/sources/logplex.rs
  src/sources/socket/mod.rs
  src/sources/socket/tcp.rs
  src/sources/socket/udp.rs
  src/sources/socket/unix.rs
  src/sources/splunk_hec.rs
  src/sources/stdin.rs
  src/sources/syslog.rs
  tests/syslog.rs
Labels: domain: sources

#2320 enhancement(aws_cloudwatch_logs sink): Sort events by timestamp
  src/sinks/aws_cloudwatch_logs/mod.rs
  src/sinks/aws_cloudwatch_logs/request.rs
Labels: sink: aws_cloudwatch_logs

#2290 chore(sources): Wire ShutdownSignal in `trait HttpSource`
  src/sources/http.rs
  src/sources/logplex.rs
  src/sources/util/http.rs
Labels: source: http, source: logplex

#2297 chore(config): Remove `log_schema.source_key`
  .meta/data_model/log.toml
  .meta/options.toml
  config/vector.spec.toml
  src/event/mod.rs
  website/docs/about/data-model/log.md
  website/docs/reference/global-options.md
  website/metadata.js
Labels: domain: config

#2360 chore(website): Update Ana bio
  .meta/team.toml
  website/metadata.js
Labels: domain: website

#2352 chore(platforms): Migrate some PR checks to Github Actions from Circle
  .circleci/config.yml
  .github/workflows/ci.yml
  Cargo.toml
  docker-compose.yml
  scripts/check-component-features.sh
Labels: domain: operations

#2351 enhancement(gcp provider): Add support for instance accounts
  .meta/_partials/fields/_gcp.toml
  .meta/sinks/gcp_cloud_storage.toml
  .meta/sinks/gcp_pubsub.toml
  .meta/sinks/gcp_stackdriver_logs.toml
  Cargo.toml
  config/vector.spec.toml
  src/sinks/gcp/mod.rs
  website/docs/reference/sinks/gcp_cloud_storage.md
  website/docs/reference/sinks/gcp_pubsub.md
  website/docs/reference/sinks/gcp_stackdriver_logs.md
  website/metadata.js
Labels: provider: gcp, sink: gcp_cloud_storage, sink: gcp_pubsub, sink: gcp_stackdriver_logs, type: enhancement

#2261 chore(file source): Wire `ShutdownSignal`
  Cargo.lock
  lib/file-source/Cargo.toml
  lib/file-source/src/file_server.rs
  src/sources/file/mod.rs
Labels: domain: topology, source: file

#2369 chore: Only run CI workflow when relevant files change
  .github/workflows/ci.yml
Labels: domain: operations, type: enhancement

#2372 chore(splunk_hec source): Enable tests
  src/sources/splunk_hec.rs
Labels: source: splunk_hec

#2373 chore(splunk_hec source): Wire with `ShutdownSignal`
  src/sources/splunk_hec.rs
Labels: source: splunk_hec

#2364 chore(journald source): Wire `ShutdownSignal`
  src/shutdown.rs
  src/sources/file/mod.rs
  src/sources/journald.rs
Labels: source: journald

#2365 chore(sources): Wire `ShutdownSignal` to multiple sources with `take_until`
  src/sources/kafka.rs
  src/sources/prometheus/mod.rs
  src/sources/socket/mod.rs
  src/sources/socket/unix.rs
  src/sources/statsd/mod.rs
  src/sources/syslog.rs
  src/sources/util/unix.rs
Labels: domain: sources, domain: topology

#2380 chore(platforms): Optimize binaries in `test-stable` CI to reduce binary sizes
  .github/workflows/ci.yml
Labels: domain: operations

#2318 enhancement(splunk_hec sink): Add `sourcetype`
  src/sinks/splunk_hec.rs
Labels: sink: splunk_hec

#2286 feat(new source): New `generator` source
  .github/CODEOWNERS
  .github/labels.yml
  .github/semantic.yml
  .meta/.schemas/guides.json
  .meta/.schemas/highlights.json
  .meta/sources/generator.toml
  Cargo.toml
  README.md
  config/vector.spec.toml
  scripts/generate.rb
  src/sources/generator.rs
  src/sources/mod.rs
  website/docs/reference/sources/generator.md
  website/docs/reference/sources/generator.md.erb
  website/docs/setup/installation/manual/from-source.md
  website/metadata.js
  website/sidebars.js
Labels: domain: tests, type: new feature

#2363 chore(buffers): carve a seam around leveldb
  src/buffers/disk/leveldb_buffer.rs
  src/buffers/disk/mod.rs
  src/buffers/mod.rs
Labels: domain: buffers, type: tech debt

#2387 fix(journald source): Handle missing source timestamp
  src/sources/journald.rs
Labels: source: journald, type: bug

#1745 docs(config): Schema Guide
  website/guides/advanced/schemas.md
  website/guides/advanced/schemas.md.erb
  website/metadata.js
Labels: meta: idea

#2413 fix(config): `enoding.only_fields` should properly handle parent keys
  src/event/mod.rs
  src/event/util/log/path_iter.rs
  src/sinks/util/encoding.rs
Labels: event type: log, type: bug

#2468 enhancement(humio_logs sink): add text encoding
  .meta/sinks/humio_logs.toml
  config/vector.spec.toml
  src/sinks/humio_logs.rs
  website/docs/reference/sinks/humio_logs.md
Labels: provider: humio, sink: humio_logs, type: enhancement

#2447 chore(buffers): add new isolated buffer benchmarks
  Cargo.toml
  benches/buffering.rs
  benches/isolated_buffering.rs
Labels: domain: buffers

#2448 fix(splunk_hec sink): Add indexed fields in `text` encoding
  src/sinks/splunk_hec.rs
Labels: sink: splunk_hec

#2153 chore: Encoding config accessor visibility reduction
  src/sinks/aws_cloudwatch_logs/mod.rs
  src/sinks/aws_kinesis_firehose.rs
  src/sinks/aws_kinesis_streams.rs
  src/sinks/aws_s3.rs
  src/sinks/clickhouse.rs
  src/sinks/console.rs
  src/sinks/file/mod.rs
  src/sinks/gcp/cloud_storage.rs
  src/sinks/http.rs
  src/sinks/humio_logs.rs
  src/sinks/kafka.rs
  src/sinks/loki.rs
  src/sinks/new_relic_logs.rs
  src/sinks/util/encoding/config.rs
  src/sinks/util/encoding/mod.rs
  src/sinks/util/encoding/with_default.rs
  src/sinks/util/mod.rs
Labels: domain: sinks, type: tech debt

#2489 fix(elasticsearch sink): Fix handling of standard AWS regions
  src/region.rs
  src/sinks/elasticsearch.rs
Labels: meta: regression, provider: aws, sink: elasticsearch, type: bug

#2485 chore(add_fields transform, add_tags transform): Add `overwrite` option
  .meta/transforms/add_fields.toml.erb
  .meta/transforms/add_tags.toml.erb
  benches/lua.rs
  config/vector.spec.toml
  src/transforms/add_fields.rs
  src/transforms/add_tags.rs
  website/docs/reference/transforms/add_fields.md
  website/docs/reference/transforms/add_tags.md
  website/metadata.js
Labels: domain: transforms, transform: add_fields, transform: add_tags

#2449 fix(config): Shutdown topology pieces before building new ones
  src/main.rs
  src/sources/splunk_hec.rs
  src/topology/builder.rs
  src/topology/mod.rs
  tests/config.rs
  tests/topology.rs
Labels: domain: config, domain: topology

#2437 enhancement(aws_cloudwatch_logs sink): Enforce age requirements
  src/sinks/aws_cloudwatch_logs/mod.rs
  src/sinks/aws_cloudwatch_logs/request.rs
Labels: sink: aws_cloudwatch_logs

#2329 chore: RFC #1858 - 2020-04-06 - Automatic rate limit adjustment
  rfcs/2020-04-06-1858-automatically-adjust-request-limits.md
Labels: domain: networking, domain: sinks, have: should, type: task
