Repository vectordotdev/vector, pull requests merged in 2020-07, with the labels that each got.

#2908 enhancement(file source): Option to remove file after some time of reaching `eof`
  .meta/sources/file.toml.erb
  config/vector.spec.toml
  lib/file-source/src/file_server.rs
  lib/file-source/src/file_watcher.rs
  src/sources/file/mod.rs
  website/docs/reference/sources/file.md
Labels: source: file, type: enhancement

#2952 enhancement(dependencies): move reqwest to dev-dependencies
  Cargo.lock
  Cargo.toml
  src/sinks/aws_kinesis_firehose.rs
  src/sinks/clickhouse.rs
  src/sinks/elasticsearch.rs
  src/sinks/gcp/mod.rs
  src/sinks/gcp/pubsub.rs
  src/sinks/http.rs
  src/sinks/influxdb/logs.rs
  src/sinks/influxdb/metrics.rs
  src/sinks/influxdb/mod.rs
  src/sinks/loki.rs
  src/sinks/splunk_hec.rs
  src/sinks/util/http.rs
  src/sources/docker.rs
  src/sources/http.rs
  src/sources/logplex.rs
  src/sources/splunk_hec.rs
Labels: domain: dependencies, type: tech debt

#2953 enhancement(sinks): add compression option for aws sinks
  .meta/sinks/aws_cloudwatch_logs.toml.erb
  .meta/sinks/aws_cloudwatch_metrics.toml.erb
  .meta/sinks/aws_kinesis_firehose.toml.erb
  .meta/sinks/aws_kinesis_streams.toml.erb
  Cargo.lock
  Cargo.toml
  config/vector.spec.toml
  src/sinks/aws_cloudwatch_logs/mod.rs
  src/sinks/aws_cloudwatch_metrics.rs
  src/sinks/aws_kinesis_firehose.rs
  src/sinks/aws_kinesis_streams.rs
  src/sinks/aws_s3.rs
  src/sinks/util/buffer/mod.rs
  website/docs/reference/sinks/aws_cloudwatch_logs.md
  website/docs/reference/sinks/aws_cloudwatch_metrics.md
  website/docs/reference/sinks/aws_kinesis_firehose.md
  website/docs/reference/sinks/aws_kinesis_streams.md
Labels: provider: aws, sink: aws_cloudwatch_logs, sink: aws_cloudwatch_metrics, sink: aws_kinesis_firehose, sink: aws_kinesis_streams, sink: aws_s3, type: enhancement

#2930 chore(kafka sink): disable sasl feature
  .meta/_partials/fields/_kafka_options.toml.erb
  Cargo.toml
  docker-compose.yml
  scripts/ci-docker-images/builder-x86_64-unknown-linux-gnu/Dockerfile
  website/docs/reference/sinks/kafka.md
  website/docs/reference/sources/kafka.md
Labels: domain: dependencies, sink: kafka, source: kafka

#2958 chore(sinks): Construct tcp healthcheck with TLS
  src/sinks/datadog/logs.rs
  src/sinks/papertrail.rs
  src/sinks/util/tcp.rs
  src/sinks/vector.rs
  tests/tcp.rs
Labels: sink: datadog_logs, sink: papertrail, sink: socket, sink: vector

#2824 chore(platforms): Move the builder to centos 7
  Makefile
  docker-compose.yml
  scripts/ci-docker-images/builder-x86_64-unknown-linux-gnu/Dockerfile
  scripts/environment/definition.nix
Labels: platform: centos

#2964 chore: move topology building into tokio context, take 2
  Cargo.lock
  Cargo.toml
  benches/bench.rs
  benches/buffering.rs
  benches/files.rs
  benches/http.rs
  benches/lua.rs
  scripts/check-component-features.sh
  src/cli.rs
  src/conditions/mod.rs
  src/main.rs
  src/sinks/aws_cloudwatch_logs/mod.rs
  src/sinks/aws_cloudwatch_metrics.rs
  src/sinks/aws_kinesis_firehose.rs
  src/sinks/aws_kinesis_streams.rs
  src/sinks/aws_s3.rs
  src/sinks/clickhouse.rs
  src/sinks/console.rs
  src/sinks/elasticsearch.rs
  src/sinks/file/mod.rs
  src/sinks/gcp/pubsub.rs
  src/sinks/gcp/stackdriver_logs.rs
  src/sinks/http.rs
  src/sinks/influxdb/logs.rs
  src/sinks/influxdb/metrics.rs
  src/sinks/influxdb/mod.rs
  src/sinks/new_relic_logs.rs
  src/sinks/pulsar.rs
  src/sinks/socket.rs
  src/sinks/splunk_hec.rs
  src/sinks/streaming_sink/compat.rs
  src/sinks/util/test.rs
  src/sinks/util/unix.rs
  src/sources/prometheus/mod.rs
  src/sources/splunk_hec.rs
  src/sources/statsd/mod.rs
  src/sources/vector.rs
  src/topology/builder.rs
  src/topology/config/mod.rs
  src/topology/mod.rs
  src/topology/unit_test.rs
  src/transforms/aws_ec2_metadata.rs
  src/transforms/coercer.rs
  src/transforms/grok_parser.rs
  src/transforms/logfmt_parser.rs
  src/transforms/regex_parser.rs
  src/transforms/split.rs
  src/transforms/tokenizer.rs
  src/validate.rs
  tests/buffering.rs
  tests/config.rs
  tests/crash.rs
  tests/support/mod.rs
  tests/syslog.rs
  tests/tcp.rs
  tests/topology.rs
Labels: domain: topology, type: tech debt

#2951 chore(docker source): upgrade to bollard
  Cargo.lock
  Cargo.toml
  src/sources/docker.rs
Labels: platform: docker, source: docker, type: tech debt

#2956 enhancement(kafka source): Extract timestamp from event
  .meta/sources/kafka.toml.erb
  src/sinks/kafka.rs
  src/sources/kafka.rs
  website/docs/reference/sources/kafka.md
Labels: sink: kafka, source: kafka

#2869 chore(operations): Move over homebrew/s3 release jobs
  .github/workflows/release.yml
Labels: domain: operations

#2974 chore(operations): Add smoke tests to docker images
  distribution/docker/alpine/Dockerfile
  distribution/docker/debian/Dockerfile
Labels: domain: operations

#2821 chore(dependencies): Configure dependabot to use correct issue names
  .dependabot/config.yml
  .github/labels.yml
  .github/semantic.yml
  .meta/domains.toml
Labels: domain: dependencies

#2980 chore(deps): Fixup dependabot config
  .dependabot/config.yml
Labels: domain: dependencies

#2971 chore(operations): Make environment use ubuntu 20.04
  .github/workflows/benches.yml
  .github/workflows/lints.yml
  .github/workflows/tests.yml
  CONTRIBUTING.md
  Makefile
  default.nix
  rfcs/2020-05-25-2685-dev-workflow-simplification.md
  scripts/environment/Dockerfile
  scripts/environment/bootstrap-ubuntu-20.04.sh
  scripts/environment/definition.nix
  scripts/environment/entrypoint.sh
  scripts/environment/prepare.sh
  scripts/generate.rb
  scripts/util/metadata.rb
  shell.nix
Labels: domain: operations

#2990 chore(deps): Fix dependency label to be longer again.
  .dependabot/config.yml
Labels: domain: deps

#2996 fix(operations): Fix the cmark-gfm installation at builder image
  scripts/ci-docker-images/builder-x86_64-unknown-linux-gnu/Dockerfile
Labels: domain: operations

#2969 enhancement(operations): Add musl and glibc support to install.sh
  distribution/install.sh
  scripts/environment/bootstrap-ubuntu-20.04.sh
Labels: domain: operations

#3009 chore(security): remove outdated security advisories
  deny.toml
Labels: domain: security, type: task

#3003 chore(deps): Make dependabot only cover Rust code
  .dependabot/config.yml
Labels: domain: deps

#3005 chore(journald source): Fix filter_unit_works_correctly test
  src/sources/journald.rs
Labels: source: journald

#3002 chore(operations): Fixup release script formats
  Makefile
Labels: domain: operations

#3015 FIxup release-s3
  scripts/release-s3.sh
Labels: type: bug

#2993 fix(gcp provider): sync token request
  src/sinks/gcp/mod.rs
  src/sinks/gcp/pubsub.rs
Labels: provider: gcp, sink: gcp_cloud_storage, sink: gcp_pubsub, sink: gcp_stackdriver_logs, type: bug

#2977 chore(pulsar sink): update to 1.0.0-alpha-2
  .meta/sinks/aws_s3.toml.erb
  .meta/sinks/kafka.toml.erb
  .meta/sinks/pulsar.toml.erb
  .meta/sinks/splunk_hec.toml.erb
  Cargo.lock
  Cargo.toml
  config/vector.spec.toml
  src/sinks/pulsar.rs
  website/docs/reference/sinks/aws_s3.md
  website/docs/reference/sinks/kafka.md
  website/docs/reference/sinks/pulsar.md
  website/docs/reference/sinks/splunk_hec.md
  website/metadata.js
Labels: meta: blocked, sink: pulsar, type: tech debt

#3023 chore: Remove dead envrc file
  .envrc
Labels: domain: operations

#3016 fix(loki sink): Set a proper default for the batch buffer initialization
  .meta/sinks/loki.toml.erb
  config/vector.spec.toml
  src/sinks/loki.rs
  src/sinks/util/buffer/mod.rs
  website/docs/reference/sinks/loki.md
Labels: sink: loki, type: bug

#2870 feat(new transform): add reduce transform
  .github/labels.yml
  .github/semantic.yml
  .meta/transforms/reduce.toml
  Cargo.lock
  Cargo.toml
  README.md
  config/vector.spec.toml
  src/event/discriminant.rs
  src/transforms/mod.rs
  src/transforms/reduce/merge_strategy.rs
  src/transforms/reduce/mod.rs
  tests/behavior/transforms/reduce.toml
  website/docs/reference/transforms/reduce.md
  website/docs/reference/transforms/reduce.md.erb
  website/docs/setup/installation/manual/from-source.md
  website/metadata.js
  website/sidebars.js
Labels: type: feature

#3030 fix(deps): update crates in lock file after merges
  Cargo.lock
Labels: type: tech debt

#2955 enhancement(syslog source): Accept `octet-counting` encoded messages
  .meta/links.toml
  src/sources/socket/unix.rs
  src/sources/syslog.rs
  src/sources/util/unix.rs
  src/test_util.rs
  tests/syslog.rs
  website/docs/reference/sources/syslog.md
  website/docs/reference/sources/syslog.md.erb
Labels: source: syslog

#3026 chore: Drop 3 more clippy exclusions
  src/lib.rs
Labels: type: tech debt

#3034 chore(tests): Delete `topology::config::watcher::tests::multi_file_update`
  src/topology/config/watcher.rs
Labels: domain: config

#3036 chore(tests): Delete `topology::reload_tests::topology_reuse_old_port`
  src/topology/mod.rs
Labels: domain: topology

#3010 chore(sinks): Build `HttpClient` once
  src/sinks/clickhouse.rs
  src/sinks/datadog/metrics.rs
  src/sinks/elasticsearch.rs
  src/sinks/gcp/pubsub.rs
  src/sinks/gcp/stackdriver_logs.rs
  src/sinks/honeycomb.rs
  src/sinks/http.rs
  src/sinks/influxdb/logs.rs
  src/sinks/influxdb/metrics.rs
  src/sinks/influxdb/mod.rs
  src/sinks/logdna.rs
  src/sinks/loki.rs
  src/sinks/splunk_hec.rs
  src/sinks/util/http.rs
Labels: domain: sinks

#3042 chore(tests): Delete `tests\tcp::merge` test
  tests/tcp.rs
Labels: domain: tests

#3044 chore(tests): Delete `test_udp_syslog` test
  tests/syslog.rs
Labels: domain: tests

#3040 chore(tests): Delete `test_max_size_resume`
  tests/buffering.rs
Labels: domain: tests

#3053 chore(pulsar sink): bump to pulsar-rs 1.0.0
  Cargo.lock
  Cargo.toml
  src/sinks/pulsar.rs
Labels: sink: pulsar

#3004 chore(operations): Fixup integration test invocations
  Makefile
Labels: domain: operations

#3046 fix(cli): Cleanup `generate` command
  src/cli.rs
Labels: domain: cli

#3045 chore(sinks): Build `aws` sinks clients only once
  src/sinks/aws_cloudwatch_logs/mod.rs
  src/sinks/aws_cloudwatch_metrics.rs
  src/sinks/aws_kinesis_firehose.rs
  src/sinks/aws_kinesis_streams.rs
  src/sinks/aws_s3.rs
Labels: domain: sinks, provider: aws

#3059 chore(kafka source): remove owning_ref
  Cargo.lock
  Cargo.toml
  src/sources/kafka.rs
Labels: domain: deps, source: kafka

#3065 chore(transforms): update runtime_transform
  Cargo.lock
  Cargo.toml
  src/expiring_hash_map.rs
  src/sinks/gcp/mod.rs
  src/sources/prometheus/mod.rs
  src/sources/socket/udp.rs
  src/sources/statsd/mod.rs
  src/sources/stdin.rs
  src/sources/syslog.rs
  src/sources/util/tcp.rs
  src/sources/util/unix.rs
  src/stream.rs
  src/transforms/reduce/mod.rs
  src/transforms/util/runtime_transform.rs
Labels: type: tech debt

#3001 chore(operations): Remove CircleCI
  .circleci/config.yml
Labels: domain: operations

#3070 chore(sinks): fix endpoint strip for aws region
  src/region.rs
Labels: provider: aws, sink: aws_cloudwatch_logs, sink: aws_cloudwatch_metrics, sink: aws_kinesis_firehose, sink: aws_kinesis_streams, sink: aws_s3, type: bug

#3056 chore(operations): Add sync-install to GA
  .github/workflows/install-sh.yml
  .github/workflows/release.yml
Labels: domain: operations

#3075 chore: Fix warning message due .rustfmt.toml
  .rustfmt.toml
Labels: domain: operations

#3073 chore(tests): use localstack instead minio
  docker-compose.yml
  src/sinks/aws_s3.rs
Labels: domain: tests, sink: aws_s3

#3081 chore(deps): Reenable sasl
  .meta/_partials/fields/_kafka_options.toml.erb
  Cargo.lock
  Cargo.toml
  config/vector.spec.toml
  docker-compose.yml
  scripts/environment/bootstrap-ubuntu-20.04.sh
  website/docs/reference/sinks/kafka.md
  website/docs/reference/sources/kafka.md
Labels: domain: security, sink: kafka, source: kafka

#3103 chore(tests): Remove `tcp_gracefull_shutdown`
  src/sources/socket/mod.rs
Labels: domain: tests

#3105 chore(tests): Remove `s3_waits_for_full_batch_or_timeout_before_sending`
  src/sinks/aws_s3.rs
Labels: domain: tests

#3089 chore: Bump rust-toolchain to 1.45.0
  rust-toolchain
  src/conditions/check_fields.rs
  src/lib.rs
  src/sources/util/tcp.rs
  src/transforms/lua/v2/mod.rs
  src/transforms/util/runtime_transform.rs
  tests/support/mod.rs
Labels: type: feature

#3129 chore(operations): Docker debian packages systemd
  distribution/docker/debian/Dockerfile
Labels: domain: operations

#3120 chore: Add Rust 2018 edition tag to .rustfmt.toml
  .rustfmt.toml
Labels: type: task

#3131 chore(operations): Debian buster is stable, not sid
  distribution/docker/debian/Dockerfile
Labels: domain: operations

#3107 chore: Remove tokio 0.1 from `benches/http.rs`
  benches/http.rs
Labels: type: tech debt

#3106 chore: Remove tokio 0.1 from shutdown
  src/shutdown.rs
Labels: domain: networking, type: tech debt

#3139 chore(operations): Update cidr-utils
  Cargo.lock
  Cargo.toml
Labels: domain: operations

#3142 chore(operations): Pin back Rust 1.45 until after 0.10.0
  rust-toolchain
  scripts/ci-docker-images/builder-x86_64-unknown-linux-musl/Dockerfile
Labels: domain: operations

#3143 chore(operations): Fixup clippy issues from 1.44 rollback
  src/lib.rs
Labels: domain: operations

#3022 chore: Prepare v0.10.0
  .meta/.schemas/highlights.json
  .meta/links.toml
  .meta/releases/0.10.0.toml
  README.md
  RELEASE_NOTES.md
  distribution/docker/README.md
  website/docs/reference/sources/docker.md
  website/docs/reference/sources/syslog.md
  website/docs/setup/installation/manual.md
  website/docs/setup/installation/manual/from-archives.md
  website/docs/setup/installation/manual/from-source.md
  website/docs/setup/installation/operating-systems/amazon-linux.md
  website/docs/setup/installation/operating-systems/centos.md
  website/docs/setup/installation/operating-systems/debian.md
  website/docs/setup/installation/operating-systems/nixos.md
  website/docs/setup/installation/operating-systems/rhel.md
  website/docs/setup/installation/operating-systems/ubuntu.md
  website/docs/setup/installation/operating-systems/windows.md
  website/docs/setup/installation/package-managers/dpkg.md
  website/docs/setup/installation/package-managers/msi.md
  website/docs/setup/installation/package-managers/nix.md
  website/docs/setup/installation/package-managers/rpm.md
  website/docs/setup/installation/platforms/docker.md
  website/guides/getting-started/deploying.md
  website/highlights/2020-03-31-guides-section.md
  website/highlights/2020-03-31-guides-section.md.erb
  website/highlights/2020-05-04-shutdown-vector-if-all-sources-finish.md
  website/highlights/2020-05-05-add-support-for-include-exclude-units.md
  website/highlights/2020-05-13-add-regexset-support-to-regex.md
  website/highlights/2020-05-20-add-bearer-auth-strategy.md
  website/highlights/2020-05-27-add-support-for-loading-multiple-cas.md
  website/highlights/2020-06-10-consolidate-and-beautify-validate.md
  website/highlights/2020-06-18-remove-custom-dns-resolution.md
  website/highlights/2020-06-27-add-sasl-to-kafka.md
  website/highlights/2020-07-06-add-compression-option-for-aws-sinks.md
  website/highlights/2020-07-09-add-musl-and-glibc-support-to-install-sh.md
  website/highlights/2020-07-10-add-reduce-transform.md
  website/metadata.js
  website/releases/0.10.0.md
  website/releases/0.10.0.md.erb
  website/releases/0.6.0.md
  website/releases/0.9.0.md
Labels: domain: operations

#3157 chore(operations): Bump vector to 0.11.0 to fix make check-version
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
Labels: domain: operations

#3155 chore(operations): Fixup release s3 job
  scripts/release-s3.sh
Labels: domain: operations, type: bug

#3153 chore(operations): Fixup version invocation to not have info
  Makefile
Labels: domain: operations

#3158 chore(operations): Fixup release-homebrew
  .github/workflows/release.yml
Labels: domain: operations

#3090 fix(prometheus source): Allow '=' in tag values
  src/sources/prometheus/parser.rs
Labels: source: prometheus, type: bug

#3163 chore(operations): Fixup release commit
  RELEASING.md
  scripts/release-commit.rb
Labels: domain: operations

#3159 chore(operations): teach dependabot the right label
  .dependabot/config.yml
Labels: domain: operations

#3165 chore(operations): Resolve newest release issues
  .github/workflows/release.yml
Labels: domain: operations

#3095 chore: remove tokio01::codec
  Cargo.lock
  Cargo.toml
  benches/bench.rs
  benches/buffering.rs
  benches/files.rs
  benches/http.rs
  lib/codec01/Cargo.toml
  lib/codec01/src/lib.rs
  lib/codec01/tests/bytes_delim.rs
  src/async_read.rs
  src/internal_events/tcp.rs
  src/internal_events/unix.rs
  src/sinks/file/mod.rs
  src/sinks/socket.rs
  src/sinks/statsd.rs
  src/sinks/util/tcp.rs
  src/sinks/util/unix.rs
  src/sources/socket/mod.rs
  src/sources/socket/tcp.rs
  src/sources/socket/udp.rs
  src/sources/socket/unix.rs
  src/sources/statsd/mod.rs
  src/sources/syslog.rs
  src/sources/util/tcp.rs
  src/sources/util/unix.rs
  src/sources/vector.rs
  src/test_util.rs
  src/tls/incoming.rs
  src/tls/mod.rs
  src/tls/outgoing.rs
  tests/buffering.rs
  tests/crash.rs
  tests/support/mod.rs
  tests/syslog.rs
  tests/tcp.rs
  tests/topology.rs
Labels: sink: socket, sink: statsd, source: socket, source: syslog, source: vector, type: tech debt

#3166 chore(operations): Fix release-github and release-homebrew
  .github/workflows/release.yml
  scripts/environment/bootstrap-ubuntu-20.04.sh
  scripts/release-github.rb
Labels: domain: operations

#3029 chore(windows platform): Use a simpler CI invocation
  .github/workflows/release.yml
Labels: domain: operations, platform: windows

#3148 chore(operations): rebump rust
  rust-toolchain
  src/lib.rs
Labels: domain: operations

#3147 chore(sinks): Batch buffer size rework
  benches/batch.rs
  src/sinks/aws_cloudwatch_logs/mod.rs
  src/sinks/aws_cloudwatch_metrics.rs
  src/sinks/aws_kinesis_firehose.rs
  src/sinks/aws_kinesis_streams.rs
  src/sinks/aws_s3.rs
  src/sinks/clickhouse.rs
  src/sinks/datadog/metrics.rs
  src/sinks/elasticsearch.rs
  src/sinks/gcp/cloud_storage.rs
  src/sinks/gcp/pubsub.rs
  src/sinks/gcp/stackdriver_logs.rs
  src/sinks/honeycomb.rs
  src/sinks/http.rs
  src/sinks/influxdb/logs.rs
  src/sinks/influxdb/metrics.rs
  src/sinks/logdna.rs
  src/sinks/loki.rs
  src/sinks/splunk_hec.rs
  src/sinks/statsd.rs
  src/sinks/util/batch.rs
  src/sinks/util/buffer/json.rs
  src/sinks/util/buffer/metrics.rs
  src/sinks/util/buffer/mod.rs
  src/sinks/util/buffer/partition.rs
  src/sinks/util/buffer/vec.rs
  src/sinks/util/buffer/vec2.rs
  src/sinks/util/sink.rs
Labels: domain: sinks, type: tech debt

#3185 chore: Moves platform-specific signal code out of `main`
  src/lib.rs
  src/main.rs
  src/signal.rs
Labels: domain: operations

#3099 fix(cli): Cleanup `list` command
  .github/workflows/tests.yml
  Makefile
  src/cli.rs
  tests/cli.rs
Labels: domain: cli

#3190 enhancement: Upgrade all VecBuffer sinks to allow setting `max_bytes`
  .meta/sinks/aws_kinesis_firehose.toml.erb
  .meta/sinks/aws_kinesis_streams.toml.erb
  .meta/sinks/loki.toml.erb
  config/vector.spec.toml
  src/sinks/aws_cloudwatch_logs/mod.rs
  src/sinks/aws_kinesis_firehose.rs
  src/sinks/aws_kinesis_streams.rs
  src/sinks/loki.rs
  src/sinks/util/buffer/loki.rs
  src/sinks/util/buffer/mod.rs
  src/sinks/util/buffer/vec.rs
  src/sinks/util/buffer/vec2.rs
  src/sinks/util/mod.rs
  src/sinks/util/sink.rs
  website/docs/reference/sinks/aws_kinesis_firehose.md
  website/docs/reference/sinks/aws_kinesis_streams.md
  website/docs/reference/sinks/loki.md
Labels: sink: aws_kinesis_firehose, sink: aws_kinesis_streams, sink: loki, type: enhancement

#3179 chore(operations): Use curl to get grease
  scripts/environment/bootstrap-ubuntu-20.04.sh
Labels: domain: operations

#3236 fix(socket source): add max_length to UDP
  .meta/sources/socket.toml.erb
  config/vector.spec.toml
  src/sources/socket/mod.rs
  src/sources/socket/udp.rs
  website/docs/reference/sources/socket.md
Labels: source: socket, type: bug

#3151 enhancement(internal_metrics source): instrument "stdin" source
  src/internal_events/mod.rs
  src/internal_events/stdin.rs
  src/sources/stdin.rs
Labels: source: stdin, type: enhancement

#3241 enhancement(journald source): Add received and invalid line events
  src/internal_events/journald.rs
  src/internal_events/mod.rs
  src/sources/journald.rs
Labels: domain: observability, source: journald, type: enhancement

#3239 chore(operations): Ensure gease is outside of workdir
  scripts/environment/bootstrap-ubuntu-20.04.sh
  website/docs/reference/field-path-notation.md
  website/docs/reference/sources/docker.md
  website/docs/reference/sources/syslog.md
  website/releases/0.10.0.md
  website/releases/0.6.0.md
  website/releases/0.9.0.md
Labels: domain: operations

#3246 fix(journald source): Fix default-msvc feature
  src/internal_events/mod.rs
Labels: platform: windows, type: bug

#3240 chore: remove outdated StreamExt01
  src/sources/prometheus/mod.rs
  src/sources/stdin.rs
  src/sources/util/tcp.rs
  src/stream.rs
Labels: type: tech debt

#3252 fix(journald source): Fix typo in metrics name
  src/internal_events/journald.rs
Labels: domain: observability, source: journald, type: bug

#3278 enhancement(prometheus source): Provide error context on parse error
  src/internal_events/prometheus.rs
  src/sources/prometheus/parser.rs
Labels: source: prometheus, type: enhancement

#3285 chore: change level of TCP events
  src/internal_events/tcp.rs
Labels: domain: traces

#3287 fix: pip3 installed binaries
  .github/workflows/lints.yml
Labels: domain: ci
