Repository vectordotdev/vector, pull requests merged in 2020-03, with the labels that each got.

#1650 feat(sources): Add http source using Warp
  .github/labels.yml
  .github/semantic.yml
  .meta/sources/http.toml
  Cargo.lock
  Cargo.toml
  README.md
  config/vector.spec.toml
  src/sources/http.rs
  src/sources/mod.rs
  src/sources/util/http.rs
  src/sources/util/mod.rs
  website/docs/reference/sources/http.md
  website/docs/reference/sources/http.md.erb
  website/docs/setup/installation/manual/from-source.md
  website/metadata.js
  website/sidebars.js
Labels: needs: docs

#1968 enhancement(sources): Tls for splunk and logplex
  .meta/sources/http.toml
  .meta/sources/logplex.toml
  .meta/sources/splunk_hec.toml
  Cargo.lock
  Cargo.toml
  config/vector.spec.toml
  src/lib.rs
  src/sources/http.rs
  src/sources/logplex.rs
  src/sources/splunk_hec.rs
  src/sources/util/http.rs
  src/tls.rs
  website/docs/reference/sources/http.md
  website/docs/reference/sources/logplex.md
  website/docs/reference/sources/splunk_hec.md
Labels: domain: networking, domain: security, domain: sources, needs: docs, source: logplex, source: splunk_hec

#1989 fix(file sink): Enable file sink
  src/sinks/file/mod.rs
Labels: domain: docs, sink: file, type: bug

#1986 chore(networking)!: Move all TLS support over to openssl
  .meta/_partials/_tls_acceptor_options.toml
  .meta/_partials/_tls_connector_options.toml
  .meta/sinks/clickhouse.toml
  .meta/sinks/elasticsearch.toml
  .meta/sinks/gcp_cloud_storage.toml
  .meta/sinks/gcp_pubsub.toml
  .meta/sinks/gcp_stackdriver_logging.toml
  .meta/sinks/http.toml
  .meta/sinks/kafka.toml
  .meta/sinks/loki.toml
  .meta/sinks/socket.toml
  .meta/sinks/splunk_hec.toml
  .meta/sources/kafka.toml
  Cargo.lock
  Cargo.toml
  config/vector.spec.toml
  src/sinks/datadog_metrics.rs
  src/sinks/influxdb_metrics.rs
  src/sinks/util/http.rs
  src/sinks/util/tcp.rs
  src/sources/prometheus/mod.rs
  src/sources/util/tcp.rs
  src/test_util.rs
  src/tls.rs
  src/transforms/kubernetes/watch_client.rs
  website/docs/reference/sinks/clickhouse.md
  website/docs/reference/sinks/elasticsearch.md
  website/docs/reference/sinks/gcp_stackdriver_logging.md
  website/docs/reference/sinks/http.md
  website/docs/reference/sinks/splunk_hec.md
  website/docs/reference/sources/http.md
  website/docs/reference/sources/logplex.md
  website/docs/reference/sources/socket.md
  website/docs/reference/sources/splunk_hec.md
  website/docs/reference/sources/syslog.md
  website/docs/reference/sources/vector.md
Labels: domain: networking, domain: security, type: tech debt

#1969 feat(kafka sink): Add support for compression
  .meta/_partials/_kafka_common.toml
  .meta/sinks/kafka.toml
  .meta/sources/kafka.toml
  Cargo.lock
  Cargo.toml
  config/vector.spec.toml
  src/kafka.rs
  src/serde.rs
  src/sinks/aws_s3.rs
  src/sinks/gcp/cloud_storage.rs
  src/sinks/kafka.rs
  src/sources/kafka.rs
  website/docs/reference/sinks/kafka.md
  website/docs/reference/sources/kafka.md
Labels: domain: networking, sink: kafka, source: kafka, type: enhancement, type: performance

#2026 chore(statsd sink): Fix race condition in test
  src/sinks/statsd.rs
Labels: domain: testing, sink: statsd

#2029 chore(networking): Refactor internal http client
  Cargo.lock
  Cargo.toml
  src/lib.rs
  src/main.rs
  src/sinks/clickhouse.rs
  src/sinks/datadog_metrics.rs
  src/sinks/elasticsearch.rs
  src/sinks/gcp/cloud_storage.rs
  src/sinks/gcp/pubsub.rs
  src/sinks/gcp/stackdriver_logging.rs
  src/sinks/http.rs
  src/sinks/influxdb_metrics.rs
  src/sinks/logdna.rs
  src/sinks/loki.rs
  src/sinks/splunk_hec.rs
  src/sinks/util/http.rs
  src/sinks/util/rusoto.rs
  src/transforms/kubernetes/watch_client.rs
Labels: domain: sinks, sink: clickhouse, sink: datadog_metrics, sink: elasticsearch, sink: gcp_cloud_storage, sink: gcp_pubsub, sink: gcp_stackdriver_logging, sink: http, sink: influxdb_metrics, sink: logdna, sink: loki, sink: splunk_hec

#2025 enhancement(vector sink): Add support for TLS
  .meta/sinks/vector.toml
  config/vector.spec.toml
  src/sinks/vector.rs
  src/sources/vector.rs
  website/docs/reference/sinks/vector.md
Labels: domain: security, domain: sinks, sink: vector, type: enhancement

#2038 enhancement(elasticsearch sink): Add `timeout` query parameter
  src/sinks/elasticsearch.rs
Labels: provider: elastic, sink: elasticsearch, type: enhancement

#2037 chore(splunk_hec sink)!: Rename `host_field` to `host_key`
  .meta/sinks/splunk_hec.toml
  config/vector.spec.toml
  src/sinks/splunk_hec.rs
  website/docs/reference/sinks/splunk_hec.md
Labels: provider: splunk, sink: splunk_hec

#2034 fix(config): Force `symlink` re-evaluation
  src/sources/kubernetes/test.rs
  src/topology/config/watcher.rs
Labels: domain: config, type: tech debt

#2056 enhancement(lua transform): Add `version` configuration option
  .github/CODEOWNERS
  .meta/transforms/lua.toml
  benches/lua.rs
  config/vector.spec.toml
  src/transforms/lua/mod.rs
  src/transforms/lua/v1/mod.rs
  src/transforms/lua/v2/mod.rs
  tests/behavior/transforms/lua.toml
  website/docs/reference/transforms/lua.md
Labels: meta: ready for merge

#2060 chore(json_parser transform): Ensure white-space dooes not break parsing
  src/transforms/json_parser.rs
Labels: domain: transforms, transform: json_parser

#1936 fix(merge transform): Support nested fields and arrays
  src/event/discriminant.rs
Labels: meta: ready for merge

#2000 chore: RFC #1999 - 2020-03-06 - API extensions for `lua` transform
  rfcs/2020-03-06-1999-api-extensions-for-lua-transform.md
Labels: type: new feature

#2053 fix(journald source): Fix handling of message array data
  src/sources/journald.rs
  website/docs/reference/sources/journald.md
  website/docs/reference/sources/journald.md.erb
Labels: source: journald, type: bug

#1922 perf: Tokio compat
  Cargo.lock
  Cargo.toml
  benches/bench.rs
  benches/files.rs
  src/buffers/disk.rs
  src/runtime.rs
  src/sinks/file/mod.rs
  src/sinks/kafka.rs
  src/sinks/statsd.rs
Labels: domain: operations, type: performance

#2068 fix(rename_fields transform): Improve rename_fields table handling
  src/serde.rs
  src/transforms/add_fields.rs
  src/transforms/rename_fields.rs
Labels: domain: transforms, transform: rename_fields, type: bug

#2077 enhancement(transforms): Add support for drop_empty to remove_fields and rename_fields
  .meta/transforms/remove_fields.toml
  .meta/transforms/rename_fields.toml
  config/vector.spec.toml
  src/event/mod.rs
  src/event/util/log/remove.rs
  src/transforms/remove_fields.rs
  src/transforms/rename_fields.rs
  tests/behavior/transforms/remove_fields.toml
  tests/behavior/transforms/rename_fields.toml
  website/docs/reference/transforms/remove_fields.md
  website/docs/reference/transforms/rename_fields.md
Labels: domain: transforms, transform: remove_fields, transform: rename_fields, type: enhancement

#2106 chore: Racy buffering tests correction
  .github/CODEOWNERS
  src/test_util.rs
  tests/buffering.rs
  tests/support/mod.rs
  tests/topology.rs
Labels: type: enhancement

#1832 feat(new sink): Initial basic `datadog_logs` sink
  .github/labels.yml
  .github/semantic.yml
  .meta/links.toml
  .meta/sinks/datadog_logs.toml
  Cargo.toml
  README.md
  config/vector.spec.toml
  src/sinks/datadog/logs.rs
  src/sinks/datadog/metrics.rs
  src/sinks/datadog/mod.rs
  src/sinks/mod.rs
  website/docs/reference/sinks/datadog_logs.md
  website/docs/reference/sinks/datadog_logs.md.erb
  website/docs/setup/installation/manual/from-source.md
  website/metadata.js
  website/sidebars.js
Labels: domain: sinks, type: new feature

#2121 fix(sinks)!: Rename gcp_stackdriver_logging sink to _logs
  .github/labels.yml
  .github/semantic.yml
  .meta/links.toml
  .meta/sinks/gcp_stackdriver_logs.toml
  config/vector.spec.toml
  src/sinks/gcp/mod.rs
  src/sinks/gcp/stackdriver_logs.rs
  website/docs/reference/sinks/gcp_stackdriver_logs.md
  website/docs/reference/sinks/gcp_stackdriver_logs.md.erb
  website/docs/setup/installation/manual/from-source.md
  website/metadata.js
  website/sidebars.js
Labels: sink: gcp_stackdriver_logging, type: task

#2095 enhancement(lua transform): Support metric events in version 2
  Cargo.lock
  Cargo.toml
  src/transforms/lua/v2/interop/event.rs
  src/transforms/lua/v2/interop/log.rs
  src/transforms/lua/v2/interop/metric.rs
  src/transforms/lua/v2/interop/mod.rs
  src/transforms/lua/v2/interop/util.rs
  src/transforms/lua/v2/interop/value.rs
  src/transforms/lua/v2/mod.rs
  tests/behavior/transforms/lua_v1.toml
  tests/behavior/transforms/lua_v2.toml
Labels: domain: transforms, needs: docs, transform: lua

#2129 fix(networking): Revert "Use MaybeTlsListener in TcpSource"
  src/sources/util/tcp.rs
  src/tls/incoming.rs
  src/tls/mod.rs
Labels: domain: networking, domain: security, meta: regression, type: bug

#2113 chore: Make LogSchema more optional
  src/event/mod.rs
  src/generate.rs
  src/serde.rs
  src/sinks/aws_s3.rs
  src/sinks/clickhouse.rs
  src/sinks/elasticsearch.rs
  src/sinks/file/mod.rs
  src/sinks/gcp/pubsub.rs
  src/sinks/gcp/stackdriver_logs.rs
  src/sinks/humio_logs.rs
  src/sinks/logdna.rs
  src/sinks/sematext_logs.rs
  src/sinks/splunk_hec.rs
  src/sinks/util/encoding.rs
  src/topology/config/mod.rs
Labels: domain: config, type: enhancement

#2130 chore(networking): Add proper user agent
  src/sinks/util/http.rs
Labels: domain: sinks, sink: http

#2131 chore: Rename tokio -> tokio01 and tokio02 -> tokio
  Cargo.toml
  benches/files.rs
  benches/http.rs
  src/buffers/disk.rs
  src/dns.rs
  src/expiring_hash_map.rs
  src/shutdown.rs
  src/sinks/clickhouse.rs
  src/sinks/console.rs
  src/sinks/elasticsearch.rs
  src/sinks/file/mod.rs
  src/sinks/gcp/mod.rs
  src/sinks/http.rs
  src/sinks/kafka.rs
  src/sinks/new_relic_logs.rs
  src/sinks/prometheus.rs
  src/sinks/statsd.rs
  src/sinks/util/batch.rs
  src/sinks/util/buffer/partition.rs
  src/sinks/util/http.rs
  src/sinks/util/retries.rs
  src/sinks/util/tcp.rs
  src/sinks/util/test.rs
  src/sinks/util/unix.rs
  src/sources/docker.rs
  src/sources/file/line_agg.rs
  src/sources/file/mod.rs
  src/sources/journald.rs
  src/sources/prometheus/mod.rs
  src/sources/socket/mod.rs
  src/sources/socket/udp.rs
  src/sources/statsd/mod.rs
  src/sources/stdin.rs
  src/sources/syslog.rs
  src/sources/util/tcp.rs
  src/sources/util/unix.rs
  src/sources/vector.rs
  src/stream.rs
  src/test_util.rs
  src/tls/incoming.rs
  src/tls/maybe_tls.rs
  src/tls/mod.rs
  src/tls/outgoing.rs
  src/topology/builder.rs
  src/topology/config/watcher.rs
  src/topology/fanout.rs
  src/topology/mod.rs
  src/transforms/aws_ec2_metadata.rs
  tests/syslog.rs
  tests/tcp.rs
Labels: domain: networking

#2146 fix(networking): Fix handling of incoming TLS connections
  src/sources/socket/tcp.rs
  src/sources/syslog.rs
  src/sources/util/tcp.rs
  src/sources/vector.rs
  src/tls/incoming.rs
  src/tls/mod.rs
  src/tls/outgoing.rs
Labels: domain: networking, domain: security, meta: regression, type: bug

#2148 chore: add_fields, remove_fields, or rename_fields debug log on replaced or non-existing fields
  src/event/merge.rs
  src/event/mod.rs
  src/event/util/log/insert.rs
  src/sources/kafka.rs
  src/sources/kubernetes/message_parser.rs
  src/sources/splunk_hec.rs
  src/test_util.rs
  src/transforms/add_fields.rs
  src/transforms/coercer.rs
  src/transforms/geoip.rs
  src/transforms/grok_parser.rs
  src/transforms/logfmt_parser.rs
  src/transforms/regex_parser.rs
  src/transforms/remove_fields.rs
  src/transforms/rename_fields.rs
  src/transforms/split.rs
  src/transforms/tokenizer.rs
Labels: domain: observability, domain: transforms, transform: add_fields, transform: remove_fields, transform: rename_fields

#2158 chore: Switch to upstream repo-permission-check-action
  .github/workflows/test-harness.yml
Labels: domain: operations

#2162 feat(socket sink): Add support for UDP mode
  .meta/sinks/socket.toml
  config/vector.spec.toml
  src/sinks/socket.rs
  src/sinks/util/mod.rs
  src/sinks/util/tcp.rs
  src/sinks/util/udp.rs
  website/docs/reference/sinks/socket.md
  website/metadata.js
Labels: domain: networking, sink: socket, type: new feature

#1970 chore(tests): Enable Kubernetes tests
  .dockerignore
  .github/workflows/ci.yml
  Cargo.toml
  docker-compose.yml
  scripts/ci-docker-images/builder-kubernetes/Dockerfile
  scripts/kubernetes-test.sh
  src/sources/kubernetes/test.rs
  src/transforms/kubernetes/watch_client.rs
  tests/Makefile
Labels: domain: tests

#2181 feat: Rename "prefix" condition predicate to "starts_with"
  .meta/_partials/_conditions.toml
  config/vector.spec.toml
  src/conditions/check_fields.rs
  website/docs/reference/tests.md
  website/docs/reference/transforms/swimlanes.md
Labels: type: task

#2183 feat: New "ends_with" condition predicate
  .meta/_partials/_conditions.toml
  config/vector.spec.toml
  src/conditions/check_fields.rs
  website/docs/reference/tests.md
  website/docs/reference/transforms/swimlanes.md
Labels: type: enhancement

#2185 feat(elasticsearch sink): Check for partial failures
  src/sinks/elasticsearch.rs
  src/sinks/util/http.rs
Labels: domain: observability, sink: elasticsearch, type: task
