Repository vectordotdev/vector, pull requests merged in 2020-05, with the labels that each got.

#2501 fix(kafka sink): Run entire healthcheck lazily
  src/sinks/kafka.rs
Labels: sink: kafka, type: bug

#2533 enhancement(topology): Shutdown Vector if all sources finish
  src/main.rs
  src/shutdown.rs
  src/sources/generator.rs
  src/topology/mod.rs
Labels: domain: topology, meta: blocked

#2481 perf(buffers): add batching to disk buffer reads
  src/buffers/disk/leveldb_buffer.rs
Labels: domain: buffers, type: performance

#2514 enhancement: Add support for negating conditions in check_fields
  .meta/_partials/fields/_conditions_options.toml.erb
  config/vector.spec.toml
  src/conditions/check_fields.rs
  website/docs/reference/tests.md
  website/docs/reference/transforms/filter.md
  website/docs/reference/transforms/swimlanes.md
Labels: transform: filter, transform: swimlanes, type: enhancement

#2532 enhancement(elasticsearch sink): Add explicit AWS region
  .meta/sinks/elasticsearch.toml.erb
  config/vector.spec.toml
  src/region.rs
  src/sinks/elasticsearch.rs
  website/docs/reference/sinks/elasticsearch.md
Labels: provider: aws, sink: elasticsearch, type: enhancement

#2546 chore(security): Upgrade openssl to `1.1.1g`
  Cargo.lock
Labels: domain: security

#2540 enhancement(journald source): Add support for include/exclude units
  .meta/sources/journald.toml.erb
  config/vector.spec.toml
  src/sources/journald.rs
  website/docs/reference/sources/journald.md
Labels: source: journald, type: enhancement

#2366 chore(stdin source): Wire `ShutdownSignal`
  src/sources/stdin.rs
Labels: source: stdin

#2583 fix(humio_logs sink): remove superfluous warning
  src/sinks/humio_logs.rs
Labels: provider: humio, sink: humio_logs, type: bug

#2581 fix(elasticsearch sink): remove id key from body
  Cargo.lock
  Cargo.toml
  src/sinks/elasticsearch.rs
Labels: provider: elastic, sink: elasticsearch, type: bug

#2567 fix(journald source): Fix `units`/`include_units` switch
  src/sources/journald.rs
Labels: source: journald

#2558 chore(topology): Test `vector` shutdown
  .github/workflows/code.yml
  Cargo.lock
  Cargo.toml
  Makefile
  docker-compose.yml
  scripts/ci-docker-images/builder-x86_64-unknown-linux-musl/Dockerfile
  scripts/test-shutdown.sh
  src/sources/journald.rs
  src/sources/mod.rs
  src/topology/config/mod.rs
  src/topology/mod.rs
  tests/config.rs
  tests/shutdown.rs
Labels: domain: tests, domain: topology

#2534 chore(topology): Update shutdown deadlines
  src/topology/mod.rs
Labels: domain: topology

#2589 chore(tests): Use `localhost` for `prometheus` shutdown test
  tests/shutdown.rs
Labels: domain: tests

#2587 fix: Fix possible infinite loop decoding too-long lines
  lib/codec/src/lib.rs
  lib/codec/tests/bytes_delim.rs
Labels: domain: networking, source: http, source: socket, type: bug

#2598 feat(kafka sink): Add support for templates in the topic config
  .meta/sinks/kafka.toml.erb
  config/vector.spec.toml
  src/sinks/kafka.rs
  website/docs/reference/sinks/kafka.md
Labels: sink: kafka, type: enhancement

#2619 fix(tests): Remove race between sink and source in shutdown test
  Cargo.toml
  tests/shutdown.rs
Labels: domain: tests

#2658 fix: Fix the Kafka TLS key parameter handling
  src/kafka.rs
  src/sinks/kafka.rs
Labels: domain: security, sink: kafka, source: kafka, type: bug

#2607 enhancement(http sink): add bearer auth strategy
  .meta/sinks/clickhouse.toml.erb
  .meta/sinks/http.toml.erb
  .meta/sinks/loki.toml.erb
  config/vector.spec.toml
  src/sinks/util/http.rs
  src/sinks/util/http2.rs
  website/docs/reference/sinks/clickhouse.md
  website/docs/reference/sinks/http.md
  website/docs/reference/sinks/loki.md
Labels: sink: http, type: enhancement

#2617 fix(topology): Check if `transform`/`sink` is present
  src/topology/mod.rs
Labels: domain: topology

#2618 fix(sources): Shutdown starting from `tcp` and `unix` sockets
  src/async_read.rs
  src/lib.rs
  src/sinks/util/tcp.rs
  src/sources/socket/mod.rs
  src/sources/util/tcp.rs
  src/sources/util/unix.rs
  src/tls/incoming.rs
  src/tls/mod.rs
  tests/buffering.rs
  tests/support/mod.rs
Labels: domain: sources

#2669 chore(vector source): Rate limit TCP connection errors, downgrade their severity
  src/internal_events/tcp.rs
Labels: domain: observability, source: vector

#2672 chore(lua transform): Avoid hanging on timers
  Cargo.toml
  docker-compose.yml
  src/stream.rs
  src/transforms/util/runtime_transform.rs
  tests/shutdown.rs
Labels: transform: lua

#2666 fix(sinks): ack and don't stop on request errors
  src/sinks/util/sink.rs
Labels: domain: sinks, type: bug

#2688 chore: Upgrade `HttpSink` based sinks
  benches/http.rs
  src/sinks/datadog/logs.rs
  src/sinks/datadog/metrics.rs
  src/sinks/datadog/mod.rs
  src/sinks/elasticsearch.rs
  src/sinks/gcp/mod.rs
  src/sinks/gcp/pubsub.rs
  src/sinks/gcp/stackdriver_logs.rs
  src/sinks/honeycomb.rs
  src/sinks/http.rs
  src/sinks/humio_logs.rs
  src/sinks/influxdb/logs.rs
  src/sinks/influxdb/mod.rs
  src/sinks/logdna.rs
  src/sinks/loki.rs
  src/sinks/new_relic_logs.rs
  src/sinks/papertrail.rs
  src/sinks/sematext_logs.rs
  src/sinks/splunk_hec.rs
  src/sinks/util/uri.rs
Labels: type: tech debt

#2616 enhancement(security): Add support for loading multiple CAs
  src/tls/mod.rs
  src/tls/settings.rs
  tests/data/Dummy_CA.cfg
  tests/data/Dummy_CA.crt
  tests/data/Dummy_CA.key
  tests/data/Makefile
  tests/data/Multi_CA.crt
Labels: domain: security

#2694 fix(kafka sink): Three KafkaCompression typos in tests
  src/sinks/kafka.rs
Labels: meta: regression, sink: kafka, type: bug

#2341 chore: RFC #2341 - 2020-04-15 - WASM Plugins Support
  rfcs/2020-04-15-wasm-plugins.md
  rfcs/2020-04-15-wasm-plugins/lua-8.svg
  rfcs/2020-04-15-wasm-plugins/native-8.svg
Labels: type: new feature

#2703 chore: Reorder Tower service layers
  src/sinks/util/service2.rs
Labels: domain: sinks

#2663 chore(syslog source): Add `hostname` and `source_ip`
  .meta/sources/syslog.toml.erb
  src/sources/syslog.rs
  website/docs/reference/sources/syslog.md
  website/yarn.lock
Labels: domain: ux, source: syslog

#2685 feat(platforms): Add dev workflow simplification rfc
  rfcs/2020-05-25-2685-dev-workflow-simplification.md
Labels: domain: dependencies, domain: tests

#2709 chore(syslog source): Update syslog_loose to 0.3.0
  Cargo.lock
  Cargo.toml
  rfcs/2020-05-25-2685-dev-workflow-simplification.md
Labels: domain: dependencies, source: syslog
