Repository vectordotdev/vector, pull requests merged in 2020-06, with the labels that each got.

#2711 fix(splunk_hec sink): Remove extra slash on Uri join
  src/sinks/splunk_hec.rs
Labels: provider: splunk, sink: splunk_hec, type: bug

#2721 chore(tests): Test with `default` feature in CI
  .github/workflows/code.yml
  Makefile
  docker-compose.yml
  scripts/test-default.sh
  src/sources/syslog.rs
  src/transforms/aws_ec2_metadata.rs
Labels: domain: tests

#2724 enhancement(networking): Add support for inline TLS keys
  .meta/_partials/fields/_tls_acceptor_options.toml.erb
  .meta/_partials/fields/_tls_connector_options.toml.erb
  config/vector.spec.toml
  src/kafka.rs
  src/sinks/elasticsearch.rs
  src/sinks/kafka.rs
  src/sources/socket/mod.rs
  src/sources/vector.rs
  src/tls/settings.rs
  website/docs/reference/sinks/clickhouse.md
  website/docs/reference/sinks/datadog_logs.md
  website/docs/reference/sinks/elasticsearch.md
  website/docs/reference/sinks/gcp_cloud_storage.md
  website/docs/reference/sinks/gcp_pubsub.md
  website/docs/reference/sinks/gcp_stackdriver_logs.md
  website/docs/reference/sinks/http.md
  website/docs/reference/sinks/kafka.md
  website/docs/reference/sinks/loki.md
  website/docs/reference/sinks/socket.md
  website/docs/reference/sinks/splunk_hec.md
  website/docs/reference/sinks/vector.md
  website/docs/reference/sources/http.md
  website/docs/reference/sources/kafka.md
  website/docs/reference/sources/logplex.md
  website/docs/reference/sources/socket.md
  website/docs/reference/sources/splunk_hec.md
  website/docs/reference/sources/syslog.md
  website/docs/reference/sources/vector.md
Labels: domain: networking, domain: security, type: enhancement

#2682 enhancement: Add compression to humio and new_relic
  .meta/sinks/humio_logs.toml.erb
  .meta/sinks/new_relic_logs.toml.erb
  config/vector.spec.toml
  src/sinks/humio_logs.rs
  src/sinks/new_relic_logs.rs
  website/docs/reference/sinks/humio_logs.md
  website/docs/reference/sinks/new_relic_logs.md
Labels: provider: humio, provider: new relic, sink: humio_logs, sink: new_relic_logs, type: enhancement

#2714 chore(sinks): Only log `200`-`299` responses as successful
  src/sinks/aws_kinesis_firehose.rs
  src/sinks/aws_kinesis_streams.rs
  src/sinks/aws_s3.rs
  src/sinks/util/http.rs
  src/sinks/util/http2.rs
  src/sinks/util/service.rs
  src/sinks/util/service2.rs
  src/sinks/util/sink.rs
Labels: domain: sinks

#2716 docs: Fix wrong example in tokenizer module (version 0.9.1)
  .meta/transforms/tokenizer.toml.erb
  website/docs/reference/transforms/tokenizer.md
Labels: transform: tokenizer

#2698 chore(kafka sink): Fix integration test
  scripts/test-integration-kafka.sh
Labels: domain: tests, meta: regression

#2671 fix(pulsar sink): Add new EncodingConfig
  src/sinks/pulsar.rs
Labels: domain: config, sink: pulsar, type: bug

#2754 chore(prometheus sink): Upgrade `hyper`
  src/sinks/prometheus.rs
Labels: sink: prometheus

#2759 chore(pulsar sink): Fix test
  src/sinks/pulsar.rs
Labels: sink: pulsar

#2761 chore(splunk_hec source): Upgrade `hyper`
  src/sources/splunk_hec.rs
Labels: source: splunk_hec

#2758 chore(gcp_cloud_storage sink): Upgrade `hyper`
  src/sinks/gcp/cloud_storage.rs
  src/sinks/gcp/mod.rs
  src/sinks/util/service2.rs
Labels: sink: gcp_cloud_storage

#2765 fix(sinks): increment request id
  src/sinks/util/sink.rs
Labels: domain: sinks, type: bug

#2737 fix: Handle templates with invalid strftime elements
  benches/bench.rs
  benches/files.rs
  src/sinks/aws_cloudwatch_logs/mod.rs
  src/sinks/aws_s3.rs
  src/sinks/elasticsearch.rs
  src/sinks/file/mod.rs
  src/sinks/gcp/cloud_storage.rs
  src/sinks/kafka.rs
  src/sinks/loki.rs
  src/template.rs
  src/transforms/add_fields.rs
  src/transforms/log_to_metric.rs
Labels: domain: config, type: bug

#2752 fix(aws_cloudwatch_logs sink): Make throttling errors retryable
  src/sinks/aws_cloudwatch_logs/mod.rs
Labels: sink: aws_cloudwatch_logs, type: bug

#2760 chore(influxdb_metrics sink): Upgrade `hyper`
  src/sinks/influxdb/metrics.rs
  src/sinks/influxdb/mod.rs
Labels: sink: influxdb_metrics

#2762 chore(tests): Upgrade `hyper`
  benches/http.rs
  src/sinks/http.rs
  src/sinks/influxdb/logs.rs
  src/sinks/logdna.rs
  src/sinks/new_relic_logs.rs
  src/sinks/sematext_logs.rs
  src/sinks/util/test.rs
  src/sources/statsd/mod.rs
Labels: domain: tests

#2763 chore(aws_ec2_metadata transform): Upgrade `hyper`
  src/transforms/aws_ec2_metadata.rs
Labels: transform: aws_ec2_metadata

#2734 enhancement(elasticsearch sink): add pipeline config
  .meta/sinks/elasticsearch.toml.erb
  config/vector.spec.toml
  src/sinks/elasticsearch.rs
  website/docs/reference/sinks/elasticsearch.md
Labels: sink: elasticsearch, type: enhancement

#2723 feat(operations): Introduce Dev Workflow improvements
  .dockerignore
  .envrc
  .github/workflows/benches.yml
  .github/workflows/blog.yml
  .github/workflows/cancel.yml
  .github/workflows/code.yml
  .github/workflows/environment.yml
  .github/workflows/generate.yml
  .github/workflows/labels.yml
  .github/workflows/lints.yml
  .github/workflows/markdown.yml
  .github/workflows/tests.yml
  .gitignore
  CONTRIBUTING.md
  Cargo.toml
  Makefile
  docker-compose.yml
  rfcs/2020-05-25-2685-dev-workflow-simplification.md
  scripts/Gemfile
  scripts/Gemfile.lock
  scripts/check-blog-signatures.rb
  scripts/check-clippy.sh
  scripts/check-component-features.sh
  scripts/check-scripts.sh
  scripts/environment/Dockerfile
  scripts/environment/definition.nix
  scripts/environment/entrypoint.sh
  scripts/environment/prepare.sh
  scripts/generate.rb
  scripts/release-docker.sh
  scripts/slim-builds.sh
  scripts/test-unit.sh
  scripts/util/metadata.rb
  src/sinks/socket.rs
  src/sources/internal_metrics.rs
  src/sources/socket/mod.rs
  src/sources/syslog.rs
  src/test_util.rs
  src/topology/config/watcher.rs
  src/topology/mod.rs
  src/transforms/lua/v1/mod.rs
  src/transforms/lua/v2/mod.rs
  tests/buffering.rs
  tests/syslog.rs
  website/package.json
  website/yarn.lock
Labels: domain: operations

#2801 chore(topology): Log when components finish normally
  src/topology/builder.rs
Labels: domain: topology

#2792 chore: fix aws integration tests ci
  Cargo.toml
  Makefile
  src/sinks/aws_cloudwatch_logs/mod.rs
  src/transforms/aws_ec2_metadata.rs
Labels: domain: tests, provider: aws

#2805 chore(statsd sink): tower update
  src/sinks/statsd.rs
Labels: sink: statsd, type: tech debt

#2806 chore: update rusoto to 0.44.0
  Cargo.lock
  Cargo.toml
  src/sinks/aws_cloudwatch_metrics.rs
  src/sinks/aws_kinesis_firehose.rs
  src/sinks/aws_kinesis_streams.rs
  src/sinks/aws_s3.rs
Labels: sink: aws_cloudwatch_metrics, sink: aws_kinesis_streams, sink: aws_s3, type: tech debt

#2809 chore(lua transform): Don't finish when timers finish
  src/transforms/lua/v2/mod.rs
  src/transforms/util/runtime_transform.rs
Labels: transform: lua

#2808 chore(prometheus source): Update hyper
  src/hyper.rs
  src/internal_events/prometheus.rs
  src/lib.rs
  src/sources/prometheus/mod.rs
  src/transforms/aws_ec2_metadata.rs
Labels: source: prometheus

#2817 chore(prometheus source): Update hyper in tests
  src/sources/prometheus/mod.rs
Labels: source: prometheus

#2810 chore(elasticsearch sink): update rusoto to 0.44.0
  Cargo.lock
  Cargo.toml
  src/sinks/elasticsearch.rs
  src/sinks/util/rusoto2.rs
  src/sinks/util/service2.rs
Labels: provider: aws, sink: elasticsearch, type: tech debt

#2819 chore: update goauth to new futures
  Cargo.lock
  Cargo.toml
  src/sinks/gcp/mod.rs
Labels: provider: gcp, type: tech debt

#2745 feat(filter transform): Adding list of string as filter option
  .meta/_partials/fields/_conditions_options.toml.erb
  config/vector.spec.toml
  src/conditions/check_fields.rs
  website/docs/reference/tests.md
  website/docs/reference/transforms/filter.md
  website/docs/reference/transforms/swimlanes.md
Labels: transform: filter, transform: swimlanes, type: enhancement

#2732 enhancement(gcp_stackdriver_logs sink): Add severity key
  .meta/links.toml
  .meta/sinks/gcp_stackdriver_logs.toml.erb
  config/vector.spec.toml
  src/sinks/gcp/stackdriver_logs.rs
  website/docs/reference/sinks/gcp_stackdriver_logs.md
  website/docs/reference/sinks/gcp_stackdriver_logs.md.erb
Labels: provider: gcp, sink: gcp_stackdriver_logs, type: enhancement

#2802 chore: RFC #2768 - 2020-06-12 - Batch and Buffer Rework
  rfcs/2020-06-12-2768-batch-and-buffer-rework.md
Labels: domain: buffers, type: enhancement, type: tech debt

#2832 fix(kafka sink): Fix typo integration tests
  src/sinks/kafka.rs
Labels: sink: kafka, type: bug

#2793 chore(topology): Allow disconnected components, and split `start` step
  src/topology/mod.rs
Labels: domain: topology

#2692 feat(operations): More usable event RFC
  rfcs/2020-05-25-more-usable-logevents.md
Labels: event type: log

#2839 chore(operations): Fix names of RFCs.
  rfcs/2020-04-15-2341-wasm-plugins.md
  rfcs/2020-04-15-2341-wasm-plugins/lua-8.svg
  rfcs/2020-04-15-2341-wasm-plugins/native-8.svg
  rfcs/2020-05-25-2692-more-usable-logevents.md
Labels: domain: operations

#2823 chore(json_parser transform): Use flat JSON parser inserts, add regre…
  src/event/mod.rs
  src/transforms/json_parser.rs
Labels: transform: json_parser, type: bug

#2830 chore(aws_cloudwatch_logs sink): update rusoto
  Cargo.lock
  Cargo.toml
  src/lib.rs
  src/region.rs
  src/region2.rs
  src/sinks/aws_cloudwatch_logs/mod.rs
  src/sinks/aws_cloudwatch_logs/request.rs
  src/sinks/aws_cloudwatch_metrics.rs
  src/sinks/aws_kinesis_firehose.rs
  src/sinks/aws_kinesis_streams.rs
  src/sinks/aws_s3.rs
  src/sinks/clickhouse.rs
  src/sinks/datadog/metrics.rs
  src/sinks/elasticsearch.rs
  src/sinks/gcp/cloud_storage.rs
  src/sinks/gcp/pubsub.rs
  src/sinks/gcp/stackdriver_logs.rs
  src/sinks/honeycomb.rs
  src/sinks/http.rs
  src/sinks/humio_logs.rs
  src/sinks/influxdb/logs.rs
  src/sinks/influxdb/metrics.rs
  src/sinks/influxdb/mod.rs
  src/sinks/logdna.rs
  src/sinks/loki.rs
  src/sinks/splunk_hec.rs
  src/sinks/util/http.rs
  src/sinks/util/http2.rs
  src/sinks/util/mod.rs
  src/sinks/util/rusoto.rs
  src/sinks/util/rusoto2.rs
  src/transforms/aws_ec2_metadata.rs
Labels: sink: aws_cloudwatch_logs, type: tech debt

#2796 chore(loki sink): Make encoding optional
  src/sinks/loki.rs
  src/topology/mod.rs
Labels: sink: loki

#2812 chore(networking)!: Remove custom DNS resolution
  Cargo.lock
  Cargo.toml
  src/dns.rs
  src/generate.rs
  src/sinks/aws_cloudwatch_logs/mod.rs
  src/sinks/aws_cloudwatch_metrics.rs
  src/sinks/aws_s3.rs
  src/sinks/splunk_hec.rs
  src/sinks/util/http.rs
  src/sinks/util/tcp.rs
  src/sinks/util/udp.rs
  src/sources/socket/mod.rs
  src/topology/builder.rs
  src/topology/config/mod.rs
  src/topology/mod.rs
  tests/tcp.rs
Labels: domain: networking

#2852 chore(dependencies): Finish `hyper` upgrade
  Cargo.lock
  Cargo.toml
  benches/http.rs
  src/dns.rs
  src/hyper.rs
  src/internal_events/prometheus.rs
  src/sinks/clickhouse.rs
  src/sinks/datadog/metrics.rs
  src/sinks/elasticsearch.rs
  src/sinks/gcp/cloud_storage.rs
  src/sinks/gcp/mod.rs
  src/sinks/gcp/pubsub.rs
  src/sinks/gcp/stackdriver_logs.rs
  src/sinks/honeycomb.rs
  src/sinks/http.rs
  src/sinks/influxdb/metrics.rs
  src/sinks/influxdb/mod.rs
  src/sinks/logdna.rs
  src/sinks/loki.rs
  src/sinks/new_relic_logs.rs
  src/sinks/prometheus.rs
  src/sinks/splunk_hec.rs
  src/sinks/util/http.rs
  src/sinks/util/rusoto.rs
  src/sinks/util/test.rs
  src/sources/prometheus/mod.rs
  src/sources/statsd/mod.rs
  src/transforms/aws_ec2_metadata.rs
Labels: domain: dependencies

#2853 chore(tests): Properly synchronize file updates in `watcher` test
  src/topology/config/watcher.rs
Labels: domain: tests

#2837 chore(dependencies): warp update
  Cargo.lock
  Cargo.toml
  Makefile
  src/event/mod.rs
  src/sinks/splunk_hec.rs
  src/sources/http.rs
  src/sources/logplex.rs
  src/sources/splunk_hec.rs
  src/sources/util/http.rs
Labels: source: http, source: logplex, source: splunk_hec, type: tech debt

#2847 Fix release verification.
  scripts/release-s3.sh
Labels: domain: operations

#2860 enhancement(sinks): Use to_raw_value instead of to_string in JsonArrayBuffer
  src/sinks/util/buffer/json.rs
Labels: domain: sinks, type: tech debt

#2838 fix(sinks): address potential deadlock
  src/sinks/util/http.rs
Labels: domain: sinks

#2848 enhancement(aws_s3 sink): Add content options
  .meta/sinks/aws_s3.toml.erb
  config/vector.spec.toml
  src/sinks/aws_s3.rs
  website/docs/reference/sinks/aws_s3.md
Labels: sink: aws_s3

#2865 chore(dependencies): file-source bytes update
  Cargo.lock
  lib/file-source/Cargo.toml
  src/event/mod.rs
  src/sources/file/line_agg.rs
  src/sources/file/mod.rs
Labels: domain: dependencies, type: tech debt

#2868 fix(influxdb_metrics sink): Use `i` for unsigned ints on Influx v1
  src/sinks/influxdb/logs.rs
  src/sinks/influxdb/metrics.rs
  src/sinks/influxdb/mod.rs
Labels: provider: influxdata, sink: influxdb_metrics, type: bug

#2825 enhancement(elasticsearch sink): Show client errors as warning logs
  src/sinks/elasticsearch.rs
Labels: sink: elasticsearch, type: enhancement

#2857 chore(tests): Shutdown write side only in test `tcp_stream_detects_disconnect`
  src/sinks/socket.rs
Labels: domain: tests

#2834 chore(kafka sink): Fix command for integration tests
  .github/workflows/tests.yml
  Makefile
  scripts/environment/definition.nix
  shell.nix
Labels: domain: tests, sink: kafka

#2889 chore: remove outdated uri code
  src/sinks/clickhouse.rs
  src/sinks/datadog/metrics.rs
  src/sinks/datadog/mod.rs
  src/sinks/gcp/pubsub.rs
  src/sinks/influxdb/logs.rs
  src/sinks/influxdb/mod.rs
  src/sinks/mod.rs
  src/sinks/splunk_hec.rs
Labels: type: tech debt

#2831 feat(filter transform): Adding a condition to filter using IP CIDR
  .meta/_partials/fields/_conditions_options.toml.erb
  .meta/links.toml
  Cargo.lock
  Cargo.toml
  config/vector.spec.toml
  src/conditions/check_fields.rs
  website/docs/reference/tests.md
  website/docs/reference/transforms/filter.md
  website/docs/reference/transforms/swimlanes.md
Labels: transform: filter, transform: swimlanes, type: enhancement

#2898 chore: remove contextual QA checklist
  .github/checklist.yml
  .github/workflows/pull-request.yml
Labels: type: task

#2862 chore(tests): Adjust buffering tests
  src/test_util.rs
  tests/buffering.rs
Labels: domain: tests

#2884 chore(dependencies): Remove `trust-dns` dependecies
  Cargo.lock
  Cargo.toml
Labels: domain: dependencies

#2888 chore: make HttpSink::build_request async
  src/sinks/clickhouse.rs
  src/sinks/datadog/metrics.rs
  src/sinks/elasticsearch.rs
  src/sinks/gcp/pubsub.rs
  src/sinks/gcp/stackdriver_logs.rs
  src/sinks/honeycomb.rs
  src/sinks/http.rs
  src/sinks/influxdb/logs.rs
  src/sinks/influxdb/metrics.rs
  src/sinks/influxdb/mod.rs
  src/sinks/logdna.rs
  src/sinks/loki.rs
  src/sinks/splunk_hec.rs
  src/sinks/util/http.rs
Labels: sink: http

#2895 enhancement(elasticsearch sink): add assume_role to aws auth
  .meta/sinks/elasticsearch.toml.erb
  config/vector.spec.toml
  src/sinks/aws_kinesis_firehose.rs
  src/sinks/elasticsearch.rs
  website/docs/reference/sinks/elasticsearch.md
Labels: provider: aws, sink: elasticsearch, type: enhancement

#2859 fix(elasticsearch sink): refresh AWS credentials when required
  src/sinks/elasticsearch.rs
  src/sinks/util/rusoto.rs
Labels: provider: aws, sink: elasticsearch, type: bug

#2905 chore: reduce http:0.1 usage
  Cargo.toml
  benches/http.rs
  src/region.rs
  src/sinks/aws_cloudwatch_logs/mod.rs
  src/sinks/aws_cloudwatch_metrics.rs
  src/sinks/aws_s3.rs
  src/sinks/clickhouse.rs
  src/sinks/datadog/metrics.rs
  src/sinks/elasticsearch.rs
  src/sinks/gcp/cloud_storage.rs
  src/sinks/gcp/mod.rs
  src/sinks/gcp/pubsub.rs
  src/sinks/gcp/stackdriver_logs.rs
  src/sinks/honeycomb.rs
  src/sinks/http.rs
  src/sinks/influxdb/logs.rs
  src/sinks/influxdb/metrics.rs
  src/sinks/influxdb/mod.rs
  src/sinks/logdna.rs
  src/sinks/loki.rs
  src/sinks/mod.rs
  src/sinks/new_relic_logs.rs
  src/sinks/splunk_hec.rs
  src/sinks/util/http.rs
  src/sinks/util/rusoto.rs
  src/sinks/util/test.rs
  src/sinks/util/uri.rs
  src/sources/docker.rs
  src/sources/http.rs
  src/sources/logplex.rs
  src/sources/prometheus/mod.rs
  src/sources/splunk_hec.rs
  src/transforms/aws_ec2_metadata.rs
Labels: domain: dependencies, type: tech debt

#2897 enhancement: Add SASL to kafka
  .meta/_partials/fields/_kafka_options.toml.erb
  .meta/sinks/kafka.toml.erb
  .meta/sources/kafka.toml.erb
  Cargo.toml
  config/vector.spec.toml
  docker-compose.yml
  scripts/environment/definition.nix
  src/kafka.rs
  src/sinks/kafka.rs
  src/sources/kafka.rs
  tests/data/kafka_server_jaas.conf
  website/docs/reference/sinks/kafka.md
  website/docs/reference/sources/kafka.md
Labels: sink: kafka, source: kafka, type: enhancement

#2912 chore(dependencies): remove native-tls
  Cargo.lock
  Cargo.toml
  lib/codec/Cargo.toml
Labels: domain: dependencies

#2915 chore(kafka sink): Fixup sasl related knobs to allow releases on musl
  Cargo.toml
  docker-compose.yml
  scripts/ci-docker-images/builder-x86_64-unknown-linux-gnu/Dockerfile
Labels: sink: kafka, source: kafka

#2751 enhancement(journald source): Allow remapping priority numbers to words
  .meta/sources/journald.toml.erb
  config/vector.spec.toml
  src/sources/journald.rs
  website/docs/reference/sources/journald.md
Labels: source: journald, type: enhancement

#2916 fix(aws_cloudwatch_logs sink): Handle and enforce batch.max_bytes
  .meta/sinks/aws_cloudwatch_logs.toml.erb
  config/vector.spec.toml
  src/sinks/aws_cloudwatch_logs/mod.rs
  src/sinks/aws_cloudwatch_metrics.rs
  src/sinks/aws_kinesis_firehose.rs
  src/sinks/aws_kinesis_streams.rs
  src/sinks/datadog/metrics.rs
  src/sinks/influxdb/metrics.rs
  src/sinks/util/batch.rs
  src/sinks/util/buffer/mod.rs
  src/sinks/util/buffer/vec2.rs
  src/sinks/util/mod.rs
  website/docs/reference/sinks/aws_cloudwatch_logs.md
Labels: provider: aws, sink: aws_cloudwatch_logs, type: bug

#2918 chore: Remove two unneeded files
  tests/README.md
  tests/testOutput.txt
Labels: type: task
