Repository vectordotdev/vector, pull requests merged in 2020-09, with the labels that each got.

#3627 chore(deps): remove tokio-compat
  Cargo.lock
  Cargo.toml
  src/lib.rs
  src/main.rs
  src/runtime.rs
Labels: meta: blocked, type: tech debt

#3660 chore(tests): Add gif to check-style.sh
  scripts/check-style.sh
Labels: domain: tests

#3663 fix(internal docs): Fix CODEOWNERS link
  REVIEWING.md
Labels: domain: internal docs

#3661 fix(tests): Fix Splunk integration test
  docker-compose.yml
  src/sinks/splunk_hec.rs
  src/test_util/mod.rs
Labels: domain: tests

#3658 chore: New `nginx_metrics` source RFC
  rfcs/2020-08-31-3640-nginx-metrics-source.md
Labels: domain: metrics, domain: rfcs

#3655 perf(http sink): Increase rate_limit_num to its maximum
  .meta/sinks/http.toml.erb
  src/sinks/http.rs
Labels: domain: performance, sink: http, type: enhancement

#3693 fix(http source): handle panic on HTTP request to HTTPS source
  src/tls/incoming.rs
Labels: source: http, type: bug

#3705 chore: Upgrade libz-sys to 1.1.2
  Cargo.lock
  Cargo.toml
Labels: dependencies, domain: deps

#3692 chore(tests): Retry_until
  src/sinks/splunk_hec.rs
  src/test_util/mod.rs
Labels: domain: tests

#3656 fix: rate_limit_num for GCP pubsub and cloud_storage was wrong
  src/sinks/gcp/cloud_storage.rs
  src/sinks/gcp/pubsub.rs
Labels: provider: gcp, sink: gcp_cloud_storage, sink: gcp_pubsub, type: bug

#3685 chore: migrate RouterSink to enum
  src/config/mod.rs
  src/sinks/aws_cloudwatch_logs/mod.rs
  src/sinks/aws_cloudwatch_metrics.rs
  src/sinks/aws_kinesis_firehose.rs
  src/sinks/aws_kinesis_streams.rs
  src/sinks/aws_s3.rs
  src/sinks/blackhole.rs
  src/sinks/clickhouse.rs
  src/sinks/console.rs
  src/sinks/datadog/logs.rs
  src/sinks/datadog/metrics.rs
  src/sinks/datadog/mod.rs
  src/sinks/elasticsearch.rs
  src/sinks/file/mod.rs
  src/sinks/gcp/cloud_storage.rs
  src/sinks/gcp/pubsub.rs
  src/sinks/gcp/stackdriver_logs.rs
  src/sinks/honeycomb.rs
  src/sinks/http.rs
  src/sinks/humio_logs.rs
  src/sinks/influxdb/logs.rs
  src/sinks/influxdb/metrics.rs
  src/sinks/influxdb/mod.rs
  src/sinks/kafka.rs
  src/sinks/logdna.rs
  src/sinks/loki.rs
  src/sinks/mod.rs
  src/sinks/new_relic_logs.rs
  src/sinks/papertrail.rs
  src/sinks/prometheus.rs
  src/sinks/pulsar.rs
  src/sinks/sematext_logs.rs
  src/sinks/socket.rs
  src/sinks/splunk_hec.rs
  src/sinks/statsd.rs
  src/sinks/streaming_sink/compat.rs
  src/sinks/util/auto_concurrency/tests.rs
  src/sinks/util/tcp.rs
  src/sinks/util/udp.rs
  src/sinks/util/unix.rs
  src/sinks/vector.rs
  src/sources/splunk_hec.rs
  src/sources/vector.rs
  src/topology/builder.rs
  src/topology/fanout.rs
  tests/crash.rs
  tests/support/mod.rs
Labels: domain: topology, type: tech debt

#3720 fix(observability): Fix TcpEventSent
  src/sinks/util/tcp.rs
Labels: domain: observability

#3721 docs: Type missing in the Socket sink reference docs
  .meta/sinks/socket.toml.erb
Labels: domain: external docs

#3711 chore: Make the `namespace` option on metrics sinks optional
  .meta/sinks/datadog_metrics.toml.erb
  .meta/sinks/influxdb_metrics.toml.erb
  .meta/sinks/prometheus.toml.erb
  .meta/sinks/statsd.toml.erb
  src/sinks/datadog/metrics.rs
  src/sinks/influxdb/logs.rs
  src/sinks/influxdb/metrics.rs
  src/sinks/influxdb/mod.rs
  src/sinks/prometheus.rs
  src/sinks/statsd.rs
  src/sinks/util/mod.rs
  src/sources/prometheus/mod.rs
  src/sources/statsd/mod.rs
Labels: domain: config, domain: sinks

#3730 enhancement(swimlanes transform): Add internal events
  src/internal_events/mod.rs
  src/internal_events/swimlanes.rs
  src/transforms/swimlanes.rs
Labels: domain: observability, transform: swimlanes, type: enhancement

#3648 docs(rfcs): GraphQL API communications
  rfcs/2020-08-31-3645-graphql-api.md
  rfcs/2020-08-31-3645-graphql-api/heartbeat.png
  rfcs/2020-08-31-3645-graphql-api/screenshot.png
  rfcs/2020-08-31-3645-graphql-api/video.gif
Labels: domain: rfcs

#3513 chore(lua transform): Add events to lua v2 transform.
  src/internal_events/lua.rs
  src/transforms/lua/v2/mod.rs
Labels: domain: observability, transform: lua

#3719 chore(deps): update warp 0.2.4 (git) to 0.2.5
  Cargo.lock
  Cargo.toml
Labels: domain: deps

#3765 fix(ci): add deny.toml
  deny.toml
Labels: domain: security

#3743 chore: remove compat from sinks healthchecks
  src/sinks/aws_cloudwatch_logs/mod.rs
  src/sinks/aws_cloudwatch_metrics.rs
  src/sinks/aws_kinesis_firehose.rs
  src/sinks/aws_kinesis_streams.rs
  src/sinks/aws_s3.rs
  src/sinks/blackhole.rs
  src/sinks/clickhouse.rs
  src/sinks/console.rs
  src/sinks/datadog/logs.rs
  src/sinks/datadog/metrics.rs
  src/sinks/elasticsearch.rs
  src/sinks/file/mod.rs
  src/sinks/gcp/cloud_storage.rs
  src/sinks/gcp/pubsub.rs
  src/sinks/gcp/stackdriver_logs.rs
  src/sinks/honeycomb.rs
  src/sinks/http.rs
  src/sinks/influxdb/logs.rs
  src/sinks/influxdb/mod.rs
  src/sinks/kafka.rs
  src/sinks/logdna.rs
  src/sinks/loki.rs
  src/sinks/mod.rs
  src/sinks/papertrail.rs
  src/sinks/prometheus.rs
  src/sinks/pulsar.rs
  src/sinks/splunk_hec.rs
  src/sinks/statsd.rs
  src/sinks/util/auto_concurrency/tests.rs
  src/sinks/util/tcp.rs
  src/sinks/util/udp.rs
  src/sinks/util/unix.rs
  src/sinks/vector.rs
  src/sources/splunk_hec.rs
  src/topology/builder.rs
  tests/crash.rs
  tests/support/mod.rs
Labels: type: tech debt

#3770 fix(gcp_cloud_storage sink): apply encoding rules after key prefix
  src/sinks/gcp/cloud_storage.rs
Labels: sink: gcp_cloud_storage

#3774 chore(observability): Make counters naming consistent
  src/internal_events/coercer.rs
  src/internal_events/grok_parser.rs
  src/internal_events/json_parser.rs
  src/internal_events/regex_parser.rs
Labels: domain: observability

#3775 fix(loki sink): apply encoding rules right before encoding
  src/sinks/loki.rs
Labels: sink: loki, type: bug

#3341 feat(new transform): New `remap` transform
  .meta/transforms/remap.toml.erb
  Cargo.lock
  Cargo.toml
  benches/bench.rs
  src/event/mod.rs
  src/event/util/log/get.rs
  src/event/util/log/mod.rs
  src/internal_events/mod.rs
  src/internal_events/remap.rs
  src/lib.rs
  src/mapping/mod.rs
  src/mapping/parser/grammar.pest
  src/mapping/parser/mod.rs
  src/mapping/query/arithmetic.rs
  src/mapping/query/functions.rs
  src/mapping/query/mod.rs
  src/mapping/query/path.rs
  src/transforms/mod.rs
  src/transforms/remap.rs
  src/types.rs
  tests/behavior/transforms/remap.toml
Labels: domain: transforms

#3726 enhancement(log_to_metric transform): Add support for `summary` metric
  src/transforms/log_to_metric.rs
Labels: domain: metrics, transform: log_to_metric, type: enhancement

#3772 chore(tests): test_util::next_addr -- pick available port
  Cargo.lock
  Cargo.toml
  src/test_util/mod.rs
Labels: domain: tests

#3782 fix(journald source): Enhance checkpoint errors with file name
  src/sources/journald.rs
Labels: source: journald, type: bug

#3785 fix(ci): update next_addr_v6
  src/test_util/mod.rs
Labels: domain: tests, type: bug

#3804 fix(networking): Rework auto concurrency backpressure logic
  src/sinks/util/auto_concurrency/controller.rs
  src/sinks/util/auto_concurrency/tests.rs
Labels: domain: networking, domain: performance, type: bug

#3622 chore: Remove docker-compose from integration tests
  .github/workflows/e2e.yml
  .github/workflows/install-sh.yml
  .github/workflows/lints.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  Makefile
  docker-compose.yml
  scripts/docker-compose-run.sh
  scripts/docker-run.sh
  scripts/run.sh
  scripts/test-e2e-kubernetes.sh
  scripts/test-integration-aws.sh
  scripts/test-integration-clickhouse.sh
  scripts/test-integration-docker.sh
  scripts/test-integration-elasticsearch.sh
  scripts/test-integration-gcp.sh
  scripts/test-integration-humio.sh
  scripts/test-integration-influxdb.sh
  scripts/test-integration-kafka.sh
  scripts/test-integration-loki.sh
  scripts/test-integration-pulsar.sh
  scripts/test-integration-splunk.sh
Labels: ci-condition: k8s e2e all targets, domain: ci

#3614 chore: Generate Kubernetes distribution YAMLs from Helm Chart
  .github/CODEOWNERS
  .github/workflows/lints.yml
  Makefile
  distribution/helm/vector/templates/configmap.yaml
  distribution/helm/vector/templates/daemonset.yaml
  distribution/helm/vector/templates/rbac.yaml
  distribution/kubernetes/kustomization.yaml
  distribution/kubernetes/vector-global.yaml
  distribution/kubernetes/vector-namespaced.yaml
  distribution/kubernetes/vector.yaml
  kustomization.yaml
  scripts/deploy-kubernetes-test.sh
  scripts/kubernetes-yaml.sh
  scripts/kubernetes-yaml/values.yaml
Labels: ci-condition: k8s e2e all targets

#3621 chore: Add some additional Event impls
  src/event/log_event.rs
  src/event/mod.rs
Labels: domain: data model

#3802 chore(networking): Rework internal auto concurrency tests
  src/sinks/util/auto_concurrency/tests.rs
  src/test_util/mod.rs
  tests/data/auto-concurrency-template.toml
  tests/data/auto-concurrency/constant-link.toml
  tests/data/auto-concurrency/defers-at-high-concurrency.toml
  tests/data/auto-concurrency/drops-at-high-concurrency.toml
  tests/data/auto-concurrency/fixed-concurrency.toml
  tests/data/auto-concurrency/jittery-link-small.toml
  tests/data/auto-concurrency/medium-send.toml
  tests/data/auto-concurrency/slow-link.toml
  tests/data/auto-concurrency/slow-send-1.toml
  tests/data/auto-concurrency/slow-send-2.toml
Labels: domain: networking, domain: performance, domain: tests, type: tech debt

#3657 chore(platforms): Migrate x86 gnu target to cross, add new aarch64 gnu target (no sasl)
  .github/workflows/e2e.yml
  .github/workflows/tests.yml
  Cargo.toml
  Makefile
  distribution/rpm/vector.spec
  docker-compose.yml
Labels: domain: platforms, platform: arm64, platform: centos, platform: debian, platform: docker, platform: dpkg, platform: nix, platform: rpm, platform: ubuntu, platform: x86_64

#3831 chore: Added cross installation to fix nightly builds
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Labels: domain: ci

#3832 chore: Fix Debian post-install process to reload systemd daemons
  distribution/debian/scripts/postinst
  distribution/debian/scripts/preinst
Labels: platform: debian

#3842 chore: Added workflow_dispatch for the env workflow
  .github/workflows/environment.yml
Labels: domain: ci

#3766 fix: apply encoding rules in sinks
  src/sinks/aws_kinesis_streams.rs
  src/sinks/datadog/logs.rs
  src/sinks/gcp/stackdriver_logs.rs
  src/sinks/influxdb/logs.rs
  src/sinks/kafka.rs
  src/sinks/logdna.rs
  src/sinks/papertrail.rs
  src/sinks/pulsar.rs
  src/sinks/splunk_hec.rs
  src/sinks/util/mod.rs
Labels: sink: aws_kinesis_firehose, sink: datadog_logs, sink: gcp_stackdriver_logs, sink: influxdb_logs, sink: kafka, sink: logdna, sink: papertrail, sink: pulsar, sink: splunk_hec, type: bug

#3856 chore(windows platform): Windows support for ENVIRONMENT=true
  Makefile
  scripts/environment/Dockerfile
  scripts/environment/bootstrap-ubuntu-20.04.sh
  scripts/environment/prepare.sh
Labels: platform: windows

#3867 chore: Added back docker push to environment workflow
  .github/workflows/environment.yml
Labels: domain: ci

#3869 chore: correct linger misbehavior
  src/sinks/util/sink.rs
Labels: sink: http

#3865 chore: Add PHONY per target in makefile
  Makefile
Labels: domain: administration

#3793 docs: Add JMX metrics RFC
  rfcs/2020-07-28-3642-jmx_rfc.md
Labels: domain: metrics, domain: rfcs

#3826 chore: introduce Stream variant in VectorSink enum
  benches/isolated_buffering.rs
  src/sinks/aws_cloudwatch_logs/mod.rs
  src/sinks/aws_cloudwatch_metrics.rs
  src/sinks/aws_kinesis_firehose.rs
  src/sinks/aws_kinesis_streams.rs
  src/sinks/aws_s3.rs
  src/sinks/blackhole.rs
  src/sinks/clickhouse.rs
  src/sinks/console.rs
  src/sinks/datadog/logs.rs
  src/sinks/elasticsearch.rs
  src/sinks/file/mod.rs
  src/sinks/influxdb/logs.rs
  src/sinks/influxdb/metrics.rs
  src/sinks/kafka.rs
  src/sinks/logdna.rs
  src/sinks/mod.rs
  src/sinks/new_relic_logs.rs
  src/sinks/papertrail.rs
  src/sinks/pulsar.rs
  src/sinks/socket.rs
  src/sinks/splunk_hec.rs
  src/sinks/statsd.rs
  src/sinks/streaming_sink/compat.rs
  src/sinks/streaming_sink/mod.rs
  src/sinks/util/mod.rs
  src/sinks/util/sink.rs
  src/sinks/util/tcp.rs
  src/sinks/util/udp.rs
  src/sinks/util/unix.rs
  src/sinks/vector.rs
  src/sources/splunk_hec.rs
  src/sources/vector.rs
  src/test_util/mod.rs
  src/topology/builder.rs
  tests/buffering.rs
  tests/support/mod.rs
Labels: type: tech debt

#3846 enhancement(influxdb_metrics sink): Support `summary` statistic
  src/sinks/influxdb/metrics.rs
Labels: domain: metrics, sink: influxdb_metrics, type: enhancement

#3725 enhancement(datadog_metrics sink): Support datadog `distribution` metric
  src/sinks/datadog/metrics.rs
  src/sinks/util/service.rs
Labels: domain: metrics, sink: datadog_metrics, type: enhancement

#3850 fix(observability): Regularize internal event messages
  .github/workflows/lints.yml
  Makefile
  scripts/check-internal-events.sh
  scripts/environment/bootstrap-ubuntu-20.04.sh
  src/internal_events/add_fields.rs
  src/internal_events/ansi_stripper.rs
  src/internal_events/docker.rs
  src/internal_events/elasticsearch.rs
  src/internal_events/file.rs
  src/internal_events/heartbeat.rs
  src/internal_events/http.rs
  src/internal_events/kafka.rs
  src/internal_events/kubernetes/api_watcher.rs
  src/internal_events/kubernetes/instrumenting_watcher.rs
  src/internal_events/kubernetes/reflector.rs
  src/internal_events/kubernetes_logs.rs
  src/internal_events/logplex.rs
  src/internal_events/prometheus.rs
  src/internal_events/regex_parser.rs
  src/internal_events/socket.rs
  src/internal_events/split.rs
  src/internal_events/splunk_hec.rs
  src/internal_events/statsd.rs
  src/internal_events/stdin.rs
  src/internal_events/syslog.rs
  src/internal_events/tag_cardinality_limit.rs
  src/internal_events/tcp.rs
  src/internal_events/unix.rs
  src/internal_events/vector.rs
Labels: domain: observability

#3855 fix(reload): Recreate trigger
  src/main.rs
  src/topology/mod.rs
  tests/shutdown.rs
Labels: domain: reload

#3824 enhancement: Enable tls by default for `papertrail` and `datadog_logs` sinks
  .meta/_partials/fields/_kafka_options.toml.erb
  .meta/_partials/fields/_tls_connector_options.toml.erb
  .meta/sinks/datadog_logs.toml.erb
  .meta/sinks/papertrail.toml.erb
  .meta/sinks/socket.toml.erb
  .meta/sinks/vector.toml.erb
  src/sinks/datadog/logs.rs
  src/sinks/papertrail.rs
  src/tls/settings.rs
Labels: sink: datadog_logs, sink: papertrail

#3890 chore(rpm platform): Fixup rpm builds to support new tarballs
  distribution/rpm/vector.spec
Labels: domain: administration, platform: rpm

#3877 chore: Remove cpan
  scripts/ci-docker-images/builder-x86_64-unknown-linux-gnu/Dockerfile
  scripts/package-deb.sh
Labels: domain: administration

#3876 chore(windows platform): Support tarball generation on Windows
  Makefile
Labels: domain: administration, platform: windows

#3827 chore(data model): Event fixture tests and `is_$TYPE()` functions
  src/event/log_event.rs
  src/event/value.rs
  tests/data/fixtures/README.md
  tests/data/fixtures/log_event/malformed.json
  tests/data/fixtures/log_event/motivatingly-complex.json
  tests/data/fixtures/value/array/generic.json
  tests/data/fixtures/value/boolean/false.json
  tests/data/fixtures/value/boolean/true.json
  tests/data/fixtures/value/bytes/cn.json
  tests/data/fixtures/value/bytes/emoji.json
  tests/data/fixtures/value/bytes/friendly.json
  tests/data/fixtures/value/bytes/ios-crashers.json
  tests/data/fixtures/value/bytes/jp-emoji.json
  tests/data/fixtures/value/bytes/quotes.json
  tests/data/fixtures/value/bytes/rtl.json
  tests/data/fixtures/value/bytes/saanich.json
  tests/data/fixtures/value/bytes/zalgo.json
  tests/data/fixtures/value/integer/forty-two.json
  tests/data/fixtures/value/integer/maxint_32.json
  tests/data/fixtures/value/integer/maxint_64.json
  tests/data/fixtures/value/map/motivatingly-complex.json
  tests/data/fixtures/value/null/null.json
Labels: domain: data model

#3920 chore(rpm platform): Fixup tar params
  distribution/rpm/vector.spec
Labels: platform: rpm

#3895 chore(deps): Upgrade base64
  Cargo.lock
  Cargo.toml
Labels: domain: deps

#3932 chore: Remove apt upgrade step
  .github/workflows/tests.yml
  scripts/environment/bootstrap-ubuntu-20.04.sh
Labels: domain: ci

#3936 chore: Do not run http_headers_auth_conflict() on OSX
  src/sinks/http.rs
Labels: domain: tests

#3934 chore(rpm platform): Resolve tarball differences
  Makefile
Labels: platform: rpm

#3938 chore: Added update grub to fix bootstrap
  scripts/environment/bootstrap-ubuntu-20.04.sh
Labels: domain: ci

#3962 chore: Fix grub to work in both CI and Docker containers
  scripts/environment/bootstrap-ubuntu-20.04.sh
Labels: domain: ci

#3985 chore: Fix strip components call for creating rpms
  distribution/rpm/vector.spec
Labels: platform: rpm

#3986 chore: Refactor package steps to simplify them
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  Makefile
  docker-compose.yml
Labels: domain: ci

#3987 chore: Remove remaining -all jobs
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Labels: domain: ci

#3708 feat(observability): API GraphQL, round 2
  Cargo.lock
  Cargo.toml
  src/api/handler.rs
  src/api/mod.rs
  src/api/schema/health.rs
  src/api/schema/metrics.rs
  src/api/schema/mod.rs
  src/api/server.rs
  src/config/api.rs
  src/config/builder.rs
  src/config/compiler.rs
  src/config/mod.rs
  src/config/unit_test.rs
  src/event/mod.rs
  src/internal_events/api.rs
  src/internal_events/generator.rs
  src/internal_events/mod.rs
  src/lib.rs
  src/main.rs
  src/sources/generator.rs
  tests/api.rs
Labels: domain: observability, type: feature

#4001 docs: Added apt and rpm repos to Metadata
  .meta/installation/interfaces.toml
  .meta/installation/operating_systems.toml
  .meta/installation/package_managers.toml
  .meta/links.toml
Labels: domain: external docs

#3974 chore: Removed test_max_size test from buffering.rs due to flakiness
  tests/buffering.rs
Labels: domain: ci, domain: tests

#3989 feat(remap transform): accept more timestamp patterns in `to_timestamp`
  src/mapping/query/functions.rs
Labels: transform: remap, type: enhancement

#4012 chore: Remove remove_file_test
  src/sources/file.rs
Labels: domain: ci, domain: tests

#3882 chore: Added Cloudsmith release workflow
  .github/workflows/nightly-cloudsmith-test.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Labels: domain: administration, domain: ci

#4018 enhancement(kubernetes_logs): Include container_name in kubernetes_logs
  .meta/sources/kubernetes_logs.toml.erb
  src/sources/kubernetes_logs/pod_metadata_annotator.rs
  tests/kubernetes-e2e.rs
Labels: ci-condition: k8s e2e all targets

#4030 fix: Add reconnect loop to `TcpSink`
  src/sinks/socket.rs
  src/sinks/util/tcp.rs
Labels: domain: sinks

#4038 chore: Do not copy in init.d to rpmbuild process as it is no longer used by the RPM
  scripts/package-rpm.sh
Labels: platform: rpm

#4010 chore: Re-enable all integration tests
  .github/workflows/tests.yml
  Makefile
  src/sinks/gcp/pubsub.rs
  src/sinks/humio_logs.rs
Labels: domain: ci, domain: tests

#3833 fix(gcp_stackdriver_logs sink): Insert timestamp into message
  src/sinks/gcp/stackdriver_logs.rs
Labels: provider: gcp, type: bug

#4053 chore: Update the hostname crate to 0.3.1
  Cargo.lock
  Cargo.toml
  src/config/loading.rs
  src/lib.rs
  src/sources/file.rs
  src/sources/stdin.rs
Labels: type: tech debt

#4050 chore: Remove retry until after timeout test
  src/test_util/mod.rs
  src/transforms/lua/v2/interop/event.rs
Labels: domain: ci, domain: tests

#4051 chore(ci): Update the Kubernetes versions we test against at CI (1.19.2)
  .github/workflows/e2e.yml
Labels: ci-condition: k8s e2e all targets

#4074 chore: Remove unused cloudsmith job and changed test_harness trigger
  .github/workflows/nightly-cloudsmith-test.yml
  .github/workflows/test-harness.yml
Labels: domain: ci, domain: tests

#4043 fix(kubernetes_logs source): Start reading logs at checkpoint
  src/sources/kubernetes_logs/mod.rs
Labels: ci-condition: k8s e2e all targets

#3927 feat(remap transform): named function arguments
  benches/bench.rs
  src/event/value.rs
  src/main.rs
  src/mapping/parser/grammar.pest
  src/mapping/parser/mod.rs
  src/mapping/query/functions.rs
  src/mapping/query/mod.rs
  tests/behavior/transforms/remap.toml
Labels: transform: remap, type: enhancement

#4081 chore: Add vector to systemd-journal on Debian and RPM
  distribution/debian/scripts/postinst
  distribution/rpm/vector.spec
Labels: platform: debian, platform: rpm

#4080 chore(remap transform): split up functions into separate modules
  src/mapping/parser/mod.rs
  src/mapping/query/function/downcase.rs
  src/mapping/query/function/md5.rs
  src/mapping/query/function/mod.rs
  src/mapping/query/function/not.rs
  src/mapping/query/function/now.rs
  src/mapping/query/function/parse_json.rs
  src/mapping/query/function/parse_timestamp.rs
  src/mapping/query/function/sha1.rs
  src/mapping/query/function/strip_whitespace.rs
  src/mapping/query/function/to_bool.rs
  src/mapping/query/function/to_float.rs
  src/mapping/query/function/to_int.rs
  src/mapping/query/function/to_string.rs
  src/mapping/query/function/to_timestamp.rs
  src/mapping/query/function/truncate.rs
  src/mapping/query/function/upcase.rs
  src/mapping/query/function/uuid_v4.rs
  src/mapping/query/functions.rs
  src/mapping/query/mod.rs
Labels: domain: mapping, transform: remap, type: tech debt

#4078 chore: Remove Docker nightly-date images and nightly-debian
  scripts/build-docker.sh
Labels: domain: ci, platform: docker

#3816 chore: Use upstream leveldb
  Cargo.lock
  Cargo.toml
Labels: domain: buffers

#4025 fix(windows platform): Update tokio signal to avoid unnecessary shutdowns.
  Cargo.lock
  Cargo.toml
  src/config/watcher.rs
  src/main.rs
  src/signal.rs
Labels: domain: deps, platform: windows, type: bug

#3778 enhancement(observability): GraphQL client
  Cargo.lock
  Cargo.toml
  graphql/queries/health.graphql
  graphql/schema.json
  graphql/subscriptions/events_processed_metrics.graphql
  graphql/subscriptions/heartbeat.graphql
  graphql/subscriptions/uptime_metrics.graphql
  src/api/client/mod.rs
  src/api/client/subscription.rs
  src/api/mod.rs
  src/api/schema/gen.rs
  src/internal_events/api.rs
  tests/api.rs
Labels: domain: observability

#4095 fix: Fix tokio signal behavior to handle a loop of signals
  src/signal.rs
Labels: domain: shutdown

#4011 chore(metrics): Enhance comments on the internals
  src/event/metric.rs
  src/sinks/util/buffer/metrics.rs
Labels: domain: metrics, type: tech debt

#3681 docs: Added MongoDB sink RFC
  rfcs/2020-08-31-3641-mongo-metrics.md
Labels: domain: metrics, domain: rfcs

#4075 feat(remap transform): add `format_timestamp` function
  src/mapping/parser/mod.rs
  src/mapping/query/function/format_timestamp.rs
  src/mapping/query/function/mod.rs
  tests/behavior/transforms/remap.toml
Labels: domain: mapping, transform: remap, type: feature

#4090 feat(remap transform): add `contains` function
  src/mapping/parser/mod.rs
  src/mapping/query/function/contains.rs
  src/mapping/query/function/mod.rs
  tests/behavior/transforms/remap.toml
Labels: domain: mapping, transform: remap, type: feature

#4092 feat(remap transform): add `slice` function
  src/mapping/parser/mod.rs
  src/mapping/query/function/mod.rs
  src/mapping/query/function/slice.rs
  tests/behavior/transforms/remap.toml
Labels: domain: mapping, transform: remap, type: feature

#4093 feat(remap transform): add `tokenize` function
  Cargo.toml
  src/event/value.rs
  src/mapping/parser/mod.rs
  src/mapping/query/function/mod.rs
  src/mapping/query/function/tokenize.rs
  src/transforms/tokenizer.rs
  src/transforms/util/mod.rs
  src/transforms/util/tokenize.rs
  tests/behavior/transforms/remap.toml
Labels: domain: mapping, transform: remap, type: feature

#3933 chore(prometheus sink): update to StreamSink
  src/sinks/prometheus.rs
Labels: sink: prometheus, type: tech debt

#4171 fix(ci): fix clippy warnings for integration tests
  src/sinks/aws_cloudwatch_logs/mod.rs
  src/sinks/aws_s3.rs
  src/sinks/elasticsearch.rs
  src/sinks/gcp/pubsub.rs
  src/sinks/humio_logs.rs
  src/sinks/influxdb/logs.rs
  src/sinks/influxdb/metrics.rs
  src/sinks/loki.rs
Labels: domain: ci, meta: regression, sink: loki, type: bug

#3929 chore(blackhole sink): update to StreamSink
  src/sinks/blackhole.rs
Labels: sink: blackhole, type: tech debt

#4020 enhancement(kubernetes_logs): Add container_image and pod_node_name annotations
  .meta/sources/kubernetes_logs.toml.erb
  src/sources/kubernetes_logs/pod_metadata_annotator.rs
  tests/kubernetes-e2e.rs
Labels: ci-condition: k8s e2e all targets

#4088 fix(add_fields transform): Emit overwrite logs as debug
  src/internal_events/add_fields.rs
Labels: transform: add_fields, type: bug

#4183 chore: Add matcher to tests
  .github/workflows/tests.yml
Labels: domain: tests

#4034 fix(socket sink): Emit warning on incomplete UDP sent
  src/internal_events/mod.rs
  src/internal_events/udp.rs
  src/sinks/util/udp.rs
Labels: domain: networking, sink: socket

#4170 feat(remap transform): add `strip_ansi_escape_codes` function
  src/mapping/parser/mod.rs
  src/mapping/query/function/mod.rs
  src/mapping/query/function/strip_ansi_escape_codes.rs
Labels: domain: mapping, transform: remap, type: feature

#4008 chore: Run clippy on all tests
  Cargo.toml
  Makefile
Labels: domain: tests, type: tech debt

#4187 fix(tests): Fix uptime_metrics GraphQL/API tests
  graphql/subscriptions/uptime_metrics.graphql
  tests/api.rs
Labels: domain: tests, type: bug

#4094 fix(reload): Recompute configuration paths
  src/config/loading.rs
  src/main.rs
  src/transforms/lua/v2/mod.rs
  tests/shutdown.rs
Labels: domain: reload

#4102 fix(reload): Wait on Windows after components shutdown
  src/topology/mod.rs
Labels: domain: reload, domain: topology

#4185 chore: Add CAP_NET_BIND_SERVICE to systemd
  distribution/systemd/vector.service
Labels: platform: debian, platform: rpm

#4192 fix: Do not serialize None in in-flight config
  src/sinks/util/service.rs
Labels: domain: config, type: bug

#4188 feat(remap transform): add `sha2` function
  Cargo.lock
  Cargo.toml
  src/mapping/parser/mod.rs
  src/mapping/query/function/mod.rs
  src/mapping/query/function/sha2.rs
  tests/behavior/transforms/remap.toml
Labels: domain: mapping, transform: remap, type: feature

#4195 chore: Sweep CI
  .github/workflows/benches.yml
  .github/workflows/e2e.yml
  .github/workflows/environment.yml
  .github/workflows/lints.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  Cargo.toml
  Makefile
  scripts/environment/bootstrap-ubuntu-20.04.sh
  scripts/slim-builds.sh
Labels: domain: ci

#4066 feat: A new internal lookup
  Cargo.toml
  benches/bench.rs
  benches/lookup.rs
  benches/lua.rs
  rfcs/2020-05-25-2692-more-usable-logevents.md
  src/config/unit_test.rs
  src/event/log_event.rs
  src/event/lookup/mod.rs
  src/event/lookup/segment.rs
  src/event/lookup/test.rs
  src/event/mod.rs
  src/event/util/log/mod.rs
  src/event/value.rs
  src/mapping/parser/grammar.pest
  src/mapping/parser/mod.rs
  src/mapping/query/function/slice.rs
  src/mapping/query/function/strip_ansi_escape_codes.rs
  src/sources/docker.rs
  src/sources/http.rs
  src/sources/kafka.rs
  src/sources/splunk_hec.rs
  src/transforms/add_fields.rs
  src/transforms/concat.rs
  src/transforms/dedupe.rs
  src/transforms/logfmt_parser.rs
  src/transforms/lua/v1/mod.rs
  src/transforms/merge.rs
  src/transforms/regex_parser.rs
  src/transforms/remove_fields.rs
  src/transforms/rename_fields.rs
  src/transforms/split.rs
  src/transforms/tokenizer.rs
  tests/data/fixtures/lookup/basic
  tests/data/fixtures/lookup/deep_indexed_end
  tests/data/fixtures/lookup/index_multiple
  tests/data/fixtures/lookup/index_nested
  tests/data/fixtures/lookup/index_single
  tests/data/fixtures/lookup/nested_quoted
  tests/data/fixtures/lookup/quoted
  tests/data/fixtures/lookup/quoted_multiple
  tests/data/fixtures/lookup/sufficiently_complex
Labels: domain: data model

#4227 chore: Remove grub-efi workaround
  scripts/environment/bootstrap-ubuntu-20.04.sh
Labels: domain: ci
