Repository vectordotdev/vector, pull requests merged in 2020-01, with the labels that each got.

#1458 enhancement(splunk_hec source): Provide timestamp
  src/sources/splunk_hec.rs
Labels: source: splunk_hec

#1413 chore(testing): Add retry logic to `kubernetes source` tests
  src/sources/kubernetes/test.rs
Labels: domain: testing, type: tech debt

#1476 perf(file source): Backoff reads to inactive files
  lib/file-source/src/file_server.rs
  lib/file-source/src/file_watcher.rs
  src/sources/file.rs
Labels: source: file, type: performance

#1494 chore(config)!: Rename `basic_auth` to `auth` and unflatten
  .meta/sinks/aws_cloudwatch_logs.toml
  .meta/sinks/aws_cloudwatch_metrics.toml
  .meta/sinks/aws_kinesis_firehose.toml
  .meta/sinks/aws_kinesis_streams.toml
  .meta/sinks/aws_s3.toml
  .meta/sinks/clickhouse.toml
  .meta/sinks/datadog_metrics.toml
  .meta/sinks/elasticsearch.toml
  .meta/sinks/gcp_pubsub.toml
  .meta/sinks/http.toml
  .meta/sinks/kafka.toml
  .meta/sinks/new_relic_logs.toml
  .meta/sinks/splunk_hec.toml
  config/vector.spec.toml
  scripts/generate/templates/_partials/_component_sections.md.erb
  scripts/util/metadata/sink.rb
  src/sinks/aws_kinesis_firehose.rs
  src/sinks/clickhouse.rs
  src/sinks/elasticsearch.rs
  src/sinks/http.rs
  src/sinks/new_relic_logs.rs
  src/sinks/util/http.rs
  tests/config.rs
  website/docs/reference/sinks/clickhouse.md
  website/docs/reference/sinks/elasticsearch.md
  website/docs/reference/sinks/http.md
  website/metadata.js
  website/src/components/VectorComponents/index.js
Labels: needs: docs

#1006 enhancement(networking)!: Fibonacci instead of fixed backoff
  .meta/sinks/aws_cloudwatch_logs.toml
  .meta/sinks/aws_kinesis_firehose.toml
  .meta/sinks/aws_kinesis_streams.toml
  .meta/sinks/aws_s3.toml
  .meta/sinks/clickhouse.toml
  .meta/sinks/datadog_metrics.toml
  .meta/sinks/elasticsearch.toml
  .meta/sinks/gcp_pubsub.toml
  .meta/sinks/http.toml
  .meta/sinks/new_relic_logs.toml
  .meta/sinks/splunk_hec.toml
  config/vector.spec.toml
  scripts/util/metadata/batching_sink.rb
  src/sinks/util/retries.rs
  src/sinks/util/service.rs
  tests/config.rs
  website/docs/reference/sinks/aws_cloudwatch_logs.md
  website/docs/reference/sinks/aws_kinesis_firehose.md
  website/docs/reference/sinks/aws_kinesis_streams.md
  website/docs/reference/sinks/aws_s3.md
  website/docs/reference/sinks/clickhouse.md
  website/docs/reference/sinks/datadog_metrics.md
  website/docs/reference/sinks/elasticsearch.md
  website/docs/reference/sinks/gcp_pubsub.md
  website/docs/reference/sinks/http.md
  website/docs/reference/sinks/new_relic_logs.md
  website/docs/reference/sinks/splunk_hec.md
Labels: meta: breaking change

#1457 enhancement(splunk_hec source)!: Rename `line` field to `messag…
  src/event/flatten.rs
  src/sources/splunk_hec.rs
Labels: source: splunk_hec

#1541 feat(new transform): Initial `logfmt_parser` transform impl
  .github/semantic.yml
  .meta/transforms/logfmt_parser.toml
  Cargo.lock
  Cargo.toml
  README.md
  config/vector.spec.toml
  src/transforms/logfmt_parser.rs
  src/transforms/mod.rs
  website/docs/reference/transforms/logfmt_parser.md
  website/docs/reference/transforms/logfmt_parser.md.erb
  website/metadata.js
  website/sidebars.js
Labels: type: new feature

#1554 enhancement(aws_cloudwatch_logs sink): add assume_role
  .meta/links.toml
  .meta/sinks/aws_cloudwatch_logs.toml
  Cargo.lock
  Cargo.toml
  config/vector.spec.toml
  src/sinks/aws_cloudwatch_logs/mod.rs
  website/docs/reference/sinks/aws_cloudwatch_logs.md
Labels: sink: aws_cloudwatch_logs, type: enhancement

#1540 feat(new source): Initial `logplex` source implementation
  .github/semantic.yml
  .meta/links.toml
  .meta/sources/logplex.toml
  README.md
  config/vector.spec.toml
  src/sources/logplex.rs
  src/sources/mod.rs
  website/docs/reference/sources/logplex.md
  website/docs/reference/sources/logplex.md.erb
  website/metadata.js
  website/sidebars.js
Labels: type: new feature

#1564 enhancement(observability): enable more logging by default
  src/sinks/aws_cloudwatch_logs/mod.rs
  src/sinks/aws_cloudwatch_logs/request.rs
  src/sources/logplex.rs
Labels: domain: observability, sink: aws_cloudwatch_logs

#1525 fix(docker source): Always check containers for self
  src/sources/docker.rs
Labels: domain: sources, source: docker

#1627 fix(journald source): Fix the journalctl start date to work across all timezones
  src/sources/journald.rs
Labels: source: journald, type: bug

#1636 feat(coercer transform): Add option to drop unspecified fields
  .meta/transforms/coercer.toml
  config/vector.spec.toml
  src/event/mod.rs
  src/transforms/coercer.rs
  website/docs/reference/transforms/coercer.md
Labels: domain: transforms, transform: coercer, type: enhancement
