Repository vectordotdev/vector, pull requests merged in 2020-12, with the labels that each got.

#5292 chore(graphql api): Async-graphql 2.1.6
  Cargo.lock
  Cargo.toml
Labels: domain: graphql api

#5305 chore(statsd source): remove futures01::Stream from statsd tests
  src/sources/statsd/mod.rs
Labels: source: statsd, type: tech debt

#5215 enhancement(file source): unify checksum methods
  lib/file-source/src/checkpointer.rs
  lib/file-source/src/file_server.rs
  lib/file-source/src/fingerprinter.rs
  src/sources/file.rs
  src/sources/kubernetes_logs/mod.rs
Labels: source: file

#5298 enhancement(socket source): Add UNIX datagram mode
  docs/reference/components/sources/socket.cue
  src/sources/socket/mod.rs
  src/sources/socket/unix.rs
  src/sources/statsd/unix.rs
  src/sources/syslog.rs
  src/sources/util/mod.rs
  src/sources/util/unix_datagram.rs
  src/sources/util/unix_stream.rs
Labels: domain: networking, source: socket, type: enhancement

#5337 fix(prometheus sink): change logs level on request
  src/internal_events/prometheus.rs
Labels: sink: prometheus, type: bug

#5278 enhancement(remap): add support for literal arrays
  lib/remap-lang/grammar.pest
  lib/remap-lang/src/error.rs
  lib/remap-lang/src/expression.rs
  lib/remap-lang/src/expression/array.rs
  lib/remap-lang/src/lib.rs
  lib/remap-lang/src/parser.rs
Labels: domain: remap, type: enhancement

#5283 enhancement(remap): accept array of arguments for function parameters
  lib/remap-lang/grammar.pest
  lib/remap-lang/src/error.rs
  lib/remap-lang/src/expression.rs
  lib/remap-lang/src/expression/array.rs
  lib/remap-lang/src/expression/function.rs
  lib/remap-lang/src/expression/literal.rs
  lib/remap-lang/src/function.rs
  lib/remap-lang/src/lib.rs
  lib/remap-lang/src/parser.rs
  lib/remap-lang/src/prelude.rs
  src/remap/function/replace.rs
  src/remap/function/split.rs
Labels: domain: remap, type: enhancement

#5342 chore: Add musl-based RPM for Centos 7 support
  .github/workflows/k8s_e2e.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  Makefile
  scripts/package-rpm.sh
  scripts/test-e2e-kubernetes.sh
Labels: domain: ci, platform: rpm

#5361 chore(ci): Correct the version notation for the nightly Helm charts
  scripts/release-helm.sh
Labels: domain: ci, platform: kubernetes

#5355 fix(elasticsearch sink): set content encoding header when compression is on
  src/sinks/elasticsearch.rs
Labels: sink: elasticsearch, type: bug

#5380 chore(ci): Simplify type selection
  Makefile
  scripts/package-rpm.sh
Labels: domain: ci

#5297 feat(remap): add `redact` function
  src/remap/function.rs
  src/remap/function/redact.rs
  src/remap/mod.rs
  tests/behavior/transforms/remap.toml
Labels: domain: remap, type: feature

#4854 enhancement(kubernetes platform): Support exposing internal mertics out of the box in our Helm charts
  Cargo.lock
  distribution/helm/vector-agent/templates/configmap.yaml
  distribution/helm/vector-agent/templates/daemonset.yaml
  distribution/helm/vector-agent/templates/podmonitor.yaml
  distribution/helm/vector-agent/values.yaml
  distribution/helm/vector-aggregator/templates/configmap.yaml
  distribution/helm/vector-aggregator/templates/podmonitor.yaml
  distribution/helm/vector-aggregator/templates/statefulset.yaml
  distribution/helm/vector-aggregator/values.yaml
  distribution/helm/vector-shared/templates/_metrics.tpl
  distribution/kubernetes/vector-agent/resources.yaml
  distribution/kubernetes/vector-aggregator/resources.yaml
  distribution/kubernetes/vector-all/resources.yaml
  lib/k8s-e2e-tests/Cargo.toml
  lib/k8s-e2e-tests/src/lib.rs
  lib/k8s-e2e-tests/src/metrics.rs
  lib/k8s-e2e-tests/tests/vector-agent.rs
  lib/k8s-e2e-tests/tests/vector-aggregator.rs
  lib/k8s-test-framework/src/exec_tail.rs
  lib/k8s-test-framework/src/framework.rs
  lib/k8s-test-framework/src/lib.rs
  lib/k8s-test-framework/src/log_lookup.rs
  lib/k8s-test-framework/src/port_forward.rs
  scripts/test-e2e-kubernetes.sh
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#5240 chore(tests): Add `fork_test` helper; refactor API tests
  Cargo.lock
  Cargo.toml
  tests/api.rs
  tests/support/mod.rs
Labels: domain: tests

#5357 chore: Add `namespace` alias for `default_namespace`
  src/sinks/aws_cloudwatch_metrics.rs
  src/sinks/datadog/metrics.rs
  src/sinks/influxdb/metrics.rs
  src/sinks/prometheus/exporter.rs
  src/sinks/statsd.rs
Labels: domain: config

#5356 fix(tests): include config format test only with required features
  src/config/format.rs
Labels: domain: tests

#5400 chore(ci): Fix nightly reference in release workflow
  .github/workflows/release.yml
Labels: domain: ci

#5111 chore(http sink): add internal events
  docs/reference/components/sinks/http.cue
  src/internal_events/http.rs
  src/internal_events/mod.rs
  src/sinks/http.rs
Labels: sink: http

#5435 chore(splunk_hec sink): fix test splunk_index_is_interpolated
  src/sinks/splunk_hec.rs
Labels: sink: splunk_hec

#5429 fix(config): fixing Compression parsing with tests
  src/sinks/util/buffer/compression.rs
Labels: type: bug

#5427 fix(tests): require features for generate_configfile test
  src/generate.rs
Labels: domain: tests

#5421 fix(setup): Add support for detecting glibc version to installer script
  distribution/install.sh
Labels: domain: setup

#5460 chore(external docs): Add MUSL deb and RPM to downloads page
  docs/reference/installation/downloads.cue
Labels: domain: external docs

#5344 enhancement(topology): Reuse buffers
  src/app.rs
  src/buffers/mod.rs
  src/config/mod.rs
  src/config/validation.rs
  src/lib.rs
  src/shutdown.rs
  src/sinks/mod.rs
  src/test_util/mod.rs
  src/topology/builder.rs
  src/topology/mod.rs
  src/topology/task.rs
  src/trigger.rs
  src/validate.rs
  tests/api.rs
  tests/config.rs
  tests/topology.rs
Labels: domain: topology, type: enhancement

#5458 chore(setup): Add support for generating musl debs
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  Makefile
  deny.toml
  scripts/package-deb.sh
Labels: domain: ci, domain: deps, domain: setup

#5281 enhancement!: Remove default `encoding.codec` where appropriate
  docs/reference/components/sinks/aws_s3.cue
  docs/reference/components/sinks/pulsar.cue
  src/sinks/aws_s3.rs
  src/sinks/elasticsearch.rs
  src/sinks/file/mod.rs
  src/sinks/humio/logs.rs
  src/sinks/humio/metrics.rs
  src/sinks/humio/mod.rs
  src/sinks/kafka.rs
  src/sinks/loki.rs
  src/sinks/nats.rs
  src/sinks/new_relic_logs.rs
  src/sinks/pulsar.rs
  src/sinks/splunk_hec.rs
  src/sinks/util/encoding/config.rs
  src/sinks/util/encoding/with_default.rs
  src/sources/splunk_hec.rs
  tests/shutdown.rs
Labels: type: enhancement

#5450 feat(remap): add initial "trl" CLI
  Cargo.lock
  Cargo.toml
  lib/remap-cli/Cargo.toml
  lib/remap-cli/TODO.md
  lib/remap-cli/src/main.rs
Labels: domain: cli, domain: remap, type: feature

#5444 chore(remap): improve test helpers
  lib/remap-lang/src/expression.rs
  lib/remap-lang/src/expression/array.rs
  lib/remap-lang/src/expression/path.rs
  lib/remap-lang/src/prelude.rs
  lib/remap-lang/src/test_util.rs
  lib/remap-lang/src/value/object.rs
  src/event/mod.rs
  src/remap/function/flatten.rs
  src/remap/function/parse_json.rs
  src/remap/function/to_bool.rs
  src/remap/function/to_float.rs
  src/remap/function/to_int.rs
  src/remap/function/to_string.rs
  src/remap/function/to_timestamp.rs
  src/test_util/mod.rs
Labels: domain: remap, type: tech debt

#5309 feat(remap): support multiline expressions
  lib/remap-lang/grammar.pest
  lib/remap-lang/src/lib.rs
Labels: domain: remap, type: feature

#5445 enhancement(prometheus sink): Export metadata to remote_write
  proto/prometheus-remote.proto
  proto/prometheus-types.proto
  src/prometheus.rs
  src/sinks/prometheus/collector.rs
  src/sinks/prometheus/exporter.rs
  src/sinks/prometheus/remote_write.rs
Labels: ci-condition: k8s e2e tests enable, sink: prometheus, type: enhancement

#5480 fix(remap): Fix build issue caused by macro removal
  lib/remap-lang/src/test_util.rs
  lib/remap-lang/src/value/object.rs
Labels: domain: remap, type: bug, type: tech debt

#5346 feat(new source): New internal_logs source
  .github/CODEOWNERS
  Cargo.lock
  Cargo.toml
  docs/reference/components/sources/internal_logs.cue
  src/sources/internal_logs.rs
  src/sources/mod.rs
  src/test_util/mod.rs
  src/trace.rs
Labels: domain: logs, domain: sources, type: feature

#5379 enhancement: Add support for basic auth credendtials in URL for more sinks
  src/http.rs
  src/sinks/clickhouse.rs
  src/sinks/elasticsearch.rs
  src/sinks/honeycomb.rs
  src/sinks/http.rs
  src/sinks/logdna.rs
  src/sinks/loki.rs
  src/sinks/new_relic_logs.rs
  src/sinks/papertrail.rs
  src/sinks/util/uri.rs
Labels: sink: clickhouse, sink: http, sink: loki, type: enhancement

#5353 enhancement(remap): add integer division
  lib/remap-lang/grammar.pest
  lib/remap-lang/src/expression/arithmetic.rs
  lib/remap-lang/src/operator.rs
  lib/remap-lang/src/parser.rs
  lib/remap-lang/src/value.rs
  tests/behavior/transforms/remap.toml
Labels: domain: remap, transform: remap

#5490 feat(remap): add initial CLI REPL support
  Cargo.lock
  lib/remap-cli/Cargo.toml
  lib/remap-cli/TODO.md
  lib/remap-cli/src/main.rs
  lib/remap-cli/src/repl.rs
  lib/remap-cli/test.jsonl
  lib/remap-lang/src/value.rs
Labels: domain: remap, type: feature

#5529 fix(metrics): Add missing methods to Subscriber forwarder
  src/trace.rs
Labels: ci-condition: k8s e2e tests enable, domain: metrics, domain: tests, source: internal_metrics, type: bug

#5526 fix(elasticsearch sink): Fix trailing '/' at the end of URL
  src/sinks/elasticsearch.rs
Labels: sink: elasticsearch, type: bug

#5540 fix(kubernetes platform): Correct the prometheus format parsing at K8s E2E tests for the metrics pipeline
  lib/k8s-e2e-tests/src/metrics.rs
  lib/k8s-e2e-tests/tests/vector-agent.rs
  lib/k8s-e2e-tests/tests/vector-aggregator.rs
Labels: ci-condition: k8s e2e all targets

#5502 chore(remap): add owners to `.github/CODEOWNERS`
  .github/CODEOWNERS
Labels: domain: remap

#5428 chore(observability): Filter events
  docs/reference/components/transforms/filter.cue
  src/internal_events/filter.rs
  src/internal_events/mod.rs
  src/transforms/filter.rs
Labels: domain: observability

#5558 fix(coercer transform): Fix wrong log level
  src/internal_events/coercer.rs
Labels: transform: coercer, type: bug

#5532 enhancement(docker_logs source): Add host and TLS configuations
  Cargo.lock
  Cargo.toml
  docs/reference/components/sources/docker_logs.cue
  src/sources/docker_logs.rs
Labels: source: docker_logs, type: enhancement

#5525 fix(kubernetes platform): Implement improvements to the Pod recreation on Helm release upgrades
  distribution/helm/vector-agent/templates/daemonset.yaml
  distribution/helm/vector-agent/values.yaml
  distribution/helm/vector-aggregator/templates/statefulset.yaml
  distribution/helm/vector-aggregator/values.yaml
  distribution/helm/vector-shared/templates/_labels.tpl
  distribution/helm/vector-shared/templates/_reroll.tpl
  distribution/helm/vector/values.yaml
  distribution/kubernetes/vector-agent/resources.yaml
  distribution/kubernetes/vector-aggregator/resources.yaml
  distribution/kubernetes/vector-all/resources.yaml
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#5559 chore(ci): use rustflags instead of rustc wrappers
  .cargo/config
  scripts/cross/aarch64-unknown-linux-musl.dockerfile
  scripts/cross/armv7-unknown-linux-musleabihf.dockerfile
  scripts/cross/wrappers/armv7_rustc.sh
  scripts/cross/wrappers/linker.sh
  scripts/cross/wrappers/musl_rustc.sh
  scripts/cross/x86_64-unknown-linux-musl.dockerfile
Labels: domain: ci, domain: platforms

#5557 chore(deps): make avro-rs optional
  Cargo.toml
Labels: domain: deps

#5264 enhancement(host_metrics source): integrate upstream container support
  Cargo.lock
  Cargo.toml
  src/app.rs
  src/sources/host_metrics.rs
Labels: ci-condition: k8s e2e tests enable, source: host_metrics

#5563 chore(ci): Update Cargo deny licence configuration
  .github/workflows/test.yml
  deny.toml
Labels: domain: administration, domain: ci

#5567 chore(ci): Update Strawberry Perl version
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Labels: domain: ci

#5568 chore(ci): Added https to Strawberry perl downloads
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Labels: domain: ci

#5569 chore(ci): Removed SHASUM
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Labels: domain: ci

#5570 chore(ci): don't expand Discord link with preview
  .github/workflows/nightly.yml
Labels: domain: ci, type: task

#5562 chore(graphql api): async-graphql 2.2
  Cargo.lock
  Cargo.toml
Labels: domain: graphql api

#5451 fix(vector sink): remove duplicated event
  src/internal_events/vector.rs
  src/sinks/vector.rs
Labels: domain: internal docs, sink: vector

#5531 feat(remap): add remap functions to CLI
  Cargo.lock
  lib/remap-cli/Cargo.toml
  lib/remap-cli/src/main.rs
  lib/remap-cli/src/repl.rs
  lib/remap-functions/src/lib.rs
  lib/remap-lang/src/value.rs
  lib/remap-lang/src/value/object.rs
  src/conditions/remap.rs
  src/lib.rs
  src/remap/mod.rs
  src/transforms/remap.rs
Labels: domain: remap, type: feature

#5375 enhancement(remap): track inner container type definitions
  lib/remap-functions/src/ceil.rs
  lib/remap-functions/src/del.rs
  lib/remap-functions/src/downcase.rs
  lib/remap-functions/src/ends_with.rs
  lib/remap-functions/src/exists.rs
  lib/remap-functions/src/floor.rs
  lib/remap-functions/src/format_number.rs
  lib/remap-functions/src/format_timestamp.rs
  lib/remap-functions/src/match.rs
  lib/remap-functions/src/md5.rs
  lib/remap-functions/src/only_fields.rs
  lib/remap-functions/src/parse_duration.rs
  lib/remap-functions/src/parse_json.rs
  lib/remap-functions/src/parse_syslog.rs
  lib/remap-functions/src/parse_timestamp.rs
  lib/remap-functions/src/parse_url.rs
  lib/remap-functions/src/replace.rs
  lib/remap-functions/src/round.rs
  lib/remap-functions/src/sha1.rs
  lib/remap-functions/src/sha2.rs
  lib/remap-functions/src/sha3.rs
  lib/remap-functions/src/slice.rs
  lib/remap-functions/src/split.rs
  lib/remap-functions/src/starts_with.rs
  lib/remap-functions/src/strip_ansi_escape_codes.rs
  lib/remap-functions/src/strip_whitespace.rs
  lib/remap-functions/src/to_bool.rs
  lib/remap-functions/src/to_float.rs
  lib/remap-functions/src/to_int.rs
  lib/remap-functions/src/to_string.rs
  lib/remap-functions/src/to_timestamp.rs
  lib/remap-functions/src/tokenize.rs
  lib/remap-functions/src/truncate.rs
  lib/remap-functions/src/upcase.rs
  lib/remap-lang/src/expression/arithmetic.rs
  lib/remap-lang/src/expression/array.rs
  lib/remap-lang/src/expression/block.rs
  lib/remap-lang/src/expression/function.rs
  lib/remap-lang/src/expression/if_statement.rs
  lib/remap-lang/src/expression/noop.rs
  lib/remap-lang/src/expression/not.rs
  lib/remap-lang/src/expression/path.rs
  lib/remap-lang/src/expression/variable.rs
  lib/remap-lang/src/parser.rs
  lib/remap-lang/src/prelude.rs
  lib/remap-lang/src/program.rs
  lib/remap-lang/src/test_util.rs
  lib/remap-lang/src/type_def.rs
  lib/remap-lang/src/value/kind.rs
  src/conditions/remap.rs
  src/transforms/remap.rs
Labels: domain: remap, type: enhancement

#5470 chore(logplex source): Rename it to `heroku_logs`
  Cargo.toml
  docs/manual/setup/installation/manual/from-source.md
  docs/reference/components/sources/heroku_logs.cue
  docs/reference/installation/_interfaces/docker-cli.cue
  src/sources/heroku_logs.rs
  src/sources/mod.rs
  src/sources/util/http.rs
  src/sources/util/mod.rs
  tests/shutdown.rs
Labels: source: logplex

#5571 chore(deps): bump metrics crates
  Cargo.lock
  Cargo.toml
  src/metrics.rs
Labels: domain: deps

#5572 chore(observability): Humanized bytes
  src/top/dashboard.rs
Labels: domain: observability, type: bug

#5580 chore(ci): Added Apache-2.0 WITH LLVM-exception license to checks
  deny.toml
Labels: domain: ci

#5469 feat(remap): add `ok` error handling function
  lib/remap-functions/Cargo.toml
  lib/remap-functions/src/lib.rs
  lib/remap-functions/src/ok.rs
  lib/remap-lang/src/test_util.rs
  tests/behavior/transforms/remap.toml
Labels: domain: remap, type: feature

#5279 enhancement(remap): add support for literal maps
  lib/remap-functions/src/to_bool.rs
  lib/remap-functions/src/to_float.rs
  lib/remap-functions/src/to_int.rs
  lib/remap-functions/src/to_string.rs
  lib/remap-functions/src/to_timestamp.rs
  lib/remap-lang/grammar.pest
  lib/remap-lang/src/error.rs
  lib/remap-lang/src/expression.rs
  lib/remap-lang/src/expression/literal.rs
  lib/remap-lang/src/expression/map.rs
  lib/remap-lang/src/lib.rs
  lib/remap-lang/src/parser.rs
  lib/remap-lang/src/prelude.rs
  lib/remap-lang/src/test_util.rs
  lib/remap-lang/src/value.rs
  lib/remap-lang/src/value/object.rs
Labels: domain: remap, type: enhancement

#5100 enhancement(kubernetes platform): Expose host metrics in our Helm charts out of the box
  distribution/helm/vector-agent/templates/configmap.yaml
  distribution/helm/vector-agent/templates/daemonset.yaml
  distribution/helm/vector-agent/values.yaml
  distribution/helm/vector-shared/templates/_metrics.tpl
  distribution/kubernetes/vector-agent/resources.yaml
  distribution/kubernetes/vector-all/resources.yaml
  lib/k8s-e2e-tests/src/metrics.rs
  lib/k8s-e2e-tests/tests/vector-agent.rs
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#5592 chore(ci): Change license check default to warn
  deny.toml
Labels: domain: ci

#5528 enhancement(config): Add global `healthchecks` option
  docs/reference/configuration.cue
  src/app.rs
  src/cli.rs
  src/config/builder.rs
  src/config/compiler.rs
  src/config/mod.rs
  src/config/unit_test.rs
  src/test_util/mod.rs
  src/topology/builder.rs
  src/topology/mod.rs
  src/validate.rs
  tests/api.rs
  tests/topology.rs
Labels: domain: config, domain: healthchecks, domain: startup

#5492 fix(observability): Emit `processed_events_total` in topology for transforms
  src/internal_events/add_fields.rs
  src/internal_events/add_tags.rs
  src/internal_events/ansi_stripper.rs
  src/internal_events/aws_cloudwatch_logs_subscription_parser.rs
  src/internal_events/aws_ec2_metadata.rs
  src/internal_events/coercer.rs
  src/internal_events/concat.rs
  src/internal_events/dedupe.rs
  src/internal_events/geoip.rs
  src/internal_events/grok_parser.rs
  src/internal_events/json_parser.rs
  src/internal_events/key_value_parser.rs
  src/internal_events/log_to_metric.rs
  src/internal_events/logfmt_parser.rs
  src/internal_events/lua.rs
  src/internal_events/metric_to_log.rs
  src/internal_events/mod.rs
  src/internal_events/prometheus.rs
  src/internal_events/reduce.rs
  src/internal_events/regex_parser.rs
  src/internal_events/remap.rs
  src/internal_events/remove_fields.rs
  src/internal_events/rename_fields.rs
  src/internal_events/sampler.rs
  src/internal_events/split.rs
  src/internal_events/swimlanes.rs
  src/internal_events/tag_cardinality_limit.rs
  src/internal_events/tokenizer.rs
  src/internal_events/topology.rs
  src/internal_events/wasm/event_processing.rs
  src/sources/prometheus/remote_write.rs
  src/topology/builder.rs
  src/transforms/add_fields.rs
  src/transforms/add_tags.rs
  src/transforms/ansi_stripper.rs
  src/transforms/aws_cloudwatch_logs_subscription_parser.rs
  src/transforms/aws_ec2_metadata.rs
  src/transforms/coercer.rs
  src/transforms/concat.rs
  src/transforms/dedupe.rs
  src/transforms/geoip.rs
  src/transforms/grok_parser.rs
  src/transforms/json_parser.rs
  src/transforms/key_value_parser.rs
  src/transforms/log_to_metric.rs
  src/transforms/logfmt_parser.rs
  src/transforms/lua/v1/mod.rs
  src/transforms/lua/v2/mod.rs
  src/transforms/metric_to_log.rs
  src/transforms/reduce/mod.rs
  src/transforms/regex_parser.rs
  src/transforms/remap.rs
  src/transforms/remove_fields.rs
  src/transforms/remove_tags.rs
  src/transforms/rename_fields.rs
  src/transforms/sampler.rs
  src/transforms/split.rs
  src/transforms/swimlanes.rs
  src/transforms/tag_cardinality_limit.rs
  src/transforms/tokenizer.rs
Labels: domain: observability

#5489 enhancement(remap transform): add `parse_aws_alb_log` function
  .github/CODEOWNERS
  Cargo.lock
  docs/reference/remap/parse_aws_alb_log.cue
  lib/remap-functions/Cargo.toml
  lib/remap-functions/src/lib.rs
  lib/remap-functions/src/parse_aws_alb_log.rs
  tests/behavior/transforms/remap.toml
Labels: domain: remap

#5552 fix(ci): adjust deny.toml
  Cargo.lock
  Cargo.toml
  deny.toml
Labels: domain: ci

#5477 enhancement(remap): improve error messages, part 1
  lib/remap-lang/src/error.rs
  lib/remap-lang/src/parser.rs
  src/mapping/mod.rs
Labels: domain: remap, type: enhancement

#5504 enhancement(remap transform): add `parse_aws_vpc_flow_log` function
  .github/CODEOWNERS
  docs/reference/remap/parse_aws_vpc_flow_log.cue
  docs/reference/urls.cue
  lib/remap-functions/Cargo.toml
  lib/remap-functions/src/lib.rs
  lib/remap-functions/src/parse_aws_vpc_flow_log.rs
  tests/behavior/transforms/remap.toml
Labels: domain: remap

#5599 chore(ci): `cargo clean` before using cross
  Makefile
Labels: domain: ci

#5126 enhancement(elasticsearch sink): add support for data streams
  docs/reference/components/sinks/elasticsearch.cue
  docs/reference/urls.cue
  src/sinks/elasticsearch.rs
Labels: provider: elastic, sink: elasticsearch

#5399 enhancement(generator source)!: Enable format selection for generator source
  Cargo.lock
  Cargo.toml
  docs/reference/components/sources/generator.cue
  docs/reference/urls.cue
  lib/k8s-e2e-tests/tests/vector-aggregator.rs
  src/sources/generator.rs
  src/sources/util/fake.rs
  src/sources/util/mod.rs
  src/topology/mod.rs
  tests/api.rs
  tests/shutdown.rs
Labels: meta: breaking change, source: generator, type: enhancement

#5258 fix(prometheus sink): fix set metric reset on flush period
  src/sinks/prometheus/exporter.rs
Labels: sink: prometheus

#5608 chore(tests): Enable test `sources::file::tests::remove_file` for Mac OS
  src/sources/file.rs
Labels: domain: tests

#5564 chore(config): Rename `healthcheck` & `healthcheck_uri`
  benches/http.rs
  docs/reference/components/sinks.cue
  docs/reference/components/sinks/http.cue
  src/config/builder.rs
  src/config/mod.rs
  src/generate.rs
  src/serde.rs
  src/sinks/http.rs
  src/sinks/new_relic_logs.rs
  src/topology/builder.rs
  src/validate.rs
Labels: domain: config, domain: healthchecks

#5644 chore(deps): bump deps
  Cargo.lock
  Cargo.toml
  lib/k8s-e2e-tests/Cargo.toml
  lib/k8s-test-framework/Cargo.toml
Labels: domain: deps

#5641 chore: Remove `field_filter` from `vector list`
  src/list.rs
Labels: type: task

#5615 chore(metrics): Refactor metrics batch buffer tests
  src/sinks/util/buffer/metrics.rs
Labels: domain: metrics, domain: sinks, type: tech debt

#5669 fix(tests): podman pod stop/rm don't need a --name option
  Makefile
Labels: domain: tests, type: bug

#5625 fix: Allow owning the same port with different protocols
  src/config/mod.rs
  src/sinks/prometheus/exporter.rs
  src/sources/aws_kinesis_firehose/mod.rs
  src/sources/heroku_logs.rs
  src/sources/http.rs
  src/sources/socket/mod.rs
  src/sources/splunk_hec.rs
  src/sources/statsd/mod.rs
  src/sources/syslog.rs
  src/sources/util/tcp.rs
Labels: domain: config, type: bug

#5666 chore(ci): Removed musl scaffolding and harden Debian packaging
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  Makefile
  distribution/debian/scripts/postinst
  distribution/debian/scripts/preinst
  docs/reference/installation/downloads.cue
  scripts/package-deb.sh
  scripts/package-rpm.sh
Labels: domain: ci, domain: deps, platform: debian

#5651 fix: Print warning on encoding error
  docs/reference/components/sinks/sematext_metrics.cue
  docs/reference/components/sources/internal_metrics.cue
  src/internal_events/sematext_metrics.rs
  src/sinks/influxdb/logs.rs
  src/sinks/influxdb/metrics.rs
  src/sinks/influxdb/mod.rs
  src/sinks/sematext/metrics.rs
Labels: sink: influxdb_logs, sink: influxdb_metrics, sink: sematext_metrics, type: bug

#5658 chore(pulsar sink): add metrics to failed encode
  docs/reference/components/sinks/pulsar.cue
  docs/reference/components/sinks/splunk_hec.cue
  docs/reference/components/sources/internal_metrics.cue
  src/internal_events/pulsar.rs
  src/internal_events/splunk_hec.rs
  src/sinks/splunk_hec.rs
Labels: sink: pulsar

#5653 enhancement(remap): add encode_json function
  docs/reference/remap.cue
  docs/reference/remap/encode_json.cue
  lib/remap-functions/Cargo.toml
  lib/remap-functions/src/encode_json.rs
  lib/remap-functions/src/lib.rs
  tests/behavior/transforms/remap.toml
Labels: domain: remap

#5672 chore(ci): Fixed nightly downloads and versions
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  Makefile
  distribution/msi/build.sh
  scripts/package-archive.sh
  scripts/package-deb.sh
  scripts/package-msi.sh
  scripts/package-rpm.sh
  scripts/release-s3.sh
Labels: domain: ci

#5683 fix(journald source): handle incorrect int sequences as strings
  src/sources/journald.rs
Labels: source: journald

#5694 fix(journald source): fix tests for fake journal
  src/sources/journald.rs
Labels: source: journald

#5692 enhancement: Support TLS configuration for Humio sinks
  docs/reference/components/sinks/humio.cue
  src/sinks/humio/logs.rs
  src/sinks/humio/metrics.rs
Labels: sink: humio_logs, sink: humio_metrics, type: enhancement

#5702 chore(administration): Update install script version
  distribution/install.sh
Labels: domain: administration, domain: ci

#5645 enhancement(graphql api): File source metrics
  lib/vector-api-client/graphql/queries/components.graphql
  lib/vector-api-client/graphql/schema.json
  lib/vector-api-client/src/gql/components.rs
  lib/vector-api-client/src/test/mod.rs
  lib/vector-api-client/tests/queries/file_source_metrics.graphql
  src/api/schema/components.rs
  src/api/schema/components/mod.rs
  src/api/schema/components/sink.rs
  src/api/schema/components/source.rs
  src/api/schema/components/state.rs
  src/api/schema/components/transform.rs
  src/api/schema/metrics/filter.rs
  src/api/schema/metrics/mod.rs
  src/api/schema/metrics/sink/generic.rs
  src/api/schema/metrics/sink/mod.rs
  src/api/schema/metrics/source/file.rs
  src/api/schema/metrics/source/generic.rs
  src/api/schema/metrics/source/mod.rs
  src/api/schema/metrics/transform/generic.rs
  src/api/schema/metrics/transform/mod.rs
  src/event/metric.rs
  src/top/metrics.rs
  tests/api.rs
Labels: domain: graphql api, type: enhancement

#5708 chore(security): Minor updates to our SECURITY policies
  SECURITY.md
Labels: domain: security

#5706 chore(security): Upgraded Alpine base image to address some vulns
  distribution/docker/alpine/Dockerfile
Labels: domain: security, platform: docker

#5690 enhancement(docker_logs source): Add hostname to Docker source
  docs/reference/components/sources/docker_logs.cue
  src/config/log_schema.rs
  src/sources/docker_logs.rs
Labels: source: docker_logs, type: enhancement

#5701 chore(config): Move root level `headers` option to `request.headers`
  docs/reference/components.cue
  docs/reference/components/sinks.cue
  docs/reference/components/sinks/aws_cloudwatch_logs.cue
  docs/reference/components/sinks/aws_kinesis_firehose.cue
  docs/reference/components/sinks/aws_kinesis_streams.cue
  docs/reference/components/sinks/aws_s3.cue
  docs/reference/components/sinks/aws_sqs.cue
  docs/reference/components/sinks/clickhouse.cue
  docs/reference/components/sinks/datadog_metrics.cue
  docs/reference/components/sinks/elasticsearch.cue
  docs/reference/components/sinks/gcp_cloud_storage.cue
  docs/reference/components/sinks/gcp_pubsub.cue
  docs/reference/components/sinks/gcp_stackdriver_logs.cue
  docs/reference/components/sinks/honeycomb.cue
  docs/reference/components/sinks/http.cue
  docs/reference/components/sinks/humio.cue
  docs/reference/components/sinks/influxdb_logs.cue
  docs/reference/components/sinks/influxdb_metrics.cue
  docs/reference/components/sinks/logdna.cue
  docs/reference/components/sinks/loki.cue
  docs/reference/components/sinks/new_relic_logs.cue
  docs/reference/components/sinks/prometheus_remote_write.cue
  docs/reference/components/sinks/sematext_logs.cue
  docs/reference/components/sinks/splunk_hec.cue
  src/sinks/elasticsearch.rs
  src/sinks/http.rs
  src/sinks/new_relic_logs.rs
  src/sinks/sematext/logs.rs
  src/sinks/util/http.rs
Labels: domain: config, sink: elasticsearch, sink: http

#5638 enhancement(http source): Add `gzip` & `deflate` decompression
  Cargo.toml
  docs/reference/components/sources/heroku_logs.cue
  docs/reference/components/sources/http.cue
  src/internal_events/http.rs
  src/internal_events/prometheus.rs
  src/sources/http.rs
  src/sources/prometheus/remote_write.rs
  src/sources/util/http.rs
  src/sources/util/mod.rs
  tests/data/prometheus.yaml
Labels: source: http, type: enhancement

#5556 chore(tests): Test for errors_total
  lib/vector-api-client/src/test/mod.rs
  lib/vector-api-client/tests/subscriptions/component_errors_totals.graphql
  lib/vector-api-client/tests/subscriptions/errors_total.graphql
  tests/api.rs
Labels: domain: graphql api, domain: tests

#5707 enhancement(graphql api): `componentByName` query
  lib/vector-api-client/graphql/schema.json
  lib/vector-api-client/src/test/mod.rs
  lib/vector-api-client/tests/queries/component_by_name.graphql
  src/api/schema/components/mod.rs
  src/api/schema/components/sink.rs
  src/api/schema/components/state.rs
  src/api/schema/components/transform.rs
  tests/api.rs
Labels: domain: graphql api, type: enhancement

#5703 chore(ci): Add back in package verification jobs
  .github/workflows/install-sh.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Labels: domain: ci

#5723 chore(deps): bump deps
  Cargo.lock
  Cargo.toml
  src/internal_events/adaptive_concurrency.rs
  src/metrics.rs
  src/sources/internal_metrics.rs
Labels: domain: deps

#5739 chore(security): Upgrade alpine to 3.12
  distribution/docker/alpine/Dockerfile
Labels: platform: docker

#5705 fix(http source): lower handle http req log to debug
  src/sources/util/http.rs
Labels: source: http

#5743 fix(internal_metrics source): Make internal metrics pass promtools check
  src/internal_events/http_client.rs
  src/metrics.rs
Labels: source: internal_metrics

#5652 enhancement(kafka sink): Better tracing/tests on rdkafka options.
  src/sinks/kafka.rs
Labels: sink: kafka, type: enhancement

#5752 fix: Fixup version script
  scripts/version.sh
Labels: domain: ci

#5759 fix(external docs): Fix Vector source reference to support metrics
  docs/reference/components/sources/vector.cue
Labels: domain: external docs
