Repository vectordotdev/vector, pull requests merged in 2021-03, with the labels that each got.

#6549 chore: Performance Testing
  rfcs/2021-02-23-6531-performance-testing.md
Labels: domain: performance

#6577 fix(remap): don't mark `/` as a valid escape target
  lib/vrl/parser/src/lex.rs
  lib/vrl/tests/tests/diagnostics/invalid_string.vrl
  lib/vrl/tests/tests/issues/6571_invalid_escape.vrl
Labels: domain: remap

#6495 chore(remap): re-work negative indexing
  lib/vrl/compiler/src/type_def.rs
  lib/vrl/compiler/src/value/target.rs
  lib/vrl/parser/src/lex.rs
  lib/vrl/tests/tests/expressions/assignment/indexing.vrl
  lib/vrl/tests/tests/expressions/query/array_indexing.vrl
  lib/vrl/tests/tests/issues/5546_negative_indexing_arrays.vrl
Labels: domain: remap, type: enhancement

#6581 fix(config): Preload log scheme
  src/app.rs
  src/config/builder.rs
  src/config/compiler.rs
  src/config/loading.rs
  src/config/log_schema.rs
  src/config/mod.rs
  src/config/unit_test.rs
  src/service.rs
  src/sinks/humio/logs.rs
  src/sinks/humio/metrics.rs
  src/sinks/humio/mod.rs
  src/sinks/splunk_hec.rs
  src/sources/docker_logs.rs
  src/topology/mod.rs
  src/validate.rs
  tests/shutdown.rs
Labels: domain: config

#6569 enhancement(kubernetes_logs source): add the ability to specify automountServiceAccountToken for vector-agent
  distribution/helm/vector-agent/templates/serviceaccount.yaml
  distribution/helm/vector-agent/values.yaml
  distribution/helm/vector-aggregator/templates/serviceaccount.yaml
  distribution/helm/vector-aggregator/values.yaml
  distribution/kubernetes/vector-agent/resources.yaml
  distribution/kubernetes/vector-aggregator/resources.yaml
  distribution/kubernetes/vector-all/resources.yaml
  tests/helm-snapshots/builtin_configs/vector-agent/snapshot.yaml
  tests/helm-snapshots/builtin_configs/vector-aggregator/snapshot.yaml
  tests/helm-snapshots/topology_config/vector-agent/snapshot.yaml
  tests/helm-snapshots/topology_config/vector-aggregator/snapshot.yaml
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#6595 enhancement(kubernetes_logs source): Annotate events with container_id where available
  lib/k8s-e2e-tests/tests/vector-agent.rs
  src/sources/kubernetes_logs/pod_metadata_annotator.rs
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable, have: must, platform: kubernetes, type: enhancement

#6662 fix(remap): correct type defs for boolean operations
  lib/vrl/compiler/src/expression/op.rs
Labels: domain: remap, type: bug

#4837 enhancement(kubernetes_logs source): support for kubeconfigs as an alternative to in_cluster configuration
  Cargo.toml
  docs/reference/components/sources/kubernetes_logs.cue
  src/kubernetes/api_watcher.rs
  src/kubernetes/client/config/in_cluster.rs
  src/kubernetes/client/config/kubeconfig.rs
  src/kubernetes/client/config/kubeconfig_types.rs
  src/kubernetes/client/config/mod.rs
  src/kubernetes/client/mod.rs
  src/sources/kubernetes_logs/mod.rs
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable, platform: kubernetes, source: kubernetes_logs

#6181 chore: Extract global allocator into a crate
  Cargo.lock
  Cargo.toml
  Makefile
  lib/vector-global-alloc/Cargo.toml
  lib/vector-global-alloc/LICENSE
  lib/vector-global-alloc/src/lib.rs
  lib/vector-global-alloc/test.sh
  lib/vector-global-alloc/tests/conflict.rs
  lib/vector-global-alloc/tests/ui/conflict.rs
  lib/vector-global-alloc/tests/ui/conflict.stderr
  scripts/check-component-features.sh
  src/lib.rs
Labels: ci-condition: k8s e2e tests enable

#6479 enhancement(external docs): Document remaining error codes for VRL
  docs/reference/remap/errors.cue
  docs/reference/remap/errors/105_undefined_function.cue
  docs/reference/remap/errors/106_function_argument_arity_mismatch.cue
  docs/reference/remap/errors/107_required_function_argument_missing.cue
  docs/reference/remap/errors/108_unknown_function_argument_keyword.cue
  docs/reference/remap/errors/109_cannot_abort_function.cue
  docs/reference/remap/errors/110_invalid_argument_type.cue
  docs/reference/remap/errors/203_unrecognized_token.cue
  docs/reference/remap/errors/204_unrecognized_eof.cue
  docs/reference/remap/errors/205_reserved_keyword.cue
  docs/reference/remap/errors/206_invalid_numeric_literal.cue
  docs/reference/remap/errors/207_invalid_string_literal.cue
  docs/reference/remap/errors/208_invalid_literal.cue
  docs/reference/remap/errors/209_invalid_escape_character.cue
  docs/reference/remap/errors/300_unexpected_type.cue
  docs/reference/remap/errors/301_type_coercion_error.cue
  docs/reference/remap/errors/302_remainder_error.cue
  docs/reference/remap/errors/303_multiplication_error.cue
  docs/reference/remap/errors/304_division_error.cue
  docs/reference/remap/errors/305_divide_by_zero_error.cue
  docs/reference/remap/errors/306_nan_float.cue
  docs/reference/remap/errors/307_addition_error.cue
  docs/reference/remap/errors/308_subtraction_error.cue
  docs/reference/remap/errors/309_or_error.cue
  docs/reference/remap/errors/310_and_error.cue
  docs/reference/remap/errors/311_greater_than_error.cue
  docs/reference/remap/errors/312_ge_error.cue
  docs/reference/remap/errors/313_less_than_error.cue
  docs/reference/remap/errors/314_le_error.cue
  docs/reference/remap/errors/400_unexpected_expression.cue
  docs/reference/remap/errors/401_invalid_enum_variant.cue
  docs/reference/remap/errors/601_invalid_timestamp.cue
  docs/reference/remap/errors/620_aborting_infallible_function.cue
  docs/reference/remap/errors/630_fallible_argument.cue
  docs/reference/remap/errors/640_unnecessary_noop.cue
  docs/reference/remap/errors/650_chained_comparison_operators.cue
  docs/reference/remap/errors/660_non_boolean_negation.cue
  docs/reference/urls.cue
  lib/vrl/cli/src/repl.rs
  lib/vrl/tests/tests/fixme/6364_disallow_infallible_error_coalesce.vrl
Labels: domain: remap

#6637 enhancement(datadog_logs sink): Define events for the `datadog_logs` sink
  src/internal_events/datadog_logs.rs
  src/internal_events/mod.rs
  src/sinks/datadog/logs.rs
Labels: domain: observability, provider: datadog, sink: datadog_logs, type: enhancement

#6716 enhancement(remap): improved infallible assignment types
  lib/vrl/compiler/src/compiler.rs
  lib/vrl/compiler/src/expression/assignment.rs
  lib/vrl/compiler/src/value/kind.rs
  lib/vrl/tests/tests/expressions/assignment/infallible_external.vrl
  lib/vrl/tests/tests/expressions/assignment/infallible_variable.vrl
  lib/vrl/tests/tests/internal/infallible_ok_maybe_null.vrl
  lib/vrl/tests/tests/internal/ok_assignment_default_value.vrl
  lib/vrl/tests/tests/internal/progressive_type_checking.vrl
  tests/behavior/transforms/remap.toml
Labels: domain: remap

#6717 enhancement(remap): improve nginx log parsing ergonomics
  Cargo.lock
  docs/reference/remap/expressions/assignment.cue
  lib/shared/src/conversion.rs
  lib/vrl/tests/Cargo.toml
  lib/vrl/tests/src/main.rs
  lib/vrl/tests/tests/examples/parse_nginx_access_log.vrl
Labels: domain: remap

#6672 chore(remap): add tests to validate announcement blog post examples
  lib/vrl/tests/src/main.rs
  lib/vrl/tests/src/test.rs
  lib/vrl/tests/tests/examples/blog_vector_remap_language.vrl
  lib/vrl/tests/tests/examples/blog_vector_remap_language_error_diagnostic.vrl
  lib/vrl/tests/tests/examples/blog_vector_remap_language_handle_error.vrl
  lib/vrl/tests/tests/examples/blog_vector_remap_language_raise_error.vrl
  lib/vrl/tests/tests/examples/blog_vector_remap_language_specify_types.vrl
Labels: domain: remap

#6719 enhancement(remap): don't mutate event when program fails
  docs/reference/components/transforms/remap.cue
  lib/vrl/compiler/src/compiler.rs
  lib/vrl/compiler/src/program.rs
  src/transforms/remap.rs
Labels: domain: remap

#6766 fix(prometheus_exporter sink): Use next_addr instead of fixed addresses
  src/sinks/prometheus/exporter.rs
Labels: domain: tests, sink: prometheus_exporter, type: bug

#6742 chore(performance): `file-source` testing and benchmarks
  Cargo.lock
  lib/file-source/Cargo.toml
  lib/file-source/benches/buffer.rs
  lib/file-source/src/buffer.rs
  lib/file-source/src/checkpointer.rs
  lib/file-source/src/file_server.rs
  lib/file-source/src/file_watcher/mod.rs
  lib/file-source/src/file_watcher/tests/experiment.rs
  lib/file-source/src/file_watcher/tests/experiment_no_truncations.rs
  lib/file-source/src/file_watcher/tests/mod.rs
  lib/file-source/src/fingerprinter.rs
  lib/file-source/src/lib.rs
Labels: domain: performance, source: file

#6777 fix(remap): Remap function `to_timestamp` panics on an out of range
  lib/vrl/stdlib/src/to_timestamp.rs
Labels: domain: remap, type: bug

#6758 enhancement(observability): Add `events_in_total` to sources
  docs/reference/components/sources/apache_metrics.cue
  docs/reference/components/sources/aws_ecs_metrics.cue
  docs/reference/components/sources/aws_kinesis_firehose.cue
  docs/reference/components/sources/aws_s3.cue
  docs/reference/components/sources/docker_logs.cue
  docs/reference/components/sources/file.cue
  docs/reference/components/sources/heroku_logs.cue
  docs/reference/components/sources/http.cue
  docs/reference/components/sources/internal_metrics.cue
  docs/reference/components/sources/journald.cue
  docs/reference/components/sources/kafka.cue
  docs/reference/components/sources/kubernetes_logs.cue
  docs/reference/components/sources/mongodb_metrics.cue
  docs/reference/components/sources/nginx_metrics.cue
  docs/reference/components/sources/postgresql_metrics.cue
  docs/reference/components/sources/prometheus_remote_write.cue
  docs/reference/components/sources/prometheus_scrape.cue
  docs/reference/components/sources/socket.cue
  docs/reference/components/sources/splunk_hec.cue
  docs/reference/components/sources/statsd.cue
  docs/reference/components/sources/stdin.cue
  docs/reference/components/sources/syslog.cue
  docs/reference/components/sources/vector.cue
  src/internal_events/apache_metrics.rs
  src/internal_events/aws_ecs_metrics.rs
  src/internal_events/aws_kinesis_firehose.rs
  src/internal_events/aws_s3.rs
  src/internal_events/docker_logs.rs
  src/internal_events/file.rs
  src/internal_events/http.rs
  src/internal_events/journald.rs
  src/internal_events/kafka.rs
  src/internal_events/kubernetes_logs.rs
  src/internal_events/mongodb_metrics.rs
  src/internal_events/nginx_metrics.rs
  src/internal_events/prometheus.rs
  src/internal_events/socket.rs
  src/internal_events/splunk_hec.rs
  src/internal_events/statsd_source.rs
  src/internal_events/stdin.rs
  src/internal_events/syslog.rs
  src/internal_events/vector.rs
  src/sources/apache_metrics/mod.rs
  src/sources/aws_kinesis_firehose/handlers.rs
  src/sources/aws_s3/sqs.rs
  src/sources/docker_logs.rs
  src/sources/kubernetes_logs/mod.rs
  src/sources/kubernetes_logs/pod_metadata_annotator.rs
  src/sources/mongodb_metrics/mod.rs
  src/sources/nginx_metrics/mod.rs
  src/sources/prometheus/scrape.rs
Labels: domain: metrics, domain: observability, type: enhancement

#6810 fix(config): Fix when to validate healthchecks
  src/validate.rs
Labels: domain: config

#6827 fix(prometheus_scrape source): Add timestamps to parsed metrics
  src/sources/prometheus/parser.rs
  src/sources/prometheus/scrape.rs
Labels: source: prometheus_scrape, type: bug

#6836 chore(sinks): Defer allocation of batch buffers until first use
  src/sinks/util/batch.rs
  src/sinks/util/buffer/metrics.rs
  src/sinks/util/buffer/mod.rs
  src/sinks/util/buffer/vec.rs
Labels: domain: sinks, type: tech debt

#6823 fix(prometheus_remote_write sink): Default timestamp to now
  src/sinks/prometheus/collector.rs
Labels: sink: prometheus_remote_write, type: bug

#6723 feat(remap): add abort-statement
  docs/reference/remap.cue
  docs/reference/remap/errors/103_unhandled_assignment_runtime_error.cue
  lib/vrl/compiler/src/compiler.rs
  lib/vrl/compiler/src/expression.rs
  lib/vrl/compiler/src/expression/abort.rs
  lib/vrl/compiler/src/expression/assignment.rs
  lib/vrl/compiler/src/expression/function_call.rs
  lib/vrl/compiler/src/value/error.rs
  lib/vrl/core/src/lib.rs
  lib/vrl/core/src/runtime.rs
  lib/vrl/parser/src/ast.rs
  lib/vrl/parser/src/lex.rs
  lib/vrl/parser/src/parser.lalrpop
  lib/vrl/tests/src/main.rs
  lib/vrl/tests/tests/diagnostics/syntax_error_ampersat_variable.vrl
  lib/vrl/tests/tests/diagnostics/syntax_error_path_segment.vrl
  lib/vrl/tests/tests/diagnostics/unhandled_parse_regex_all_type.vrl
  lib/vrl/tests/tests/examples/blog_vector_remap_language_error_diagnostic.vrl
  lib/vrl/tests/tests/expressions/abort/abort.vrl
Labels: domain: remap

#6796 feat(remap): Add `parse_query_string` function
  docs/reference/remap/functions/parse_query_string.cue
  lib/vrl/stdlib/Cargo.toml
  lib/vrl/stdlib/benches/benches.rs
  lib/vrl/stdlib/src/lib.rs
  lib/vrl/stdlib/src/parse_query_string.rs
Labels: domain: remap, type: feature

#6883 feat(remap): New `parse_linux_authorization` function
  docs/reference/remap/functions/parse_linux_authorization.cue
  lib/vrl/stdlib/Cargo.toml
  lib/vrl/stdlib/src/lib.rs
  lib/vrl/stdlib/src/parse_linux_authorization.rs
  lib/vrl/stdlib/src/parse_syslog.rs
Labels: domain: remap, type: feature

#6895 chore(remap): fix to_string docs
  docs/reference/remap/functions/to_string.cue
Labels: domain: external docs, domain: remap

#6893 enhancement(remap): support newlines in if-statement
  lib/vrl/parser/src/parser.lalrpop
  lib/vrl/tests/tests/expressions/if_statement/newlines.vrl
Labels: domain: remap, type: enhancement

#6722 feat(remap): support dropping events when remap fails or is aborted
  benches/remap.rs
  benches/wasm/mod.rs
  docs/reference/components/transforms/remap.cue
  lib/vrl/compiler/src/compiler.rs
  lib/vrl/compiler/src/program.rs
  src/internal_events/remap.rs
  src/transforms/remap.rs
  tests/behavior/transforms/remap.toml
Labels: domain: remap

#6874 chore(tests): Add tests for `validate` healthchecks
  Cargo.toml
  Makefile
  tests/cli.rs
Labels: domain: tests

#6927 enhancement(route transform): Accept metrics
  docs/reference/components/transforms/route.cue
  src/transforms/route.rs
Labels: transform: route, type: enhancement

#6955 chore(tests): Exec integration setup sub-script
  scripts/setup_integration_env.sh
Labels: domain: tests, type: tech debt
