Repository vectordotdev/vector, pull requests merged in 2021-06, with the labels that each got.

#7679 chore(external docs): Document `disk` buffer behavior
  docs/reference/components/sinks.cue
Labels: domain: buffers, domain: external docs

#7682 fix(remap): Accept quoted lists in `parse_aws_alb_log` function
  lib/vrl/stdlib/src/parse_aws_alb_log.rs
Labels: domain: remap

#7720 chore(config): Default end-to-end acknowledgements to off
  docs/reference/components.cue
  src/config/mod.rs
Labels: domain: config

#7699 chore(metrics): Rework metrics batch buffer
  lib/vector-core/src/event/metric.rs
  src/api/schema/metrics/filter.rs
  src/sinks/prometheus/exporter.rs
  src/sinks/util/buffer/metrics.rs
  src/sinks/util/mod.rs
Labels: domain: data model, domain: metrics, type: tech debt

#7738 fix(kubernetes_logs source): change glob minimum value to 5000
  src/sources/kubernetes_logs/mod.rs
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#7599 enhancement(tests): run k8s-e2e tests on multinode kubernetes
  Cargo.lock
  lib/k8s-e2e-tests/Cargo.toml
  lib/k8s-e2e-tests/src/lib.rs
  lib/k8s-e2e-tests/tests/vector-agent.rs
  lib/k8s-e2e-tests/tests/vector-aggregator.rs
  lib/k8s-e2e-tests/tests/vector-dd-agent-aggregator.rs
  lib/k8s-e2e-tests/tests/vector.rs
  lib/k8s-test-framework/Cargo.toml
  lib/k8s-test-framework/src/framework.rs
  lib/k8s-test-framework/src/helm_values_file.rs
  lib/k8s-test-framework/src/lib.rs
  lib/k8s-test-framework/src/pod.rs
  lib/k8s-test-framework/src/up_down.rs
  lib/k8s-test-framework/src/util.rs
  scripts/test-e2e-kubernetes.sh
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#7752 enhancement(remap): Add VRL `match_array` function
  docs/reference/remap/functions/match_array.cue
  lib/vrl/stdlib/Cargo.toml
  lib/vrl/stdlib/benches/benches.rs
  lib/vrl/stdlib/src/lib.rs
  lib/vrl/stdlib/src/match_array.rs
Labels: domain: remap, type: enhancement

#7746 chore(metrics): Make metric data private
  lib/vector-core/src/event/metric.rs
  lib/vector-core/src/event/vrl_target.rs
  src/api/schema/metrics/errors.rs
  src/api/schema/metrics/events_in.rs
  src/api/schema/metrics/events_out.rs
  src/api/schema/metrics/filter.rs
  src/api/schema/metrics/host.rs
  src/api/schema/metrics/processed_bytes.rs
  src/api/schema/metrics/processed_events.rs
  src/api/schema/metrics/uptime.rs
  src/internal_events/sematext_metrics.rs
  src/kubernetes/state/instrumenting.rs
  src/sinks/aws_cloudwatch_metrics.rs
  src/sinks/datadog/metrics.rs
  src/sinks/gcp/stackdriver_metrics.rs
  src/sinks/influxdb/metrics.rs
  src/sinks/kafka.rs
  src/sinks/prometheus/collector.rs
  src/sinks/prometheus/exporter.rs
  src/sinks/prometheus/remote_write.rs
  src/sinks/sematext/metrics.rs
  src/sinks/statsd.rs
  src/sinks/util/adaptive_concurrency/tests.rs
  src/sinks/util/buffer/metrics.rs
  src/sources/apache_metrics/mod.rs
  src/sources/aws_ecs_metrics/mod.rs
  src/sources/host_metrics.rs
  src/sources/internal_metrics.rs
  src/sources/mongodb_metrics/mod.rs
  src/sources/postgresql_metrics.rs
  src/sources/prometheus/parser.rs
  src/sources/prometheus/scrape.rs
  src/template.rs
  src/transforms/add_tags.rs
  src/transforms/remove_tags.rs
  src/transforms/tag_cardinality_limit.rs
  tests/support/mod.rs
Labels: domain: data model, domain: metrics, type: tech debt

#7678 feat(new sink): Initial `datadog_events` sink
  .github/semantic.yml
  docs/reference/components/sinks/datadog_events.cue
  docs/reference/services/datadog_events.cue
  docs/reference/urls.cue
  src/internal_events/datadog_events.rs
  src/internal_events/mod.rs
  src/sinks/datadog/events.rs
  src/sinks/datadog/logs.rs
  src/sinks/datadog/metrics.rs
  src/sinks/datadog/mod.rs
Labels: sink: datadog_events, type: feature

#7807 chore(observability): Log probable healthcheck as debug
  src/internal_events/tcp.rs
Labels: domain: networking, domain: observability

#7706 enhancement(vector source, vector sink): batch events per rpc call.
  proto/vector.proto
  src/sinks/vector/v2.rs
  src/sources/vector/v2.rs
Labels: sink: vector, source: vector, type: enhancement

#7828 chore(external docs): Update Vector version in kubernetes guide
  docs/reference/installation/_interfaces/kubectl.cue
Labels: domain: external docs, platform: kubernetes

#7823 enhancement(tests): delete resources without waiting in k8s tests
  lib/k8s-test-framework/src/namespace.rs
  lib/k8s-test-framework/src/test_pod.rs
  scripts/deploy-kubernetes-test.sh
  scripts/test-e2e-kubernetes.sh
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#7516 chore(tests): Refactor internal_logs tests to not be flakey
  src/sources/internal_logs.rs
Labels: domain: unit tests, source: internal_logs, type: bug

#7831 enhancement(tests): Create affinity pod in separate namespace for k8s tests
  lib/k8s-e2e-tests/tests/vector-agent.rs
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#7798 chore(ci)!: Update tested Kubernetes versions
  .github/workflows/k8s_e2e.yml
  docs/reference/components/sources/kubernetes_logs.cue
  docs/reference/installation/platforms/kubernetes.cue
  docs/reference/services/kubernetes.cue
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable, domain: ci, platform: kubernetes

#7841 enhancement(tests): cleanup vector dir post k8s test
  distribution/helm/vector-agent/templates/daemonset.yaml
  lib/k8s-e2e-tests/src/lib.rs
  lib/k8s-e2e-tests/tests/vector-agent.rs
  lib/k8s-e2e-tests/tests/vector-aggregator.rs
  lib/k8s-e2e-tests/tests/vector-dd-agent-aggregator.rs
  lib/k8s-e2e-tests/tests/vector.rs
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#7847 feat(clickhouse sink): Allow enabling `input_format_skip_unknown_fields`
  docs/reference/components/sinks/clickhouse.cue
  src/sinks/clickhouse.rs
Labels: sink: clickhouse

#6564 chore(kubernetes_logs source): Adds tests for checkpointing regressions in k8s
  lib/k8s-e2e-tests/tests/vector-agent.rs
  lib/k8s-test-framework/src/framework.rs
  lib/k8s-test-framework/src/lib.rs
  lib/k8s-test-framework/src/restart_rollout.rs
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#7853 enhancement(dev): k8s e2e tests script minor improvements
  .github/workflows/k8s_e2e.yml
  CONTRIBUTING.md
  scripts/test-e2e-kubernetes.sh
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#7874 docs(kubernetes_logs source): Add missing ingestion_timestamp_field and fix descriptions
  docs/reference/components/sources/kubernetes_logs.cue
Labels: domain: external docs, source: kubernetes_logs

#7677 enhancement(kafka sink): Add acknowledgements support
  lib/vector-core/src/event/mod.rs
  src/sinks/kafka.rs
Labels: sink: kafka, type: enhancement

#7882 docs(remap): Fix 'Modify metric tags' example
  docs/reference/remap.cue
Labels: domain: external docs, domain: remap

#7897 fix(tests): See if waiting to ensure checkpoint is written fixes test
  lib/k8s-e2e-tests/tests/vector-agent.rs
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable, domain: tests, platform: kubernetes

#7816 enhancement(file source): Add support for acknowledgements
  docs/reference/components/sources/file.cue
  lib/file-source/src/file_server.rs
  lib/file-source/src/lib.rs
  src/sources/file.rs
  src/sources/kubernetes_logs/mod.rs
  src/sources/kubernetes_logs/util.rs
  src/sources/util/finalizer.rs
  src/sources/util/mod.rs
Labels: source: file, type: enhancement

#7918 fix(tests): Fix flakey pulsar integration test
  Makefile
  src/sinks/pulsar.rs
Labels: domain: tests, sink: pulsar

#7922 enhancement(releasing): Run validate before starting Vector with systemd
  distribution/systemd/vector.service
Labels: domain: releasing

#7885 docs(aws service): Document credential expiration behavior
  docs/reference/components/aws.cue
Labels: domain: external docs, provider: aws

#7782 enhancement(helm platform): Configure a HAProxy for load balancing
  distribution/helm/vector-aggregator/README.md
  distribution/helm/vector-aggregator/templates/haproxy/_helpers.tpl
  distribution/helm/vector-aggregator/templates/haproxy/configmap.yaml
  distribution/helm/vector-aggregator/templates/haproxy/deployment.yaml
  distribution/helm/vector-aggregator/templates/haproxy/podsecuritypolicy.yaml
  distribution/helm/vector-aggregator/templates/haproxy/service.yaml
  distribution/helm/vector-aggregator/templates/haproxy/serviceaccount.yaml
  distribution/helm/vector-aggregator/templates/service-headless.yaml
  distribution/helm/vector-aggregator/templates/service.yaml
  distribution/helm/vector-aggregator/templates/statefulset.yaml
  distribution/helm/vector-aggregator/values.yaml
  distribution/helm/vector/README.md
  distribution/helm/vector/values.yaml
  distribution/kubernetes/vector-aggregator/resources.yaml
  distribution/kubernetes/vector-all/resources.yaml
  lib/k8s-e2e-tests/tests/vector.rs
  tests/helm-snapshots/builtin_configs/vector-aggregator/snapshot.yaml
  tests/helm-snapshots/topology_config/vector-aggregator/snapshot.yaml
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable, platform: helm

#7837 enhancement(transforms): New filter `datadog_search` condition type
  Cargo.lock
  Cargo.toml
  lib/datadog/search-syntax/Cargo.toml
  lib/datadog/search-syntax/src/compiler.rs
  lib/datadog/search-syntax/src/field.rs
  lib/datadog/search-syntax/src/grammar.pest
  lib/datadog/search-syntax/src/grammar.rs
  lib/datadog/search-syntax/src/lib.rs
  lib/datadog/search-syntax/src/node.rs
  lib/datadog/search-syntax/src/parser.rs
  lib/datadog/search-syntax/src/vrl.rs
  lib/lookup/Cargo.toml
  lib/lookup/src/lib.rs
  lib/lookup/src/parser.rs
  lib/vrl/parser/src/ast.rs
  src/conditions/datadog_search.rs
  src/conditions/mod.rs
  src/conditions/vrl.rs
Labels: domain: transforms, type: enhancement

#7940 enhancement(file source): Add `fingerprint.lines` option
  docs/reference.cue
  docs/reference/components/sources/file.cue
  lib/file-source/src/checkpointer.rs
  lib/file-source/src/fingerprinter.rs
  src/sources/file.rs
  src/sources/kubernetes_logs/mod.rs
Labels: source: file, type: enhancement

#7989 chore(data model): Drop impl AtomInteger from status types
  lib/vector-core/src/event/finalization.rs
Labels: domain: data model, type: tech debt

#7787 enhancement(kafka source): Add support for acknowledgements
  docs/reference/components/sources/kafka.cue
  src/sources/kafka.rs
  src/sources/util/mod.rs
Labels: source: kafka, type: enhancement

#8006 chore(tests): Glob faster in checkpoint test
  lib/k8s-e2e-tests/tests/vector-agent.rs
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#8010 fix(file source): Add needed shutdown to file rotation test
  src/sources/file.rs
Labels: domain: tests, source: file, type: bug

#7944 fix(processing): Manage timeouts in multiline
  src/line_agg.rs
  src/sources/util/multiline_config.rs
Labels: domain: processing

#8013 fix(prometheus_scrape source): Don't crash on out-of-order histograms
  lib/prometheus-parser/src/lib.rs
  src/sources/prometheus/parser.rs
Labels: domain: parsing, source: prometheus_scrape, type: bug

#8026 chore(ci): Make k8s e2e workflow build faster
  .github/workflows/k8s_e2e.yml
  Cross.toml
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#8024 chore(ci): Lower glob_minimum_cooldown_ms for k8s e2e tests
  lib/k8s-e2e-tests/src/lib.rs
  lib/k8s-e2e-tests/tests/vector-agent.rs
  lib/k8s-e2e-tests/tests/vector-aggregator.rs
  lib/k8s-e2e-tests/tests/vector-dd-agent-aggregator.rs
  lib/k8s-e2e-tests/tests/vector.rs
  lib/k8s-test-framework/src/vector.rs
  scripts/deploy-kubernetes-test.sh
  scripts/deploy-public-chart-test.sh
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#8031 chore(setup): Fix config example for windows install
  docs/reference/installation/_interfaces/msi.cue
Labels: domain: external docs, domain: setup

#8032 chore(ci): Stop ignoring k8s e2e checkpointing test
  lib/k8s-e2e-tests/tests/vector-agent.rs
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#8041 chore(helm platform): Use the same conditional for both regular and headless service
  distribution/helm/vector-aggregator/templates/service-headless.yaml
Labels: platform: helm

#8039 chore(kubernetes platform): Remove checksum/config
  distribution/helm/vector-shared/templates/_reroll.tpl
  distribution/kubernetes/vector-agent/resources.yaml
  distribution/kubernetes/vector-aggregator/resources.yaml
  distribution/kubernetes/vector-all/resources.yaml
  tests/helm-snapshots/builtin_configs/vector-agent/snapshot.yaml
  tests/helm-snapshots/builtin_configs/vector-aggregator/snapshot.yaml
  tests/helm-snapshots/topology_config/vector-agent/snapshot.yaml
  tests/helm-snapshots/topology_config/vector-aggregator/snapshot.yaml
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#8054 fix(host_metrics source): `init_roots` on `build`
  src/app.rs
  src/sources/host_metrics.rs
Labels: source: host_metrics

#8046 enhancement(vrl): Add `parse_xml` function
  Cargo.lock
  docs/reference/remap/functions/parse_xml.cue
  lib/vrl/stdlib/Cargo.toml
  lib/vrl/stdlib/benches/benches.rs
  lib/vrl/stdlib/src/encode_json.rs
  lib/vrl/stdlib/src/lib.rs
  lib/vrl/stdlib/src/parse_xml.rs
Labels: domain: vrl, type: feature

#8040 chore(kubernetes_logs source): Glob uncompressed rotated log files
  docs/reference/components/sources/kubernetes_logs.cue
  src/sources/kubernetes_logs/k8s_paths_provider.rs
  src/sources/kubernetes_logs/mod.rs
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable, source: kubernetes_logs
