Repository vectordotdev/vector, pull requests merged in 2021-02, with the labels that each got.

#5973 fix(loki sink): Fix out-of-order error
  docs/reference/components/sinks/loki.cue
  src/sinks/loki.rs
  src/sinks/util/buffer/loki.rs
  src/sinks/util/buffer/mod.rs
Labels: sink: loki, type: bug

#6251 fix(metrics): Rework the metrics batch buffer
  src/event/metric.rs
  src/internal_events/sematext_metrics.rs
  src/sinks/aws_cloudwatch_metrics.rs
  src/sinks/datadog/logs.rs
  src/sinks/datadog/metrics.rs
  src/sinks/influxdb/metrics.rs
  src/sinks/prometheus/exporter.rs
  src/sinks/prometheus/remote_write.rs
  src/sinks/sematext/metrics.rs
  src/sinks/util/buffer/metrics.rs
  src/sinks/util/mod.rs
Labels: domain: metrics, sink: aws_cloudwatch_metrics, sink: datadog_metrics, sink: influxdb_metrics, sink: prometheus_remote_write, sink: sematext_metrics, type: bug, type: tech debt

#6332 fix: #5642 - build deb packages that install on Deb 8
  Cargo.toml
  scripts/environment/prepare.sh
Labels: platform: debian

#6292 enhancement(host_metrics source): Add `uptime` & `boot_time` metrics
  docs/reference/components/sources/host_metrics.cue
  src/sources/host_metrics.rs
Labels: domain: metrics, source: host_metrics, type: enhancement

#6281 feat(prometheus_remote_write sink): Add HTTP auth support
  docs/reference/components/sinks/prometheus_remote_write.cue
  src/sinks/prometheus/remote_write.rs
Labels: needs: docs, sink: prometheus_remote_write, type: enhancement

#6354 chore(metrics): Simplify Metric::new name/namespace parameter
  src/conditions/is_log.rs
  src/conditions/is_metric.rs
  src/conditions/remap.rs
  src/event/metric.rs
  src/sinks/aws_cloudwatch_metrics.rs
  src/sinks/console.rs
  src/sinks/datadog/metrics.rs
  src/sinks/humio/metrics.rs
  src/sinks/influxdb/metrics.rs
  src/sinks/kafka.rs
  src/sinks/prometheus/exporter.rs
  src/sinks/sematext/metrics.rs
  src/sinks/statsd.rs
  src/sources/apache_metrics/mod.rs
  src/sources/apache_metrics/parser.rs
  src/sources/aws_ecs_metrics/parser.rs
  src/sources/host_metrics.rs
  src/sources/mongodb_metrics/mod.rs
  src/sources/nginx_metrics/mod.rs
  src/sources/postgresql_metrics.rs
  src/sources/prometheus/parser.rs
  src/sources/statsd/parser.rs
  src/transforms/add_tags.rs
  src/transforms/log_to_metric.rs
  src/transforms/lua/v2/interop/event.rs
  src/transforms/lua/v2/interop/metric.rs
  src/transforms/lua/v2/mod.rs
  src/transforms/metric_to_log.rs
  src/transforms/remap.rs
  src/transforms/remove_tags.rs
  src/transforms/tag_cardinality_limit.rs
Labels: domain: metrics, type: tech debt

#6370 enhancement(external docs): Add reference to detailed Cloudsmith instructions for apt and yum
  docs/reference/installation/_interfaces/apt.cue
  docs/reference/installation/_interfaces/yum.cue
  docs/reference/urls.cue
Labels: domain: external docs

#6369 fix: Update bollard to 0.9.1 to fix #5937
  Cargo.lock
  Cargo.toml
Labels: platform: docker, source: docker_logs

#6294 fix: Emit `processed_events_total` after transform has processed event
  src/internal_events/filter.rs
  src/stream.rs
  src/topology/builder.rs
  src/transforms/filter.rs
Labels: domain: observability

#6283 fix: Switch to `futures-0.3` channels
  benches/isolated_buffering.rs
  src/buffers/mod.rs
  src/topology/builder.rs
  src/transforms/util/runtime_transform.rs
Labels: type: task

#6359 chore: Add component name to healthcheck error
  src/topology/builder.rs
Labels: domain: healthchecks

#6246 fix(mongodb_metrics source, postgresql_metrics source): remove connect in SourceConfig::build
  src/sources/mongodb_metrics/mod.rs
  src/sources/postgresql_metrics.rs
Labels: sink: postgresql_metrics, source: mongodb_metrics

#6154 enhancement(graphql api): `FileSourceMetricFile` sort
  lib/vector-api-client/graphql/schema.json
  src/api/schema/metrics/processed_bytes.rs
  src/api/schema/metrics/processed_events.rs
  src/api/schema/metrics/source/file.rs
  src/api/schema/metrics/source/mod.rs
  src/api/schema/sort.rs
Labels: domain: graphql api, type: enhancement

#6340 fix(metrics, sinks): Move normalization out of MetricsBuffer
  src/sinks/aws_cloudwatch_metrics.rs
  src/sinks/datadog/metrics.rs
  src/sinks/influxdb/metrics.rs
  src/sinks/prometheus/remote_write.rs
  src/sinks/sematext/metrics.rs
  src/sinks/util/buffer/metrics.rs
  src/sinks/util/sink.rs
Labels: domain: metrics, domain: sinks, sink: aws_cloudwatch_metrics, sink: datadog_metrics, sink: prometheus_remote_write

#6384 enhancement(file source): Log IO errors when globbing
  docs/reference/components/sources/file.cue
  docs/reference/components/sources/internal_metrics.cue
  lib/file-source/src/fingerprinter.rs
  lib/file-source/src/internal_events.rs
  lib/file-source/src/paths_provider/glob.rs
  src/internal_events/file.rs
  src/sources/file.rs
Labels: domain: observability, source: file, type: enhancement

#6351 enhancement(templating): Add support for metrics in templates
  docs/manual/setup/configuration.md
  src/template.rs
Labels: domain: metrics, domain: templating, type: enhancement

#6202 enhancement(releasing): change release profile
  Cargo.toml
  Makefile
  scripts/build.sh
  scripts/slim-builds.sh
Labels: domain: releasing

#6405 fix(templating): Fix merge error with test cases
  src/template.rs
Labels: domain: templating, type: bug

#6407 chore(deps): bump hyper version
  Cargo.lock
  Cargo.toml
Labels: domain: deps

#6404 chore(deps): make deps optional
  Cargo.lock
  Cargo.toml
  lib/file-source/Cargo.toml
  lib/k8s-test-framework/Cargo.toml
  lib/remap-cli/Cargo.toml
  lib/remap-functions/Cargo.toml
  lib/remap-lang/Cargo.toml
  lib/tracing-limit/Cargo.toml
  lib/vector-api-client/Cargo.toml
  lib/vector-wasm/Cargo.toml
Labels: domain: deps

#6020 feat(kubernetes platform): Expose node-port for vector-aggregator
  distribution/helm/vector-aggregator/templates/_helpers.tpl
  distribution/helm/vector-aggregator/templates/service-headless.yaml
  distribution/helm/vector-aggregator/templates/service.yaml
  distribution/helm/vector-aggregator/values.yaml
  distribution/helm/vector-shared/templates/_service_port.tpl
  distribution/kubernetes/vector-aggregator/resources.yaml
  distribution/kubernetes/vector-all/resources.yaml
  tests/helm-snapshots/builtin_configs/vector-aggregator/snapshot.yaml
  tests/helm-snapshots/topology_config/vector-aggregator/snapshot.yaml
Labels: ci-condition: k8s e2e tests enable

#6053 fix(kubernetes_logs source): Handle OK response from api_watcher with embedded desync elegantly
  Cargo.lock
  Cargo.toml
  src/internal_events/kubernetes/reflector.rs
  src/kubernetes/api_watcher.rs
  src/kubernetes/client/mod.rs
  src/kubernetes/instrumenting_watcher.rs
  src/kubernetes/mock_watcher.rs
  src/kubernetes/mod.rs
  src/kubernetes/multi_response_decoder.rs
  src/kubernetes/reflector.rs
  src/kubernetes/response.rs
  src/kubernetes/stream.rs
  src/kubernetes/watcher.rs
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#6415 chore(postgresql_metrics source): remove expect for postgreqsl client
  src/sources/postgresql_metrics.rs
Labels: sink: postgresql_metrics

#6217 chore(deps): update
  Cargo.lock
  Cargo.toml
  lib/tracing-limit/benches/limit.rs
Labels: domain: deps

#6402 chore(tests): Implement a workaround for the K8s E2E Test Framework failure
  lib/k8s-e2e-tests/src/lib.rs
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#6432 chore(ci): Pin Github Actions runners to Ubuntu 18.04 for certain jobs
  .github/workflows/benches.yml
  .github/workflows/environment.yml
  .github/workflows/install-sh.yml
  .github/workflows/integration-test.yml
  .github/workflows/k8s_e2e.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/test-harness.yml
  .github/workflows/test.yml
  scripts/environment/bootstrap-ubuntu-20.04.sh
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#6349 chore: Add RFC for event metadata
  rfcs/2021-02-04-5802-event-metadata.md
Labels: domain: architecture, domain: data model, domain: internal docs, type: task

#6468 chore(remap): add type def test case
  lib/vrl/tests/tests/issues/6361_query_type_definition.vrl
Labels: domain: remap, domain: tests, type: tech debt

#6471 chore(remap): improve operation type defs
  lib/vrl/compiler/src/compiler.rs
  lib/vrl/compiler/src/expression/op.rs
  lib/vrl/tests/tests/diagnostics/unneeded_error_coalesce.vrl
  lib/vrl/tests/tests/expressions/logical/err.vrl
  lib/vrl/tests/tests/issues/6469_fallible_operations_marked_as_infallible.vrl
Labels: domain: remap, type: enhancement

#6483 chore(remap): improve type error message
  lib/vrl/compiler/src/expression/function_argument.rs
  lib/vrl/compiler/src/expression/function_call.rs
  lib/vrl/diagnostic/src/diagnostic.rs
  lib/vrl/diagnostic/src/note.rs
  lib/vrl/tests/tests/diagnostics/call_to_undefined_function.vrl
  lib/vrl/tests/tests/diagnostics/function_argument_arity_mismatch.vrl
  lib/vrl/tests/tests/diagnostics/function_argument_missing.vrl
  lib/vrl/tests/tests/diagnostics/invalid_if_condition_type.vrl
  lib/vrl/tests/tests/diagnostics/invalid_regex.vrl
  lib/vrl/tests/tests/diagnostics/regex_parsing_unsuccessful.vrl
  lib/vrl/tests/tests/diagnostics/unhandled_expression_error.vrl
  lib/vrl/tests/tests/diagnostics/unhandled_function_error.vrl
  lib/vrl/tests/tests/diagnostics/unhandled_parse_regex_all_type.vrl
  lib/vrl/tests/tests/diagnostics/unknown_function_argument_keyword.vrl
  lib/vrl/tests/tests/diagnostics/unneeded_error_assignment.vrl
  lib/vrl/tests/tests/diagnostics/unsuccessful_parse_json_type.vrl
  lib/vrl/tests/tests/internal/infallible_ok_maybe_null.vrl
  lib/vrl/tests/tests/issues/6469_fallible_operations_marked_as_infallible.vrl
Labels: domain: remap

#6318 chore: Improve DistributionStatistic::new
  Cargo.toml
  benches/distribution_statistic.rs
  src/sinks/util/statistic.rs
Labels: domain: performance

#6433 enhancement(observability): Add `events_in_total` & `events_out_total` metrics
  docs/reference/components/sinks.cue
  docs/reference/components/sources.cue
  docs/reference/components/sources/internal_metrics.cue
  docs/reference/components/transforms.cue
  src/buffers/mod.rs
  src/internal_events/topology.rs
  src/lib.rs
  src/pipeline.rs
  src/topology/builder.rs
Labels: domain: metrics, domain: observability, type: enhancement

#6426 chore(transforms): Pass in GlobalOptions to build
  benches/lua.rs
  benches/regex.rs
  benches/remap.rs
  src/config/compiler.rs
  src/config/mod.rs
  src/config/unit_test.rs
  src/sinks/humio/metrics.rs
  src/topology/builder.rs
  src/transforms/add_fields.rs
  src/transforms/add_tags.rs
  src/transforms/ansi_stripper.rs
  src/transforms/aws_cloudwatch_logs_subscription_parser.rs
  src/transforms/aws_ec2_metadata.rs
  src/transforms/coercer.rs
  src/transforms/concat.rs
  src/transforms/dedupe.rs
  src/transforms/field_filter.rs
  src/transforms/filter.rs
  src/transforms/geoip.rs
  src/transforms/grok_parser.rs
  src/transforms/json_parser.rs
  src/transforms/key_value_parser.rs
  src/transforms/log_to_metric.rs
  src/transforms/logfmt_parser.rs
  src/transforms/lua/mod.rs
  src/transforms/lua/v2/mod.rs
  src/transforms/merge.rs
  src/transforms/metric_to_log.rs
  src/transforms/reduce/mod.rs
  src/transforms/regex_parser.rs
  src/transforms/remap.rs
  src/transforms/remove_fields.rs
  src/transforms/remove_tags.rs
  src/transforms/rename_fields.rs
  src/transforms/route.rs
  src/transforms/sample.rs
  src/transforms/split.rs
  src/transforms/tag_cardinality_limit.rs
  src/transforms/tokenizer.rs
  src/transforms/wasm.rs
  tests/support/mod.rs
Labels: domain: transforms, type: tech debt

#6542 fix(http sink): Retry sending after no connection
  src/http.rs
  src/sinks/clickhouse.rs
  src/sinks/elasticsearch.rs
  src/sinks/http.rs
  src/sinks/util/http.rs
  src/sinks/util/retries.rs
Labels: domain: networking, sink: http, type: bug

#6554 enhancement(data model): Enhance vector protocol for new metric data
  proto/event.proto
  src/event/mod.rs
Labels: domain: data model, domain: metrics, sink: vector, source: vector, type: enhancement

#6533 enhancement(transforms): Allow specifying default timezone
  Cargo.lock
  docs/reference/components.cue
  docs/reference/components/sources/kubernetes_logs.cue
  docs/reference/components/transforms/coercer.cue
  docs/reference/components/transforms/grok_parser.cue
  docs/reference/components/transforms/key_value_parser.cue
  docs/reference/components/transforms/logfmt_parser.cue
  docs/reference/components/transforms/metric_to_log.cue
  docs/reference/components/transforms/regex_parser.cue
  docs/reference/components/transforms/split.cue
  docs/reference/components/transforms/tokenizer.cue
  docs/reference/urls.cue
  lib/shared/Cargo.toml
  lib/shared/src/conversion.rs
  lib/shared/src/datetime.rs
  lib/shared/src/lib.rs
  lib/vrl/stdlib/src/parse_timestamp.rs
  lib/vrl/stdlib/src/to_timestamp.rs
  src/config/mod.rs
  src/sources/kubernetes_logs/mod.rs
  src/sources/kubernetes_logs/parser/cri.rs
  src/sources/kubernetes_logs/parser/mod.rs
  src/sources/kubernetes_logs/parser/picker.rs
  src/transforms/coercer.rs
  src/transforms/grok_parser.rs
  src/transforms/key_value_parser.rs
  src/transforms/logfmt_parser.rs
  src/transforms/metric_to_log.rs
  src/transforms/regex_parser.rs
  src/transforms/split.rs
  src/transforms/tokenizer.rs
Labels: domain: config, domain: transforms, type: enhancement

#6560 chore: use PartitionBatchSink in BatchSink
  src/sinks/util/service.rs
  src/sinks/util/sink.rs
Labels: domain: sinks, type: tech debt
