Repository vectordotdev/vector, pull requests merged in 2021-11, with the labels that each got.

#9807 enhancement(config): Test `ConfigBuilderHash` serialization ordering
  Cargo.toml
  src/config/builder.rs
Labels: type: enhancement, domain: config

#9838 enhancement(external docs): Update S3 source example
  website/cue/reference/components/sources/aws_s3.cue
Labels: domain: external docs, source: aws_s3

#9839 chore(exec source): Remove obsolete `event_per_line` documentation
  website/content/en/highlights/2021-10-08-0-17-upgrade-guide.md
  website/cue/reference/components/sources/exec.cue
Labels: type: task, domain: external docs, source: exec

#9848 fix(aws_s3 sink): Remove unintentional prefix
  src/sinks/aws_s3/sink.rs
  src/sinks/aws_s3/tests.rs
Labels: sink: aws_s3

#9830 enhancement(observability, vector sink): Add event processing metric
  src/sinks/util/http.rs
  src/sinks/util/uri.rs
  src/sinks/vector/v2.rs
  website/cue/reference/components/sinks/vector.cue
Labels: type: enhancement, domain: observability, sink: vector

#9859 chore(vrl): Fix build error when repl is disabled
  lib/vrl/cli/src/cmd.rs
Labels: type: tech debt, domain: vrl

#9683 enhancement(observability, vector source): Instrument with event processing metrics
  src/sources/util/mod.rs
  src/sources/util/tcp.rs
  src/sources/util/wrappers.rs
  src/sources/vector/v2.rs
  website/cue/reference/components/sources/vector.cue
Labels: type: enhancement, domain: observability, source: vector

#9776 docs: RFC #9480 - Processing Arrays of Events
  rfcs/2021-10-22-9480-processing-arrays-of-events.md
Labels: type: task, domain: performance, domain: processing

#9845 chore(pipelines): Rename `config_hash` -> `version`
  src/config/builder.rs
  src/config/compiler.rs
  src/config/datadog.rs
  src/config/mod.rs
  src/sources/host_metrics/mod.rs
  src/sources/internal_metrics.rs
Labels: domain: config, domain: pipelines

#9850 enhancement(pipelines): Report `datadog.configuration` as a metrics tag for DD Pipelines
  src/config/builder.rs
  src/config/datadog.rs
  src/config/mod.rs
  src/sources/host_metrics/mod.rs
  src/sources/internal_metrics.rs
Labels: type: enhancement, domain: pipelines

#9891 enhancement(aws_kinesis_firehose source): Add support for end-to-end acknowledgements
  src/sources/aws_kinesis_firehose/errors.rs
  src/sources/aws_kinesis_firehose/filters.rs
  src/sources/aws_kinesis_firehose/handlers.rs
  src/sources/aws_kinesis_firehose/mod.rs
Labels: type: enhancement, source: aws_kinesis_firehose

#9906 chore(ci): enhance PRs with basic automated labeling
  .github/labeler.yml
  .github/semantic.yml
  .github/workflows/labeler.yml
Labels: ci-condition: skip

#9890 enhancement(vrl): Add `tally_value` function
  lib/vrl/stdlib/Cargo.toml
  lib/vrl/stdlib/benches/benches.rs
  lib/vrl/stdlib/src/lib.rs
  lib/vrl/stdlib/src/tally_value.rs
Labels: domain: vrl

#9883 chore(config, sources): Rework acknowledgement config
  src/config/mod.rs
  src/sources/aws_kinesis_firehose/mod.rs
  src/sources/datadog/agent.rs
  src/sources/file.rs
  src/sources/heroku_logs.rs
  src/sources/http.rs
  src/sources/kafka.rs
  src/sources/socket/mod.rs
  src/sources/util/http/prelude.rs
  src/sources/vector/v1.rs
  src/sources/vector/v2.rs
  website/cue/reference/components.cue
  website/cue/reference/components/sources/aws_kinesis_firehose.cue
Labels: type: tech debt, domain: config, domain: sources, domain: external docs

#9892 enhancement(file sink): Add support for end-to-end acknowledgements
  src/sinks/file/mod.rs
Labels: type: enhancement, sink: file

#9915 chore(buffers): new `BufferSender<T>`/`BufferReceiver<T>` + buffer topology builder
  Cargo.lock
  Cargo.toml
  lib/tracing-limit/Cargo.toml
  lib/vector-core/Cargo.toml
  lib/vector-core/buffers/Cargo.toml
  lib/vector-core/buffers/benches/common.rs
  lib/vector-core/buffers/benches/in_memory_v2.rs
  lib/vector-core/buffers/src/buffer_usage_data.rs
  lib/vector-core/buffers/src/lib.rs
  lib/vector-core/buffers/src/test/model/in_memory.rs
  lib/vector-core/buffers/src/test/model/mod.rs
  lib/vector-core/buffers/src/test/model/on_disk.rs
  lib/vector-core/buffers/src/topology/builder.rs
  lib/vector-core/buffers/src/topology/channel.rs
  lib/vector-core/buffers/src/topology/mod.rs
  lib/vector-core/buffers/src/topology/poll_sender.rs
  lib/vector-core/buffers/src/topology/strategy.rs
  lib/vector-core/buffers/src/topology/test_util.rs
  lib/vector-core/buffers/src/variant/in_memory_v2.rs
  lib/vector-core/buffers/src/variant/mod.rs
  lib/vrl/tests/Cargo.toml
Labels: domain: vrl, domain: core

#8850 feat(vrl): Support DataDog grok parser - parsing DD grok rules
  Cargo.lock
  lib/datadog/grok/Cargo.toml
  lib/datadog/grok/build.rs
  lib/datadog/grok/patterns/core
  lib/datadog/grok/src/grok_filter.rs
  lib/datadog/grok/src/lib.rs
  lib/datadog/grok/src/parse_grok.rs
  lib/datadog/grok/src/parse_grok_rules.rs
  lib/datadog/grok/src/parser.lalrpop
  lib/vrl/compiler/Cargo.toml
  lib/vrl/compiler/src/value.rs
Labels: domain: vrl

#9913 fix(external docs): Add missing environment variables to CLI docs
  website/cue/reference.cue
  website/cue/reference/cli.cue
  website/cue/reference/components.cue
  website/cue/reference/urls.cue
  website/layouts/partials/data.html
  website/layouts/shortcodes/cli/commands.html
  website/layouts/shortcodes/cli/env-vars.html
Labels: domain: external docs

#9893 enhancement(journald source): Add support for end-to-end acknowledgements
  lib/vector-core/src/event/finalization.rs
  src/sources/datadog/agent.rs
  src/sources/journald.rs
  src/sources/util/http/prelude.rs
  src/sources/vector/v2.rs
  website/cue/reference/components/sources/journald.cue
Labels: type: enhancement, source: journald, domain: sources, domain: external docs, domain: core

#9828 enhancement(observability): improve transform utilization metrics
  src/topology/builder.rs
  src/utilization.rs
Labels: domain: topology

#9637 enhancement(journald source, observability): Implement component spec
  docs/specs/component.md
  scripts/check-events
  src/internal_events/common.rs
  src/internal_events/journald.rs
  src/sources/journald.rs
  website/cue/reference/components/sources/journald.cue
Labels: type: enhancement, domain: observability, source: journald, domain: sources, domain: ci, domain: external docs

#9495 feat(datadog_archives sink): add azure_blog_storage support
  Cargo.toml
  src/internal_events/mod.rs
  src/sinks/azure_blob.rs
  src/sinks/azure_common/config.rs
  src/sinks/azure_common/mod.rs
  src/sinks/azure_common/service.rs
  src/sinks/azure_common/sink.rs
  src/sinks/datadog_archives.rs
  src/sinks/mod.rs
  src/sinks/util/service.rs
Labels: domain: sinks

#9863 chore: Add Splunk HEC indexer acknowledgement RFC
  rfcs/2021-10-29-9465-splunk-hec-indexer-acknowledgements.md
Labels: domain: rfc

#9959 chore(buffers): add configuration support for multi-stage buffers
  Cargo.lock
  Cargo.toml
  benches/batch.rs
  lib/vector-core/buffers/Cargo.toml
  lib/vector-core/buffers/src/bytes.rs
  lib/vector-core/buffers/src/config.rs
  lib/vector-core/buffers/src/disk/leveldb_buffer/mod.rs
  lib/vector-core/buffers/src/disk/leveldb_buffer/writer.rs
  lib/vector-core/buffers/src/disk/mod.rs
  lib/vector-core/buffers/src/lib.rs
  lib/vector-core/buffers/src/topology/channel.rs
  lib/vector-core/buffers/src/topology/test_util.rs
  lib/vector-core/buffers/src/variant/in_memory_v2.rs
  src/buffers.rs
  src/config/mod.rs
  src/generate.rs
  src/lib.rs
  src/sinks/aws_kinesis_firehose/request_builder.rs
  src/sinks/aws_kinesis_firehose/sink.rs
  src/sinks/aws_kinesis_streams/request_builder.rs
  src/sinks/aws_kinesis_streams/sink.rs
  src/sinks/azure_common/config.rs
  src/sinks/blackhole.rs
  src/sinks/console.rs
  src/sinks/datadog/events/request_builder.rs
  src/sinks/datadog/events/sink.rs
  src/sinks/elasticsearch/service.rs
  src/sinks/elasticsearch/sink.rs
  src/sinks/file/mod.rs
  src/sinks/gcs_common/service.rs
  src/sinks/kafka/service.rs
  src/sinks/kafka/tests.rs
  src/sinks/nats.rs
  src/sinks/prometheus/exporter.rs
  src/sinks/pulsar.rs
  src/sinks/util/buffer/mod.rs
  src/sinks/util/http.rs
  src/sinks/util/service.rs
  src/sinks/util/sink.rs
  src/sinks/util/socket_bytes_sink.rs
  src/sinks/util/tcp.rs
  src/sinks/util/udp.rs
  src/sinks/util/unix.rs
  src/topology/builder.rs
  src/topology/mod.rs
  src/topology/running.rs
  src/topology/task.rs
  src/utilization.rs
  tests/support/mod.rs
Labels: domain: topology, domain: buffers, domain: sinks, domain: core

#9971 fix(config): Fix global override for `source_type_key`
  lib/vector-core/src/config/log_schema.rs
Labels: domain: core

#9972 fix(vrl): Fix naming of `compact`'s `object` argument
  lib/vrl/stdlib/src/compact.rs
Labels: domain: vrl

#9965 chore(doc): fix some doc wording in pipelines transform
  lib/vector-core/src/transform/config.rs
  src/transforms/pipelines/mod.rs
Labels: domain: transforms, domain: core

#9976 docs(prometheus_exporter sink): Update `flush_period_secs` docs
  website/cue/reference/components/sinks/prometheus_exporter.cue
Labels: domain: external docs

#9988 fix(external docs): fix transform name in example config
  website/content/en/docs/reference/configuration/_index.md
Labels: domain: external docs

#9998 enhancement(external docs): Rework docs for enrichment tables
  website/cue/reference.cue
  website/cue/reference/components.cue
  website/cue/reference/components/enrichment_tables.cue
  website/cue/reference/components/enrichment_tables/file.cue
  website/cue/reference/configuration.cue
  website/cue/reference/glossary.cue
  website/cue/reference/remap/functions.cue
  website/cue/reference/remap/functions/find_enrichment_table_records.cue
  website/cue/reference/remap/functions/get_enrichment_table_record.cue
  website/cue/reference/urls.cue
  website/layouts/shortcodes/glossary.html
Labels: domain: external docs

#9974 feat(kubernetes_logs source): Use resource_version of 0 to use cache
  src/kubernetes/reflector.rs
  src/kubernetes/resource_version.rs
Labels: ci-condition: k8s e2e all targets, source: kubernetes_logs, ci-condition: k8s e2e tests enable

#9968 feat(new source): add AWS SQS source
  Cargo.lock
  Cargo.toml
  Makefile
  lib/vector-core/core-common/src/internal_event/events_received.rs
  lib/vector-core/core-common/src/internal_event/mod.rs
  src/aws/auth.rs
  src/aws/aws_sdk/auth.rs
  src/aws/aws_sdk/mod.rs
  src/aws/aws_sdk/region.rs
  src/aws/mod.rs
  src/aws/region.rs
  src/aws/rusoto/auth.rs
  src/aws/rusoto/mod.rs
  src/aws/rusoto/region.rs
  src/internal_events/common.rs
  src/lib.rs
  src/sinks/aws_cloudwatch_logs/mod.rs
  src/sinks/aws_cloudwatch_metrics.rs
  src/sinks/aws_kinesis_firehose/config.rs
  src/sinks/aws_kinesis_firehose/integration_tests.rs
  src/sinks/aws_kinesis_firehose/tests.rs
  src/sinks/aws_kinesis_streams/config.rs
  src/sinks/aws_kinesis_streams/integration_tests.rs
  src/sinks/aws_s3/config.rs
  src/sinks/aws_s3/tests.rs
  src/sinks/aws_sqs.rs
  src/sinks/datadog_archives.rs
  src/sinks/elasticsearch/common.rs
  src/sinks/elasticsearch/config.rs
  src/sinks/elasticsearch/mod.rs
  src/sinks/elasticsearch/service.rs
  src/sinks/elasticsearch/tests.rs
  src/sinks/s3_common/config.rs
  src/sources/aws_s3/mod.rs
  src/sources/aws_sqs/config.rs
  src/sources/aws_sqs/events.rs
  src/sources/aws_sqs/integration_tests.rs
  src/sources/aws_sqs/mod.rs
  src/sources/aws_sqs/source.rs
  src/sources/mod.rs
  website/content/en/docs/reference/configuration/sources/aws_sqs.md
  website/cue/reference/components/sources/aws_sqs.cue
Labels: domain: sources, domain: sinks, domain: external docs, domain: core

#10006 chore(sinks): revamp `BatchConfig`/`BatchSettings`
  benches/batch.rs
  benches/http.rs
  src/sinks/aws_cloudwatch_logs/mod.rs
  src/sinks/aws_cloudwatch_metrics.rs
  src/sinks/aws_kinesis_firehose/config.rs
  src/sinks/aws_kinesis_firehose/integration_tests.rs
  src/sinks/aws_kinesis_firehose/tests.rs
  src/sinks/aws_kinesis_streams/config.rs
  src/sinks/aws_kinesis_streams/integration_tests.rs
  src/sinks/aws_s3/config.rs
  src/sinks/aws_s3/tests.rs
  src/sinks/aws_sqs.rs
  src/sinks/azure_blob.rs
  src/sinks/azure_monitor_logs.rs
  src/sinks/clickhouse.rs
  src/sinks/datadog/logs/config.rs
  src/sinks/datadog/metrics/config.rs
  src/sinks/datadog/metrics/encoder.rs
  src/sinks/datadog_archives.rs
  src/sinks/elasticsearch/config.rs
  src/sinks/elasticsearch/integration_tests.rs
  src/sinks/elasticsearch/tests.rs
  src/sinks/gcp/cloud_storage.rs
  src/sinks/gcp/pubsub.rs
  src/sinks/gcp/stackdriver_logs.rs
  src/sinks/gcp/stackdriver_metrics.rs
  src/sinks/honeycomb.rs
  src/sinks/http.rs
  src/sinks/humio/logs.rs
  src/sinks/humio/metrics.rs
  src/sinks/influxdb/logs.rs
  src/sinks/influxdb/metrics.rs
  src/sinks/kafka/config.rs
  src/sinks/kafka/tests.rs
  src/sinks/logdna.rs
  src/sinks/loki/config.rs
  src/sinks/loki/sink.rs
  src/sinks/new_relic_logs.rs
  src/sinks/prometheus/remote_write.rs
  src/sinks/redis.rs
  src/sinks/sematext/logs.rs
  src/sinks/sematext/metrics.rs
  src/sinks/splunk_hec/common/util.rs
  src/sinks/splunk_hec/logs/config.rs
  src/sinks/splunk_hec/logs/integration_tests.rs
  src/sinks/splunk_hec/metrics/config.rs
  src/sinks/splunk_hec/metrics/integration_tests.rs
  src/sinks/splunk_hec/mod.rs
  src/sinks/statsd.rs
  src/sinks/util/adaptive_concurrency/tests.rs
  src/sinks/util/batch.rs
  src/sinks/util/buffer/json.rs
  src/sinks/util/buffer/metrics.rs
  src/sinks/util/buffer/mod.rs
  src/sinks/util/buffer/partition.rs
  src/sinks/util/buffer/vec.rs
  src/sinks/util/mod.rs
  src/sinks/util/service.rs
  src/sinks/util/sink.rs
  src/sinks/vector/v2.rs
Labels: domain: sinks, ci-condition: integration tests enable

#8817 docs(enriching): added docs for enrichment tables
  website/cue/reference.cue
  website/cue/reference/components.cue
  website/cue/reference/configuration.cue
  website/cue/reference/glossary.cue
  website/cue/reference/remap/functions.cue
  website/cue/reference/remap/functions/find_enrichment_table_records.cue
  website/cue/reference/remap/functions/get_enrichment_table_record.cue
  website/cue/reference/urls.cue
  website/layouts/shortcodes/glossary.html
Labels: domain: external docs

#9417 feat(remap transform): add error output stream
  benches/remap.rs
  lib/vector-core/src/config/id.rs
  lib/vector-core/src/config/log_schema.rs
  lib/vector-core/src/config/mod.rs
  lib/vector-core/src/transform/config.rs
  lib/vector-core/src/transform/mod.rs
  src/config/id.rs
  src/config/unit_test.rs
  src/topology/builder.rs
  src/transforms/remap.rs
  website/content/en/highlights/2021-11-04-remap-dropped-output.md
  website/cue/reference/components/transforms/remap.cue
  website/cue/reference/configuration.cue
Labels: domain: topology, domain: transforms, domain: external docs, domain: core

#10029 fix(external docs): Add `client_concurrency` to sqs source
  src/sinks/aws_kinesis_firehose/config.rs
  website/cue/reference.cue
  website/cue/reference/components/sources/aws_sqs.cue
Labels: domain: sinks, domain: external docs

#10030 fix(blog website): Fix topology query in GraphQL API blog post
  website/content/en/blog/graphql-api.md
Labels: website: blog

#9979 chore(generator source): Rename generator source to demo_logs source
  Cargo.toml
  config/vector.toml
  lib/k8s-e2e-tests/tests/vector-aggregator.rs
  src/api/schema/components/mod.rs
  src/api/schema/components/source.rs
  src/config/unit_test.rs
  src/internal_events/demo_logs.rs
  src/internal_events/mod.rs
  src/sinks/util/adaptive_concurrency/tests.rs
  src/sources/demo_logs.rs
  src/sources/mod.rs
  src/topology/test/mod.rs
  src/topology/test/reload.rs
  src/topology/test/source_finished.rs
  tests/api.rs
  tests/behavior/transforms/pipelines_simple.toml
  tests/cli.rs
  tests/namespacing-fail/tests/foo.toml
  tests/namespacing-fail/vector.toml
  tests/namespacing/tests/foo.toml
  tests/namespacing/vector.toml
  tests/pipelines/vector.toml
  tests/shutdown.rs
  website/content/en/docs/reference/configuration/sources/demo_logs.md
  website/content/en/docs/setup/installation/manual/from-source.md
  website/content/en/docs/setup/quickstart.md
  website/content/en/guides/getting-started/getting-started.md
  website/content/en/guides/level-up/managing-schemas.md
  website/content/en/guides/level-up/transformation.md
  website/content/en/highlights/2021-11-16-0-18-0-upgrade-guide.md
  website/cue/reference/components/sources/demo_logs.cue
  website/layouts/index.redirects
Labels: domain: topology, domain: sources, domain: sinks, domain: external docs

#10037 chore(releasing): Merge down commits from v0.17 branch
  distribution/install.sh
  website/content/en/releases/0.17.3.md
  website/cue/reference/releases/0.17.3.cue
  website/cue/reference/versions.cue
Labels: domain: releasing, domain: external docs

#10031 feat(kubernetes_logs source): Add configurable delay to deletion of k8s metadata
  src/sources/kubernetes_logs/mod.rs
  website/cue/reference/components/sources/kubernetes_logs.cue
Labels: domain: sources, domain: external docs, ci-condition: k8s e2e all targets, source: kubernetes_logs, ci-condition: k8s e2e tests enable

#10083 fix(internal docs): Fix typo in component spec
  docs/specs/component.md
Labels: domain: internal docs

#9889 docs(vrl): Document timezone configuration
  website/cue/reference/components/transforms/remap.cue
Labels: domain: external docs

#10088 chore(loki sink): Update batch defaults
  src/sinks/loki/config.rs
  website/cue/reference/components/sinks/loki.cue
Labels: domain: sinks, domain: external docs

#10095 fix(throttle transform): Rename `window` parameter
  src/transforms/throttle.rs
  website/cue/reference/components/transforms/throttle.cue
Labels: domain: transforms, domain: external docs

#10045 enhancement(aws_s3 source): Add end-to-end acknowledgement support
  lib/vector-core/src/event/finalization.rs
  lib/vector-core/src/event/log_event.rs
  lib/vector-core/src/event/metadata.rs
  lib/vector-core/src/event/metric.rs
  lib/vector-core/src/event/mod.rs
  src/sources/aws_s3/mod.rs
  src/sources/aws_s3/sqs.rs
  src/sources/journald.rs
  src/test_util/mod.rs
  website/cue/reference/components/sources/aws_s3.cue
Labels: type: enhancement, domain: sources, domain: external docs, source: aws_s3, domain: core

#9827 feat(vrl): add `parse_groks` function with multiple grok patterns and aliases
  Cargo.lock
  lib/datadog/grok/src/parse_grok.rs
  lib/datadog/grok/src/parse_grok_rules.rs
  lib/vrl/stdlib/Cargo.toml
  lib/vrl/stdlib/benches/benches.rs
  lib/vrl/stdlib/src/lib.rs
  lib/vrl/stdlib/src/parse_grok.rs
  lib/vrl/stdlib/src/parse_groks.rs
  website/cue/reference/remap/functions/parse_groks.cue
Labels: domain: external docs, domain: vrl

#9984 feat(pipelines): Add filter on pipelines
  Cargo.toml
  src/conditions/mod.rs
  src/conditions/not.rs
  src/transforms/filter.rs
  src/transforms/pipelines/expander.rs
  src/transforms/pipelines/filter.rs
  src/transforms/pipelines/mod.rs
  src/transforms/pipelines/router.rs
  tests/behavior/transforms/pipelines_complete.toml
  tests/behavior/transforms/pipelines_simple.toml
  website/cue/reference/components/transforms/pipelines.cue
Labels: domain: transforms, domain: external docs

#10117 chore(elasticsearch sink): Remove println from es service
  src/sinks/elasticsearch/service.rs
Labels: domain: sinks

#10120 chore: Add known issues section to 0.18.0
  website/cue/reference/releases/0.18.0.cue
Labels: domain: external docs

#10110 chore(buffers): Fix clippy lint in `BufferConfig::build`
  lib/vector-core/buffers/src/config.rs
Labels: type: tech debt, domain: buffers, domain: core

#10109 chore(influxdb_logs sink, influxdb_metrics sink): Reduce unneeded string clones
  src/sinks/influxdb/logs.rs
  src/sinks/influxdb/metrics.rs
  src/sinks/influxdb/mod.rs
  src/sinks/sematext/metrics.rs
Labels: type: tech debt, domain: sinks, sink: influxdb_metrics, sink: influxdb_logs, domain: performance

#10131 chore: Fix more typos
  rfcs/2021-01-08-5843-encdoing-decoding-format-vector.md
  website/cue/reference/releases/0.10.0.cue
  website/cue/reference/releases/0.11.0.cue
  website/cue/reference/releases/0.12.0.cue
  website/cue/reference/releases/0.13.0.cue
  website/cue/reference/releases/0.14.0.cue
  website/cue/reference/releases/0.15.0.cue
  website/cue/reference/releases/0.16.0.cue
  website/cue/reference/releases/0.18.0.cue
  website/cue/reference/releases/0.4.0.cue
  website/cue/reference/releases/0.6.0.cue
  website/cue/reference/releases/0.7.0.cue
  website/cue/reference/releases/0.7.2.cue
  website/cue/reference/releases/0.8.0.cue
  website/cue/reference/releases/0.9.0.cue
Labels: domain: external docs, domain: rfc

#10096 chore(core): re-write the `Batcher` to remove the Partition requirement
  lib/vector-core/src/partition.rs
  lib/vector-core/src/stream/batcher.rs
  lib/vector-core/src/stream/mod.rs
  lib/vector-core/src/stream/partitioned_batcher.rs
  src/sinks/aws_kinesis_firehose/sink.rs
  src/sinks/aws_kinesis_streams/sink.rs
  src/sinks/azure_common/sink.rs
  src/sinks/datadog/logs/sink.rs
  src/sinks/datadog/metrics/sink.rs
  src/sinks/elasticsearch/sink.rs
  src/sinks/gcs_common/sink.rs
  src/sinks/loki/sink.rs
  src/sinks/s3_common/sink.rs
  src/sinks/splunk_hec/logs/sink.rs
  src/sinks/splunk_hec/metrics/sink.rs
  src/sinks/util/builder.rs
Labels: domain: sinks, domain: core

#10150 chore(sources): Refactor source acknowledgements config
  src/config/mod.rs
  src/sources/aws_kinesis_firehose/mod.rs
  src/sources/aws_s3/mod.rs
  src/sources/aws_s3/sqs.rs
  src/sources/aws_sqs/config.rs
  src/sources/datadog/agent.rs
  src/sources/file.rs
  src/sources/heroku_logs.rs
  src/sources/http.rs
  src/sources/journald.rs
  src/sources/kafka.rs
  src/sources/prometheus/remote_write.rs
  src/sources/socket/mod.rs
  src/sources/util/http/prelude.rs
  src/sources/vector/mod.rs
  src/sources/vector/v1.rs
  src/sources/vector/v2.rs
  src/topology/builder.rs
Labels: domain: topology, domain: sources, ci-condition: integration tests enable

#10125 chore(dev): Have clippy catch debug statements
  .cargo/config
  lib/k8s-e2e-tests/src/metrics.rs
  lib/k8s-test-framework/src/port_forward.rs
  lib/vector-api-client/src/client.rs
  lib/vector-core/buffers/examples/soak.rs
  lib/vector-core/core-common/src/event_test_util.rs
  lib/vrl/cli/src/cmd.rs
  lib/vrl/cli/src/repl.rs
  lib/vrl/compiler/src/value/target.rs
  lib/vrl/parser/src/lex.rs
  lib/vrl/proptests/src/main.rs
  lib/vrl/tests/src/main.rs
  src/codecs/framers/octet_counting.rs
  src/generate.rs
  src/graph.rs
  src/list.rs
  src/sinks/aws_sqs.rs
  src/sinks/datadog/logs/tests.rs
  src/sinks/datadog_archives.rs
  src/sinks/kafka/tests.rs
  src/sinks/prometheus/exporter.rs
  src/sinks/util/adaptive_concurrency/tests.rs
  src/sinks/util/http.rs
  src/sources/aws_kinesis_firehose/mod.rs
  src/sources/dnstap/mod.rs
  src/sources/nats.rs
  src/tap/cmd.rs
  src/test_util/components.rs
  src/top/cmd.rs
  src/unit_test.rs
  src/validate.rs
Labels: domain: sources, domain: sinks, domain: codecs, domain: vrl, domain: core

#10152 fix(remap transform): only add dropped output when enabled
  src/transforms/remap.rs
Labels: domain: transforms

#10044 enhancement(splunk_hec source): Implement indexer acknowledgements
  Cargo.lock
  Cargo.toml
  src/sources/splunk_hec/acknowledgements.rs
  src/sources/splunk_hec/mod.rs
  src/sources/util/mod.rs
  website/cue/reference/components/sources/splunk_hec.cue
Labels: domain: sources, domain: external docs

#10162 fix(external docs): Correct splunk_hec source acknowledgements docs
  website/cue/reference/components/sources/splunk_hec.cue
Labels: domain: external docs

#10161 fix: Remove unnecessary debug print
  src/sources/splunk_hec/mod.rs
Labels: domain: sources

#10148 chore(vector sink): rewrite vector sink (v2) in the new style
  lib/vector-core/src/stream/batcher.rs
  lib/vector-core/src/stream/batcher/config.rs
  lib/vector-core/src/stream/batcher/data.rs
  lib/vector-core/src/stream/batcher/limiter.rs
  lib/vector-core/src/stream/batcher/mod.rs
  lib/vector-core/src/stream/mod.rs
  lib/vector-core/src/stream/partitioned_batcher.rs
  src/sinks/aws_kinesis_firehose/sink.rs
  src/sinks/aws_kinesis_streams/sink.rs
  src/sinks/elasticsearch/sink.rs
  src/sinks/splunk_hec/logs/sink.rs
  src/sinks/splunk_hec/metrics/sink.rs
  src/sinks/util/builder.rs
  src/sinks/vector/mod.rs
  src/sinks/vector/v1.rs
  src/sinks/vector/v2.rs
  src/sinks/vector/v2/config.rs
  src/sinks/vector/v2/mod.rs
  src/sinks/vector/v2/service.rs
  src/sinks/vector/v2/sink.rs
Labels: domain: sinks, domain: core

#10098 feat(pipelines transform): forbid nesting pipelines transform
  lib/vector-core/src/transform/config.rs
  src/config/compiler.rs
  src/config/mod.rs
  src/transforms/pipelines/mod.rs
Labels: domain: transforms, domain: core

#10165 fix(prometheus_exporter sink): agg histograms dont encode buckets correctly
  Cargo.lock
  Cargo.toml
  lib/vector-core/src/metrics/ddsketch.rs
  lib/vector-core/src/metrics/handle.rs
  src/sinks/prometheus/collector.rs
  src/sources/internal_metrics.rs
  src/test_util/stats.rs
  website/cue/reference/releases/0.18.0.cue
Labels: domain: sources, domain: sinks, domain: external docs, domain: core

#10149 enhancement(vrl): Allow multiline strings
  lib/vrl/parser/src/lex.rs
  lib/vrl/tests/tests/expressions/literal/string.vrl
  website/cue/reference/remap/literals/string.cue
Labels: domain: external docs, domain: vrl

#10191 chore(ci): Install bundler on OSX
  scripts/environment/bootstrap-macos-10.sh
Labels: domain: ci

#10087 chore(codecs): Set up symmetric naming scheme (decoder/encoder, deserializer/serializer)
  src/codecs/decoding.rs
  src/codecs/encoding.rs
  src/codecs/format/bytes.rs
  src/codecs/format/json.rs
  src/codecs/format/mod.rs
  src/codecs/format/syslog.rs
  src/codecs/framers/mod.rs
  src/codecs/framing/bytes.rs
  src/codecs/framing/character_delimited.rs
  src/codecs/framing/length_delimited.rs
  src/codecs/framing/mod.rs
  src/codecs/framing/newline_delimited.rs
  src/codecs/framing/octet_counting.rs
  src/codecs/mod.rs
  src/codecs/parsers/mod.rs
  src/internal_events/decoder.rs
  src/internal_events/socket.rs
  src/internal_events/syslog.rs
  src/serde.rs
  src/sources/aws_kinesis_firehose/mod.rs
  src/sources/aws_s3/sqs.rs
  src/sources/aws_sqs/config.rs
  src/sources/datadog/agent.rs
  src/sources/demo_logs.rs
  src/sources/exec/mod.rs
  src/sources/heroku_logs.rs
  src/sources/http.rs
  src/sources/journald.rs
  src/sources/kafka.rs
  src/sources/nats.rs
  src/sources/socket/mod.rs
  src/sources/socket/tcp.rs
  src/sources/socket/udp.rs
  src/sources/socket/unix.rs
  src/sources/statsd/mod.rs
  src/sources/statsd/unix.rs
  src/sources/stdin.rs
  src/sources/syslog.rs
  src/sources/util/unix_datagram.rs
  src/sources/vector/v1.rs
Labels: domain: sources, domain: codecs

#10114 chore(codecs): Rename `TcpError` -> `StreamDecodingError`
  src/codecs/decoding.rs
  src/sources/aws_kinesis_firehose/handlers.rs
  src/sources/aws_sqs/source.rs
  src/sources/datadog/agent.rs
  src/sources/demo_logs.rs
  src/sources/exec/mod.rs
  src/sources/fluent.rs
  src/sources/heroku_logs.rs
  src/sources/kafka.rs
  src/sources/logstash.rs
  src/sources/nats.rs
  src/sources/socket/udp.rs
  src/sources/stdin.rs
  src/sources/util/codecs.rs
  src/sources/util/mod.rs
  src/sources/util/tcp.rs
  src/sources/util/unix_datagram.rs
  src/sources/util/unix_stream.rs
Labels: domain: sources, domain: codecs

#10082 feat(influxdb_logs sink): Add measurement option to replace namespace
  src/sinks/influxdb/logs.rs
  website/cue/reference/components/sinks/influxdb_logs.cue
Labels: domain: sinks, domain: external docs

#10180 chore: Rename `Failed` batch/event status to `Rejected`
  lib/vector-core/src/event/finalization.rs
  lib/vector-core/src/stream/driver.rs
  rfcs/2021-10-29-9465-splunk-hec-indexer-acknowledgements.md
  src/sinks/aws_s3/tests.rs
  src/sinks/clickhouse.rs
  src/sinks/datadog/events/service.rs
  src/sinks/datadog/events/tests.rs
  src/sinks/datadog/metrics/service.rs
  src/sinks/elasticsearch/integration_tests.rs
  src/sinks/elasticsearch/retry.rs
  src/sinks/elasticsearch/service.rs
  src/sinks/gcp/pubsub.rs
  src/sinks/http.rs
  src/sinks/influxdb/logs.rs
  src/sinks/logdna.rs
  src/sinks/splunk_hec/common/service.rs
  src/sinks/splunk_hec/logs/integration_tests.rs
  src/sinks/util/sink.rs
  src/sinks/vector/v2/mod.rs
  src/sources/aws_kinesis_firehose/handlers.rs
  src/sources/aws_kinesis_firehose/mod.rs
  src/sources/aws_s3/mod.rs
  src/sources/aws_s3/sqs.rs
  src/sources/datadog/agent.rs
  src/sources/heroku_logs.rs
  src/sources/http.rs
  src/sources/util/http/prelude.rs
  src/sources/vector/v2.rs
Labels: domain: sources, domain: sinks, domain: rfc, domain: core

#10206 chore(observability): Remove unused alias for `events_processed_total`
  lib/vector-core/src/metrics/mod.rs
Labels: domain: core

#10210 docs(kubernetes_logs source): Document `max_read_bytes`
  website/cue/reference/components/sources/file.cue
  website/cue/reference/components/sources/kubernetes_logs.cue
Labels: domain: external docs
