Repository vectordotdev/vector, pull requests merged in 2021-04, with the labels that each got.

#6853 feat(remap): Add `parse_csv` function
  Cargo.lock
  docs/reference/remap/functions/parse_csv.cue
  lib/vrl/stdlib/Cargo.toml
  lib/vrl/stdlib/benches/benches.rs
  lib/vrl/stdlib/src/lib.rs
  lib/vrl/stdlib/src/parse_csv.rs
Labels: domain: parsing, domain: remap, type: feature

#6990 fix(deps): Upgrade reqwest in k8s-e2e-tests
  Cargo.lock
  Cargo.toml
  lib/k8s-e2e-tests/Cargo.toml
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#6978 chore: metrics touchup
  src/app.rs
  src/metrics.rs
  src/metrics/label_filter.rs
  src/metrics/mod.rs
  src/metrics/recorder.rs
  src/metrics/registry.rs
  src/metrics/tests/mod.rs
  src/sinks/blackhole.rs
Labels: domain: performance, source: internal_metrics

#6610 enhancement(observability): Vector `tap`, v2
  Cargo.lock
  Cargo.toml
  lib/vector-api-client/graphql/schema.json
  src/api/mod.rs
  src/api/schema/events/encoding.rs
  src/api/schema/events/log.rs
  src/api/schema/events/mod.rs
  src/api/schema/events/notification.rs
  src/api/schema/events/output.rs
  src/api/schema/mod.rs
  src/api/server.rs
  src/api/tap.rs
  src/app.rs
  src/topology/fanout.rs
  src/topology/mod.rs
  tests/api.rs
Labels: domain: graphql api, type: enhancement

#6915 enhancement(graphql api): Add `json` to `Log` type
  src/api/schema/events/log.rs
  src/api/schema/mod.rs
  src/api/schema/scalar.rs
  src/event/value.rs
Labels: domain: graphql api, type: enhancement

#7028 chore(deps): `async-graphql` 2.6.4
  Cargo.lock
  Cargo.toml
Labels: domain: deps, type: enhancement

#7029 chore(sources): Introduce SourceContext to hold build parameters
  src/config/compiler.rs
  src/config/mod.rs
  src/sources/apache_metrics/mod.rs
  src/sources/aws_ecs_metrics/mod.rs
  src/sources/aws_kinesis_firehose/mod.rs
  src/sources/aws_s3/mod.rs
  src/sources/datadog/logs.rs
  src/sources/docker_logs.rs
  src/sources/file.rs
  src/sources/generator.rs
  src/sources/heroku_logs.rs
  src/sources/host_metrics.rs
  src/sources/http.rs
  src/sources/internal_logs.rs
  src/sources/internal_metrics.rs
  src/sources/journald.rs
  src/sources/kafka.rs
  src/sources/kubernetes_logs/mod.rs
  src/sources/mongodb_metrics/mod.rs
  src/sources/nginx_metrics/mod.rs
  src/sources/postgresql_metrics.rs
  src/sources/prometheus/remote_write.rs
  src/sources/prometheus/scrape.rs
  src/sources/socket/mod.rs
  src/sources/splunk_hec.rs
  src/sources/statsd/mod.rs
  src/sources/stdin.rs
  src/sources/syslog.rs
  src/sources/vector.rs
  src/topology/builder.rs
  src/topology/mod.rs
  tests/crash.rs
  tests/support/mod.rs
Labels: domain: sources, type: tech debt

#6965 chore(influxdb_metrics sink): Test contents sent to server
  src/sinks/influxdb/metrics.rs
Labels: domain: tests, sink: influxdb_metrics, type: tech debt

#7036 fix(influxdb_metrics sink): Fix formatting of timestamps in tests
  src/sinks/influxdb/metrics.rs
  src/sinks/influxdb/mod.rs
  src/sinks/prometheus/remote_write.rs
Labels: domain: tests, sink: influxdb_metrics, type: bug

#6911 chore: Add RFC for end-to-end acknowledgement
  rfcs/2021-03-26-6517-end-to-end-acknowledgement.md
Labels: domain: internal docs, type: task

#7047 fix(socket source): Remove socket file on source shutdown
  src/internal_events/open.rs
  src/internal_events/unix.rs
  src/sources/util/unix_datagram.rs
  src/sources/util/unix_stream.rs
  tests/shutdown.rs
Labels: source: socket, source: statsd, source: syslog

#7154 chore(deps): Bulk deps update
  Cargo.lock
  Cargo.toml
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#6816 fix(kubernetes_logs source): Refactor stream and invocation errors to support recoverable error types
  src/internal_events/kubernetes/reflector.rs
  src/kubernetes/api_watcher.rs
  src/kubernetes/mock_watcher.rs
  src/kubernetes/reflector.rs
  src/kubernetes/watcher.rs
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#7179 chore(host_metrics source): Document symlink warning workaround
  distribution/helm/vector-agent/values.yaml
  distribution/kubernetes/vector-agent/resources.yaml
  distribution/kubernetes/vector-all/resources.yaml
  docs/reference/components/sources/host_metrics.cue
  tests/helm-snapshots/builtin_configs/vector-agent/snapshot.yaml
  tests/helm-snapshots/topology_config/vector-agent/snapshot.yaml
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable, domain: external docs, source: host_metrics, type: help, type: task

#7045 enhancement(remap): Support identifiers with leading numeric characters as fields in path
  docs/reference/remap/expressions/path.cue
  lib/vrl/parser/src/lex.rs
  lib/vrl/tests/tests/expressions/query/coalesce.vrl
  lib/vrl/tests/tests/expressions/query/mixed.vrl
Labels: domain: remap, transform: remap, type: enhancement

#7165 chore(buffers): Upgrade DiskBuffer to futures 0.3
  benches/isolated_buffer.rs
  src/buffers/disk/leveldb_buffer.rs
  src/buffers/disk/mod.rs
  src/buffers/mod.rs
  src/pipeline.rs
Labels: domain: buffers

#7225 chore(splunk_hec source): Update to `futures` 0.3
  src/sources/splunk_hec.rs
Labels: source: splunk_hec

#6888 enhancement(graphql api): Expose `events_in` & `events_out` metrics
  lib/vector-api-client/graphql/queries/components.graphql
  lib/vector-api-client/graphql/schema.json
  lib/vector-api-client/graphql/subscriptions/component_events_in_throughputs.graphql
  lib/vector-api-client/graphql/subscriptions/component_events_in_totals.graphql
  lib/vector-api-client/graphql/subscriptions/component_events_out_throughputs.graphql
  lib/vector-api-client/graphql/subscriptions/component_events_out_totals.graphql
  lib/vector-api-client/graphql/subscriptions/events_in_throughput.graphql
  lib/vector-api-client/graphql/subscriptions/events_in_total.graphql
  lib/vector-api-client/graphql/subscriptions/events_out_throughput.graphql
  lib/vector-api-client/graphql/subscriptions/events_out_total.graphql
  lib/vector-api-client/src/gql/components.rs
  lib/vector-api-client/src/gql/metrics.rs
  lib/vector-api-client/tests/queries/file_source_metrics.graphql
  src/api/schema/metrics/events_in.rs
  src/api/schema/metrics/events_out.rs
  src/api/schema/metrics/filter.rs
  src/api/schema/metrics/mod.rs
  src/api/schema/metrics/sink/generic.rs
  src/api/schema/metrics/sink/mod.rs
  src/api/schema/metrics/source/file.rs
  src/api/schema/metrics/source/generic.rs
  src/api/schema/metrics/source/mod.rs
  src/api/schema/metrics/transform/generic.rs
  src/api/schema/metrics/transform/mod.rs
  tests/api.rs
Labels: domain: graphql api, domain: metrics

#6876 feat(new source): Initial `exec` source
  Cargo.toml
  docs/reference.cue
  docs/reference/components/sources/exec.cue
  docs/reference/components/sources/internal_metrics.cue
  docs/reference/services/exec.cue
  docs/reference/urls.cue
  src/async_read.rs
  src/internal_events/exec.rs
  src/internal_events/mod.rs
  src/sources/exec/mod.rs
  src/sources/exec/sized_bytes_codec.rs
  src/sources/mod.rs
Labels: domain: sources, type: feature

#7286 chore: Update `top` with `events_in_total` and `events_out_total` metrics
  src/top/dashboard.rs
  src/top/metrics.rs
  src/top/state.rs
Labels: domain: observability, type: enhancement
