Repository vectordotdev/vector, pull requests merged in 2021-01, with the labels that each got.

#5590 enhancement(kubernetes platform): Adds script for generating README.md for Agent role helm-chart
  distribution/helm/vector-agent/README.md
Labels: ci-condition: k8s e2e tests enable

#5803 fix(syslog source): do not use static year in tests
  src/sources/syslog.rs
Labels: source: syslog

#5787 enhancement(ci): Build ARMv7 images for all supported platforms
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Labels: domain: ci, platform: docker

#5542 chore(external docs): Fix key_value_parser transform docs
  docs/reference/components/transforms/key_value_parser.cue
Labels: domain: external docs

#5771 chore(deps): upgrade to 1.49 toolchain
  lib/remap-lang/src/expression/function.rs
  rust-toolchain
  src/config/loading.rs
  src/event/util/log/all_fields.rs
  src/event/util/log/keys.rs
  src/event/util/log/path_iter.rs
  src/generate.rs
  src/kubernetes/client/config/in_cluster.rs
  src/kubernetes/state/instrumenting.rs
  src/kubernetes/watch_request_builder.rs
  src/mapping/parser/mod.rs
  src/sinks/aws_cloudwatch_logs/mod.rs
  src/sinks/clickhouse.rs
  src/sinks/new_relic_logs.rs
  src/sinks/util/statistic.rs
  src/sources/journald.rs
  src/sources/kubernetes_logs/k8s_paths_provider.rs
  src/sources/syslog.rs
  src/transforms/aws_ec2_metadata.rs
  src/transforms/lua/v2/interop/util.rs
  src/transforms/sampler.rs
Labels: domain: dev

#5764 enhancement(remap transform): add `parse_aws_cloudwatch_log_subscription_message` function
  .github/CODEOWNERS
  Cargo.lock
  docs/reference/components/transforms/aws_cloudwatch_logs_subscription_parser.cue
  docs/reference/remap/parse_aws_cloudwatch_log_subscription_message.cue
  lib/remap-functions/Cargo.toml
  lib/remap-functions/src/lib.rs
  lib/remap-functions/src/parse_aws_cloudwatch_log_subscription_message.rs
  lib/shared/Cargo.toml
  lib/shared/src/aws_cloudwatch_logs_subscription.rs
  lib/shared/src/lib.rs
  src/transforms/aws_cloudwatch_logs_subscription_parser.rs
  tests/behavior/transforms/remap.toml
Labels: domain: remap

#5798 chore(deps): bump deps
  Cargo.lock
  Cargo.toml
  lib/file-source/Cargo.toml
  src/top/dashboard.rs
Labels: domain: deps

#5699 fix(metrics): Trivial fixes for metrics batch buffer
  src/event/metric.rs
  src/sinks/util/buffer/metrics.rs
Labels: domain: metrics, domain: sinks, type: bug, type: tech debt

#5753 enhancement(remap): Enable casting timestamps into integers
  docs/reference/remap/to_int.cue
  lib/remap-functions/src/to_int.rs
Labels: domain: remap

#5712 enhancement(kafka sink): allow send metrics to kafka
  docs/reference/components/sinks/kafka.cue
  src/sinks/kafka.rs
Labels: sink: kafka

#5811 chore(deps): Update dependbot to also track github actions updates
  .github/dependabot.yml
Labels: domain: ci, domain: deps

#5808 chore(ci): Refactor Docker build and release
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  Makefile
  distribution/docker/alpine/Dockerfile
  distribution/docker/distroless-static/Dockerfile
  scripts/build-docker.sh
  scripts/release-docker.sh
  scripts/test-e2e-kubernetes.sh
Labels: domain: ci, platform: docker

#5828 chore(deps): update
  Cargo.lock
  Cargo.toml
  benches/regex.rs
  src/sources/util/fake.rs
  src/test_util/mod.rs
  tests/syslog.rs
Labels: domain: deps

#5829 fix(deps): fix features for lib/shared
  lib/shared/Cargo.toml
Labels: domain: deps, type: bug

#5831 chore(mongodb_metrics source): remove not used error variant
  src/sources/mongodb_metrics/mod.rs
Labels: source: mongodb_metrics

#5819 chore(aws service): Better error reporting for `CustomChainProvider`
  docs/reference/components/sources/aws_kinesis_firehose.cue
  src/rusoto/mod.rs
Labels: provider: aws, type: task

#5820 chore(ci): Add a task to verify the OSX and Windows binaries work
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Labels: domain: ci

#5778 chore(ci): Add aarch64 GNU packages
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  Makefile
Labels: domain: ci

#5848 fix(ci): Adds docker push guard back into CI scripts
  scripts/build-docker.sh
  scripts/test-e2e-kubernetes.sh
Labels: ci-condition: k8s e2e tests enable

#5845 chore(ci): Notify discord for failing k8s tests on master
  .github/workflows/k8s_e2e.yml
Labels: domain: ci, platform: kubernetes

#5760 feat(remap): added `parse_key_value` remap function
  docs/reference/remap/parse_key_value.cue
  lib/remap-functions/Cargo.toml
  lib/remap-functions/src/lib.rs
  lib/remap-functions/src/parse_key_value.rs
  tests/behavior/transforms/remap.toml
Labels: domain: remap

#5835 enhancement(remap): non-boolean if conditional compile-time error
  lib/remap-lang/src/expression/if_statement.rs
  lib/remap-lang/src/lib.rs
  lib/remap-lang/src/parser.rs
Labels: domain: remap, type: enhancement

#5854 chore(remap): add "try_bytes_utf8_lossy" helper method
  lib/remap-functions/src/assert.rs
  lib/remap-functions/src/contains.rs
  lib/remap-functions/src/ends_with.rs
  lib/remap-functions/src/ip_subnet.rs
  lib/remap-functions/src/ip_to_ipv6.rs
  lib/remap-functions/src/match.rs
  lib/remap-functions/src/parse_grok.rs
  lib/remap-functions/src/parse_url.rs
  lib/remap-functions/src/redact.rs
  lib/remap-functions/src/split.rs
  lib/remap-functions/src/tokenize.rs
  lib/remap-functions/src/truncate.rs
  lib/remap-lang/src/function.rs
  lib/remap-lang/src/value.rs
Labels: domain: remap, type: tech debt

#5857 chore(deps): put `portpicker` and `is_derive_enum` to lib
  Cargo.lock
  Cargo.toml
  lib/derive_is_enum_variant/Cargo.toml
  lib/derive_is_enum_variant/src/lib.rs
  lib/derive_is_enum_variant/tests/tests.rs
  lib/portpicker/Cargo.toml
  lib/portpicker/src/lib.rs
  src/test_util/mod.rs
Labels: domain: deps

#5804 chore(topology): Upgrade fanout to futures 0.3 and tokio channels
  src/buffers/mod.rs
  src/topology/builder.rs
  src/topology/fanout.rs
  src/topology/mod.rs
  tests/buffering.rs
Labels: domain: topology, type: task

#5805 chore(topology): Update abort signal to `tokio::sync`
  src/app.rs
  src/test_util/mod.rs
  src/topology/mod.rs
  tests/crash.rs
Labels: domain: topology, type: task

#5868 chore(buffers): Upgrade to tokio channels
  src/buffers/mod.rs
  src/sink.rs
  src/topology/builder.rs
  src/topology/fanout.rs
  src/topology/mod.rs
  src/topology/task.rs
Labels: domain: buffers, domain: deps

#5859 chore(ci): Fix nightly and verify jobs
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Labels: domain: ci

#5747 enhancement(graphql api): Relay connections (components, initially)
  Cargo.toml
  lib/vector-api-client/graphql/queries/components.graphql
  lib/vector-api-client/graphql/schema.json
  lib/vector-api-client/src/gql/components.rs
  lib/vector-api-client/src/test/mod.rs
  lib/vector-api-client/tests/queries/components_connection.graphql
  src/api/schema/components/mod.rs
  src/api/schema/mod.rs
  src/api/schema/relay.rs
  src/top/metrics.rs
  tests/api.rs
Labels: domain: graphql api, type: enhancement

#5880 enhancement(graphql api): Relay-compatible connections for sources/transforms/sinks
  lib/vector-api-client/graphql/schema.json
  lib/vector-api-client/src/test/mod.rs
  lib/vector-api-client/tests/queries/component_links.graphql
  lib/vector-api-client/tests/queries/file_source_metrics.graphql
  src/api/schema/components/mod.rs
  src/api/schema/components/state.rs
  tests/api.rs
Labels: domain: graphql api, type: enhancement

#5754 enhancement(remap): Add is_nullish function to VRL
  docs/reference/remap.cue
  docs/reference/remap/is_nullish.cue
  lib/remap-functions/Cargo.toml
  lib/remap-functions/src/is_nullish.rs
  lib/remap-functions/src/lib.rs
  tests/behavior/transforms/remap.toml
Labels: domain: remap

#5900 chore(kafka sink): Revert "use signal instead timeout (#5007)"
  src/sinks/kafka.rs
Labels: domain: performance, sink: kafka, type: bug

#5882 fix(docker_logs source): Fix HTTP and HTTPS URL
  docs/reference/components/sources/docker_logs.cue
  src/sources/docker_logs.rs
Labels: source: docker_logs, type: bug

#5756 enhancement(remap): Move VRL CLI into the Vector CLI
  .github/CODEOWNERS
  .github/semantic.yml
  Cargo.lock
  Cargo.toml
  README.md
  docs/reference/cli.cue
  lib/remap-cli/Cargo.toml
  lib/remap-cli/src/cmd.rs
  lib/remap-cli/src/lib.rs
  lib/remap-cli/src/main.rs
  src/app.rs
  src/cli.rs
  src/lib.rs
Labels: domain: cli, domain: remap

#5633 chore(remap): Make del function only take one arg
  docs/reference/remap/del.cue
  lib/remap-functions/src/del.rs
  lib/remap-functions/src/lib.rs
  lib/remap-functions/src/only_fields.rs
  lib/remap-lang/src/object.rs
  lib/remap-lang/src/value/object.rs
  src/event/log_event.rs
  src/event/metric.rs
Labels: domain: remap, transform: remap

#5830 feat(remap): add error coalescing operator
  lib/remap-lang/grammar.pest
  lib/remap-lang/src/expression/arithmetic.rs
  lib/remap-lang/src/lib.rs
  lib/remap-lang/src/operator.rs
  lib/remap-lang/src/parser.rs
Labels: domain: remap

#5876 feat(remap): support "abort on error" bang-function-calls
  lib/remap-lang/grammar.pest
  lib/remap-lang/src/error.rs
  lib/remap-lang/src/expression/function.rs
  lib/remap-lang/src/lib.rs
  lib/remap-lang/src/parser.rs
Labels: domain: remap, type: feature

#5899 fix: Addressed minor spelling error in variable
  src/config/validation.rs
Labels: domain: config

#5921 chore(ci): Stop Debian package failing if vector user already exists
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  distribution/debian/scripts/preinst
Labels: domain: ci, platform: debian

#5911 feat(remap): error-return-value error handling pattern
  lib/remap-cli/src/cmd.rs
  lib/remap-cli/src/repl.rs
  lib/remap-lang/grammar.pest
  lib/remap-lang/src/error.rs
  lib/remap-lang/src/expression/assignment.rs
  lib/remap-lang/src/expression/function.rs
  lib/remap-lang/src/lib.rs
  lib/remap-lang/src/parser.rs
  lib/remap-lang/src/program.rs
  lib/remap-lang/src/value.rs
  src/conditions/remap.rs
  src/transforms/remap.rs
Labels: domain: remap, type: feature

#5616 feat(file source): allow user configuration of the `ignore_not_found` option
  docs/reference/components/sources/file.cue
  src/sources/file.rs
Labels: source: file, type: enhancement

#5751 chore(remap): Remove default args from functions
  lib/remap-functions/src/parse_json.rs
  lib/remap-functions/src/parse_timestamp.rs
  lib/remap-functions/src/to_bool.rs
  lib/remap-functions/src/to_float.rs
  lib/remap-functions/src/to_int.rs
  lib/remap-functions/src/to_string.rs
  lib/remap-functions/src/to_timestamp.rs
  lib/remap-functions/src/util.rs
  tests/behavior/transforms/remap.toml
Labels: domain: remap, transform: remap

#5928 fix(tests): Handle early return from influxdb create database
  src/sinks/influxdb/mod.rs
  src/sinks/prometheus/remote_write.rs
Labels: domain: tests, sink: influxdb_metrics, sink: prometheus_remote_write, type: bug

#5943 chore(tests): Make `wait_for` use a quadratic backoff on delays
  src/test_util/mod.rs
Labels: domain: tests, type: tech debt

#5866 chore(tests): Register signal handler before causing signal
  src/config/watcher.rs
Labels: domain: reload, domain: tests

#5956 chore(ci): Add --replacepkgs flag to RPM test installs
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Labels: domain: ci

#5856 enhancement(remap): bare variable names
  benches/remap.rs
  lib/remap-lang/grammar.pest
  lib/remap-lang/src/error.rs
  lib/remap-lang/src/lib.rs
  lib/remap-lang/src/parser.rs
  tests/behavior/transforms/remap.toml
Labels: domain: remap, meta: blocked, type: enhancement

#5950 fix(config): Avoid alias `in_flight_limit`
  src/sinks/util/http.rs
  src/sinks/util/service.rs
Labels: domain: config

#5967 chore(docker_logs source): Remove unnecessary `error` log
  src/sources/docker_logs.rs
Labels: source: docker_logs

#5770 enhancement(remap): Add to_syslog_facility function for parsing syslog facilities into strings
  docs/reference/remap/to_syslog_facility.cue
  docs/reference/urls.cue
  lib/remap-functions/Cargo.toml
  lib/remap-functions/src/lib.rs
  lib/remap-functions/src/to_syslog_facility.rs
  tests/behavior/transforms/remap.toml
Labels: domain: remap, transform: remap

#5884 chore(ci): Pull start/stop instructions from Makefile into scripts
  Makefile
  scripts/setup_integration/aws_integration_env.sh
  scripts/setup_integration/clickhouse_integration_env.sh
  scripts/setup_integration/elasticsearch_integration_env.sh
  scripts/setup_integration/gcp_integration_env.sh
  scripts/setup_integration/humio_integration_env.sh
  scripts/setup_integration/influxdb_integration_env.sh
  scripts/setup_integration/kafka_integration_env.sh
  scripts/setup_integration/loki_integration_env.sh
  scripts/setup_integration/mongodb_metrics_integration_env.sh
  scripts/setup_integration/nats_integration_env.sh
  scripts/setup_integration/nginx_integration_env.sh
  scripts/setup_integration/prometheus_integration_env.sh
  scripts/setup_integration/pulsar_integration_env.sh
  scripts/setup_integration/splunk_integration_env.sh
  scripts/setup_integration_env.sh
Labels: domain: ci, domain: tests

#5970 fix(external docs): Fix cue formatting
  docs/reference/urls.cue
Labels: domain: external docs

#5767 enhancement(remap): Add to_unix_timestamp function
  docs/reference/remap/to_unix_timestamp.cue
  lib/remap-functions/Cargo.toml
  lib/remap-functions/src/lib.rs
  lib/remap-functions/src/to_unix_timestamp.rs
  tests/behavior/transforms/remap.toml
Labels: domain: remap

#5983 fix(remap): Rename tokenize to parse_tokens
  docs/reference/remap/parse_tokens.cue
  lib/remap-functions/Cargo.toml
  lib/remap-functions/src/lib.rs
  lib/remap-functions/src/parse_tokens.rs
  tests/behavior/transforms/remap.toml
Labels: domain: remap, transform: remap

#5947 enhancement(remap): Improve VRL REPL help text
  lib/remap-cli/src/repl.rs
Labels: domain: cli, domain: remap

#5980 enhancement(remap): added `nullish` parameter to `compact`
  docs/reference/remap/compact.cue
  lib/remap-functions/src/compact.rs
  lib/remap-functions/src/is_nullish.rs
  lib/remap-functions/src/util.rs
Labels: domain: remap, transform: remap

#5975 chore(observability): Bump to tui 14
  Cargo.lock
  Cargo.toml
  src/top/dashboard.rs
Labels: domain: observability

#5750 enhancement(remap): Add push and append functions
  docs/reference/remap.cue
  docs/reference/remap/append.cue
  docs/reference/remap/push.cue
  lib/remap-functions/Cargo.toml
  lib/remap-functions/src/append.rs
  lib/remap-functions/src/lib.rs
  lib/remap-functions/src/push.rs
  tests/behavior/transforms/remap.toml
Labels: domain: remap

#5768 enhancement(remap): Add base64 encoding and decoding functions
  Cargo.lock
  docs/reference/remap.cue
  docs/reference/remap/decode_base64.cue
  docs/reference/remap/encode_base64.cue
  docs/reference/urls.cue
  lib/remap-functions/Cargo.toml
  lib/remap-functions/src/decode_base64.rs
  lib/remap-functions/src/encode_base64.rs
  lib/remap-functions/src/lib.rs
  tests/behavior/transforms/remap.toml
Labels: domain: remap

#5933 fix(remap): Make the redact function fallible
  lib/remap-functions/src/redact.rs
Labels: domain: remap, transform: remap

#5906 enhancement(graphql api): FileSourceMetrics Relay connections
  lib/vector-api-client/graphql/schema.json
  lib/vector-api-client/tests/queries/file_source_metrics.graphql
  src/api/schema/metrics/source/file.rs
  tests/api.rs
Labels: domain: graphql api, type: enhancement

#5968 fix(tests): Set `core_threads` for `merge_and_fork`
  tests/tcp.rs
Labels: domain: tests

#5965 chore(file source): Filter out directories before fingerprinting
  lib/file-source/src/fingerprinter.rs
Labels: source: file

#5993 chore(deps): Added licenses and license files to internal Crates
  Cargo.toml
  lib/codec/Cargo.toml
  lib/codec/LICENSE
  lib/derive_is_enum_variant/Cargo.toml
  lib/file-source/Cargo.toml
  lib/file-source/LICENSE
  lib/k8s-e2e-tests/Cargo.toml
  lib/k8s-e2e-tests/LICENSE
  lib/k8s-test-framework/Cargo.toml
  lib/k8s-test-framework/LICENSE
  lib/portpicker/Cargo.toml
  lib/portpicker/LICENSE
  lib/prometheus-parser/Cargo.toml
  lib/prometheus-parser/LICENSE
  lib/remap-cli/Cargo.toml
  lib/remap-cli/LICENSE
  lib/remap-functions/Cargo.toml
  lib/remap-functions/LICENSE
  lib/remap-lang/Cargo.toml
  lib/remap-lang/LICENSE
  lib/shared/Cargo.toml
  lib/shared/LICENSE
  lib/tracing-limit/Cargo.toml
  lib/tracing-limit/LICENSE
  lib/vector-api-client/Cargo.toml
  lib/vector-api-client/LICENSE
  lib/vector-wasm/Cargo.toml
  lib/vector-wasm/LICENSE
Labels: domain: ci, domain: deps

#5892 chore(ci): Run all benchmark suites in CI
  .github/workflows/benches.yml
  Makefile
  benches/wasm/mod.rs
  scripts/environment/bootstrap-ubuntu-20.04.sh
  src/transforms/wasm.rs
  src/wasm/mod.rs
  tests/data/wasm/assert_config/fixtures/a/expected.json
Labels: domain: ci, domain: performance

#5997 chore(deps): Remove license-file to be explicit about named license
  Cargo.toml
  lib/codec/Cargo.toml
  lib/file-source/Cargo.toml
  lib/k8s-e2e-tests/Cargo.toml
  lib/k8s-test-framework/Cargo.toml
  lib/portpicker/Cargo.toml
  lib/prometheus-parser/Cargo.toml
  lib/remap-cli/Cargo.toml
  lib/remap-functions/Cargo.toml
  lib/remap-lang/Cargo.toml
  lib/shared/Cargo.toml
  lib/tracing-limit/Cargo.toml
  lib/vector-api-client/Cargo.toml
  lib/vector-wasm/Cargo.toml
Labels: domain: deps

#5974 fix(loki sink): Fix remove_label_fields
  src/sinks/loki.rs
Labels: sink: loki, type: bug

#5957 chore(remap): remove "ok" function
  lib/remap-functions/Cargo.toml
  lib/remap-functions/src/lib.rs
  lib/remap-functions/src/ok.rs
  tests/behavior/transforms/remap.toml
Labels: domain: remap, type: tech debt

#5922 fix(influxdb_metrics sink): Fix transmission of counter metrics
  src/sinks/util/service.rs
  src/sinks/util/sink.rs
Labels: meta: regression, sink: influxdb_metrics, type: bug

#6019 fix(kubernetes platform): vector-agent pod security policy
  distribution/helm/vector-agent/templates/podsecuritypolicy.yaml
Labels: ci-condition: k8s e2e all targets

#6029 fix(ci): correct start/stop instructions
  scripts/setup_integration/humio_integration_env.sh
  scripts/setup_integration/mongodb_metrics_integration_env.sh
  scripts/setup_integration/nginx_integration_env.sh
Labels: domain: ci

#5999 chore(deps): update
  Cargo.lock
  Cargo.toml
  lib/vector-api-client/src/gql/components.rs
  src/api/schema/metrics/source/file.rs
Labels: domain: deps

#5958 chore(remap): add error-handling behavior tests
  tests/behavior/transforms/remap.toml
Labels: domain: remap, type: tech debt

#5964 chore(journald source): Deprecate `remap_priority` option
  docs/reference/components/sources/journald.cue
  src/sources/journald.rs
Labels: source: journald

#6022 chore(remap): add VRL test harness
  Cargo.lock
  Cargo.toml
  lib/remap-tests/Cargo.toml
  lib/remap-tests/src/main.rs
  lib/remap-tests/tests/example.vrl
  lib/remap-tests/tests/invalid_path.vrl
Labels: domain: remap, domain: tests, type: task

#5682 fix(internal_metrics source): Rework defaults and a minimal scraping interval value
  src/sources/internal_metrics.rs
Labels: source: internal_metrics

#5926 enhancement(remap): Open docs URL for help in VRL REPL
  Cargo.lock
  lib/remap-cli/Cargo.toml
  lib/remap-cli/src/repl.rs
Labels: domain: remap, transform: remap

#5935 enhancement(remap): Pretty print functions list in VRL REPL
  Cargo.lock
  lib/remap-cli/Cargo.toml
  lib/remap-cli/src/repl.rs
Labels: domain: remap, transform: remap

#5987 enhancement(prometheus_remote_write sink): Support X-Scope-OrgID header
  docs/reference/components/sinks/prometheus_remote_write.cue
  src/internal_events/prometheus.rs
  src/sinks/prometheus/remote_write.rs
  src/template.rs
Labels: domain: metrics, sink: prometheus_remote_write, type: enhancement

#5971 enhancement(external docs): Update VRL language docs
  docs/reference/remap.cue
  docs/reference/urls.cue
Labels: domain: remap, transform: remap

#6048 chore: upgrade TaskTransform
  benches/lua.rs
  benches/wasm/mod.rs
  src/config/unit_test.rs
  src/sources/kubernetes_logs/mod.rs
  src/sources/kubernetes_logs/transform_utils/optional.rs
  src/topology/builder.rs
  src/transforms/aws_ec2_metadata.rs
  src/transforms/dedupe.rs
  src/transforms/lua/v1/mod.rs
  src/transforms/lua/v2/mod.rs
  src/transforms/merge.rs
  src/transforms/mod.rs
  src/transforms/reduce/mod.rs
  src/transforms/tag_cardinality_limit.rs
  src/transforms/util/runtime_transform.rs
  src/transforms/wasm.rs
Labels: domain: transforms, type: tech debt

#6078 enhancement(prometheus_exporter sink): add tls support
  Cargo.toml
  docs/reference/components.cue
  docs/reference/components/sinks/prometheus_exporter.cue
  src/sinks/prometheus/exporter.rs
  src/sources/prometheus/scrape.rs
  src/sources/statsd/mod.rs
Labels: sink: prometheus_exporter

#5391 feat(new source): Initial `postgresql_metrics` source implementation
  .github/semantic.yml
  Cargo.lock
  Cargo.toml
  Makefile
  docs/reference/components/sources/postgresql_metrics.cue
  docs/reference/urls.cue
  scripts/setup_integration/postgresql_metrics_integration_env.sh
  src/internal_events/mod.rs
  src/internal_events/postgresql_metrics.rs
  src/sources/mod.rs
  src/sources/postgresql_metrics.rs
  tests/data/postgresql-local-socket-initdb/.gitignore
  tests/data/postgresql-local-socket-initdb/localhost.crt
  tests/data/postgresql-local-socket-initdb/localhost.key
  tests/data/postgresql-local-socket-initdb/pg_hba.conf
  tests/data/postgresql-local-socket-initdb/pg_hba.conf.sh
  tests/data/postgresql-local-socket/.gitignore
Labels: domain: metrics, domain: sources

#6014 enhancement(internal_logs source): Capture initialization logs
  src/app.rs
  src/sources/internal_logs.rs
  src/trace.rs
Labels: domain: logs, source: internal_logs, type: enhancement

#6017 enhancement(remap): New `get_env_var` Remap function
  docs/reference/remap.cue
  docs/reference/remap/get_env_var.cue
  lib/remap-functions/Cargo.toml
  lib/remap-functions/src/get_env_var.rs
  lib/remap-functions/src/lib.rs
Labels: domain: remap, type: enhancement

#5821 fix(buffers): Trigger `leveldb` compact after certain amount of deleted bytes
  docs/reference/components/sinks/blackhole.cue
  src/buffers/disk/leveldb_buffer.rs
  src/sinks/blackhole.rs
  src/topology/mod.rs
Labels: domain: buffers, sink: blackhole

#6107 chore(aws service): Enhance error reporting for invalid header value
  src/rusoto/mod.rs
Labels: provider: aws

#6028 enhancement(graphql api): Filtering in the API
  Cargo.lock
  Cargo.toml
  lib/vector-api-client/graphql/schema.json
  src/api/schema/components/mod.rs
  src/api/schema/components/sink.rs
  src/api/schema/components/source.rs
  src/api/schema/components/transform.rs
  src/api/schema/filter.rs
  src/api/schema/metrics/source/file.rs
  src/api/schema/mod.rs
Labels: domain: graphql api, type: enhancement

#6097 chore: use defined constants in test for tls
  Makefile
  src/sinks/elasticsearch.rs
  src/sinks/influxdb/metrics.rs
  src/sinks/influxdb/mod.rs
  src/sinks/prometheus/remote_write.rs
  src/sources/postgresql_metrics.rs
  src/sources/socket/mod.rs
  src/tls/settings.rs
  tests/data/postgresql-local-socket-initdb/localhost.crt
  tests/data/postgresql-local-socket-initdb/localhost.key
Labels: domain: tests

#6056 fix(kubernetes_logs source): Support for collecting logs from static pods
  src/kubernetes/hash_value.rs
  src/kubernetes/mod.rs
  src/kubernetes/pod_manager_logic.rs
  src/kubernetes/state/evmap.rs
  src/sources/kubernetes_logs/k8s_paths_provider.rs
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#6033 chore(host_metrics source): Adds cue docs for customizing sysfs and procfs in host_metrics component
  docs/reference/components/sources/host_metrics.cue
Labels: source: host_metrics

#6023 feat(remap): diagnostic error messages
  Cargo.lock
  lib/remap-cli/src/cmd.rs
  lib/remap-cli/src/lib.rs
  lib/remap-cli/src/repl.rs
  lib/remap-lang/Cargo.toml
  lib/remap-lang/src/diagnostic.rs
  lib/remap-lang/src/error.rs
  lib/remap-lang/src/expression.rs
  lib/remap-lang/src/expression/array.rs
  lib/remap-lang/src/expression/assignment.rs
  lib/remap-lang/src/expression/function.rs
  lib/remap-lang/src/expression/if_statement.rs
  lib/remap-lang/src/expression/not.rs
  lib/remap-lang/src/expression/path.rs
  lib/remap-lang/src/expression/variable.rs
  lib/remap-lang/src/lib.rs
  lib/remap-lang/src/parser.rs
  lib/remap-lang/src/path.rs
  lib/remap-lang/src/program.rs
  lib/remap-lang/src/runtime.rs
  lib/remap-lang/src/state.rs
  lib/remap-lang/src/value.rs
  lib/remap-tests/src/main.rs
  lib/remap-tests/tests/assignment_fallible_for_infallible_expression.vrl
  lib/remap-tests/tests/assignment_variable_with_path.vrl
  lib/remap-tests/tests/fallible_root_expression.vrl
  lib/remap-tests/tests/function_call_abort_infallible.vrl
  lib/remap-tests/tests/function_call_internal_error.vrl
  lib/remap-tests/tests/function_call_invalid_argument_type.vrl
  lib/remap-tests/tests/function_call_missing_argument.vrl
  lib/remap-tests/tests/function_call_undefined.vrl
  lib/remap-tests/tests/function_call_unknown_keyword.vrl
  lib/remap-tests/tests/funtion_call_arity_mismatch.vrl
  lib/remap-tests/tests/if_statement_non_boolean_condition.vrl
  lib/remap-tests/tests/invalid_path.vrl
  lib/remap-tests/tests/regex_invalid.vrl
  scripts/check-style.sh
  src/conditions/remap.rs
  src/mapping/query/query_value.rs
  src/transforms/remap.rs
  tests/behavior/transforms/coercer.toml
  tests/behavior/transforms/filter.toml
  tests/behavior/transforms/reduce.toml
  tests/behavior/transforms/remap.toml
Labels: domain: remap

#6121 fix(external docs): Added command: commands.configure to Homebrew cue
  docs/reference/installation/_interfaces/homebrew.cue
Labels: domain: external docs

#6110 chore(postgresql_metrics source): add more asserts in tests
  .github/CODEOWNERS
  src/sources/postgresql_metrics.rs
Labels: sink: postgresql_metrics

#6105 feat(remap): improve test harness set-up
  Cargo.lock
  lib/remap-tests/Cargo.toml
  lib/remap-tests/README.md
  lib/remap-tests/src/main.rs
  lib/remap-tests/tests/README.md
  lib/remap-tests/tests/diagnostics/README.md
  lib/remap-tests/tests/diagnostics/call_to_undefined_function.vrl
  lib/remap-tests/tests/diagnostics/cannot_abort_function_call_that_never_fails.vrl
  lib/remap-tests/tests/diagnostics/function_argument_arity_mismatch.vrl
  lib/remap-tests/tests/diagnostics/function_argument_missing.vrl
  lib/remap-tests/tests/diagnostics/invalid_if_condition_type.vrl
  lib/remap-tests/tests/diagnostics/path_based_variable_assignment.vrl
  lib/remap-tests/tests/diagnostics/program_aborted_internal_function_call_error.vrl
  lib/remap-tests/tests/diagnostics/program_aborted_invalid_argument_type.vrl
  lib/remap-tests/tests/diagnostics/regex_parsing_unsuccessful.vrl
  lib/remap-tests/tests/diagnostics/syntax_error_path_segment.vrl
  lib/remap-tests/tests/diagnostics/unhandled_error.vrl
  lib/remap-tests/tests/diagnostics/unknown_function_argument_keyword.vrl
  lib/remap-tests/tests/diagnostics/unneeded_error_assignment.vrl
  lib/remap-tests/tests/example.vrl
  lib/remap-tests/tests/examples/README.md
  lib/remap-tests/tests/expressions/README.md
  lib/remap-tests/tests/expressions/arithmetic/addition/float.vrl
  lib/remap-tests/tests/expressions/arithmetic/addition/float_int.vrl
  lib/remap-tests/tests/expressions/arithmetic/addition/integer.vrl
  lib/remap-tests/tests/fixme/README.md
  lib/remap-tests/tests/fixme/arithmetic_addition_integer_float.vrl
  lib/remap-tests/tests/fixme/division_arithmetic_incorrectly_marked_infallible.vrl
  lib/remap-tests/tests/fixme/infallible_ok_incorrect_type_def.vrl
  lib/remap-tests/tests/functions/README.md
  lib/remap-tests/tests/issues/README.md
Labels: domain: remap, domain: tests, type: tech debt

#6106 chore(deps): update
  Cargo.lock
  Cargo.toml
  lib/file-source/Cargo.toml
  lib/file-source/src/lib.rs
  lib/remap-functions/Cargo.toml
Labels: domain: deps

#6115 enhancement(graphql api): API sorting, starting with `components`
  lib/vector-api-client/graphql/schema.json
  src/api/schema/components/mod.rs
  src/api/schema/filter.rs
  src/api/schema/mod.rs
  src/api/schema/sort.rs
Labels: domain: graphql api, type: enhancement

#5925 enhancement(cli): Add vrl-cli feature to default features
  Cargo.toml
Labels: domain: remap, transform: remap

#5659 chore(ci): Run benchmarks against master in PR benchmark workflow
  .github/workflows/benches.yml
Labels: domain: ci

#6136 enhancement(graphql api): Sorting for sources/transforms/sinks
  lib/vector-api-client/graphql/schema.json
  src/api/schema/components/mod.rs
  src/api/schema/components/sink.rs
  src/api/schema/components/source.rs
  src/api/schema/components/transform.rs
  src/api/schema/sort.rs
Labels: domain: graphql api, type: enhancement

#5693 chore(performance): Metrics benches
  Cargo.lock
  Cargo.toml
  Makefile
  benches/default.rs
  benches/metrics_bench_util/mod.rs
  benches/metrics_no_tracing_integration.rs
  benches/metrics_off.rs
  benches/metrics_on.rs
  benches/metrics_snapshot.rs
  src/event/metric.rs
  src/metrics.rs
  src/trace.rs
Labels: ci-condition: k8s e2e tests enable

#6034 chore(metrics)!: Rework histogram/summary data model
  docs/reference.cue
  docs/reference/components/sinks/influxdb_metrics.cue
  docs/reference/components/sinks/prometheus_exporter.cue
  docs/reference/components/transforms/log_to_metric.cue
  docs/reference/components/transforms/metric_to_log.cue
  docs/reference/data_model/schema.cue
  src/event/metric.rs
  src/event/mod.rs
  src/sinks/aws_cloudwatch_metrics.rs
  src/sinks/console.rs
  src/sinks/datadog/metrics.rs
  src/sinks/humio/metrics.rs
  src/sinks/influxdb/metrics.rs
  src/sinks/prometheus/collector.rs
  src/sinks/statsd.rs
  src/sinks/util/buffer/metrics.rs
  src/sinks/util/statistic.rs
  src/sources/internal_metrics.rs
  src/sources/prometheus/parser.rs
  src/sources/statsd/parser.rs
  src/transforms/log_to_metric.rs
  src/transforms/lua/v2/interop/metric.rs
  src/transforms/metric_to_log.rs
  tests/support/mod.rs
Labels: domain: data model, domain: metrics, type: tech debt

#6109 chore(config): Move `assume_role` option to `auth.assume_role`
  docs/reference/components/aws.cue
  src/rusoto/auth.rs
  src/rusoto/mod.rs
  src/sinks/aws_cloudwatch_logs/mod.rs
  src/sinks/aws_cloudwatch_metrics.rs
  src/sinks/aws_kinesis_firehose.rs
  src/sinks/aws_kinesis_streams.rs
  src/sinks/aws_s3.rs
  src/sinks/aws_sqs.rs
  src/sinks/elasticsearch.rs
  src/sources/aws_s3/mod.rs
Labels: domain: auth, domain: config, provider: aws, sink: aws_cloudwatch_logs, sink: aws_cloudwatch_metrics, sink: aws_kinesis_firehose, sink: aws_kinesis_streams, sink: aws_s3, sink: aws_sqs, source: aws_s3

#5436 enhancement(file source): Add encoding charset and line delimiter configuration
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  docs/reference/components.cue
  docs/reference/components/sources.cue
  docs/reference/components/sources/file.cue
  docs/reference/urls.cue
  lib/file-source/Cargo.toml
  lib/file-source/src/file_server.rs
  lib/file-source/src/file_watcher.rs
  lib/file-source/src/lib.rs
  src/encoding_transcode.rs
  src/internal_events/encoding_transcode.rs
  src/internal_events/mod.rs
  src/lib.rs
  src/sources/file.rs
  src/sources/kubernetes_logs/mod.rs
  src/sources/util/encoding_config.rs
  src/sources/util/mod.rs
  tests/data/utf-16le.log
Labels: ci-condition: k8s e2e tests enable, source: file, type: enhancement

#6118 enhancement(postgresql_metrics source): support regexp in filters
  docs/reference/components/sources/postgresql_metrics.cue
  docs/reference/urls.cue
  src/sources/postgresql_metrics.rs
Labels: sink: postgresql_metrics

#5998 fix(docker_logs source): fix and document exclude_self logic
  docs/reference/components/sources/docker_logs.cue
  src/sources/docker_logs.rs
Labels: source: docker_logs, type: bug

#6176 enhancement(external docs): Adding new Getting Started guide
  docs/manual/setup/getting-started.md
Labels: domain: external docs

#6188 enhancement: Add `auth.access_key_id` and `auth.secret_access_key` options
  docs/reference/components/aws.cue
  docs/reference/components/sinks/elasticsearch.cue
  src/rusoto/auth.rs
Labels: sink: aws_cloudwatch_logs, sink: aws_cloudwatch_metrics, sink: aws_kinesis_firehose, sink: aws_kinesis_streams, sink: aws_s3, sink: aws_sqs, sink: elasticsearch, source: aws_s3, type: enhancement

#6192 fix(aws_cloudwatch_logs sink): Rename healthcheck error
  src/sinks/aws_cloudwatch_logs/mod.rs
Labels: provider: aws, sink: aws_cloudwatch_logs

#6201 chore(dpkg platform): Fix name of the packge installed by dpkg -i
  docs/reference/installation/_interfaces/dpkg.cue
Labels: domain: external docs

#6150 chore: Add convenience features for building logs or metrics
  Cargo.toml
Labels: domain: dev, domain: logs, domain: metrics, type: task

#6138 chore(metrics): Reorganize Metric data type fields
  src/api/schema/metrics/errors.rs
  src/api/schema/metrics/filter.rs
  src/api/schema/metrics/host.rs
  src/api/schema/metrics/mod.rs
  src/api/schema/metrics/processed_bytes.rs
  src/api/schema/metrics/processed_events.rs
  src/api/schema/metrics/uptime.rs
  src/conditions/check_fields.rs
  src/conditions/is_log.rs
  src/conditions/is_metric.rs
  src/conditions/remap.rs
  src/event/metric.rs
  src/event/mod.rs
  src/kubernetes/state/instrumenting.rs
  src/metrics.rs
  src/sinks/aws_cloudwatch_metrics.rs
  src/sinks/console.rs
  src/sinks/datadog/metrics.rs
  src/sinks/humio/metrics.rs
  src/sinks/influxdb/metrics.rs
  src/sinks/kafka.rs
  src/sinks/prometheus/collector.rs
  src/sinks/prometheus/exporter.rs
  src/sinks/prometheus/remote_write.rs
  src/sinks/sematext/metrics.rs
  src/sinks/statsd.rs
  src/sinks/util/adaptive_concurrency/tests.rs
  src/sinks/util/buffer/metrics.rs
  src/sources/apache_metrics/mod.rs
  src/sources/apache_metrics/parser.rs
  src/sources/aws_ecs_metrics/mod.rs
  src/sources/aws_ecs_metrics/parser.rs
  src/sources/host_metrics.rs
  src/sources/internal_metrics.rs
  src/sources/mongodb_metrics/mod.rs
  src/sources/nginx_metrics/mod.rs
  src/sources/postgresql_metrics.rs
  src/sources/prometheus/parser.rs
  src/sources/prometheus/remote_write.rs
  src/sources/prometheus/scrape.rs
  src/sources/statsd/parser.rs
  src/sources/vector.rs
  src/transforms/add_tags.rs
  src/transforms/log_to_metric.rs
  src/transforms/lua/v2/interop/event.rs
  src/transforms/lua/v2/interop/metric.rs
  src/transforms/lua/v2/mod.rs
  src/transforms/metric_to_log.rs
  src/transforms/remap.rs
  src/transforms/remove_tags.rs
  src/transforms/tag_cardinality_limit.rs
  tests/support/mod.rs
Labels: domain: data model, domain: metrics, type: tech debt

#6211 chore(sampler transform): Rename to `sample`
  .github/CODEOWNERS
  .github/semantic.yml
  Cargo.toml
  benches/topology.rs
  config/examples/docs_example.toml
  docs/manual/meta/glossary.md
  docs/manual/setup/configuration.md
  docs/manual/setup/installation/manual/from-source.md
  docs/reference/components/transforms/sample.cue
  src/config/format.rs
  src/internal_events/mod.rs
  src/internal_events/sample.rs
  src/transforms/mod.rs
  src/transforms/sample.rs
  tests/config.rs
  tests/tcp.rs
Labels: domain: config, transform: sampler

#6193 chore(swimlanes transform): Rename to `route`
  .github/semantic.yml
  Cargo.toml
  README.md
  docs/manual/setup/installation/manual/from-source.md
  docs/reference/components/transforms/route.cue
  src/config/unit_test.rs
  src/internal_events/mod.rs
  src/internal_events/route.rs
  src/transforms/mod.rs
  src/transforms/route.rs
  tests/behavior/transforms/swimlanes.toml
  tests/config.rs
Labels: domain: config, transform: route

#6226 fix(ci): add new advisories ids to deny.tolm
  deny.toml
Labels: domain: ci

#6141 enhancement(remap transform): add `get_hostname` function
  .github/CODEOWNERS
  Cargo.lock
  docs/reference/remap/functions/get_hostname.cue
  lib/remap-functions/Cargo.toml
  lib/remap-functions/src/get_hostname.rs
  lib/remap-functions/src/lib.rs
  tests/behavior/transforms/remap.toml
Labels: domain: remap

#6214 fix: Merge configs for `vector test`
  src/config/unit_test.rs
  src/unit_test.rs
  tests/behavior/formats/simple.json
  tests/behavior/formats/simple.toml
  tests/behavior/formats/simple.yaml
  tests/behavior/formats/simple.yml
  tests/behavior/transforms/route.toml
Labels: domain: config

#6243 chore: Use internal_log_rate_secs to rate-limit logs
  src/internal_events/encoding_transcode.rs
  src/internal_events/log_to_metric.rs
Labels: type: tech debt

#6267 fix(nats sink): call ack on any result
  src/sinks/nats.rs
Labels: sink: nats, type: bug

#6263 fix(ci): Extract new second-level features from Cargo.toml
  scripts/check-component-features.sh
Labels: domain: ci, type: task

#6229 fix(remap): fix field sublocation_type in parse_aws_vpc_flow_log
  lib/remap-functions/src/parse_aws_vpc_flow_log.rs
Labels: domain: remap

#6248 enhancement(kubernetes platform): add the ability to configure Vector API at the Helm charts
  distribution/helm/vector-agent/values.yaml
  distribution/helm/vector-aggregator/values.yaml
  distribution/helm/vector-shared/templates/_vector_config.tpl
  distribution/kubernetes/vector-agent/resources.yaml
  distribution/kubernetes/vector-aggregator/resources.yaml
  distribution/kubernetes/vector-all/resources.yaml
  tests/helm-snapshots/builtin_configs/vector-agent/snapshot.yaml
  tests/helm-snapshots/builtin_configs/vector-aggregator/snapshot.yaml
  tests/helm-snapshots/topology_config/vector-agent/snapshot.yaml
  tests/helm-snapshots/topology_config/vector-aggregator/snapshot.yaml
Labels: ci-condition: k8s e2e tests enable

#6278 fix(metrics): Fix metrics::tests::test_cardinality_metric
  src/metrics.rs
Labels: domain: ci, type: bug, type: tech debt
