Repository vectordotdev/vector, pull requests merged in 2021-10, with the labels that each got.

#8735 chore(vrl): add development design document
  lib/vrl/DESIGN.md
Labels: type: task, domain: vrl

#9313 chore(graphql api): Add `sent_events_total` to API
  lib/vector-api-client/graphql/queries/components.graphql
  lib/vector-api-client/graphql/schema.json
  lib/vector-api-client/graphql/subscriptions/component_events_out_throughputs.graphql
  lib/vector-api-client/graphql/subscriptions/component_events_out_totals.graphql
  lib/vector-api-client/graphql/subscriptions/component_sent_events_throughputs.graphql
  lib/vector-api-client/graphql/subscriptions/component_sent_events_totals.graphql
  lib/vector-api-client/graphql/subscriptions/events_out_throughput.graphql
  lib/vector-api-client/graphql/subscriptions/events_out_total.graphql
  lib/vector-api-client/graphql/subscriptions/sent_events_throughput.graphql
  lib/vector-api-client/graphql/subscriptions/sent_events_total.graphql
  lib/vector-api-client/src/gql/components.rs
  lib/vector-api-client/src/gql/metrics.rs
  src/api/schema/metrics/filter.rs
  src/api/schema/metrics/mod.rs
  src/api/schema/metrics/sent_events.rs
  src/api/schema/metrics/sink/generic.rs
  src/api/schema/metrics/sink/mod.rs
  src/api/schema/metrics/source/file.rs
  src/api/schema/metrics/source/generic.rs
  src/api/schema/metrics/source/mod.rs
  src/api/schema/metrics/transform/generic.rs
  src/api/schema/metrics/transform/mod.rs
  src/top/dashboard.rs
  src/top/metrics.rs
  src/top/state.rs
Labels: domain: graphql api

#9339 enhancement(graphql api): Refactor `outputEvents` subscription -> `outputEventsByComponentIdPatterns`
  lib/vector-api-client/graphql/schema.json
  lib/vector-api-client/graphql/subscriptions/output_events.graphql
  lib/vector-api-client/graphql/subscriptions/output_events_by_component_id_patterns.graphql
  lib/vector-api-client/src/gql/tap.rs
  src/api/schema/events/mod.rs
  src/api/schema/events/notification.rs
  src/api/tap.rs
  src/tap/cmd.rs
  src/tap/mod.rs
Labels: type: bug, domain: graphql api

#9379 enhancement(sources, observability): Add events to HttpSource framework
  scripts/check-events
  src/internal_events/http.rs
  src/internal_events/prometheus.rs
  src/sources/heroku_logs.rs
  src/sources/http.rs
  src/sources/prometheus/remote_write.rs
  src/sources/prometheus/scrape.rs
  src/sources/util/http/prelude.rs
  website/cue/reference/components/sources/heroku_logs.cue
  website/cue/reference/components/sources/http.cue
  website/cue/reference/components/sources/internal_metrics.cue
  website/cue/reference/components/sources/prometheus_remote_write.cue
Labels: type: enhancement, domain: observability, source: http, source: heroku_logs, source: prometheus_remote_write

#9215 chore(architecture): consolidate sink I/O driver logic into reusable component
  Cargo.lock
  lib/vector-core/Cargo.toml
  lib/vector-core/buffers/src/acker.rs
  lib/vector-core/buffers/src/lib.rs
  lib/vector-core/src/event/mod.rs
  lib/vector-core/src/stream.rs
  lib/vector-core/src/stream/driver.rs
  src/sinks/aws_s3/config.rs
  src/sinks/aws_s3/sink.rs
  src/sinks/aws_s3/tests.rs
  src/sinks/datadog/logs/sink.rs
  src/sinks/datadog_archives.rs
  src/sinks/http.rs
  src/sinks/s3_common/service.rs
  src/sinks/s3_common/sink.rs
  src/sinks/splunk_hec/conn.rs
  src/sinks/util/buffer/compression.rs
  src/sinks/util/buffer/mod.rs
  src/sinks/util/builder.rs
  src/sinks/util/compressor.rs
  src/sinks/util/concurrent_map.rs
  src/sinks/util/encoding/codec.rs
  src/sinks/util/encoding/config.rs
  src/sinks/util/encoding/mod.rs
  src/sinks/util/encoding/with_default.rs
  src/sinks/util/mod.rs
  src/sinks/util/request_builder.rs
Labels: ci-condition: integration tests enable

#9358 chore(buffers): Fix compilation issues when disk buffers are not enabled
  lib/vector-core/buffers/examples/soak.rs
  lib/vector-core/buffers/src/lib.rs
  lib/vector-core/buffers/src/variant/memory_only.rs
Labels: type: tech debt, domain: buffers

#9840 chore(external docs): Add note about ARC change to upgrade guide
  website/content/en/highlights/2021-10-08-0-17-upgrade-guide.md
Labels: type: task, domain: networking, domain: external docs
