Repository vectordotdev/vector, pull requests merged in 2021-09, with the labels that each got.

#8559 enhancement(reduce transform): Add additional merge strategies
  lib/vector-core/src/event/value.rs
  src/transforms/reduce/merge_strategy.rs
  website/cue/reference/components/transforms/reduce.cue
Labels: transform: reduce

#8958 enhancement(loki sink): Define events
  src/internal_events/batch.rs
  src/internal_events/loki.rs
  src/internal_events/mod.rs
  src/sinks/loki.rs
  src/sinks/util/batch.rs
  src/sinks/util/buffer/loki.rs
  website/cue/reference/components/sinks/loki.cue
  website/cue/reference/components/sources/internal_metrics.cue
Labels: type: enhancement, domain: observability, sink: loki

#8983 enhancement(loki sink): Add `logfmt` encoding
  Cargo.lock
  lib/shared/Cargo.toml
  lib/shared/src/encode_key_value.rs
  lib/shared/src/encode_logfmt.rs
  lib/shared/src/lib.rs
  lib/vrl/stdlib/Cargo.toml
  lib/vrl/stdlib/src/encode_key_value.rs
  src/sinks/loki.rs
  website/cue/reference.cue
  website/cue/reference/components/sinks/loki.cue
Labels: type: enhancement, sink: loki, domain: codecs

#9087 chore(host_metrics source): Improve error reporting for cgroups metrics
  src/sources/host_metrics/cgroups.rs
Labels: type: tech debt, domain: observability, source: host_metrics

#8940 chore(deps): Bump grok from 1.1.0 to 1.2.0
  Cargo.lock
  Cargo.toml
  scripts/cross/bootstrap-rhel.sh
  scripts/cross/bootstrap-ubuntu.sh
  scripts/cross/x86_64-unknown-linux-gnu.dockerfile
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#9089 chore(deps): `cargo upgrade --aggressive`
  Cargo.lock
  Cargo.toml
  lib/file-source/Cargo.toml
  lib/prometheus-parser/Cargo.toml
  lib/vector-core/Cargo.toml
  lib/vector-core/buffers/src/test/mod.rs
  lib/vector-core/src/stream/batcher.rs
  lib/vrl/stdlib/Cargo.toml
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#9098 chore(ci): Run integration tests on PRs with label
  .github/workflows/integration-test.yml
Labels: ci-condition: integration tests enable

#9096 fix(tests): Fix smoke test first line function for e2e kubernetes tests
  lib/k8s-e2e-tests/src/lib.rs
Labels: domain: tests, ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#9111 chore(observability): Rename common counters
  src/internal_events/apache_metrics.rs
  src/internal_events/aws_ecs_metrics.rs
  src/internal_events/aws_kinesis_firehose.rs
  src/internal_events/aws_s3.rs
  src/internal_events/common.rs
  src/internal_events/dnstap.rs
  src/internal_events/docker_logs.rs
  src/internal_events/eventstoredb_metrics.rs
  src/internal_events/exec.rs
  src/internal_events/file.rs
  src/internal_events/fluent.rs
  src/internal_events/http.rs
  src/internal_events/journald.rs
  src/internal_events/kafka.rs
  src/internal_events/kubernetes_logs.rs
  src/internal_events/mod.rs
  src/internal_events/mongodb_metrics.rs
  src/internal_events/nats.rs
  src/internal_events/nginx_metrics.rs
  src/internal_events/prometheus.rs
  src/internal_events/socket.rs
  src/internal_events/splunk_hec.rs
  src/internal_events/statsd_source.rs
  src/internal_events/stdin.rs
  src/internal_events/syslog.rs
  src/internal_events/topology.rs
  src/internal_events/vector.rs
  src/pipeline.rs
  src/topology/builder.rs
Labels: domain: observability

#9128 fix(architecture): use a fixed vec allocation for batches
  lib/vector-core/src/stream/batcher.rs
  src/sinks/aws_s3/tests.rs
Labels: ci-condition: integration tests enable

#9155 fix(ci): Use use_v2_api: false for k8s datadog agent tests
  lib/k8s-e2e-tests/tests/vector-dd-agent-aggregator.rs
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#9150 docs(observability): Add common metrics docs
  src/internal_events/common.rs
  website/cue/reference/components/sinks.cue
  website/cue/reference/components/sources.cue
  website/cue/reference/components/sources/apache_metrics.cue
  website/cue/reference/components/sources/aws_ecs_metrics.cue
  website/cue/reference/components/sources/aws_kinesis_firehose.cue
  website/cue/reference/components/sources/aws_s3.cue
  website/cue/reference/components/sources/dnstap.cue
  website/cue/reference/components/sources/docker_logs.cue
  website/cue/reference/components/sources/eventstoredb_metrics.cue
  website/cue/reference/components/sources/exec.cue
  website/cue/reference/components/sources/file.cue
  website/cue/reference/components/sources/fluent.cue
  website/cue/reference/components/sources/heroku_logs.cue
  website/cue/reference/components/sources/http.cue
  website/cue/reference/components/sources/internal_metrics.cue
  website/cue/reference/components/sources/journald.cue
  website/cue/reference/components/sources/kafka.cue
  website/cue/reference/components/sources/kubernetes_logs.cue
  website/cue/reference/components/sources/logstash.cue
  website/cue/reference/components/sources/mongodb_metrics.cue
  website/cue/reference/components/sources/nats.cue
  website/cue/reference/components/sources/nginx_metrics.cue
  website/cue/reference/components/sources/postgresql_metrics.cue
  website/cue/reference/components/sources/prometheus_remote_write.cue
  website/cue/reference/components/sources/prometheus_scrape.cue
  website/cue/reference/components/sources/socket.cue
  website/cue/reference/components/sources/splunk_hec.cue
  website/cue/reference/components/sources/statsd.cue
  website/cue/reference/components/sources/stdin.cue
  website/cue/reference/components/sources/syslog.cue
  website/cue/reference/components/sources/vector.cue
  website/cue/reference/components/transforms.cue
Labels: type: enhancement, domain: observability, domain: external docs

#9184 fix(aws_s3 sink): ship final batches when shutting down
  src/sinks/s3_common/sink.rs
Labels: ci-condition: integration tests enable

#9219 chore: Correct s3 integration tests
  src/sinks/s3_common/sink.rs
Labels: ci-condition: integration tests enable

#9168 fix(host_metrics source): Detect cgroup memory controller before scanning
  src/api/schema/metrics/host.rs
  src/sources/host_metrics/cgroups.rs
  src/sources/host_metrics/cpu.rs
  src/sources/host_metrics/disk.rs
  src/sources/host_metrics/filesystem.rs
  src/sources/host_metrics/memory.rs
  src/sources/host_metrics/mod.rs
  src/sources/host_metrics/network.rs
Labels: type: bug, source: host_metrics

#9139 fix(cli): Fix `top` quitting when the host has gone away
  Cargo.lock
  Cargo.toml
  src/top/cmd.rs
  src/top/dashboard.rs
  src/top/events.rs
Labels: domain: cli

#9250 enhancement(cli): Fix API client subscription drop
  lib/vector-api-client/src/subscription.rs
  src/sources/host_metrics/mod.rs
  src/top/cmd.rs
  src/top/state.rs
Labels: type: enhancement, domain: cli

#9254 fix(cli): Fix `tap` signal handling
  src/app.rs
  src/tap/cmd.rs
Labels: type: bug, domain: cli

#9268 chore(external docs): Run `cue fmt` on the docs
  website/cue/reference/components/sinks.cue
  website/cue/reference/components/sources.cue
  website/cue/reference/components/sources/apache_metrics.cue
  website/cue/reference/components/sources/aws_ecs_metrics.cue
  website/cue/reference/components/sources/aws_kinesis_firehose.cue
  website/cue/reference/components/sources/aws_s3.cue
  website/cue/reference/components/sources/dnstap.cue
  website/cue/reference/components/sources/docker_logs.cue
  website/cue/reference/components/sources/eventstoredb_metrics.cue
  website/cue/reference/components/sources/exec.cue
  website/cue/reference/components/sources/file.cue
  website/cue/reference/components/sources/fluent.cue
  website/cue/reference/components/sources/heroku_logs.cue
  website/cue/reference/components/sources/http.cue
  website/cue/reference/components/sources/internal_metrics.cue
  website/cue/reference/components/sources/journald.cue
  website/cue/reference/components/sources/kafka.cue
  website/cue/reference/components/sources/kubernetes_logs.cue
  website/cue/reference/components/sources/logstash.cue
  website/cue/reference/components/sources/mongodb_metrics.cue
  website/cue/reference/components/sources/nats.cue
  website/cue/reference/components/sources/nginx_metrics.cue
  website/cue/reference/components/sources/postgresql_metrics.cue
  website/cue/reference/components/sources/prometheus_remote_write.cue
  website/cue/reference/components/sources/prometheus_scrape.cue
  website/cue/reference/components/sources/socket.cue
  website/cue/reference/components/sources/splunk_hec.cue
  website/cue/reference/components/sources/statsd.cue
  website/cue/reference/components/sources/stdin.cue
  website/cue/reference/components/sources/syslog.cue
  website/cue/reference/components/sources/vector.cue
  website/cue/reference/components/transforms.cue
  website/cue/reference/releases/0.4.0.cue
Labels: type: task, domain: external docs

#9274 chore(buffers): Fix clippy error in `BufferConfig::resources`
  src/buffers.rs
Labels: type: tech debt

#9205 enhancement(observability, file source): Improve file source observability
  docs/specs/component.md
  lib/file-source/src/file_server.rs
  lib/file-source/src/fingerprinter.rs
  lib/file-source/src/internal_events.rs
  src/internal_events/file.rs
  src/internal_events/unix.rs
  src/sources/file.rs
  src/sources/util/framestream.rs
  src/sources/util/unix_datagram.rs
  src/sources/util/unix_stream.rs
  website/cue/reference/components/sources/file.cue
  website/cue/reference/components/sources/internal_metrics.cue
Labels: source: file, domain: observability

#9275 enhancement(observability, sinks): Emit events for sent events in all HttpSink sinks
  docs/specs/component.md
  src/internal_events/common.rs
  src/sinks/util/http.rs
  website/cue/reference/components/sinks.cue
  website/cue/reference/components/sinks/azure_monitor_logs.cue
  website/cue/reference/components/sinks/clickhouse.cue
  website/cue/reference/components/sinks/datadog_events.cue
  website/cue/reference/components/sinks/elasticsearch.cue
  website/cue/reference/components/sinks/gcp_pubsub.cue
  website/cue/reference/components/sinks/gcp_stackdriver_logs.cue
  website/cue/reference/components/sinks/gcp_stackdriver_metrics.cue
  website/cue/reference/components/sinks/honeycomb.cue
  website/cue/reference/components/sinks/http.cue
  website/cue/reference/components/sinks/humio.cue
  website/cue/reference/components/sinks/humio_logs.cue
  website/cue/reference/components/sinks/humio_metrics.cue
  website/cue/reference/components/sinks/influxdb_logs.cue
  website/cue/reference/components/sinks/logdna.cue
  website/cue/reference/components/sinks/loki.cue
  website/cue/reference/components/sinks/new_relic_logs.cue
  website/cue/reference/components/sinks/sematext_logs.cue
  website/cue/reference/components/sinks/splunk_hec_logs.cue
  website/cue/reference/components/sinks/splunk_hec_metrics.cue
  website/cue/reference/components/sources/internal_metrics.cue
Labels: sink: http, type: enhancement, domain: observability

#9300 chore(graphql api): Add `received_events_total` to the API
  lib/vector-api-client/graphql/queries/components.graphql
  lib/vector-api-client/graphql/schema.json
  lib/vector-api-client/graphql/subscriptions/component_events_in_throughputs.graphql
  lib/vector-api-client/graphql/subscriptions/component_events_in_totals.graphql
  lib/vector-api-client/graphql/subscriptions/component_received_events_throughputs.graphql
  lib/vector-api-client/graphql/subscriptions/component_received_events_totals.graphql
  lib/vector-api-client/graphql/subscriptions/events_in_throughput.graphql
  lib/vector-api-client/graphql/subscriptions/events_in_total.graphql
  lib/vector-api-client/graphql/subscriptions/received_events_throughput.graphql
  lib/vector-api-client/graphql/subscriptions/received_events_total.graphql
  lib/vector-api-client/src/gql/components.rs
  lib/vector-api-client/src/gql/metrics.rs
  lib/vector-api-client/tests/queries/file_source_metrics.graphql
  src/api/schema/metrics/filter.rs
  src/api/schema/metrics/mod.rs
  src/api/schema/metrics/received_events.rs
  src/api/schema/metrics/sink/generic.rs
  src/api/schema/metrics/sink/mod.rs
  src/api/schema/metrics/source/file.rs
  src/api/schema/metrics/source/generic.rs
  src/api/schema/metrics/source/mod.rs
  src/api/schema/metrics/transform/generic.rs
  src/api/schema/metrics/transform/mod.rs
  src/top/dashboard.rs
  src/top/metrics.rs
  src/top/state.rs
Labels: domain: graphql api

#9343 chore(external docs): Actually run cue and markdown checks on CI
  .github/workflows/test.yml
  rfcs/2021-09-01-8547-accept-metrics-in-datadog-agent-source.md
  website/cue/reference/components/sinks/logdna.cue
  website/cue/reference/components/sinks/loki.cue
  website/cue/reference/components/sinks/splunk_hec_logs.cue
Labels: type: tech debt, domain: external docs

#9001 chore(vrl): RFC for iteration support
  rfcs/2021-08-29-8381-vrl-iteration-support.md
Labels: type: task, domain: vrl

#9308 chore: Add script to surface-scan components against specification
  Makefile
  scripts/check-events
  scripts/check-events.sh
  src/config/mod.rs
  src/internal_events/apache_metrics.rs
  src/internal_events/aws_ecs_metrics.rs
  src/internal_events/aws_kinesis_firehose.rs
  src/internal_events/aws_s3.rs
  src/internal_events/azure_blob.rs
  src/internal_events/batch.rs
  src/internal_events/coercer.rs
  src/internal_events/common.rs
  src/internal_events/concat.rs
  src/internal_events/conditions.rs
  src/internal_events/datadog_events.rs
  src/internal_events/dnstap.rs
  src/internal_events/docker_logs.rs
  src/internal_events/eventstoredb_metrics.rs
  src/internal_events/exec.rs
  src/internal_events/file.rs
  src/internal_events/fluent.rs
  src/internal_events/geoip.rs
  src/internal_events/http.rs
  src/internal_events/http_client.rs
  src/internal_events/journald.rs
  src/internal_events/kafka.rs
  src/internal_events/kubernetes/instrumenting_watcher.rs
  src/internal_events/log_to_metric.rs
  src/internal_events/logplex.rs
  src/internal_events/lua.rs
  src/internal_events/mongodb_metrics.rs
  src/internal_events/nats.rs
  src/internal_events/nginx_metrics.rs
  src/internal_events/prometheus.rs
  src/internal_events/pulsar.rs
  src/internal_events/redis.rs
  src/internal_events/remap.rs
  src/internal_events/socket.rs
  src/internal_events/splunk_hec.rs
  src/internal_events/statsd_source.rs
  src/internal_events/stdin.rs
  src/internal_events/syslog.rs
  src/internal_events/tcp.rs
  src/internal_events/udp.rs
  src/internal_events/unix.rs
  src/internal_events/vector.rs
  src/sinks/datadog/logs/sink.rs
  src/sources/file.rs
  src/sources/host_metrics/filesystem.rs
Labels: type: tech debt, domain: observability, domain: ci

#9380 chore(internal docs): Fix markdown lint issues in VRL iteration RFC
  rfcs/2021-08-29-8381-vrl-iteration-support.md
Labels: type: tech debt, domain: internal docs

#8717 enhancement(vrl): added reverse_dns remap function
  Cargo.lock
  lib/vrl/stdlib/Cargo.toml
  lib/vrl/stdlib/benches/benches.rs
  lib/vrl/stdlib/src/lib.rs
  lib/vrl/stdlib/src/reverse_dns.rs
  tests/behavior/transforms/remap.toml
Labels: domain: vrl

#9284 feat(vrl): dynamic path functions
  lib/lookup/src/lookup_buf/mod.rs
  lib/vrl/stdlib/Cargo.toml
  lib/vrl/stdlib/benches/benches.rs
  lib/vrl/stdlib/src/get.rs
  lib/vrl/stdlib/src/lib.rs
  lib/vrl/stdlib/src/match_datadog_query.rs
  lib/vrl/stdlib/src/remove.rs
  lib/vrl/stdlib/src/set.rs
  lib/vrl/stdlib/src/unnest.rs
  website/cue/reference/remap/functions.cue
  website/cue/reference/remap/functions/del.cue
  website/cue/reference/remap/functions/exists.cue
  website/cue/reference/remap/functions/get.cue
  website/cue/reference/remap/functions/remove.cue
  website/cue/reference/remap/functions/set.cue
Labels: type: feature, domain: vrl
