Repository vectordotdev/vector, pull requests merged in 2021-08, with the labels that each got.

#8262 enhancement(vrl): Add `parse_user_agent` function
  Cargo.lock
  docs/cue/reference/remap/functions/parse_user_agent.cue
  docs/cue/reference/urls.cue
  lib/vrl/stdlib/Cargo.toml
  lib/vrl/stdlib/benches/benches.rs
  lib/vrl/stdlib/data/user_agent_regexes.yaml
  lib/vrl/stdlib/src/lib.rs
  lib/vrl/stdlib/src/parse_user_agent.rs
Labels: domain: parsing, domain: vrl, type: enhancement

#8577 fix(cli): Use env vars with `vector validate` command
  src/validate.rs
Labels: domain: cli

#8593 fix(external docs): Remove unimplemented Vector sink encoding options
  docs/cue/reference/components.cue
  docs/cue/reference/components/sinks/vector.cue
  docs/cue/reference/urls.cue
Labels: domain: external docs, sink: vector

#8426 enhancement(sinks): Add support for acknowledgements to more HTTP and batch sinks
  lib/vector-core/src/event/metadata.rs
  src/sinks/aws_s3.rs
  src/sinks/azure_monitor_logs.rs
  src/sinks/clickhouse.rs
  src/sinks/datadog/events.rs
  src/sinks/datadog/logs/service.rs
  src/sinks/datadog/metrics.rs
  src/sinks/elasticsearch/mod.rs
  src/sinks/elasticsearch/retry.rs
  src/sinks/gcp/pubsub.rs
  src/sinks/gcp/stackdriver_logs.rs
  src/sinks/gcp/stackdriver_metrics.rs
  src/sinks/honeycomb.rs
  src/sinks/http.rs
  src/sinks/humio/logs.rs
  src/sinks/influxdb/logs.rs
  src/sinks/logdna.rs
  src/sinks/loki.rs
  src/sinks/papertrail.rs
  src/sinks/socket.rs
  src/sinks/splunk_hec.rs
  src/sinks/statsd.rs
  src/sinks/util/batch.rs
  src/sinks/util/http.rs
  src/sinks/util/mod.rs
  src/sinks/util/sink.rs
  src/sinks/util/tcp.rs
  src/sinks/util/udp.rs
  src/sinks/util/unix.rs
  src/sinks/vector/v1.rs
  src/sinks/vector/v2.rs
  src/sources/socket/mod.rs
Labels: domain: sinks, provider: gcp, sink: papertrail, sink: socket, sink: statsd, type: enhancement, type: tech debt

#8638 enhancement(helm platform): Allow creation of Secret resources from Helm charts
  distribution/helm/vector-agent/templates/secret.yaml
  distribution/helm/vector-agent/values.yaml
  distribution/helm/vector-aggregator/templates/secret.yaml
  distribution/helm/vector-aggregator/values.yaml
Labels: provider: aws, platform: helm

#8378 chore(config): Multiple pipelines RFC
  rfcs/2021-07-19-8216-multiple-pipelines.md
Labels: ci-condition: skip, domain: pipelines

#8664 chore: Enhance request retry warning message
  src/sinks/util/retries.rs
Labels: domain: sinks

#8680 fix(loki sink): On `404` query top level for healthcheck
  src/sinks/loki.rs
Labels: sink: loki, domain: healthchecks

#8704 chore: Clarify message when droppping large events
  src/sinks/util/batch.rs
  src/sinks/util/buffer/json.rs
  src/sinks/util/buffer/loki.rs
  src/sinks/util/buffer/mod.rs
  src/sinks/util/buffer/vec.rs
Labels: domain: sinks

#8744 chore(kubernetes_logs source): Document minimum required version for Kubernetes
  website/cue/reference/components/sources/kubernetes_logs.cue
Labels: domain: external docs, source: kubernetes_logs

#8748 chore: Remove integration tests duplicated by `ct` in timberio/helm-charts
  lib/k8s-e2e-tests/tests/vector-agent.rs
Labels: domain: ci, ci-condition: k8s e2e all targets, platform: kubernetes, ci-condition: k8s e2e tests enable

#8755 chore(host_metrics source): Break this source into modules
  src/sources/host_metrics.rs
  src/sources/host_metrics/cpu.rs
  src/sources/host_metrics/disk.rs
  src/sources/host_metrics/filesystem.rs
  src/sources/host_metrics/memory.rs
  src/sources/host_metrics/mod.rs
  src/sources/host_metrics/network.rs
Labels: type: tech debt, source: host_metrics

#8759 enhancement(observability): Custom `internal_metrics` namespace
  src/app.rs
  src/sources/internal_metrics.rs
  website/cue/reference/components/sinks/aws_cloudwatch_logs.cue
  website/cue/reference/components/sinks/aws_kinesis_firehose.cue
  website/cue/reference/components/sinks/aws_kinesis_streams.cue
  website/cue/reference/components/sinks/aws_s3.cue
  website/cue/reference/components/sinks/clickhouse.cue
  website/cue/reference/components/sinks/datadog_events.cue
  website/cue/reference/components/sinks/elasticsearch.cue
  website/cue/reference/components/sinks/gcp_cloud_storage.cue
  website/cue/reference/components/sinks/gcp_pubsub.cue
  website/cue/reference/components/sinks/gcp_stackdriver_logs.cue
  website/cue/reference/components/sinks/gcp_stackdriver_metrics.cue
  website/cue/reference/components/sinks/honeycomb.cue
  website/cue/reference/components/sinks/http.cue
  website/cue/reference/components/sinks/influxdb_logs.cue
  website/cue/reference/components/sinks/influxdb_metrics.cue
  website/cue/reference/components/sinks/logdna.cue
  website/cue/reference/components/sinks/loki.cue
  website/cue/reference/components/sinks/new_relic_logs.cue
  website/cue/reference/components/sinks/redis.cue
  website/cue/reference/components/sinks/sematext_logs.cue
  website/cue/reference/components/sinks/splunk_hec.cue
  website/cue/reference/components/sources/internal_metrics.cue
  website/cue/reference/releases/0.12.0.cue
Labels: type: enhancement, domain: observability, domain: config

#8729 enhancement(loki sink): Validate label names
  src/sinks/loki.rs
Labels: sink: loki

#8754 chore(vrl): Remove skipped coalesce test as it's duplicated by unnecessary_error_coalesce.vrl
  lib/vrl/tests/tests/fixme/6364_disallow_infallible_error_coalesce.vrl
Labels: domain: vrl

#8786 fix(css website): Code block formatting
  website/layouts/_default/_markup/render-heading.html
  website/tailwind.config.js
Labels: website: css

#8767 chore(external docs): Update Helm repo url to helm.vector.dev
  website/content/en/docs/setup/installation/package-managers/helm.md
  website/cue/reference/administration/interfaces/helm3.cue
Labels: domain: external docs, platform: helm

#8802 chore: Rename datadog_logs files to datadog_agent
  website/content/en/docs/reference/configuration/sources/datadog_agent.md
  website/cue/reference/components/sources/datadog_agent.cue
Labels: domain: external docs, source: datadog_agent

#8801 chore: Publish vector-aggregator to latest repo
  scripts/release-helm.sh
Labels: platform: helm

#8758 fix(vector sink): retry on failed connection
  src/sinks/util/test.rs
  src/sinks/vector/v2.rs
Labels: sink: vector

#8615 enhancement(loki sink): Partition HTTP requests to loki by stream & re-enable concurrency
  src/sinks/loki.rs
  src/sinks/util/buffer/loki.rs
  src/sinks/util/http.rs
  src/sinks/util/sink.rs
  website/cue/reference/components/sinks/loki.cue
Labels: type: enhancement, sink: loki

#8724 chore(loki sink): Add test for unordered retries
  src/sinks/util/service.rs
Labels: sink: loki

#8791 feat(observability): Datadog observability for Vector pipelines
  Cargo.toml
  src/app.rs
  src/config/api.rs
  src/config/builder.rs
  src/config/compiler.rs
  src/config/datadog.rs
  src/config/mod.rs
  src/config/unit_test.rs
  src/sinks/datadog/metrics.rs
  src/sources/internal_metrics.rs
Labels: domain: observability, type: feature

#8808 enhancement(topology): Remove `ComponentId.value`
  src/api/tap.rs
  src/app.rs
  src/config/compiler.rs
  src/config/id.rs
  src/topology/running.rs
Labels: type: enhancement, domain: topology
