Repository vectordotdev/vector, pull requests merged in 2021-12, with the labels that each got.

#10179 feat(pipelines transform): automatic namespacing
  Cargo.lock
  Cargo.toml
  src/config/loading.rs
  src/config/mod.rs
  src/config/recursive.rs
  src/transforms/pipelines/mod.rs
  tests/namespacing/ignore-invalid/foo/bar.toml
  tests/namespacing/ignore-invalid/sinks/es_cluster.json
  tests/namespacing/ignore-invalid/sources/apache_logs.toml
  tests/namespacing/ignore-invalid/tests/foo.toml
  tests/namespacing/ignore-invalid/transforms/apache_parser.toml
  tests/namespacing/ignore-invalid/vector.toml
  tests/namespacing/success/sinks/es_cluster.json
  tests/namespacing/success/sources/apache_logs.toml
  tests/namespacing/success/sources/generator.json
  tests/namespacing/success/tests/foo.toml
  tests/namespacing/success/transforms/apache_parser.toml
  tests/namespacing/success/transforms/processing.toml
  tests/namespacing/success/transforms/processing/logs.toml
  tests/namespacing/success/transforms/processing/logs/pipelines/first.toml
  tests/namespacing/success/transforms/processing/logs/pipelines/second.json
  tests/namespacing/success/vector.toml
  tests/pipelines/pipelines/default.toml
  tests/pipelines/pipelines/empty.toml
  tests/pipelines/pipelines/other.toml
  tests/pipelines/pipelines/something.else
  tests/pipelines/vector.toml
Labels: domain: transforms

#10218 enhancement(kubernetes_logs source): Read older files first
  src/sources/kubernetes_logs/mod.rs
Labels: domain: sources

#10222 fix(kafka sink): Correct the name for the `headers_key` config option
  src/sinks/kafka/config.rs
  src/sinks/kafka/request_builder.rs
  src/sinks/kafka/sink.rs
  src/sinks/kafka/tests.rs
  website/cue/reference/releases/0.18.0.cue
Labels: domain: sinks, domain: external docs

#10134 feat(config): update component key
  lib/vector-core/src/config/id.rs
  lib/vector-core/src/config/mod.rs
  src/api/schema/components/mod.rs
  src/api/tap.rs
  src/config/graph.rs
  src/config/id.rs
  src/config/loading.rs
  src/config/mod.rs
  src/top/metrics.rs
  src/topology/builder.rs
  src/topology/task.rs
  src/transforms/pipelines/mod.rs
Labels: domain: topology, domain: transforms, domain: core

#10225 fix(kubernetes_logs source): Revert read older files first (#10218)
  src/sources/kubernetes_logs/mod.rs
Labels: domain: sources

#10230 chore(observability): Revert remove unused alias for `events_processed_total`
  lib/vector-core/src/metrics/mod.rs
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable, domain: core

#10204 chore(tests): Add simple end-to-end acknowledgement full-system tests
  tests/end-to-end.rs
Labels: domain: tests, type: tech debt, type: task

#10237 chore: Fix cue indentation for 0.18.1 release
  website/cue/reference/releases/0.18.1.cue
Labels: domain: external docs

#10235 chore(ci): lower `CARGO_BUILD_JOBS` for Windows runner
  scripts/environment/bootstrap-windows-2019.ps1
Labels: domain: ci

#10229 docs(observability): Fix 0.17 note about processed_events_total metric
  website/content/en/highlights/2021-10-08-0-17-upgrade-guide.md
  website/cue/reference/releases/0.17.0.cue
Labels: domain: external docs

#10242 docs: Remove references to playground.vector.dev
  website/content/en/blog/graphql-api.md
  website/content/en/docs/reference/api.md
  website/content/en/highlights/2020-12-23-graphql-api.md
  website/cue/reference/api.cue
  website/cue/reference/urls.cue
Labels: domain: external docs

#10224 fix(loki sink): Allow any 2xx code as success
  src/sinks/loki/service.rs
Labels: domain: sinks

#10226 enhancement(kubernetes_logs source): Read read older files first
  src/sources/kubernetes_logs/mod.rs
Labels: domain: sources, ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#10228 fix(observability): Re-add processed_events_total
  lib/vector-core/buffers/src/acker.rs
  lib/vector-core/core-common/src/internal_event/events_sent.rs
  lib/vector-core/src/metrics/mod.rs
Labels: domain: core

#9563 feat(datadog_agent source): metric support in `datadog_agent` source
  src/common/datadog.rs
  src/common/mod.rs
  src/lib.rs
  src/sinks/datadog/metrics/encoder.rs
  src/sources/datadog/agent.rs
  src/sources/datadog/mod.rs
  src/sources/datadog/sketch_parser.rs
  website/cue/reference/components/sources/datadog_agent.cue
  website/cue/reference/components/sources/internal_metrics.cue
Labels: domain: sources, domain: sinks, domain: external docs

#10216 enhancement(humio_logs sink): add support for sub-milliseconds timestamps
  src/sinks/humio/logs.rs
  src/sinks/humio/metrics.rs
  src/sinks/splunk_hec/logs/config.rs
  src/sinks/splunk_hec/logs/integration_tests.rs
  src/sinks/splunk_hec/logs/sink.rs
  src/sinks/splunk_hec/logs/tests.rs
  src/sources/splunk_hec/mod.rs
Labels: domain: sources, domain: sinks, ci-condition: integration tests enable

#10250 chore(ci): set CARGO_BUILD_JOBS to half the number of core for Windows runners
  scripts/environment/bootstrap-windows-2019.ps1
Labels: domain: ci

#10251 docs(datadog_metrics sink): add missing "site" documentation
  website/cue/reference/components/sinks/datadog_metrics.cue
Labels: domain: external docs

#10176 enhancement(sources): Add acknowledgements support to `TcpSource`
  Cargo.toml
  src/docker.rs
  src/sources/fluent/message.rs
  src/sources/fluent/mod.rs
  src/sources/logstash.rs
  src/sources/socket/mod.rs
  src/sources/socket/tcp.rs
  src/sources/statsd/mod.rs
  src/sources/syslog.rs
  src/sources/util/mod.rs
  src/sources/util/tcp.rs
  src/sources/vector/v1.rs
  website/cue/reference/components/sources/fluent.cue
  website/cue/reference/components/sources/logstash.cue
Labels: type: enhancement, domain: sources, domain: external docs, source: logstash, source: fluent

#10135 enhancement(splunk_hec sink): Implement indexer acknowledgements
  Cargo.toml
  scripts/setup_integration/splunk_integration_env.sh
  src/internal_events/splunk_hec.rs
  src/sinks/humio/logs.rs
  src/sinks/splunk_hec/common/acknowledgements.rs
  src/sinks/splunk_hec/common/mod.rs
  src/sinks/splunk_hec/common/service.rs
  src/sinks/splunk_hec/common/util.rs
  src/sinks/splunk_hec/logs/config.rs
  src/sinks/splunk_hec/logs/integration_tests.rs
  src/sinks/splunk_hec/metrics/config.rs
  src/sinks/splunk_hec/metrics/integration_tests.rs
  src/sources/splunk_hec/mod.rs
  website/cue/reference/components/sinks/splunk_hec.cue
  website/cue/reference/components/sinks/splunk_hec_logs.cue
  website/cue/reference/components/sinks/splunk_hec_metrics.cue
  website/cue/reference/components/sources/internal_metrics.cue
  website/cue/reference/urls.cue
Labels: sink: splunk_hec, domain: sources, domain: sinks, domain: ci, domain: external docs

#10189 enhancement(vrl): Improve performance of `match_datadog_query`
  Cargo.lock
  Cargo.toml
  lib/datadog/filter/Cargo.toml
  lib/datadog/filter/src/filter.rs
  lib/datadog/filter/src/lib.rs
  lib/datadog/filter/src/matcher.rs
  lib/datadog/filter/src/resolver.rs
  lib/datadog/search-syntax/src/field.rs
  lib/vrl/stdlib/Cargo.toml
  lib/vrl/stdlib/src/match_datadog_query.rs
Labels: type: enhancement, domain: performance, domain: vrl

#10202 enhancement(vrl): optimize `parse_groks` performance
  lib/datadog/grok/src/parse_grok.rs
  lib/datadog/grok/src/parse_grok_rules.rs
  lib/vrl/stdlib/src/parse_groks.rs
Labels: domain: vrl

#10198 enhancement(vrl): added get and set event_metadata vrl functions
  Cargo.lock
  Cargo.toml
  lib/vector-core/src/event/vrl_target.rs
  lib/vector-vrl-functions/Cargo.toml
  lib/vector-vrl-functions/src/get_metadata_field.rs
  lib/vector-vrl-functions/src/lib.rs
  lib/vector-vrl-functions/src/remove_metadata_field.rs
  lib/vector-vrl-functions/src/set_metadata_field.rs
  lib/vrl/compiler/src/target.rs
  lib/vrl/core/src/target.rs
  lib/vrl/tests/src/docs.rs
  lib/vrl/tests/src/main.rs
  src/conditions/vrl.rs
  src/transforms/remap.rs
  tests/behavior/transforms/remap.toml
  website/cue/reference/remap/functions.cue
  website/cue/reference/remap/functions/get_metadata_field.cue
  website/cue/reference/remap/functions/remove_metadata_field.cue
  website/cue/reference/remap/functions/set_metadata_field.cue
Labels: domain: transforms, domain: external docs, domain: vrl, domain: core

#10255 chore(performance): Investigate impact of end-to-end acknowledgements
  soaks/common/configs/http_gen_http_source.yaml
  soaks/tests/http_pipelines_blackhole/README.md
  soaks/tests/http_to_http_acks/README.md
  soaks/tests/http_to_http_acks/terraform/main.tf
  soaks/tests/http_to_http_acks/terraform/variables.tf
  soaks/tests/http_to_http_acks/terraform/vector.toml
  soaks/tests/http_to_http_noack/README.md
  soaks/tests/http_to_http_noack/terraform/main.tf
  soaks/tests/http_to_http_noack/terraform/variables.tf
  soaks/tests/http_to_http_noack/terraform/vector.toml
Labels: type: task, domain: performance

#10143 chore(buffers): new disk buffer
  Cargo.lock
  lib/vector-core/buffers/Cargo.toml
  lib/vector-core/buffers/benches/common.rs
  lib/vector-core/buffers/examples/disk_v1.rs
  lib/vector-core/buffers/examples/disk_v2.rs
  lib/vector-core/buffers/examples/soak.rs
  lib/vector-core/buffers/src/bytes.rs
  lib/vector-core/buffers/src/disk/leveldb_buffer/writer.rs
  lib/vector-core/buffers/src/disk_v2/acker.rs
  lib/vector-core/buffers/src/disk_v2/backed_archive.rs
  lib/vector-core/buffers/src/disk_v2/common.rs
  lib/vector-core/buffers/src/disk_v2/ledger.rs
  lib/vector-core/buffers/src/disk_v2/mod.rs
  lib/vector-core/buffers/src/disk_v2/reader.rs
  lib/vector-core/buffers/src/disk_v2/record.rs
  lib/vector-core/buffers/src/disk_v2/ser.rs
  lib/vector-core/buffers/src/disk_v2/tests/basic.rs
  lib/vector-core/buffers/src/disk_v2/tests/invariants.rs
  lib/vector-core/buffers/src/disk_v2/tests/known_errors.rs
  lib/vector-core/buffers/src/disk_v2/tests/mod.rs
  lib/vector-core/buffers/src/disk_v2/tests/record.rs
  lib/vector-core/buffers/src/disk_v2/tests/size_limits.rs
  lib/vector-core/buffers/src/disk_v2/writer.rs
  lib/vector-core/buffers/src/helpers.rs
  lib/vector-core/buffers/src/internal_events.rs
  lib/vector-core/buffers/src/lib.rs
  lib/vector-core/buffers/src/test/common/message.rs
  lib/vector-core/buffers/src/topology/test_util.rs
  lib/vector-core/core-common/Cargo.toml
  scripts/cross/bootstrap-rhel.sh
  src/sources/prometheus/remote_write.rs
Labels: domain: sources, domain: ci, domain: core

#10241 enhancement(external docs): Document VRL metric transform limitations
  website/cue/reference/components/transforms/remap.cue
  website/cue/reference/remap/concepts/metrics.cue
Labels: domain: external docs

#10157 enhancement(external docs): Multiple condition types
  website/cue/reference.cue
  website/cue/reference/components/transforms/filter.cue
  website/cue/reference/components/transforms/route.cue
  website/cue/reference/components/transforms/sample.cue
  website/cue/reference/components/transforms/throttle.cue
  website/cue/reference/urls.cue
  website/layouts/partials/data.html
Labels: domain: external docs

#10246 chore(deps): Upgrade to Rust 1.57
  benches/enrichment_tables_file.rs
  lib/datadog/grok/src/parse_grok_rules.rs
  lib/datadog/search-syntax/src/grammar.rs
  lib/k8s-test-framework/src/pod.rs
  lib/k8s-test-framework/src/temp_file.rs
  lib/soak/src/bin/observer.rs
  lib/vector-core/buffers/src/acker.rs
  lib/vector-core/core-common/src/byte_size_of.rs
  lib/vector-core/src/event/mod.rs
  lib/vector-core/src/event/test/size_of.rs
  lib/vector-core/src/event/vrl_target.rs
  lib/vector-core/src/mapping/mod.rs
  lib/vector-core/src/metrics/handle.rs
  lib/vrl/compiler/src/compiler.rs
  lib/vrl/compiler/src/context.rs
  lib/vrl/compiler/src/expression/assignment.rs
  lib/vrl/compiler/src/expression/predicate.rs
  lib/vrl/compiler/src/value/arithmetic.rs
  lib/vrl/parser/src/ast.rs
  lib/vrl/tests/src/main.rs
  lib/vrl/tests/src/test.rs
  rust-toolchain.toml
  src/aws/rusoto/mod.rs
  src/config/mod.rs
  src/config/unit_test.rs
  src/enrichment_tables/file.rs
  src/kubernetes/reflector.rs
  src/signal.rs
  src/sinks/aws_cloudwatch_metrics.rs
  src/sinks/clickhouse.rs
  src/sinks/gcp/pubsub.rs
  src/sinks/http.rs
  src/sinks/humio/logs.rs
  src/sinks/s3_common/service.rs
  src/sources/exec/mod.rs
  src/sources/file.rs
  src/sources/host_metrics/mod.rs
  src/transforms/aws_ec2_metadata.rs
  src/transforms/reduce/merge_strategy.rs
Labels: domain: sources, domain: transforms, domain: sinks, domain: vrl, domain: core

#10315 chore(deps): Revert upgrade to Rust 1.57
  benches/enrichment_tables_file.rs
  lib/datadog/grok/src/parse_grok_rules.rs
  lib/datadog/search-syntax/src/grammar.rs
  lib/k8s-test-framework/src/pod.rs
  lib/k8s-test-framework/src/temp_file.rs
  lib/soak/src/bin/observer.rs
  lib/vector-core/buffers/src/acker.rs
  lib/vector-core/core-common/src/byte_size_of.rs
  lib/vector-core/src/event/mod.rs
  lib/vector-core/src/event/test/size_of.rs
  lib/vector-core/src/event/vrl_target.rs
  lib/vector-core/src/mapping/mod.rs
  lib/vector-core/src/metrics/handle.rs
  lib/vrl/compiler/src/compiler.rs
  lib/vrl/compiler/src/context.rs
  lib/vrl/compiler/src/expression/assignment.rs
  lib/vrl/compiler/src/expression/predicate.rs
  lib/vrl/compiler/src/value/arithmetic.rs
  lib/vrl/parser/src/ast.rs
  lib/vrl/tests/src/main.rs
  lib/vrl/tests/src/test.rs
  rust-toolchain.toml
  src/aws/rusoto/mod.rs
  src/config/mod.rs
  src/config/unit_test.rs
  src/enrichment_tables/file.rs
  src/kubernetes/reflector.rs
  src/signal.rs
  src/sinks/aws_cloudwatch_metrics.rs
  src/sinks/clickhouse.rs
  src/sinks/gcp/pubsub.rs
  src/sinks/http.rs
  src/sinks/humio/logs.rs
  src/sinks/s3_common/service.rs
  src/sources/exec/mod.rs
  src/sources/file.rs
  src/sources/host_metrics/mod.rs
  src/transforms/aws_ec2_metadata.rs
  src/transforms/reduce/merge_strategy.rs
Labels: domain: sources, domain: transforms, domain: sinks, domain: vrl, domain: core

#10320 docs(elasticsearch sink): Fix deprecating messages in the cue file
  website/cue/reference/components/sinks/elasticsearch.cue
Labels: domain: external docs

#10217 chore(influxdb_logs sink): Allow to exclude `metric_type` tag
  src/sinks/influxdb/logs.rs
  src/sinks/influxdb/metrics.rs
  src/sinks/influxdb/mod.rs
  src/sinks/sematext/metrics.rs
  website/cue/reference/components/sinks/influxdb.cue
  website/cue/reference/components/sinks/influxdb_logs.cue
  website/cue/reference/components/sinks/influxdb_metrics.cue
Labels: domain: sinks, domain: external docs

#10325 chore(buffers): try and make disk_v2 tests more reliable
  lib/vector-core/Cargo.toml
  lib/vector-core/buffers/src/disk_v2/tests/mod.rs
  lib/vector-core/buffers/src/disk_v2/tests/size_limits.rs
Labels: domain: core

#10306 docs(architecture): Add Under the Hood section on End-to-End Acknowledgements
  website/content/en/docs/about/under-the-hood/architecture/_index.md
  website/content/en/docs/about/under-the-hood/architecture/end-to-end-acknowledgements.md
Labels: type: task, domain: architecture

#10011 chore: add VRL VM RFC
  rfcs/2021-11-12-9811-vrl-vm.md
Labels: domain: rfc

#10316 chore(deps): Upgrade to Rust 1.57
  benches/enrichment_tables_file.rs
  lib/datadog/grok/src/parse_grok_rules.rs
  lib/datadog/search-syntax/src/grammar.rs
  lib/k8s-test-framework/src/pod.rs
  lib/k8s-test-framework/src/temp_file.rs
  lib/soak/src/bin/observer.rs
  lib/vector-core/buffers/src/acker.rs
  lib/vector-core/core-common/src/byte_size_of.rs
  lib/vector-core/src/event/mod.rs
  lib/vector-core/src/event/test/size_of.rs
  lib/vector-core/src/event/vrl_target.rs
  lib/vector-core/src/mapping/mod.rs
  lib/vector-core/src/metrics/handle.rs
  lib/vrl/compiler/src/compiler.rs
  lib/vrl/compiler/src/context.rs
  lib/vrl/compiler/src/expression/assignment.rs
  lib/vrl/compiler/src/expression/predicate.rs
  lib/vrl/compiler/src/value/arithmetic.rs
  lib/vrl/parser/src/ast.rs
  lib/vrl/tests/src/main.rs
  lib/vrl/tests/src/test.rs
  rust-toolchain.toml
  src/aws/rusoto/mod.rs
  src/config/mod.rs
  src/config/unit_test.rs
  src/enrichment_tables/file.rs
  src/kubernetes/reflector.rs
  src/signal.rs
  src/sinks/aws_cloudwatch_metrics.rs
  src/sinks/clickhouse.rs
  src/sinks/gcp/pubsub.rs
  src/sinks/http.rs
  src/sinks/humio/logs.rs
  src/sinks/s3_common/service.rs
  src/sources/exec/mod.rs
  src/sources/file.rs
  src/sources/host_metrics/mod.rs
  src/transforms/aws_ec2_metadata.rs
  src/transforms/reduce/merge_strategy.rs
Labels: domain: sources, domain: transforms, domain: sinks, ci-condition: k8s e2e all targets, domain: vrl, ci-condition: k8s e2e tests enable, ci-condition: integration tests enable, domain: core

#10346 docs(logstash source): Fix output timestamp description
  website/cue/reference/components/sources/logstash.cue
Labels: domain: external docs

#10261 enhancement(splunk_hec source): Implement Splunk HEC token passthrough routing
  lib/vector-core/src/event/metadata.rs
  lib/vector-core/src/event/vrl_target.rs
  lib/vector-vrl-functions/src/get_metadata_field.rs
  lib/vector-vrl-functions/src/remove_metadata_field.rs
  lib/vector-vrl-functions/src/set_metadata_field.rs
  src/sinks/humio/logs.rs
  src/sinks/splunk_hec/common/acknowledgements.rs
  src/sinks/splunk_hec/common/request.rs
  src/sinks/splunk_hec/common/service.rs
  src/sinks/splunk_hec/common/util.rs
  src/sinks/splunk_hec/logs/config.rs
  src/sinks/splunk_hec/logs/integration_tests.rs
  src/sinks/splunk_hec/logs/request_builder.rs
  src/sinks/splunk_hec/logs/sink.rs
  src/sinks/splunk_hec/logs/tests.rs
  src/sinks/splunk_hec/metrics/config.rs
  src/sinks/splunk_hec/metrics/integration_tests.rs
  src/sinks/splunk_hec/metrics/request_builder.rs
  src/sinks/splunk_hec/metrics/sink.rs
  src/sinks/splunk_hec/metrics/tests.rs
  src/sinks/splunk_hec/mod.rs
  src/sources/splunk_hec/mod.rs
  tests/behavior/transforms/remap.toml
  website/content/en/highlights/2021-12-28-0-19-0-upgrade-guide.md
  website/cue/reference/components/sinks/splunk_hec.cue
  website/cue/reference/components/sinks/splunk_hec_logs.cue
  website/cue/reference/components/sinks/splunk_hec_metrics.cue
  website/cue/reference/components/sources/splunk_hec.cue
  website/cue/reference/remap/functions/get_metadata_field.cue
  website/cue/reference/remap/functions/remove_metadata_field.cue
  website/cue/reference/remap/functions/set_metadata_field.cue
Labels: domain: sources, domain: sinks, domain: external docs, domain: core

#10360 fix(buffers): try and fix another flaky assertion in disk v2 tests
  lib/vector-core/buffers/src/disk_v2/tests/size_limits.rs
Labels: domain: core

#10227 fix(ci): Fix k8s end-to-end test metric detection
  lib/k8s-e2e-tests/src/metrics.rs
  lib/k8s-e2e-tests/tests/vector-agent.rs
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#10361 docs: Clarify that `/etc/vector` just includes configuration
  website/cue/reference/configuration.cue
Labels: domain: external docs

#10331 chore: Shrink the visible soak test boilerplate explanation
  soaks/bin/analyze_experiment
Labels: type: task

#10265 enhancement(topology): run transforms concurrently
  benches/lua.rs
  benches/remap.rs
  lib/vector-core/core-common/src/byte_size_of.rs
  lib/vector-core/src/fanout.rs
  lib/vector-core/src/lib.rs
  lib/vector-core/src/test_util.rs
  lib/vector-core/src/transform/config.rs
  lib/vector-core/src/transform/mod.rs
  src/app.rs
  src/config/unit_test.rs
  src/test_util/mod.rs
  src/topology/builder.rs
  src/topology/mod.rs
  src/transforms/aws_cloudwatch_logs_subscription_parser.rs
  src/transforms/coercer.rs
  src/transforms/filter.rs
  src/transforms/grok_parser.rs
  src/transforms/json_parser.rs
  src/transforms/key_value_parser.rs
  src/transforms/log_to_metric.rs
  src/transforms/logfmt_parser.rs
  src/transforms/metric_to_log.rs
  src/transforms/mod.rs
  src/transforms/regex_parser.rs
  src/transforms/remap.rs
  src/transforms/tokenizer.rs
Labels: domain: topology, domain: transforms, domain: core

#10362 docs: Add a warning about Aggregator metadata
  website/cue/reference/components/transforms/aws_ec2_metadata.cue
Labels: domain: external docs

#10368 chore(loki sink): remove randomness in integration tests
  src/sinks/loki/integration_tests.rs
  src/test_util/mod.rs
Labels: domain: sinks

#10394 docs: Fix description of tls options
  website/cue/reference/components.cue
Labels: domain: external docs

#10395 docs: Fix example for filter transform
  website/cue/reference/components/transforms/filter.cue
Labels: domain: external docs

#10357 feat(elasticsearch sink): Add suppress_type_name to allow for ESv8 compatibility
  src/sinks/elasticsearch/common.rs
  src/sinks/elasticsearch/config.rs
  src/sinks/elasticsearch/encoder.rs
  website/cue/reference/components/sinks/elasticsearch.cue
Labels: sink: elasticsearch, domain: sinks, domain: external docs, ci-condition: integration tests enable

#10382 chore: Fix `use` warnings in end-to-end acknowledgement tests
  tests/end-to-end.rs
Labels: type: tech debt

#10350 chore(splunk_hec sink): Update splunk_hec sink instrumentation
  lib/vector-core/src/stream/driver.rs
  src/internal_events/splunk_hec.rs
  src/sinks/splunk_hec/logs/encoder.rs
  src/sinks/splunk_hec/metrics/encoder.rs
  src/sinks/splunk_hec/metrics/sink.rs
  website/content/en/highlights/2021-12-28-0-19-0-upgrade-guide.md
  website/cue/reference/components/sinks/splunk_hec_logs.cue
  website/cue/reference/components/sources/internal_metrics.cue
Labels: domain: sinks, domain: external docs, domain: core

#10355 chore(aws_cloudwatch_logs sink): re-write aws cloudwatch logs sink in new style
  Makefile
  src/sinks/aws_cloudwatch_logs/config.rs
  src/sinks/aws_cloudwatch_logs/healthcheck.rs
  src/sinks/aws_cloudwatch_logs/integration_tests.rs
  src/sinks/aws_cloudwatch_logs/mod.rs
  src/sinks/aws_cloudwatch_logs/request.rs
  src/sinks/aws_cloudwatch_logs/request_builder.rs
  src/sinks/aws_cloudwatch_logs/retry.rs
  src/sinks/aws_cloudwatch_logs/service.rs
  src/sinks/aws_cloudwatch_logs/sink.rs
  website/cue/reference/components/sinks/aws_cloudwatch_logs.cue
Labels: domain: sinks, domain: external docs

#10376 chore(datadog_metrics sink): create a smoke test for the metrics sink
  src/sinks/datadog/metrics/mod.rs
  src/sinks/datadog/metrics/tests.rs
  src/test_util/mod.rs
Labels: domain: sinks

#10396 chore(blackhole sink): rewrite blackhole sink in the new style
  src/sinks/blackhole/config.rs
  src/sinks/blackhole/mod.rs
  src/sinks/blackhole/sink.rs
Labels: domain: sinks

#10377 chore(console sink): re-write the console sink in the new style
  src/sinks/console.rs
  src/sinks/console/config.rs
  src/sinks/console/mod.rs
  src/sinks/console/sink.rs
  src/sinks/util/encoding/mod.rs
  src/topology/test/doesnt_reload.rs
  src/topology/test/source_finished.rs
Labels: domain: topology, domain: sinks

#10441 chore(deps): Bump `async-graphql` to 3.0.15
  Cargo.lock
  Cargo.toml
  lib/vector-api-client/graphql/schema.json
  lib/vector-core/Cargo.toml
  src/api/schema/events/mod.rs
  src/api/schema/health.rs
  src/api/schema/metrics/mod.rs
  src/api/schema/relay.rs
  src/api/server.rs
Labels: domain: deps, domain: core

#10425 fix(internal_logs source): Associate pid and hostname with all logs
  src/sources/internal_logs.rs
Labels: domain: sources

#10450 chore(dev): Avoid unnecessary cargo check/clippy rebuilds
  .cargo/config
Labels: type: tech debt, domain: dev

#10443 enhancement(performance): Consider jemalloc again
  Cargo.lock
  Cargo.toml
  lib/vrl/tests/Cargo.toml
  lib/vrl/tests/src/main.rs
  src/lib.rs
Labels: domain: vrl

#10453 chore(ci): Reduce CI cargo jobs to nproc / 2
  scripts/environment/bootstrap-ubuntu-20.04.sh
Labels: domain: ci

#10457 fix(ci): Pin prometheus to 2.31.0
  scripts/setup_integration/prometheus_integration_env.sh
Labels: domain: ci, ci-condition: integration tests enable

#10460 enhancement(performance): Revert jemalloc (#10443)
  Cargo.lock
  Cargo.toml
  lib/vrl/tests/Cargo.toml
  lib/vrl/tests/src/main.rs
  src/lib.rs
Labels: domain: vrl

#10459 chore(performance): Switch jemalloc crate to tikv_jemallocator
  Cargo.lock
  Cargo.toml
  lib/vrl/tests/Cargo.toml
  lib/vrl/tests/src/main.rs
  src/lib.rs
Labels: domain: vrl

#9900 chore(rfc): APM stats support in Datadog source
  rfcs/2021-11-03-9862-ingest-apm-stats-along-traces-in-dd-agent-source.md
Labels: domain: rfc

#10461 fix(buffers): update buffer metrics correctly + disk_v2 warning
  lib/vector-core/buffers/benches/sized_records.rs
  lib/vector-core/buffers/src/buffer_usage_data.rs
  lib/vector-core/buffers/src/config.rs
  lib/vector-core/buffers/src/disk/leveldb_buffer/mod.rs
  lib/vector-core/buffers/src/disk/leveldb_buffer/reader.rs
  lib/vector-core/buffers/src/disk/leveldb_buffer/writer.rs
  lib/vector-core/buffers/src/disk/mod.rs
  lib/vector-core/buffers/src/disk_v2/ledger.rs
  lib/vector-core/buffers/src/disk_v2/mod.rs
  lib/vector-core/buffers/src/disk_v2/reader.rs
  lib/vector-core/buffers/src/disk_v2/tests/acknowledgements.rs
  lib/vector-core/buffers/src/disk_v2/tests/mod.rs
  lib/vector-core/buffers/src/internal_events.rs
  lib/vector-core/buffers/src/test/common/variant.rs
  lib/vector-core/buffers/src/test/model/on_disk_v1.rs
  lib/vector-core/buffers/src/test/model/on_disk_v2.rs
  lib/vector-core/buffers/src/topology/builder.rs
  lib/vector-core/buffers/src/topology/channel/receiver.rs
  lib/vector-core/buffers/src/topology/channel/sender.rs
  lib/vector-core/buffers/src/topology/test_util.rs
  lib/vector-core/buffers/src/variant/disk_v1.rs
  lib/vector-core/buffers/src/variant/disk_v2.rs
  lib/vector-core/buffers/src/variant/in_memory_v1.rs
  lib/vector-core/buffers/src/variant/in_memory_v2.rs
  src/app.rs
Labels: domain: buffers, ci-condition: integration tests enable, domain: core

#9634 chore(rfc): Datadog traces (from trace-agent) early support
  rfcs/2021-10-15-9572-accept-datadog-traces.md
Labels: domain: rfc

#10479 fix(buffers): improve disk v2 buffer tests + fix some bugs
  lib/vector-core/Cargo.toml
  lib/vector-core/buffers/Cargo.toml
  lib/vector-core/buffers/examples/buffer_perf.rs
  lib/vector-core/buffers/src/buffer_usage_data.rs
  lib/vector-core/buffers/src/disk_v2/common.rs
  lib/vector-core/buffers/src/disk_v2/ledger.rs
  lib/vector-core/buffers/src/disk_v2/mod.rs
  lib/vector-core/buffers/src/disk_v2/reader.rs
  lib/vector-core/buffers/src/disk_v2/tests/basic.rs
  lib/vector-core/buffers/src/disk_v2/tests/invariants.rs
  lib/vector-core/buffers/src/disk_v2/tests/known_errors.rs
  lib/vector-core/buffers/src/disk_v2/tests/mod.rs
  lib/vector-core/buffers/src/disk_v2/tests/size_limits.rs
  lib/vector-core/buffers/src/disk_v2/writer.rs
  lib/vector-core/buffers/src/topology/builder.rs
  lib/vector-core/buffers/src/topology/channel/receiver.rs
  lib/vector-core/buffers/src/topology/channel/sender.rs
  lib/vector-core/buffers/src/topology/test_util.rs
  lib/vector-core/buffers/src/variant/disk_v2.rs
  lib/vector-core/src/fanout.rs
  src/topology/builder.rs
Labels: domain: topology, domain: core

#10402 chore(performance): Add mirror soak tests with acknowledgements enabled
  soaks/tests/datadog_agent_remap_blackhole_acks/README.md
  soaks/tests/datadog_agent_remap_blackhole_acks/terraform/main.tf
  soaks/tests/datadog_agent_remap_blackhole_acks/terraform/variables.tf
  soaks/tests/datadog_agent_remap_blackhole_acks/terraform/vector.toml
  soaks/tests/datadog_agent_remap_datadog_logs_acks/README.md
  soaks/tests/datadog_agent_remap_datadog_logs_acks/terraform/main.tf
  soaks/tests/datadog_agent_remap_datadog_logs_acks/terraform/variables.tf
  soaks/tests/datadog_agent_remap_datadog_logs_acks/terraform/vector.toml
  soaks/tests/http_pipelines_blackhole_acks/README.md
  soaks/tests/http_pipelines_blackhole_acks/terraform/data/http_gen_bootstrap.log
  soaks/tests/http_pipelines_blackhole_acks/terraform/http_gen.yaml
  soaks/tests/http_pipelines_blackhole_acks/terraform/main.tf
  soaks/tests/http_pipelines_blackhole_acks/terraform/variables.tf
  soaks/tests/http_pipelines_blackhole_acks/terraform/vector.toml
Labels: type: task, domain: performance

#10490 fix(sinks): fuse stream in partitioned batcher
  lib/vector-core/src/stream/partitioned_batcher.rs
Labels: domain: core

#10449 chore(splunk_hec sink): Use inner service and correctly apply request settings
  src/sinks/splunk_hec/common/mod.rs
  src/sinks/splunk_hec/common/response.rs
  src/sinks/splunk_hec/common/retry.rs
  src/sinks/splunk_hec/common/service.rs
  src/sinks/splunk_hec/common/util.rs
  src/sinks/splunk_hec/logs/config.rs
  src/sinks/splunk_hec/metrics/config.rs
Labels: domain: sinks

#10414 chore(datadog_metrics sink): ensure it works with real datadog endpoint
  .github/workflows/integration-test.yml
  Cargo.toml
  Makefile
  src/sinks/datadog/metrics/integration_tests.rs
  src/sinks/datadog/metrics/mod.rs
Labels: domain: sinks, ci-condition: integration tests enable

#10140 docs: Add cue schema for structured release changelogs
  website/cue/reference/releases.cue
  website/cue/reference/releases/0.18.0.cue
Labels: domain: external docs

#10526 fix(blackhole sink): update metrics more often with a low rate limit
  src/sinks/blackhole/sink.rs
Labels: sink: blackhole, domain: sinks

#10506 fix: actually batch TCP source decoder outputs
  src/codecs/mod.rs
  src/codecs/ready_frames.rs
  src/sources/fluent/mod.rs
  src/sources/logstash.rs
  src/sources/socket/tcp.rs
  src/sources/statsd/mod.rs
  src/sources/syslog.rs
  src/sources/util/tcp.rs
  src/sources/vector/v1.rs
Labels: domain: sources, domain: codecs

#10527 docs: Basic release changelog rendering
  website/cue/reference/releases.cue
  website/cue/reference/releases/0.18.0.cue
  website/layouts/releases/single.html
Labels: domain: external docs

#10488 chore(elasticsearch sink): remove deprecated config
  config/examples/docs_example.toml
  config/examples/es_s3_hybrid.toml
  src/sinks/aws_kinesis_firehose/integration_tests.rs
  src/sinks/elasticsearch/common.rs
  src/sinks/elasticsearch/config.rs
  src/sinks/elasticsearch/integration_tests.rs
  src/sinks/elasticsearch/tests.rs
  src/sinks/sematext/logs.rs
  tests/config.rs
  tests/namespacing/ignore-invalid/sinks/es_cluster.json
  tests/namespacing/success/sinks/es_cluster.json
  website/content/en/highlights/2021-12-28-0-19-0-upgrade-guide.md
Labels: domain: sinks

#10521 chore: Update k8s-e2e to use new helm chart
  lib/k8s-e2e-tests/src/lib.rs
  lib/k8s-e2e-tests/tests/vector-agent.rs
  lib/k8s-e2e-tests/tests/vector-aggregator.rs
  lib/k8s-e2e-tests/tests/vector-dd-agent-aggregator.rs
  lib/k8s-e2e-tests/tests/vector.rs
  lib/k8s-test-framework/src/framework.rs
  lib/k8s-test-framework/src/vector.rs
  scripts/deploy-chart-test.sh
Labels: domain: ci, ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#10547 enhancement!(vector source, vector sink): Remove default for version
  src/sinks/vector/mod.rs
  src/sources/vector/mod.rs
  website/content/en/highlights/2021-12-28-0-19-0-upgrade-guide.md
Labels: domain: sources, domain: sinks

#10491 enhancement(sources): add config option to limit source tcp connections
  benches/topology.rs
  src/sources/fluent/mod.rs
  src/sources/logstash.rs
  src/sources/socket/mod.rs
  src/sources/socket/tcp.rs
  src/sources/statsd/mod.rs
  src/sources/syslog.rs
  src/sources/util/tcp.rs
  src/sources/vector/v1.rs
  src/tls/incoming.rs
  tests/syslog.rs
  website/cue/reference/components/sources/fluent.cue
  website/cue/reference/components/sources/logstash.cue
  website/cue/reference/components/sources/socket.cue
  website/cue/reference/components/sources/statsd.cue
  website/cue/reference/components/sources/syslog.cue
Labels: domain: sources, domain: external docs

#10566 fix(ci): Revert update k8s-e2e to use new helm chart
  lib/k8s-e2e-tests/src/lib.rs
  lib/k8s-e2e-tests/tests/vector-agent.rs
  lib/k8s-e2e-tests/tests/vector-aggregator.rs
  lib/k8s-e2e-tests/tests/vector-dd-agent-aggregator.rs
  lib/k8s-e2e-tests/tests/vector.rs
  lib/k8s-test-framework/src/framework.rs
  lib/k8s-test-framework/src/vector.rs
  scripts/deploy-chart-test.sh
Labels: domain: ci

#10564 fix(config): Skip files with unknown extension when `--config-dir` is used
  benches/topology.rs
  src/config/builder.rs
  src/config/format.rs
  src/config/loading.rs
  src/config/mod.rs
  src/config/recursive.rs
  src/providers/http.rs
  src/transforms/pipelines/mod.rs
  tests/config-dir/foo.txt
  tests/config-dir/vector.toml
  tests/config.rs
  tests/end-to-end.rs
  website/cue/reference/releases/0.18.0.cue
Labels: domain: transforms, domain: external docs

#10568 fix(codecs): Fix framing handling of long frames
  src/codecs/framing/character_delimited.rs
  src/codecs/framing/newline_delimited.rs
Labels: domain: codecs

#10573 docs(codecs): Document that character delimited codec only accepts a byte
  website/cue/reference.cue
  website/cue/reference/components/sources.cue
Labels: domain: external docs

#10570 chore: Convert delimiter to byte
  benches/codecs/character_delimited_bytes.rs
  benches/languages.rs
  src/codecs/framing/character_delimited.rs
  src/codecs/framing/newline_delimited.rs
  src/sources/aws_s3/sqs.rs
  src/sources/journald.rs
Labels: domain: sources, domain: codecs

#10575 docs(external docs): Document and test backpressure
  lib/vector-core/buffers/src/config.rs
  lib/vector-core/buffers/src/lib.rs
  lib/vector-core/src/config/mod.rs
  src/config/builder.rs
  src/topology/builder.rs
  src/topology/test/backpressure.rs
  src/topology/test/mod.rs
  website/content/en/docs/about/concepts.md
Labels: domain: topology, domain: core

#10581 chore: Improve character delimited code performance somewhat
  Cargo.lock
  Cargo.toml
  src/codecs/format/bytes.rs
  src/codecs/framing/character_delimited.rs
Labels: domain: codecs

#10440 chore(datadog_agent source): add an integration test
  .github/workflows/integration-test.yml
  Cargo.toml
  Makefile
  scripts/setup_integration/datadog-agent_integration_env.sh
  scripts/setup_integration/docker-compose.datadog-agent.yml
  src/sources/datadog/agent.rs
  src/sources/datadog/agent/integration_tests.rs
  src/sources/datadog/agent/mod.rs
  src/sources/datadog/agent/tests.rs
  tests/data/datadog-agent/conf.yaml
Labels: domain: sources, domain: ci, ci-condition: integration tests enable

#10592 fix(ci): Enable std feature for tracing-subscriber
  lib/vector-core/Cargo.toml
Labels: domain: core

#10466 chore(ci): replace boilerplate by simple docker-compose file
  .github/workflows/integration-test.yml
  Makefile
  scripts/integration/Dockerfile
  scripts/integration/docker-compose.redis.yml
  scripts/setup_integration/redis_integration_env.sh
  src/sinks/redis.rs
Labels: domain: sinks, domain: ci, ci-condition: integration tests enable

#10567 chore(ci): Re-update k8s-e2e to use new helm chart
  .github/workflows/k8s_e2e.yml
  lib/k8s-e2e-tests/src/lib.rs
  lib/k8s-e2e-tests/tests/vector-agent.rs
  lib/k8s-e2e-tests/tests/vector-aggregator.rs
  lib/k8s-e2e-tests/tests/vector-dd-agent-aggregator.rs
  lib/k8s-e2e-tests/tests/vector.rs
  lib/k8s-test-framework/src/framework.rs
  lib/k8s-test-framework/src/vector.rs
  scripts/ci-setup-minikube.sh
  scripts/deploy-chart-test.sh
Labels: domain: ci, ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#10608 docs: Fix broken 0.19.0 links
  website/content/en/highlights/2021-12-28-0-19-0-upgrade-guide.md
  website/cue/reference/releases/0.19.0.cue
Labels: domain: external docs

#10609 docs: Escape \ more in 0.19.0 release changelog
  website/cue/reference/releases/0.19.0.cue
Labels: domain: external docs

#10613 chore(performance): Speed up handling larger arrays of finalizers
  lib/vector-core/src/event/finalization.rs
Labels: type: tech debt, domain: performance, domain: core

#10601 chore(ci): move datadog-agent to new integration tests
  .github/workflows/integration-test.yml
  Makefile
  scripts/integration/docker-compose.datadog-agent.yml
  scripts/setup_integration/datadog-agent_integration_env.sh
  scripts/setup_integration/docker-compose.datadog-agent.yml
Labels: domain: ci, ci-condition: integration tests enable

#10628 docs(kafka sink): Document that topic is templatable
  website/cue/reference/components/sinks/kafka.cue
Labels: domain: external docs

#10638 chore: Fix typo in docker compose integration tests
  .github/workflows/integration-test.yml
Labels: ci-condition: integration tests enable
