Repository vectordotdev/vector, pull requests merged in 2021-07, with the labels that each got.

#8069 fix(aws service): Allow zero size compressed messages
  src/sources/aws_kinesis_firehose/handlers.rs
  src/sources/aws_kinesis_firehose/mod.rs
  src/sources/aws_s3/mod.rs
  src/sources/aws_s3/sqs.rs
Labels: source: aws_kinesis_firehose, source: aws_s3

#8091 enhancement(kubernetes_logs source): Expose `lines` option
  docs/reference/components/sources/file.cue
  docs/reference/components/sources/kubernetes_logs.cue
  src/sources/kubernetes_logs/mod.rs
Labels: domain: config, source: kubernetes_logs

#8132 fix(unit tests): check_fields deprecation notice is incorrect
  src/conditions/check_fields.rs
Labels: domain: unit tests, domain: vrl, type: bug

#8175 chore: Update CUE's address
  CONTRIBUTING.md
  scripts/environment/bootstrap-macos-10.sh
  scripts/environment/bootstrap-ubuntu-20.04.sh
Labels: domain: ci, domain: external docs

#8157 enhancement(aws_ec2_metadata transform): Add ec2 metadata to metric event instances
  docs/cue/reference/components/transforms/aws_ec2_metadata.cue
  src/transforms/aws_ec2_metadata.rs
Labels: domain: metrics, transform: aws_ec2_metadata, type: enhancement

#8096 fix(metrics): Deny adding aggregated summaries
  lib/vector-core/src/event/metric.rs
  src/sinks/util/buffer/metrics.rs
Labels: domain: data model, domain: metrics, type: bug

#8161 fix(internal_metrics source): Bucket for 64 was broken
  lib/vector-core/src/metrics/handle.rs
Labels: source: internal_metrics, type: bug

#8189 fix(sinks): Fix broken handling of adaptive_concurrency defaults
  src/sinks/util/adaptive_concurrency/mod.rs
Labels: domain: config, domain: sinks, type: bug

#8037 enhancement(elasticsearch sink): Add support for acknowledgements
  src/sinks/aws_kinesis_firehose.rs
  src/sinks/aws_kinesis_streams.rs
  src/sinks/aws_sqs.rs
  src/sinks/clickhouse.rs
  src/sinks/elasticsearch/mod.rs
  src/sinks/elasticsearch/retry.rs
  src/sinks/influxdb/metrics.rs
  src/sinks/sematext/metrics.rs
  src/sinks/util/adaptive_concurrency/tests.rs
  src/sinks/util/http.rs
  src/sinks/util/service.rs
  src/sinks/util/sink.rs
Labels: domain: data model, sink: elasticsearch, type: enhancement

#8168 enhancement(helm platform): Introduce customConfig key
  distribution/helm/vector-agent/templates/configmap.yaml
  distribution/helm/vector-agent/templates/daemonset.yaml
  distribution/helm/vector-agent/values.yaml
  distribution/helm/vector-aggregator/templates/_helpers.tpl
  distribution/helm/vector-aggregator/templates/configmap.yaml
  distribution/helm/vector-aggregator/templates/statefulset.yaml
  distribution/helm/vector-aggregator/values.yaml
  distribution/helm/vector-shared/templates/_metrics.tpl
  distribution/kubernetes/vector-agent/resources.yaml
  distribution/kubernetes/vector-aggregator/resources.yaml
  distribution/kubernetes/vector-all/resources.yaml
  docs/content/en/highlights/2021-07-13-helm-customConfig.md
  lib/k8s-e2e-tests/tests/vector-agent.rs
  tests/helm-snapshots/builtin_configs/vector-agent/snapshot.yaml
  tests/helm-snapshots/builtin_configs/vector-aggregator/snapshot.yaml
  tests/helm-snapshots/topology_config/vector-agent/snapshot.yaml
  tests/helm-snapshots/topology_config/vector-aggregator/snapshot.yaml
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable, platform: helm

#8224 fix(tests): Wait for shutdown in `file_start_position_server_restart`
  src/sources/file.rs
Labels: domain: tests, source: file, type: bug

#8281 chore: Fix the using `customConfig` section
  docs/content/en/highlights/2021-07-13-helm-customConfig.md
Labels: domain: external docs, platform: helm

#8271 fix(elasticsearch sink): Fix data stream timestamp handling
  src/sinks/elasticsearch/mod.rs
Labels: domain: tests, sink: elasticsearch, type: bug

#8323 chore: Remove sleep from simple_checkpoint
  lib/k8s-e2e-tests/tests/vector-agent.rs
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable, domain: tests, source: kubernetes_logs

#8176 chore(file source): Write checkpoints only if they changed
  docs/cue/reference/components/sources/file.cue
  lib/file-source/src/checkpointer.rs
  lib/file-source/src/fingerprinter.rs
Labels: source: file

#8369 chore: add missing '/' from nginx integration script
  scripts/setup_integration/nginx_integration_env.sh
Labels: domain: tests, source: nginx_metrics

#8355 chore(sinks): Rework the ARC test harness to avoid the polling loop
  src/sinks/util/adaptive_concurrency/tests.rs
Labels: domain: sinks, type: tech debt

#8179 fix(docker_logs source): Fix `retry_backoff_secs`
  src/internal_events/docker_logs.rs
  src/sources/docker_logs.rs
Labels: source: docker_logs

#8317 feat(host_metrics source): Add disk_used_ratio to host metrics
  docs/cue/reference/components/sources/host_metrics.cue
  src/sources/host_metrics.rs
Labels: source: host_metrics

#8371 chore(releasing): Prep 0.14.1 release
  .github/workflows/k8s_e2e.yml
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  docs/reference/releases/0.14.0.cue
  docs/reference/releases/0.14.1.cue
  lib/file-source/Cargo.toml
  lib/file-source/src/checkpointer.rs
  lib/file-source/src/file_server.rs
  lib/file-source/src/fingerprinter.rs
  scripts/test-e2e-kubernetes.sh
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#8404 fix(external docs): Update Helm install instructions
  docs/content/en/docs/setup/installation/package-managers/helm.md
Labels: domain: internal docs, platform: helm

#8411 chore: Replace `lua` example with `remap`
  docs/content/en/docs/reference/configuration/template-syntax.md
Labels: domain: external docs

#8441 fix(datadog_agent source): Fix field naming for agent payloads
  src/sources/datadog/agent.rs
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#8451 fix(vrl): `parse_xml` - handle single element nodes
  lib/vrl/stdlib/src/parse_xml.rs
Labels: domain: vrl, type: bug

#8464 chore: Ignore test_split_reads on Mac
  src/sources/file.rs
Labels: domain: tests, platform: macos

#8287 enhancement(kubernetes_logs source): New namespace_metadata_annotator
  Cargo.toml
  distribution/helm/vector-agent/templates/rbac.yaml
  distribution/kubernetes/vector-agent/resources.yaml
  distribution/kubernetes/vector-all/resources.yaml
  docs/cue/reference/components/sources/kubernetes_logs.cue
  lib/k8s-e2e-tests/tests/vector-agent.rs
  lib/k8s-e2e-tests/tests/vector-dd-agent-aggregator.rs
  lib/k8s-e2e-tests/tests/vector.rs
  lib/k8s-test-framework/src/framework.rs
  lib/k8s-test-framework/src/namespace.rs
  src/internal_events/file.rs
  src/internal_events/kubernetes_logs.rs
  src/internal_events/mod.rs
  src/kubernetes/hash_value.rs
  src/kubernetes/reflector.rs
  src/kubernetes/state/evmap.rs
  src/sources/kubernetes_logs/k8s_paths_provider.rs
  src/sources/kubernetes_logs/mod.rs
  src/sources/kubernetes_logs/namespace_metadata_annotator.rs
  src/sources/kubernetes_logs/pod_metadata_annotator.rs
  src/sources/mod.rs
  tests/helm-snapshots/builtin_configs/vector-agent/snapshot.yaml
  tests/helm-snapshots/topology_config/vector-agent/snapshot.yaml
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable, source: kubernetes_logs

#8452 chore: RFC for extracing Helm charts to a separate repo
  rfcs/2021-07-23-8447-extract-helm-charts.md
Labels: platform: helm
