Repository vectordotdev/vector, pull requests merged in 2021-05, with the labels that each got.

#7292 enhancement(remap): Wdd `whitespace` option to `parse_key_value` function
  docs/reference/remap/functions/parse_key_value.cue
  lib/vrl/stdlib/src/parse_key_value.rs
  lib/vrl/stdlib/src/parse_logfmt.rs
Labels: domain: parsing, domain: remap, type: enhancement

#7317 chore: Faster macOS dev builds
  Cargo.toml
Labels: type: enhancement

#7293 fix(splunk_hec source): Default `host` to remote address
  src/sources/splunk_hec.rs
Labels: source: splunk_hec

#7316 fix(cli): Enable use of delimiters
  src/cli.rs
  src/service.rs
  src/unit_test.rs
  src/validate.rs
Labels: domain: cli

#7251 chore(sinks): Drop unnecessary `Request` parameter from types
  src/sinks/util/http.rs
  src/sinks/util/service.rs
  src/sinks/util/sink.rs
Labels: domain: sinks, type: tech debt

#7343 chore: Drop `futures01`
  Cargo.lock
  Cargo.toml
  benches/isolated_buffer.rs
  lib/vector-core/Cargo.toml
Labels: type: task

#7365 chore: Drop redundant copy of built info
  src/internal_events/process.rs
  src/lib.rs
Labels: source: internal_metrics, type: tech debt

#7345 chore(metrics): Remove emits & alias `processed_events_total` metric
  docs/reference/components/sources/internal_metrics.cue
  lib/vector-core/src/event/metric.rs
  lib/vector-core/src/metrics/mod.rs
  src/internal_events/apache_metrics.rs
  src/internal_events/aws_ecs_metrics.rs
  src/internal_events/aws_kinesis_streams.rs
  src/internal_events/aws_sqs.rs
  src/internal_events/blackhole.rs
  src/internal_events/console.rs
  src/internal_events/datadog_logs.rs
  src/internal_events/docker_logs.rs
  src/internal_events/elasticsearch.rs
  src/internal_events/exec.rs
  src/internal_events/file.rs
  src/internal_events/generator.rs
  src/internal_events/host_metrics.rs
  src/internal_events/http.rs
  src/internal_events/journald.rs
  src/internal_events/kafka.rs
  src/internal_events/kubernetes_logs.rs
  src/internal_events/nats.rs
  src/internal_events/prometheus.rs
  src/internal_events/socket.rs
  src/internal_events/splunk_hec.rs
  src/internal_events/statsd_source.rs
  src/internal_events/stdin.rs
  src/internal_events/syslog.rs
  src/internal_events/topology.rs
  src/internal_events/vector.rs
  src/stream.rs
  src/topology/builder.rs
Labels: domain: metrics, domain: observability

#7373 fix(observability)!: Correct all `*_nanoseconds` metrics to `_seconds`
  docs/reference/components/sources/apache_metrics.cue
  docs/reference/components/sources/aws_ecs_metrics.cue
  docs/reference/components/sources/exec.cue
  docs/reference/components/sources/internal_metrics.cue
  docs/reference/components/sources/mongodb_metrics.cue
  docs/reference/components/sources/nginx_metrics.cue
  docs/reference/components/sources/postgresql_metrics.cue
  docs/reference/components/sources/prometheus_remote_write.cue
  docs/reference/components/sources/prometheus_scrape.cue
  src/internal_events/apache_metrics.rs
  src/internal_events/aws_ecs_metrics.rs
  src/internal_events/exec.rs
  src/internal_events/http_client.rs
  src/internal_events/mongodb_metrics.rs
  src/internal_events/nginx_metrics.rs
  src/internal_events/postgresql_metrics.rs
  src/internal_events/prometheus.rs
Labels: domain: metrics, domain: observability, source: internal_metrics, type: bug

#7141 chore(data model): Add metadata support for end-to-end acknowledgements
  Cargo.lock
  lib/vector-core/Cargo.toml
  lib/vector-core/src/event/finalization.rs
  lib/vector-core/src/event/log_event.rs
  lib/vector-core/src/event/metadata.rs
  lib/vector-core/src/event/metric.rs
  lib/vector-core/src/event/mod.rs
  lib/vector-core/src/lib.rs
  rfcs/2021-03-26-6517-end-to-end-acknowledgement.md
  src/buffers/mod.rs
  src/transforms/reduce/mod.rs
Labels: domain: architecture, domain: data model

#7396 chore(http sink): Distinguish end-to-end errors
  lib/vector-core/src/event/finalization.rs
  rfcs/2021-03-26-6517-end-to-end-acknowledgement.md
  src/sinks/util/http.rs
  src/sinks/util/sink.rs
Labels: domain: data model, domain: sinks, sink: http, type: tech debt

#6765 enhancement(setup): Add podPriorityClassName to Helm chart
  distribution/helm/vector-agent/templates/daemonset.yaml
  distribution/helm/vector-agent/values.yaml
  distribution/helm/vector-aggregator/templates/statefulset.yaml
  distribution/helm/vector-aggregator/values.yaml
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#7325 enhancement(datadog source, http source): Add acknowledgement support
  lib/vector-core/src/event/finalization.rs
  lib/vector-core/src/event/log_event.rs
  lib/vector-core/src/event/metadata.rs
  lib/vector-core/src/event/metric.rs
  lib/vector-core/src/event/mod.rs
  src/pipeline.rs
  src/sources/datadog/logs.rs
  src/sources/heroku_logs.rs
  src/sources/http.rs
  src/sources/prometheus/remote_write.rs
  src/sources/util/body_decoding.rs
  src/sources/util/http.rs
  src/test_util/mod.rs
Labels: domain: data model, source: http, type: enhancement

#7166 feat(config): Initial `[provider]` implementation - `http`
  Cargo.lock
  Cargo.toml
  src/app.rs
  src/config/builder.rs
  src/config/loading.rs
  src/config/mod.rs
  src/config/provider.rs
  src/config/validation.rs
  src/lib.rs
  src/providers/http.rs
  src/providers/mod.rs
  src/signal.rs
Labels: domain: config, type: feature

#7431 enhancement(heroku_logs source, http source): Add end-to-end acknowledgements
  lib/vector-core/src/event/finalization.rs
  lib/vector-core/src/event/log_event.rs
  lib/vector-core/src/event/metadata.rs
  lib/vector-core/src/event/metric.rs
  lib/vector-core/src/event/mod.rs
  src/pipeline.rs
  src/sources/datadog/logs.rs
  src/sources/heroku_logs.rs
  src/sources/http.rs
  src/sources/prometheus/remote_write.rs
  src/sources/util/body_decoding.rs
  src/sources/util/http.rs
  src/test_util/mod.rs
Labels: domain: data model, domain: sources, provider: datadog, source: heroku_logs, source: http

#7411 enhancement(sinks): Add acknowledgements support to more HTTP logs sinks
  lib/vector-core/src/event/log_event.rs
  src/sinks/aws_kinesis_firehose.rs
  src/sinks/azure_monitor_logs.rs
  src/sinks/blackhole.rs
  src/sinks/clickhouse.rs
  src/sinks/elasticsearch.rs
  src/sinks/file/mod.rs
  src/sinks/gcp/pubsub.rs
  src/sinks/gcp/stackdriver_logs.rs
  src/sinks/honeycomb.rs
  src/sinks/http.rs
  src/sinks/influxdb/logs.rs
  src/sinks/logdna.rs
  src/sinks/loki.rs
  src/sinks/splunk_hec.rs
  src/sinks/util/mod.rs
  src/test_util/mod.rs
  tests/buffering.rs
Labels: domain: data model, domain: sinks, sink: azure_monitor_logs, sink: clickhouse, sink: gcp_pubsub, sink: gcp_stackdriver_logs, sink: honeycomb, sink: influxdb_logs, sink: logdna, sink: loki, sink: splunk_hec, type: enhancement

#7451 fix(influxdb_logs sink): Add missing `drop` in test
  src/sinks/influxdb/logs.rs
Labels: domain: tests, sink: influxdb_logs, type: bug

#7452 fix(clickhouse sink): Use correct batch status
  src/sinks/clickhouse.rs
Labels: domain: tests, sink: clickhouse, type: bug

#7332 fix(kubernetes platform): Fix binfmt exclusion in Helm chart
  distribution/helm/vector-agent/values.yaml
  distribution/kubernetes/vector-agent/resources.yaml
  distribution/kubernetes/vector-all/resources.yaml
  docs/reference/components/sources/host_metrics.cue
  tests/helm-snapshots/builtin_configs/vector-agent/snapshot.yaml
  tests/helm-snapshots/topology_config/vector-agent/snapshot.yaml
Labels: platform: kubernetes, type: task

#7489 chore(deps): Bump Rust version to 1.52.1
  rust-toolchain
Labels: domain: deps, type: task

#7517 fix(tests): fix broken k8s tests
  lib/k8s-e2e-tests/tests/vector-agent.rs
  lib/k8s-e2e-tests/tests/vector.rs
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#7521 chore: Make tokio non-optional for core/buffers
  lib/vector-core/buffers/Cargo.toml
Labels: type: task

#7495 chore(metrics): switch to upstream Registry impl for metrics
  Cargo.lock
  Cargo.toml
  lib/vector-core/Cargo.toml
  lib/vector-core/buffers/Cargo.toml
  lib/vector-core/src/metrics/handle.rs
  lib/vector-core/src/metrics/mod.rs
  lib/vector-core/src/metrics/recorder.rs
  lib/vector-core/src/metrics/registry.rs
Labels: domain: metrics, domain: performance

#7593 chore: Reorganize event proto module
  lib/vector-core/src/event/mod.rs
  lib/vector-core/src/event/proto.rs
Labels: domain: data model, type: tech debt

#7531 enhancement(sources): Allow for opting out of acknowledgements
  docs/reference/components.cue
  docs/reference/components/sources/datadog_logs.cue
  docs/reference/components/sources/heroku_logs.cue
  docs/reference/components/sources/http.cue
  docs/reference/components/sources/prometheus_remote_write.cue
  src/api/schema/components/mod.rs
  src/config/builder.rs
  src/config/mod.rs
  src/config/validation.rs
  src/sources/datadog/logs.rs
  src/sources/heroku_logs.rs
  src/sources/http.rs
  src/sources/prometheus/remote_write.rs
  src/sources/socket/mod.rs
  src/sources/util/http.rs
  src/sources/vector/v1.rs
  src/topology/builder.rs
  src/topology/mod.rs
Labels: domain: data model, source: heroku_logs, source: http, source: prometheus_remote_write, type: enhancement

#7264 enhancement(buffers): Maintain working size of disk buffer
  lib/vector-core/buffers/src/disk/leveldb_buffer/mod.rs
  lib/vector-core/buffers/src/disk/leveldb_buffer/reader.rs
  lib/vector-core/buffers/src/disk/leveldb_buffer/writer.rs
Labels: domain: buffers, type: enhancement

#7621 chore: Add changes to `Cargo.lock`
  Cargo.lock
Labels: type: task

#7625 enhancement(vector sink): Add acknowledgement support
  lib/vector-core/src/event/metadata.rs
  lib/vector-core/src/event/metric.rs
  lib/vector-core/src/event/mod.rs
  lib/vector-core/src/event/proto.rs
  src/sinks/vector/v1.rs
  src/sinks/vector/v2.rs
Labels: domain: data model, needs: tests, sink: vector

#7614 fix(buffers): Min uncompact size
  lib/vector-core/buffers/src/disk/leveldb_buffer/reader.rs
Labels: domain: buffers

#7618 enhancement(vector source): Add acknowledgement support to v2 protocol
  docs/reference/components/sources/vector.cue
  lib/vector-core/src/event/log_event.rs
  lib/vector-core/src/event/metadata.rs
  lib/vector-core/src/event/metric.rs
  lib/vector-core/src/event/mod.rs
  src/sources/vector/v2.rs
Labels: domain: data model, needs: tests, source: vector, type: enhancement

#7536 enhancement(aws_s3 sink): Add acknowledgements support
  src/sinks/aws_s3.rs
Labels: domain: data model, sink: aws_s3, type: enhancement

#7635 chore: Wrap and report batch status receive errors
  lib/vector-core/src/event/finalization.rs
  src/sources/util/http.rs
  src/sources/vector/v2.rs
Labels: domain: data model, domain: sinks, sink: http, type: tech debt

#7535 enhancement(datadog_metrics sink): Add acknowledgements support
  src/sinks/datadog/metrics.rs
Labels: needs: tests, sink: datadog_metrics, type: enhancement

#7601 fix(aws_cloudwatch_logs sink): Fix healthcheck to allow for log group creation at runtime
  src/sinks/aws_cloudwatch_logs/mod.rs
Labels: sink: aws_cloudwatch_logs

#7615 fix(buffers): Batch delete
  lib/vector-core/buffers/src/disk/leveldb_buffer/mod.rs
  lib/vector-core/buffers/src/disk/leveldb_buffer/reader.rs
Labels: domain: buffers

#7628 enhancement(tests): e2e logs ingestion from Datadog agent to Vector
  lib/k8s-e2e-tests/Cargo.toml
  lib/k8s-e2e-tests/tests/vector-dd-agent-aggregator.rs
  lib/k8s-test-framework/src/framework.rs
  lib/k8s-test-framework/src/interface.rs
  lib/k8s-test-framework/src/vector.rs
  scripts/deploy-public-chart-test.sh
  scripts/test-e2e-kubernetes.sh
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable
