Repository vectordotdev/vector, pull requests merged in 2022-08, with the labels that each got.

#13626 chore: add deprecated comment to old sink components
  src/sinks/util/buffer/json.rs
  src/sinks/util/buffer/metrics/mod.rs
  src/sinks/util/buffer/vec.rs
  src/sinks/util/http.rs
  src/sinks/util/service.rs
  src/sinks/util/sink.rs
Labels: domain: sinks

#13729 fix(mongodb_metrics source): Fix data types of metrics
  src/sources/mongodb_metrics/types.rs
Labels: domain: sources

#13787 fix(mongodb_metrics source): (revert) Fix data types of metrics
  src/sources/mongodb_metrics/types.rs
Labels: domain: sources, ci-condition: integration tests enable

#13613 enhancement(distribution): add `--prefix` option for installation script
  distribution/install.sh
  website/content/en/docs/setup/installation/_index.md
  website/cue/reference/administration/example_docker_install_commands.cue
  website/layouts/shortcodes/docker-example-install-scripts.html
Labels: domain: releasing, domain: external docs

#13792 fix(codecs): deny unknown fields on transformer config
  src/codecs/encoding/transformer.rs
Labels: domain: codecs

#13763 chore(dev): Make `make check` and `make check-clippy` line up
  Makefile
Labels: type: tech debt, domain: dev

#13765 chore(observability): Indicate that `processing_errors_total` is deprecated
  website/cue/reference/components/sources/internal_metrics.cue
Labels: domain: external docs

#13804 Resolve installer script issues
  distribution/install.sh
Labels: domain: releasing

#13436 feat(new sink): new `apex` sink
  .github/semantic.yml
  .github/workflows/integration-test.yml
  Cargo.toml
  Makefile
  scripts/integration/docker-compose.apex.yml
  src/sinks/apex/integration_tests.rs
  src/sinks/apex/mod.rs
  src/sinks/mod.rs
  website/content/en/docs/reference/configuration/sinks/apex.md
  website/cue/reference/components/sinks/apex.cue
  website/cue/reference/services/apex.cue
  website/cue/reference/urls.cue
  website/data/redirects.yaml
Labels: domain: sinks, domain: ci, domain: external docs, ci-condition: integration tests enable

#13838 feat(aws): add auth.region option when assuming role
  src/aws/auth.rs
  website/cue/reference/components/aws.cue
Labels: domain: external docs, ci-condition: integration tests enable

#13759 fix(http sink): cert verification with proxy enabled
  src/http.rs
Labels: ci-condition: integration tests enable

#13852 feat(vrl): add methods to check if a string is an IPv4 or IPv6 address
  lib/vrl/compiler/src/test_util.rs
  lib/vrl/stdlib/Cargo.toml
  lib/vrl/stdlib/benches/benches.rs
  lib/vrl/stdlib/src/is_ipv4.rs
  lib/vrl/stdlib/src/is_ipv6.rs
  lib/vrl/stdlib/src/lib.rs
  website/cue/reference/remap/functions/is_ipv4.cue
  website/cue/reference/remap/functions/is_ipv6.cue
Labels: domain: external docs, domain: vrl

#13771 chore(observability): RFC for registered internal events
  rfcs/2022-07-28-13691-registered-internal-events.md
Labels: domain: observability, domain: performance, domain: internal docs, source: internal_metrics, domain: rfc

#13611 enhancement(sources): Emit new `source_lag_time_seconds` histogram
  src/source_sender/mod.rs
  src/topology/builder.rs
  website/cue/reference/components/sources.cue
  website/cue/reference/components/sources/internal_metrics.cue
Labels: type: enhancement, domain: topology, domain: observability, domain: external docs

#13798 enhancement(opentelemetry source): Add HTTP server and integration test
  .github/workflows/integration-test.yml
  Cargo.toml
  Makefile
  build.rs
  proto/google/rpc/status.proto
  scripts/integration/docker-compose.opentelemetry.yml
  src/sources/opentelemetry/grpc.rs
  src/sources/opentelemetry/http.rs
  src/sources/opentelemetry/integration_tests.rs
  src/sources/opentelemetry/mod.rs
  src/sources/opentelemetry/reply.rs
  src/sources/opentelemetry/status.rs
  src/sources/opentelemetry/tests.rs
  tests/data/opentelemetry/config.yaml
  website/cue/reference/components/sources/opentelemetry.cue
Labels: domain: sources, domain: ci, domain: external docs, ci-condition: integration tests enable, source: opentelemetry

#13871 fix(log_to_metric transform): add metric timestamp if source log lacks one
  src/transforms/log_to_metric.rs
Labels: domain: transforms, ci-condition: integration tests enable

#13885 fix(prometheus_scrape source,prometheus_remote_write source): wait for mock endpoint in tests
  src/sources/prometheus/remote_write.rs
  src/sources/prometheus/scrape.rs
Labels: domain: sources, ci-condition: integration tests enable

#13854 fix(internal_metrics source): Fix type of cardinality metric to gauge
  lib/vector-core/src/metrics/mod.rs
  website/content/en/highlights/2022-08-16-0-24-0-upgrade-guide.md
  website/cue/reference/components/sources/internal_metrics.cue
Labels: type: bug, type: tech debt, domain: observability, domain: external docs, source: internal_metrics, domain: core

#13868 fix(docker_logs source): fix metrics not attached to the source
  src/sources/docker_logs.rs
Labels: domain: sources, ci-condition: integration tests enable

#13862 fix(docker_logs source): Fix panic after bump bollard
  Cargo.lock
  Cargo.toml
  src/sources/docker_logs.rs
Labels: domain: sources, ci-condition: integration tests enable

#13874 enhancement(host_metrics source): Add number of logical & physical CPUs metrics
  src/sources/host_metrics/cpu.rs
Labels: domain: sources, source: host_metrics

#13632 enhancement(websocket sink): Allow setting HTTP authorization header
  src/sinks/websocket/config.rs
  src/sinks/websocket/sink.rs
  website/cue/reference/components/sinks/websocket.cue
Labels: domain: sinks, domain: external docs

#13872 enhancement(observability): Add support for expiring internal metrics
  Cargo.lock
  lib/vector-core/Cargo.toml
  lib/vector-core/src/config/global_options.rs
  lib/vector-core/src/metrics/mod.rs
  lib/vector-core/src/metrics/recorder.rs
  src/api/tap.rs
  src/config/builder.rs
  src/sinks/mod.rs
  src/sinks/util/adaptive_concurrency/tests.rs
  src/source_sender/mod.rs
  src/sources/internal_metrics.rs
  src/test_util/components.rs
  src/test_util/mod.rs
  src/topology/mod.rs
  src/topology/test/backpressure.rs
  src/topology/test/crash.rs
  src/topology/test/doesnt_reload.rs
  src/topology/test/end_to_end.rs
  src/topology/test/mod.rs
  src/topology/test/reload.rs
  src/topology/test/source_finished.rs
  src/topology/test/transient_state.rs
  website/cue/reference/configuration.cue
Labels: type: enhancement, domain: topology, domain: observability, domain: config, domain: sources, domain: sinks, domain: external docs, source: internal_metrics, domain: core

#13883 enhancement(observability): Convert internal metric counters to incremental
  lib/vector-core/src/event/metric/mod.rs
  lib/vector-core/src/metrics/mod.rs
  lib/vector-core/src/metrics/recorder.rs
Labels: type: enhancement, domain: observability, source: internal_metrics, domain: core

#13923 docs(config): Only render `client_metadata_key` if available
  website/cue/reference/components.cue
  website/cue/reference/components/sources.cue
  website/cue/reference/components/sources/socket.cue
Labels: domain: external docs

#13928 chore(external_docs): Add new `configuration_examples` field for components
  website/cue/reference/components.cue
  website/cue/reference/components/transforms/pipelines.cue
  website/cue/reference/components/transforms/tag_cardinality_limit.cue
Labels: domain: external docs

#13929 chore(releasing): Release v0.23.1 as v0.23.3
  distribution/install.sh
  website/content/en/releases/0.23.1.md
  website/content/en/releases/0.23.3.md
  website/cue/reference/releases/0.23.3.cue
  website/cue/reference/versions.cue
Labels: domain: releasing, domain: external docs

#13905 enhancement(observability): Add initial registered internal event implementation
  lib/vector-common/src/internal_event/bytes_sent.rs
  lib/vector-common/src/internal_event/mod.rs
  lib/vector-core/src/stream/driver.rs
  scripts/check-events
  src/internal_events/mod.rs
  src/sinks/azure_common/service.rs
  src/sinks/console/sink.rs
  src/sinks/datadog/events/service.rs
  src/sinks/datadog/logs/service.rs
  src/sinks/datadog/metrics/service.rs
  src/sinks/datadog/traces/service.rs
  src/sinks/gcs_common/service.rs
  src/sinks/kafka/service.rs
  src/sinks/loki/service.rs
  src/sinks/mod.rs
  src/sinks/nats.rs
  src/sinks/new_relic/service.rs
  src/sinks/prometheus/exporter.rs
  src/sinks/pulsar.rs
  src/sinks/redis.rs
  src/sinks/socket.rs
  src/sinks/statsd.rs
  src/sinks/util/udp.rs
  src/sinks/websocket/sink.rs
Labels: type: enhancement, domain: observability, domain: sinks, domain: ci, source: internal_metrics, domain: core

#13930 chore(releasing): Verify tag matches version for releases
  scripts/version.sh
Labels: domain: ci

#13937 docs(releasing): Clarify why versions were skipped
  website/cue/reference/releases/0.23.3.cue
Labels: domain: external docs

#13938 enhancement(observability): (revert) Add initial registered internal event implementation
  lib/vector-common/src/internal_event/bytes_sent.rs
  lib/vector-common/src/internal_event/mod.rs
  lib/vector-core/src/stream/driver.rs
  scripts/check-events
  src/internal_events/mod.rs
  src/sinks/azure_common/service.rs
  src/sinks/console/sink.rs
  src/sinks/datadog/events/service.rs
  src/sinks/datadog/logs/service.rs
  src/sinks/datadog/metrics/service.rs
  src/sinks/datadog/traces/service.rs
  src/sinks/gcs_common/service.rs
  src/sinks/kafka/service.rs
  src/sinks/loki/service.rs
  src/sinks/mod.rs
  src/sinks/nats.rs
  src/sinks/new_relic/service.rs
  src/sinks/prometheus/exporter.rs
  src/sinks/pulsar.rs
  src/sinks/redis.rs
  src/sinks/socket.rs
  src/sinks/statsd.rs
  src/sinks/util/udp.rs
  src/sinks/websocket/sink.rs
Labels: domain: sinks, domain: ci, ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable, ci-condition: integration tests enable, domain: core

#13945 chore(opentelemetry source): remove unimplemented protobuf_decode metric
  website/cue/reference/components/sources/opentelemetry.cue
Labels: domain: observability, domain: external docs, source: opentelemetry

#13925 docs(config): Remove tls.enabled flag from components that don't support it
  website/cue/reference/components.cue
  website/cue/reference/components/sinks/apex.cue
  website/cue/reference/components/sinks/aws_cloudwatch_logs.cue
  website/cue/reference/components/sinks/aws_cloudwatch_metrics.cue
  website/cue/reference/components/sinks/aws_kinesis_firehose.cue
  website/cue/reference/components/sinks/aws_kinesis_streams.cue
  website/cue/reference/components/sinks/aws_s3.cue
  website/cue/reference/components/sinks/aws_sqs.cue
  website/cue/reference/components/sinks/axiom.cue
  website/cue/reference/components/sinks/azure_monitor_logs.cue
  website/cue/reference/components/sinks/clickhouse.cue
  website/cue/reference/components/sinks/datadog_archives.cue
  website/cue/reference/components/sinks/datadog_events.cue
  website/cue/reference/components/sinks/datadog_logs.cue
  website/cue/reference/components/sinks/datadog_metrics.cue
  website/cue/reference/components/sinks/datadog_traces.cue
  website/cue/reference/components/sinks/elasticsearch.cue
  website/cue/reference/components/sinks/gcp_chronicle_unstructured.cue
  website/cue/reference/components/sinks/gcp_cloud_storage.cue
  website/cue/reference/components/sinks/gcp_pubsub.cue
  website/cue/reference/components/sinks/gcp_stackdriver_logs.cue
  website/cue/reference/components/sinks/gcp_stackdriver_metrics.cue
  website/cue/reference/components/sinks/http.cue
  website/cue/reference/components/sinks/humio.cue
  website/cue/reference/components/sinks/influxdb.cue
  website/cue/reference/components/sinks/kafka.cue
  website/cue/reference/components/sinks/loki.cue
  website/cue/reference/components/sinks/nats.cue
  website/cue/reference/components/sinks/papertrail.cue
  website/cue/reference/components/sinks/prometheus_remote_write.cue
  website/cue/reference/components/sinks/socket.cue
  website/cue/reference/components/sinks/splunk_hec_logs.cue
  website/cue/reference/components/sinks/splunk_hec_metrics.cue
  website/cue/reference/components/sinks/vector.cue
  website/cue/reference/components/sinks/websocket.cue
  website/cue/reference/components/sources/aws_s3.cue
  website/cue/reference/components/sources/aws_sqs.cue
  website/cue/reference/components/sources/gcp_pubsub.cue
  website/cue/reference/components/sources/kafka.cue
  website/cue/reference/components/sources/prometheus_scrape.cue
Labels: domain: external docs

#13921 docs(opentelemetry source): Refresh documentation and examples
  website/content/en/docs/reference/configuration/sources/opentelemetry.md
  website/cue/reference.cue
  website/cue/reference/components/sources/opentelemetry.cue
  website/cue/reference/urls.cue
Labels: domain: external docs, source: opentelemetry

#13946 fix(setup): add the correct bin directory to $PATH
  distribution/install.sh
Labels: domain: releasing

#13953 chore(core): Set up registered internal event structures
  lib/vector-common/src/internal_event/mod.rs
  scripts/check-events
  src/internal_events/mod.rs
Labels: type: tech debt, domain: ci, ci-condition: integration tests enable

#13958 chore: Regenerate Kubernetes manifests
  distribution/kubernetes/vector-agent/README.md
  distribution/kubernetes/vector-agent/configmap.yaml
  distribution/kubernetes/vector-agent/daemonset.yaml
  distribution/kubernetes/vector-agent/rbac.yaml
  distribution/kubernetes/vector-agent/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/README.md
  distribution/kubernetes/vector-aggregator/configmap.yaml
  distribution/kubernetes/vector-aggregator/service-headless.yaml
  distribution/kubernetes/vector-aggregator/service.yaml
  distribution/kubernetes/vector-aggregator/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/statefulset.yaml
  distribution/kubernetes/vector-stateless-aggregator/README.md
  distribution/kubernetes/vector-stateless-aggregator/configmap.yaml
  distribution/kubernetes/vector-stateless-aggregator/deployment.yaml
  distribution/kubernetes/vector-stateless-aggregator/service-headless.yaml
  distribution/kubernetes/vector-stateless-aggregator/service.yaml
  distribution/kubernetes/vector-stateless-aggregator/serviceaccount.yaml
Labels: domain: releasing

#11907 fix(exec source): Fix graceful shutdown behavior
  src/internal_events/exec.rs
  src/sources/exec/mod.rs
  website/cue/reference/components/sources/exec.cue
Labels: domain: sources, domain: external docs

#13389 feat(new source): new `file_descriptor` source
  Cargo.toml
  src/config/mod.rs
  src/sources/file_descriptors/file_descriptor.rs
  src/sources/file_descriptors/mod.rs
  src/sources/file_descriptors/stdin.rs
  src/sources/mod.rs
  src/sources/stdin.rs
  src/topology/test/transient_state.rs
  website/content/en/docs/reference/configuration/sources/file_descriptor.md
  website/cue/reference/components/sources/file_descriptor.cue
  website/cue/reference/services/file_descriptor.cue
  website/cue/reference/urls.cue
Labels: domain: topology, domain: sources, domain: external docs

#13964 chore(geoip transform): Deprecate `geoip` transform
  website/cue/reference/components/transforms/geoip.cue
Labels: domain: external docs

#13707 enhancement(geoip enrichment): Add support for Connection-Type databases
  src/enrichment_tables/geoip.rs
  tests/data/GeoIP2-Connection-Type-Test.mmdb
  website/cue/reference/remap/functions.cue
Labels: transform: geoip, domain: external docs

#13967 chore: Install protoc for soak builder too
  scripts/environment/bootstrap-ubuntu-20.04.sh
  soaks/Dockerfile.builder
Labels: domain: ci

#13483 enhancement(docker platform): Dockerfile updates and improvements
  distribution/docker/alpine/Dockerfile
  distribution/docker/debian/Dockerfile
  distribution/docker/distroless-libc/Dockerfile
  distribution/docker/distroless-static/Dockerfile
  distribution/docker/docker-entrypoint.sh
Labels: domain: releasing

#13456 enhancement(apt platform,debian platform,dpkg platform,centos platform,rhel platform,rpm platform,yum platform): Improve packaging and service best practices
  Cargo.toml
  config/README.md
  config/agent/kubernetes/vector.yaml
  config/agent/vector.yaml
  config/aggregator/vector.yaml
  config/examples/agent.toml
  config/examples/aggregator.toml
  config/vector.toml
  distribution/debian/scripts/postinst
  distribution/debian/scripts/preinst
  distribution/rpm/vector.spec
  distribution/systemd/hardened-vector.service
  distribution/systemd/vector-agent.service
  distribution/systemd/vector-aggregator.service
  distribution/systemd/vector.default
  distribution/systemd/vector.service
Labels: domain: releasing

#13984 fix(unnest): Faster & less memory by dropping to-be-replaced values
  lib/vrl/stdlib/src/unnest.rs
Labels: domain: vrl

#13960 fix(datadog_metrics sink): fix counter datapoint aggregation for identical timestamps
  lib/vector-core/Cargo.toml
  lib/vector-core/src/event/metric/arbitrary.rs
  lib/vector-core/src/event/metric/mod.rs
  src/sinks/datadog/metrics/encoder.rs
  src/sinks/datadog/metrics/sink.rs
Labels: domain: sinks, ci-condition: integration tests enable, domain: core

#13994 chore: Update all internal crates to be hyphenated
  Cargo.lock
  Cargo.toml
  lib/codecs/Cargo.toml
  lib/datadog/grok/Cargo.toml
  lib/enrichment/Cargo.toml
  lib/lookup/Cargo.toml
  lib/prometheus-parser/Cargo.toml
  lib/vector-buffers/Cargo.toml
  lib/vector-common/Cargo.toml
  lib/vector-config-common/Cargo.toml
  lib/vector-config-macros/Cargo.toml
  lib/vector-config/Cargo.toml
  lib/vector-core/Cargo.toml
  lib/vrl/cli/Cargo.toml
  lib/vrl/compiler/Cargo.toml
  lib/vrl/stdlib/Cargo.toml
  lib/vrl/tests/Cargo.toml
  lib/vrl/vrl/Cargo.toml
Labels: domain: vrl, ci-condition: integration tests enable, domain: core

#13422 enhancement(file source): Add optional byte offset to file source events
  lib/file-source/src/file_server.rs
  lib/file-source/src/file_watcher/mod.rs
  lib/file-source/src/file_watcher/tests/experiment.rs
  lib/file-source/src/file_watcher/tests/experiment_no_truncations.rs
  src/sources/file.rs
  src/sources/kubernetes_logs/mod.rs
  website/cue/reference/components/sources/file.cue
Labels: domain: sources, domain: external docs

#13980 chore(opentelemetry source): Move opentelemetry proto code into libs/
  Cargo.lock
  Cargo.toml
  lib/opentelemetry-proto/Cargo.toml
  lib/opentelemetry-proto/build.rs
  lib/opentelemetry-proto/src/convert.rs
  lib/opentelemetry-proto/src/lib.rs
  lib/opentelemetry-proto/src/proto.rs
  lib/opentelemetry-proto/src/proto/opentelemetry-proto/opentelemetry/proto/collector/logs/v1/logs_service.proto
  lib/opentelemetry-proto/src/proto/opentelemetry-proto/opentelemetry/proto/common/v1/common.proto
  lib/opentelemetry-proto/src/proto/opentelemetry-proto/opentelemetry/proto/logs/v1/logs.proto
  lib/opentelemetry-proto/src/proto/opentelemetry-proto/opentelemetry/proto/resource/v1/resource.proto
  src/lib.rs
  src/opentelemetry/mod.rs
  src/sources/opentelemetry/grpc.rs
  src/sources/opentelemetry/http.rs
  src/sources/opentelemetry/mod.rs
  src/sources/opentelemetry/tests.rs
Labels: domain: sources, ci-condition: integration tests enable, source: opentelemetry

#13997 fix(packaging): Revert recent packaging and service changes
  Cargo.toml
  config/README.md
  config/agent/kubernetes/vector.yaml
  config/agent/vector.yaml
  config/aggregator/vector.yaml
  config/examples/agent.toml
  config/examples/aggregator.toml
  config/vector.toml
  distribution/debian/scripts/postinst
  distribution/debian/scripts/preinst
  distribution/docker/alpine/Dockerfile
  distribution/docker/debian/Dockerfile
  distribution/docker/distroless-libc/Dockerfile
  distribution/docker/distroless-static/Dockerfile
  distribution/docker/docker-entrypoint.sh
  distribution/rpm/vector.spec
  distribution/systemd/hardened-vector.service
  distribution/systemd/vector-agent.service
  distribution/systemd/vector-aggregator.service
  distribution/systemd/vector.default
  distribution/systemd/vector.service
Labels: domain: releasing, ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#14002 docs: Rename prometheus to prometheus_exporter sink
  website/cue/reference/components/sinks/prometheus_exporter.cue
Labels: domain: external docs

#14006 feat(observability): Add intentional and reason for StreamClosedError
  src/internal_events/common.rs
Labels: domain: observability

#13399 enhancement(tls): add option to set alpn protocols in tls settings
  src/sources/socket/mod.rs
  src/tls/mod.rs
  src/tls/settings.rs
  website/cue/reference/components.cue
Labels: domain: sources, domain: external docs

#14010 chore(core): Allow configurable names for "source" metadata
  lib/vector-core/src/config/mod.rs
  src/sources/datadog_agent/logs.rs
Labels: domain: sources, domain: core

#13794 feat(vrl): Adds `chunks` function
  lib/value/src/value/convert.rs
  lib/vrl/stdlib/Cargo.toml
  lib/vrl/stdlib/benches/benches.rs
  lib/vrl/stdlib/src/chunks.rs
  lib/vrl/stdlib/src/lib.rs
  lib/vrl/tests/tests/functions/chunks_chunk_size_at_least_1.vrl
  lib/vrl/tests/tests/functions/chunks_fallible_given_expression.vrl
  website/cue/reference/remap/functions/chunks.cue
Labels: domain: external docs, domain: vrl

#14022 fix(elasticsearch sink): fix error msg spelling
  src/sinks/elasticsearch/service.rs
Labels: domain: sinks

#14024 chore(dev): Lower `cargo deny` log level
  scripts/check-deny.sh
Labels: domain: ci

#14026 enhancement(file source): Add 10s rate limit to all `file` source errors
  src/internal_events/file.rs
Labels: domain: observability, sink: file

#13918 enhancement(sinks): Add distributed service
  Cargo.toml
  src/internal_events/open.rs
  src/sinks/util/adaptive_concurrency/controller.rs
  src/sinks/util/adaptive_concurrency/mod.rs
  src/sinks/util/adaptive_concurrency/service.rs
  src/sinks/util/retries.rs
  src/sinks/util/service.rs
  src/sinks/util/service/health.rs
Labels: domain: sinks

#14017 enhancement(observability): Adhere TemplateRenderingError to EventsDropped spec
  src/internal_events/template.rs
Labels: domain: observability

#14054 feat(observability): update component_discarded_events_total for `apache_metrics` source
  src/sources/apache_metrics/mod.rs
  website/cue/reference/components/sources/apache_metrics.cue
Labels: domain: observability, domain: sources, domain: external docs, source: apache_metrics

#14021 enhancement(nats sink,codecs): Adhere encoding to EventsDropped and improve EventStatus
  src/codecs/encoding/encoder.rs
  src/internal_events/codecs.rs
  src/internal_events/decoder.rs
  src/internal_events/mod.rs
  src/sinks/nats.rs
Labels: domain: observability, domain: sinks, domain: codecs, sink: nats

#14080 enhancement(prometheus_exporter sink): use common test helpers in tests
  src/sinks/prometheus/exporter.rs
Labels: domain: sinks, ci-condition: integration tests enable

#14098 chore(deps): Remove `grok` crate
  Cargo.lock
  Cargo.toml
  lib/vrl/stdlib/Cargo.toml
Labels: domain: vrl

#14049 fix(datadog agent source): traces are missing k8s tags
  proto/dd_trace.proto
  src/sinks/datadog/traces/request_builder.rs
  src/sources/datadog_agent/tests.rs
  src/sources/datadog_agent/traces.rs
Labels: domain: sources, domain: sinks, source: datadog_agent, ci-condition: integration tests enable

#14109 chore(vrl): revert `parse_grok` delegation to `parse_groks`
  Cargo.lock
  Cargo.toml
  lib/vrl/stdlib/Cargo.toml
  lib/vrl/stdlib/src/parse_grok.rs
  lib/vrl/stdlib/src/parse_groks.rs
Labels: domain: vrl

#14081 chore(vrl): add `mod` function, and deprecate the "%" operator
  lib/vrl/compiler/src/compiler.rs
  lib/vrl/compiler/src/deprecation_warning.rs
  lib/vrl/compiler/src/lib.rs
  lib/vrl/stdlib/Cargo.toml
  lib/vrl/stdlib/benches/benches.rs
  lib/vrl/stdlib/src/lib.rs
  lib/vrl/stdlib/src/mod_func.rs
  lib/vrl/tests/tests/diagnostics/modulo_deprecation.vrl
  lib/vrl/tests/tests/expressions/arithmetic/remainder/float.vrl
  lib/vrl/tests/tests/expressions/arithmetic/remainder/float_integer.vrl
  lib/vrl/tests/tests/expressions/arithmetic/remainder/integer.vrl
  lib/vrl/tests/tests/expressions/arithmetic/remainder/integer_float.vrl
  lib/vrl/tests/tests/expressions/arithmetic/remainder/invalid.vrl
  lib/vrl/tests/tests/expressions/arithmetic/remainder/zero.vrl
  lib/vrl/tests/tests/expressions/group/precedence.vrl
  website/content/en/highlights/2022-08-16-0-24-0-upgrade-guide.md
  website/cue/reference/remap/errors/801_deprecated.cue
  website/cue/reference/remap/expressions/arithmetic.cue
  website/cue/reference/remap/functions/mod.cue
Labels: domain: external docs, domain: vrl, ci-condition: integration tests enable

#14023 chore(ci): Remove AUTOINSTALL from CI
  .github/workflows/integration-test.yml
  .github/workflows/k8s_e2e.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable, ci-condition: integration tests enable

#13913 chore: Move TLS library to `vector-core`
  Cargo.lock
  Cargo.toml
  lib/vector-core/Cargo.toml
  lib/vector-core/src/lib.rs
  lib/vector-core/src/tcp.rs
  lib/vector-core/src/tls/incoming.rs
  lib/vector-core/src/tls/maybe_tls.rs
  lib/vector-core/src/tls/mod.rs
  lib/vector-core/src/tls/outgoing.rs
  lib/vector-core/src/tls/settings.rs
  lib/vector-core/tests/data/Multi_CA.crt
  lib/vector-core/tests/data/ca
  src/lib.rs
  src/sinks/socket.rs
  src/sinks/websocket/sink.rs
  src/sources/util/mod.rs
  src/sources/util/tcp/mod.rs
  src/sources/util/wrappers.rs
  src/sources/vector/v2.rs
Labels: type: tech debt, domain: sources, domain: sinks, domain: core

#14110 chore(vrl): cleanup unused code (saved for LLVM runtime)
  lib/enrichment/src/find_enrichment_table_records.rs
  lib/enrichment/src/get_enrichment_table_record.rs
  lib/enrichment/src/vrl_util.rs
  lib/vrl/compiler/src/function.rs
  lib/vrl/stdlib/src/del.rs
  lib/vrl/stdlib/src/encode_percent.rs
  lib/vrl/stdlib/src/exists.rs
  lib/vrl/stdlib/src/is_json.rs
  lib/vrl/stdlib/src/log.rs
  lib/vrl/stdlib/src/match_any.rs
  lib/vrl/stdlib/src/match_datadog_query.rs
  lib/vrl/stdlib/src/parse_apache_log.rs
  lib/vrl/stdlib/src/parse_grok.rs
  lib/vrl/stdlib/src/parse_groks.rs
  lib/vrl/stdlib/src/parse_key_value.rs
  lib/vrl/stdlib/src/parse_nginx_log.rs
  lib/vrl/stdlib/src/parse_regex.rs
  lib/vrl/stdlib/src/parse_regex_all.rs
  lib/vrl/stdlib/src/parse_user_agent.rs
  lib/vrl/stdlib/src/redact.rs
  lib/vrl/stdlib/src/sha2.rs
  lib/vrl/stdlib/src/sha3.rs
  lib/vrl/stdlib/src/to_timestamp.rs
  lib/vrl/stdlib/src/to_unix_timestamp.rs
  lib/vrl/stdlib/src/unnest.rs
Labels: domain: vrl

#14103 enhancement(host_metrics source): Add unit test with assert_source_compliance test helper
  src/sources/host_metrics/mod.rs
Labels: domain: sources, source: host_metrics, ci-condition: integration tests enable

#14084 chore: Create std locks in const context
  Cargo.lock
  lib/k8s-test-framework/Cargo.toml
  lib/k8s-test-framework/src/lock.rs
  src/config/loading/mod.rs
  src/trace.rs
Labels: type: tech debt

#13793 feat(new source): A generic `http_scrape` source
  .github/workflows/integration-test.yml
  Cargo.toml
  Makefile
  lib/codecs/src/decoding/framing/character_delimited.rs
  lib/codecs/src/decoding/mod.rs
  scripts/integration/docker-compose.axiom.yml
  scripts/integration/docker-compose.chronicle.yml
  scripts/integration/docker-compose.http-scrape.yml
  src/codecs/encoding/encoder.rs
  src/internal_events/http_scrape.rs
  src/internal_events/mod.rs
  src/internal_events/prelude.rs
  src/internal_events/prometheus.rs
  src/sources/http_scrape/integration_tests.rs
  src/sources/http_scrape/mod.rs
  src/sources/http_scrape/scrape.rs
  src/sources/http_scrape/tests.rs
  src/sources/mod.rs
  src/sources/prometheus/scrape.rs
  src/sources/util/http_scrape.rs
  src/sources/util/mod.rs
  src/test_util/components.rs
  tests/data/Makefile
  tests/data/ca/intermediate_server/certs/dufs-https-chain.cert.pem
  tests/data/ca/intermediate_server/certs/dufs-https.cert.pem
  tests/data/ca/intermediate_server/csr/dufs-https.csr.pem
  tests/data/ca/intermediate_server/index.txt
  tests/data/ca/intermediate_server/index.txt.old
  tests/data/ca/intermediate_server/newcerts/1006.pem
  tests/data/ca/intermediate_server/private/dufs-https.key.pem
  tests/data/ca/intermediate_server/serial
  tests/data/ca/intermediate_server/serial.old
  tests/data/http-scrape/certs/invalid-ca-cert.pem
  tests/data/http-scrape/serve/logs/bytes
  tests/data/http-scrape/serve/logs/json.json
  tests/data/http-scrape/serve/metrics/native.json
  tests/data/http-scrape/serve/traces/native.json
  website/content/en/docs/reference/configuration/sources/http_scrape.md
  website/cue/reference/components/sources/http_scrape.cue
  website/cue/reference/services/http_scrape.cue
  website/cue/reference/urls.cue
Labels: domain: sources, source: http, domain: ci, domain: codecs, domain: external docs, ci-condition: integration tests enable

#13934 enhancement(observability): Convert `BytesReceived` to a registered event
  lib/vector-common/src/event_test_util.rs
  lib/vector-common/src/internal_event/bytes_received.rs
  lib/vector-common/src/internal_event/mod.rs
  scripts/check-events
  src/internal_events/common.rs
  src/sources/aws_ecs_metrics/mod.rs
  src/sources/aws_kinesis_firehose/filters.rs
  src/sources/aws_kinesis_firehose/handlers.rs
  src/sources/aws_s3/sqs.rs
  src/sources/demo_logs.rs
  src/sources/dnstap/mod.rs
  src/sources/docker_logs.rs
  src/sources/eventstoredb_metrics/mod.rs
  src/sources/exec/mod.rs
  src/sources/file_descriptors/mod.rs
  src/sources/gcp_pubsub.rs
  src/sources/host_metrics/mod.rs
  src/sources/journald.rs
  src/sources/kubernetes_logs/mod.rs
  src/sources/nats.rs
  src/sources/opentelemetry/http.rs
  src/sources/opentelemetry/mod.rs
  src/sources/redis/channel.rs
  src/sources/redis/list.rs
  src/sources/redis/mod.rs
  src/sources/socket/udp.rs
  src/sources/util/grpc/decompression.rs
  src/sources/util/unix_datagram.rs
  src/sources/util/unix_stream.rs
  src/sources/vector/v1.rs
  src/test_util/components.rs
Labels: type: enhancement, domain: observability, domain: sources, domain: ci, domain: performance, source: internal_metrics, ci-condition: integration tests enable

#14131 docs(internal_metrics source): Typo in component_received_events_total
  website/cue/reference/components/sources/internal_metrics.cue
Labels: domain: external docs

#14111 chore(vrl): remove deprecated modulo expr
  lib/vrl/compiler/src/compiler.rs
  lib/vrl/compiler/src/expression/op.rs
  lib/vrl/parser/src/ast.rs
  lib/vrl/parser/src/lex.rs
  lib/vrl/parser/src/parser.lalrpop
  lib/vrl/proptests/src/main.rs
  lib/vrl/tests/tests/diagnostics/modulo_deprecation.vrl
  website/content/en/highlights/2022-10-04-0-25-0-upgrade-guide.md
Labels: domain: vrl, ci-condition: integration tests enable

#14126 enhancement(host_metrics source): correctly emit error events per the component instrumentation spec
  src/internal_events/host_metrics.rs
  src/internal_events/mod.rs
  src/sources/host_metrics/cpu.rs
  src/sources/host_metrics/disk.rs
  src/sources/host_metrics/filesystem.rs
  src/sources/host_metrics/memory.rs
  src/sources/host_metrics/mod.rs
  src/sources/host_metrics/network.rs
Labels: domain: sources, source: host_metrics

#14133 enhancement(internal_logs, internal_metrics source): Add test helpers to assert source compliance
  src/internal_events/internal_metrics.rs
  src/internal_events/mod.rs
  src/sources/internal_logs.rs
  src/sources/internal_metrics.rs
Labels: domain: sources, source: internal_metrics, source: internal_logs

#14114 fix(vrl): update unquoted allowed-characters
  lib/lookup/src/field.rs
  lib/lookup/src/path.lalrpop
  lib/vrl/compiler/src/expression/assignment.rs
  lib/vrl/tests/tests/issues/13461/1.vrl
  lib/vrl/tests/tests/issues/13461/2.vrl
  lib/vrl/tests/tests/issues/13461/3.vrl
  lib/vrl/tests/tests/issues/13461/4.vrl
  lib/vrl/tests/tests/issues/13461/5.vrl
  lib/vrl/tests/tests/issues/13461/6.vrl
Labels: domain: vrl

#14135 revert(sources): Revert halting stream sources on error acknowledgements
  src/internal_events/file.rs
  src/internal_events/journald.rs
  src/internal_events/kafka.rs
  src/source_sender/mod.rs
  src/sources/file.rs
  src/sources/journald.rs
  src/sources/kafka.rs
  src/sources/mod.rs
Labels: source: file, source: journald, source: kafka, domain: sources, ci-condition: integration tests enable

#14146 chore(config): prepare component types for high-level usage in configuration (transforms)
  Cargo.lock
  lib/vector-common/Cargo.toml
  lib/vector-common/src/config.rs
  lib/vector-config-macros/src/ast/container.rs
  lib/vector-config-macros/src/attrs.rs
  lib/vector-config-macros/src/component_name.rs
  lib/vector-config-macros/src/configurable_component.rs
  lib/vector-config-macros/src/lib.rs
  lib/vector-config/tests/named.rs
  lib/vector-core/src/transform/config.rs
  lib/vector-core/src/transform/mod.rs
  src/api/schema/components/mod.rs
  src/api/tap.rs
  src/config/builder.rs
  src/config/compiler.rs
  src/config/enterprise.rs
  src/config/graph.rs
  src/config/id.rs
  src/config/mod.rs
  src/config/transform.rs
  src/config/unit_test/mod.rs
  src/config/validation.rs
  src/test_util/mock/mod.rs
  src/test_util/mock/transforms/basic.rs
  src/test_util/mock/transforms/mod.rs
  src/test_util/mock/transforms/noop.rs
  src/topology/builder.rs
  src/topology/schema.rs
  src/topology/test/compliance.rs
  src/transforms/aggregate.rs
  src/transforms/aws_ec2_metadata.rs
  src/transforms/dedupe.rs
  src/transforms/filter.rs
  src/transforms/geoip.rs
  src/transforms/log_to_metric.rs
  src/transforms/lua/mod.rs
  src/transforms/lua/v1/mod.rs
  src/transforms/lua/v2/mod.rs
  src/transforms/metric_to_log.rs
  src/transforms/mod.rs
  src/transforms/pipelines/config.rs
  src/transforms/pipelines/mod.rs
  src/transforms/reduce/mod.rs
  src/transforms/remap.rs
  src/transforms/route.rs
  src/transforms/sample.rs
  src/transforms/tag_cardinality_limit.rs
  src/transforms/throttle.rs
Labels: domain: topology, domain: transforms, ci-condition: integration tests enable, domain: core

#14147 enhancement(journald source): emit events to comply with Error instrumentation spec
  src/internal_events/journald.rs
  src/sources/journald.rs
Labels: source: journald, domain: sources

#14159 enhancement(http source): emit Error and ErrorDropped events per instrumentation spec
  src/codecs/decoding/decoder.rs
  src/internal_events/codecs.rs
  src/internal_events/http.rs
  src/sources/http.rs
  src/sources/util/http/prelude.rs
Labels: domain: sources, source: http, domain: codecs

#14155 enhancement(file source): Emit `StreamClosedError` to adhere to DroppedEvents spec
  src/sources/apache_metrics/mod.rs
  src/sources/file.rs
  src/sources/file_descriptors/mod.rs
  src/sources/syslog.rs
  src/sources/util/http_scrape.rs
Labels: source: file, domain: sources

#14179 docs(aws_s3 sink): Fix permission for healthcheck
  website/cue/reference/components/sinks/aws_s3.cue
Labels: domain: external docs

#14183 chore: Bump k8s manifests to v0.16.0 of the Helm chart
  distribution/kubernetes/vector-agent/README.md
  distribution/kubernetes/vector-agent/configmap.yaml
  distribution/kubernetes/vector-agent/daemonset.yaml
  distribution/kubernetes/vector-agent/rbac.yaml
  distribution/kubernetes/vector-agent/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/README.md
  distribution/kubernetes/vector-aggregator/configmap.yaml
  distribution/kubernetes/vector-aggregator/service-headless.yaml
  distribution/kubernetes/vector-aggregator/service.yaml
  distribution/kubernetes/vector-aggregator/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/statefulset.yaml
  distribution/kubernetes/vector-stateless-aggregator/README.md
  distribution/kubernetes/vector-stateless-aggregator/configmap.yaml
  distribution/kubernetes/vector-stateless-aggregator/deployment.yaml
  distribution/kubernetes/vector-stateless-aggregator/service-headless.yaml
  distribution/kubernetes/vector-stateless-aggregator/service.yaml
  distribution/kubernetes/vector-stateless-aggregator/serviceaccount.yaml
Labels: domain: releasing

#14052 feat(observability): update component_discarded_events_total for `datadog_agent` source
  scripts/check-events
  src/internal_events/aws_cloudwatch_logs.rs
  src/internal_events/batch.rs
  src/internal_events/codecs.rs
  src/internal_events/common.rs
  src/internal_events/datadog_metrics.rs
  src/internal_events/datadog_traces.rs
  src/internal_events/loki.rs
  src/internal_events/lua.rs
  src/internal_events/remap.rs
  src/internal_events/splunk_hec.rs
  src/internal_events/template.rs
  src/sinks/datadog/metrics/sink.rs
  src/sinks/datadog/traces/sink.rs
Labels: domain: observability, domain: sinks, domain: ci, source: datadog_agent

#14151 enhancement(pulsar sink): fix missing drop count
  src/internal_events/mod.rs
  src/internal_events/pulsar.rs
  src/sinks/pulsar.rs
  website/cue/reference/components/sinks/pulsar.cue
Labels: domain: sinks, domain: external docs

#14176 chore(config): use enum_dispatch to forward config traits to underlying components
  Cargo.lock
  Cargo.toml
  scripts/features
  src/api/tap.rs
  src/config/builder.rs
  src/config/enterprise.rs
  src/config/source.rs
  src/config/transform.rs
  src/config/unit_test/mod.rs
  src/internal_events/mod.rs
  src/sinks/util/adaptive_concurrency/tests.rs
  src/sources/mod.rs
  src/sources/prometheus/scrape.rs
  src/test_util/mock/mod.rs
  src/topology/test/compliance.rs
  src/topology/test/crash.rs
  src/topology/test/reload.rs
  src/topology/test/source_finished.rs
  src/transforms/mod.rs
  src/transforms/pipelines/config.rs
  src/transforms/pipelines/mod.rs
Labels: domain: topology, domain: sources, domain: transforms, domain: sinks, domain: ci

#14186 docs: Remove confusion
  website/cue/reference/releases/0.24.0.cue
Labels: domain: external docs

#14222 fix(pulsar sink): adhere to new DroppedEvents checks / instrumentation spec
  src/internal_events/pulsar.rs
  src/sinks/pulsar.rs
Labels: domain: sinks, sink: pulsar

#14231 docs(codecs): Document support for GELF codec
  website/cue/reference.cue
  website/cue/reference/components/sinks.cue
  website/cue/reference/components/sinks/socket.cue
  website/cue/reference/components/sources.cue
Labels: domain: external docs

#14224 fix(config): Fix type of global `expire_metrics` setting
  lib/vector-core/src/config/global_options.rs
  lib/vector-core/src/metrics/mod.rs
  src/topology/mod.rs
  website/cue/reference/configuration.cue
Labels: type: bug, domain: topology, domain: config, domain: external docs, domain: metrics, domain: core
