Repository vectordotdev/vector, pull requests merged in 2022-02, with the labels that each got.

#11086 chore: Remove minor clone points in datadog-grok
  Cargo.lock
  lib/datadog/grok/Cargo.toml
  lib/datadog/grok/patterns/aws.pattern
  lib/datadog/grok/patterns/bacula.pattern
  lib/datadog/grok/patterns/bind.pattern
  lib/datadog/grok/patterns/bro.pattern
  lib/datadog/grok/patterns/core.pattern
  lib/datadog/grok/patterns/exim.pattern
  lib/datadog/grok/patterns/firewalls.pattern
  lib/datadog/grok/patterns/grok.pattern
  lib/datadog/grok/patterns/haproxy.pattern
  lib/datadog/grok/patterns/httpd.pattern
  lib/datadog/grok/patterns/java.pattern
  lib/datadog/grok/patterns/junos.pattern
  lib/datadog/grok/patterns/linux-syslog.pattern
  lib/datadog/grok/patterns/maven.pattern
  lib/datadog/grok/patterns/mcollective.pattern
  lib/datadog/grok/patterns/mongodb.pattern
  lib/datadog/grok/patterns/nagios.pattern
  lib/datadog/grok/patterns/postgresql.pattern
  lib/datadog/grok/patterns/rails.pattern
  lib/datadog/grok/patterns/redis.pattern
  lib/datadog/grok/patterns/ruby.pattern
  lib/datadog/grok/patterns/squid.pattern
  lib/datadog/grok/src/filters/keyvalue.rs
  lib/datadog/grok/src/grok.rs
  lib/datadog/grok/src/lib.rs
  lib/datadog/grok/src/matchers/date.rs
  lib/datadog/grok/src/parse_grok.rs
  lib/datadog/grok/src/parse_grok_rules.rs
  scripts/check-style.sh
Labels: domain: ci

#11101 fix(kafka source): update error tags
  website/cue/reference/components/sources/internal_metrics.cue
Labels: domain: external docs

#11081 enhancement(kubernetes_logs source): comply with component spec
  src/internal_events/kubernetes_logs.rs
  src/sources/kubernetes_logs/mod.rs
  src/sources/kubernetes_logs/parser/docker.rs
  website/cue/reference/components/sources/kubernetes_logs.cue
Labels: domain: sources, domain: external docs

#11128 fix(vrl): multiplying negative numbers by string returns an empty string
  lib/vrl/compiler/src/value/arithmetic.rs
  lib/vrl/tests/tests/expressions/arithmetic/multiplication/string_integer.vrl
Labels: domain: vrl

#10962 chore(sources): Implement TCP source backpressure RFC
  src/lib.rs
  src/sources/fluent/mod.rs
  src/sources/util/tcp/mod.rs
  src/sources/util/tcp/request_limiter.rs
  src/stats.rs
Labels: domain: sources

#11118 chore(ci): Bump the k8s versions we test against
  .github/workflows/k8s_e2e.yml
  website/content/en/docs/setup/installation/platforms/kubernetes.md
  website/cue/reference/components/sources/kubernetes_logs.cue
  website/cue/reference/services/kubernetes.cue
Labels: domain: external docs, ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#11085 enhancement(observability): Display component output streams in vector top
  lib/vector-api-client/graphql/queries/components.graphql
  lib/vector-api-client/graphql/subscriptions/component_sent_events_throughputs.graphql
  lib/vector-api-client/graphql/subscriptions/component_sent_events_totals.graphql
  lib/vector-api-client/src/gql/components.rs
  lib/vector-api-client/src/gql/metrics.rs
  src/top/dashboard.rs
  src/top/metrics.rs
  src/top/state.rs
Labels: type: enhancement, domain: observability

#11139 fix(aws_ec2_metadata transform): try to fix random lockup
  Cargo.lock
  Cargo.toml
  scripts/integration/docker-compose.aws.yml
  src/transforms/aws_ec2_metadata.rs
Labels: domain: transforms, domain: ci, ci-condition: integration tests enable

#10879 enhancement(aws_kinesis_firehose source): comply with component spec
  src/internal_events/aws_kinesis_firehose.rs
  src/source_sender/errors.rs
  src/sources/aws_kinesis_firehose/filters.rs
  src/sources/aws_kinesis_firehose/handlers.rs
  website/cue/reference/components/sources/aws_kinesis_firehose.cue
Labels: domain: sources, domain: external docs

#11100 fix(aws_ecs_metrics source): add back metrics for deprecation
  src/internal_events/aws_ecs_metrics.rs
  src/sources/aws_ecs_metrics/mod.rs
Labels: domain: sources

#11165 fix(ci): Try reverting aws_ec2_metadata transform changes
  Cargo.lock
  Cargo.toml
  scripts/integration/docker-compose.aws.yml
  src/transforms/aws_ec2_metadata.rs
Labels: domain: transforms, domain: ci

#11018 enhancement(host_metrics source): comply with component spec
  src/internal_events/host_metrics.rs
  src/internal_events/mod.rs
  src/sources/host_metrics/mod.rs
  website/cue/reference/components/sources/host_metrics.cue
Labels: domain: sources, domain: external docs

#11166 chore(performance): try ref counting LogEvent's top-level Value
  lib/vector-core/Cargo.toml
  lib/vector-core/src/event/log_event.rs
  soaks/bin/detect_regressions
Labels: domain: core

#11059 enhancement(vector source): comply with component spec
  src/internal_events/vector.rs
  src/sinks/vector/v2/service.rs
  src/sources/vector/v2.rs
  website/cue/reference/components/sources/vector.cue
Labels: domain: sources, domain: sinks, domain: external docs

#11121 enhancement(nginx_metrics source): comply with component spec
  src/internal_events/nginx_metrics.rs
  src/sources/nginx_metrics/mod.rs
Labels: domain: sources

#11188 chore: Avoid the use of SinkExt in src/topology/builder.rs
  src/topology/builder.rs
Labels: domain: topology

#11123 enhancement(prometheus_scrape source): comply with component spec
  src/internal_events/prometheus.rs
  src/sources/prometheus/scrape.rs
  website/cue/reference/components/sources/prometheus_scrape.cue
Labels: domain: sources, domain: external docs

#11172 fix(vrl)!: fallible predicates should error at compile time.
  lib/vrl/compiler/src/expression/predicate.rs
  lib/vrl/tests/tests/expressions/if_statement/error_predicate.vrl
  website/content/en/highlights/2022-02-08-0-20-0-upgrade-guide.md
  website/cue/reference/remap/errors/111_fallible_predicate.cue
Labels: domain: external docs, domain: vrl

#11134 chore(codecs): Split up codec hierarchy into `(de|en)coding::{format, framing}`
  src/codecs/decoding/format/bytes.rs
  src/codecs/decoding/format/json.rs
  src/codecs/decoding/format/mod.rs
  src/codecs/decoding/format/syslog.rs
  src/codecs/decoding/framing/bytes.rs
  src/codecs/decoding/framing/character_delimited.rs
  src/codecs/decoding/framing/length_delimited.rs
  src/codecs/decoding/framing/mod.rs
  src/codecs/decoding/framing/newline_delimited.rs
  src/codecs/decoding/framing/octet_counting.rs
  src/codecs/decoding/mod.rs
  src/codecs/encoding/format/json.rs
  src/codecs/encoding/format/mod.rs
  src/codecs/encoding/format/raw_message.rs
  src/codecs/encoding/framing/character_delimited.rs
  src/codecs/encoding/framing/mod.rs
  src/codecs/encoding/framing/newline_delimited.rs
  src/codecs/encoding/mod.rs
  src/codecs/format/mod.rs
  src/codecs/framing/mod.rs
  src/codecs/mod.rs
Labels: domain: codecs

#11198 fix(codecs): Fix deserialization of `only_fields` for fixed encodings
  src/sinks/util/encoding/fixed.rs
  src/sinks/util/encoding/mod.rs
  src/sinks/util/encoding/with_default.rs
Labels: domain: sinks

#11162 chore(codecs): Use `enum` delegation when decoding rather than dynamic dispatch
  src/codecs/decoding/format/bytes.rs
  src/codecs/decoding/format/json.rs
  src/codecs/decoding/format/syslog.rs
  src/codecs/decoding/framing/bytes.rs
  src/codecs/decoding/framing/character_delimited.rs
  src/codecs/decoding/framing/length_delimited.rs
  src/codecs/decoding/framing/mod.rs
  src/codecs/decoding/framing/newline_delimited.rs
  src/codecs/decoding/framing/octet_counting.rs
  src/codecs/decoding/mod.rs
  src/serde.rs
  src/sources/aws_kinesis_firehose/mod.rs
  src/sources/aws_sqs/config.rs
  src/sources/datadog/agent/mod.rs
  src/sources/datadog/agent/tests.rs
  src/sources/demo_logs.rs
  src/sources/exec/mod.rs
  src/sources/heroku_logs.rs
  src/sources/http.rs
  src/sources/kafka.rs
  src/sources/nats.rs
  src/sources/socket/mod.rs
  src/sources/socket/tcp.rs
  src/sources/socket/udp.rs
  src/sources/socket/unix.rs
  src/sources/statsd/mod.rs
  src/sources/statsd/unix.rs
  src/sources/stdin.rs
  src/sources/syslog.rs
  src/sources/vector/v1.rs
Labels: domain: sources, domain: codecs

#11194 chore(codecs): Use `enum` delegation when encoding rather than dynamic dispatch
  src/codecs/encoding/format/json.rs
  src/codecs/encoding/format/raw_message.rs
  src/codecs/encoding/framing/character_delimited.rs
  src/codecs/encoding/framing/mod.rs
  src/codecs/encoding/framing/newline_delimited.rs
  src/codecs/encoding/mod.rs
  src/sinks/util/encoding/adapter.rs
Labels: domain: sinks, domain: codecs

#11224 chore(ci): fix markdownlint-cli to version 0.30.
  scripts/environment/prepare.sh
Labels: domain: ci

#11227 chore(core): Add a `EventCount` trait to bufferable types
  lib/vector-buffers/benches/common.rs
  lib/vector-buffers/examples/buffer_perf.rs
  lib/vector-buffers/src/disk_v2/tests/known_errors.rs
  lib/vector-buffers/src/disk_v2/tests/mod.rs
  lib/vector-buffers/src/lib.rs
  lib/vector-buffers/src/test/common/message.rs
  lib/vector-core/src/event/mod.rs
Labels: type: tech debt, domain: core

#11231 fix(metrics): Fix conversion of distribution to aggregated histogram
  lib/vector-core/src/event/metric.rs
  src/sinks/prometheus/collector.rs
Labels: domain: sinks, domain: core

#11219 enhancement(transforms ansi_tripper): updates to comply with component spec
  src/internal_events/ansi_stripper.rs
  src/transforms/ansi_stripper.rs
Labels: domain: transforms

#11220 enhancement(transforms): updates aws_* to comply with component spec
  src/internal_events/aws_cloudwatch_logs_subscription_parser.rs
  src/internal_events/aws_ec2_metadata.rs
  src/transforms/aws_cloudwatch_logs_subscription_parser.rs
  src/transforms/aws_ec2_metadata.rs
Labels: domain: transforms

#10906 chore(vrl, schemas): add new `value` crate, including `Kind` type
  Cargo.lock
  Cargo.toml
  lib/value/Cargo.lock
  lib/value/Cargo.toml
  lib/value/README.md
  lib/value/src/kind.rs
  lib/value/src/kind/builder.rs
  lib/value/src/kind/collection.rs
  lib/value/src/kind/collection/exact.rs
  lib/value/src/kind/collection/field.rs
  lib/value/src/kind/collection/index.rs
  lib/value/src/kind/collection/unknown.rs
  lib/value/src/kind/comparison.rs
  lib/value/src/kind/conversion.rs
  lib/value/src/kind/find.rs
  lib/value/src/kind/insert.rs
  lib/value/src/kind/merge.rs
  lib/value/src/kind/nest.rs
  lib/value/src/kind/remove.rs
  lib/value/src/lib.rs
Labels: type: tech debt, domain: schemas

#11241 fix(observability): Propagate concurrent transform spans
  src/topology/builder.rs
Labels: domain: topology

#11218 enhancement(transforms add_fields): updates to comply with component spec
  src/internal_events/template.rs
  src/sinks/aws_cloudwatch_logs/mod.rs
  src/sinks/aws_cloudwatch_logs/request_builder.rs
  src/sinks/aws_sqs.rs
  src/sinks/elasticsearch/config.rs
  src/sinks/elasticsearch/mod.rs
  src/sinks/file/mod.rs
  src/sinks/gcp/stackdriver_logs.rs
  src/sinks/logdna.rs
  src/sinks/loki/sink.rs
  src/sinks/nats.rs
  src/sinks/papertrail.rs
  src/sinks/prometheus/remote_write.rs
  src/sinks/redis.rs
  src/sinks/splunk_hec/common/util.rs
  src/sinks/util/partitioner.rs
  src/transforms/add_fields.rs
  src/transforms/log_to_metric.rs
  src/transforms/throttle.rs
Labels: domain: transforms, domain: sinks

#11243 chore: Remove explicit lazy_static in project
  Cargo.lock
  Cargo.toml
  lib/datadog/search-syntax/Cargo.toml
  lib/datadog/search-syntax/src/node.rs
  lib/lookup/Cargo.toml
  lib/lookup/src/field.rs
  lib/lookup/src/lookup_buf/test.rs
  lib/lookup/src/lookup_view/test.rs
  lib/vector-core/Cargo.toml
  lib/vector-core/src/config/log_schema.rs
  lib/vector-core/src/event/legacy_lookup/test.rs
  lib/vrl/cli/Cargo.toml
  lib/vrl/cli/src/repl.rs
  lib/vrl/stdlib/Cargo.toml
  lib/vrl/stdlib/src/ip_subnet.rs
  lib/vrl/stdlib/src/log_util.rs
  lib/vrl/stdlib/src/parse_duration.rs
  lib/vrl/stdlib/src/parse_glog.rs
  lib/vrl/stdlib/src/parse_klog.rs
  lib/vrl/stdlib/src/parse_user_agent.rs
  lib/vrl/stdlib/src/parse_xml.rs
  lib/vrl/stdlib/src/redact.rs
  src/api/schema/components/mod.rs
  src/api/schema/components/state.rs
  src/config/loading.rs
  src/sinks/azure_monitor_logs.rs
  src/sinks/honeycomb.rs
  src/sinks/logdna.rs
  src/sources/apache_metrics/parser.rs
  src/sources/aws_s3/sqs.rs
  src/sources/dnstap/parser.rs
  src/sources/docker_logs.rs
  src/sources/journald.rs
  src/sources/prometheus/parser.rs
  src/sources/statsd/parser.rs
  src/template.rs
  src/test_util/components.rs
  src/topology/builder.rs
  src/transforms/aws_ec2_metadata.rs
  src/transforms/concat.rs
Labels: domain: topology, domain: sources, domain: transforms, domain: sinks, domain: vrl, domain: core

#11239 chore: Add 'perf' feature flag on regex crate
  lib/datadog/grok/Cargo.toml
  lib/vrl/cli/Cargo.toml
Labels: domain: vrl

#11252 enhancement(internal_logs source): add missing BytesReceived
  src/internal_events/internal_logs.rs
  src/sources/internal_logs.rs
Labels: domain: sources

#11262 chore(codecs): Have encode_logfmt take the `BTreeMap` by reference
  lib/vector-common/src/encode_key_value.rs
  lib/vector-common/src/encode_logfmt.rs
  lib/vrl/stdlib/src/encode_key_value.rs
  src/sinks/loki/integration_tests.rs
  src/sinks/loki/sink.rs
Labels: domain: sinks, domain: vrl

#11080 chore(buffers): switch to in-memory v2 by default, remove in-memory v1
  lib/vector-buffers/benches/sized_records.rs
  lib/vector-buffers/examples/buffer_perf.rs
  lib/vector-buffers/src/config.rs
  lib/vector-buffers/src/test/common/variant.rs
  lib/vector-buffers/src/test/model/in_memory.rs
  lib/vector-buffers/src/test/model/in_memory_v2.rs
  lib/vector-buffers/src/test/model/mod.rs
  lib/vector-buffers/src/topology/builder.rs
  lib/vector-buffers/src/topology/test_util.rs
  lib/vector-buffers/src/variant/in_memory.rs
  lib/vector-buffers/src/variant/in_memory_v2.rs
  lib/vector-buffers/src/variant/mod.rs
  lib/vector-core/src/fanout.rs
  src/config/mod.rs
  src/topology/builder.rs
  src/topology/test/backpressure.rs
Labels: domain: topology, domain: core

#11201 enhancement(api): Support metric events in vector tap
  lib/vector-api-client/graphql/schema.json
  lib/vector-api-client/graphql/subscriptions/output_events_by_component_id_patterns.graphql
  lib/vector-api-client/src/gql/tap.rs
  src/api/schema/events/metric.rs
  src/api/schema/events/mod.rs
  src/api/schema/events/output.rs
  src/api/tap.rs
  src/tap/cmd.rs
  src/tap/mod.rs
  website/cue/reference/cli.cue
Labels: domain: external docs

#11244 fix(codecs)!: error if syslog decoder doesn't parse successfully.
  src/codecs/decoding/format/syslog.rs
  website/content/en/highlights/2022-02-08-0-20-0-upgrade-guide.md
Labels: domain: codecs

#11164 chore(releasing): Prepare 0.20.0 release
  distribution/install.sh
  distribution/kubernetes/vector-agent/README.md
  distribution/kubernetes/vector-agent/configmap.yaml
  distribution/kubernetes/vector-agent/daemonset.yaml
  distribution/kubernetes/vector-agent/rbac.yaml
  distribution/kubernetes/vector-agent/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/README.md
  distribution/kubernetes/vector-aggregator/configmap.yaml
  distribution/kubernetes/vector-aggregator/service-headless.yaml
  distribution/kubernetes/vector-aggregator/service.yaml
  distribution/kubernetes/vector-aggregator/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/statefulset.yaml
  distribution/kubernetes/vector-stateless-aggregator/README.md
  distribution/kubernetes/vector-stateless-aggregator/configmap.yaml
  distribution/kubernetes/vector-stateless-aggregator/deployment.yaml
  distribution/kubernetes/vector-stateless-aggregator/service-headless.yaml
  distribution/kubernetes/vector-stateless-aggregator/service.yaml
  distribution/kubernetes/vector-stateless-aggregator/serviceaccount.yaml
  website/content/en/releases/0.20.0.md
  website/cue/reference/administration/interfaces/kubectl.cue
  website/cue/reference/components/sinks/new_relic_logs.cue
  website/cue/reference/releases/0.20.0.cue
  website/cue/reference/urls.cue
  website/cue/reference/versions.cue
Labels: domain: releasing, domain: external docs, ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable, ci-condition: integration tests enable

#11291 chore(core): Value unification part 1 - NotNan floats
  Cargo.lock
  lib/vector-common/Cargo.toml
  lib/vector-common/src/conversion.rs
  lib/vector-common/src/conversion/tests/mod.rs
  lib/vector-common/src/conversion/tests/unix.rs
  lib/vector-core/src/event/discriminant.rs
  lib/vector-core/src/event/legacy_lookup/mod.rs
  lib/vector-core/src/event/lua/value.rs
  lib/vector-core/src/event/proto.rs
  lib/vector-core/src/event/test/common.rs
  lib/vector-core/src/event/value.rs
  lib/vector-core/src/mapping/parser/mod.rs
  lib/vector-core/src/mapping/query/arithmetic.rs
  lib/vector-datadog-filter/src/filter.rs
  src/conditions/check_fields.rs
  src/config/unit_test/mod.rs
  src/sinks/influxdb/logs.rs
  src/sinks/new_relic/model.rs
  src/sinks/new_relic/tests.rs
  src/sources/fluent/message.rs
  src/transforms/add_fields.rs
  src/transforms/logfmt_parser.rs
  src/transforms/lua/v1/mod.rs
  src/transforms/lua/v2/mod.rs
  src/transforms/reduce/merge_strategy.rs
  src/transforms/regex_parser.rs
  src/transforms/split.rs
  src/transforms/tokenizer.rs
Labels: domain: sources, domain: transforms, domain: sinks, domain: core

#11295 chore(core): Value unification part 2 - Regex
  lib/vector-core/src/event/discriminant.rs
  lib/vector-core/src/event/lua/value.rs
  lib/vector-core/src/event/mod.rs
  lib/vector-core/src/event/proto.rs
  lib/vector-core/src/event/value.rs
  lib/vector-core/src/event/value_regex.rs
  src/transforms/dedupe.rs
  src/transforms/reduce/merge_strategy.rs
Labels: domain: transforms, domain: core

#11312 fix(codecs): Fix deserialization of `only_fields` in YAML for fixed encodings
  src/sinks/util/encoding/mod.rs
Labels: domain: sinks

#11319 chore(releasing): Prepare v0.19.3 release
  Cargo.lock
  Cargo.toml
  distribution/install.sh
  website/content/en/releases/0.19.3.md
  website/cue/reference/releases/0.19.3.cue
  website/cue/reference/versions.cue
Labels: domain: releasing, domain: external docs, ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable, ci-condition: integration tests enable

#11122 enhancement(postgresql_metrics source): comply with component spec
  lib/vector-common/src/byte_size_of.rs
  src/internal_events/postgresql_metrics.rs
  src/sources/postgresql_metrics.rs
  website/cue/reference/components/sources/postgresql_metrics.cue
Labels: domain: sources, domain: external docs

#11183 feat(api): Allow health endpoint to return 503s when Vector is shutting down
  Cargo.toml
  src/api/handler.rs
  src/api/server.rs
  src/app.rs
  src/topology/running.rs
  tests/shutdown.rs
Labels: domain: topology, ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable, ci-condition: integration tests enable

#11272 docs(aws_sqs source): remove credentials_file from docs
  src/aws/aws_sdk/auth.rs
  src/sources/aws_sqs/config.rs
  src/sources/aws_sqs/integration_tests.rs
  website/cue/reference/components/aws.cue
  website/cue/reference/components/sources/aws_sqs.cue
Labels: domain: sources, domain: external docs

#11232 chore: Use `BytesMut` instead of `Vec<u8>` in `HttpSink` related code
  benches/batch.rs
  lib/vector-common/src/byte_size_of.rs
  src/serde.rs
  src/sinks/azure_monitor_logs.rs
  src/sinks/clickhouse.rs
  src/sinks/datadog/events/request_builder.rs
  src/sinks/datadog/events/service.rs
  src/sinks/datadog/logs/service.rs
  src/sinks/datadog/logs/sink.rs
  src/sinks/datadog/metrics/encoder.rs
  src/sinks/datadog/metrics/request_builder.rs
  src/sinks/datadog_archives.rs
  src/sinks/elasticsearch/request_builder.rs
  src/sinks/elasticsearch/service.rs
  src/sinks/gcp/cloud_storage.rs
  src/sinks/gcp/pubsub.rs
  src/sinks/gcp/stackdriver_logs.rs
  src/sinks/gcp/stackdriver_metrics.rs
  src/sinks/honeycomb.rs
  src/sinks/http.rs
  src/sinks/influxdb/logs.rs
  src/sinks/influxdb/metrics.rs
  src/sinks/influxdb/mod.rs
  src/sinks/kafka/config.rs
  src/sinks/logdna.rs
  src/sinks/loki/service.rs
  src/sinks/loki/sink.rs
  src/sinks/new_relic/service.rs
  src/sinks/new_relic/sink.rs
  src/sinks/s3_common/config.rs
  src/sinks/s3_common/service.rs
  src/sinks/sematext/metrics.rs
  src/sinks/splunk_hec/common/acknowledgements.rs
  src/sinks/splunk_hec/common/request.rs
  src/sinks/splunk_hec/common/service.rs
  src/sinks/splunk_hec/common/util.rs
  src/sinks/splunk_hec/logs/request_builder.rs
  src/sinks/splunk_hec/metrics/request_builder.rs
  src/sinks/statsd.rs
  src/sinks/util/buffer/mod.rs
  src/sinks/util/compressor.rs
  src/sinks/util/http.rs
  src/sinks/util/mod.rs
  src/sinks/util/request_builder.rs
  src/sinks/util/udp.rs
Labels: domain: sinks

#11315 chore(performance): move more sources to send_batch
  src/source_sender/mod.rs
  src/sources/datadog/agent/mod.rs
  src/sources/internal_metrics.rs
  src/sources/util/tcp/mod.rs
Labels: domain: sources

#11340 fix(unit tests): Error on non-existent extract_from, no_outputs_from targets
  Cargo.toml
  src/config/compiler.rs
  src/config/mod.rs
  src/config/unit_test/mod.rs
  src/config/unit_test/tests.rs
  website/content/en/highlights/2022-02-08-0-20-0-upgrade-guide.md
  website/cue/reference/releases/0.20.0.cue
Labels: domain: external docs

#11343 chore(external docs): Fix `check-docs.sh` compatibility with MacOS
  scripts/check-docs.sh
Labels: type: tech debt, domain: ci

#11349 chore: Remove dynamic dispatch in Conditions
  src/conditions/check_fields.rs
  src/conditions/datadog_search.rs
  src/conditions/is_log.rs
  src/conditions/is_metric.rs
  src/conditions/mod.rs
  src/conditions/not.rs
  src/conditions/vrl.rs
  src/config/unit_test/mod.rs
  src/config/unit_test/unit_test_components.rs
  src/transforms/filter.rs
  src/transforms/reduce/mod.rs
  src/transforms/route.rs
  src/transforms/sample.rs
  src/transforms/throttle.rs
Labels: domain: transforms

#11289 chore(performance): emit splunk_hec metrics per request
  src/source_sender/mod.rs
  src/sources/splunk_hec/mod.rs
  src/sources/util/http/prelude.rs
Labels: domain: sources

#11357 docs: fix prometheus_scrape warnings typo
  website/cue/reference/components/sources/prometheus_scrape.cue
Labels: domain: external docs

#11366 chore(sources): Send specific event types into `SourceSender`
  src/config/unit_test/unit_test_components.rs
  src/source_sender/mod.rs
  src/sources/apache_metrics/mod.rs
  src/sources/aws_ecs_metrics/mod.rs
  src/sources/aws_s3/sqs.rs
  src/sources/aws_sqs/source.rs
  src/sources/demo_logs.rs
  src/sources/docker_logs.rs
  src/sources/eventstoredb_metrics/mod.rs
  src/sources/file.rs
  src/sources/host_metrics/mod.rs
  src/sources/internal_metrics.rs
  src/sources/journald.rs
  src/sources/kafka.rs
  src/sources/kubernetes_logs/mod.rs
  src/sources/mongodb_metrics/mod.rs
  src/sources/nats.rs
  src/sources/nginx_metrics/mod.rs
  src/sources/postgresql_metrics.rs
  src/sources/prometheus/scrape.rs
  src/sources/socket/udp.rs
  src/sources/stdin.rs
  src/sources/syslog.rs
  src/sources/util/framestream.rs
  src/sources/util/unix_datagram.rs
  src/sources/util/unix_stream.rs
  src/sources/vector/v2.rs
  tests/support/mod.rs
  tests/topology.rs
Labels: type: tech debt, domain: sources

#11277 chore(schemas): add schema definitions for decoding formats
  Cargo.toml
  lib/value/src/kind.rs
  lib/value/src/kind/collection.rs
  lib/vector-core/Cargo.toml
  lib/vector-core/src/config/mod.rs
  lib/vector-core/src/schema/definition.rs
  src/codecs/decoding/format/bytes.rs
  src/codecs/decoding/format/json.rs
  src/codecs/decoding/format/mod.rs
  src/codecs/decoding/format/syslog.rs
  src/codecs/decoding/mod.rs
Labels: domain: codecs, domain: schemas, domain: core

#11394 chore(splunk_hec sink): Update upgrade guide and docs with Splunk channel behavior
  website/content/en/highlights/2021-12-28-0-19-0-upgrade-guide.md
  website/cue/reference/components/sinks/splunk_hec.cue
  website/cue/reference/urls.cue
Labels: domain: external docs

#10314 enhancement(sinks): Make TLS options configurable for AWS sinks
  src/aws/rusoto/mod.rs
  src/sinks/aws_cloudwatch_logs/config.rs
  src/sinks/aws_cloudwatch_logs/integration_tests.rs
  src/sinks/aws_cloudwatch_metrics.rs
  src/sinks/aws_kinesis_firehose/config.rs
  src/sinks/aws_kinesis_firehose/integration_tests.rs
  src/sinks/aws_kinesis_firehose/tests.rs
  src/sinks/aws_kinesis_streams/config.rs
  src/sinks/aws_kinesis_streams/integration_tests.rs
  src/sinks/aws_s3/config.rs
  src/sinks/aws_s3/tests.rs
  src/sinks/aws_sqs.rs
  src/sources/aws_s3/mod.rs
  website/cue/reference/components/sinks/aws_cloudwatch_logs.cue
  website/cue/reference/components/sinks/aws_cloudwatch_metrics.cue
  website/cue/reference/components/sinks/aws_kinesis_firehose.cue
  website/cue/reference/components/sinks/aws_kinesis_streams.cue
  website/cue/reference/components/sinks/aws_s3.cue
  website/cue/reference/components/sinks/aws_sqs.cue
Labels: domain: sources, domain: sinks, provider: aws, domain: external docs

#11409 chore(releasing): Add known issue for unit test warnings
  website/cue/reference/releases/0.20.0.cue
Labels: domain: external docs

#11408 chore(releasing): Update kubernetes manifests
  distribution/kubernetes/vector-agent/README.md
  distribution/kubernetes/vector-agent/configmap.yaml
  distribution/kubernetes/vector-agent/daemonset.yaml
  distribution/kubernetes/vector-agent/rbac.yaml
  distribution/kubernetes/vector-agent/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/README.md
  distribution/kubernetes/vector-aggregator/configmap.yaml
  distribution/kubernetes/vector-aggregator/service-headless.yaml
  distribution/kubernetes/vector-aggregator/service.yaml
  distribution/kubernetes/vector-aggregator/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/statefulset.yaml
  distribution/kubernetes/vector-stateless-aggregator/README.md
  distribution/kubernetes/vector-stateless-aggregator/configmap.yaml
  distribution/kubernetes/vector-stateless-aggregator/deployment.yaml
  distribution/kubernetes/vector-stateless-aggregator/service-headless.yaml
  distribution/kubernetes/vector-stateless-aggregator/service.yaml
  distribution/kubernetes/vector-stateless-aggregator/serviceaccount.yaml
Labels: domain: releasing

#10483 feat(core): trace data type
  Cargo.lock
  Cargo.toml
  benches/remap.rs
  lib/vector-api-client/graphql/schema.json
  lib/vector-core/Cargo.toml
  lib/vector-core/proto/event.proto
  lib/vector-core/src/config/mod.rs
  lib/vector-core/src/event/array.rs
  lib/vector-core/src/event/lua/event.rs
  lib/vector-core/src/event/mod.rs
  lib/vector-core/src/event/proto.rs
  lib/vector-core/src/event/test/common.rs
  lib/vector-core/src/event/vrl_target.rs
  src/api/schema/components/source.rs
  src/api/schema/events/mod.rs
  src/api/schema/events/output.rs
  src/api/schema/events/trace.rs
  src/api/schema/filter.rs
  src/api/tap.rs
  src/codecs/encoding/format/json.rs
  src/codecs/encoding/format/raw_message.rs
  src/conditions/check_fields.rs
  src/config/compiler.rs
  src/config/graph.rs
  src/config/unit_test/unit_test_components.rs
  src/sinks/blackhole/config.rs
  src/sinks/console/config.rs
  src/sinks/elasticsearch/config.rs
  src/sinks/elasticsearch/sink.rs
  src/sinks/kafka/config.rs
  src/sinks/kafka/request_builder.rs
  src/sinks/new_relic/config.rs
  src/sinks/util/adaptive_concurrency/tests.rs
  src/sinks/util/encoding/codec.rs
  src/sinks/vector/mod.rs
  src/sources/datadog/agent/mod.rs
  src/sources/vector/v1.rs
  src/sources/vector/v2.rs
  src/template.rs
  src/topology/builder.rs
  src/topology/test/backpressure.rs
  src/transforms/aws_ec2_metadata.rs
  src/transforms/compound.rs
  src/transforms/filter.rs
  src/transforms/lua/v2/mod.rs
  src/transforms/noop.rs
  src/transforms/pipelines/expander.rs
  src/transforms/pipelines/mod.rs
  src/transforms/pipelines/router.rs
  src/transforms/remap.rs
  src/transforms/route.rs
  tests/support/mod.rs
Labels: domain: topology, domain: sources, domain: transforms, domain: sinks, domain: codecs, domain: core

#11310 chore(schemas, datadog_agent source): add schema definition
  lib/value/src/kind/collection.rs
  lib/vector-core/src/config/mod.rs
  lib/vector-core/src/schema/definition.rs
  src/sources/datadog/agent/mod.rs
  src/sources/datadog/agent/tests.rs
Labels: domain: sources, domain: schemas, source: datadog_agent, domain: core

#11417 chore(pipelines transform): Allow empty pipelines
  src/transforms/pipelines/expander.rs
  src/transforms/pipelines/mod.rs
Labels: domain: transforms

#11421 chore: fix vector-core feature flags
  lib/value/Cargo.toml
  lib/value/src/value/arbitrary.rs
  lib/vector-core/Cargo.toml
  lib/vector-core/src/event/metric.rs
Labels: domain: core

#11427 chore(core): remove legacy_lookup
  lib/vector-core/Cargo.toml
  lib/vector-core/benches/lookup.rs
  lib/vector-core/src/event/legacy_lookup/mod.rs
  lib/vector-core/src/event/legacy_lookup/segment.rs
  lib/vector-core/src/event/legacy_lookup/test.rs
  lib/vector-core/src/event/log_event.rs
  lib/vector-core/src/event/mod.rs
Labels: domain: core

#11344 chore(schemas, topology): integrate event schema definitions
  lib/vector-core/src/event/metadata.rs
  lib/vector-core/src/schema/id.rs
  lib/vector-core/src/schema/mod.rs
  lib/vector-core/src/schema/registry.rs
  src/config/mod.rs
  src/sources/apache_metrics/mod.rs
  src/sources/aws_ecs_metrics/mod.rs
  src/sources/aws_kinesis_firehose/mod.rs
  src/sources/aws_s3/mod.rs
  src/sources/aws_sqs/integration_tests.rs
  src/sources/datadog/agent/integration_tests.rs
  src/sources/datadog/agent/mod.rs
  src/sources/datadog/agent/tests.rs
  src/sources/datadog/sketch_parser.rs
  src/sources/dnstap/mod.rs
  src/sources/docker_logs.rs
  src/sources/eventstoredb_metrics/mod.rs
  src/sources/fluent/mod.rs
  src/sources/heroku_logs.rs
  src/sources/http.rs
  src/sources/internal_logs.rs
  src/sources/internal_metrics.rs
  src/sources/logstash.rs
  src/sources/mongodb_metrics/mod.rs
  src/sources/nginx_metrics/mod.rs
  src/sources/postgresql_metrics.rs
  src/sources/prometheus/remote_write.rs
  src/sources/prometheus/scrape.rs
  src/sources/socket/mod.rs
  src/sources/splunk_hec/mod.rs
  src/sources/vector/v1.rs
  src/sources/vector/v2.rs
  src/topology/builder.rs
  src/topology/mod.rs
  src/topology/schema.rs
Labels: domain: topology, domain: sources, domain: schemas, domain: core

#11367 chore(schemas, topology, remap transform): hook up transforms to schema support
  lib/vector-core/src/config/mod.rs
  lib/vector-core/src/event/metadata.rs
  lib/vector-core/src/transform/config.rs
  src/sources/datadog/agent/tests.rs
  src/topology/builder.rs
  src/topology/schema.rs
  src/transforms/remap.rs
Labels: domain: topology, domain: sources, domain: transforms, transform: remap, domain: schemas, domain: core

#11365 chore(core): Value unification part 5 - the merge
  Cargo.lock
  lib/datadog/grok/Cargo.toml
  lib/datadog/grok/src/filters/keyvalue.rs
  lib/datadog/grok/src/parse_grok.rs
  lib/value/Cargo.toml
  lib/value/src/kind.rs
  lib/value/src/lib.rs
  lib/value/src/value.rs
  lib/value/src/value/convert.rs
  lib/value/src/value/display.rs
  lib/value/src/value/path.rs
  lib/value/src/value/regex.rs
  lib/value/src/value/serde.rs
  lib/value/src/value/target.rs
  lib/vector-core/src/event/log_event.rs
  lib/vector-core/src/event/vrl_target.rs
  lib/vrl/compiler/src/expression/assignment.rs
  lib/vrl/compiler/src/expression/literal.rs
  lib/vrl/compiler/src/expression/query.rs
  lib/vrl/compiler/src/target.rs
  lib/vrl/compiler/src/value.rs
  lib/vrl/compiler/src/value/arithmetic.rs
  lib/vrl/compiler/src/value/convert.rs
  lib/vrl/compiler/src/value/kind.rs
  lib/vrl/compiler/src/value/path.rs
  lib/vrl/compiler/src/value/regex.rs
  lib/vrl/compiler/src/value/serde.rs
  lib/vrl/compiler/src/value/target.rs
  lib/vrl/compiler/src/vm/machine.rs
  lib/vrl/core/src/prelude.rs
  lib/vrl/core/src/runtime.rs
  lib/vrl/stdlib/Cargo.toml
  lib/vrl/stdlib/src/del.rs
  lib/vrl/stdlib/src/exists.rs
  lib/vrl/stdlib/src/find.rs
  lib/vrl/stdlib/src/get.rs
  lib/vrl/stdlib/src/merge.rs
  lib/vrl/stdlib/src/remove.rs
  lib/vrl/stdlib/src/set.rs
  lib/vrl/stdlib/src/unnest.rs
  src/sinks/elasticsearch/config.rs
  src/sources/docker_logs.rs
  tests/behavior/transforms/remap.toml
Labels: domain: sources, domain: sinks, domain: vrl, domain: core

#11456 chore(tests): fix datadog agent integration tests
  src/sources/datadog/agent/integration_tests.rs
Labels: domain: sources, ci-condition: integration tests enable

#10872 docs(sinks): Ensure `buffer` configuration is always documented
  website/cue/reference/components.cue
  website/cue/reference/components/sinks.cue
  website/cue/reference/components/sinks/aws_cloudwatch_logs.cue
  website/cue/reference/components/sinks/aws_cloudwatch_metrics.cue
  website/cue/reference/components/sinks/aws_kinesis_firehose.cue
  website/cue/reference/components/sinks/aws_kinesis_streams.cue
  website/cue/reference/components/sinks/aws_s3.cue
  website/cue/reference/components/sinks/aws_sqs.cue
  website/cue/reference/components/sinks/azure_blob.cue
  website/cue/reference/components/sinks/azure_monitor_logs.cue
  website/cue/reference/components/sinks/blackhole.cue
  website/cue/reference/components/sinks/clickhouse.cue
  website/cue/reference/components/sinks/console.cue
  website/cue/reference/components/sinks/datadog_archives.cue
  website/cue/reference/components/sinks/datadog_events.cue
  website/cue/reference/components/sinks/datadog_logs.cue
  website/cue/reference/components/sinks/datadog_metrics.cue
  website/cue/reference/components/sinks/elasticsearch.cue
  website/cue/reference/components/sinks/file.cue
  website/cue/reference/components/sinks/gcp_cloud_storage.cue
  website/cue/reference/components/sinks/gcp_pubsub.cue
  website/cue/reference/components/sinks/gcp_stackdriver_logs.cue
  website/cue/reference/components/sinks/gcp_stackdriver_metrics.cue
  website/cue/reference/components/sinks/honeycomb.cue
  website/cue/reference/components/sinks/http.cue
  website/cue/reference/components/sinks/humio.cue
  website/cue/reference/components/sinks/influxdb_logs.cue
  website/cue/reference/components/sinks/influxdb_metrics.cue
  website/cue/reference/components/sinks/kafka.cue
  website/cue/reference/components/sinks/logdna.cue
  website/cue/reference/components/sinks/loki.cue
  website/cue/reference/components/sinks/nats.cue
  website/cue/reference/components/sinks/new_relic.cue
  website/cue/reference/components/sinks/new_relic_logs.cue
  website/cue/reference/components/sinks/papertrail.cue
  website/cue/reference/components/sinks/prometheus_exporter.cue
  website/cue/reference/components/sinks/prometheus_remote_write.cue
  website/cue/reference/components/sinks/pulsar.cue
  website/cue/reference/components/sinks/redis.cue
  website/cue/reference/components/sinks/sematext_logs.cue
  website/cue/reference/components/sinks/sematext_metrics.cue
  website/cue/reference/components/sinks/socket.cue
  website/cue/reference/components/sinks/splunk_hec_logs.cue
  website/cue/reference/components/sinks/splunk_hec_metrics.cue
  website/cue/reference/components/sinks/statsd.cue
  website/cue/reference/components/sinks/vector.cue
  website/static/img/buffers.svg
Labels: domain: external docs

#11419 chore: Run cargo hack on each workspace member and all targets
  Cargo.toml
  Makefile
  benches/codecs/character_delimited_bytes.rs
  benches/codecs/newline_bytes.rs
  benches/transform/common.rs
  benches/transform/dedupe.rs
  benches/transform/filter.rs
  benches/transform/reduce.rs
  lib/datadog/search-syntax/Cargo.toml
  lib/tracing-limit/Cargo.toml
  lib/tracing-limit/examples/basic.rs
  lib/tracing-limit/examples/by_span.rs
  lib/vector-buffers/Cargo.toml
  lib/vector-common/Cargo.toml
  lib/vector-common/src/lib.rs
  lib/vector-core/src/transform/config.rs
  lib/vector-core/src/transform/mod.rs
  lib/vrl/stdlib/Cargo.toml
  src/api/mod.rs
  src/api/tap.rs
  src/api/tests.rs
  src/conditions/mod.rs
  src/transforms/reduce/mod.rs
Labels: domain: transforms, domain: vrl, domain: core

#11462 revert: Run cargo hack on each workspace member and all targets
  Cargo.toml
  Makefile
  benches/codecs/character_delimited_bytes.rs
  benches/codecs/newline_bytes.rs
  benches/transform/common.rs
  benches/transform/dedupe.rs
  benches/transform/filter.rs
  benches/transform/reduce.rs
  lib/datadog/search-syntax/Cargo.toml
  lib/tracing-limit/Cargo.toml
  lib/tracing-limit/examples/basic.rs
  lib/tracing-limit/examples/by_span.rs
  lib/vector-buffers/Cargo.toml
  lib/vector-common/Cargo.toml
  lib/vector-common/src/lib.rs
  lib/vector-core/src/transform/config.rs
  lib/vector-core/src/transform/mod.rs
  lib/vrl/stdlib/Cargo.toml
  src/api/mod.rs
  src/api/tap.rs
  src/api/tests.rs
  src/conditions/mod.rs
  src/transforms/reduce/mod.rs
Labels: domain: transforms, domain: vrl, domain: core

#11469 chore(schemas): add cache to recursive schema definition merging
  src/topology/schema.rs
Labels: domain: topology, domain: schemas, ci-condition: integration tests enable

#11459 fix(lua transform): Disallow unknown fields for hooks
  src/transforms/lua/v2/mod.rs
Labels: domain: transforms

#11437 chore: rename ElasticSearch to Elasticsearch
  rfcs/2021-10-29-8621-framing-and-codecs-sinks.md
  src/internal_events/elasticsearch.rs
  src/sinks/aws_kinesis_firehose/integration_tests.rs
  src/sinks/elasticsearch/common.rs
  src/sinks/elasticsearch/config.rs
  src/sinks/elasticsearch/encoder.rs
  src/sinks/elasticsearch/integration_tests.rs
  src/sinks/elasticsearch/mod.rs
  src/sinks/elasticsearch/request_builder.rs
  src/sinks/elasticsearch/retry.rs
  src/sinks/elasticsearch/service.rs
  src/sinks/elasticsearch/sink.rs
  src/sinks/elasticsearch/tests.rs
  src/sinks/sematext/logs.rs
  website/content/en/highlights/2021-10-19-elasticsearch-config-deprecations.md
  website/cue/reference/releases/0.14.0.cue
Labels: domain: sinks, domain: external docs, domain: rfc

#11125 enhancement(statsd source): comply with component spec
  src/internal_events/statsd_source.rs
  src/sources/statsd/mod.rs
  website/cue/reference/components/sources/statsd.cue
Labels: domain: sources, domain: external docs

#11463 chore: Run cargo hack on each workspace member and all targets
  Cargo.toml
  Makefile
  benches/codecs/character_delimited_bytes.rs
  benches/codecs/newline_bytes.rs
  benches/transform/common.rs
  benches/transform/dedupe.rs
  benches/transform/filter.rs
  benches/transform/reduce.rs
  lib/datadog/grok/Cargo.toml
  lib/datadog/search-syntax/Cargo.toml
  lib/tracing-limit/Cargo.toml
  lib/tracing-limit/examples/basic.rs
  lib/tracing-limit/examples/by_span.rs
  lib/vector-buffers/Cargo.toml
  lib/vector-common/Cargo.toml
  lib/vector-common/src/lib.rs
  lib/vector-core/src/transform/config.rs
  lib/vector-core/src/transform/mod.rs
  lib/vrl/stdlib/Cargo.toml
  src/api/mod.rs
  src/api/tap.rs
  src/api/tests.rs
  src/conditions/mod.rs
  src/transforms/reduce/mod.rs
Labels: domain: transforms, domain: vrl, domain: core

#11453 chore: [retypist] `src/topology`
  src/topology/builder.rs
  src/topology/mod.rs
  src/topology/task.rs
  src/topology/test/backpressure.rs
Labels: domain: topology

#11293 enhancement(api): Support tapping component inputs with vector tap
  lib/vector-api-client/graphql/schema.json
  lib/vector-api-client/graphql/subscriptions/output_events_by_component_id_patterns.graphql
  lib/vector-api-client/src/gql/tap.rs
  src/api/schema/events/mod.rs
  src/api/tap.rs
  src/tap/cmd.rs
  src/tap/mod.rs
  src/topology/mod.rs
  src/topology/running.rs
  website/content/en/highlights/2022-03-22-0-21-0-upgrade-guide.md
  website/cue/reference/cli.cue
Labels: domain: topology, domain: external docs

#11321 chore(api): Add --quiet option to vector tap
  lib/vector-api-client/graphql/subscriptions/output_events_by_component_id_patterns.graphql
  lib/vector-api-client/src/gql/tap.rs
  src/tap/cmd.rs
  src/tap/mod.rs
  website/cue/reference/cli.cue
Labels: domain: external docs

#11384 chore(schemas, remap transform): modify schema definitions using VRL compiler
  lib/vector-core/src/schema/definition.rs
  lib/vector-core/src/transform/config.rs
  src/api/schema/components/mod.rs
  src/config/compiler.rs
  src/config/graph.rs
  src/config/mod.rs
  src/config/unit_test/mod.rs
  src/config/validation.rs
  src/topology/builder.rs
  src/topology/schema.rs
  src/transforms/add_fields.rs
  src/transforms/add_tags.rs
  src/transforms/aggregate.rs
  src/transforms/ansi_stripper.rs
  src/transforms/aws_cloudwatch_logs_subscription_parser.rs
  src/transforms/aws_ec2_metadata.rs
  src/transforms/coercer.rs
  src/transforms/compound.rs
  src/transforms/concat.rs
  src/transforms/dedupe.rs
  src/transforms/field_filter.rs
  src/transforms/filter.rs
  src/transforms/geoip.rs
  src/transforms/grok_parser.rs
  src/transforms/json_parser.rs
  src/transforms/key_value_parser.rs
  src/transforms/log_to_metric.rs
  src/transforms/logfmt_parser.rs
  src/transforms/lua/mod.rs
  src/transforms/lua/v1/mod.rs
  src/transforms/lua/v2/mod.rs
  src/transforms/merge.rs
  src/transforms/metric_to_log.rs
  src/transforms/noop.rs
  src/transforms/pipelines/expander.rs
  src/transforms/pipelines/filter.rs
  src/transforms/pipelines/mod.rs
  src/transforms/pipelines/router.rs
  src/transforms/reduce/mod.rs
  src/transforms/regex_parser.rs
  src/transforms/remap.rs
  src/transforms/remove_fields.rs
  src/transforms/remove_tags.rs
  src/transforms/rename_fields.rs
  src/transforms/route.rs
  src/transforms/sample.rs
  src/transforms/split.rs
  src/transforms/tag_cardinality_limit.rs
  src/transforms/throttle.rs
  src/transforms/tokenizer.rs
  tests/support/mod.rs
Labels: domain: topology, domain: transforms, domain: core

#11470 chore(cli): Replace `structopt` with `clap` 3
  Cargo.lock
  Cargo.toml
  lib/vrl/cli/Cargo.toml
  lib/vrl/cli/src/cmd.rs
  lib/vrl/cli/src/main.rs
  lib/vrl/tests/Cargo.toml
  lib/vrl/tests/src/main.rs
  src/app.rs
  src/cli.rs
  src/generate.rs
  src/graph.rs
  src/list.rs
  src/service.rs
  src/tap/mod.rs
  src/top/mod.rs
  src/unit_test.rs
  src/validate.rs
  tests/shutdown.rs
  website/content/en/highlights/2022-03-22-0-21-0-upgrade-guide.md
Labels: domain: cli, domain: vrl

#11492 chore(vrl): Reduce VRL core such that it doesn't have any other dependencies to VRL
  Cargo.lock
  Cargo.toml
  lib/enrichment/Cargo.toml
  lib/enrichment/src/find_enrichment_table_records.rs
  lib/enrichment/src/get_enrichment_table_record.rs
  lib/enrichment/src/lib.rs
  lib/enrichment/src/tables.rs
  lib/enrichment/src/test_util.rs
  lib/enrichment/src/vrl_util.rs
  lib/vector-core/Cargo.toml
  lib/vector-core/src/event/metric.rs
  lib/vector-core/src/event/vrl_target.rs
  lib/vector-vrl-functions/Cargo.toml
  lib/vector-vrl-functions/src/get_metadata_field.rs
  lib/vector-vrl-functions/src/lib.rs
  lib/vector-vrl-functions/src/remove_metadata_field.rs
  lib/vector-vrl-functions/src/set_metadata_field.rs
  lib/vrl/README.md
  lib/vrl/cli/Cargo.toml
  lib/vrl/compiler/Cargo.toml
  lib/vrl/compiler/src/expression.rs
  lib/vrl/compiler/src/lib.rs
  lib/vrl/compiler/src/target.rs
  lib/vrl/compiler/src/value.rs
  lib/vrl/core/Cargo.toml
  lib/vrl/core/src/expression.rs
  lib/vrl/core/src/lib.rs
  lib/vrl/core/src/macro.rs
  lib/vrl/core/src/target.rs
  lib/vrl/stdlib/Cargo.toml
  lib/vrl/tests/Cargo.toml
  lib/vrl/vrl/Cargo.toml
  lib/vrl/vrl/LICENSE
  lib/vrl/vrl/src/lib.rs
  lib/vrl/vrl/src/prelude.rs
  lib/vrl/vrl/src/runtime.rs
Labels: domain: vrl, domain: core

#11515 chore: Fix cleanup make target
  Makefile
Labels: ci-condition: integration tests enable

#11487 fix(docker_logs source): break source when reader fails deserializing
  src/sources/docker_logs.rs
Labels: domain: sources

#11529 chore(core): delete mapping code
  Cargo.lock
  lib/vector-core/Cargo.toml
  lib/vector-core/src/lib.rs
  lib/vector-core/src/mapping/mod.rs
  lib/vector-core/src/mapping/parser/grammar.pest
  lib/vector-core/src/mapping/parser/mod.rs
  lib/vector-core/src/mapping/query/arithmetic.rs
  lib/vector-core/src/mapping/query/function/flatten.rs
  lib/vector-core/src/mapping/query/function/mod.rs
  lib/vector-core/src/mapping/query/function/not.rs
  lib/vector-core/src/mapping/query/function/split.rs
  lib/vector-core/src/mapping/query/mod.rs
  lib/vector-core/src/mapping/query/path.rs
  lib/vector-core/src/mapping/query/query_value.rs
  lib/vector-core/src/mapping/query/regex.rs
  src/lib.rs
Labels: domain: core

#11535 fix(external docs): Render encoding as required when codecs are enabled
  website/config.toml
  website/cue/reference/components/sinks.cue
Labels: domain: external docs

#11516 chore: Batch filter transform emissions
  src/internal_events/filter.rs
  src/transforms/filter.rs
Labels: domain: transforms

#11526 chore(schemas, remap transform): modify schema definitions using VRL compiler
  lib/vector-core/src/schema/definition.rs
  lib/vector-core/src/transform/config.rs
  src/api/schema/components/mod.rs
  src/config/compiler.rs
  src/config/graph.rs
  src/config/mod.rs
  src/config/unit_test/mod.rs
  src/config/validation.rs
  src/topology/builder.rs
  src/topology/schema.rs
  src/transforms/add_fields.rs
  src/transforms/add_tags.rs
  src/transforms/aggregate.rs
  src/transforms/ansi_stripper.rs
  src/transforms/aws_cloudwatch_logs_subscription_parser.rs
  src/transforms/aws_ec2_metadata.rs
  src/transforms/coercer.rs
  src/transforms/compound.rs
  src/transforms/concat.rs
  src/transforms/dedupe.rs
  src/transforms/field_filter.rs
  src/transforms/filter.rs
  src/transforms/geoip.rs
  src/transforms/grok_parser.rs
  src/transforms/json_parser.rs
  src/transforms/key_value_parser.rs
  src/transforms/log_to_metric.rs
  src/transforms/logfmt_parser.rs
  src/transforms/lua/mod.rs
  src/transforms/lua/v1/mod.rs
  src/transforms/lua/v2/mod.rs
  src/transforms/merge.rs
  src/transforms/metric_to_log.rs
  src/transforms/noop.rs
  src/transforms/pipelines/expander.rs
  src/transforms/pipelines/filter.rs
  src/transforms/pipelines/mod.rs
  src/transforms/pipelines/router.rs
  src/transforms/reduce/mod.rs
  src/transforms/regex_parser.rs
  src/transforms/remap.rs
  src/transforms/remove_fields.rs
  src/transforms/remove_tags.rs
  src/transforms/rename_fields.rs
  src/transforms/route.rs
  src/transforms/sample.rs
  src/transforms/split.rs
  src/transforms/tag_cardinality_limit.rs
  src/transforms/throttle.rs
  src/transforms/tokenizer.rs
  tests/support/mod.rs
Labels: domain: topology, domain: transforms, domain: core

#11385 feat(remap transform, schemas): use schema definition as input to compile VRL programs
  lib/vector-core/src/schema/definition.rs
  lib/vector-core/src/transform/config.rs
  lib/vrl/compiler/src/state.rs
  lib/vrl/stdlib/src/unnest.rs
  src/topology/builder.rs
  src/transforms/remap.rs
Labels: domain: topology, domain: transforms, domain: vrl, domain: core

#11542 chore(nats sink): Update from async_nats to nats::asynk
  Cargo.lock
  Cargo.toml
  src/sinks/nats.rs
  src/sources/nats.rs
Labels: domain: sources, domain: sinks

#11449 chore(config, sinks): Error if acknowledgements are enabled for an unsupported sink
  src/config/compiler.rs
  src/config/mod.rs
  src/config/unit_test/unit_test_components.rs
  src/sinks/aws_cloudwatch_logs/config.rs
  src/sinks/aws_cloudwatch_metrics.rs
  src/sinks/aws_kinesis_firehose/config.rs
  src/sinks/aws_kinesis_streams/config.rs
  src/sinks/aws_s3/config.rs
  src/sinks/aws_sqs.rs
  src/sinks/azure_blob.rs
  src/sinks/azure_monitor_logs.rs
  src/sinks/blackhole/config.rs
  src/sinks/clickhouse.rs
  src/sinks/console/config.rs
  src/sinks/datadog/events/config.rs
  src/sinks/datadog/logs/config.rs
  src/sinks/datadog/metrics/config.rs
  src/sinks/datadog_archives.rs
  src/sinks/elasticsearch/config.rs
  src/sinks/file/mod.rs
  src/sinks/gcp/cloud_storage.rs
  src/sinks/gcp/pubsub.rs
  src/sinks/gcp/stackdriver_logs.rs
  src/sinks/gcp/stackdriver_metrics.rs
  src/sinks/honeycomb.rs
  src/sinks/http.rs
  src/sinks/humio/logs.rs
  src/sinks/humio/metrics.rs
  src/sinks/influxdb/logs.rs
  src/sinks/influxdb/metrics.rs
  src/sinks/kafka/config.rs
  src/sinks/logdna.rs
  src/sinks/loki/config.rs
  src/sinks/nats.rs
  src/sinks/new_relic/config.rs
  src/sinks/new_relic_logs.rs
  src/sinks/papertrail.rs
  src/sinks/prometheus/exporter.rs
  src/sinks/prometheus/remote_write.rs
  src/sinks/pulsar.rs
  src/sinks/redis.rs
  src/sinks/sematext/logs.rs
  src/sinks/sematext/metrics.rs
  src/sinks/socket.rs
  src/sinks/splunk_hec/logs/config.rs
  src/sinks/splunk_hec/metrics/config.rs
  src/sinks/statsd.rs
  src/sinks/util/adaptive_concurrency/tests.rs
  src/sinks/vector/mod.rs
  src/topology/test/backpressure.rs
  tests/crash.rs
  tests/support/mod.rs
  website/content/en/highlights/2022-02-16-move-acknowledgements-configuration.md
  website/cue/reference/components/sinks/file.cue
Labels: domain: topology, type: tech debt, domain: config, domain: sinks, domain: external docs

#11548 chore: Apply more deny unreachable_pub
  src/kafka.rs
  src/lib.rs
  src/sink.rs
  src/sinks/kafka/service.rs
  src/tap/cmd.rs
  src/tap/mod.rs
Labels: domain: sinks

#11564 chore: Simplify trivial `async { X.await }` anti-pattern
  lib/vector-buffers/src/topology/channel/limited_queue.rs
  lib/vector-buffers/src/variants/disk_v1/tests/acknowledgements.rs
  lib/vector-buffers/src/variants/disk_v1/tests/mod.rs
  lib/vector-buffers/src/variants/disk_v2/tests/basic.rs
  lib/vector-buffers/src/variants/disk_v2/tests/invariants.rs
  lib/vector-core/src/fanout.rs
  src/sources/aws_s3/sqs.rs
  src/sources/docker_logs.rs
  tests/topology.rs
Labels: type: tech debt, domain: sources, domain: core

#11431 chore(schemas): remove schema registry indirection
  lib/value/src/kind.rs
  lib/value/src/kind/collection.rs
  lib/value/src/kind/collection/unknown.rs
  lib/vector-core/src/event/metadata.rs
  lib/vector-core/src/schema/definition.rs
  lib/vector-core/src/schema/id.rs
  lib/vector-core/src/schema/mod.rs
  lib/vector-core/src/schema/registry.rs
  lib/vector-core/src/transform/config.rs
  src/config/mod.rs
  src/config/schema.rs
  src/sources/datadog/agent/integration_tests.rs
  src/sources/datadog/agent/mod.rs
  src/sources/datadog/agent/tests.rs
  src/sources/datadog/sketch_parser.rs
  src/sources/socket/mod.rs
  src/sources/vector/v1.rs
  src/topology/builder.rs
  src/topology/schema.rs
  src/transforms/remap.rs
Labels: domain: topology, domain: sources, domain: transforms, domain: core

#11549 fix(socket source): Prevent idle connections from hoarding permits
  src/sources/util/tcp/mod.rs
Labels: domain: sources

#11072 enhancement(topology): Send arrays of events through the topology
  lib/vector-core/proto/event.proto
  lib/vector-core/src/event/array.rs
  lib/vector-core/src/event/mod.rs
  lib/vector-core/src/event/proto.rs
  lib/vector-core/src/event/ser.rs
  lib/vector-core/src/event/test/serialization.rs
  lib/vector-core/src/fanout.rs
  lib/vector-core/src/test_util.rs
  lib/vector-core/src/transform/mod.rs
  src/api/tap.rs
  src/topology/builder.rs
  src/topology/mod.rs
  src/topology/ready_events.rs
  src/topology/running.rs
  src/topology/task.rs
  src/transforms/coercer.rs
  src/transforms/grok_parser.rs
  src/transforms/key_value_parser.rs
  src/transforms/log_to_metric.rs
  src/transforms/logfmt_parser.rs
  src/transforms/mod.rs
  src/transforms/regex_parser.rs
  src/transforms/remap.rs
  src/transforms/route.rs
  src/transforms/sample.rs
  src/transforms/split.rs
  src/transforms/tokenizer.rs
  testing/github-11072/config-right-http.toml
  testing/github-11072/config-wrong-http.toml
  testing/github-11072/create-clean-data-directories.sh
  testing/github-11072/five-lines-first
  testing/github-11072/five-lines-second
  testing/github-11072/get-and-build-vector-binaries.sh
  testing/github-11072/steps.md
  testing/github-11072/test-results.md
Labels: type: enhancement, domain: topology, domain: transforms, domain: core

#11578 fix(aws_s3 sink): allow the usage of `region` and `endpoint`
  src/aws/rusoto/region.rs
  website/cue/reference/components/aws.cue
Labels: domain: external docs

#11540 docs(wasm transform): Remove WASM transform from docs
  website/content/en/docs/reference/configuration/transforms/wasm.md
  website/content/en/guides/advanced/cloudwatch-logs-firehose.md
  website/content/en/guides/advanced/custom-aggregations-with-lua.md
  website/content/en/guides/advanced/merge-multiline-logs-with-lua.md
  website/content/en/guides/advanced/parsing-csv-logs-with-lua.md
  website/content/en/guides/advanced/wasm-hello.md
  website/content/en/guides/advanced/wasm-multiline.md
  website/cue/reference/components/transforms/wasm.cue
Labels: domain: external docs

#11530 docs(sinks): Always render batch config options
  website/cue/reference/components/sinks.cue
Labels: domain: external docs

#11569 chore(sinks): Inline `ServiceLogic` into batch sink framework
  src/sinks/aws_sqs.rs
  src/sinks/clickhouse.rs
  src/sinks/influxdb/metrics.rs
  src/sinks/sematext/metrics.rs
  src/sinks/util/adaptive_concurrency/tests.rs
  src/sinks/util/http.rs
  src/sinks/util/service.rs
  src/sinks/util/sink.rs
Labels: type: tech debt, domain: sinks

#11584 chore(core): Disambiguate `LogEvent` and `TraceEvent`
  lib/vector-core/src/event/array.rs
  lib/vector-core/src/event/mod.rs
  lib/vector-core/src/event/proto.rs
  lib/vector-core/src/event/test/common.rs
  lib/vector-core/src/event/trace.rs
  lib/vector-core/src/event/vrl_target.rs
  src/conditions/check_fields.rs
  src/sinks/util/encoding/codec.rs
  src/transforms/remap.rs
Labels: type: tech debt, domain: transforms, domain: sinks, domain: traces, domain: core

#11457 chore(ci): Refine testing for needed env vars for datadog-agent integration tests
  .github/workflows/integration-test.yml
  Makefile
  scripts/integration/docker-compose.datadog-agent.yml
  scripts/integration/docker-compose.datadog-logs.yml
  scripts/integration/docker-compose.datadog-metrics.yml
  src/sinks/datadog/logs/integration_tests.rs
  src/sinks/datadog/metrics/integration_tests.rs
Labels: domain: sinks, domain: ci, ci-condition: integration tests enable

#11581 fix(api): Change vector top --human_metrics short flag
  src/top/mod.rs
  website/content/en/highlights/2022-03-22-0-21-0-upgrade-guide.md
  website/cue/reference/cli.cue
Labels: domain: external docs

#10462 chore(tests): Update prometheus version for integration tests
  scripts/integration/docker-compose.prometheus.yml
  src/sources/prometheus/remote_write.rs
Labels: domain: sources, domain: ci, ci-condition: integration tests enable

#11598 chore: Remove trivial instances of getset use
  Cargo.lock
  Cargo.toml
  lib/vector-core/Cargo.toml
  lib/vector-core/src/config/log_schema.rs
  lib/vector-core/src/event/log_event.rs
  lib/vector-core/src/event/metadata.rs
  lib/vector-core/src/event/metric.rs
  src/sinks/vector/v1.rs
  src/sources/dnstap/schema.rs
  src/sources/socket/tcp.rs
  src/sources/socket/udp.rs
  src/sources/vector/v1.rs
Labels: domain: sources, domain: sinks, domain: core

#11592 chore(core): Remove instrumentation on LogEvent
  lib/vector-core/src/event/log_event.rs
Labels: domain: core

#11595 chore: Apply clippy lints from 1.59.0
  lib/datadog/grok/src/matchers/date.rs
  lib/datadog/search-syntax/src/field.rs
  lib/dnsmsg-parser/src/dns_message_parser.rs
  lib/file-source/src/fingerprinter.rs
  lib/file-source/src/paths_provider/glob.rs
  lib/k8s-e2e-tests/src/lib.rs
  lib/k8s-test-framework/src/kubernetes_version.rs
  lib/lookup/src/lookup_buf/segmentbuf.rs
  lib/value/src/value/api.rs
  lib/value/src/value/display.rs
  lib/value/src/value/path.rs
  lib/vector-buffers/src/config.rs
  lib/vector-core/src/config/id.rs
  lib/vector-core/src/config/mod.rs
  lib/vector-core/src/config/proxy.rs
  lib/vector-core/src/event/finalization.rs
  lib/vector-core/src/event/log_event.rs
  lib/vector-core/src/event/metadata.rs
  lib/vector-core/src/event/metric.rs
  lib/vector-core/src/event/mod.rs
  lib/vector-core/src/event/proto.rs
  lib/vector-core/src/event/util/log/all_fields.rs
  lib/vector-core/src/schema/definition.rs
  lib/vector-core/src/stream/driver.rs
  lib/vrl/diagnostic/src/diagnostic.rs
  lib/vrl/parser/src/lex.rs
  lib/vrl/proptests/src/main.rs
  lib/vrl/stdlib/src/log.rs
  lib/vrl/stdlib/src/match_datadog_query.rs
  lib/vrl/tests/src/docs.rs
  lib/vrl/tests/src/test.rs
  src/conditions/datadog_search.rs
  src/config/unit_test/mod.rs
  src/encoding_transcode.rs
  src/serde.rs
  src/sinks/clickhouse.rs
  src/sinks/datadog_archives.rs
  src/sinks/influxdb/logs.rs
  src/sinks/influxdb/mod.rs
  src/sinks/util/adaptive_concurrency/tests.rs
  src/sinks/util/buffer/vec.rs
  src/sinks/util/uri.rs
  src/sources/datadog/agent/mod.rs
  src/sources/datadog/sketch_parser.rs
  src/sources/dnstap/parser.rs
  src/sources/journald.rs
  src/sources/postgresql_metrics.rs
  src/sources/statsd/parser.rs
  src/sources/syslog.rs
  src/sources/util/tcp/mod.rs
  src/test_util/components.rs
  src/test_util/metrics.rs
  src/transforms/aws_ec2_metadata.rs
  src/transforms/key_value_parser.rs
  src/transforms/regex_parser.rs
Labels: domain: sources, domain: transforms, domain: sinks, domain: vrl, domain: core

#11617 chore: Correct option name in throttle documentation
  website/cue/reference/components/transforms/throttle.cue
Labels: domain: external docs

#11531 enhancement(api): Add --meta flag to vector tap
  lib/vector-api-client/graphql/schema.json
  lib/vector-api-client/graphql/subscriptions/output_events_by_component_id_patterns.graphql
  src/api/schema/events/log.rs
  src/api/schema/events/metric.rs
  src/api/schema/events/output.rs
  src/api/schema/events/trace.rs
  src/api/tap.rs
  src/tap/cmd.rs
  src/tap/mod.rs
  src/topology/mod.rs
  src/topology/running.rs
  website/cue/reference/cli.cue
Labels: domain: topology, domain: external docs
