Repository vectordotdev/vector, pull requests merged in 2022-12, with the labels that each got.

#15397 chore(deps): Update prost to 0.11.3
  Cargo.lock
  Cargo.toml
  lib/codecs/Cargo.toml
  lib/loki-logproto/Cargo.toml
  lib/loki-logproto/build.rs
  lib/opentelemetry-proto/Cargo.toml
  lib/prometheus-parser/Cargo.toml
  lib/vector-core/Cargo.toml
Labels: ci-condition: integration tests enable, domain: core

#15406 chore(kubernetes): Regenerate manifests for 0.17.1
  distribution/kubernetes/vector-agent/README.md
  distribution/kubernetes/vector-agent/configmap.yaml
  distribution/kubernetes/vector-agent/daemonset.yaml
  distribution/kubernetes/vector-agent/rbac.yaml
  distribution/kubernetes/vector-agent/service-headless.yaml
  distribution/kubernetes/vector-agent/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/README.md
  distribution/kubernetes/vector-aggregator/configmap.yaml
  distribution/kubernetes/vector-aggregator/service-headless.yaml
  distribution/kubernetes/vector-aggregator/service.yaml
  distribution/kubernetes/vector-aggregator/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/statefulset.yaml
  distribution/kubernetes/vector-stateless-aggregator/README.md
  distribution/kubernetes/vector-stateless-aggregator/configmap.yaml
  distribution/kubernetes/vector-stateless-aggregator/deployment.yaml
  distribution/kubernetes/vector-stateless-aggregator/service-headless.yaml
  distribution/kubernetes/vector-stateless-aggregator/service.yaml
  distribution/kubernetes/vector-stateless-aggregator/serviceaccount.yaml
Labels: domain: releasing

#15399 feat(kafka source): Add log namespace and schema support
  src/sources/kafka.rs
Labels: source: kafka, domain: sources

#15139 feat(kubernetes_logs source): Add log namespace support
  src/sources/kubernetes_logs/mod.rs
  src/sources/kubernetes_logs/namespace_metadata_annotator.rs
  src/sources/kubernetes_logs/node_metadata_annotator.rs
  src/sources/kubernetes_logs/parser/cri.rs
  src/sources/kubernetes_logs/parser/docker.rs
  src/sources/kubernetes_logs/parser/mod.rs
  src/sources/kubernetes_logs/parser/test_util.rs
  src/sources/kubernetes_logs/partial_events_merger.rs
  src/sources/kubernetes_logs/pod_metadata_annotator.rs
Labels: domain: sources, ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#15416 feat(docker_logs source): Add log namespace and schema definition support
  src/sources/docker_logs/mod.rs
  src/sources/docker_logs/tests.rs
Labels: domain: sources, ci-condition: integration tests enable

#15429 chore(tests): Remove unused tests
  .github/workflows/test.yml
  Makefile
  tests/api.rs
  tests/enterprise.rs
Labels: domain: tests

#15438 chore: use in-memory size for JSON encoded size of metrics
  lib/vector-core/src/event/metric/mod.rs
Labels: domain: core

#15326 feat(journald source): Add log namespace and schema def support
  src/sources/fluent/mod.rs
  src/sources/journald.rs
Labels: source: journald, domain: sources

#15056 chore(dev): RFC for a tooling revamp
  rfcs/2022-10-31-15056-tooling-revamp.md
Labels: domain: rfc

#15391 enhancement(unix source): add unix path to err msg when listening fails
  src/sources/util/unix_stream.rs
Labels: domain: sources

#15457 chore(internal docs): Fix markdown
  rfcs/2022-10-31-15056-tooling-revamp.md
Labels: domain: rfc

#15322 chore(vrl): Refactor javascript component of web playground
  lib/vrl/web-playground/public/index.html
  lib/vrl/web-playground/public/index.js
Labels: domain: vrl

#15459 chore(kubernetes): Upgrade manifests to 0.18.0 of Helm chart
  distribution/kubernetes/vector-agent/README.md
  distribution/kubernetes/vector-agent/configmap.yaml
  distribution/kubernetes/vector-agent/daemonset.yaml
  distribution/kubernetes/vector-agent/rbac.yaml
  distribution/kubernetes/vector-agent/service-headless.yaml
  distribution/kubernetes/vector-agent/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/README.md
  distribution/kubernetes/vector-aggregator/configmap.yaml
  distribution/kubernetes/vector-aggregator/service-headless.yaml
  distribution/kubernetes/vector-aggregator/service.yaml
  distribution/kubernetes/vector-aggregator/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/statefulset.yaml
  distribution/kubernetes/vector-stateless-aggregator/README.md
  distribution/kubernetes/vector-stateless-aggregator/configmap.yaml
  distribution/kubernetes/vector-stateless-aggregator/deployment.yaml
  distribution/kubernetes/vector-stateless-aggregator/service-headless.yaml
  distribution/kubernetes/vector-stateless-aggregator/service.yaml
  distribution/kubernetes/vector-stateless-aggregator/serviceaccount.yaml
Labels: domain: releasing

#14724 chore(observability): Convert `EventsSent` to a registered event
  lib/vector-common/src/internal_event/events_sent.rs
  lib/vector-common/src/internal_event/mod.rs
  lib/vector-core/src/stream/driver.rs
  lib/vector-core/src/transform/mod.rs
  src/sinks/blackhole/sink.rs
  src/sinks/console/sink.rs
  src/sinks/file/mod.rs
  src/sinks/nats.rs
  src/sinks/prometheus/exporter.rs
  src/sinks/pulsar.rs
  src/sinks/util/sink.rs
  src/sinks/websocket/sink.rs
  src/source_sender/mod.rs
  src/sources/demo_logs.rs
  src/sources/exec/mod.rs
  src/sources/http_server.rs
  src/sources/internal_logs.rs
  src/test_util/mock/sinks/basic.rs
  src/topology/builder.rs
Labels: domain: topology, type: tech debt, domain: observability, domain: sources, domain: sinks, domain: core

#15437 feat(aws_sqs source): Add log namespace and schema support
  src/sources/aws_sqs/config.rs
  src/sources/aws_sqs/source.rs
Labels: domain: sources, ci-condition: integration tests enable

#14753 chore(observability): Add macro to help implementing registered internal events
  Cargo.lock
  Cargo.toml
  lib/vector-common/Cargo.toml
  lib/vector-common/src/internal_event/bytes_received.rs
  lib/vector-common/src/internal_event/bytes_sent.rs
  lib/vector-common/src/internal_event/events_sent.rs
  lib/vector-common/src/internal_event/mod.rs
  scripts/check-events
  src/internal_events/filter.rs
Labels: type: tech debt, domain: observability, domain: ci

#15448 fix(kafka): support PEM encoded certificates
  lib/vector-core/src/tls/mod.rs
  lib/vector-core/src/tls/settings.rs
  src/kafka.rs
Labels: domain: core

#15272 chore(metrics): Add multi-value metric tag support to the `remap` transform.
  lib/vector-core/src/event/metric/mod.rs
  lib/vector-core/src/event/metric/series.rs
  lib/vector-core/src/event/metric/tags.rs
  lib/vector-core/src/event/vrl_target.rs
  rfcs/2022-10-12-14742-flexible-metric-tags.md
  src/conditions/vrl.rs
  src/transforms/mod.rs
  src/transforms/remap.rs
  website/cue/reference/components/transforms/base/remap.cue
Labels: domain: transforms, domain: external docs, domain: core, domain: rfc

#15476 chore(docs): generate better schema for `Compression` that leads to better docs output
  lib/vector-config-macros/src/configurable.rs
  lib/vector-config/src/schema.rs
  src/sinks/util/buffer/compression.rs
  src/sinks/util/service/concurrency.rs
  src/sinks/vector/config.rs
  website/cue/reference/components/sinks/base/apex.cue
  website/cue/reference/components/sinks/base/aws_cloudwatch_logs.cue
  website/cue/reference/components/sinks/base/aws_cloudwatch_metrics.cue
  website/cue/reference/components/sinks/base/aws_kinesis_firehose.cue
  website/cue/reference/components/sinks/base/aws_kinesis_streams.cue
  website/cue/reference/components/sinks/base/aws_s3.cue
  website/cue/reference/components/sinks/base/aws_sqs.cue
  website/cue/reference/components/sinks/base/axiom.cue
  website/cue/reference/components/sinks/base/azure_blob.cue
  website/cue/reference/components/sinks/base/azure_monitor_logs.cue
  website/cue/reference/components/sinks/base/clickhouse.cue
  website/cue/reference/components/sinks/base/datadog_events.cue
  website/cue/reference/components/sinks/base/datadog_logs.cue
  website/cue/reference/components/sinks/base/datadog_metrics.cue
  website/cue/reference/components/sinks/base/datadog_traces.cue
  website/cue/reference/components/sinks/base/elasticsearch.cue
  website/cue/reference/components/sinks/base/gcp_chronicle_unstructured.cue
  website/cue/reference/components/sinks/base/gcp_cloud_storage.cue
  website/cue/reference/components/sinks/base/gcp_pubsub.cue
  website/cue/reference/components/sinks/base/gcp_stackdriver_logs.cue
  website/cue/reference/components/sinks/base/gcp_stackdriver_metrics.cue
  website/cue/reference/components/sinks/base/honeycomb.cue
  website/cue/reference/components/sinks/base/http.cue
  website/cue/reference/components/sinks/base/humio_logs.cue
  website/cue/reference/components/sinks/base/humio_metrics.cue
  website/cue/reference/components/sinks/base/influxdb_logs.cue
  website/cue/reference/components/sinks/base/influxdb_metrics.cue
  website/cue/reference/components/sinks/base/logdna.cue
  website/cue/reference/components/sinks/base/loki.cue
  website/cue/reference/components/sinks/base/new_relic.cue
  website/cue/reference/components/sinks/base/prometheus_remote_write.cue
  website/cue/reference/components/sinks/base/redis.cue
  website/cue/reference/components/sinks/base/sematext_logs.cue
  website/cue/reference/components/sinks/base/sematext_metrics.cue
  website/cue/reference/components/sinks/base/splunk_hec_logs.cue
  website/cue/reference/components/sinks/base/splunk_hec_metrics.cue
  website/cue/reference/components/sinks/base/vector.cue
Labels: domain: sinks, domain: external docs

#14875 fix(core): Fix panic when reloading config under load
  lib/vector-core/src/fanout.rs
  src/topology/running.rs
Labels: domain: topology, domain: core

#15493 fix(kubernetes_logs source): Allow `namespace_labels` to be disabled
  src/sources/kubernetes_logs/mod.rs
  src/sources/kubernetes_logs/namespace_metadata_annotator.rs
  src/sources/kubernetes_logs/node_metadata_annotator.rs
Labels: domain: sources

#15491 chore(core): rearrange integration test files to speed up tests
  Cargo.toml
  Makefile
  lib/vector-config/tests/integration/configurable_string.rs
  lib/vector-config/tests/integration/named.rs
  lib/vector-config/tests/integration/smoke.rs
  scripts/integration/docker-compose.shutdown.yml
  tests/integration/cli.rs
  tests/integration/lib.rs
  tests/integration/shutdown.rs
Labels: domain: ci, ci-condition: integration tests enable

#15461 chore(config): Test the rest of the global option merging
  lib/vector-core/src/config/global_options.rs
Labels: domain: tests, type: tech debt, domain: config, domain: unit tests, ci-condition: integration tests enable, domain: core

#15087 fix(api): gracefully shutdown Vector if API cannot bind
  src/api/server.rs
  src/api/tap.rs
  src/app.rs
  src/sinks/datadog/traces/apm_stats/integration_tests.rs
  src/sinks/util/adaptive_concurrency/tests.rs
  src/sources/prometheus/scrape.rs
  src/test_util/mod.rs
  src/topology/mod.rs
  src/topology/test/backpressure.rs
  src/topology/test/crash.rs
  src/topology/test/doesnt_reload.rs
  src/topology/test/end_to_end.rs
  src/topology/test/mod.rs
  src/topology/test/reload.rs
  src/topology/test/source_finished.rs
  src/topology/test/transient_state.rs
Labels: domain: topology, domain: sources, domain: sinks

#15478 fix(elasticsearch sink): Gunzip Elasticsearch responses
  Cargo.lock
  Cargo.toml
  src/sinks/elasticsearch/integration_tests.rs
  src/sinks/elasticsearch/service.rs
  src/sinks/util/buffer/compression.rs
  src/sinks/util/http.rs
Labels: sink: elasticsearch, domain: sinks

#15510 fix(socket source): set log namespace in decoder config
  src/sources/socket/mod.rs
  src/sources/util/net/tcp/mod.rs
Labels: domain: sources

#15386 feat(syslog source): Add log namespace and schema def support
  lib/codecs/src/decoding/format/syslog.rs
  lib/codecs/src/decoding/mod.rs
  src/sources/datadog_agent/tests.rs
  src/sources/syslog.rs
Labels: domain: sources

#15402 chore(lua transform): Add multi-value metric tag support to the `lua` transform
  lib/vector-core/src/event/lua/event.rs
  lib/vector-core/src/event/lua/metric.rs
  src/transforms/lua/v2/mod.rs
  website/cue/reference/components/transforms/base/lua.cue
Labels: domain: transforms, domain: external docs, domain: core

#15505 chore(tag_cardinality_limit transform): Add multi-value metric tag support to the `tag_cardinality_limit` transform
  lib/vector-core/src/event/metric/tags.rs
  src/transforms/tag_cardinality_limit.rs
  src/transforms/tag_cardinality_limit/config.rs
  src/transforms/tag_cardinality_limit/mod.rs
  src/transforms/tag_cardinality_limit/tag_value_set.rs
  src/transforms/tag_cardinality_limit/tests.rs
Labels: domain: transforms, domain: core

#15314 feat(aws_ec2_metadata transform): add support for fetching ec2 instance tags
  scripts/integration/docker-compose.aws.yml
  src/transforms/aws_ec2_metadata.rs
  website/cue/reference/components/transforms/aws_ec2_metadata.cue
  website/cue/reference/components/transforms/base/aws_ec2_metadata.cue
Labels: type: enhancement, domain: transforms, transform: aws_ec2_metadata, domain: ci, domain: external docs, ci-condition: integration tests enable

#15477 enhancement(observability): Convert `EventsReceived` to a registered event
  lib/codecs/src/decoding/format/mod.rs
  lib/codecs/src/decoding/mod.rs
  lib/vector-common/src/internal_event/events_received.rs
  lib/vector-common/src/internal_event/mod.rs
  src/codecs/decoding/decoder.rs
  src/sources/amqp.rs
  src/sources/aws_kinesis_firehose/handlers.rs
  src/sources/aws_s3/sqs.rs
  src/sources/aws_sqs/source.rs
  src/sources/datadog_agent/logs.rs
  src/sources/datadog_agent/metrics.rs
  src/sources/datadog_agent/mod.rs
  src/sources/datadog_agent/traces.rs
  src/sources/demo_logs.rs
  src/sources/eventstoredb_metrics/mod.rs
  src/sources/file_descriptors/mod.rs
  src/sources/gcp_pubsub.rs
  src/sources/host_metrics/mod.rs
  src/sources/internal_metrics.rs
  src/sources/journald.rs
  src/sources/nats.rs
  src/sources/opentelemetry/grpc.rs
  src/sources/opentelemetry/http.rs
  src/sources/opentelemetry/mod.rs
  src/sources/postgresql_metrics.rs
  src/sources/redis/channel.rs
  src/sources/redis/list.rs
  src/sources/redis/mod.rs
  src/sources/socket/tcp.rs
  src/sources/splunk_hec/mod.rs
  src/sources/statsd/mod.rs
  src/sources/util/message_decoding.rs
  src/sources/vector/mod.rs
  src/topology/builder.rs
Labels: type: enhancement, domain: topology, domain: observability, domain: sources, domain: codecs, domain: metrics, ci-condition: integration tests enable

#15511 fix(socket source): insert TLS metadata correctly in Vector namespaces
  lib/codecs/src/decoding/format/syslog.rs
  src/sources/fluent/mod.rs
  src/sources/logstash.rs
  src/sources/socket/mod.rs
  src/sources/statsd/mod.rs
  src/sources/syslog.rs
  src/sources/util/net/tcp/mod.rs
Labels: domain: sources

#15140 chore(rfc, observability): automatic component validation and verification
  Cargo.toml
  Makefile
  lib/codecs/src/encoding/mod.rs
  lib/vector-common/src/shutdown.rs
  lib/vector-core/src/transform/mod.rs
  rfcs/2022-11-04-automatic-component-validation.md
  src/codecs/decoding/config.rs
  src/components/mod.rs
  src/components/validation/mod.rs
  src/components/validation/resources/event.rs
  src/components/validation/resources/http.rs
  src/components/validation/resources/mod.rs
  src/components/validation/runner/config.rs
  src/components/validation/runner/io.rs
  src/components/validation/runner/mod.rs
  src/components/validation/runner/telemetry.rs
  src/components/validation/sync.rs
  src/components/validation/test_case.rs
  src/components/validation/util.rs
  src/components/validation/validators/component_spec.rs
  src/components/validation/validators/mod.rs
  src/config/mod.rs
  src/lib.rs
  src/sinks/vector/config.rs
  src/sinks/vector/mod.rs
  src/sources/http_server.rs
  src/sources/util/grpc/mod.rs
  src/sources/vector/mod.rs
  src/topology/builder.rs
  src/trace.rs
  tests/validation/components/sources/http_server.yaml
Labels: domain: topology, domain: sources, domain: sinks, domain: codecs, domain: core, domain: rfc

#15532 feat(vrl): add abs function
  lib/vrl/stdlib/Cargo.toml
  lib/vrl/stdlib/src/abs.rs
  lib/vrl/stdlib/src/lib.rs
  website/cue/reference/remap/functions/abs.cue
Labels: domain: external docs, domain: vrl

#15560 bug(core): fix bug in component validation runner
  src/components/validation/runner/mod.rs
Labels: ci-condition: integration tests enable

#15508 chore(vrl): remove panic from filter fn
  lib/vrl/stdlib/src/filter.rs
  lib/vrl/tests/tests/functions/filter/invalid_input.vrl
Labels: domain: vrl

#15563 chore(deps): bump cargo-deb and cargo-nextest to latest versions
  scripts/environment/prepare.sh
Labels: type: tech debt, domain: ci, dependencies

#15545 enhancement(sinks): Convert ARC metrics to registered events
  src/internal_events/adaptive_concurrency.rs
  src/sinks/util/adaptive_concurrency/controller.rs
  src/sinks/util/adaptive_concurrency/future.rs
  src/sinks/util/adaptive_concurrency/service.rs
Labels: type: enhancement, domain: observability, domain: sinks, domain: performance, domain: metrics, ci-condition: integration tests enable

#15561 docs(datadog_agent source): Brush off trace support docs
  website/cue/reference/components/sources/datadog_agent.cue
Labels: domain: external docs

#15559 feat(aws_cloudwatch_metrics sink): Allow up to 30 metric dimensions
  src/sinks/aws_cloudwatch_metrics/mod.rs
  website/content/en/highlights/2023-01-17-0-27-0-upgrade-guide.md
Labels: domain: sinks, ci-condition: integration tests enable

#15208 enhancement(vrl): Add option to translate custom fields in `parse_cef`
  lib/vrl/stdlib/src/parse_cef.rs
  website/cue/reference/remap/functions/parse_cef.cue
Labels: domain: external docs, domain: vrl

#15574 feat(syslog source): Better handling of host_key input with OptionalValuePath
  src/sources/syslog.rs
Labels: source: syslog, domain: sources, ci-condition: integration tests enable

#15575 feat(amqp source): Better handling of key configuration with OptionalValuePath
  src/sinks/amqp/integration_tests.rs
  src/sources/amqp.rs
Labels: domain: sources, domain: sinks, ci-condition: integration tests enable, source: amqp

#15580 chore(deps): Bump `anymap` version
  Cargo.lock
  lib/vrl/compiler/Cargo.toml
Labels: domain: vrl

#15557 feat(vrl): add syntax highlighting to playground
  lib/vrl/web-playground/public/index.js
  lib/vrl/web-playground/public/vrl-highlighter.js
Labels: domain: vrl, vrl: playground

#15577 chore(transforms)!: Remove pipelines transform and macro expansion
  regression/cases/http_pipelines_blackhole/data/.gitkeep
  regression/cases/http_pipelines_blackhole/data/bootstrap.log
  regression/cases/http_pipelines_blackhole/lading/lading.yaml
  regression/cases/http_pipelines_blackhole/vector/vector.toml
  regression/cases/http_pipelines_blackhole_acks/data/.gitkeep
  regression/cases/http_pipelines_blackhole_acks/data/bootstrap.log
  regression/cases/http_pipelines_blackhole_acks/lading/lading.yaml
  regression/cases/http_pipelines_blackhole_acks/vector/vector.toml
  regression/cases/http_pipelines_no_grok_blackhole/data/.gitkeep
  regression/cases/http_pipelines_no_grok_blackhole/data/bootstrap.log
  regression/cases/http_pipelines_no_grok_blackhole/lading/lading.yaml
  regression/cases/http_pipelines_no_grok_blackhole/vector/vector.toml
  soaks_disabled/tests/http_pipelines_blackhole/data/.gitkeep
  soaks_disabled/tests/http_pipelines_blackhole/data/bootstrap.log
  soaks_disabled/tests/http_pipelines_blackhole/lading/lading.yaml
  soaks_disabled/tests/http_pipelines_blackhole/vector/vector.toml
  soaks_disabled/tests/http_pipelines_blackhole_acks/data/.gitkeep
  soaks_disabled/tests/http_pipelines_blackhole_acks/data/bootstrap.log
  soaks_disabled/tests/http_pipelines_blackhole_acks/lading/lading.yaml
  soaks_disabled/tests/http_pipelines_blackhole_acks/vector/vector.toml
  soaks_disabled/tests/http_pipelines_no_grok_blackhole/data/.gitkeep
  soaks_disabled/tests/http_pipelines_no_grok_blackhole/data/bootstrap.log
  soaks_disabled/tests/http_pipelines_no_grok_blackhole/lading/lading.yaml
  soaks_disabled/tests/http_pipelines_no_grok_blackhole/vector/vector.toml
  src/config/builder.rs
  src/config/compiler.rs
  src/config/graph.rs
  src/config/loading/mod.rs
  src/config/mod.rs
  src/config/transform.rs
  src/config/unit_test/mod.rs
  src/transforms/mod.rs
  src/transforms/pipelines/config.rs
  src/transforms/pipelines/mod.rs
  src/transforms/route.rs
  tests/behavior/transforms/pipelines_simple.toml
  tests/namespacing/success/transforms/processing.toml
  website/cue/reference/components/transforms/base/pipeline.cue
  website/cue/reference/components/transforms/base/pipelines.cue
  website/cue/reference/components/transforms/pipelines.cue
Labels: domain: transforms, domain: external docs

#15518 enhancement(aws config): Make IMDS client configurable for AWS authentication
  Cargo.toml
  src/aws/auth.rs
  src/aws/mod.rs
  src/sinks/aws_kinesis/firehose/integration_tests.rs
  src/sinks/elasticsearch/integration_tests.rs
  website/cue/reference/components/aws.cue
  website/cue/reference/components/sinks/base/aws_cloudwatch_logs.cue
  website/cue/reference/components/sinks/base/aws_cloudwatch_metrics.cue
  website/cue/reference/components/sinks/base/aws_kinesis_firehose.cue
  website/cue/reference/components/sinks/base/aws_kinesis_streams.cue
  website/cue/reference/components/sinks/base/aws_s3.cue
  website/cue/reference/components/sinks/base/aws_sqs.cue
  website/cue/reference/components/sinks/base/elasticsearch.cue
  website/cue/reference/components/sinks/base/prometheus_remote_write.cue
  website/cue/reference/components/sources/base/aws_s3.cue
  website/cue/reference/components/sources/base/aws_sqs.cue
Labels: domain: sinks, domain: external docs

#15588 fix(http_server source, heroku_logs source): use configured `LogNamespace` in `DecoderConfig` construction
  src/sources/heroku_logs.rs
  src/sources/http_server.rs
Labels: domain: sources, source: http_server, source: heroku_logs

#15605 chore(prometheus_scrape source, prometheus_remote_write source, prometheus_exporter sink, prometheus_remote_write sink): add tests for duplicate labels
  src/sinks/prometheus/collector.rs
  src/sinks/prometheus/exporter.rs
  src/sources/prometheus/remote_write.rs
  src/sources/prometheus/scrape.rs
Labels: domain: sources, domain: sinks

#15610 feat(docker_logs source): Improve host_key handling with OptionalValuePath
  src/sources/docker_logs/mod.rs
Labels: domain: sources, source: docker_logs, ci-condition: integration tests enable

#15613 feat(file_descriptor source,stdin source): Use OptionalValuePath for host_key
  src/sources/file_descriptors/file_descriptor.rs
  src/sources/file_descriptors/mod.rs
  src/sources/file_descriptors/stdin.rs
Labels: source: stdin, domain: sources, ci-condition: integration tests enable, source: file_descriptor

#15529 fix(prometheus): implement graceful shutdown
  src/sinks/prometheus/exporter.rs
Labels: domain: sinks

#15606 docs(prometheus_scrape source, prometheus_remote_write source, prometheus_exporter sink, prometheus_remote_write sink): document handling of duplicate tags
  website/cue/reference/components/sinks/prometheus_exporter.cue
  website/cue/reference/components/sinks/prometheus_remote_write.cue
  website/cue/reference/components/sources/prometheus_remote_write.cue
  website/cue/reference/components/sources/prometheus_scrape.cue
Labels: domain: external docs

#15618 docs(gcp_stackdriver_metrics sink): update docs re duplicate tags
  website/cue/reference/components/sinks/gcp_stackdriver_metrics.cue
Labels: domain: external docs

#15623 docs(prometheus_scrape source, prometheus_remote_write source, promet… …heus_exporter sink, prometheus_remote_write sink): improve document handling of duplicate tags
  website/cue/reference/components/sinks/prometheus_exporter.cue
  website/cue/reference/components/sinks/prometheus_remote_write.cue
  website/cue/reference/components/sources/prometheus_remote_write.cue
  website/cue/reference/components/sources/prometheus_scrape.cue
Labels: domain: external docs

#15528 fix(http_server): implement graceful shutdown
  src/sources/util/http/prelude.rs
Labels: domain: sources

#15625 enhancement(http sink): allow overriding content-type header
  src/sinks/http.rs
Labels: domain: sinks

#15519 feat(pulsar): enable Pulsar sink compression
  Cargo.lock
  Cargo.toml
  src/sinks/pulsar.rs
  website/cue/reference.cue
  website/cue/reference/components/sinks.cue
  website/cue/reference/components/sinks/base/pulsar.cue
  website/cue/reference/components/sinks/pulsar.cue
Labels: domain: sinks, domain: external docs

#15591 enhancement(kubernetes_logs source): Replace regex with a simple parser for CRI logs
  src/sources/kubernetes_logs/parser/cri.rs
Labels: domain: sources, ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#15624 chore(docs): remove mentions of Vector from source descriptions
  src/sources/aws_kinesis_firehose/mod.rs
  src/sources/aws_s3/mod.rs
  src/sources/aws_s3/sqs.rs
  src/sources/aws_sqs/config.rs
  src/sources/docker_logs/mod.rs
  src/sources/file.rs
  src/sources/file_descriptors/file_descriptor.rs
  src/sources/file_descriptors/stdin.rs
  src/sources/internal_logs.rs
  src/sources/internal_metrics.rs
  src/sources/journald.rs
  src/sources/kubernetes_logs/mod.rs
  src/sources/prometheus/scrape.rs
  website/cue/reference/components/sources/base/aws_kinesis_firehose.cue
  website/cue/reference/components/sources/base/aws_s3.cue
  website/cue/reference/components/sources/base/aws_sqs.cue
  website/cue/reference/components/sources/base/docker_logs.cue
  website/cue/reference/components/sources/base/file.cue
  website/cue/reference/components/sources/base/file_descriptor.cue
  website/cue/reference/components/sources/base/internal_logs.cue
  website/cue/reference/components/sources/base/internal_metrics.cue
  website/cue/reference/components/sources/base/journald.cue
  website/cue/reference/components/sources/base/kubernetes_logs.cue
  website/cue/reference/components/sources/base/prometheus_scrape.cue
  website/cue/reference/components/sources/base/stdin.cue
Labels: domain: sources, domain: external docs

#15447 enhancement(nats source): added subject key in event metadata
  src/sources/nats.rs
  website/cue/reference/components/sources/base/nats.cue
  website/cue/reference/components/sources/nats.cue
Labels: domain: sources, domain: external docs, ci-condition: integration tests enable

#15643 fix(external docs): generate component docs for nats source
  website/cue/reference/components/sources/base/nats.cue
Labels: domain: external docs

#15626 enhancement(metric_to_log transform): Add compatibility support for enhanced tags
  lib/vector-core/src/event/metric/tags.rs
  src/sinks/elasticsearch/common.rs
  src/transforms/metric_to_log.rs
  website/cue/reference/components/sinks/base/elasticsearch.cue
  website/cue/reference/components/sinks/base/humio_metrics.cue
  website/cue/reference/components/transforms/base/metric_to_log.cue
Labels: type: enhancement, domain: transforms, domain: sinks, domain: external docs, transform: metric_to_log, ci-condition: integration tests enable, domain: core

#15645 fix(heroku_logs source): Fix schema def for the host key path
  src/sources/heroku_logs.rs
Labels: domain: sources, source: heroku_logs

#15647 fix(exec source): Use the global log schema for the legacy host key
  src/sources/exec/mod.rs
Labels: type: enhancement, domain: sources, source: exec

#15655 docs(vector source): Source doesn't support tls client metadata enrichment
  website/cue/reference/components/sources/vector.cue
Labels: domain: external docs

#15654 feat(kafka source): Use OptionalValuePath instead of String for key config
  src/sources/kafka.rs
Labels: type: enhancement, source: kafka, domain: sources, ci-condition: integration tests enable

#15646 feat(nats source): Replace String with OptionalValuePath in config file
  src/sources/nats.rs
Labels: type: enhancement, domain: sources, ci-condition: integration tests enable, source: nats

#15652 feat(dnstap source): Use OptionalValuePath instead of String for host_key
  src/sources/dnstap/mod.rs
  src/sources/util/framestream.rs
Labels: type: enhancement, domain: sources, source: dnstap, ci-condition: integration tests enable

#15657 feat(fluent source, logstash source, socket source, statsd source, syslog source): Use OptionalValuePath instead of String for client_metadata_key
  lib/vector-core/src/tls/settings.rs
  src/sources/fluent/mod.rs
  src/sources/logstash.rs
  src/sources/socket/mod.rs
  src/sources/statsd/mod.rs
  src/sources/syslog.rs
  src/sources/util/net/tcp/mod.rs
Labels: source: syslog, source: socket, type: enhancement, source: statsd, domain: sources, source: logstash, source: fluent, ci-condition: integration tests enable, domain: core

#15603 chore(deps): Switch to apache_avro
  Cargo.lock
  Cargo.toml
  lib/codecs/Cargo.toml
  lib/codecs/src/encoding/format/avro.rs
Labels: ci-condition: integration tests enable

#15665 feat(socket): Use OptionalValuePath in the tcp socket config
  src/sources/socket/mod.rs
  src/sources/socket/tcp.rs
Labels: source: socket, domain: sources, ci-condition: integration tests enable

#15666 feat(socket): Use OptionalValuePath in the udp socket config
  src/sources/socket/mod.rs
  src/sources/socket/udp.rs
Labels: source: socket, domain: sources, ci-condition: integration tests enable

#15682 docs(aws_ecs_metrics source): Use generated configuration docs
  Cargo.toml
  src/sources/aws_ecs_metrics/mod.rs
  website/cue/reference/components/sources/aws_ecs_metrics.cue
  website/cue/reference/components/sources/base/aws_ecs_metrics.cue
Labels: domain: sources, domain: external docs, source: aws_ecs_metrics

#15667 feat(socket): Use OptionalValuePath in the unix socket config
  src/sources/socket/mod.rs
  src/sources/socket/unix.rs
Labels: source: socket, domain: sources, ci-condition: integration tests enable

#15617 enhancement(statsd source, statsd sink)!: support enhanced metric tags
  lib/vector-core/src/event/metric/mod.rs
  lib/vector-core/src/event/metric/tags.rs
  src/sinks/statsd.rs
  src/sources/statsd/mod.rs
  src/sources/statsd/parser.rs
  website/content/en/highlights/2023-01-17-0-27-0-upgrade-guide.md
Labels: type: enhancement, source: statsd, sink: statsd, meta: breaking change, domain: sources, domain: sinks, domain: core

#15695 chore(x86_64 platform): Build packages with an older glibc to reenable centos7 and others.
  scripts/cross/bootstrap-centos.sh
  scripts/cross/entrypoint-centos.sh
  scripts/cross/x86_64-unknown-linux-gnu.dockerfile
Labels: platform: x86_64, domain: ci

#15699 docs(aws_kinesis_firehose source): Use generated docs for configuration
  src/sources/aws_kinesis_firehose/mod.rs
  website/cue/reference/components/sources/aws_kinesis_firehose.cue
  website/cue/reference/components/sources/base/aws_kinesis_firehose.cue
Labels: domain: sources, domain: external docs, source: aws_kinesis_firehose

#15680 docs(heroku_logs source): Use generated docs for configuration
  src/sources/heroku_logs.rs
  src/sources/util/http/auth.rs
  website/cue/reference/components/sources/base/heroku_logs.cue
  website/cue/reference/components/sources/base/http.cue
  website/cue/reference/components/sources/base/http_server.cue
  website/cue/reference/components/sources/base/prometheus_remote_write.cue
  website/cue/reference/components/sources/heroku_logs.cue
Labels: domain: sources, domain: external docs, source: heroku_logs

#15714 docs(enriching): Remove misleading documentation about supported databases
  website/cue/reference/configuration.cue
Labels: domain: external docs

#15722 chore(kafka): Update Kafka support
  scripts/integration/docker-compose.kafka.yml
  website/cue/reference/services/kafka.cue
Labels: domain: ci, domain: external docs, ci-condition: integration tests enable

#15723 docs(sinks): Remove partitioning docs
  website/cue/reference/components/sinks.cue
  website/layouts/partials/data.html
Labels: domain: external docs

#15744 chore(ci): Lock nextest install on Windows
  scripts/environment/bootstrap-windows-2019.ps1
Labels: domain: ci

#15747 chore(docs): typo fix
  src/sources/util/unix_stream.rs
Labels: domain: sources

#15745 enhancement(datadog_logs sink): Add custom header configuration
  src/config/enterprise.rs
  src/sinks/datadog/logs/config.rs
  src/sinks/datadog/logs/service.rs
  src/sinks/datadog/logs/tests.rs
  src/sinks/http.rs
  src/sinks/util/http.rs
  website/cue/reference/components/sinks/base/datadog_logs.cue
  website/cue/reference/components/sinks/datadog_logs.cue
Labels: domain: sinks, domain: external docs

#15766 docs(docker_logs source): Remove warning lacking evidence
  website/cue/reference/components/sources/docker_logs.cue
Labels: domain: external docs

#15779 chore(docs): remove vector from component descriptions that were missed
  lib/vector-core/src/config/mod.rs
  lib/vector-core/src/config/proxy.rs
  src/docker.rs
  src/gcp.rs
  src/sources/internal_metrics.rs
  src/sources/util/encoding_config.rs
  website/cue/reference/components/base/sinks.cue
  website/cue/reference/components/base/sources.cue
  website/cue/reference/components/sinks/base/amqp.cue
  website/cue/reference/components/sinks/base/apex.cue
  website/cue/reference/components/sinks/base/aws_cloudwatch_logs.cue
  website/cue/reference/components/sinks/base/aws_cloudwatch_metrics.cue
  website/cue/reference/components/sinks/base/aws_kinesis_firehose.cue
  website/cue/reference/components/sinks/base/aws_kinesis_streams.cue
  website/cue/reference/components/sinks/base/aws_s3.cue
  website/cue/reference/components/sinks/base/aws_sqs.cue
  website/cue/reference/components/sinks/base/axiom.cue
  website/cue/reference/components/sinks/base/azure_blob.cue
  website/cue/reference/components/sinks/base/azure_monitor_logs.cue
  website/cue/reference/components/sinks/base/blackhole.cue
  website/cue/reference/components/sinks/base/clickhouse.cue
  website/cue/reference/components/sinks/base/console.cue
  website/cue/reference/components/sinks/base/datadog_events.cue
  website/cue/reference/components/sinks/base/datadog_logs.cue
  website/cue/reference/components/sinks/base/datadog_metrics.cue
  website/cue/reference/components/sinks/base/datadog_traces.cue
  website/cue/reference/components/sinks/base/elasticsearch.cue
  website/cue/reference/components/sinks/base/file.cue
  website/cue/reference/components/sinks/base/gcp_chronicle_unstructured.cue
  website/cue/reference/components/sinks/base/gcp_cloud_storage.cue
  website/cue/reference/components/sinks/base/gcp_pubsub.cue
  website/cue/reference/components/sinks/base/gcp_stackdriver_logs.cue
  website/cue/reference/components/sinks/base/gcp_stackdriver_metrics.cue
  website/cue/reference/components/sinks/base/honeycomb.cue
  website/cue/reference/components/sinks/base/http.cue
  website/cue/reference/components/sinks/base/humio_logs.cue
  website/cue/reference/components/sinks/base/humio_metrics.cue
  website/cue/reference/components/sinks/base/influxdb_logs.cue
  website/cue/reference/components/sinks/base/influxdb_metrics.cue
  website/cue/reference/components/sinks/base/kafka.cue
  website/cue/reference/components/sinks/base/logdna.cue
  website/cue/reference/components/sinks/base/loki.cue
  website/cue/reference/components/sinks/base/nats.cue
  website/cue/reference/components/sinks/base/new_relic.cue
  website/cue/reference/components/sinks/base/papertrail.cue
  website/cue/reference/components/sinks/base/prometheus_exporter.cue
  website/cue/reference/components/sinks/base/prometheus_remote_write.cue
  website/cue/reference/components/sinks/base/pulsar.cue
  website/cue/reference/components/sinks/base/redis.cue
  website/cue/reference/components/sinks/base/sematext_logs.cue
  website/cue/reference/components/sinks/base/sematext_metrics.cue
  website/cue/reference/components/sinks/base/socket.cue
  website/cue/reference/components/sinks/base/statsd.cue
  website/cue/reference/components/sinks/base/vector.cue
  website/cue/reference/components/sinks/base/websocket.cue
  website/cue/reference/components/sources/base/docker_logs.cue
  website/cue/reference/components/sources/base/file.cue
  website/cue/reference/components/sources/base/gcp_pubsub.cue
  website/cue/reference/components/sources/base/internal_metrics.cue
  website/cue/reference/components/transforms/base/aws_ec2_metadata.cue
Labels: domain: sources, domain: external docs, domain: core
