Repository vectordotdev/vector, pull requests merged in 2022-07, with the labels that each got.

#13253 fix(vrl): support coalescing for read only paths
  lib/lookup/src/lookup_buf/mod.rs
  lib/lookup/src/lookup_buf/segmentbuf.rs
  lib/vrl/compiler/src/state.rs
  lib/vrl/tests/tests/expressions/assignment/read_only_coalesce.vrl
  lib/vrl/tests/tests/expressions/assignment/read_only_coalesce_allowed.vrl
  lib/vrl/tests/tests/expressions/assignment/read_only_nested_recursive_coalesce.vrl
Labels: domain: vrl, vrl: typedef

#13356 fix(buffers): tighten up logic around not overrunning maximum buffer size
  lib/vector-buffers/proptest-regressions/variants/disk_v2/tests/model/mod.txt
  lib/vector-buffers/src/encoding.rs
  lib/vector-buffers/src/test/common/messages.rs
  lib/vector-buffers/src/variants/disk_v1/tests/acknowledgements.rs
  lib/vector-buffers/src/variants/disk_v1/tests/size_limits.rs
  lib/vector-buffers/src/variants/disk_v2/common.rs
  lib/vector-buffers/src/variants/disk_v2/ledger.rs
  lib/vector-buffers/src/variants/disk_v2/mod.rs
  lib/vector-buffers/src/variants/disk_v2/reader.rs
  lib/vector-buffers/src/variants/disk_v2/record.rs
  lib/vector-buffers/src/variants/disk_v2/tests/invariants.rs
  lib/vector-buffers/src/variants/disk_v2/tests/mod.rs
  lib/vector-buffers/src/variants/disk_v2/tests/model/filesystem.rs
  lib/vector-buffers/src/variants/disk_v2/tests/model/mod.rs
  lib/vector-buffers/src/variants/disk_v2/tests/model/record.rs
  lib/vector-buffers/src/variants/disk_v2/tests/record.rs
  lib/vector-buffers/src/variants/disk_v2/tests/size_limits.rs
  lib/vector-buffers/src/variants/disk_v2/writer.rs
  website/cue/reference/components/sinks.cue
Labels: domain: external docs

#13415 fix(vrl): fix vrl tests from merge conflict
  lib/vrl/tests/tests/expressions/assignment/read_only_coalesce.vrl
  lib/vrl/tests/tests/expressions/assignment/read_only_nested_recursive_coalesce.vrl
Labels: domain: vrl

#13406 fix(datadog_metrics sink): fix datadog api key pass-through for metrics
  src/sinks/datadog/metrics/request_builder.rs
  src/sinks/datadog/metrics/service.rs
  src/sinks/datadog/metrics/sink.rs
Labels: sink: datadog_metrics, domain: sinks

#13416 docs(datadog provider): Correct the documentatation of API key handling
  website/cue/reference/components/sinks/datadog.cue
  website/cue/reference/components/sinks/datadog_events.cue
  website/cue/reference/components/sinks/datadog_logs.cue
  website/cue/reference/components/sinks/datadog_metrics.cue
  website/cue/reference/components/sinks/datadog_traces.cue
Labels: domain: external docs

#13331 docs(codecs, sinks): Document changes to sink encoding
  website/content/en/highlights/2022-05-23-0-23-0-upgrade-guide.md
  website/cue/reference.cue
  website/cue/reference/components.cue
  website/cue/reference/components/sinks.cue
  website/cue/reference/components/sinks/aws_cloudwatch_logs.cue
  website/cue/reference/components/sinks/aws_kinesis_firehose.cue
  website/cue/reference/components/sinks/aws_kinesis_streams.cue
  website/cue/reference/components/sinks/aws_s3.cue
  website/cue/reference/components/sinks/azure_blob.cue
  website/cue/reference/components/sinks/console.cue
  website/cue/reference/components/sinks/file.cue
  website/cue/reference/components/sinks/gcp_cloud_storage.cue
  website/cue/reference/components/sinks/http.cue
  website/cue/reference/components/sinks/kafka.cue
  website/cue/reference/components/sinks/new_relic_logs.cue
  website/cue/reference/components/sinks/socket.cue
  website/cue/reference/examples.cue
Labels: domain: external docs

#13430 chore(tests): Fix `cargo test --package vector_common`
  lib/vector-common/Cargo.toml
Labels: domain: tests, type: tech debt

#12683 chore(vrl): improve performance of `if-predicate` expression
  lib/vrl/compiler/src/expression/predicate.rs
Labels: domain: vrl

#13007 feat(sink): Add Axiom sink
  .github/semantic.yml
  .github/workflows/integration-test.yml
  Cargo.toml
  Makefile
  scripts/integration/docker-compose.axiom.yml
  src/sinks/axiom.rs
  src/sinks/mod.rs
  website/content/en/docs/reference/configuration/sinks/axiom.md
  website/cue/reference/components/sinks/axiom.cue
  website/cue/reference/services/axiom.cue
  website/cue/reference/urls.cue
  website/data/redirects.yaml
Labels: domain: sinks, domain: ci, domain: external docs, ci-condition: integration tests enable

#13432 chore(buffers): Flatten out `test` library
  lib/vector-buffers/src/test/action.rs
  lib/vector-buffers/src/test/common/mod.rs
  lib/vector-buffers/src/test/helpers.rs
  lib/vector-buffers/src/test/messages.rs
  lib/vector-buffers/src/test/mod.rs
  lib/vector-buffers/src/test/model/in_memory.rs
  lib/vector-buffers/src/test/model/on_disk_v1.rs
  lib/vector-buffers/src/test/model/on_disk_v2.rs
  lib/vector-buffers/src/test/variant.rs
  lib/vector-buffers/src/topology/channel/limited_queue.rs
  lib/vector-buffers/src/variants/disk_v1/tests/acknowledgements.rs
  lib/vector-buffers/src/variants/disk_v1/tests/basic.rs
  lib/vector-buffers/src/variants/disk_v1/tests/event_count.rs
  lib/vector-buffers/src/variants/disk_v1/tests/mod.rs
  lib/vector-buffers/src/variants/disk_v1/tests/size_limits.rs
  lib/vector-buffers/src/variants/disk_v2/tests/acknowledgements.rs
  lib/vector-buffers/src/variants/disk_v2/tests/basic.rs
  lib/vector-buffers/src/variants/disk_v2/tests/invariants.rs
  lib/vector-buffers/src/variants/disk_v2/tests/known_errors.rs
  lib/vector-buffers/src/variants/disk_v2/tests/model/mod.rs
  lib/vector-buffers/src/variants/disk_v2/tests/record.rs
  lib/vector-buffers/src/variants/disk_v2/tests/size_limits.rs
Labels: type: tech debt, domain: buffers

#13435 fix(datadog_archives) fix typo in error msg
  src/sinks/datadog_archives.rs
Labels: domain: sinks

#13445 fix(websocket sink, pulsar sink): Fix superfluous `flatten` attribute in `encoding` key
  src/sinks/pulsar.rs
  src/sinks/websocket/config.rs
Labels: domain: sinks

#13288 feat(codecs, sources): Implement GELF decoder
  Cargo.lock
  lib/codecs/Cargo.toml
  lib/codecs/src/decoding/format/gelf.rs
  lib/codecs/src/decoding/format/mod.rs
  lib/codecs/src/decoding/mod.rs
  lib/codecs/src/gelf.rs
  lib/codecs/src/lib.rs
  lib/value/src/value/serde.rs
  src/sources/datadog/agent/mod.rs
Labels: domain: sources

#13446 enhancement(dev): add makefile target check-deny
  .github/workflows/test.yml
  Makefile
  deny.toml
  scripts/check-deny.sh
Labels: domain: ci, domain: dev

#13449 chore(external docs): clarify TLS cert validations
  website/cue/reference/components.cue
Labels: domain: external docs

#13338 enhancement(vrl): Add `geoip` enrichment table
  Cargo.toml
  benches/enrichment_tables.rs
  src/enrichment_tables/geoip.rs
  src/enrichment_tables/mod.rs
  website/cue/reference/configuration.cue
  website/cue/reference/remap/functions.cue
Labels: domain: external docs

#13468 chore(dev): delete Cargo.locks & compiler/fuzz
  lib/value/Cargo.lock
  lib/vrl/compiler/fuzz/.gitignore
  lib/vrl/compiler/fuzz/Cargo.lock
  lib/vrl/compiler/fuzz/Cargo.toml
  lib/vrl/compiler/fuzz/fuzz_targets/vm_differential.rs
  lib/vrl/proptests/Cargo.lock
Labels: domain: dev, domain: vrl

#13418 fix(sinks, codecs): Restrict sink input types
  src/sinks/aws_cloudwatch_logs/config.rs
  src/sinks/aws_kinesis_firehose/config.rs
  src/sinks/aws_kinesis_streams/config.rs
  src/sinks/aws_s3/config.rs
  src/sinks/aws_sqs/config.rs
  src/sinks/azure_blob/config.rs
  src/sinks/file/mod.rs
  src/sinks/gcp/cloud_storage.rs
  src/sinks/gcp/pubsub.rs
  src/sinks/http.rs
  src/sinks/humio/logs.rs
  src/sinks/kafka/config.rs
  src/sinks/loki/config.rs
  src/sinks/nats.rs
  src/sinks/papertrail.rs
  src/sinks/redis.rs
  src/sinks/socket.rs
  src/sinks/splunk_hec/logs/config.rs
  website/cue/reference/components/sinks/blackhole.cue
  website/cue/reference/components/sinks/vector.cue
Labels: domain: sinks, domain: external docs

#13471 chore(deps): bump async-graphql / async-graphql-warp from 3.0.38 to 4.0.4
  Cargo.lock
  Cargo.toml
  lib/value/Cargo.toml
  src/api/schema/relay.rs
Labels: domain: deps

#13473 docs(config): Add highlight for secrets management
  website/content/en/highlights/2022-07-07-secrets-management.md
  website/cue/reference/configuration.cue
Labels: domain: external docs

#13477 chore(deps): Upgrade Rust to 1.62.0
  Tiltfile
  lib/datadog/filter/src/matcher.rs
  lib/datadog/grok/src/lexer.rs
  lib/dnsmsg-parser/src/dns_message_parser.rs
  lib/soak/Dockerfile
  lib/value/src/value/target.rs
  lib/vector-common/src/conversion.rs
  lib/vector-common/src/conversion/tests/unix.rs
  lib/vector-common/src/encode_key_value.rs
  lib/vector-common/src/event_data_eq.rs
  lib/vector-config-macros/src/ast/container.rs
  lib/vector-core/build.rs
  lib/vector-core/src/event/metric/mod.rs
  lib/vector-core/src/event/util/log/all_fields.rs
  lib/vector-core/src/transform/runtime_transform/vec_stream.rs
  lib/vrl/stdlib/src/ip_aton.rs
  rust-toolchain.toml
  soaks/Dockerfile.builder
  src/api/tap.rs
  src/config/unit_test/mod.rs
  src/config/watcher.rs
  src/graph.rs
  src/internal_events/aws_ecs_metrics.rs
  src/internal_events/metric_to_log.rs
  src/line_agg.rs
  src/sinks/datadog/logs/integration_tests.rs
  src/sinks/datadog/logs/sink.rs
  src/sinks/datadog/logs/tests.rs
  src/sinks/datadog/metrics/encoder.rs
  src/sinks/datadog/metrics/integration_tests.rs
  src/sinks/datadog/traces/integration_tests.rs
  src/sinks/datadog/traces/tests.rs
  src/sinks/kafka/tests.rs
  src/sinks/nats.rs
  src/sinks/sematext/metrics.rs
  src/sinks/socket.rs
  src/sinks/splunk_hec/logs/tests.rs
  src/sinks/splunk_hec/metrics/tests.rs
  src/sinks/util/buffer/mod.rs
  src/sinks/util/encoding/codec.rs
  src/sinks/util/sink.rs
  src/sources/nginx_metrics/parser.rs
  src/sources/postgresql_metrics.rs
  src/sources/util/unix_stream.rs
  src/test_util/mod.rs
Labels: domain: sources, domain: sinks, ci-condition: k8s e2e all targets, domain: vrl, ci-condition: k8s e2e tests enable, ci-condition: integration tests enable, domain: core

#13463 chore(core): Reimplement finalizer stream using `async-stream`
  Cargo.lock
  lib/vector-common/Cargo.toml
  lib/vector-common/src/finalizer.rs
Labels: type: tech debt, source: kafka, ci-condition: integration tests enable

#13481 docs(codecs): Correct sink codec highlight and document length_delimited framing
  website/content/en/highlights/2022-07-07-sink-codecs.md
  website/cue/reference/components/sinks.cue
  website/cue/reference/components/sources.cue
Labels: domain: external docs

#13466 enhancement(pipelines transform): add explicit support for traces
  src/conditions/is_trace.rs
  src/conditions/mod.rs
  src/transforms/pipelines/mod.rs
Labels: domain: transforms

#13489 docs: typoes
  src/sources/file.rs
  src/sources/kubernetes_logs/mod.rs
  website/cue/reference/components/sources/file.cue
  website/cue/reference/components/sources/kubernetes_logs.cue
Labels: domain: sources, domain: external docs

#13491 docs(codecs): Correct length_delimited header documentation
  website/cue/reference/components/sinks.cue
  website/cue/reference/components/sources.cue
Labels: domain: external docs

#13390 chore(releasing): Prepare v0.23.0 release
  distribution/install.sh
  website/content/en/highlights/2022-05-03-0-22-0-upgrade-guide.md
  website/content/en/highlights/2022-07-07-0-23-0-upgrade-guide.md
  website/content/en/releases/0.23.0.md
  website/cue/reference/administration/interfaces/kubectl.cue
  website/cue/reference/releases/0.23.0.cue
  website/cue/reference/versions.cue
Labels: domain: releasing, domain: external docs, ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable, ci-condition: integration tests enable

#13502 fix(datadog_agent source): fix datadog agent integration test
  src/sources/datadog/agent/mod.rs
Labels: domain: sources, ci-condition: integration tests enable

#13375 fix(topology): don't panic when re-add input
  src/topology/running.rs
  src/topology/test/reload.rs
Labels: domain: topology

#13509 docs(gcp_pubsub source): Correct changelog entry
  website/cue/reference/releases/0.23.0.cue
Labels: domain: external docs

#13507 chore(vrl): Fix clippy warning on cli
  lib/vrl/cli/src/cmd.rs
Labels: type: tech debt, domain: vrl

#13157 chore(core): Migrate `VrlTarget` implementation to lookup v2
  lib/lookup/src/lookup_v2/compat.rs
  lib/lookup/src/lookup_v2/mod.rs
  lib/vector-core/src/event/log_event.rs
  lib/vector-core/src/event/util/log/mod.rs
  lib/vector-core/src/event/util/log/remove.rs
  lib/vector-core/src/event/vrl_target.rs
Labels: ci-condition: integration tests enable, domain: core

#13515 docs: Fix typos in datadog_agent docs
  website/cue/reference/components/sources/datadog_agent.cue
Labels: domain: external docs

#13523 chore(releasing): Regenerate k8s manifests for 0.23.0
  distribution/kubernetes/vector-agent/README.md
  distribution/kubernetes/vector-agent/configmap.yaml
  distribution/kubernetes/vector-agent/daemonset.yaml
  distribution/kubernetes/vector-agent/rbac.yaml
  distribution/kubernetes/vector-agent/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/README.md
  distribution/kubernetes/vector-aggregator/configmap.yaml
  distribution/kubernetes/vector-aggregator/service-headless.yaml
  distribution/kubernetes/vector-aggregator/service.yaml
  distribution/kubernetes/vector-aggregator/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/statefulset.yaml
  distribution/kubernetes/vector-stateless-aggregator/README.md
  distribution/kubernetes/vector-stateless-aggregator/configmap.yaml
  distribution/kubernetes/vector-stateless-aggregator/deployment.yaml
  distribution/kubernetes/vector-stateless-aggregator/service-headless.yaml
  distribution/kubernetes/vector-stateless-aggregator/service.yaml
  distribution/kubernetes/vector-stateless-aggregator/serviceaccount.yaml
Labels: domain: releasing

#13557 fix(buffers): fix minimum size value for `buffer.max_size` in docs
  website/cue/reference/components/sinks.cue
Labels: domain: external docs

#13333 feat(codecs, sources): Implement GELF encoder
  Cargo.lock
  lib/codecs/Cargo.toml
  lib/codecs/src/encoding/format/gelf.rs
  lib/codecs/src/encoding/format/json.rs
  lib/codecs/src/encoding/format/logfmt.rs
  lib/codecs/src/encoding/format/mod.rs
  lib/codecs/src/encoding/format/native_json.rs
  lib/codecs/src/encoding/mod.rs
  lib/codecs/src/lib.rs
  src/codecs/encoding/config.rs
  src/codecs/encoding/encoder.rs
  src/internal_events/splunk_hec.rs
  src/sinks/splunk_hec/logs/encoder.rs
  src/sinks/splunk_hec/metrics/encoder.rs
Labels: domain: sinks, domain: codecs

#13555 chore(tests): upgrade nextest version to 0.9.25
  scripts/environment/prepare.sh
  scripts/integration/Dockerfile
  scripts/integration/docker-compose.axiom.yml
Labels: domain: tests, domain: ci, ci-condition: integration tests enable

#13561 docs(throttle transform): Fix key_field docs to mention templating
  website/cue/reference/components/transforms/throttle.cue
Labels: domain: external docs

#13572 fix(elasticsearch sink): config http request headers in healthcheck
  src/sinks/elasticsearch/common.rs
Labels: sink: elasticsearch, domain: sinks

#13571 fix(elasticsearch sink): add Accept-Encoding header for compression
  src/sinks/elasticsearch/service.rs
Labels: sink: elasticsearch, domain: sinks, ci-condition: integration tests enable

#13582 docs: typoes
  src/transforms/throttle.rs
  website/cue/reference/components/transforms/throttle.cue
  website/cue/reference/releases/0.23.0.cue
Labels: domain: transforms, domain: external docs

#13516 chore(config): pre-flight work for initial integration of configuration schema for sinks
  Cargo.lock
  benches/batch.rs
  lib/codecs/src/encoding/format/avro.rs
  lib/codecs/src/encoding/framing/character_delimited.rs
  lib/codecs/src/encoding/mod.rs
  lib/lookup/Cargo.toml
  lib/lookup/src/lookup_v2/owned.rs
  lib/vector-common/src/datetime.rs
  lib/vector-config-macros/src/ast/container.rs
  lib/vector-config-macros/src/configurable.rs
  lib/vector-config-macros/src/configurable_component.rs
  lib/vector-config-macros/src/lib.rs
  lib/vector-config/src/external.rs
  lib/vector-config/src/lib.rs
  lib/vector-config/src/schema.rs
  lib/vector-config/src/stdlib.rs
  src/codecs/encoding/config.rs
  src/codecs/encoding/transformer.rs
  src/sinks/aws_cloudwatch_logs/config.rs
  src/sinks/http.rs
  src/sinks/loki/config.rs
  src/sinks/mod.rs
  src/sinks/util/adaptive_concurrency/mod.rs
  src/sinks/util/batch.rs
  src/sinks/util/buffer/compression.rs
  src/sinks/util/buffer/metrics/mod.rs
  src/sinks/util/buffer/mod.rs
  src/sinks/util/buffer/partition.rs
  src/sinks/util/compressor.rs
  src/sinks/util/http.rs
  src/sinks/util/service.rs
  src/sinks/util/service/concurrency.rs
  src/sources/host_metrics/mod.rs
Labels: domain: sources, domain: sinks, domain: codecs

#13598 fix(elasticsearch sink): revert add Accept-Encoding header for compression
  src/sinks/elasticsearch/service.rs
Labels: sink: elasticsearch, domain: sinks

#13605 enhancement(observability): Log the address used when building gRPC servers
  src/sources/util/grpc/mod.rs
Labels: domain: sources

#13601 chore(core): Replace `EventArray::for_each_X` with an iterator
  lib/vector-core/src/event/array.rs
  src/sinks/aws_cloudwatch_logs/integration_tests.rs
  src/sinks/datadog/events/tests.rs
  src/sinks/datadog/logs/tests.rs
  src/sinks/elasticsearch/integration_tests.rs
  src/sinks/kafka/tests.rs
  src/source_sender/mod.rs
Labels: type: tech debt, domain: sinks, domain: core

#13604 chore(releasing): Pin to cross 0.2.4
  scripts/cross/aarch64-unknown-linux-gnu.dockerfile
  scripts/cross/aarch64-unknown-linux-musl.dockerfile
  scripts/cross/armv7-unknown-linux-gnueabihf.dockerfile
  scripts/cross/armv7-unknown-linux-musleabihf.dockerfile
  scripts/cross/powerpc-unknown-linux-gnu.dockerfile
  scripts/cross/powerpc64le-unknown-linux-gnu.dockerfile
  scripts/cross/x86_64-unknown-linux-gnu.dockerfile
  scripts/cross/x86_64-unknown-linux-musl.dockerfile
  scripts/environment/prepare.sh
Labels: domain: ci

#13462 feature(vrl): Add typedef support to metadata
  Cargo.lock
  lib/value/src/kind/merge.rs
  lib/vector-core/src/schema/definition.rs
  lib/vector-core/src/schema/requirement.rs
  lib/vector-vrl-functions/src/get_metadata_field.rs
  lib/vector-vrl-functions/src/lib.rs
  lib/vector-vrl-functions/src/remove_metadata_field.rs
  lib/vector-vrl-functions/src/set_metadata_field.rs
  lib/vrl/compiler/src/expression.rs
  lib/vrl/compiler/src/state.rs
  lib/vrl/compiler/src/type_def.rs
  lib/vrl/stdlib/src/unnest.rs
  lib/vrl/tests/tests/internal/metadata_typedef.vrl
  lib/vrl/vrl/src/lib.rs
  src/config/enterprise.rs
  src/sources/datadog/agent/mod.rs
  src/transforms/remap.rs
Labels: domain: sources, domain: transforms, domain: vrl, domain: core

#13624 fix(buffers): Revert handle negative acknowledgements by stopping readers
  lib/vector-buffers/src/internal_events.rs
  lib/vector-buffers/src/test/helpers.rs
  lib/vector-buffers/src/topology/channel/receiver.rs
  lib/vector-buffers/src/variants/disk_v1/mod.rs
  lib/vector-buffers/src/variants/disk_v1/reader.rs
  lib/vector-buffers/src/variants/disk_v1/tests/acknowledgements.rs
  lib/vector-buffers/src/variants/disk_v1/tests/basic.rs
  lib/vector-buffers/src/variants/disk_v1/tests/mod.rs
  lib/vector-buffers/src/variants/disk_v2/ledger.rs
  lib/vector-buffers/src/variants/disk_v2/reader.rs
  lib/vector-buffers/src/variants/disk_v2/tests/basic.rs
  lib/vector-buffers/src/variants/disk_v2/v1_migration.rs
Labels: domain: buffers, domain: delivery

#13640 chore(docs): Update link to Security guide
  docs/REVIEWING.md
Labels: domain: internal docs

#13574 chore(dev): Standardize on a common maximum line length
  .editorconfig
Labels: type: task, domain: dev

#13631 chore(metrics): Eliminate histogram bucket loop
  lib/vector-core/src/metrics/handle.rs
Labels: type: tech debt, domain: performance, domain: metrics, domain: core

#13618 enhancement(flatten): Introduce an optional separator parameter
  lib/vrl/stdlib/src/flatten.rs
  website/cue/reference/remap/functions/flatten.cue
Labels: domain: external docs, domain: vrl

#13581 fix(vrl): extend parse_apache_log error format compatibility
  lib/vrl/stdlib/src/log_util.rs
  lib/vrl/stdlib/src/parse_apache_log.rs
  lib/vrl/stdlib/src/parse_common_log.rs
Labels: domain: vrl, vrl: stdlib

#13653 chore(internal_metrics source): Upgrade `metrics` crates
  Cargo.lock
  Cargo.toml
  lib/vector-buffers/Cargo.toml
  lib/vector-buffers/benches/common.rs
  lib/vector-common/Cargo.toml
  lib/vector-core/Cargo.toml
  lib/vector-core/src/event/metric/mod.rs
  lib/vector-core/src/metrics/mod.rs
  lib/vector-core/src/metrics/recorder.rs
  lib/vector-core/src/metrics/storage.rs
Labels: type: tech debt, domain: metrics, source: internal_metrics, domain: core, dependencies

#13656 fix(mongodb_metrics source): Change bytes_written_from to i64
  src/sources/mongodb_metrics/types.rs
Labels: domain: sources

#13663 chore(dependencies): Upgrade metrics crates
  Cargo.lock
  Cargo.toml
  lib/vector-buffers/Cargo.toml
  lib/vector-common/Cargo.toml
  lib/vector-core/Cargo.toml
  lib/vector-core/src/metrics/recorder.rs
Labels: type: tech debt, domain: metrics, domain: core, dependencies

#13658 chore(opentelemetry source): Refactor source into multiple files
  src/sources/opentelemetry/log.rs
  src/sources/opentelemetry/mod.rs
  src/sources/opentelemetry/tests.rs
Labels: domain: sources, source: opentelemetry

#12733 chore(new sink): add RFC for Google Chronicle sink
  rfcs/2022-05-17-11532-chronicle-sink.md
Labels: domain: rfc

#13667 chore(deps): Upgrade Rust to 1.62.1
  rust-toolchain.toml
  src/sources/aws_kinesis_firehose/mod.rs
  src/sources/datadog/agent/tests.rs
  src/sources/fluent/mod.rs
  src/sources/heroku_logs.rs
  src/sources/internal_logs.rs
  src/sources/logstash.rs
Labels: type: tech debt, domain: sources, dependencies

#13610 enhancement(sample transform): Allow for traces as inputs and outputs
  src/transforms/sample.rs
  website/content/en/docs/reference/configuration/transforms/sample.md
  website/cue/reference/components/transforms/sample.cue
Labels: transform: sample, domain: transforms, domain: external docs

#13693 chore(core): rename `sources::datadog::agent` to `sources::datadog_agent`
  src/sources/datadog/mod.rs
  src/sources/datadog_agent/integration_tests.rs
  src/sources/datadog_agent/logs.rs
  src/sources/datadog_agent/metrics.rs
  src/sources/datadog_agent/mod.rs
  src/sources/datadog_agent/tests.rs
  src/sources/datadog_agent/traces.rs
  src/sources/mod.rs
Labels: domain: sources, ci-condition: integration tests enable

#13619 fix(vrl): Fix many typedef bugs, introduce `Kind::get` and `Kind::insert`
  lib/lookup/src/lookup_v2/compat.rs
  lib/lookup/src/lookup_v2/jit.rs
  lib/lookup/src/lookup_v2/mod.rs
  lib/lookup/src/lookup_v2/owned.rs
  lib/value/src/kind.rs
  lib/value/src/kind/builder.rs
  lib/value/src/kind/collection.rs
  lib/value/src/kind/collection/index.rs
  lib/value/src/kind/collection/unknown.rs
  lib/value/src/kind/comparison.rs
  lib/value/src/kind/conversion.rs
  lib/value/src/kind/crud/get.rs
  lib/value/src/kind/crud/insert.rs
  lib/value/src/kind/crud/mod.rs
  lib/value/src/kind/debug.rs
  lib/value/src/kind/find.rs
  lib/value/src/kind/insert.rs
  lib/value/src/kind/merge.rs
  lib/value/src/kind/nest.rs
  lib/value/src/value/crud/mod.rs
  lib/vector-core/src/lib.rs
  lib/vector-core/src/schema/definition.rs
  lib/vector-core/src/schema/requirement.rs
  lib/vector-vrl-functions/src/get_metadata_field.rs
  lib/vector-vrl-functions/src/set_metadata_field.rs
  lib/vector-vrl-functions/src/set_semantic_meaning.rs
  lib/vrl/compiler/src/expression/assignment.rs
  lib/vrl/compiler/src/expression/if_statement.rs
  lib/vrl/compiler/src/expression/op.rs
  lib/vrl/compiler/src/expression/query.rs
  lib/vrl/compiler/src/function.rs
  lib/vrl/compiler/src/type_def.rs
  lib/vrl/compiler/src/value/kind.rs
  lib/vrl/stdlib/src/append.rs
  lib/vrl/stdlib/src/merge.rs
  lib/vrl/stdlib/src/parse_xml.rs
  lib/vrl/stdlib/src/push.rs
  lib/vrl/stdlib/src/slice.rs
  lib/vrl/stdlib/src/type_def.rs
  lib/vrl/stdlib/src/unnest.rs
  lib/vrl/tests/tests/diagnostics/cannot_mutate_element_for_non_array_type.vrl
  lib/vrl/tests/tests/diagnostics/cannot_mutate_field_for_non_object_type.vrl
  lib/vrl/tests/tests/diagnostics/unnest_typedefs.vrl
  lib/vrl/tests/tests/diagnostics/unsuccessful_parse_json_type.vrl
  lib/vrl/tests/tests/expressions/assignment/array_assignment_with_holes.vrl
  lib/vrl/tests/tests/expressions/assignment/infallible_assignment_typedef.vrl
  lib/vrl/tests/tests/expressions/assignment/negative_array_assignment_with_holes.vrl
  lib/vrl/tests/tests/functions/push_unknown_array_typedef.vrl
  lib/vrl/tests/tests/functions/slice_typedef.vrl
  lib/vrl/tests/tests/internal/closure_arg_kind.vrl
  lib/vrl/tests/tests/internal/unknown_typedef_undefined.vrl
  src/transforms/remap.rs
  website/content/en/highlights/2022-08-16-0-24-0-upgrade-guide.md
Labels: domain: transforms, domain: vrl, domain: core

#13704 fix(enriching): fetch indexes if vector config is modified
  src/config/diff.rs
  src/topology/builder.rs
Labels: domain: topology

#13696 enhancement(host_metrics source): 'iowait' stat on Linux
  src/sources/host_metrics/cpu.rs
  website/cue/reference/components/sources/host_metrics.cue
Labels: domain: sources, domain: external docs

#13724 docs(releasing): Add note to 0.23.0 about libc/libc++ changes
  website/content/en/highlights/2022-07-07-0-23-0-upgrade-guide.md
  website/cue/reference/releases/0.23.0.cue
Labels: domain: external docs

#13541 docs: add source_type for sources that report it
  website/cue/reference/components/sources/aws_kinesis_firehose.cue
  website/cue/reference/components/sources/aws_s3.cue
  website/cue/reference/components/sources/aws_sqs.cue
  website/cue/reference/components/sources/datadog_agent.cue
  website/cue/reference/components/sources/demo_logs.cue
  website/cue/reference/components/sources/docker_logs.cue
  website/cue/reference/components/sources/exec.cue
  website/cue/reference/components/sources/file.cue
  website/cue/reference/components/sources/gcp_pubsub.cue
  website/cue/reference/components/sources/heroku_logs.cue
  website/cue/reference/components/sources/http.cue
  website/cue/reference/components/sources/internal_logs.cue
  website/cue/reference/components/sources/journald.cue
  website/cue/reference/components/sources/kafka.cue
  website/cue/reference/components/sources/logstash.cue
  website/cue/reference/components/sources/nats.cue
  website/cue/reference/components/sources/redis.cue
  website/cue/reference/components/sources/socket.cue
  website/cue/reference/components/sources/splunk_hec.cue
  website/cue/reference/components/sources/stdin.cue
  website/cue/reference/components/sources/syslog.cue
  website/cue/reference/components/sources/vector.cue
Labels: domain: external docs

#13721 fix(vrl): Do not include empty matches for `grok` pattern
  lib/datadog/grok/src/parse_grok.rs
  lib/vrl/stdlib/src/parse_groks.rs
Labels: domain: vrl

#13635 chore(vrl): Call `parse_groks` in implementation of `parse_grok`
  lib/vrl/stdlib/src/parse_grok.rs
  lib/vrl/stdlib/src/parse_groks.rs
Labels: domain: vrl

#13719 fix(host_metrics source): Fix handling parsing Linux hybrid cgroups
  src/sources/host_metrics/cgroups.rs
  src/sources/host_metrics/mod.rs
Labels: type: bug, domain: sources, source: host_metrics

#13733 chore: Fix outdated test in `parse_grok`
  lib/vrl/stdlib/src/parse_grok.rs
Labels: domain: vrl

#13717 enhancement(schemas): Simplify schema definition configuration
  lib/codecs/src/decoding/format/bytes.rs
  lib/codecs/src/decoding/format/gelf.rs
  lib/codecs/src/decoding/format/json.rs
  lib/codecs/src/decoding/format/native.rs
  lib/codecs/src/decoding/format/native_json.rs
  lib/codecs/src/decoding/format/syslog.rs
  lib/value/src/kind/builder.rs
  lib/value/src/kind/debug.rs
  lib/vector-core/src/event/metadata.rs
  lib/vector-core/src/schema/definition.rs
  src/config/unit_test/mod.rs
  src/sources/datadog_agent/mod.rs
  src/sources/datadog_agent/tests.rs
  src/topology/schema.rs
  src/transforms/remap.rs
Labels: domain: topology, domain: sources, domain: transforms, domain: core

#13734 fix(elasticsearch sink, sematext sink): Fix index template being excluded via `only_fields`/`except_fields` transform
  src/sinks/elasticsearch/sink.rs
  src/sinks/elasticsearch/tests.rs
Labels: domain: sinks

#13720 chore(schema): Example for adding `log_namespace` support to `demo_logs` source
  src/sinks/util/adaptive_concurrency/tests.rs
  src/sources/demo_logs.rs
  src/topology/test/source_finished.rs
Labels: domain: topology, domain: sources, domain: sinks

#13739 chore(sinks): Regularize the emitted events in socket sinks
  src/internal_events/socket.rs
  src/sinks/util/socket_bytes_sink.rs
  src/sinks/util/tcp.rs
Labels: sink: socket, type: tech debt, domain: observability, sink: vector, sink: statsd, domain: sinks, sink: papertrail

#13745 enhancement(datadog_agent source): Log the address for the datadog_agent http server
  src/sources/datadog_agent/mod.rs
Labels: domain: observability, domain: sources, source: datadog_logs

#13741 enhancement(sinks): Add support for acknowledgements to all socket sinks
  src/sinks/papertrail.rs
  src/sinks/socket.rs
  src/sinks/statsd.rs
  src/sinks/util/socket_bytes_sink.rs
  src/sinks/util/udp.rs
  src/sinks/vector/mod.rs
  src/sinks/vector/v1.rs
  src/sources/vector/v1.rs
  src/topology/test/crash.rs
  website/cue/reference/components/sinks/papertrail.cue
  website/cue/reference/components/sinks/socket.cue
Labels: sink: socket, type: enhancement, domain: topology, sink: vector, sink: statsd, domain: sources, domain: sinks, sink: papertrail, domain: external docs

#13744 enhancement(pulsar sink): Add end-to-end acknowledgements support
  src/sinks/pulsar.rs
  website/cue/reference/components/sinks/pulsar.cue
Labels: type: enhancement, domain: sinks, sink: pulsar, domain: external docs

#13751 chore(docs): update DEVELOPING.md to reference correct integration test github workflow file.
  docs/DEVELOPING.md
Labels: domain: internal docs

#13753 docs(gcp_chronicle_unstructured sink): Publish docs
  website/content/en/docs/reference/configuration/sinks/gcp_chronicle.md
  website/cue/reference/components/sinks/gcp_chronicle_unstructured.cue
Labels: domain: external docs

#13735 chore(host_metrics source): Simplify internal collection of metrics
  src/api/schema/metrics/host.rs
  src/sources/host_metrics/cgroups.rs
  src/sources/host_metrics/cpu.rs
  src/sources/host_metrics/disk.rs
  src/sources/host_metrics/filesystem.rs
  src/sources/host_metrics/memory.rs
  src/sources/host_metrics/mod.rs
  src/sources/host_metrics/network.rs
Labels: type: tech debt, domain: sources, source: host_metrics

#13749 chore(observability): Remove extraneous to_string
  src/internal_events/socket.rs
Labels: sink: socket, type: tech debt, domain: observability, source: internal_metrics

#13750 enhancement(prometheus_exporter sink): Add acknowledgements support
  lib/vector-common/src/finalization.rs
  src/sinks/prometheus/exporter.rs
  src/sources/prometheus/scrape.rs
  website/cue/reference/components/sinks/prometheus_exporter.cue
Labels: type: enhancement, domain: sources, domain: sinks, domain: external docs, sink: prometheus_exporter

#13666 feature(core): Add flag for enabling sink requirements
  src/config/builder.rs
  src/config/schema.rs
  src/topology/builder.rs
Labels: domain: topology, domain: schemas

#13755 enhancement(prometheus_remote_write sink): Add acknowledgements support
  src/sinks/prometheus/remote_write.rs
Labels: type: enhancement, domain: sinks, sink: prometheus_remote_write

#13757 chore(config): initial integration of configuration schema for sinks (part three)
  Cargo.lock
  lib/vector-config-macros/src/ast/container.rs
  lib/vector-config-macros/src/ast/field.rs
  lib/vector-config-macros/src/ast/util.rs
  lib/vector-config-macros/src/ast/variant.rs
  lib/vector-config-macros/src/configurable.rs
  lib/vector-config/Cargo.toml
  lib/vector-config/src/external.rs
  lib/vector-config/src/external/encoding_rs.rs
  lib/vector-config/src/external/indexmap.rs
  lib/vector-config/src/external/mod.rs
  lib/vector-config/src/external/no_proxy.rs
  lib/vector-config/src/external/serde_with.rs
  lib/vector-config/src/external/toml.rs
  lib/vector-config/src/lib.rs
  lib/vector-config/src/schema.rs
  lib/vector-config/src/ser.rs
  lib/vector-config/src/stdlib.rs
  lib/vector-config/src/str.rs
  lib/vector-config/tests/configurable_string.rs
  lib/vector-config/tests/smoke.rs
  src/sinks/gcp/chronicle_unstructured.rs
  src/sinks/loki/config.rs
  src/sinks/mod.rs
  src/sinks/prometheus/exporter.rs
  src/template.rs
Labels: domain: sinks

#13737 fix(codecs): Fix bug where Vector shuts down when a decoding error is returned to `FramedRead`
  Cargo.lock
  Cargo.toml
  src/codecs/decoding/decoder.rs
Labels: domain: codecs
