Repository vectordotdev/vector, pull requests merged in 2022-06, with the labels that each got.

#12920 enhancement(aws_ec2_metadata transform): Lower request timeout
  src/transforms/aws_ec2_metadata.rs
  website/cue/reference/components/transforms/aws_ec2_metadata.cue
Labels: domain: transforms, domain: external docs

#12866 enhancement(aws_cloudwatch_logs sink): add `json/emf` support
  src/aws/mod.rs
  src/sinks/aws_cloudwatch_logs/config.rs
  src/sinks/aws_cloudwatch_logs/request.rs
  src/sinks/aws_cloudwatch_logs/service.rs
  website/cue/reference/components/sinks/aws_cloudwatch_logs.cue
Labels: domain: sinks, domain: external docs, ci-condition: integration tests enable

#12934 chore(releasing): Bump installation versions
  distribution/install.sh
  website/cue/reference/administration/interfaces/kubectl.cue
Labels: domain: releasing, domain: external docs

#12941 docs: typoes
  website/cue/reference/releases/0.22.0.cue
Labels: domain: external docs

#12950 chore(ci): Run check-component-features in parallel
  .github/workflows/test.yml
  Makefile
  scripts/check-component-features
  scripts/check-one-feature
  src/sources/util/http/auth.rs
  src/sources/util/http/error.rs
  src/sources/vector/v1.rs
Labels: type: tech debt, domain: sources, domain: ci, domain: dev

#12970 chore: Update the mold linker to 1.2 from 1.1
  scripts/environment/bootstrap-ubuntu-20.04.sh
  soaks/Dockerfile.builder
  tilt/Dockerfile
Labels: domain: ci

#12977 chore(tests): Avoid sharing target with host system for integration tests
  .github/workflows/integration-test.yml
  scripts/integration/Dockerfile
  scripts/integration/docker-compose.aws.yml
  scripts/integration/docker-compose.azure.yml
  scripts/integration/docker-compose.clickhouse.yml
  scripts/integration/docker-compose.datadog-agent.yml
  scripts/integration/docker-compose.datadog-logs.yml
  scripts/integration/docker-compose.datadog-metrics.yml
  scripts/integration/docker-compose.datadog-traces.yml
  scripts/integration/docker-compose.dnstap.yml
  scripts/integration/docker-compose.docker-logs.yml
  scripts/integration/docker-compose.elasticsearch.yml
  scripts/integration/docker-compose.eventstoredb.yml
  scripts/integration/docker-compose.fluent.yml
  scripts/integration/docker-compose.gcp.yml
  scripts/integration/docker-compose.humio.yml
  scripts/integration/docker-compose.influxdb.yml
  scripts/integration/docker-compose.kafka.yml
  scripts/integration/docker-compose.logstash.yml
  scripts/integration/docker-compose.loki.yml
  scripts/integration/docker-compose.mongodb.yml
  scripts/integration/docker-compose.nats.yml
  scripts/integration/docker-compose.nginx.yml
  scripts/integration/docker-compose.postgres.yml
  scripts/integration/docker-compose.prometheus.yml
  scripts/integration/docker-compose.pulsar.yml
  scripts/integration/docker-compose.redis.yml
  scripts/integration/docker-compose.shutdown.yml
  scripts/integration/docker-compose.splunk.yml
Labels: domain: ci, ci-condition: integration tests enable

#12967 docs: Remove notice from parse_logfmt intended for encoding
  website/cue/reference/remap/functions/parse_logfmt.cue
Labels: domain: external docs

#12979 fix(tag_cardinality_limit transform): Fix deserialization of action
  src/transforms/tag_cardinality_limit.rs
Labels: domain: transforms

#12975 docs(internal_metrics source): Add note about making metrics unique
  website/cue/reference/components/sources/internal_metrics.cue
Labels: domain: external docs

#12971 docs(datadog_metrics sink): Remove `default_namespace` from example
  website/cue/reference/components/sinks/datadog_metrics.cue
Labels: domain: external docs

#12946 feat(sinks): Support suppressing timestamp in splunk_hec_logs sink & defer to splunk when invalid timestamp
  src/internal_events/splunk_hec.rs
  src/sinks/humio/logs.rs
  src/sinks/humio/metrics.rs
  src/sinks/splunk_hec/common/util.rs
  src/sinks/splunk_hec/logs/config.rs
  src/sinks/splunk_hec/logs/encoder.rs
  src/sinks/splunk_hec/logs/integration_tests.rs
  src/sinks/splunk_hec/logs/sink.rs
  src/sinks/splunk_hec/logs/tests.rs
  src/sources/splunk_hec/mod.rs
Labels: sink: splunk_hec, domain: sources, domain: sinks, ci-condition: integration tests enable

#12954 fix(vrl): fix if statement type definitions
  lib/vrl/compiler/src/compiler.rs
  lib/vrl/compiler/src/expression/if_statement.rs
  lib/vrl/compiler/src/state.rs
  lib/vrl/compiler/src/type_def.rs
  lib/vrl/stdlib/src/append.rs
  lib/vrl/stdlib/src/merge.rs
  lib/vrl/stdlib/src/push.rs
  lib/vrl/tests/tests/expressions/if_statement/if_else_external_assignment.vrl
  lib/vrl/tests/tests/expressions/if_statement/if_else_local_assignment.vrl
  lib/vrl/tests/tests/expressions/if_statement/if_expression.vrl
  lib/vrl/tests/tests/expressions/if_statement/if_external_assignment.vrl
  lib/vrl/tests/tests/expressions/if_statement/if_local_assignment.vrl
  lib/vrl/tests/tests/expressions/if_statement/if_new_external_assignment.vrl
  lib/vrl/tests/tests/expressions/if_statement/if_null.vrl
  lib/vrl/tests/tests/expressions/if_statement/if_resolves.vrl
  lib/vrl/tests/tests/issues/12948_conditional_type_def_regression.vrl
  website/content/en/highlights/2022-05-23-0-23-0-upgrade-guide.md
Labels: domain: vrl

#12880 enhancement(vrl): improve precision of fallible expression diagnostic
  lib/vrl/compiler/src/compiler.rs
  lib/vrl/compiler/src/expression.rs
  lib/vrl/compiler/src/expression/assignment.rs
  lib/vrl/compiler/src/expression/predicate.rs
  lib/vrl/tests/tests/internal/fallible_op1.vrl
  lib/vrl/tests/tests/internal/fallible_op2.vrl
  lib/vrl/tests/tests/issues/6469_fallible_operations_marked_as_infallible.vrl
  lib/vrl/tests/tests/rfcs/7204/remove-generic-fallible-error.vrl
Labels: domain: vrl

#12890 enhancement(vrl): correctly diagnose invalid function argument types
  lib/vrl/compiler/src/compiler.rs
  lib/vrl/compiler/src/expression.rs
  lib/vrl/compiler/src/expression/assignment.rs
  lib/vrl/compiler/src/expression/function_argument.rs
  lib/vrl/compiler/src/expression/function_call.rs
  lib/vrl/compiler/src/expression/predicate.rs
  lib/vrl/compiler/src/expression/query.rs
  lib/vrl/tests/tests/diagnostics/unsuccessful_parse_json_type.vrl
  lib/vrl/tests/tests/expressions/if_statement/error_predicate.vrl
  lib/vrl/tests/tests/internal/fallible_op1.vrl
  lib/vrl/tests/tests/internal/fallible_op2.vrl
  lib/vrl/tests/tests/rfcs/7204/remove-generic-fallible-error.vrl
Labels: domain: vrl

#12981 fix(vrl): fix merge operator type def
  lib/vrl/compiler/src/expression/op.rs
  lib/vrl/compiler/src/type_def.rs
  lib/vrl/stdlib/src/merge.rs
  lib/vrl/tests/tests/expressions/arithmetic/merge/key_collision.vrl
  website/content/en/highlights/2022-05-23-0-23-0-upgrade-guide.md
Labels: domain: vrl

#12901 fix(kafka source): Fix handling of negative acknowledgements
  src/internal_events/kafka.rs
  src/source_sender/mod.rs
  src/sources/kafka.rs
Labels: type: bug, source: kafka, domain: sources, ci-condition: integration tests enable, domain: delivery

#12992 fix: Compression config map serialization
  src/sinks/util/buffer/compression.rs
Labels: domain: sinks

#12997 docs: Add known issue for assume role caching to 0.21.0
  website/cue/reference/releases/0.21.0.cue
Labels: domain: external docs

#13000 chore(dev): Add script to run vector with minimal features
  scripts/features
  scripts/run-vector
Labels: domain: ci, domain: dev

#13019 fix(config): make Concurrency struct serialization reversible
  src/sinks/util/service/concurrency.rs
Labels: type: bug, domain: config, domain: sinks

#12983 chore(vrl): Simplify `ExternalEnv`
  lib/vector-vrl-functions/src/set_semantic_meaning.rs
  lib/vrl/compiler/src/compiler.rs
  lib/vrl/compiler/src/expression/assignment.rs
  lib/vrl/compiler/src/expression/query.rs
  lib/vrl/compiler/src/state.rs
  lib/vrl/compiler/src/type_def.rs
  lib/vrl/stdlib/src/unnest.rs
  src/transforms/remap.rs
Labels: domain: transforms, domain: vrl

#13022 enhancement(console sink): Add end-to-end acknowledgement support
  src/sinks/console/config.rs
  src/sinks/console/sink.rs
  src/topology/test/doesnt_reload.rs
  src/topology/test/reload.rs
  src/topology/test/source_finished.rs
  website/cue/reference/components/sinks/console.cue
Labels: sink: console, type: enhancement, domain: topology, domain: sinks, domain: external docs

#13035 chore: Move finalizers and shutdown into `vector-core`
  Cargo.lock
  lib/vector-core/Cargo.toml
  lib/vector-core/src/finalizer.rs
  lib/vector-core/src/lib.rs
  lib/vector-core/src/shutdown.rs
  lib/vector-core/src/trigger.rs
  src/lib.rs
  src/sinks/prometheus/exporter.rs
  src/sinks/util/test.rs
  src/sources/aws_sqs/source.rs
  src/sources/file.rs
  src/sources/gcp_pubsub.rs
  src/sources/journald.rs
  src/sources/kafka.rs
  src/sources/splunk_hec/acknowledgements.rs
  src/sources/util/mod.rs
  src/stream.rs
  src/topology/running.rs
  src/topology/test/transient_state.rs
Labels: domain: topology, type: tech debt, domain: sources, domain: sinks, domain: core

#13038 fix(kubernetes_logs): Compile kube-rs with openssl
  Cargo.lock
  Cargo.toml
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#13021 fix(socket source): Avoid creating unix sockets too early
  src/sources/socket/mod.rs
  src/sources/util/unix_datagram.rs
  src/sources/util/unix_stream.rs
Labels: domain: sources

#13059 docs(provider: humio): Fix indexed_fields example
  website/cue/reference/components/sinks/humio.cue
Labels: domain: external docs

#13064 fix(tests): Regenerate host.docker.internal.crt
  tests/data/host.docker.internal.crt
  tests/data/host.docker.internal.key
Labels: ci-condition: integration tests enable

#13024 fix(vrl): add `never` type
  lib/value/src/kind.rs
  lib/value/src/kind/builder.rs
  lib/value/src/kind/collection/exact.rs
  lib/value/src/kind/collection/unknown.rs
  lib/value/src/kind/comparison.rs
  lib/value/src/kind/conversion.rs
  lib/value/src/kind/debug.rs
  lib/value/src/kind/find.rs
  lib/vrl/compiler/src/compiler.rs
  lib/vrl/compiler/src/expression/abort.rs
  lib/vrl/compiler/src/expression/block.rs
  lib/vrl/compiler/src/expression/function_call.rs
  lib/vrl/compiler/src/expression/op.rs
  lib/vrl/compiler/src/function.rs
  lib/vrl/compiler/src/type_def.rs
  lib/vrl/parser/src/ast.rs
  lib/vrl/stdlib/src/find.rs
  lib/vrl/stdlib/src/remove.rs
  lib/vrl/stdlib/src/set.rs
  lib/vrl/stdlib/src/slice.rs
  lib/vrl/tests/tests/diagnostics/unsuccessful_parse_json_type.vrl
  lib/vrl/tests/tests/expressions/abort/abort.vrl
  lib/vrl/tests/tests/expressions/abort/abort_typedef.vrl
  lib/vrl/tests/tests/expressions/abort/nested_abort.vrl
  website/content/en/highlights/2022-05-23-0-23-0-upgrade-guide.md
Labels: domain: vrl

#13070 chore(docs): Fix examples for metadata functions
  website/cue/reference/remap/functions/get_metadata_field.cue
  website/cue/reference/remap/functions/remove_metadata_field.cue
  website/cue/reference/remap/functions/set_metadata_field.cue
Labels: domain: external docs

#12495 enhancement(splunk_hec sink, humio_logs sink, codecs): Integrate `encoding::Encoder` with `splunk_hec`/`humio_logs` sink
  lib/codecs/src/encoding/format/json.rs
  lib/codecs/src/encoding/format/native_json.rs
  lib/codecs/src/encoding/mod.rs
  src/sinks/humio/logs.rs
  src/sinks/humio/metrics.rs
  src/sinks/humio/mod.rs
  src/sinks/splunk_hec/logs/config.rs
  src/sinks/splunk_hec/logs/encoder.rs
  src/sinks/splunk_hec/logs/integration_tests.rs
  src/sinks/splunk_hec/logs/request_builder.rs
  src/sinks/splunk_hec/logs/tests.rs
  src/sinks/util/encoding/config.rs
  src/sources/splunk_hec/mod.rs
Labels: domain: sources, domain: sinks, ci-condition: integration tests enable

#13016 fix(aws_ecs_metrics source): integration test failures due to 'null' type or missing fields
  src/sources/aws_ecs_metrics/parser.rs
Labels: domain: sources, source: aws_ecs_metrics, ci-condition: integration tests enable

#12767 chore(core): Add arbitrary metadata and secrets
  Cargo.lock
  lib/datadog/grok/src/filters/keyvalue.rs
  lib/datadog/grok/src/parse_grok.rs
  lib/enrichment/src/find_enrichment_table_records.rs
  lib/enrichment/src/get_enrichment_table_record.rs
  lib/lookup/src/path.lalrpop
  lib/value/src/lib.rs
  lib/value/src/secrets.rs
  lib/value/src/value/convert.rs
  lib/vector-core/src/event/metadata.rs
  lib/vector-core/src/event/vrl_target.rs
  lib/vector-vrl-functions/src/get_metadata_field.rs
  lib/vector-vrl-functions/src/get_secret.rs
  lib/vector-vrl-functions/src/lib.rs
  lib/vector-vrl-functions/src/remove_metadata_field.rs
  lib/vector-vrl-functions/src/remove_secret.rs
  lib/vector-vrl-functions/src/set_metadata_field.rs
  lib/vector-vrl-functions/src/set_secret.rs
  lib/vrl/cli/Cargo.toml
  lib/vrl/cli/src/cmd.rs
  lib/vrl/cli/src/repl.rs
  lib/vrl/compiler/src/expression/query.rs
  lib/vrl/compiler/src/function.rs
  lib/vrl/compiler/src/lib.rs
  lib/vrl/core/Cargo.toml
  lib/vrl/core/src/lib.rs
  lib/vrl/core/src/target.rs
  lib/vrl/stdlib/Cargo.toml
  lib/vrl/stdlib/src/get.rs
  lib/vrl/stdlib/src/remove.rs
  lib/vrl/stdlib/src/set.rs
  lib/vrl/stdlib/src/unnest.rs
  lib/vrl/tests/Cargo.toml
  lib/vrl/tests/src/main.rs
  lib/vrl/vrl/Cargo.toml
  lib/vrl/vrl/src/lib.rs
  src/sinks/datadog/events/request_builder.rs
  src/sinks/datadog/events/tests.rs
  src/sinks/datadog/logs/sink.rs
  src/sinks/datadog/logs/tests.rs
  src/sinks/datadog/traces/sink.rs
  src/sinks/datadog/traces/tests.rs
  src/sinks/splunk_hec/logs/sink.rs
  src/sinks/splunk_hec/logs/tests.rs
  src/sinks/splunk_hec/metrics/sink.rs
  src/sinks/splunk_hec/metrics/tests.rs
  src/sources/datadog/agent/logs.rs
  src/sources/datadog/agent/metrics.rs
  src/sources/datadog/agent/traces.rs
  src/sources/splunk_hec/mod.rs
  website/content/en/highlights/2022-06-07-vrl-metadata-and-secrets.md
  website/cue/reference/remap/functions/get_metadata_field.cue
  website/cue/reference/remap/functions/get_secret.cue
  website/cue/reference/remap/functions/remove_metadata_field.cue
  website/cue/reference/remap/functions/remove_secret.cue
  website/cue/reference/remap/functions/set_metadata_field.cue
  website/cue/reference/remap/functions/set_secret.cue
Labels: domain: sources, domain: sinks, domain: external docs, domain: vrl, ci-condition: integration tests enable, domain: core

#13072 fix(socket source): Remove debugging prints left in
  src/sources/socket/mod.rs
  src/sources/util/unix_stream.rs
Labels: type: bug, source: socket, domain: sources

#13094 docs(statsd sink, statsd source): A few docs fixes
  website/content/en/docs/reference/configuration/sinks/statsd.md
  website/content/en/docs/reference/configuration/sources/statsd.md
  website/cue/reference/components/sinks/statsd.cue
Labels: domain: external docs

#12718 enhancement(gcp_pubsub sink, codecs)!: Integrate `encoding::Encoder` with `gcp_pubsub` sink
  src/sinks/gcp/pubsub.rs
  website/content/en/highlights/2022-05-23-0-23-0-upgrade-guide.md
  website/cue/reference/components/sinks/gcp_pubsub.cue
Labels: domain: sinks, domain: external docs

#13066 chore(new_relic sink): Use `Transformer` in `new_relic` sink and remove `EncodingConfigFixed`
  src/sinks/new_relic/config.rs
  src/sinks/new_relic/encoding.rs
  src/sinks/new_relic/sink.rs
Labels: domain: sinks

#13062 enhancement(datadog_archives sink): Use `Transformer` in `datadog_archives` sink
  src/sinks/datadog_archives.rs
Labels: domain: sinks

#13061 enhancement(datadog_logs sink): Use `Transformer` in `datadog_logs` sink and remove `EncodingConfigFixed`
  src/sinks/datadog/logs/config.rs
  src/sinks/datadog/logs/sink.rs
Labels: domain: sinks

#13093 enhancement(aws_ec2_metadata transform): allow the transform to be 'best effort'
  src/transforms/aws_ec2_metadata.rs
  website/cue/reference/components/transforms/aws_ec2_metadata.cue
Labels: domain: transforms, transform: aws_ec2_metadata, domain: external docs, ci-condition: integration tests enable

#13097 chore(deps): Update AWS SDK to 0.13
  Cargo.lock
  Cargo.toml
Labels: ci-condition: integration tests enable

#13096 chore(host_metrics source): Fix default namespace
  src/sources/host_metrics/mod.rs
  src/sources/mod.rs
Labels: domain: sources, ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#13054 enhancement(websocket sink, codecs): Integrate `encoding::Encoder` with `websocket` sink
  src/sinks/util/encoding/mod.rs
  src/sinks/websocket/config.rs
  src/sinks/websocket/sink.rs
Labels: domain: sinks

#13060 chore(elasticsearch sink, sematext sink): Use `Transformer` instead of `EncodingConfigFixed` in `elasticsearch` and `sematext` sinks
  src/sinks/elasticsearch/common.rs
  src/sinks/elasticsearch/config.rs
  src/sinks/elasticsearch/encoder.rs
  src/sinks/elasticsearch/integration_tests.rs
  src/sinks/elasticsearch/request_builder.rs
  src/sinks/elasticsearch/sink.rs
  src/sinks/elasticsearch/tests.rs
  src/sinks/sematext/logs.rs
Labels: domain: sinks

#13089 enhancement(honeycomb sink): Use `Transformer` in `honeycomb` sink
  src/sinks/honeycomb.rs
Labels: domain: sinks

#13074 chore(ci): Fix application of `rustflags`
  .cargo/config.toml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  scripts/environment/bootstrap-ubuntu-20.04.sh
Labels: domain: tests, type: tech debt, domain: ci

#13103 chore(vrl): remove separate optional field from schema
  lib/codecs/src/decoding/format/bytes.rs
  lib/codecs/src/decoding/format/json.rs
  lib/codecs/src/decoding/format/syslog.rs
  lib/vector-core/src/schema/definition.rs
  lib/vector-core/src/schema/requirement.rs
  src/sources/datadog/agent/mod.rs
  src/sources/datadog/agent/tests.rs
  src/topology/schema.rs
  src/transforms/remap.rs
Labels: domain: topology, domain: sources, domain: transforms, ci-condition: integration tests enable, domain: core

#13109 feature(core): Add negative index support to lookup v2
  lib/lookup/src/lookup_v2/borrowed.rs
  lib/lookup/src/lookup_v2/concat.rs
  lib/lookup/src/lookup_v2/jit.rs
  lib/lookup/src/lookup_v2/mod.rs
  lib/lookup/src/lookup_v2/owned.rs
  lib/value/src/value.rs
  lib/value/src/value/crud/get.rs
  lib/value/src/value/crud/get_mut.rs
  lib/value/src/value/crud/insert.rs
  lib/value/src/value/crud/mod.rs
  lib/value/src/value/crud/remove.rs
  lib/value/src/value/insert.rs
  lib/value/src/value/remove.rs
  src/sources/dnstap/parser.rs
  src/transforms/aws_ec2_metadata.rs
Labels: domain: sources, domain: transforms, ci-condition: integration tests enable

#13128 chore(ci): Remove `--nocapture` from integration tests
  scripts/integration/docker-compose.aws.yml
  scripts/integration/docker-compose.azure.yml
  scripts/integration/docker-compose.clickhouse.yml
  scripts/integration/docker-compose.datadog-agent.yml
  scripts/integration/docker-compose.datadog-logs.yml
  scripts/integration/docker-compose.datadog-metrics.yml
  scripts/integration/docker-compose.datadog-traces.yml
  scripts/integration/docker-compose.dnstap.yml
  scripts/integration/docker-compose.docker-logs.yml
  scripts/integration/docker-compose.elasticsearch.yml
  scripts/integration/docker-compose.eventstoredb.yml
  scripts/integration/docker-compose.fluent.yml
  scripts/integration/docker-compose.gcp.yml
  scripts/integration/docker-compose.humio.yml
  scripts/integration/docker-compose.influxdb.yml
  scripts/integration/docker-compose.kafka.yml
  scripts/integration/docker-compose.logstash.yml
  scripts/integration/docker-compose.loki.yml
  scripts/integration/docker-compose.mongodb.yml
  scripts/integration/docker-compose.nats.yml
  scripts/integration/docker-compose.nginx.yml
  scripts/integration/docker-compose.postgres.yml
  scripts/integration/docker-compose.prometheus.yml
  scripts/integration/docker-compose.pulsar.yml
  scripts/integration/docker-compose.redis.yml
  scripts/integration/docker-compose.splunk.yml
Labels: domain: ci, ci-condition: integration tests enable

#13123 chore: Move `shutdown` and event finalization to `vector-common`
  Cargo.lock
  lib/vector-common/Cargo.toml
  lib/vector-common/src/config.rs
  lib/vector-common/src/finalization.rs
  lib/vector-common/src/finalizer.rs
  lib/vector-common/src/lib.rs
  lib/vector-common/src/shutdown.rs
  lib/vector-common/src/trigger.rs
  lib/vector-core/Cargo.toml
  lib/vector-core/src/config/mod.rs
  lib/vector-core/src/event/mod.rs
  lib/vector-core/src/lib.rs
  src/lib.rs
  src/sources/aws_kinesis_firehose/handlers.rs
  src/sources/aws_sqs/source.rs
  src/sources/datadog/agent/mod.rs
  src/sources/file.rs
  src/sources/gcp_pubsub.rs
  src/sources/journald.rs
  src/sources/kafka.rs
  src/sources/splunk_hec/acknowledgements.rs
  src/sources/splunk_hec/mod.rs
  src/sources/util/http/prelude.rs
  src/sources/util/tcp/mod.rs
  src/sources/vector/v2.rs
  src/topology/running.rs
Labels: domain: topology, type: tech debt, domain: sources, domain: core

#13125 chore(ci): Use the mold wrapper script instead of linker flags
  .github/workflows/k8s_e2e.yml
  scripts/cross/bootstrap-ubuntu.sh
  scripts/environment/bootstrap-ubuntu-20.04.sh
Labels: type: tech debt, domain: ci, ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable, ci-condition: integration tests enable

#12812 chore(deps): Upgrade Rust to 1.61.0
  .cargo/config.toml
  Cargo.toml
  Tiltfile
  distribution/systemd/vector-agent.service
  distribution/systemd/vector-aggregator.service
  lib/file-source/src/file_watcher/tests/experiment.rs
  lib/file-source/src/file_watcher/tests/experiment_no_truncations.rs
  lib/soak/Dockerfile
  lib/value/src/kind/nest.rs
  lib/value/src/kind/remove.rs
  lib/value/src/value.rs
  lib/value/src/value/convert.rs
  lib/value/src/value/display.rs
  lib/value/src/value/lua.rs
  lib/value/src/value/serde.rs
  lib/vector-buffers/src/acknowledgements.rs
  lib/vector-buffers/src/variants/disk_v2/tests/model/mod.rs
  lib/vector-common/src/event_test_util.rs
  lib/vector-common/src/shutdown.rs
  lib/vector-config-macros/src/ast/container.rs
  lib/vector-core/src/config/global_options.rs
  lib/vector-core/src/fanout.rs
  lib/vector-core/src/schema/requirement.rs
  lib/vrl/core/src/target.rs
  rust-toolchain.toml
  scripts/cross/aarch64-unknown-linux-gnu.dockerfile
  scripts/cross/aarch64-unknown-linux-musl.dockerfile
  scripts/cross/armv7-unknown-linux-gnueabihf.dockerfile
  scripts/cross/armv7-unknown-linux-musleabihf.dockerfile
  scripts/cross/powerpc-unknown-linux-gnu.dockerfile
  scripts/cross/powerpc64le-unknown-linux-gnu.dockerfile
  scripts/cross/x86_64-unknown-linux-gnu.dockerfile
  scripts/cross/x86_64-unknown-linux-musl.dockerfile
  soaks/Dockerfile.builder
  src/codecs/encoding/encoder.rs
  src/codecs/ready_frames.rs
  src/config/enterprise.rs
  src/config/loading/secret.rs
  src/gcp.rs
  src/lib.rs
  src/line_agg.rs
  src/sinks/statsd.rs
  src/sinks/util/batch.rs
  src/sinks/util/compressor.rs
  src/sinks/util/encoding/adapter.rs
  src/sinks/util/encoding/codec.rs
  src/sinks/util/http.rs
  src/sinks/util/retries.rs
  src/sinks/util/service.rs
  src/sinks/util/sink.rs
  src/sinks/util/tcp.rs
  src/sinks/util/udp.rs
  src/sinks/util/unix.rs
  src/sinks/websocket/sink.rs
  src/sources/util/http/prelude.rs
  src/topology/schema.rs
  src/transforms/remap.rs
Labels: domain: topology, domain: sources, domain: transforms, domain: sinks, domain: ci, domain: releasing, domain: codecs, domain: vrl, ci-condition: k8s e2e tests enable, ci-condition: integration tests enable, domain: core

#13108 feature(vrl): Add read-only support to `ExternalEnv`
  Cargo.lock
  lib/lookup/src/lookup_buf/mod.rs
  lib/vector-vrl-functions/src/remove_metadata_field.rs
  lib/vector-vrl-functions/src/set_metadata_field.rs
  lib/vrl/compiler/Cargo.toml
  lib/vrl/compiler/src/expression/assignment.rs
  lib/vrl/compiler/src/function.rs
  lib/vrl/compiler/src/state.rs
  lib/vrl/stdlib/src/del.rs
  lib/vrl/tests/Cargo.toml
  lib/vrl/tests/src/docs.rs
  lib/vrl/tests/src/main.rs
  lib/vrl/tests/src/test.rs
  lib/vrl/tests/tests/expressions/assignment/read_only.vrl
  lib/vrl/tests/tests/expressions/assignment/read_only_nested.vrl
  lib/vrl/tests/tests/expressions/assignment/read_only_nested_recursive.vrl
  lib/vrl/tests/tests/expressions/assignment/read_only_recursive.vrl
  lib/vrl/tests/tests/expressions/assignment/read_only_root.vrl
  lib/vrl/tests/tests/expressions/assignment/read_only_root_recursive.vrl
  lib/vrl/tests/tests/functions/remove_metadata_read_only.vrl
  lib/vrl/tests/tests/functions/set_metadata_read_only.vrl
  src/conditions/check_fields.rs
  src/conditions/datadog_search.rs
  src/conditions/is_log.rs
  src/conditions/is_metric.rs
  src/conditions/mod.rs
  src/conditions/not.rs
  src/conditions/vrl.rs
  src/config/unit_test/unit_test_components.rs
  src/transforms/filter.rs
  src/transforms/pipelines/config.rs
  src/transforms/reduce/mod.rs
  src/transforms/route.rs
  src/transforms/sample.rs
  src/transforms/throttle.rs
  website/content/en/highlights/2022-05-23-0-23-0-upgrade-guide.md
  website/cue/reference/remap/errors/315_read_only_mutation_error.cue
Labels: domain: transforms, domain: external docs, domain: vrl, ci-condition: integration tests enable

#13105 chore(releasing): Announce intended removal of deprecated transforms
  website/content/en/highlights/2022-05-03-0-22-0-upgrade-guide.md
  website/cue/reference/components/transforms/add_fields.cue
  website/cue/reference/components/transforms/add_tags.cue
  website/cue/reference/components/transforms/ansi_stripper.cue
  website/cue/reference/components/transforms/aws_cloudwatch_logs_subscription_parser.cue
  website/cue/reference/components/transforms/coercer.cue
  website/cue/reference/components/transforms/concat.cue
  website/cue/reference/components/transforms/grok_parser.cue
  website/cue/reference/components/transforms/json_parser.cue
  website/cue/reference/components/transforms/key_value_parser.cue
  website/cue/reference/components/transforms/logfmt_parser.cue
  website/cue/reference/components/transforms/merge.cue
  website/cue/reference/components/transforms/regex_parser.cue
  website/cue/reference/components/transforms/remove_fields.cue
  website/cue/reference/components/transforms/remove_tags.cue
  website/cue/reference/components/transforms/rename_fields.cue
  website/cue/reference/components/transforms/split.cue
  website/cue/reference/components/transforms/tokenizer.cue
Labels: domain: external docs

#13149 chore(core): Fix `serde` feature flag in `vector-common`
  lib/vector-common/src/config.rs
  lib/vector-common/src/finalization.rs
Labels: type: tech debt, domain: core

#13069 fix(tests): Replace nextest installation
  scripts/integration/Dockerfile
Labels: domain: ci, ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable, ci-condition: integration tests enable

#13150 chore(core): Make the base `BatchNotifier` type shared
  lib/vector-common/src/finalization.rs
  lib/vector-core/src/event/log_event.rs
  lib/vector-core/src/event/metadata.rs
  lib/vector-core/src/event/metric/mod.rs
  lib/vector-core/src/event/mod.rs
  lib/vector-core/src/event/trace.rs
  src/sinks/datadog/events/tests.rs
  src/sinks/splunk_hec/logs/integration_tests.rs
  src/sinks/splunk_hec/metrics/integration_tests.rs
  src/sources/aws_kinesis_firehose/handlers.rs
  src/sources/gcp_pubsub.rs
  src/sources/journald.rs
  src/sources/splunk_hec/mod.rs
  src/sources/util/message_decoding.rs
  src/sources/util/tcp/mod.rs
  src/test_util/mod.rs
Labels: type: tech debt, domain: sources, domain: sinks, domain: core

#13166 chore: update x86_64_unknown-linux-gnu to use ubuntu not rhel
  scripts/cross/x86_64-unknown-linux-gnu.dockerfile
Labels: domain: ci, ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#13167 chore: remove unused rhel bootstrap script
  scripts/cross/bootstrap-rhel.sh
Labels: domain: ci

#13170 chore(deps): bump kube to 0.73.1 and k8s-openapi to 0.15
  Cargo.lock
  Cargo.toml
  lib/k8s-e2e-tests/Cargo.toml
  lib/k8s-test-framework/Cargo.toml
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#13172 chore(dev): drop unneeded dependencies and coalesce some others
  Cargo.lock
  Cargo.toml
  lib/datadog/grok/Cargo.toml
  lib/datadog/grok/src/grok_filter.rs
  lib/vector-config-common/Cargo.toml
  lib/vector-config-common/src/validation.rs
  lib/vector-config-macros/Cargo.toml
  lib/vector-config-macros/src/ast/container.rs
  lib/vector-config-macros/src/ast/field.rs
  lib/vector-config-macros/src/ast/variant.rs
  src/api/schema/components/source.rs
  src/config/loading/loader.rs
  src/sinks/gcp/stackdriver_metrics.rs
Labels: domain: sinks, ci-condition: k8s e2e all targets, ci-condition: integration tests enable

#13063 chore(clickhouse sink): Use `Transformer` in `clickhouse` sink and remove `EncodingConfigWithDefault`
  src/sinks/clickhouse.rs
Labels: domain: sinks

#13184 chore(ci): Fail on docs warnings too
  scripts/environment/bootstrap-ubuntu-20.04.sh
Labels: domain: ci

#13176 feat(datadog_agent source): Parse namespace out of incoming events
  src/sources/datadog/agent/metrics.rs
  src/sources/datadog/agent/tests.rs
Labels: domain: sources, domain: metrics, source: datadog_agent

#13189 fix(vrl): fix type def for the `parse_aws_cloudwatch_log_subscription_message` function
  lib/vrl/stdlib/src/parse_aws_cloudwatch_log_subscription_message.rs
Labels: domain: vrl

#13194 chore(ci): Fail warnings
  lib/codecs/src/lib.rs
  lib/datadog/filter/src/lib.rs
  lib/datadog/grok/src/lib.rs
  lib/datadog/search-syntax/src/lib.rs
  lib/dnsmsg-parser/src/lib.rs
  lib/enrichment/src/lib.rs
  lib/fakedata/src/lib.rs
  lib/file-source/src/lib.rs
  lib/k8s-e2e-tests/src/lib.rs
  lib/k8s-test-framework/src/lib.rs
  lib/lookup/src/lib.rs
  lib/portpicker/src/lib.rs
  lib/prometheus-parser/src/lib.rs
  lib/tracing-limit/src/lib.rs
  lib/value/src/lib.rs
  lib/vector-api-client/src/lib.rs
  lib/vector-buffers/src/lib.rs
  lib/vector-common/shared/src/lib.rs
  lib/vector-common/src/lib.rs
  lib/vector-config-common/src/lib.rs
  lib/vector-config-macros/src/lib.rs
  lib/vector-config/src/lib.rs
  lib/vector-core/src/lib.rs
  lib/vector-vrl-functions/src/lib.rs
  lib/vrl/cli/src/lib.rs
  lib/vrl/compiler/src/lib.rs
  lib/vrl/core/src/lib.rs
  lib/vrl/diagnostic/src/lib.rs
  lib/vrl/parser/src/lib.rs
  lib/vrl/stdlib/src/lib.rs
  lib/vrl/tests/src/lib.rs
  lib/vrl/vrl/src/lib.rs
  scripts/environment/bootstrap-ubuntu-20.04.sh
  src/lib.rs
  src/main.rs
Labels: domain: ci, domain: vrl, domain: core

#13146 chore(ci): try and consolidate nightly/release workflows
  .github/workflows/nightly.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  Makefile
  scripts/ci-generate-publish-metadata.sh
  scripts/release-channel.sh
  scripts/release-github.sh
  scripts/release-s3.sh
Labels: domain: ci, domain: releasing

#13204 chore(ci): Remove xtrace from rustc wrapper
  scripts/environment/bootstrap-ubuntu-20.04.sh
Labels: domain: ci

#13195 chore(deps): Mark (almost) all optional dependencies as non-features
  Cargo.toml
  lib/codecs/Cargo.toml
  lib/lookup/Cargo.toml
  lib/value/Cargo.toml
  lib/vector-common/Cargo.toml
  lib/vector-core/Cargo.toml
  lib/vrl/cli/Cargo.toml
  lib/vrl/parser/Cargo.toml
  lib/vrl/stdlib/Cargo.toml
  src/sinks/mod.rs
  src/sources/mod.rs
  src/sources/util/wrappers.rs
Labels: type: tech debt, domain: sources, domain: sinks, domain: vrl, domain: core, dependencies

#13182 enhancement: Append (rather than prepend) bin dir to $PATH
  distribution/install.sh
Labels: domain: releasing

#13208 fix(vrl): fix `Kind::reduced_kind` when `known` is empty
  lib/value/src/kind/collection.rs
  lib/vrl/tests/tests/internal/closure_arg_kind.vrl
  website/content/en/highlights/2022-05-23-0-23-0-upgrade-guide.md
Labels: domain: vrl, vrl: typedef

#13216 fix(vrl): fix parse_int("0")
  lib/vrl/stdlib/src/parse_int.rs
Labels: domain: vrl

#13203 fix(gcp_pubsub source): Fix handling of streaming pull requests
  src/sources/gcp_pubsub.rs
Labels: type: bug, domain: sources, domain: performance, ci-condition: integration tests enable, source: gcp_pubsub

#13206 chore: avoid a possible panic
  src/lib.rs
  src/sources/aws_s3/sqs.rs
  src/sources/aws_sqs/config.rs
Labels: domain: sources

#13217 chore(ci): Group and tag component feature check output
  scripts/check-component-features
Labels: domain: ci

#13041 enhancement(splunk_hec_logs sink): enable raw event endpoint
  src/sinks/humio/logs.rs
  src/sinks/splunk_hec/common/acknowledgements.rs
  src/sinks/splunk_hec/common/mod.rs
  src/sinks/splunk_hec/common/request.rs
  src/sinks/splunk_hec/common/service.rs
  src/sinks/splunk_hec/common/util.rs
  src/sinks/splunk_hec/logs/config.rs
  src/sinks/splunk_hec/logs/encoder.rs
  src/sinks/splunk_hec/logs/integration_tests.rs
  src/sinks/splunk_hec/logs/request_builder.rs
  src/sinks/splunk_hec/logs/sink.rs
  src/sinks/splunk_hec/logs/tests.rs
  src/sinks/splunk_hec/metrics/config.rs
  src/sinks/splunk_hec/metrics/request_builder.rs
  src/sources/splunk_hec/mod.rs
  website/cue/reference/components/sinks/splunk_hec_logs.cue
  website/cue/reference/urls.cue
Labels: domain: sources, domain: sinks, domain: external docs

#13164 fix(vrl): Add `null` to type when merging with missing field
  lib/value/src/kind/collection.rs
  lib/value/src/kind/collection/unknown.rs
  lib/value/src/kind/find.rs
  lib/value/src/kind/insert.rs
  lib/value/src/kind/merge.rs
  lib/vector-core/src/schema/definition.rs
  lib/vrl/compiler/src/compiler.rs
  lib/vrl/compiler/src/type_def.rs
  lib/vrl/stdlib/src/unnest.rs
  lib/vrl/tests/tests/expressions/if_statement/conditional_assignment.vrl
  lib/vrl/tests/tests/expressions/if_statement/if_else_object.vrl
  soaks/tests/http_pipelines_blackhole/vector.toml
  soaks/tests/http_pipelines_blackhole_acks/vector.toml
  src/sources/datadog/agent/mod.rs
  src/topology/schema.rs
  src/transforms/remap.rs
  website/content/en/highlights/2022-05-23-0-23-0-upgrade-guide.md
Labels: domain: topology, domain: sources, domain: transforms, domain: vrl, domain: core

#13219 fix(datadog_agent source): Remove the `status` field footgun for logs.
  src/sources/datadog/agent/logs.rs
  src/sources/datadog/agent/tests.rs
Labels: domain: sources, ci-condition: integration tests enable

#13252 chore(vrl): clean up op expression
  lib/vrl/compiler/src/expression/op.rs
Labels: domain: vrl

#13256 fix(syslog source): update syslog_loose to handle empty param values.
  Cargo.lock
  lib/codecs/Cargo.toml
  lib/vrl/stdlib/Cargo.toml
  lib/vrl/stdlib/src/parse_syslog.rs
Labels: domain: vrl

#13224 enhancement(gcp_pubsub source): Add an inactivity timeout keepalive
  src/sources/gcp_pubsub.rs
  website/cue/reference/components/sources/gcp_pubsub.cue
Labels: type: enhancement, domain: sources, domain: external docs, ci-condition: integration tests enable, source: gcp_pubsub

#13147 enhancement(nats sink): Add end-to-end acknowledgement support
  src/sinks/nats.rs
  website/cue/reference/components/sinks/nats.cue
Labels: domain: sinks, domain: external docs, ci-condition: integration tests enable

#13262 fix(datadog_agent source): Revert remove the `status` field footgun for logs
  src/sources/datadog/agent/logs.rs
  src/sources/datadog/agent/tests.rs
Labels: domain: sources

#13279 chore(gcp_pubsub source): Rename `_seconds` settings to `_secs`
  src/sources/gcp_pubsub.rs
  website/cue/reference/components/sources/gcp_pubsub.cue
Labels: type: tech debt, domain: config, domain: sources, domain: external docs, source: gcp_pubsub

#13276 enhancement(prometheus_exporter sink): Defer finalization until after processing
  src/sinks/prometheus/exporter.rs
Labels: domain: sinks, ci-condition: integration tests enable

#13306 docs(prometheus_exporter sink): Document that metrics are at /metrics
  website/cue/reference/components/sinks/prometheus_exporter.cue
Labels: domain: external docs

#13307 fix(pulsar sink, codecs): Revert `encoding::Encoder` with `pulsar` sink"
  Cargo.lock
  lib/codecs/Cargo.toml
  lib/codecs/src/encoding/format/avro.rs
  lib/codecs/src/encoding/format/mod.rs
  lib/codecs/src/encoding/mod.rs
  src/codecs/encoding/encoder.rs
  src/internal_events/mod.rs
  src/internal_events/pulsar.rs
  src/sinks/aws_cloudwatch_logs/config.rs
  src/sinks/aws_kinesis_firehose/config.rs
  src/sinks/aws_kinesis_streams/config.rs
  src/sinks/aws_s3/config.rs
  src/sinks/aws_sqs/request_builder.rs
  src/sinks/azure_blob/config.rs
  src/sinks/console/config.rs
  src/sinks/console/sink.rs
  src/sinks/file/mod.rs
  src/sinks/gcp/cloud_storage.rs
  src/sinks/gcp/pubsub.rs
  src/sinks/http.rs
  src/sinks/kafka/sink.rs
  src/sinks/loki/sink.rs
  src/sinks/mod.rs
  src/sinks/nats.rs
  src/sinks/new_relic_logs.rs
  src/sinks/papertrail.rs
  src/sinks/pulsar.rs
  src/sinks/redis.rs
  src/sinks/socket.rs
  src/sinks/splunk_hec/logs/config.rs
  src/sinks/splunk_hec/logs/tests.rs
  src/sinks/util/encoding/adapter.rs
  src/sinks/websocket/config.rs
  src/sinks/websocket/sink.rs
Labels: domain: sinks, domain: codecs

#13130 fix(datadog_logs sink): retry HTTP requests and improve datadog sink error handling consistency
  src/http.rs
  src/sinks/datadog/logs/service.rs
  src/sinks/datadog/logs/tests.rs
  src/sinks/datadog/metrics/service.rs
  src/sinks/datadog/mod.rs
Labels: sink: datadog_metrics, domain: sinks, sink: datadog_logs, ci-condition: integration tests enable

#10463 enhancement(pulsar sink): add oauth2 and event time support for pulsar sink
  Cargo.lock
  Cargo.toml
  lib/vector-core/src/event/mod.rs
  src/sinks/pulsar.rs
  website/cue/reference/components/sinks/pulsar.cue
Labels: domain: sinks, domain: external docs, domain: core

#13319 chore(vrl): rustfmt
  lib/vrl/cli/src/repl.rs
  lib/vrl/compiler/src/compiler.rs
  lib/vrl/compiler/src/expression/abort.rs
  lib/vrl/compiler/src/expression/block.rs
  lib/vrl/compiler/src/expression/not.rs
  lib/vrl/compiler/src/expression/op.rs
  lib/vrl/compiler/src/expression/variable.rs
  lib/vrl/compiler/src/state.rs
  lib/vrl/compiler/src/value.rs
  lib/vrl/compiler/src/value/arithmetic.rs
  lib/vrl/compiler/src/value/convert.rs
  lib/vrl/stdlib/src/decrypt.rs
  lib/vrl/stdlib/src/encrypt.rs
  lib/vrl/stdlib/src/parse_json.rs
  lib/vrl/stdlib/src/type_def.rs
  lib/vrl/tests/src/main.rs
  lib/vrl/tests/src/test.rs
  lib/vrl/vrl/src/prelude.rs
Labels: domain: vrl

#13240 enhancement(gcp_pubsub source): Add automatic concurrency scaling
  src/gcp.rs
  src/sources/gcp_pubsub.rs
  website/cue/reference/components/sources/gcp_pubsub.cue
Labels: type: enhancement, domain: sources, domain: performance, domain: external docs, ci-condition: integration tests enable, source: gcp_pubsub

#13308 enhancement(pulsar sink, codecs): Integrate `encoding::Encoder` with `pulsar` sink
  Cargo.lock
  lib/codecs/Cargo.toml
  lib/codecs/src/encoding/format/avro.rs
  lib/codecs/src/encoding/format/mod.rs
  lib/codecs/src/encoding/mod.rs
  src/codecs/encoding/encoder.rs
  src/internal_events/mod.rs
  src/internal_events/pulsar.rs
  src/sinks/aws_cloudwatch_logs/config.rs
  src/sinks/aws_kinesis_firehose/config.rs
  src/sinks/aws_kinesis_streams/config.rs
  src/sinks/aws_s3/config.rs
  src/sinks/aws_sqs/request_builder.rs
  src/sinks/azure_blob/config.rs
  src/sinks/console/config.rs
  src/sinks/console/sink.rs
  src/sinks/file/mod.rs
  src/sinks/gcp/cloud_storage.rs
  src/sinks/gcp/pubsub.rs
  src/sinks/http.rs
  src/sinks/kafka/sink.rs
  src/sinks/loki/sink.rs
  src/sinks/nats.rs
  src/sinks/new_relic_logs.rs
  src/sinks/papertrail.rs
  src/sinks/pulsar.rs
  src/sinks/redis.rs
  src/sinks/socket.rs
  src/sinks/splunk_hec/logs/config.rs
  src/sinks/splunk_hec/logs/tests.rs
  src/sinks/util/encoding/adapter.rs
  src/sinks/websocket/config.rs
  src/sinks/websocket/sink.rs
Labels: domain: sinks, domain: codecs

#13326 chore(vrl): Reexport TimeZone type
  lib/vrl/vrl/src/lib.rs
  lib/vrl/vrl/src/runtime.rs
Labels: domain: vrl

#13321 chore(vrl): clippy deny+fix on compiler
  lib/vrl/compiler/src/compiler.rs
  lib/vrl/compiler/src/context.rs
  lib/vrl/compiler/src/expression.rs
  lib/vrl/compiler/src/expression/abort.rs
  lib/vrl/compiler/src/expression/array.rs
  lib/vrl/compiler/src/expression/assignment.rs
  lib/vrl/compiler/src/expression/block.rs
  lib/vrl/compiler/src/expression/container.rs
  lib/vrl/compiler/src/expression/function_argument.rs
  lib/vrl/compiler/src/expression/function_call.rs
  lib/vrl/compiler/src/expression/if_statement.rs
  lib/vrl/compiler/src/expression/literal.rs
  lib/vrl/compiler/src/expression/noop.rs
  lib/vrl/compiler/src/expression/not.rs
  lib/vrl/compiler/src/expression/object.rs
  lib/vrl/compiler/src/expression/op.rs
  lib/vrl/compiler/src/expression/predicate.rs
  lib/vrl/compiler/src/expression/query.rs
  lib/vrl/compiler/src/expression/unary.rs
  lib/vrl/compiler/src/expression/variable.rs
  lib/vrl/compiler/src/function.rs
  lib/vrl/compiler/src/function/closure.rs
  lib/vrl/compiler/src/lib.rs
  lib/vrl/compiler/src/program.rs
  lib/vrl/compiler/src/state.rs
  lib/vrl/compiler/src/type_def.rs
  lib/vrl/compiler/src/value/arithmetic.rs
  lib/vrl/compiler/src/value/error.rs
Labels: domain: vrl

#13330 docs(reduce): Clarify `group_by`
  website/cue/reference/components/transforms/reduce.cue
Labels: domain: external docs

#13332 fix(vrl stdlib): Fix parsing of user for parse_nginx_log
  lib/vrl/stdlib/src/log_util.rs
  lib/vrl/stdlib/src/parse_nginx_log.rs
  website/cue/reference/remap/functions/parse_nginx_log.cue
Labels: domain: external docs, domain: vrl

#13327 enhancement(humio_metrics sink)!: Remove `encoding` option from `humio_metrics` sink
  soaks/tests/syslog_log2metric_humio_metrics/vector.toml
  src/sinks/humio/metrics.rs
  website/content/en/highlights/2022-05-23-0-23-0-upgrade-guide.md
  website/cue/reference/components/sinks/humio.cue
  website/cue/reference/components/sinks/humio_logs.cue
Labels: domain: sinks, domain: external docs

#13351 docs(prometheus_remote_write sink): Note acknowledgement support as true
  website/cue/reference/components/sinks/prometheus_remote_write.cue
Labels: domain: external docs

#13352 docs(buffers): Document disk buffer minimum size
  website/cue/reference/components/sinks.cue
Labels: domain: external docs

#12433 fix(vrl, syslog source)!: Make `parse_syslog` and the `syslog` source handle structured data consistently
  Cargo.lock
  lib/codecs/Cargo.toml
  lib/codecs/src/decoding/format/syslog.rs
  lib/vrl/stdlib/benches/benches.rs
  lib/vrl/stdlib/src/parse_syslog.rs
  src/sources/datadog/agent/tests.rs
  src/sources/syslog.rs
  website/content/en/highlights/2022-05-23-0-23-0-upgrade-guide.md
  website/cue/reference/remap/functions/parse_syslog.cue
Labels: domain: sources, domain: external docs, domain: vrl

#13227 fix(dnstap source): Brings dnstap.proto up to date with upstream
  proto/dnstap.proto
  src/sources/dnstap/parser.rs
Labels: domain: sources

#13344 chore(vrl): clippy deny+fix on cli
  lib/vrl/cli/src/cmd.rs
  lib/vrl/cli/src/lib.rs
  lib/vrl/cli/src/repl.rs
Labels: domain: vrl

#13345 chore(vrl): clippy deny+fix on core
  lib/vrl/core/src/expression.rs
  lib/vrl/core/src/lib.rs
  lib/vrl/core/src/target.rs
Labels: domain: vrl

#13156 feature(core): Add coalescing support to lookup v2
  lib/lookup/src/lookup_v2/borrowed.rs
  lib/lookup/src/lookup_v2/jit.rs
  lib/lookup/src/lookup_v2/owned.rs
  lib/value/src/value/crud/get.rs
  lib/value/src/value/crud/get_mut.rs
  lib/value/src/value/crud/insert.rs
  lib/value/src/value/crud/mod.rs
  lib/value/src/value/crud/remove.rs
Labels: ci-condition: integration tests enable

#13317 enhancement(vrl): reject field/index assignment for non-container types
  lib/vrl/compiler/src/expression/assignment.rs
  lib/vrl/tests/tests/diagnostics/cannot_mutate_element_for_non_array_type.vrl
  lib/vrl/tests/tests/diagnostics/cannot_mutate_field_for_non_object_type.vrl
  lib/vrl/tests/tests/expressions/assignment/indexing.vrl
Labels: domain: vrl

#13364 chore(vrl): fix master
  lib/vrl/compiler/src/expression/assignment.rs
Labels: domain: vrl

#13028 enhancement(datadog_agent source): Support v2 endpoint for series
  build.rs
  proto/dd_metric.proto
  src/sinks/datadog/metrics/encoder.rs
  src/sources/datadog/agent/logs.rs
  src/sources/datadog/agent/metrics.rs
  src/sources/datadog/agent/mod.rs
  src/sources/datadog/agent/tests.rs
  src/sources/datadog/agent/traces.rs
Labels: domain: sources, domain: sinks, ci-condition: integration tests enable

#13368 chore: Drop `Event::new_empty_log`
  benches/dnstap/mod.rs
  benches/lua.rs
  lib/vector-core/src/event/lua/event.rs
  lib/vector-core/src/event/lua/log.rs
  lib/vector-core/src/event/mod.rs
  lib/vector-core/src/event/test/mod.rs
  src/api/tests.rs
  src/sinks/console/sink.rs
  src/sinks/datadog_archives.rs
  src/sinks/gcp/cloud_storage.rs
  src/sinks/influxdb/logs.rs
  src/sinks/util/encoding/mod.rs
  src/sinks/websocket/sink.rs
  src/sources/dnstap/mod.rs
  src/sources/dnstap/parser.rs
  src/sources/kubernetes_logs/parser/mod.rs
  src/sources/socket/mod.rs
  src/sources/splunk_hec/mod.rs
  src/transforms/lua/v1/mod.rs
  src/transforms/lua/v2/mod.rs
  src/transforms/reduce/merge_strategy.rs
  src/transforms/throttle.rs
Labels: type: tech debt, domain: sources, domain: transforms, domain: sinks, domain: core

#13370 chore: remove `Event::from(Bytes)`
  lib/vector-core/src/event/mod.rs
  src/sources/exec/mod.rs
  src/sources/kubernetes_logs/parser/cri.rs
  src/sources/util/framestream.rs
Labels: type: tech debt, domain: sources, domain: core

#13311 chore(config): initial integration of configuration schema for transforms
  Cargo.lock
  Cargo.toml
  lib/vector-config-common/src/attributes.rs
  lib/vector-config-common/src/lib.rs
  lib/vector-config-macros/src/ast/container.rs
  lib/vector-config-macros/src/ast/field.rs
  lib/vector-config-macros/src/ast/mod.rs
  lib/vector-config-macros/src/ast/variant.rs
  lib/vector-config-macros/src/configurable.rs
  lib/vector-config/Cargo.toml
  lib/vector-config/src/external.rs
  lib/vector-config/src/lib.rs
  lib/vector-config/src/schema.rs
  lib/vector-config/tests/basic.rs
  lib/vector-core/src/config/proxy.rs
  lib/vector-core/src/event/metric/mod.rs
  lib/vrl/compiler/Cargo.toml
  lib/vrl/compiler/src/lib.rs
  src/conditions/check_fields.rs
  src/conditions/datadog_search.rs
  src/conditions/is_log.rs
  src/conditions/is_metric.rs
  src/conditions/mod.rs
  src/conditions/not.rs
  src/conditions/vrl.rs
  src/serde.rs
  src/sources/kubernetes_logs/mod.rs
  src/sources/prometheus/remote_write.rs
  src/sources/vector/mod.rs
  src/template.rs
  src/topology/test/mod.rs
  src/topology/test/reload.rs
  src/transforms/aggregate.rs
  src/transforms/aws_ec2_metadata.rs
  src/transforms/dedupe.rs
  src/transforms/filter.rs
  src/transforms/geoip.rs
  src/transforms/log_to_metric.rs
  src/transforms/lua/mod.rs
  src/transforms/lua/v1/mod.rs
  src/transforms/lua/v2/mod.rs
  src/transforms/metric_to_log.rs
  src/transforms/mod.rs
  src/transforms/pipelines/config.rs
  src/transforms/pipelines/mod.rs
  src/transforms/reduce/merge_strategy.rs
  src/transforms/reduce/mod.rs
  src/transforms/remap.rs
  src/transforms/route.rs
  src/transforms/sample.rs
  src/transforms/tag_cardinality_limit.rs
  src/transforms/throttle.rs
Labels: domain: topology, domain: sources, domain: transforms, domain: vrl, ci-condition: k8s e2e tests enable, ci-condition: integration tests enable, domain: core

#13372 chore(core): Remove `Event::from(BTreeMap)` and `Event::from(HashMap)`
  benches/codecs/encoder.rs
  lib/codecs/src/encoding/format/avro.rs
  lib/codecs/src/encoding/format/json.rs
  lib/codecs/src/encoding/format/logfmt.rs
  lib/codecs/src/encoding/format/native_json.rs
  lib/vector-core/src/event/mod.rs
  src/sinks/util/encoding/mod.rs
  src/sources/fluent/mod.rs
  src/sources/logstash.rs
Labels: type: tech debt, domain: sources, domain: sinks, domain: core

#13337 feat(prometheus_exporter sink): Add an option to allow suppressing timestamp
  src/sinks/prometheus/exporter.rs
  src/sources/prometheus/scrape.rs
  website/cue/reference/components/sinks/prometheus_exporter.cue
Labels: domain: sources, domain: sinks, domain: external docs

#13374 chore(core): Drop `Event::from(&str)`
  benches/remap.rs
  benches/template.rs
  lib/codecs/src/decoding/format/syslog.rs
  lib/codecs/src/encoding/format/raw_message.rs
  lib/codecs/src/encoding/format/text.rs
  lib/vector-core/src/event/merge_state.rs
  lib/vector-core/src/event/mod.rs
  lib/vector-core/src/event/test/serialization.rs
  src/codecs/encoding/encoder.rs
  src/conditions/check_fields.rs
  src/conditions/is_log.rs
  src/conditions/is_metric.rs
  src/config/unit_test/mod.rs
  src/sinks/aws_cloudwatch_logs/request_builder.rs
  src/sinks/azure_blob/test.rs
  src/sinks/azure_monitor_logs.rs
  src/sinks/console/sink.rs
  src/sinks/datadog/logs/tests.rs
  src/sinks/datadog_archives.rs
  src/sinks/file/mod.rs
  src/sinks/gcp/cloud_storage.rs
  src/sinks/gcp/stackdriver_logs.rs
  src/sinks/honeycomb.rs
  src/sinks/http.rs
  src/sinks/influxdb/logs.rs
  src/sinks/kafka/request_builder.rs
  src/sinks/kafka/sink.rs
  src/sinks/logdna.rs
  src/sinks/loki/sink.rs
  src/sinks/loki/tests.rs
  src/sinks/new_relic/tests.rs
  src/sinks/papertrail.rs
  src/sinks/redis.rs
  src/sinks/socket.rs
  src/sinks/splunk_hec/logs/tests.rs
  src/sinks/util/encoding/mod.rs
  src/sinks/vector/v1.rs
  src/sinks/websocket/sink.rs
  src/sources/kubernetes_logs/parser/docker.rs
  src/sources/kubernetes_logs/parser/mod.rs
  src/sources/splunk_hec/mod.rs
  src/sources/syslog.rs
  src/sources/vector/v1.rs
  src/template.rs
  src/topology/test/compliance.rs
  src/topology/test/mod.rs
  src/transforms/dedupe.rs
  src/transforms/filter.rs
  src/transforms/log_to_metric.rs
  src/transforms/lua/v1/mod.rs
  src/transforms/lua/v2/mod.rs
  src/transforms/remap.rs
  src/transforms/sample.rs
Labels: domain: topology, type: tech debt, domain: sources, domain: transforms, domain: sinks, domain: codecs, domain: core

#13387 chore(core): Remove `Event::from(String)`
  benches/transform/common.rs
  lib/vector-core/src/event/mod.rs
  src/config/unit_test/mod.rs
  src/sinks/aws_cloudwatch_logs/integration_tests.rs
  src/sinks/file/mod.rs
  src/sinks/gcp/cloud_storage.rs
  src/sinks/loki/integration_tests.rs
  src/sinks/loki/sink.rs
  src/sinks/new_relic_logs.rs
  src/sinks/redis.rs
  src/sinks/splunk_hec/logs/integration_tests.rs
  src/sinks/util/encoding/codec.rs
  src/sources/heroku_logs.rs
  src/sources/kubernetes_logs/parser/cri.rs
  src/sources/kubernetes_logs/parser/docker.rs
  src/sources/kubernetes_logs/parser/mod.rs
  src/test_util/mod.rs
  src/topology/test/backpressure.rs
  src/transforms/lua/v2/mod.rs
  src/transforms/sample.rs
Labels: domain: topology, type: tech debt, domain: sources, domain: transforms, domain: sinks, domain: core

#13346 chore(vrl): clippy deny+fix on diagnostic
  lib/vrl/compiler/src/expression/assignment.rs
  lib/vrl/diagnostic/src/diagnostic.rs
  lib/vrl/diagnostic/src/formatter.rs
  lib/vrl/diagnostic/src/lib.rs
  lib/vrl/diagnostic/src/note.rs
  lib/vrl/diagnostic/src/severity.rs
  lib/vrl/diagnostic/src/span.rs
Labels: domain: vrl

#12903 docs(external docs): add note about function fallibility
  website/cue/reference/remap/expressions.cue
  website/cue/reference/remap/expressions/function_call.cue
  website/layouts/partials/data.html
Labels: domain: external docs

#13395 docs(kubernetes_logs source): Update kubernetes api access requirements
  website/cue/reference/components/sources/kubernetes_logs.cue
Labels: domain: external docs

#13312 Deferred acks for papertrail, socket, statsd sinks
  src/sinks/util/tcp.rs
  src/sinks/util/udp.rs
  src/sinks/util/unix.rs
Labels: domain: sinks, ci-condition: integration tests enable
