Repository vectordotdev/vector, pull requests merged in 2022-09, with the labels that each got.

#14227 fix(prometheus_exporter sink): Account for normalization error
  src/internal_events/prometheus.rs
  src/sinks/prometheus/exporter.rs
Labels: domain: sinks

#14233 chore(dev): Add support for `api` and `enterprise` features
  scripts/features
Labels: type: task, domain: ci, domain: dev

#14251 revert(observability): Convert internal metric counts back to absolute
  lib/vector-core/src/event/metric/mod.rs
  lib/vector-core/src/metrics/mod.rs
  lib/vector-core/src/metrics/recorder.rs
Labels: type: bug, domain: observability, source: internal_metrics, domain: core

#14037 feat(file sink): support Zstandard-compressed output
  Cargo.lock
  Cargo.toml
  src/sinks/file/mod.rs
  src/test_util/mod.rs
  website/cue/reference/components/sinks.cue
  website/cue/reference/components/sinks/file.cue
Labels: domain: sinks, domain: external docs

#14249 enhancement(internal_metrics)!: Default to setting the host tag
  src/sources/internal_metrics.rs
  website/content/en/highlights/2022-10-04-0-25-0-upgrade-guide.md
  website/cue/reference/components/sources/internal_metrics.cue
Labels: domain: sources, domain: external docs

#13961 enhancement(observability): Add registered `BytesSent` event
  lib/vector-common/src/internal_event/bytes_sent.rs
  lib/vector-core/src/stream/driver.rs
  src/sinks/azure_blob/integration_tests.rs
  src/sinks/azure_common/service.rs
  src/sinks/console/sink.rs
  src/sinks/datadog/events/service.rs
  src/sinks/datadog/logs/service.rs
  src/sinks/datadog/metrics/service.rs
  src/sinks/datadog/traces/service.rs
  src/sinks/gcs_common/service.rs
  src/sinks/kafka/service.rs
  src/sinks/kafka/tests.rs
  src/sinks/loki/service.rs
  src/sinks/nats.rs
  src/sinks/new_relic/service.rs
  src/sinks/prometheus/exporter.rs
  src/sinks/pulsar.rs
  src/sinks/redis.rs
  src/sinks/socket.rs
  src/sinks/statsd.rs
  src/sinks/util/udp.rs
  src/sinks/websocket/sink.rs
Labels: type: enhancement, domain: observability, domain: sinks, domain: performance, source: internal_metrics, ci-condition: integration tests enable, domain: core

#14128 chore(vrl): Deprecate metadata functions
  lib/vrl/compiler/src/compiler.rs
  lib/vrl/compiler/src/expression/function_call.rs
  lib/vrl/stdlib/src/del.rs
  lib/vrl/tests/tests/diagnostics/deprecations/get_metadata_field.vrl
  lib/vrl/tests/tests/diagnostics/deprecations/get_metadata_field_legacy.vrl
  lib/vrl/tests/tests/diagnostics/deprecations/remove_metadata_field.vrl
  lib/vrl/tests/tests/diagnostics/deprecations/remove_metadata_field_legacy.vrl
  lib/vrl/tests/tests/diagnostics/deprecations/set_metadata_field.vrl
  lib/vrl/tests/tests/diagnostics/deprecations/set_metadata_field_legacy.vrl
  lib/vrl/tests/tests/functions/metadata_read_write_delete.vrl
  lib/vrl/tests/tests/internal/metadata_typedef.vrl
  website/content/en/highlights/2022-10-04-0-25-0-upgrade-guide.md
Labels: domain: vrl

#14270 chore(deps): Update AWS crates to versions 0.18.0/0.48.0
  Cargo.lock
  Cargo.toml
Labels: type: task, provider: aws, dependencies

#14247 fix(config): Rename global `expire_metrics` to `expire_metrics_secs`
  lib/vector-core/src/config/global_options.rs
  src/topology/mod.rs
  website/cue/reference/configuration.cue
Labels: type: bug, domain: topology, domain: config, domain: external docs, ci-condition: integration tests enable, domain: core

#14254 fix(aws_sqs source): Pass span context to spawned tasks
  src/sources/aws_sqs/source.rs
Labels: domain: sources

#14296 chore(vector source,vector sink)!: Remove v1 protocol support
  Cargo.toml
  src/internal_events/mod.rs
  src/internal_events/vector.rs
  src/sinks/vector/config.rs
  src/sinks/vector/mod.rs
  src/sinks/vector/service.rs
  src/sinks/vector/sink.rs
  src/sinks/vector/v1.rs
  src/sinks/vector/v2/mod.rs
  src/sources/vector/mod.rs
  src/sources/vector/v1.rs
  src/sources/vector/v2.rs
  website/content/en/highlights/2022-10-04-0-25-0-upgrade-guide.md
  website/cue/reference/components/sinks/vector.cue
  website/cue/reference/components/sources/vector.cue
Labels: type: tech debt, sink: vector, source: vector, domain: sources, domain: sinks, domain: external docs

#14302 enhancement(file sink): Adhere to instrumentation spec
  src/internal_events/file.rs
  src/internal_events/kubernetes_logs.rs
  src/internal_events/redis.rs
  src/internal_events/statsd_source.rs
  src/sinks/file/mod.rs
Labels: domain: observability, sink: file, domain: sinks

#14300 enhancement(datadog_traces sink): Add compliance test helpers.
  src/sinks/datadog/traces/integration_tests.rs
  src/sinks/datadog/traces/tests.rs
Labels: domain: tests, domain: sinks, sink: datadog_traces

#14117 chore(dedupe transform): Test compliance to instrumentation spec in `dedupe` transform
  src/config/unit_test/mod.rs
  src/config/unit_test/unit_test_components.rs
  src/sources/mod.rs
  src/transforms/dedupe.rs
  src/transforms/mod.rs
Labels: domain: sources, domain: transforms

#14315 chore(tests): Remove vector v1 tests
  lib/vector-config/tests/smoke.rs
  tests/shutdown.rs
Labels: domain: tests, type: tech debt, ci-condition: integration tests enable

#14248 enhancement(vrl): In `parse_key_value` group duplicate keys into an array
  lib/vrl/stdlib/src/parse_key_value.rs
  website/cue/reference/remap.cue
  website/cue/reference/remap/functions/parse_key_value.cue
Labels: domain: external docs, domain: vrl

#14245 enhancement(aws_sqs source): Add 10s rate limit to all errors, use existing internal events
  src/internal_events/aws_sqs.rs
  src/sources/aws_sqs/source.rs
Labels: domain: sources, ci-condition: integration tests enable

#14320 fix(http sink): Expand input type support to match codec's
  src/sinks/http.rs
  website/cue/reference/components/sinks/http.cue
Labels: domain: sinks, domain: external docs

#14326 chore(dev): Restore the `-rdynamic` linker flag
  .cargo/config.toml
Labels: transform: lua, domain: dev, ci-condition: integration tests enable, dependencies

#14327 enhancement(mongodb_metrics source): Rate limit internal errors
  src/internal_events/mongodb_metrics.rs
Labels: domain: observability, source: mongodb_metrics, ci-condition: integration tests enable

#14323 chore(nats source): Update to newer EventsReceived metric
  lib/vector-common/src/internal_event/events_received.rs
  src/sources/nats.rs
Labels: domain: observability, domain: sources, ci-condition: integration tests enable, source: nats

#14329 enhancement(nginx_metrics source): Rate limit internal errors
  src/internal_events/nginx_metrics.rs
Labels: domain: observability, source: nginx_metrics, ci-condition: integration tests enable

#14316 chore(config): annotate top-level config type for schema generation + add new subcommand
  Cargo.lock
  Cargo.toml
  lib/vector-common/Cargo.toml
  lib/vector-common/src/datetime.rs
  lib/vector-config-macros/src/ast/container.rs
  lib/vector-config-macros/src/ast/util.rs
  lib/vector-config-macros/src/attrs.rs
  lib/vector-config-macros/src/component_name.rs
  lib/vector-config-macros/src/configurable.rs
  lib/vector-config-macros/src/configurable_component.rs
  lib/vector-config-macros/src/lib.rs
  lib/vector-config/Cargo.toml
  lib/vector-config/src/component/marker.rs
  lib/vector-config/src/component/mod.rs
  lib/vector-config/src/external/chrono.rs
  lib/vector-config/src/external/mod.rs
  lib/vector-config/src/external/serde_with.rs
  lib/vector-config/src/external/tz.rs
  lib/vector-config/src/metadata.rs
  lib/vector-config/src/ser.rs
  lib/vector-config/src/stdlib.rs
  lib/vector-core/Cargo.toml
  lib/vector-core/src/config/global_options.rs
  lib/vector-core/src/config/log_schema.rs
  lib/vector-core/src/event/metric/data.rs
  lib/vector-core/src/event/metric/mod.rs
  lib/vector-core/src/event/metric/series.rs
  lib/vector-core/src/event/metric/value.rs
  lib/vector-core/src/metrics/ddsketch.rs
  src/app.rs
  src/cli.rs
  src/config/api.rs
  src/config/builder.rs
  src/config/enrichment_table.rs
  src/config/enterprise.rs
  src/config/format.rs
  src/config/loading/mod.rs
  src/config/loading/secret.rs
  src/config/mod.rs
  src/config/provider.rs
  src/config/schema.rs
  src/config/secret.rs
  src/config/unit_test/mod.rs
  src/enrichment_tables/file.rs
  src/enrichment_tables/geoip.rs
  src/enrichment_tables/mod.rs
  src/generate_schema.rs
  src/lib.rs
  src/providers/http.rs
  src/providers/mod.rs
  src/secrets/exec.rs
  src/secrets/mod.rs
  src/secrets/test.rs
  src/serde.rs
  src/topology/builder.rs
Labels: domain: topology, ci-condition: integration tests enable, domain: core

#14328 fix(host_metrics source): `logical_cpus` and `physical_cpus` separate gauges
  src/sources/host_metrics/cpu.rs
Labels: type: bug, domain: sources, source: host_metrics

#14330 chore: Remove unneeded OldEventsReceived
  lib/vector-common/src/internal_event/events_received.rs
  lib/vector-common/src/internal_event/mod.rs
  src/internal_events/common.rs
  src/sources/aws_s3/sqs.rs
  src/sources/eventstoredb_metrics/mod.rs
  src/sources/file_descriptors/mod.rs
  src/sources/journald.rs
Labels: domain: observability, domain: sources, ci-condition: integration tests enable

#14341 chore: Fix formatting for requirement blurb
  website/cue/reference/components/sources/aws_sqs.cue
Labels: domain: external docs

#14237 chore: update environment with rustup cache, podman compat
  .gitignore
  Makefile
  docs/DEVELOPING.md
  scripts/environment/Dockerfile
  scripts/environment/prepare.sh
Labels: domain: ci

#14351 docs: Fix the tags used in the `adaptive_concurrency_*` metrics
  website/cue/reference/components/sources/internal_metrics.cue
Labels: type: task, domain: external docs, source: internal_metrics

#14225 enhancement(datadog_logs sink): Adhere to instrumentation spec
  lib/vector-common/src/event_test_util.rs
  src/internal_events/codecs.rs
  src/internal_events/common.rs
  src/internal_events/socket.rs
  src/sinks/datadog/events/service.rs
  src/sinks/datadog/logs/integration_tests.rs
  src/sinks/datadog/logs/mod.rs
  src/sinks/datadog/logs/sink.rs
  src/sinks/datadog/logs/tests.rs
  src/sinks/util/builder.rs
  src/sinks/util/encoding.rs
  src/sinks/util/retries.rs
  src/sources/dnstap/mod.rs
  src/sources/http_scrape/integration_tests.rs
  src/sources/prometheus/scrape.rs
  src/sources/socket/mod.rs
  src/sources/statsd/mod.rs
  src/test_util/components.rs
Labels: domain: tests, domain: sources, domain: sinks, sink: datadog_logs, ci-condition: integration tests enable

#14356 fix(internal events): Double emission of `Error` event in sink framework code.
  lib/vector-common/src/internal_event/service.rs
  lib/vector-core/src/stream/driver.rs
Labels: domain: observability, domain: core

#14366 fix(docs): add cpu count metrics to `host_metrics` cue docs
  website/cue/reference/components/sources/host_metrics.cue
Labels: domain: external docs

#14118 enhancement(dedupe transform): Comply to `*EventsDropped` instrumentation spec in `dedupe` transform
  scripts/check-events
  src/internal_events/common.rs
  src/internal_events/dedupe.rs
  src/transforms/dedupe.rs
Labels: domain: transforms, domain: ci

#14357 enhancement(datadog_events sink): Adhere to instrumentation spec
  src/internal_events/parser.rs
  src/sinks/datadog/events/sink.rs
  src/sinks/datadog/events/tests.rs
Labels: domain: observability, domain: sinks, sink: datadog_events

#14376 enhancement(demo_logs source): add assert_source_compliance to unit tests
  src/sources/demo_logs.rs
Labels: domain: sources

#14361 enhancement(http sink): Adhere to instrumentation spec
  src/sinks/http.rs
  src/sinks/util/http.rs
Labels: sink: http, domain: observability, domain: sinks

#14364 enhancement(kafka sink): Adhere to instrumentation spec
  src/sinks/kafka/request_builder.rs
  src/sinks/kafka/service.rs
  src/sinks/kafka/sink.rs
Labels: sink: kafka, domain: observability, domain: sinks

#14363 chore(config): Restore `expire_metrics` back to original type
  lib/vector-config/src/stdlib.rs
  lib/vector-core/src/config/global_options.rs
  src/topology/mod.rs
  website/cue/reference.cue
  website/cue/reference/configuration.cue
Labels: type: bug, domain: topology, type: tech debt, domain: config, domain: external docs, domain: core

#14338 docs: Add release note about expiring internal metrics
  website/cue/reference/releases/0.24.0.cue
Labels: type: task, domain: external docs

#14389 fix(docs): fix wrong default value for `suppress_timestamp` in `prometheus_exporter` sink
  website/cue/reference/components/sinks/prometheus_exporter.cue
Labels: domain: external docs

#14388 chore(dedupe transform): Test compliance to instrumentation spec in `dedupe` transform
  src/config/unit_test/mod.rs
  src/config/unit_test/unit_test_components.rs
  src/sinks/mod.rs
  src/sources/mod.rs
  src/transforms/dedupe.rs
  src/transforms/mod.rs
Labels: domain: sources, domain: transforms, domain: sinks

#14121 enhancement(filter transform): Comply to `*EventsDropped` instrumentation spec in `filter` transform
  src/internal_events/filter.rs
  src/transforms/filter.rs
Labels: domain: transforms

#14395 docs(releasing): Remove duplicate release bullet
  website/cue/reference/releases/0.24.1.cue
Labels: domain: external docs

#14355 enhancement(influxdb_logs, influxdb_metrics sinks): Adhere to instrumentation spec
  Cargo.toml
  src/internal_events/influxdb.rs
  src/internal_events/mod.rs
  src/sinks/influxdb/logs.rs
  src/sinks/influxdb/metrics.rs
Labels: domain: observability, domain: sinks, sink: influxdb_metrics, sink: influxdb_logs

#14403 docs(internal_metrics): Fix labels for uptime_seconds
  website/cue/reference/components/sources/internal_metrics.cue
Labels: domain: external docs

#14344 enhancement(aws_s3 source): Adhere to errors spec
  src/sources/aws_s3/mod.rs
  src/sources/aws_s3/sqs.rs
Labels: domain: observability, domain: sources, source: aws_s3, ci-condition: integration tests enable

#14150 enhancement(prometheus_remote_write sink): allow aws auth request signing
  Cargo.toml
  src/aws/mod.rs
  src/sinks/elasticsearch/common.rs
  src/sinks/prometheus/mod.rs
  src/sinks/prometheus/remote_write.rs
  website/cue/reference/components/sinks/prometheus_remote_write.cue
  website/cue/reference/urls.cue
Labels: type: enhancement, domain: sinks, provider: aws, domain: external docs, sink: prometheus_remote_write, ci-condition: integration tests enable

#14119 chore(aggregate transform): Test compliance to instrumentation spec in `aggregate` transform
  src/transforms/aggregate.rs
Labels: domain: transforms

#14417 fix(honeycomb sink): Fixes timestamp field to match Honeycomb spec
  src/sinks/honeycomb.rs
Labels: domain: sinks, sink: honeycomb, provider: honeycomb, ci-condition: integration tests enable

#14421 fix: allow empty log schema keys
  lib/vector-core/src/schema/definition.rs
  src/sources/datadog_agent/mod.rs
Labels: domain: sources, domain: core

#14405 enhancement(prometheus_remote_write sink): Adhere to instrumentation spec
  src/sinks/prometheus/remote_write.rs
Labels: domain: observability, domain: sinks, sink: prometheus_remote_write, ci-condition: integration tests enable

#14420 chore: Require TEST_DATADOG_API_KEY for Datadog integration tests
  .github/workflows/integration-test.yml
  scripts/integration/docker-compose.datadog-agent.yml
  scripts/integration/docker-compose.datadog-logs.yml
  scripts/integration/docker-compose.datadog-metrics.yml
  scripts/integration/docker-compose.datadog-traces.yml
  src/sinks/datadog/logs/integration_tests.rs
  src/sinks/datadog/metrics/integration_tests.rs
  src/sinks/datadog/traces/integration_tests.rs
Labels: domain: sinks, domain: ci, ci-condition: integration tests enable

#14423 fix(config): Handle both expire_metrics settings when merging configs
  lib/vector-core/src/metrics/mod.rs
  src/config/builder.rs
Labels: type: bug, domain: observability, source: internal_metrics, domain: core

#14410 fix(dnstap source): recoverable parse errors should be a warning
  src/internal_events/dnstap.rs
  src/sources/dnstap/mod.rs
  src/sources/dnstap/parser.rs
Labels: domain: sources

#14122 chore(filter transform): Test compliance to instrumentation spec in `filter` transform
  src/transforms/filter.rs
Labels: domain: transforms

#14406 enhancement(redis sink): Adhere to instrumentation spec
  src/internal_events/mod.rs
  src/internal_events/redis.rs
  src/sinks/redis.rs
Labels: domain: observability, domain: sinks, sink: redis, ci-condition: integration tests enable

#14431 fix(docker_logs source): add assert_source_compliance calls to integration tests
  scripts/integration/docker-compose.docker-logs.yml
  src/sources/docker_logs.rs
Labels: domain: sources, domain: ci

#14435 chore(honeycomb sink): Use HTTP_SINK_TAGS for compliance
  src/sinks/honeycomb.rs
Labels: domain: observability, domain: sinks, sink: honeycomb

#14218 enhancement(kubernetes_logs source): Adhere to instrumentation spec
  lib/k8s-e2e-tests/src/metrics.rs
  lib/k8s-e2e-tests/tests/vector-agent.rs
  src/internal_events/kubernetes_logs.rs
  src/sources/kubernetes_logs/mod.rs
Labels: domain: sources, ci-condition: k8s e2e all targets, source: kubernetes_logs, ci-condition: k8s e2e tests enable

#14439 chore(new_relic sink): Adhere to InternalEvents spec
  src/sinks/new_relic/config.rs
  src/sinks/new_relic/mod.rs
  src/sinks/new_relic/model.rs
  src/sinks/new_relic/sink.rs
Labels: domain: observability, domain: sinks, sink: new_relic

#14440 chore(papertrail sink): Remove old inventory::submit for SinkDescription
  src/sinks/papertrail.rs
Labels: domain: sinks

#14123 enhancement(geoip transform): Comply to `*EventsDropped` instrumentation spec in `geoip` transform
  src/internal_events/common.rs
  src/internal_events/geoip.rs
  src/internal_events/parser.rs
  src/sinks/datadog/events/sink.rs
  src/sources/kubernetes_logs/parser/cri.rs
  src/transforms/geoip.rs
  src/transforms/log_to_metric.rs
Labels: domain: sources, domain: transforms, domain: sinks

#14448 chore(geoip transform): Test compliance to instrumentation spec in `geoip` transform
  src/transforms/geoip.rs
Labels: domain: transforms

#14305 enhancement(enterprise): hide secrets when enterprise mode is enabled
  Cargo.lock
  lib/vector-common/Cargo.toml
  lib/vector-common/src/lib.rs
  lib/vector-common/src/sensitive_string.rs
  src/aws/auth.rs
  src/config/enterprise.rs
  src/gcp.rs
  src/http.rs
  src/kafka.rs
  src/nats.rs
  src/sinks/apex/mod.rs
  src/sinks/axiom.rs
  src/sinks/azure_blob/config.rs
  src/sinks/azure_blob/integration_tests.rs
  src/sinks/azure_monitor_logs.rs
  src/sinks/datadog/events/config.rs
  src/sinks/datadog/logs/config.rs
  src/sinks/datadog/metrics/config.rs
  src/sinks/datadog/traces/config.rs
  src/sinks/elasticsearch/integration_tests.rs
  src/sinks/elasticsearch/mod.rs
  src/sinks/gcp/stackdriver_logs.rs
  src/sinks/honeycomb.rs
  src/sinks/humio/logs.rs
  src/sinks/humio/metrics.rs
  src/sinks/influxdb/logs.rs
  src/sinks/influxdb/metrics.rs
  src/sinks/influxdb/mod.rs
  src/sinks/kafka/tests.rs
  src/sinks/logdna.rs
  src/sinks/nats.rs
  src/sinks/new_relic/config.rs
  src/sinks/prometheus/remote_write.rs
  src/sinks/pulsar.rs
  src/sinks/sematext/logs.rs
  src/sinks/sematext/metrics.rs
  src/sinks/splunk_hec/logs/config.rs
  src/sinks/splunk_hec/logs/integration_tests.rs
  src/sinks/splunk_hec/logs/tests.rs
  src/sinks/splunk_hec/metrics/config.rs
  src/sinks/splunk_hec/metrics/integration_tests.rs
  src/sinks/splunk_hec/metrics/tests.rs
  src/sinks/util/uri.rs
  src/sinks/websocket/sink.rs
  src/sources/aws_kinesis_firehose/mod.rs
  src/sources/heroku_logs.rs
  src/sources/http_scrape/integration_tests.rs
  src/sources/nats.rs
  src/sources/nginx_metrics/mod.rs
  src/sources/splunk_hec/mod.rs
  src/sources/util/http/auth.rs
Labels: domain: sources, domain: sinks

#14459 docs(alpn): Fix misspelling
  lib/vector-core/src/tls/settings.rs
  website/cue/reference/components.cue
Labels: domain: external docs, domain: core

#14434 enhancement(statsd sink): Adhere to instrumentation spec
  src/internal_events/statsd_sink.rs
  src/sinks/datadog/events/service.rs
  src/sinks/datadog/logs/service.rs
  src/sinks/datadog/metrics/service.rs
  src/sinks/datadog/traces/service.rs
  src/sinks/influxdb/metrics.rs
  src/sinks/prometheus/remote_write.rs
  src/sinks/statsd.rs
Labels: sink: statsd, domain: sinks

#14458 fix(vector): internal log rates init usage fix
  lib/k8s-e2e-tests/src/lib.rs
  src/app.rs
  src/internal_events/codecs.rs
  src/internal_events/common.rs
  src/internal_events/datadog_metrics.rs
  src/internal_events/datadog_traces.rs
  src/internal_events/dnstap.rs
  src/internal_events/influxdb.rs
  src/internal_events/tcp.rs
  src/trace.rs
Labels: ci-condition: k8s e2e tests enable

#14314 add compact option to del
  lib/vrl/stdlib/src/del.rs
  website/cue/reference/remap/functions/del.cue
Labels: domain: external docs, domain: vrl

#14465 enhancement(loki sink): Adhere to InternalEvents spec
  scripts/check-events
  src/internal_events/common.rs
  src/internal_events/loki.rs
  src/sinks/loki/healthcheck.rs
  src/sinks/loki/integration_tests.rs
  src/sinks/loki/mod.rs
  src/sinks/loki/sink.rs
  src/sinks/loki/tests.rs
Labels: domain: observability, domain: sinks, sink: loki, domain: ci, ci-condition: integration tests enable

#14466 enhancement(aws_cloudwatch_logs sink): Adhere to InternalEvents spec
  src/internal_events/aws_cloudwatch_logs.rs
  src/sinks/aws_cloudwatch_logs/integration_tests.rs
  src/sinks/aws_cloudwatch_logs/request.rs
  src/sinks/aws_cloudwatch_logs/request_builder.rs
Labels: sink: aws_cloudwatch_logs, domain: observability, domain: sinks, ci-condition: integration tests enable

#14469 docs: Fix merge arg types
  website/cue/reference/remap/functions/merge.cue
Labels: domain: external docs

#14478 chore(aws_kinesis_firehose sink): File cleanup and use SinkRequestBuildError
  src/sinks/aws_kinesis_firehose/config.rs
  src/sinks/aws_kinesis_firehose/integration_tests.rs
  src/sinks/aws_kinesis_firehose/request_builder.rs
  src/sinks/aws_kinesis_firehose/service.rs
  src/sinks/aws_kinesis_firehose/sink.rs
Labels: domain: observability, domain: sinks, sink: aws_kinesis_firehose, ci-condition: integration tests enable

#14480 fix(exec source): emit discarded error when channel is closed
  src/internal_events/exec.rs
  src/sources/exec/mod.rs
  src/test_util/components.rs
Labels: domain: sources

#14482 chore(aws_kinesis_streams sink): File cleanup and use SinkRequestBuildError
  src/sinks/aws_kinesis_streams/config.rs
  src/sinks/aws_kinesis_streams/integration_tests.rs
  src/sinks/aws_kinesis_streams/request_builder.rs
  src/sinks/aws_kinesis_streams/service.rs
  src/sinks/aws_kinesis_streams/sink.rs
Labels: sink: aws_kinesis_streams, domain: observability, domain: sinks, ci-condition: integration tests enable

#14442 chore(config): Move global config merging into core
  lib/vector-core/src/config/global_options.rs
  src/config/builder.rs
Labels: type: tech debt, domain: config, domain: core

#14455 chore(buffers): assert that host has enough disk capacity for all configured disk buffers at startup
  Cargo.toml
  lib/vector-buffers/src/config.rs
  lib/vector-buffers/src/variants/disk_v1/mod.rs
  src/config/loading/mod.rs
  src/config/validation.rs
Labels: ci-condition: k8s e2e tests enable, ci-condition: integration tests enable

#14484 enhancement(aws_sqs sink): File cleanup and use SinkRequestBuildError
  src/sinks/aws_sqs/config.rs
  src/sinks/aws_sqs/integration_tests.rs
  src/sinks/aws_sqs/mod.rs
  src/sinks/aws_sqs/request_builder.rs
  src/sinks/aws_sqs/retry.rs
  src/sinks/aws_sqs/service.rs
  src/sinks/aws_sqs/sink.rs
Labels: domain: observability, domain: sinks, sink: aws_sqs, ci-condition: integration tests enable

#14476 fix(exec source): Add `assert_source_compliance` to tests
  src/sources/exec/mod.rs
Labels: domain: sources

#14443 chore(dev): Allow loading YAML configs with `run-vector` script
  scripts/features
Labels: type: tech debt, domain: ci, domain: dev

#14499 feature(prometheus_exporter sink): Emit address when building server.
  src/sinks/prometheus/exporter.rs
Labels: domain: sinks

#14470 docs: Improve `batch.max_bytes` description.
  src/sinks/util/batch.rs
  website/cue/reference/components/sinks.cue
Labels: domain: sinks, domain: external docs

#14497 feat(internal_metrics): Added ```vector_info``` internal metric, capturing build information
  build.rs
  src/internal_events/process.rs
  website/cue/reference/components/sources/internal_metrics.cue
Labels: domain: external docs

#14490 fix(ci): report filename when check-events errors
  scripts/check-events
Labels: domain: ci

#14449 fix(docker-logs source): old messages that are dropped should be a component_error
  src/internal_events/docker_logs.rs
  src/sources/docker_logs.rs
Labels: domain: sources

#14517 docs(http_scrape source): Fix title and alias
  website/content/en/docs/reference/configuration/sources/http_scrape.md
  website/cue/reference/components/sources/http_scrape.cue
Labels: domain: external docs

#14510 chore(observability): Don't include name field for SinkRequestBuildError
  src/internal_events/common.rs
  src/sinks/aws_kinesis_firehose/sink.rs
  src/sinks/aws_kinesis_streams/sink.rs
  src/sinks/aws_sqs/sink.rs
  src/sinks/datadog/events/sink.rs
  src/sinks/datadog/logs/mod.rs
  src/sinks/datadog/logs/sink.rs
  src/sinks/loki/sink.rs
  src/sinks/new_relic/sink.rs
  src/sources/docker_logs.rs
  src/sources/http_scrape/integration_tests.rs
  src/sources/http_scrape/scrape.rs
Labels: domain: observability, domain: sources, domain: sinks

#14485 enhancement(aws_s3 sink): File cleanup and use SinkRequestBuildError
  src/sinks/aws_s3/config.rs
  src/sinks/aws_s3/integration_tests.rs
  src/sinks/aws_s3/mod.rs
  src/sinks/aws_s3/tests.rs
  src/sinks/s3_common/config.rs
  src/sinks/s3_common/service.rs
  src/sinks/s3_common/sink.rs
Labels: sink: aws_s3, domain: observability, domain: sinks, ci-condition: integration tests enable

#14520 chore(core): Upgrade Rust to 1.64
  Cargo.toml
  Tiltfile
  lib/datadog/grok/src/filters/array.rs
  lib/k8s-test-framework/src/port_forward.rs
  lib/k8s-test-framework/src/reader.rs
  lib/lookup/src/lookup_v2/owned.rs
  lib/value/src/kind/remove.rs
  lib/value/src/value/serde.rs
  lib/vector-buffers/src/variants/disk_v2/record.rs
  lib/vector-buffers/src/variants/disk_v2/writer.rs
  lib/vector-core/src/event/metric/mod.rs
  lib/vrl/compiler/src/expression/function_call.rs
  lib/vrl/compiler/src/expression/variable.rs
  lib/vrl/compiler/src/function/closure.rs
  lib/vrl/stdlib/src/filter.rs
  lib/vrl/stdlib/src/parse_ruby_hash.rs
  rust-toolchain.toml
  src/api/schema/metrics/filter.rs
  src/internal_events/adaptive_concurrency.rs
  src/sinks/aws_cloudwatch_logs/request.rs
  src/sinks/splunk_hec/common/acknowledgements.rs
  src/sinks/util/adaptive_concurrency/tests.rs
  src/sources/demo_logs.rs
  src/sources/host_metrics/disk.rs
  src/sources/host_metrics/filesystem.rs
  src/sources/host_metrics/network.rs
  src/template.rs
  src/top/dashboard.rs
  src/topology/schema.rs
Labels: domain: topology, domain: sources, domain: sinks, domain: vrl, ci-condition: integration tests enable, domain: core

#14527 docs(host_metrics source): Fix description of load1/5/15 metrics
  website/cue/reference/components/sources/host_metrics.cue
Labels: domain: external docs, source: host_metrics

#14519 fix(azure blob sink): update emitted errors
  lib/vector-core/src/stream/driver.rs
  src/internal_events/azure_blob.rs
  src/internal_events/mod.rs
  src/internal_events/prelude.rs
  src/sinks/azure_common/config.rs
  src/sinks/azure_common/service.rs
  src/sinks/azure_common/sink.rs
Labels: domain: sinks, domain: core

#14491 feat(pulsar): message keys as config field
  src/sinks/pulsar.rs
  website/cue/reference/components/sinks/pulsar.cue
Labels: domain: sinks, domain: external docs

#14441 feat(vrl): Adds `keys()` and `values()` function
  lib/vrl/stdlib/Cargo.toml
  lib/vrl/stdlib/benches/benches.rs
  lib/vrl/stdlib/src/keys.rs
  lib/vrl/stdlib/src/lib.rs
  lib/vrl/stdlib/src/values.rs
  website/cue/reference/remap/functions/keys.cue
  website/cue/reference/remap/functions/values.cue
Labels: domain: external docs, domain: vrl

#14461 feat(prometheus): add auth implementation to Prometheus Exporter
  Cargo.toml
  src/sinks/prometheus/exporter.rs
  src/sources/prometheus/scrape.rs
  website/cue/reference/components/sinks/prometheus_exporter.cue
Labels: domain: sources, domain: sinks, domain: external docs

#14534 docs(observability): Clarify behavior of expiring internal counters
  website/cue/reference/configuration.cue
Labels: domain: observability, domain: external docs

#14541 chore(pulsar sink): Fix integration test for partition key
  src/sinks/pulsar.rs
Labels: domain: sinks, ci-condition: integration tests enable

#14548 chore(deps): Upgrade all AWS crates
  Cargo.lock
  Cargo.toml
Labels: ci-condition: integration tests enable

#14479 fix(vrl parse_xml): Fix panic in parse_xml vrl function
  lib/vrl/stdlib/src/parse_xml.rs
Labels: domain: vrl

#14542 chore(vector source): Remove unused `shutdown_timeout_secs` option
  src/sources/vector/mod.rs
  website/content/en/highlights/2022-10-04-0-25-0-upgrade-guide.md
  website/cue/reference/components/sources/vector.cue
Labels: domain: sources, domain: external docs

#14557 fix(clickhouse): fix URI configuration
  src/sinks/clickhouse.rs
Labels: domain: sinks

#14529 chore(ci): Limit search in `check-events` script to `src`/`lib`
  scripts/check-events
Labels: domain: ci

#12482 chore: establish a basic style guide
  STYLE.md
  scripts/check-events
  src/sinks/blackhole/sink.rs
  src/sources/opentelemetry/reply.rs
  src/sources/postgresql_metrics.rs
  src/topology/builder.rs
Labels: domain: topology, domain: sources, domain: sinks, domain: ci

#14581 chore: Handle installing protoc on arm and x86
  scripts/environment/install-protoc.sh
Labels: domain: ci, ci-condition: integration tests enable

#14575 fix(observability): emit `RequestBuildError` when `HttpSink::request_builder` errors
  src/sinks/util/http.rs
Labels: domain: sinks

#14596 fix(gcp_chronicle sink): add run_and_assert_sink_error to unhappy path test
  Makefile
  scripts/integration/docker-compose.chronicle.yml
  src/sinks/gcp/chronicle_unstructured.rs
Labels: domain: sinks, domain: ci

#14599 chore: Use `std::task::ready!` instead of `futures::ready!`
  lib/vector-buffers/src/topology/channel/receiver.rs
  lib/vector-common/src/finalizer.rs
  lib/vector-common/src/shutdown.rs
  lib/vector-core/src/stream/batcher/mod.rs
  lib/vector-core/src/stream/concurrent_map.rs
  lib/vector-core/src/stream/driver.rs
  lib/vector-core/src/stream/partitioned_batcher.rs
  lib/vector-core/src/tls/incoming.rs
  src/sink.rs
  src/sinks/aws_cloudwatch_logs/request.rs
  src/sinks/aws_cloudwatch_logs/service.rs
  src/sinks/pulsar.rs
  src/sinks/splunk_hec/common/service.rs
  src/sinks/util/adaptive_concurrency/future.rs
  src/sinks/util/adaptive_concurrency/semaphore.rs
  src/sinks/util/adaptive_concurrency/service.rs
  src/sinks/util/http.rs
  src/sinks/util/normalizer.rs
  src/sinks/util/retries.rs
  src/sinks/util/service/health.rs
  src/sinks/util/sink.rs
  src/sinks/util/socket_bytes_sink.rs
  src/sinks/util/udp.rs
  src/sources/kubernetes_logs/lifecycle.rs
  src/test_util/mod.rs
  src/utilization.rs
Labels: type: tech debt, domain: sources, domain: sinks, ci-condition: integration tests enable, domain: core

#14600 chore: Use `std::future::poll_fn` instead of `futures::future::poll_fn`
  lib/vector-common/src/shutdown.rs
  lib/vector-core/src/stream/driver.rs
  src/sinks/socket.rs
  src/sinks/splunk_hec/common/service.rs
  src/sinks/websocket/sink.rs
Labels: type: tech debt, domain: sinks, ci-condition: integration tests enable, domain: core

#14589 chore(sinks): Emit `EventsSent` in driver in new-style sinks
  lib/vector-common/src/internal_event/mod.rs
  lib/vector-core/src/stream/driver.rs
  src/sinks/amqp/service.rs
  src/sinks/aws_cloudwatch_logs/service.rs
  src/sinks/aws_kinesis_firehose/service.rs
  src/sinks/aws_kinesis_streams/service.rs
  src/sinks/aws_sqs/service.rs
  src/sinks/azure_common/config.rs
  src/sinks/datadog/events/service.rs
  src/sinks/datadog/logs/service.rs
  src/sinks/datadog/metrics/service.rs
  src/sinks/datadog/traces/service.rs
  src/sinks/elasticsearch/service.rs
  src/sinks/gcs_common/service.rs
  src/sinks/kafka/service.rs
  src/sinks/loki/service.rs
  src/sinks/new_relic/service.rs
  src/sinks/s3_common/service.rs
  src/sinks/splunk_hec/common/response.rs
  src/sinks/vector/service.rs
Labels: type: tech debt, domain: observability, domain: sinks, ci-condition: integration tests enable, domain: core

#14524 chore(buffers): improve unrecoverable error messages for disk v2
  benches/codecs/encoder.rs
  lib/codecs/src/decoding/format/bytes.rs
  lib/codecs/src/decoding/format/gelf.rs
  lib/codecs/src/decoding/format/json.rs
  lib/codecs/src/decoding/format/mod.rs
  lib/codecs/src/decoding/format/native.rs
  lib/codecs/src/decoding/format/native_json.rs
  lib/codecs/src/decoding/format/syslog.rs
  lib/codecs/src/decoding/mod.rs
  lib/codecs/src/encoding/format/avro.rs
  lib/codecs/src/encoding/format/gelf.rs
  lib/codecs/src/encoding/format/json.rs
  lib/codecs/src/encoding/format/logfmt.rs
  lib/codecs/src/encoding/format/mod.rs
  lib/codecs/src/encoding/format/native.rs
  lib/codecs/src/encoding/format/native_json.rs
  lib/codecs/src/encoding/format/raw_message.rs
  lib/codecs/src/encoding/format/text.rs
  lib/codecs/src/encoding/mod.rs
  lib/vector-buffers/src/lib.rs
  lib/vector-buffers/src/topology/channel/sender.rs
  lib/vector-buffers/src/variants/disk_v2/writer.rs
  lib/vector-common/src/lib.rs
  lib/vector-core/src/fanout.rs
  lib/vector-core/src/lib.rs
  lib/vector-core/src/transform/mod.rs
  src/api/tap.rs
  src/internal_events/pulsar.rs
  src/internal_events/splunk_hec.rs
  src/lib.rs
  src/topology/builder.rs
  src/topology/mod.rs
  src/topology/task.rs
  src/validate.rs
Labels: domain: topology, ci-condition: k8s e2e tests enable, ci-condition: integration tests enable, domain: core

#14088 enhancement(elasticsearch sink): Multiple endpoints
  src/sinks/aws_kinesis_firehose/integration_tests.rs
  src/sinks/axiom.rs
  src/sinks/elasticsearch/common.rs
  src/sinks/elasticsearch/config.rs
  src/sinks/elasticsearch/health.rs
  src/sinks/elasticsearch/integration_tests.rs
  src/sinks/elasticsearch/mod.rs
  src/sinks/elasticsearch/service.rs
  src/sinks/elasticsearch/sink.rs
  src/sinks/elasticsearch/tests.rs
  src/sinks/sematext/logs.rs
  website/content/en/highlights/2022-10-04-0-25-0-upgrade-guide.md
  website/cue/reference/components/sinks/elasticsearch.cue
Labels: domain: sinks, domain: external docs

#14615 fix(elasticsearch sink): update ElasticSearch emitted errors to comply with spec
  src/internal_events/elasticsearch.rs
  src/internal_events/mod.rs
  src/internal_events/prelude.rs
  src/sinks/elasticsearch/integration_tests.rs
  src/sinks/elasticsearch/service.rs
  src/sinks/elasticsearch/sink.rs
Labels: domain: sinks

#14572 fix(aws_s3 source): Handle s3:TestEvent and drop it
  src/sources/aws_s3/sqs.rs
Labels: domain: sources

#14634 fix(observability): update gcs common emitted errors.
  src/sinks/gcs_common/service.rs
  src/sinks/gcs_common/sink.rs
Labels: domain: sinks

#14638 fix(gcp_pubsub sink): Add `run_and_assert_sink_error` to integration test
  src/sinks/gcp/pubsub.rs
  src/sources/gcp_pubsub.rs
Labels: domain: sources, domain: sinks

#14617 chore(docs): add initial version of buffering docs
  website/content/en/docs/about/under-the-hood/architecture/_index.md
  website/content/en/docs/about/under-the-hood/architecture/buffering-model.md
  website/cue/reference/components/sinks.cue
  website/cue/reference/urls.cue
Labels: domain: external docs

#14649 fix(elasticsearch sink): don't assert a single endpoint for tests with multiple endpoints
  src/sinks/elasticsearch/integration_tests.rs
Labels: domain: sinks

#14658 enhancement(gcp_stackdriver_metrics sink): add `component_spec_compliance` test
  src/sinks/gcp/stackdriver_metrics.rs
Labels: domain: sinks

#14664 chore(docs): fix a broken link in the sink buffer docs + spelling error in upgrade notes
  website/cue/reference/components/sinks.cue
  website/cue/reference/releases/0.22.0.cue
Labels: domain: external docs

#14666 fix(syslog source): don't panic on invalid dates
  Cargo.lock
  lib/codecs/Cargo.toml
  lib/vrl/stdlib/Cargo.toml
Labels: domain: vrl
