Repository vectordotdev/vector, pull requests merged in 2022-04, with the labels that each got.

#12046 docs: Audit tls settings
  src/sinks/datadog/events/config.rs
  website/cue/reference/components.cue
  website/cue/reference/components/sinks.cue
  website/cue/reference/components/sinks/aws_cloudwatch_logs.cue
  website/cue/reference/components/sinks/aws_cloudwatch_metrics.cue
  website/cue/reference/components/sinks/aws_kinesis_firehose.cue
  website/cue/reference/components/sinks/aws_kinesis_streams.cue
  website/cue/reference/components/sinks/aws_s3.cue
  website/cue/reference/components/sinks/aws_sqs.cue
  website/cue/reference/components/sinks/azure_monitor_logs.cue
  website/cue/reference/components/sinks/clickhouse.cue
  website/cue/reference/components/sinks/datadog_archives.cue
  website/cue/reference/components/sinks/datadog_events.cue
  website/cue/reference/components/sinks/datadog_logs.cue
  website/cue/reference/components/sinks/datadog_metrics.cue
  website/cue/reference/components/sinks/elasticsearch.cue
  website/cue/reference/components/sinks/gcp_cloud_storage.cue
  website/cue/reference/components/sinks/gcp_pubsub.cue
  website/cue/reference/components/sinks/gcp_stackdriver_logs.cue
  website/cue/reference/components/sinks/gcp_stackdriver_metrics.cue
  website/cue/reference/components/sinks/http.cue
  website/cue/reference/components/sinks/humio.cue
  website/cue/reference/components/sinks/influxdb.cue
  website/cue/reference/components/sinks/kafka.cue
  website/cue/reference/components/sinks/loki.cue
  website/cue/reference/components/sinks/nats.cue
  website/cue/reference/components/sinks/papertrail.cue
  website/cue/reference/components/sinks/prometheus_exporter.cue
  website/cue/reference/components/sinks/prometheus_remote_write.cue
  website/cue/reference/components/sinks/redis.cue
  website/cue/reference/components/sinks/socket.cue
  website/cue/reference/components/sinks/splunk_hec_logs.cue
  website/cue/reference/components/sinks/splunk_hec_metrics.cue
  website/cue/reference/components/sinks/vector.cue
  website/cue/reference/components/sources.cue
  website/cue/reference/components/sources/aws_kinesis_firehose.cue
  website/cue/reference/components/sources/aws_s3.cue
  website/cue/reference/components/sources/aws_sqs.cue
  website/cue/reference/components/sources/datadog_agent.cue
  website/cue/reference/components/sources/heroku_logs.cue
  website/cue/reference/components/sources/http.cue
  website/cue/reference/components/sources/kafka.cue
  website/cue/reference/components/sources/nginx_metrics.cue
  website/cue/reference/components/sources/prometheus_remote_write.cue
  website/cue/reference/components/sources/prometheus_scrape.cue
  website/cue/reference/components/sources/redis.cue
  website/cue/reference/components/sources/socket.cue
  website/cue/reference/components/sources/splunk_hec.cue
  website/cue/reference/components/sources/statsd.cue
  website/cue/reference/components/sources/vector.cue
Labels: domain: sinks, domain: external docs

#12012 chore(core): Remove Rusoto SDK
  Cargo.lock
  Cargo.toml
  src/aws/auth.rs
  src/aws/aws_sdk/auth.rs
  src/aws/aws_sdk/mod.rs
  src/aws/aws_sdk/region.rs
  src/aws/mod.rs
  src/aws/region.rs
  src/aws/rusoto/auth.rs
  src/aws/rusoto/mod.rs
  src/aws/rusoto/region.rs
  src/common/s3.rs
  src/common/sqs.rs
  src/internal_events/aws_s3_source.rs
  src/internal_events/common.rs
  src/lib.rs
  src/sinks/aws_cloudwatch_logs/config.rs
  src/sinks/aws_cloudwatch_logs/integration_tests.rs
  src/sinks/aws_cloudwatch_metrics.rs
  src/sinks/aws_kinesis_firehose/config.rs
  src/sinks/aws_kinesis_firehose/integration_tests.rs
  src/sinks/aws_kinesis_firehose/service.rs
  src/sinks/aws_kinesis_streams/config.rs
  src/sinks/aws_kinesis_streams/integration_tests.rs
  src/sinks/aws_kinesis_streams/service.rs
  src/sinks/aws_s3/tests.rs
  src/sinks/aws_sqs/config.rs
  src/sinks/aws_sqs/integration_tests.rs
  src/sinks/aws_sqs/retry.rs
  src/sinks/s3_common/config.rs
  src/sinks/s3_common/service.rs
  src/sinks/util/buffer/compression.rs
  src/sources/aws_s3/mod.rs
  src/sources/aws_sqs/config.rs
  website/content/en/highlights/2022-03-22-0-21-0-upgrade-guide.md
  website/cue/reference/components/aws.cue
  website/cue/reference/components/sinks/aws_cloudwatch_logs.cue
  website/cue/reference/components/sinks/aws_cloudwatch_metrics.cue
  website/cue/reference/components/sinks/aws_sqs.cue
  website/cue/reference/components/sources/aws_sqs.cue
Labels: domain: sources, domain: sinks, domain: external docs, ci-condition: integration tests enable

#12047 fix(docker platform)!: Remove VOLUME declarations from Dockerfiles
  distribution/docker/alpine/Dockerfile
  distribution/docker/debian/Dockerfile
  distribution/docker/distroless-libc/Dockerfile
  distribution/docker/distroless-static/Dockerfile
  soaks/Dockerfile
  tilt/Dockerfile
  website/content/en/highlights/2022-03-22-0-21-0-upgrade-guide.md
Labels: domain: releasing

#11849 enhancement(pipelines transform): reduce the number of useless components
  Cargo.toml
  lib/vector-core/src/config/id.rs
  lib/vector-core/src/transform/config.rs
  lib/vector-core/src/transform/mod.rs
  src/conditions/is_log.rs
  src/conditions/is_metric.rs
  src/conditions/mod.rs
  src/config/compiler.rs
  src/config/graph.rs
  src/config/mod.rs
  src/config/transform.rs
  src/config/unit_test/mod.rs
  src/config/unit_test/unit_test_components.rs
  src/serde.rs
  src/transforms/compound.rs
  src/transforms/pipelines/config.rs
  src/transforms/pipelines/mod.rs
  src/transforms/pipelines/router.rs
  src/transforms/route.rs
Labels: domain: transforms, domain: core

#11814 chore: Move Windows tests to GHA custom runner
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  Cargo.lock
  Cargo.toml
  scripts/environment/bootstrap-windows-2019.ps1
  tests/crash.rs
  website/content/en/highlights/2022-03-22-0-21-0-upgrade-guide.md
Labels: domain: ci

#12053 chore(vrl): improve VRL parser compilation times
  lib/vrl/parser/Cargo.toml
  lib/vrl/parser/build.rs
  lib/vrl/parser/src/lex.rs
  lib/vrl/parser/src/lib.rs
  lib/vrl/parser/src/parser.lalrpop
Labels: domain: vrl

#12041 feat(loki sink): convert objects to Loki labels
  src/sinks/loki/config.rs
  src/sinks/loki/sink.rs
Labels: domain: sinks

#12058 docs: typoes
  lib/codecs/tests/data/native_encoding/README.md
  lib/vector-buffers/src/topology/acks.rs
  lib/vrl/stdlib/src/parse_xml.rs
  src/line_agg.rs
  src/sinks/datadog_archives.rs
  src/sinks/prometheus/exporter.rs
  src/sinks/util/buffer/metrics.rs
  website/content/en/guides/advanced/cloudwatch-logs-firehose.md
  website/cue/reference/components/transforms/geoip.cue
Labels: domain: sinks, domain: external docs, domain: vrl

#12072 chore: Upgrade cue to version 0.4.2
  scripts/environment/bootstrap-ubuntu-20.04.sh
Labels: type: tech debt, domain: ci

#12033 enhancement(prometheus_scrape source): add support for custom request query parameters
  src/sources/prometheus/scrape.rs
  website/cue/reference/components/sources/prometheus_scrape.cue
Labels: domain: sources, domain: external docs

#12082 docs(elasticsearch sink): Fix documentation of `query`
  website/cue/reference/components/sinks/elasticsearch.cue
Labels: domain: external docs

#12059 feat(vector sink): compression support for vector v2
  Cargo.lock
  Cargo.toml
  src/sinks/vector/v2/config.rs
  src/sinks/vector/v2/service.rs
  src/sources/vector/v2.rs
  website/cue/reference/components/sinks/vector.cue
Labels: domain: sources, domain: sinks, domain: external docs

#12098 fix(splunk_hec source): Ignore the HEC token for health checks
  src/sources/splunk_hec/mod.rs
Labels: domain: sources

#11835 chore: RFC for improving S3's support for large uploads
  rfcs/2022-03-07-3829-better-support-for-large-aws-s3-batches.md
Labels: sink: aws_s3, domain: rfc

#11489 feat(new sink): Initial `datadog_traces` sink
  .github/workflows/integration-test.yml
  Cargo.toml
  Makefile
  src/common/mod.rs
  src/internal_events/datadog_traces.rs
  src/internal_events/mod.rs
  src/sinks/datadog/mod.rs
  src/sinks/datadog/traces/config.rs
  src/sinks/datadog/traces/integration_tests.rs
  src/sinks/datadog/traces/mod.rs
  src/sinks/datadog/traces/request_builder.rs
  src/sinks/datadog/traces/service.rs
  src/sinks/datadog/traces/sink.rs
  src/sinks/datadog/traces/tests.rs
  src/sinks/mod.rs
  tests/crash.rs
  website/cue/reference/components/sinks/datadog_traces.cue
  website/cue/reference/services/datadog_traces.cue
  website/cue/reference/urls.cue
Labels: domain: sinks, domain: external docs

#11812 feat(sinks): Allow batch timeout to be fractional seconds
  src/sinks/aws_cloudwatch_logs/config.rs
  src/sinks/aws_cloudwatch_metrics.rs
  src/sinks/aws_kinesis_firehose/config.rs
  src/sinks/aws_kinesis_streams/config.rs
  src/sinks/aws_s3/tests.rs
  src/sinks/aws_sqs/sink.rs
  src/sinks/datadog/logs/config.rs
  src/sinks/datadog/metrics/config.rs
  src/sinks/datadog_archives.rs
  src/sinks/gcp/pubsub.rs
  src/sinks/gcp/stackdriver_metrics.rs
  src/sinks/honeycomb.rs
  src/sinks/influxdb/logs.rs
  src/sinks/influxdb/metrics.rs
  src/sinks/kafka/config.rs
  src/sinks/kafka/tests.rs
  src/sinks/loki/config.rs
  src/sinks/new_relic/config.rs
  src/sinks/new_relic_logs.rs
  src/sinks/prometheus/remote_write.rs
  src/sinks/redis.rs
  src/sinks/sematext/metrics.rs
  src/sinks/splunk_hec/common/util.rs
  src/sinks/statsd.rs
  src/sinks/util/batch.rs
  website/cue/reference/components.cue
  website/cue/reference/components/sinks.cue
  website/cue/reference/components/sinks/aws_cloudwatch_logs.cue
  website/cue/reference/components/sinks/aws_cloudwatch_metrics.cue
  website/cue/reference/components/sinks/aws_kinesis_firehose.cue
  website/cue/reference/components/sinks/aws_kinesis_streams.cue
  website/cue/reference/components/sinks/aws_s3.cue
  website/cue/reference/components/sinks/azure_blob.cue
  website/cue/reference/components/sinks/azure_monitor_logs.cue
  website/cue/reference/components/sinks/clickhouse.cue
  website/cue/reference/components/sinks/datadog_archives.cue
  website/cue/reference/components/sinks/datadog_events.cue
  website/cue/reference/components/sinks/datadog_logs.cue
  website/cue/reference/components/sinks/datadog_metrics.cue
  website/cue/reference/components/sinks/elasticsearch.cue
  website/cue/reference/components/sinks/gcp_cloud_storage.cue
  website/cue/reference/components/sinks/gcp_pubsub.cue
  website/cue/reference/components/sinks/gcp_stackdriver_logs.cue
  website/cue/reference/components/sinks/gcp_stackdriver_metrics.cue
  website/cue/reference/components/sinks/honeycomb.cue
  website/cue/reference/components/sinks/http.cue
  website/cue/reference/components/sinks/humio.cue
  website/cue/reference/components/sinks/influxdb_logs.cue
  website/cue/reference/components/sinks/influxdb_metrics.cue
  website/cue/reference/components/sinks/logdna.cue
  website/cue/reference/components/sinks/loki.cue
  website/cue/reference/components/sinks/new_relic.cue
  website/cue/reference/components/sinks/new_relic_logs.cue
  website/cue/reference/components/sinks/prometheus_remote_write.cue
  website/cue/reference/components/sinks/redis.cue
  website/cue/reference/components/sinks/sematext_logs.cue
  website/cue/reference/components/sinks/sematext_metrics.cue
  website/cue/reference/components/sinks/splunk_hec_logs.cue
  website/cue/reference/components/sinks/splunk_hec_metrics.cue
  website/cue/reference/components/sinks/vector.cue
Labels: domain: sinks, domain: external docs

#12110 chore: Batch default should be f64 for `datadog_traces`
  src/sinks/datadog/traces/config.rs
  website/cue/reference/components/sinks/datadog_traces.cue
Labels: domain: sinks, domain: external docs

#12117 fix(ci): missing file for `datadog-traces` sink integrations test
  scripts/integration/docker-compose.datadog-traces.yml
Labels: domain: ci, ci-condition: integration tests enable

#12125 fix(splunk_hec source): Fix handling of acknowledgements
  src/sources/splunk_hec/acknowledgements.rs
  src/sources/util/finalizer.rs
Labels: type: bug, domain: sources, source: splunk_hec

#8467 chore(vrl): String interpolation RFC
  rfcs/2021-07-27-7117-vrl-string-interpolation.md
Labels: domain: rfc

#12144 docs(route transform): Separate out note about _default route
  website/cue/reference/components/transforms/route.cue
Labels: domain: external docs

#12148 chore(journald source): Clean up a couple pieces of tech debt
  src/sources/journald.rs
Labels: type: tech debt, source: journald, domain: sources

#12124 fix(gcp_stackdriver_metrics sink)!: flatten the resource.labels to match stackdriver logs
  src/sinks/gcp/mod.rs
  website/content/en/highlights/2022-05-03-0-22-0-upgrade-guide.md
Labels: domain: sinks

#12167 docs(config): mention ytt as another available templating tool
  website/content/en/docs/reference/configuration/_index.md
  website/cue/reference/configuration.cue
  website/cue/reference/urls.cue
Labels: domain: external docs

#12171 chore(deps): revert bump tonic from 0.6.2 to 0.7.0 (#12062)
  Cargo.lock
  Cargo.toml
  lib/codecs/Cargo.toml
  lib/prometheus-parser/Cargo.toml
  lib/vector-core/Cargo.toml
Labels: platform: windows, domain: core, dependencies

#12090 feat(vrl): Add encrypt / decrypt / random_bytes functions
  Cargo.lock
  lib/value/src/value/convert.rs
  lib/vrl/stdlib/Cargo.toml
  lib/vrl/stdlib/benches/benches.rs
  lib/vrl/stdlib/src/decrypt.rs
  lib/vrl/stdlib/src/encrypt.rs
  lib/vrl/stdlib/src/lib.rs
  lib/vrl/stdlib/src/random_bytes.rs
  lib/vrl/tests/src/docs.rs
  website/cue/reference/remap/functions.cue
  website/cue/reference/remap/functions/decrypt.cue
  website/cue/reference/remap/functions/encrypt.cue
  website/cue/reference/remap/functions/md5.cue
  website/cue/reference/remap/functions/random_bytes.cue
  website/cue/reference/remap/functions/sha1.cue
  website/cue/reference/remap/functions/sha2.cue
  website/cue/reference/remap/functions/sha3.cue
Labels: domain: external docs, domain: vrl

#12168 bug(new_relic sink): Fix healthcheck response status check
  src/sinks/new_relic/healthcheck.rs
Labels: type: bug, domain: sinks, sink: new_relic_logs, domain: healthchecks

#12115 feat(socket source, syslog source): allow custom permissions on socket
  src/sources/socket/mod.rs
  src/sources/socket/unix.rs
  src/sources/statsd/mod.rs
  src/sources/statsd/unix.rs
  src/sources/syslog.rs
  src/sources/util/mod.rs
  src/sources/util/unix.rs
  src/sources/util/unix_datagram.rs
  src/sources/util/unix_stream.rs
  tests/syslog.rs
  website/cue/reference/components/sources/socket.cue
  website/cue/reference/components/sources/syslog.cue
Labels: domain: sources, domain: external docs

#12156 chore(codecs): Implement additional `Encoder`/`EncodingConfig` without framing
  benches/http.rs
  src/codecs/encoder.rs
  src/codecs/mod.rs
  src/sinks/http.rs
  src/sinks/util/encoding/adapter.rs
  src/sinks/util/encoding/mod.rs
Labels: domain: sinks, domain: codecs

#12169 chore: Remove unused pipelines files
  src/transforms/pipelines/expander.rs
  src/transforms/pipelines/filter.rs
  src/transforms/pipelines/mod.rs
  src/transforms/pipelines/router.rs
Labels: domain: transforms

#12032 enhancement(socket source): Add ability to enrich with peer addr port
  src/internal_events/tcp.rs
  src/sources/fluent/mod.rs
  src/sources/logstash.rs
  src/sources/socket/mod.rs
  src/sources/socket/tcp.rs
  src/sources/socket/udp.rs
  src/sources/syslog.rs
  src/sources/util/tcp/mod.rs
  src/sources/vector/v2.rs
  src/test_util/mod.rs
  website/cue/reference/components/sources/socket.cue
Labels: domain: sources, domain: external docs

#12157 chore(codecs): Implement `StandardEncodingsMigrator`
  src/sinks/util/encoding/codec.rs
  src/sinks/util/encoding/mod.rs
Labels: domain: sinks

#12138 enhancement(aws_sqs source): Use single task for finalization
  src/sources/aws_sqs/source.rs
  src/sources/file.rs
  src/sources/kafka.rs
  src/sources/splunk_hec/acknowledgements.rs
  src/sources/util/finalizer.rs
  src/sources/util/mod.rs
Labels: type: enhancement, domain: sources, source: aws_sqs

#12210 fix(vrl): resolve CLI issues with local scoping
  lib/vrl/cli/src/repl.rs
  lib/vrl/compiler/src/compiler.rs
  lib/vrl/compiler/src/lib.rs
  lib/vrl/vrl/src/lib.rs
Labels: domain: vrl

#12188 chore(releasing): Prepare v0.21.0 release
  distribution/install.sh
  distribution/kubernetes/vector-agent/README.md
  distribution/kubernetes/vector-agent/configmap.yaml
  distribution/kubernetes/vector-agent/daemonset.yaml
  distribution/kubernetes/vector-agent/rbac.yaml
  distribution/kubernetes/vector-agent/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/README.md
  distribution/kubernetes/vector-aggregator/configmap.yaml
  distribution/kubernetes/vector-aggregator/service-headless.yaml
  distribution/kubernetes/vector-aggregator/service.yaml
  distribution/kubernetes/vector-aggregator/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/statefulset.yaml
  distribution/kubernetes/vector-stateless-aggregator/README.md
  distribution/kubernetes/vector-stateless-aggregator/configmap.yaml
  distribution/kubernetes/vector-stateless-aggregator/deployment.yaml
  distribution/kubernetes/vector-stateless-aggregator/service-headless.yaml
  distribution/kubernetes/vector-stateless-aggregator/service.yaml
  distribution/kubernetes/vector-stateless-aggregator/serviceaccount.yaml
  website/content/en/docs/reference/configuration/sinks/datadog_traces.md
  website/content/en/highlights/2022-02-16-move-acknowledgements-configuration.md
  website/content/en/highlights/2022-03-22-0-21-0-upgrade-guide.md
  website/content/en/releases/0.21.0.md
  website/cue/reference/administration/interfaces/kubectl.cue
  website/cue/reference/releases/0.20.0.cue
  website/cue/reference/releases/0.21.0.cue
  website/cue/reference/versions.cue
Labels: domain: releasing, domain: external docs

#12199 chore(internal docs): document latest VRL iteration design changes
  lib/vrl/tests/src/main.rs
  lib/vrl/tests/tests/rfcs/8381/add_fields_to_objects_in_array.vrl
  lib/vrl/tests/tests/rfcs/8381/add_prefix_to_all_keys.vrl
  lib/vrl/tests/tests/rfcs/8381/call_parse_timestamp_on_array_of_cloudtrail_records.vrl
  lib/vrl/tests/tests/rfcs/8381/check_property_on_variable_sized_array_of_objects.vrl
  lib/vrl/tests/tests/rfcs/8381/convert_object_to_specific_string_format.vrl
  lib/vrl/tests/tests/rfcs/8381/converting_a_single_metric_into_multiple_metrics.vrl
  lib/vrl/tests/tests/rfcs/8381/de_dot_keys_for_elasticsearch.vrl
  lib/vrl/tests/tests/rfcs/8381/delete_a_field_from_all_objects_in_an_array.vrl
  lib/vrl/tests/tests/rfcs/8381/find_match_against_list_of_regular_expressions.vrl
  lib/vrl/tests/tests/rfcs/8381/map_key_value_pairs_to_object_with_key_and_value_fields.vrl
  lib/vrl/tests/tests/rfcs/8381/nullify_empty_strings.vrl
  lib/vrl/tests/tests/rfcs/8381/parse_message_using_list_of_grok_patterns_until_one_matches.vrl
  lib/vrl/tests/tests/rfcs/8381/re_introduce_previous_only_fields_functionality_using_iteration.vrl
  lib/vrl/tests/tests/rfcs/8381/remove_prefix_from_keys.vrl
  lib/vrl/tests/tests/rfcs/8381/run_encode_json_on_all_top_level_object_fields.vrl
  lib/vrl/tests/tests/rfcs/8381/run_parse_json_on_multiple_strings_in_array_and_emit_as_multiple_events.vrl
  lib/vrl/tests/tests/rfcs/8381/trim_a_character_from_all_keys.vrl
  lib/vrl/tests/tests/rfcs/8381/unzip_object_into_separate_key_value_arrays.vrl
  lib/vrl/tests/tests/rfcs/8381/zip_an_array_of_objects_with_fields_key_and_value_into_one_object.vrl
  rfcs/2021-08-29-8381-vrl-iteration-support.md
Labels: domain: vrl, domain: rfc

#12209 enhancement(journald source): Handle acknowledgements asynchronously
  src/sources/journald.rs
  src/sources/util/finalizer.rs
  src/sources/util/mod.rs
Labels: type: enhancement, source: journald, domain: sources

#10684 enhancement(socket sink): Integrate `encoding::Encoder` with `socket` sink
  Cargo.toml
  benches/codecs/encoder.rs
  benches/codecs/main.rs
  lib/codecs/src/encoding/format/mod.rs
  lib/codecs/src/encoding/mod.rs
  src/codecs/encoder.rs
  src/internal_events/mod.rs
  src/internal_events/socket.rs
  src/lib.rs
  src/serde.rs
  src/sinks/papertrail.rs
  src/sinks/socket.rs
  src/sinks/statsd.rs
  src/sinks/util/encoding/codec.rs
  src/sinks/util/encoding/mod.rs
  src/sinks/util/tcp.rs
  src/sinks/util/udp.rs
  src/sinks/util/unix.rs
  src/sinks/vector/v1.rs
  src/sources/socket/mod.rs
Labels: domain: sources, domain: sinks, domain: codecs

#12226 chore(releasing): Update k8s manifests for 0.21.0
  distribution/kubernetes/vector-agent/README.md
  distribution/kubernetes/vector-agent/configmap.yaml
  distribution/kubernetes/vector-agent/daemonset.yaml
  distribution/kubernetes/vector-agent/rbac.yaml
  distribution/kubernetes/vector-agent/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/README.md
  distribution/kubernetes/vector-aggregator/configmap.yaml
  distribution/kubernetes/vector-aggregator/service-headless.yaml
  distribution/kubernetes/vector-aggregator/service.yaml
  distribution/kubernetes/vector-aggregator/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/statefulset.yaml
  distribution/kubernetes/vector-stateless-aggregator/README.md
  distribution/kubernetes/vector-stateless-aggregator/configmap.yaml
  distribution/kubernetes/vector-stateless-aggregator/deployment.yaml
  distribution/kubernetes/vector-stateless-aggregator/service-headless.yaml
  distribution/kubernetes/vector-stateless-aggregator/service.yaml
  distribution/kubernetes/vector-stateless-aggregator/serviceaccount.yaml
Labels: domain: releasing

#12101 chore(topology): start to encapsulate config representation
  src/api/schema/components/mod.rs
  src/config/mod.rs
  src/config/transform.rs
  src/graph.rs
  src/topology/builder.rs
  src/topology/running.rs
  src/topology/schema.rs
  src/validate.rs
Labels: domain: topology

#12238 docs: typoes
  website/cue/reference/releases/0.21.0.cue
Labels: domain: external docs

#12247 docs: Fix deb download link
  website/cue/reference/administration/downloads.cue
Labels: domain: external docs

#12150 enhancement(config): extend environment variables interpolation syntax
  src/config/loading/mod.rs
  src/config/vars.rs
  website/content/en/docs/reference/configuration/_index.md
  website/cue/reference/configuration.cue
Labels: domain: external docs

#12248 fix(kubernetes_logs source): Handle all outcomes in reflector's select!
  Tiltfile
  src/kubernetes/reflector.rs
  src/sources/kubernetes_logs/k8s_paths_provider.rs
Labels: domain: sources, ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#11916 enhancement(vrl): add VrlImmutableTarget for conditions.
  lib/vector-core/src/event/log_event.rs
  lib/vector-core/src/event/mod.rs
  lib/vector-core/src/event/trace.rs
  lib/vector-core/src/event/vrl_target.rs
  src/conditions/vrl.rs
Labels: domain: core

#12258 fix(elasticsearch sink): Include security token when signing request
  src/sinks/elasticsearch/common.rs
Labels: type: bug, sink: elasticsearch, meta: regression, domain: sinks, ci-condition: integration tests enable

#12263 fix(nats sink,nats source): Fix handling of auth option naming
  src/nats.rs
  src/sinks/nats.rs
  src/sources/nats.rs
Labels: type: bug, domain: config, domain: sources, domain: sinks, sink: nats, source: nats

#12261 chore: Remove unmaintained nixpkg, note that nixpkg is community maintained
  distribution/nix/default.nix
  distribution/nix/default.nix.erb
  website/content/en/docs/setup/installation/package-managers/nix.md
Labels: domain: releasing

#12283 fix(nats source,nats sink): Unflatten `auth` configuration
  src/sinks/nats.rs
  src/sources/nats.rs
Labels: type: bug, domain: config, domain: sources, domain: sinks, sink: nats, source: nats

#12250 docs: Note performance improvement on v0.21.0 release notes
  website/cue/reference/releases/0.21.0.cue
Labels: domain: external docs

#12282 docs: Document lack of support for `credential_process` for AWS components
  website/content/en/highlights/2022-03-22-0-21-0-upgrade-guide.md
  website/cue/reference/components/aws.cue
Labels: domain: external docs

#12027 fix(aws_s3 sink): Conditionally set tagging
  src/sinks/s3_common/service.rs
Labels: domain: sinks

#12278 docs: Add known issues to 0.21.0 release
  website/cue/reference/releases/0.21.0.cue
Labels: domain: external docs

#12290 fix(topology): don't panic when checking inputs for new component during reload
  src/sources/splunk_hec/mod.rs
  src/topology/running.rs
  src/topology/test/mod.rs
  src/topology/test/reload.rs
Labels: domain: topology, domain: sources

#12268 chore(deps): remove some seemingly unused dependencies
  Cargo.lock
  lib/datadog/grok/Cargo.toml
  lib/datadog/grok/src/ast.rs
  lib/datadog/grok/src/filters/array.rs
  lib/datadog/grok/src/grok_filter.rs
  lib/datadog/grok/src/matchers/date.rs
  lib/datadog/grok/src/parse_grok.rs
  lib/datadog/grok/src/parse_grok_pattern.rs
  lib/datadog/grok/src/parse_grok_rules.rs
  lib/datadog/grok/src/parser.lalrpop
  lib/enrichment/Cargo.toml
  lib/tracing-limit/Cargo.toml
  lib/vector-buffers/Cargo.toml
  lib/vector-core/Cargo.toml
  lib/vector-vrl-functions/Cargo.toml
  lib/vrl/cli/Cargo.toml
  lib/vrl/compiler/Cargo.toml
  lib/vrl/compiler/fuzz/Cargo.toml
  lib/vrl/tests/Cargo.toml
  lib/vrl/vrl/Cargo.toml
Labels: domain: vrl, domain: core

#11732 chore(performance): Use multiple of CHUNK_SIZE for SOURCE_SENDER_BUFFER_SIZE
  src/source_sender/mod.rs
  src/topology/builder.rs
  src/topology/test/backpressure.rs
Labels: domain: topology

#12292 chore(deps): Upgrade AWS SDK to 0.10.1
  Cargo.lock
  Cargo.toml
Labels: type: tech debt, dependencies

#12305 refactor(pipelines transform): use array instead of map for pipelines
  soaks/tests/http_datadog_filter_blackhole/vector.toml
  soaks/tests/http_pipelines_blackhole/vector.toml
  soaks/tests/http_pipelines_blackhole_acks/vector.toml
  soaks/tests/http_pipelines_no_grok_blackhole/vector.toml
  src/config/loading/mod.rs
  src/config/mod.rs
  src/transforms/pipelines/config.rs
  src/transforms/pipelines/mod.rs
  tests/behavior/transforms/pipelines_simple.toml
  tests/namespacing/success/transforms/processing.toml
  tests/namespacing/success/transforms/processing/logs.toml
  tests/namespacing/success/transforms/processing/logs/pipelines/first.toml
  tests/namespacing/success/transforms/processing/logs/pipelines/second.json
  website/cue/reference/components/transforms/pipelines.cue
Labels: domain: transforms, domain: external docs

#12222 chore(deps): bump prost to 0.10.1 and tonic to 0.7.1
  Cargo.lock
  Cargo.toml
  lib/codecs/Cargo.toml
  lib/prometheus-parser/Cargo.toml
  lib/vector-core/Cargo.toml
  scripts/environment/bootstrap-windows-2019.ps1
Labels: type: tech debt, domain: ci, domain: core, dependencies

#12321 docs(internal_metrics): Fix docs for tags
  website/cue/reference/components/sources/internal_metrics.cue
Labels: domain: external docs

#12315 fix(aws provider): Pass configured region to credentials provider
  src/aws/auth.rs
  src/aws/mod.rs
  src/sinks/aws_kinesis_firehose/integration_tests.rs
  src/sinks/elasticsearch/common.rs
  src/sources/aws_sqs/integration_tests.rs
Labels: domain: sources, domain: sinks

#12291 enhancement(datadog provider): Retry forbidden requests
  src/sinks/datadog/logs/service.rs
  src/sinks/datadog/logs/tests.rs
  src/sinks/datadog/metrics/service.rs
  src/sinks/datadog/traces/service.rs
Labels: domain: sinks

#12286 fix(cloudwatch logs sink): Retry ThrottlingException
  Cargo.lock
  Cargo.toml
  src/aws/mod.rs
  src/sinks/aws_cloudwatch_logs/retry.rs
Labels: domain: sinks

#12205 chore(observability): Add region and endpoint to [enterprise] configuration
  src/common/datadog.rs
  src/config/enterprise.rs
  src/sinks/datadog/metrics/config.rs
Labels: domain: sinks

#12335 fix(pipelines transform): update comment not being up to date
  src/transforms/pipelines/mod.rs
Labels: domain: transforms

#12331 chore(ci): Add protoc program to Ubuntu and MacOS bootstrap images
  scripts/environment/bootstrap-macos-10.sh
  scripts/environment/bootstrap-ubuntu-20.04.sh
Labels: type: tech debt, domain: ci

#12313 fix(aws provider): Make region required configuration
  src/aws/mod.rs
  src/aws/region.rs
  src/internal_events/common.rs
  src/sinks/aws_cloudwatch_logs/integration_tests.rs
  src/sinks/aws_cloudwatch_metrics.rs
  src/sinks/aws_kinesis_firehose/service.rs
  src/sinks/aws_kinesis_firehose/tests.rs
  src/sinks/aws_kinesis_streams/service.rs
  src/sinks/aws_sqs/integration_tests.rs
  src/sinks/elasticsearch/common.rs
  src/sinks/s3_common/service.rs
  src/sources/aws_s3/mod.rs
  website/cue/reference/components/aws.cue
Labels: domain: sources, domain: sinks, domain: external docs

#12341 fix(config): Deny unknown options in TLS settings
  src/tls/settings.rs
Labels: type: bug, domain: config

#12180 enhancement(vrl)!: implement template strings in VRL
  lib/vrl/compiler/fuzz/Cargo.lock
  lib/vrl/compiler/fuzz/fuzz_targets/vm_differential.rs
  lib/vrl/compiler/src/compiler.rs
  lib/vrl/compiler/src/expression/literal.rs
  lib/vrl/parser/src/arbitrary.rs
  lib/vrl/parser/src/ast.rs
  lib/vrl/parser/src/lex.rs
  lib/vrl/parser/src/lib.rs
  lib/vrl/parser/src/parser.lalrpop
  lib/vrl/parser/src/template_string.rs
  lib/vrl/proptests/src/main.rs
  lib/vrl/tests/tests/diagnostics/syntax_error_ampersat_variable.vrl
  lib/vrl/tests/tests/expressions/templates/escapes.vrl
  lib/vrl/tests/tests/expressions/templates/template.vrl
  website/content/en/highlights/2022-05-03-0-22-0-upgrade-guide.md
Labels: domain: vrl

#12344 fix(ci): Fix merge conflict for AWS auth changes
  src/aws/auth.rs
  src/sinks/elasticsearch/common.rs
  src/sinks/elasticsearch/mod.rs
  src/sources/aws_sqs/integration_tests.rs
  tests/config.rs
Labels: domain: sources, domain: sinks

#12350 chore(ci): Revert prost/tonic upgrade
  Cargo.lock
  Cargo.toml
  lib/codecs/Cargo.toml
  lib/prometheus-parser/Cargo.toml
  lib/vector-core/Cargo.toml
  scripts/environment/bootstrap-macos-10.sh
  scripts/environment/bootstrap-ubuntu-20.04.sh
  scripts/environment/bootstrap-windows-2019.ps1
Labels: type: tech debt, meta: regression, domain: ci, domain: core, dependencies

#12354 fix(ci): Fix aws_kinesis_firehose and elasticsearch integration tests
  src/sinks/aws_kinesis_firehose/integration_tests.rs
  src/sinks/elasticsearch/integration_tests.rs
Labels: domain: sinks, ci-condition: integration tests enable

#12355 chore(ci): Fix config for named used in the dnstap integration tests
  tests/data/dnstap/named.conf.options.template
Labels: type: bug, ci-condition: integration tests enable

#12365 fix(vrl): allow a single brace to be escaped
  lib/vrl/parser/src/lex.rs
Labels: domain: vrl

#12334 chore(vrl): allow ignoring cue during test runs
  lib/vrl/tests/src/docs.rs
  lib/vrl/tests/src/main.rs
Labels: domain: vrl

#12336 chore(vrl): add syntax support for function closures
  lib/vrl/compiler/src/compiler.rs
  lib/vrl/parser/src/arbitrary.rs
  lib/vrl/parser/src/ast.rs
  lib/vrl/parser/src/lex.rs
  lib/vrl/parser/src/parser.lalrpop
  lib/vrl/proptests/src/main.rs
Labels: domain: vrl

#12352 docs(external docs): added documentation for template strings
  website/cue/reference/remap/literals/string.cue
Labels: domain: external docs

#12133 enhancement(kafka sink, codecs): Integrate `encoding::Encoder` with `kafka` sink
  src/sinks/kafka/config.rs
  src/sinks/kafka/request_builder.rs
  src/sinks/kafka/service.rs
  src/sinks/kafka/sink.rs
  src/sinks/kafka/tests.rs
Labels: domain: sinks

#12176 enhancement(aws_kinesis_firehose sink, codecs): Integrate `encoding::Encoder` with `aws_kinesis_firehose` sink
  src/sinks/aws_kinesis_firehose/config.rs
  src/sinks/aws_kinesis_firehose/integration_tests.rs
  src/sinks/aws_kinesis_firehose/request_builder.rs
  src/sinks/aws_kinesis_firehose/tests.rs
  src/sinks/util/encoding/mod.rs
Labels: domain: sinks

#12175 enhancement(aws_cloudwatch_logs sink, codecs): Integrate `encoding::Encoder` with `aws_cloudwatch_logs` sink
  src/internal_events/aws_cloudwatch_logs_subscription_parser.rs
  src/sinks/aws_cloudwatch_logs/config.rs
  src/sinks/aws_cloudwatch_logs/integration_tests.rs
  src/sinks/aws_cloudwatch_logs/request_builder.rs
  src/sinks/aws_cloudwatch_logs/sink.rs
Labels: domain: sinks

#11802 feat(new source): RFC for an Opentelemetry traces source
  rfcs/2022-03-15-11851-ingest-opentelemtry-traces.md
Labels: domain: rfc

#12370 chore(compound transform): remove it
  Cargo.toml
  lib/vector-core/src/transform/config.rs
  lib/vector-core/src/transform/mod.rs
  src/config/mod.rs
  src/config/unit_test/tests.rs
  src/transforms/compound.rs
  src/transforms/mod.rs
  tests/behavior/transforms/compound.toml
  website/cue/reference/components/transforms/compound.cue
  website/cue/reference/urls.cue
Labels: domain: transforms, domain: external docs, domain: core

#12371 docs: Fix version typo in 0.21.1 release notes
  website/cue/reference/releases/0.21.1.cue
Labels: domain: external docs

#12380 docs: fix typo in 0.21.1 release note
  website/cue/reference/releases/0.21.1.cue
Labels: domain: external docs

#12367 fix(ci): ensure the example folder is validated with namespacing
  config/examples/namespacing/sinks/es_cluster.toml
  scripts/check-examples.sh
Labels: domain: ci

#10371 enhancement(external docs): improve `datadog_agent` source doc
  website/content/en/docs/reference/configuration/sources/datadog_agent.md
  website/cue/reference/components/sources/datadog_agent.cue
Labels: domain: external docs

#12378 docs(datadog_agent source): Note version support for trace ingestion
  website/cue/reference/components/sources/datadog_agent.cue
  website/cue/reference/releases/0.21.0.cue
Labels: domain: external docs

#12229 chore(codecs): make source output types depend on codec
  lib/codecs/src/decoding/format/bytes.rs
  lib/codecs/src/decoding/format/json.rs
  lib/codecs/src/decoding/format/native.rs
  lib/codecs/src/decoding/format/native_json.rs
  lib/codecs/src/decoding/format/syslog.rs
  lib/codecs/src/decoding/mod.rs
  src/sources/aws_kinesis_firehose/mod.rs
  src/sources/aws_sqs/config.rs
  src/sources/demo_logs.rs
  src/sources/exec/mod.rs
  src/sources/heroku_logs.rs
  src/sources/http.rs
  src/sources/kafka.rs
  src/sources/nats.rs
  src/sources/redis/mod.rs
  src/sources/socket/mod.rs
  src/sources/stdin.rs
Labels: domain: sources

#12357 chore(deps): bump prost to 0.10.1 and tonic to 0.7.1
  Cargo.lock
  Cargo.toml
  lib/codecs/Cargo.toml
  lib/prometheus-parser/Cargo.toml
  lib/vector-core/Cargo.toml
  scripts/environment/bootstrap-macos-10.sh
  scripts/environment/bootstrap-ubuntu-20.04.sh
  scripts/environment/bootstrap-windows-2019.ps1
Labels: domain: ci, ci-condition: integration tests enable, domain: core, dependencies

#12405 fix(vrl): remember local state after compilation error in REPL
  lib/vrl/cli/src/repl.rs
  lib/vrl/compiler/src/compiler.rs
  lib/vrl/compiler/src/lib.rs
  lib/vrl/compiler/src/program.rs
  lib/vrl/vrl/src/lib.rs
Labels: domain: vrl

#12403 feat(kubernetes_logs source): Include pod_namespace tag on emitted metrics
  src/internal_events/kubernetes_logs.rs
  src/sources/kubernetes_logs/mod.rs
Labels: domain: sources, ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#12320 fix(internal_metrics source): Fix setting of host/pid tags
  src/sources/internal_metrics.rs
Labels: domain: sources

#12307 enhancement(observability): report internal logs to Datadog for enterprise
  Cargo.toml
  src/config/enterprise.rs
  src/sinks/datadog/logs/config.rs
  src/sinks/datadog/logs/mod.rs
  src/sources/internal_logs.rs
Labels: domain: sources, domain: sinks

#12414 fix(docker platform): add empty `/var/lib/vector` directory to Docker images
  distribution/docker/alpine/Dockerfile
  distribution/docker/debian/Dockerfile
  distribution/docker/distroless-libc/Dockerfile
  distribution/docker/distroless-static/Dockerfile
  soaks/Dockerfile
  tilt/Dockerfile
Labels: domain: releasing

#12178 chore(codecs): Implement `sinks::util::encoding::Encoder` for `crate::codecs::Encoder`
  src/codecs/encoder.rs
  src/sinks/util/encoding/mod.rs
Labels: domain: sinks, domain: codecs

#12420 chore: Drop global `allow(clippy::too_many_arguments)`
  src/api/schema/components/mod.rs
  src/api/schema/metrics/source/file.rs
  src/conditions/check_fields.rs
  src/lib.rs
  src/sinks/aws_cloudwatch_logs/request.rs
  src/sinks/splunk_hec/logs/sink.rs
  src/sinks/splunk_hec/logs/tests.rs
  src/sources/dnstap/mod.rs
  src/sources/http.rs
  src/sources/internal_metrics.rs
  src/sources/kafka.rs
  src/sources/prometheus/scrape.rs
  src/sources/socket/mod.rs
  src/sources/socket/tcp.rs
  src/sources/socket/udp.rs
  src/sources/util/http/prelude.rs
  src/sources/util/tcp/mod.rs
  src/transforms/key_value_parser.rs
  src/transforms/regex_parser.rs
Labels: domain: tests, type: tech debt, domain: sources, domain: transforms, domain: sinks

#12412 feat(vrl): allow compiler to emit non-fatal errors
  benches/remap.rs
  lib/enrichment/src/find_enrichment_table_records.rs
  lib/enrichment/src/get_enrichment_table_record.rs
  lib/enrichment/src/vrl_util.rs
  lib/vector-vrl-functions/src/set_semantic_meaning.rs
  lib/vrl/cli/src/cmd.rs
  lib/vrl/compiler/src/compiler.rs
  lib/vrl/compiler/src/expression.rs
  lib/vrl/compiler/src/expression/abort.rs
  lib/vrl/compiler/src/expression/assignment.rs
  lib/vrl/compiler/src/expression/function_call.rs
  lib/vrl/compiler/src/expression/literal.rs
  lib/vrl/compiler/src/expression/not.rs
  lib/vrl/compiler/src/expression/op.rs
  lib/vrl/compiler/src/expression/predicate.rs
  lib/vrl/compiler/src/expression/variable.rs
  lib/vrl/compiler/src/function.rs
  lib/vrl/compiler/src/lib.rs
  lib/vrl/compiler/src/value/error.rs
  lib/vrl/compiler/src/vm/argument_list.rs
  lib/vrl/core/src/expression.rs
  lib/vrl/diagnostic/src/diagnostic.rs
  lib/vrl/diagnostic/src/formatter.rs
  lib/vrl/diagnostic/src/lib.rs
  lib/vrl/parser/src/lex.rs
  lib/vrl/stdlib/src/match_any.rs
  lib/vrl/stdlib/src/match_datadog_query.rs
  lib/vrl/stdlib/src/parse_grok.rs
  lib/vrl/stdlib/src/parse_groks.rs
  lib/vrl/tests/src/main.rs
  lib/vrl/vrl/benches/runtime.rs
  lib/vrl/vrl/src/lib.rs
  lib/vrl/vrl/src/prelude.rs
  src/conditions/vrl.rs
  src/transforms/remap.rs
Labels: domain: transforms, domain: vrl

#12177 enhancement(aws_kinesis_streams sink, codecs): Integrate `encoding::Encoder` with `aws_kinesis_streams` sink
  src/sinks/aws_kinesis_streams/config.rs
  src/sinks/aws_kinesis_streams/integration_tests.rs
  src/sinks/aws_kinesis_streams/request_builder.rs
Labels: domain: sinks

#12023 fix(socket source): discard udp frames greater than max_length.
  lib/codecs/src/decoding/framing/character_delimited.rs
  src/sources/socket/mod.rs
  src/sources/socket/udp.rs
Labels: domain: sources

#12179 enhancement(azure_blob sink, codecs): Integrate `encoding::Encoder` with `azure_blob` sink
  src/sinks/azure_blob/config.rs
  src/sinks/azure_blob/integration_tests.rs
  src/sinks/azure_blob/request_builder.rs
  src/sinks/azure_blob/test.rs
Labels: domain: sinks

#12422 fix(aws provider): Allow configuring the load timeout for AWS credentials
  src/aws/auth.rs
  src/sinks/aws_kinesis_firehose/integration_tests.rs
  src/sinks/elasticsearch/integration_tests.rs
  website/cue/reference/components/aws.cue
Labels: domain: sinks, domain: external docs

#12417 chore: Apply a number of hadolint fixes to Dockerfiles
  distribution/docker/alpine/Dockerfile
  distribution/docker/debian/Dockerfile
  distribution/docker/distroless-libc/Dockerfile
  distribution/docker/distroless-static/Dockerfile
  lib/soak/Dockerfile
  scripts/environment/Dockerfile
  scripts/integration/Dockerfile
  skaffold/docker/Dockerfile
  soaks/Dockerfile
  soaks/Dockerfile.builder
  tests/data/dnstap/Dockerfile
  tilt/Dockerfile
Labels: domain: ci, domain: releasing

#12436 enhancement(datadog_metrics sink): add support for sending aggregated summaries
  lib/vector-core/src/event/finalization.rs
  lib/vector-core/src/event/metadata.rs
  lib/vector-core/src/event/metric.rs
  lib/vector-core/src/event/metric/data.rs
  lib/vector-core/src/event/metric/mod.rs
  lib/vector-core/src/event/metric/series.rs
  lib/vector-core/src/event/metric/value.rs
  src/api/schema/events/metric.rs
  src/sinks/aws_cloudwatch_metrics.rs
  src/sinks/datadog/metrics/encoder.rs
  src/sinks/datadog/metrics/normalizer.rs
  src/sinks/datadog/metrics/sink.rs
  src/sinks/influxdb/metrics.rs
  src/sinks/prometheus/exporter.rs
  src/sinks/prometheus/remote_write.rs
  src/sinks/sematext/metrics.rs
  src/sinks/statsd.rs
  src/sinks/util/buffer/metrics/mod.rs
  src/sinks/util/buffer/metrics/normalize.rs
  src/sinks/util/buffer/metrics/split.rs
  src/sinks/util/normalizer.rs
  src/test_util/metrics.rs
Labels: domain: sinks, ci-condition: integration tests enable, domain: core

#12446 chore: fix integration test dockerfile by explicitly installing build-essential
  scripts/integration/Dockerfile
Labels: domain: ci, ci-condition: integration tests enable

#12384 chore(vrl): correctly remove closure variables after closure ends
  lib/vrl/compiler/src/compiler.rs
  lib/vrl/compiler/src/expression/function_call.rs
  lib/vrl/compiler/src/state.rs
  lib/vrl/tests/src/main.rs
  lib/vrl/tests/tests/expressions/function_call/closure_scope.vrl
  lib/vrl/tests/tests/expressions/function_call/closure_scope_inheritance.vrl
Labels: domain: vrl

#12411 fix(internal_logs source): ensure all early buffered events are captured
  src/app.rs
  src/http.rs
  src/sinks/aws_sqs/service.rs
  src/sinks/azure_common/service.rs
  src/sinks/loki/service.rs
  src/sinks/prometheus/exporter.rs
  src/sinks/s3_common/service.rs
  src/sinks/util/sink.rs
  src/sources/aws_kinesis_firehose/mod.rs
  src/sources/datadog/agent/mod.rs
  src/sources/file.rs
  src/sources/internal_logs.rs
  src/sources/splunk_hec/mod.rs
  src/sources/util/framestream.rs
  src/sources/util/http/prelude.rs
  src/sources/util/tcp/mod.rs
  src/sources/util/unix_stream.rs
  src/sources/vector/v2.rs
  src/topology/builder.rs
  src/trace.rs
  src/transforms/aws_ec2_metadata.rs
Labels: domain: topology, domain: sources, domain: transforms, domain: sinks

#12449 chore(sources): Shared shutdown signals don't need `Shared`
  src/sources/aws_sqs/source.rs
  src/sources/file.rs
  src/sources/journald.rs
  src/sources/kafka.rs
  src/sources/splunk_hec/acknowledgements.rs
  src/sources/splunk_hec/mod.rs
  src/sources/util/finalizer.rs
Labels: type: tech debt, domain: sources

#12423 enhancement(performance): Cache `size_of` in `LogEvent`
  lib/vector-core/src/event/finalization.rs
  lib/vector-core/src/event/log_event.rs
Labels: type: enhancement, domain: performance, domain: core

#12443 chore: Allow clippy lint for stderr output in VRL
  lib/vrl/cli/src/cmd.rs
Labels: domain: vrl

#12385 feat(vrl): add `map_keys` enumeration function
  lib/vrl/stdlib/Cargo.toml
  lib/vrl/stdlib/src/lib.rs
  lib/vrl/stdlib/src/map_keys.rs
  lib/vrl/tests/src/main.rs
  lib/vrl/tests/tests/rfcs/8381/add_prefix_to_all_keys.vrl
  lib/vrl/tests/tests/rfcs/8381/de_dot_keys_for_elasticsearch.vrl
  lib/vrl/tests/tests/rfcs/8381/remove_prefix_from_keys.vrl
  lib/vrl/tests/tests/rfcs/8381/trim_a_character_from_all_keys.vrl
Labels: domain: vrl

#12460 fix(codecs): Fix deserializing of `framing.character_delimited.delimiter` for encoding
  lib/codecs/src/encoding/framing/character_delimited.rs
  src/sinks/util/encoding/adapter.rs
Labels: domain: sinks

#12388 feat(vrl): add `map_values` enumeration function
  lib/vrl/stdlib/Cargo.toml
  lib/vrl/stdlib/src/lib.rs
  lib/vrl/stdlib/src/map_values.rs
  lib/vrl/tests/src/main.rs
  lib/vrl/tests/tests/rfcs/8381/add_fields_to_objects_in_array.vrl
  lib/vrl/tests/tests/rfcs/8381/call_parse_timestamp_on_array_of_cloudtrail_records.vrl
  lib/vrl/tests/tests/rfcs/8381/delete_a_field_from_all_objects_in_an_array.vrl
  lib/vrl/tests/tests/rfcs/8381/nullify_empty_strings.vrl
  lib/vrl/tests/tests/rfcs/8381/run_encode_json_on_all_top_level_object_fields.vrl
  lib/vrl/tests/tests/rfcs/8381/run_parse_json_on_multiple_strings_in_array_and_emit_as_multiple_events.vrl
Labels: domain: vrl

#12462 fix: add sleep_impl to AWS SDK client builder
  Cargo.lock
  Cargo.toml
  src/aws/mod.rs
  src/common/s3.rs
  src/common/sqs.rs
  src/sinks/aws_cloudwatch_logs/config.rs
  src/sinks/aws_cloudwatch_metrics.rs
  src/sinks/aws_kinesis_firehose/config.rs
  src/sinks/aws_kinesis_streams/config.rs
  src/sources/aws_s3/mod.rs
Labels: domain: sources, domain: sinks, ci-condition: integration tests enable

#12407 enhancement(codecs): allow decoders to specify default stream framer
  lib/codecs/src/decoding/format/bytes.rs
  lib/codecs/src/decoding/format/json.rs
  lib/codecs/src/decoding/format/native.rs
  lib/codecs/src/decoding/format/native_json.rs
  lib/codecs/src/decoding/format/syslog.rs
  lib/codecs/src/decoding/mod.rs
  src/generate.rs
  src/serde.rs
  src/sources/exec/mod.rs
  src/sources/http.rs
  src/sources/socket/mod.rs
  src/sources/stdin.rs
  website/cue/reference/components/sources/exec.cue
  website/cue/reference/components/sources/http.cue
  website/cue/reference/components/sources/socket.cue
  website/cue/reference/components/sources/stdin.cue
Labels: domain: sources, domain: external docs

#12465 chore(ci): Run check-component-features in parallel
  .github/workflows/test.yml
  Makefile
  scripts/check-component-features
  scripts/check-one-feature
  src/sources/util/http/auth.rs
  src/sources/util/http/error.rs
  src/sources/vector/v1.rs
Labels: type: tech debt, domain: sources, domain: ci

#12479 chore(ci): [revert] run check-component-features in parallel
  .github/workflows/test.yml
  Makefile
  scripts/check-component-features
  scripts/check-one-feature
  src/sources/util/http/auth.rs
  src/sources/util/http/error.rs
  src/sources/vector/v1.rs
Labels: domain: sources, domain: ci

#12455 chore(vrl): add additional example to VRL iteration RFC
  lib/vrl/tests/src/main.rs
  lib/vrl/tests/tests/rfcs/8381/map_complex_dynamic_object_based_on_conditionals.vrl
  rfcs/2021-08-29-8381-vrl-iteration-support.md
Labels: domain: vrl, domain: rfc

#12470 fix(datadog_agent source): Submit source to inventory
  src/sources/datadog/agent/mod.rs
Labels: domain: sources

#12494 performance(route transform): run concurrently
  src/transforms/route.rs
Labels: domain: transforms

#12499 docs: Add Attributes note to datadog_logs sink
  website/cue/reference/components/sinks/datadog_logs.cue
Labels: domain: external docs
