Repository vectordotdev/vector, pull requests merged in 2022-05, with the labels that each got.

#12502 chore: Removed unused skaffold and docker files
  docs/DEVELOPING.md
  kustomization.yaml
  scripts/docker-run.sh
  scripts/skaffold-dockerignore.sh
  scripts/skaffold.sh
  skaffold.yaml
Labels: domain: ci, ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable, ci-condition: integration tests enable

#12513 chore(deps): Upgrade AWS SDKs to 0.11.0
  Cargo.lock
  Cargo.toml
Labels: ci-condition: integration tests enable

#12057 feat: New GCP Pub/Sub source
  Cargo.lock
  Cargo.toml
  build.rs
  proto/google/LICENSE-Apache-2.0.txt
  proto/google/api/annotations.proto
  proto/google/api/client.proto
  proto/google/api/field_behavior.proto
  proto/google/api/http.proto
  proto/google/api/resource.proto
  proto/google/pubsub/v1/pubsub.proto
  scripts/integration/docker-compose.gcp.yml
  src/gcp.rs
  src/internal_events/gcp_pubsub.rs
  src/internal_events/mod.rs
  src/lib.rs
  src/sinks/datadog_archives.rs
  src/sinks/gcp/cloud_storage.rs
  src/sinks/gcp/mod.rs
  src/sinks/gcp/pubsub.rs
  src/sinks/gcp/stackdriver_logs.rs
  src/sinks/gcs_common/config.rs
  src/sinks/gcs_common/service.rs
  src/sources/aws_sqs/source.rs
  src/sources/gcp_pubsub.rs
  src/sources/mod.rs
  src/sources/util/finalizer.rs
  src/sources/util/message_decoding.rs
  src/sources/util/mod.rs
  src/test_util/mod.rs
  src/tls/settings.rs
  website/cue/reference/components.cue
  website/cue/reference/components/sinks/gcp_pubsub.cue
  website/cue/reference/components/sources/gcp_pubsub.cue
Labels: domain: sources, domain: sinks, provider: gcp, type: feature, domain: ci, domain: external docs, ci-condition: integration tests enable

#12524 chore: Remove `src/transforms/noop.rs`
  src/transforms/mod.rs
  src/transforms/noop.rs
Labels: domain: transforms

#12500 docs(cli): Document vector config subcommand
  website/cue/reference/cli.cue
Labels: domain: external docs

#12544 fix(vrl): do not print empty warning log in VRL-based transforms
  lib/vrl/diagnostic/src/formatter.rs
Labels: domain: vrl

#12514 allow parsing values as a symbol
  lib/vrl/stdlib/src/parse_ruby_hash.rs
Labels: domain: vrl

#9632 feat(new sink): Add 'websocket' sink
  Cargo.lock
  Cargo.toml
  src/internal_events/mod.rs
  src/internal_events/websocket.rs
  src/sinks/mod.rs
  src/sinks/websocket/config.rs
  src/sinks/websocket/mod.rs
  src/sinks/websocket/sink.rs
  src/test_util/mod.rs
  website/cue/reference/components/sinks/websocket.cue
  website/cue/reference/services/websocket.cue
  website/cue/reference/urls.cue
Labels: domain: sinks, domain: external docs

#12525 chore: Create `Output::with_port`
  lib/vector-core/src/config/mod.rs
  src/config/graph.rs
  src/sources/datadog/agent/mod.rs
  src/transforms/pipelines/config.rs
  src/transforms/pipelines/mod.rs
  src/transforms/remap.rs
  src/transforms/route.rs
Labels: domain: sources, domain: transforms, domain: core

#12563 chore: Small fixes on for deb and rpm targets
  distribution/rpm/vector.spec
  scripts/package-deb.sh
Labels: domain: ci, domain: releasing

#12396 feat(vrl): warning on if-statement predicate that always/never succeeds
  lib/vrl/compiler/src/compiler.rs
  lib/vrl/compiler/src/expression/predicate.rs
  lib/vrl/tests/tests/diagnostics/if_statement_always_false.vrl
  lib/vrl/tests/tests/diagnostics/if_statement_always_true.vrl
  lib/vrl/tests/tests/expressions/if_statement/if_else.vrl
  lib/vrl/tests/tests/expressions/if_statement/if_elseif_else.vrl
  lib/vrl/tests/tests/expressions/if_statement/if_null.vrl
  lib/vrl/tests/tests/expressions/if_statement/if_resolves.vrl
  lib/vrl/tests/tests/expressions/if_statement/newlines.vrl
  website/cue/reference/remap/expressions/if.cue
Labels: type: feature, domain: external docs, domain: vrl

#12438 feat(kubernetes_logs source): Adding extra_namespace_label_selector
  lib/k8s-e2e-tests/tests/vector-agent.rs
  src/sources/kubernetes_logs/mod.rs
  website/content/en/docs/setup/installation/platforms/kubernetes.md
  website/cue/reference/components/sources/kubernetes_logs.cue
Labels: domain: sources, domain: external docs, ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#12549 chore(vrl): add iteration support to VM runtime
  lib/vrl/compiler/src/expression.rs
  lib/vrl/compiler/src/expression/function_call.rs
  lib/vrl/compiler/src/expression/function_closure.rs
  lib/vrl/compiler/src/function.rs
  lib/vrl/compiler/src/function/closure.rs
  lib/vrl/compiler/src/vm.rs
  lib/vrl/compiler/src/vm/argument_list.rs
  lib/vrl/compiler/src/vm/machine.rs
  lib/vrl/compiler/src/vm/state.rs
  lib/vrl/stdlib/src/for_each.rs
  lib/vrl/stdlib/src/map_keys.rs
  lib/vrl/stdlib/src/map_values.rs
  lib/vrl/tests/src/main.rs
  lib/vrl/vrl/src/prelude.rs
  lib/vrl/vrl/src/runtime.rs
Labels: domain: vrl

#12330 enhancement(kubernetes_logs): preserve event ordering
  src/sources/kubernetes_logs/lifecycle.rs
Labels: type: enhancement, domain: sources, ci-condition: k8s e2e all targets, source: kubernetes_logs, platform: kubernetes, ci-condition: k8s e2e tests enable

#12545 feat(vrl): add a max_depth parameter to the parse_json function
  lib/vrl/stdlib/benches/benches.rs
  lib/vrl/stdlib/src/parse_json.rs
  website/cue/reference/remap/functions/parse_json.cue
Labels: domain: external docs, domain: vrl

#12475 fix(aws provider): Use default region provider if region unspecified
  src/aws/mod.rs
  src/aws/region.rs
  src/internal_events/common.rs
  src/sinks/aws_cloudwatch_logs/integration_tests.rs
  src/sinks/aws_cloudwatch_metrics.rs
  src/sinks/aws_kinesis_firehose/integration_tests.rs
  src/sinks/aws_kinesis_firehose/service.rs
  src/sinks/aws_kinesis_streams/service.rs
  src/sinks/aws_sqs/integration_tests.rs
  src/sinks/elasticsearch/common.rs
  src/sinks/s3_common/service.rs
  src/sources/aws_s3/mod.rs
  tests/config.rs
Labels: domain: sources, domain: sinks, ci-condition: integration tests enable

#12598 chore: Bump k8s manifests to Helm chart 0.10.2 rendering
  distribution/kubernetes/vector-agent/README.md
  distribution/kubernetes/vector-agent/configmap.yaml
  distribution/kubernetes/vector-agent/daemonset.yaml
  distribution/kubernetes/vector-agent/rbac.yaml
  distribution/kubernetes/vector-agent/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/README.md
  distribution/kubernetes/vector-aggregator/configmap.yaml
  distribution/kubernetes/vector-aggregator/service-headless.yaml
  distribution/kubernetes/vector-aggregator/service.yaml
  distribution/kubernetes/vector-aggregator/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/statefulset.yaml
  distribution/kubernetes/vector-stateless-aggregator/README.md
  distribution/kubernetes/vector-stateless-aggregator/configmap.yaml
  distribution/kubernetes/vector-stateless-aggregator/deployment.yaml
  distribution/kubernetes/vector-stateless-aggregator/service-headless.yaml
  distribution/kubernetes/vector-stateless-aggregator/service.yaml
  distribution/kubernetes/vector-stateless-aggregator/serviceaccount.yaml
Labels: domain: releasing

#12594 fix(gcp_pubsub source): Make tonic load TLS system trust roots
  Cargo.lock
  Cargo.toml
  src/sources/gcp_pubsub.rs
Labels: type: bug, domain: networking, domain: sources, source: gcp_pubsub

#12573 feat(apt platform,debian platform,dpkg platform): Misc deb improvements
  distribution/debian/scripts/postinst
  distribution/debian/scripts/preinst
Labels: domain: releasing

#12611 fix(aws provider): Disable retries
  src/aws/mod.rs
  src/common/s3.rs
  src/common/sqs.rs
  src/sinks/aws_cloudwatch_logs/config.rs
  src/sinks/aws_cloudwatch_metrics.rs
  src/sinks/aws_kinesis_firehose/config.rs
  src/sinks/aws_kinesis_streams/config.rs
  src/sources/aws_s3/mod.rs
Labels: domain: sources, domain: sinks, ci-condition: integration tests enable

#12593 feat(centos platform,rhel platform,rpm platform,yum platform): Match deb permissions and groups to rpm
  distribution/rpm/vector.spec
Labels: domain: releasing

#12595 chore(enterprise): Refactor handling of enterprise configuration for components
  Cargo.toml
  src/config/enterprise.rs
  src/config/transform.rs
  src/sinks/datadog/logs/config.rs
  src/sinks/datadog/metrics/config.rs
  src/sources/host_metrics/cgroups.rs
  src/sources/host_metrics/disk.rs
  src/sources/host_metrics/filesystem.rs
  src/sources/host_metrics/mod.rs
  src/sources/host_metrics/network.rs
  src/sources/internal_logs.rs
  src/sources/internal_metrics.rs
Labels: domain: sources, domain: sinks

#12450 chore(ci): try using mold in CI to speed things up
  Cargo.lock
  Cargo.toml
  benches/files.rs
  lib/codecs/Cargo.toml
  lib/datadog/grok/Cargo.toml
  lib/datadog/search-syntax/Cargo.toml
  lib/lookup/Cargo.toml
  lib/tracing-limit/Cargo.toml
  lib/value/Cargo.toml
  lib/vector-api-client/Cargo.toml
  lib/vector-buffers/Cargo.toml
  lib/vector-core/Cargo.toml
  lib/vector-core/src/event/finalization.rs
  lib/vector-core/src/event/log_event.rs
  lib/vrl/compiler/Cargo.toml
  lib/vrl/compiler/fuzz/Cargo.lock
  lib/vrl/stdlib/Cargo.toml
  lib/vrl/stdlib/src/sha2.rs
  lib/vrl/stdlib/src/uuid_v4.rs
  scripts/environment/bootstrap-ubuntu-20.04.sh
  scripts/integration/docker-compose.azure.yml
  src/api/schema/events/mod.rs
  src/api/tap.rs
  src/expiring_hash_map.rs
  src/kubernetes/reflector.rs
  src/line_agg.rs
  src/sinks/aws_s3/sink.rs
  src/sinks/azure_blob/request_builder.rs
  src/sinks/file/mod.rs
  src/sinks/gcp/cloud_storage.rs
  src/sinks/splunk_hec/common/service.rs
  src/sinks/util/socket_bytes_sink.rs
  src/top/dashboard.rs
Labels: domain: sinks, domain: ci, domain: vrl, ci-condition: integration tests enable, domain: core

#12609 fix(vrl): Unwrap logged messages from quote marks
  Cargo.lock
  lib/vrl/stdlib/Cargo.toml
  lib/vrl/stdlib/src/log.rs
Labels: domain: vrl

#12561 enhancement(codecs): Couple sink input types to `Encoder` input types
  lib/codecs/src/encoding/format/json.rs
  lib/codecs/src/encoding/format/native.rs
  lib/codecs/src/encoding/format/native_json.rs
  lib/codecs/src/encoding/format/raw_message.rs
  lib/codecs/src/encoding/mod.rs
  src/sinks/aws_cloudwatch_logs/config.rs
  src/sinks/aws_kinesis_firehose/config.rs
  src/sinks/aws_kinesis_streams/config.rs
  src/sinks/aws_s3/config.rs
  src/sinks/azure_blob/config.rs
  src/sinks/http.rs
  src/sinks/kafka/config.rs
  src/sinks/socket.rs
  src/sinks/util/encoding/adapter.rs
Labels: domain: sinks

#12488 enhancement(gcp_cloud_storage sink, codecs): Integrate `encoding::Encoder` with `gcp` sink
  src/codecs/encoder.rs
  src/sinks/gcp/cloud_storage.rs
Labels: domain: sinks, domain: codecs

#12589 enhancement(papertrail sink, codecs): Integrate `encoding::Encoder` with `papertrail` sink
  src/sinks/papertrail.rs
  src/sinks/util/encoding/adapter.rs
Labels: domain: sinks

#12586 enhancement(nats sink, codecs): Integrate `encoding::Encoder` with `nats` sink
  src/sinks/nats.rs
Labels: domain: sinks

#12583 enhancement(influxdb sink, codecs): Integrate `encoding::Encoder` with `influxdb` sink
  src/sinks/influxdb/logs.rs
  src/sinks/util/encoding/adapter.rs
Labels: domain: sinks

#12550 enhancement(aws_sqs sink, codecs): Integrate `encoding::Encoder` with `aws_sqs` sink
  src/sinks/aws_sqs/config.rs
  src/sinks/aws_sqs/integration_tests.rs
  src/sinks/aws_sqs/request_builder.rs
Labels: domain: sinks

#12548 enhancement(file sink, codecs): Integrate `encoding::Encoder` with `file` sink
  benches/files.rs
  src/sinks/file/mod.rs
Labels: domain: sinks

#12646 chore(deps): Check in uncommitted changes to Cargo.lock
  Cargo.lock
Labels: type: tech debt, dependencies

#12622 fix(gcp_pubsub source): Handle connection errors by retrying
  src/sources/gcp_pubsub.rs
Labels: type: bug, domain: sources, source: gcp_pubsub

#12649 chore: Fix silent merge conflict with encoding::adapter::Transformer
  src/sinks/util/encoding/adapter.rs
Labels: domain: sinks

#12641 fix(gcp_pubsub source): Retry on errors, after a delay
  src/internal_events/gcp_pubsub.rs
  src/sources/gcp_pubsub.rs
  website/cue/reference/components/sources/gcp_pubsub.cue
Labels: type: bug, domain: sources, provider: gcp, domain: external docs, source: gcp_pubsub

#12644 chore(rfc): add additional VRL iteration example
  lib/vrl/tests/tests/rfcs/8381/merge_array_of_objects_to_object.vrl
  rfcs/2021-08-29-8381-vrl-iteration-support.md
Labels: domain: vrl, domain: rfc

#12492 enhancement(datadog service): add bytes sent metrics to Datadog sinks
  lib/vector-core/src/stream/driver.rs
  src/sinks/datadog/events/config.rs
  src/sinks/datadog/events/service.rs
  src/sinks/datadog/logs/service.rs
  src/sinks/datadog/logs/sink.rs
  src/sinks/datadog/metrics/encoder.rs
  src/sinks/datadog/metrics/request_builder.rs
  src/sinks/datadog/metrics/service.rs
  src/sinks/datadog/traces/request_builder.rs
  src/sinks/datadog/traces/service.rs
Labels: domain: sinks, domain: core

#12620 chore(vrl): allow compiling VRL without support for specific expressions
  lib/datadog/grok/Cargo.toml
  lib/enrichment/src/find_enrichment_table_records.rs
  lib/enrichment/src/get_enrichment_table_record.rs
  lib/vrl/cli/Cargo.toml
  lib/vrl/compiler/Cargo.toml
  lib/vrl/compiler/src/compiler.rs
  lib/vrl/compiler/src/expression.rs
  lib/vrl/compiler/src/expression/assignment.rs
  lib/vrl/compiler/src/expression/function_argument.rs
  lib/vrl/compiler/src/expression/function_call.rs
  lib/vrl/compiler/src/expression/if_statement.rs
  lib/vrl/compiler/src/expression/literal.rs
  lib/vrl/compiler/src/expression/op.rs
  lib/vrl/compiler/src/expression/predicate.rs
  lib/vrl/compiler/src/expression/query.rs
  lib/vrl/compiler/src/function.rs
  lib/vrl/compiler/src/state.rs
  lib/vrl/compiler/src/type_def.rs
  lib/vrl/compiler/src/value/convert.rs
  lib/vrl/compiler/src/vm/machine.rs
  lib/vrl/compiler/src/vm/state.rs
  lib/vrl/compiler/src/vm/variable.rs
  lib/vrl/core/Cargo.toml
  lib/vrl/core/src/expression.rs
  lib/vrl/vrl/Cargo.toml
  lib/vrl/vrl/src/runtime.rs
Labels: domain: vrl

#12661 chore(core): remove runtime lookup parsing for `keyvalue` filter in `parse_groks`
  lib/datadog/grok/src/filters/keyvalue.rs
  lib/datadog/grok/src/parse_grok.rs
Labels: ci-condition: integration tests enable

#12671 chore(observability): Check for and remove unused internal events
  scripts/check-events
  src/internal_events/aws_sqs.rs
  src/internal_events/console.rs
  src/internal_events/file.rs
  src/internal_events/kubernetes/api_watcher.rs
  src/internal_events/kubernetes/instrumenting_state.rs
  src/internal_events/kubernetes/instrumenting_watcher.rs
  src/internal_events/kubernetes/mod.rs
  src/internal_events/kubernetes/reflector.rs
  src/internal_events/kubernetes/stream.rs
  src/internal_events/loki.rs
  src/internal_events/mod.rs
  src/internal_events/prometheus.rs
Labels: type: tech debt, domain: observability, domain: ci

#12664 fix(aws_s3 source): handle spaces in filenames
  src/sources/aws_s3/mod.rs
  src/sources/aws_s3/sqs.rs
Labels: domain: sources

#12659 chore(vrl): remove `Value` clone in `Value::target_remove`
  lib/value/src/value/target.rs
  lib/vrl/core/src/target.rs
Labels: domain: vrl

#12637 add type_def VRL function
  lib/value/src/kind.rs
  lib/value/src/kind/debug.rs
  lib/vrl/stdlib/Cargo.toml
  lib/vrl/stdlib/src/lib.rs
  lib/vrl/stdlib/src/type_def.rs
  lib/vrl/tests/src/docs.rs
  lib/vrl/tests/src/main.rs
Labels: domain: vrl

#12665 chore(core): add lookup_v2 improvements
  lib/lookup/src/lookup_v2/mod.rs
Labels: domain: vrl

#12679 chore(vrl): improve performance of `block` expression
  lib/vrl/compiler/src/expression/block.rs
Labels: domain: vrl

#12645 fix(gcp service): Improve token refresh handling
  src/gcp.rs
  src/sinks/gcp/cloud_storage.rs
  src/sinks/gcp/pubsub.rs
  src/sinks/gcp/stackdriver_logs.rs
  src/sinks/gcs_common/config.rs
  src/sources/gcp_pubsub.rs
Labels: type: bug, domain: sources, domain: sinks, sink: gcp_pubsub, provider: gcp, source: gcp_pubsub

#12678 enhancement(codecs, sinks): Extend sink input type to encoder input type
  src/sinks/aws_sqs/config.rs
  src/sinks/file/mod.rs
  src/sinks/gcp/cloud_storage.rs
  src/sinks/nats.rs
  src/sinks/papertrail.rs
  src/sinks/redis.rs
Labels: domain: sinks

#12677 chore: Remove unnecessary `clone`s of `encoding`
  src/sinks/aws_kinesis_streams/config.rs
  src/sinks/aws_sqs/request_builder.rs
  src/sinks/file/mod.rs
  src/sinks/gcp/cloud_storage.rs
  src/sinks/nats.rs
  src/sinks/papertrail.rs
  src/sinks/redis.rs
Labels: domain: sinks

#12690 chore(vrl): change `Program` from `Vec<dyn Expression>` to `Block` expression
  lib/vrl/compiler/src/compiler.rs
  lib/vrl/compiler/src/expression/block.rs
  lib/vrl/compiler/src/program.rs
  lib/vrl/vrl/src/runtime.rs
Labels: domain: vrl

#12691 chore(vrl): improve performance of `Target` impl for `Event`
  lib/vector-core/src/event/log_event.rs
  lib/vector-core/src/event/trace.rs
  lib/vector-core/src/event/vrl_target.rs
Labels: domain: core

#12668 chore(observability): ensure transforms are checked for component spec compliance
  src/test_util/components.rs
  src/topology/builder.rs
  src/topology/test/compliance.rs
  src/topology/test/mod.rs
Labels: domain: topology

#12698 chore(vrl): improve performance of VrlTarget::into_events
  lib/vector-core/src/event/log_event.rs
  lib/vector-core/src/event/mod.rs
  lib/vector-core/src/event/vrl_target.rs
  src/transforms/remap.rs
Labels: domain: transforms, domain: core

#12699 chore(vrl): improve performance of `del` function
  lib/vrl/stdlib/src/del.rs
Labels: domain: vrl

#12706 chore(core): merge `value_mut` and `fields_mut`
  lib/vector-core/src/event/log_event.rs
Labels: domain: core

#12708 chore(kafka source): Simplify inner loop logic
  src/sources/kafka.rs
Labels: type: tech debt, source: kafka, domain: sources

#12716 chore: Remove map! macro
  lib/vrl/compiler/src/test_util.rs
  lib/vrl/stdlib/src/compact.rs
  lib/vrl/stdlib/src/encode_json.rs
  lib/vrl/stdlib/src/parse_apache_log.rs
  lib/vrl/stdlib/src/parse_aws_alb_log.rs
  lib/vrl/stdlib/src/parse_aws_cloudwatch_log_subscription_message.rs
  lib/vrl/stdlib/src/parse_aws_vpc_flow_log.rs
  lib/vrl/stdlib/src/parse_common_log.rs
  lib/vrl/stdlib/src/uuid_v4.rs
  lib/vrl/vrl/src/prelude.rs
Labels: domain: vrl

#12717 chore: Remove some instances of btreemap! macro
  src/enrichment_tables/file.rs
  src/sinks/util/encoding/mod.rs
  src/sources/fluent/mod.rs
  src/sources/host_metrics/cpu.rs
  src/sources/host_metrics/network.rs
  src/transforms/remove_tags.rs
Labels: domain: sources, domain: transforms, domain: sinks

#12713 chore(cli): Hide vector config subcommand
  src/cli.rs
  src/config/cmd.rs
  src/generate.rs
  website/cue/reference/cli.cue
Labels: domain: external docs

#12715 chore(sources): Convert the finalizer framework to output a stream
  lib/file-source/src/file_server.rs
  src/sources/aws_sqs/source.rs
  src/sources/file.rs
  src/sources/gcp_pubsub.rs
  src/sources/journald.rs
  src/sources/kafka.rs
  src/sources/kubernetes_logs/util.rs
  src/sources/splunk_hec/acknowledgements.rs
  src/sources/util/finalizer.rs
Labels: type: tech debt, domain: sources, domain: architecture

#12602 chore: Combine pipeline stages
  lib/vector-core/src/transform/mod.rs
  soaks/disabled-tests/http_datadog_filter_blackhole/README.md
  soaks/disabled-tests/http_datadog_filter_blackhole/data/.gitkeep
  soaks/disabled-tests/http_datadog_filter_blackhole/data/bootstrap.log
  soaks/disabled-tests/http_datadog_filter_blackhole/lading.yaml
  soaks/disabled-tests/http_datadog_filter_blackhole/vector.toml
  soaks/tests/http_pipelines_blackhole/vector.toml
  soaks/tests/http_pipelines_blackhole_acks/vector.toml
  src/transforms/pipelines/config.rs
  src/transforms/pipelines/mod.rs
Labels: domain: transforms, domain: core

#12736 fix(kafka source): Fix integration test failure
  src/sources/kafka.rs
Labels: type: bug, source: kafka, domain: sources, ci-condition: integration tests enable

#12424 feat(http source): Add support for specifying http method
  Cargo.toml
  src/sources/heroku_logs.rs
  src/sources/http.rs
  src/sources/prometheus/remote_write.rs
  src/sources/util/http/prelude.rs
  website/cue/reference/components/sources/http.cue
Labels: domain: sources, source: http, domain: external docs

#12601 chore: Update uap-rs to 0.6.0
  Cargo.lock
  lib/vrl/stdlib/Cargo.toml
  lib/vrl/stdlib/src/parse_user_agent.rs
Labels: domain: vrl

#12739 chore(tests): Use domain qualified names for all images
  scripts/integration/docker-compose.aws.yml
  scripts/integration/docker-compose.clickhouse.yml
  scripts/integration/docker-compose.datadog-agent.yml
  scripts/integration/docker-compose.elasticsearch.yml
  scripts/integration/docker-compose.eventstoredb.yml
  scripts/integration/docker-compose.gcp.yml
  scripts/integration/docker-compose.humio.yml
  scripts/integration/docker-compose.influxdb.yml
  scripts/integration/docker-compose.kafka.yml
  scripts/integration/docker-compose.loki.yml
  scripts/integration/docker-compose.mongo.yml
  scripts/integration/docker-compose.nginx.yml
  scripts/integration/docker-compose.postgres.yml
  scripts/integration/docker-compose.prometheus.yml
  scripts/integration/docker-compose.pulsar.yml
  scripts/integration/docker-compose.redis.yml
  scripts/integration/docker-compose.shutdown.yml
  scripts/integration/docker-compose.splunk.yml
Labels: domain: tests, type: tech debt, domain: ci, ci-condition: integration tests enable

#12737 chore(sources): Receive all new finalizer entries at once
  src/sources/util/finalizer.rs
Labels: type: tech debt, domain: sources

#12700 fix(codecs)!: Wrap values containing quotes in quotes
  lib/vector-common/src/encode_key_value.rs
  lib/vrl/stdlib/src/encode_key_value.rs
  website/content/en/highlights/2022-05-03-0-22-0-upgrade-guide.md
Labels: domain: vrl

#12750 fix(codecs): Improve deserialization of `EncodingConfigAdapter` / fix overriding `framing`
  lib/codecs/src/encoding/framing/character_delimited.rs
  lib/codecs/src/encoding/mod.rs
  src/sinks/aws_cloudwatch_logs/config.rs
  src/sinks/aws_kinesis_firehose/config.rs
  src/sinks/aws_kinesis_streams/config.rs
  src/sinks/aws_s3/config.rs
  src/sinks/aws_sqs/config.rs
  src/sinks/azure_blob/config.rs
  src/sinks/file/mod.rs
  src/sinks/gcp/cloud_storage.rs
  src/sinks/http.rs
  src/sinks/kafka/config.rs
  src/sinks/nats.rs
  src/sinks/papertrail.rs
  src/sinks/redis.rs
  src/sinks/socket.rs
  src/sinks/util/encoding/adapter.rs
  website/cue/reference/components/sinks.cue
  website/cue/reference/urls.cue
Labels: domain: sinks, domain: external docs

#12747 feat(vrl): New function is_json
  Cargo.lock
  lib/vrl/stdlib/Cargo.toml
  lib/vrl/stdlib/benches/benches.rs
  lib/vrl/stdlib/src/is_json.rs
  lib/vrl/stdlib/src/lib.rs
  website/cue/reference/remap/functions/is_json.cue
Labels: domain: external docs, domain: vrl

#12430 docs(syslog source): Correct documentation around structured data handling
  website/cue/reference/components/sources/syslog.cue
Labels: domain: external docs

#12754 enhancement(codecs): Implement `TextSerializer` and use it as default for `Encoding::Text`
  lib/codecs/src/encoding/format/mod.rs
  lib/codecs/src/encoding/format/text.rs
  lib/codecs/src/encoding/mod.rs
  lib/codecs/src/lib.rs
  src/codecs/encoder.rs
  src/sinks/aws_s3/config.rs
  src/sinks/aws_sqs/config.rs
  src/sinks/azure_blob/config.rs
  src/sinks/azure_blob/test.rs
  src/sinks/file/mod.rs
  src/sinks/gcp/cloud_storage.rs
  src/sinks/http.rs
  src/sinks/nats.rs
  src/sinks/papertrail.rs
  src/sinks/redis.rs
  src/sinks/socket.rs
  src/sinks/util/encoding/codec.rs
  src/sinks/util/encoding/mod.rs
Labels: domain: sinks, domain: codecs

#12558 enhancement(loki sink, codecs): Integrate `encoding::Encoder` with `loki` sink
  lib/codecs/src/encoding/format/logfmt.rs
  lib/codecs/src/encoding/format/mod.rs
  lib/codecs/src/encoding/mod.rs
  lib/codecs/src/lib.rs
  src/codecs/encoder.rs
  src/sinks/aws_s3/config.rs
  src/sinks/azure_blob/config.rs
  src/sinks/gcp/cloud_storage.rs
  src/sinks/loki/config.rs
  src/sinks/loki/event.rs
  src/sinks/loki/sink.rs
  src/sinks/loki/tests.rs
Labels: domain: sinks, domain: codecs

#12757 fix(gcp_pubsub source): Fix handling of auth token
  src/gcp.rs
  src/sources/gcp_pubsub.rs
  src/sources/util/finalizer.rs
Labels: type: bug, domain: sources, provider: gcp, ci-condition: integration tests enable, source: gcp_pubsub

#12642 chore: Regenerate manifests based on 0.10.3 of the helm chart
  distribution/kubernetes/vector-agent/README.md
  distribution/kubernetes/vector-agent/configmap.yaml
  distribution/kubernetes/vector-agent/daemonset.yaml
  distribution/kubernetes/vector-agent/rbac.yaml
  distribution/kubernetes/vector-agent/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/README.md
  distribution/kubernetes/vector-aggregator/configmap.yaml
  distribution/kubernetes/vector-aggregator/service-headless.yaml
  distribution/kubernetes/vector-aggregator/service.yaml
  distribution/kubernetes/vector-aggregator/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/statefulset.yaml
  distribution/kubernetes/vector-stateless-aggregator/README.md
  distribution/kubernetes/vector-stateless-aggregator/configmap.yaml
  distribution/kubernetes/vector-stateless-aggregator/deployment.yaml
  distribution/kubernetes/vector-stateless-aggregator/service-headless.yaml
  distribution/kubernetes/vector-stateless-aggregator/service.yaml
  distribution/kubernetes/vector-stateless-aggregator/serviceaccount.yaml
Labels: domain: releasing

#12766 fix(kubernetes_logs): abort reflectors on vector reload
  src/sources/kubernetes_logs/mod.rs
Labels: domain: sources

#12351 chore: RFC for log namespacing
  rfcs/2022-01-06-8596-tcp-source-backpressure.md
  rfcs/2022-04-20-12187-log-namespacing.md
Labels: domain: rfc

#11985 feat(config): introduce external secret management
  Cargo.toml
  Makefile
  src/app.rs
  src/config/builder.rs
  src/config/compiler.rs
  src/config/loading/config_builder.rs
  src/config/loading/loader.rs
  src/config/loading/mod.rs
  src/config/loading/secret.rs
  src/config/loading/secret_backend_example.rs
  src/config/loading/source.rs
  src/config/mod.rs
  src/config/unit_test/mod.rs
  src/unit_test.rs
  tests/behavior/config/secret.toml
  website/cue/reference/configuration.cue
  website/cue/reference/urls.cue
Labels: domain: external docs

#12768 chore(observability): make `RequestBuilder` provide (un)compressed payload sizes
  src/sinks/aws_kinesis_firehose/request_builder.rs
  src/sinks/aws_kinesis_streams/request_builder.rs
  src/sinks/aws_s3/sink.rs
  src/sinks/aws_sqs/request_builder.rs
  src/sinks/azure_blob/request_builder.rs
  src/sinks/azure_blob/test.rs
  src/sinks/datadog/events/request_builder.rs
  src/sinks/datadog/logs/sink.rs
  src/sinks/datadog/metrics/encoder.rs
  src/sinks/datadog_archives.rs
  src/sinks/elasticsearch/request_builder.rs
  src/sinks/gcp/cloud_storage.rs
  src/sinks/http.rs
  src/sinks/loki/sink.rs
  src/sinks/new_relic/sink.rs
  src/sinks/splunk_hec/logs/request_builder.rs
  src/sinks/splunk_hec/metrics/request_builder.rs
  src/sinks/util/buffer/compression.rs
  src/sinks/util/buffer/mod.rs
  src/sinks/util/compressor.rs
  src/sinks/util/request_builder.rs
Labels: domain: sinks, ci-condition: integration tests enable

#12789 fix(gcp_pubsub source): Handle connection resets with fast retry
  Cargo.lock
  Cargo.toml
  src/sources/gcp_pubsub.rs
Labels: type: tech debt, domain: sources, source: gcp_pubsub

#12797 feat(vrl): add variant enum argument to the is_json function
  lib/vrl/stdlib/benches/benches.rs
  lib/vrl/stdlib/src/is_json.rs
  website/cue/reference/remap/functions/is_json.cue
Labels: domain: external docs, domain: vrl

#12808 docs: Fix indention in a lua transformer example
  website/cue/reference/components/transforms/lua.cue
Labels: domain: external docs

#12721 chore(vrl): add iteration docs
  website/cue/reference/remap/expressions/function_call.cue
  website/cue/reference/remap/functions/for_each.cue
  website/cue/reference/remap/functions/map_keys.cue
  website/cue/reference/remap/functions/map_values.cue
Labels: domain: external docs

#12805 fix(vrl): correctly type-def external root path
  lib/vrl/compiler/src/expression/query.rs
  lib/vrl/tests/tests/issues/12777_false_positive_for_fallibillity.vrl
Labels: domain: vrl

#12814 chore(gcp service): Emit debug info when fetching auth tokens
  src/gcp.rs
Labels: provider: gcp, ci-condition: integration tests enable

#12765 chore(codecs): Implement `EncodingConfig`/`EncodingConfigWithFraming`
  lib/codecs/src/decoding/mod.rs
  src/codecs/decoding/config.rs
  src/codecs/decoding/decoder.rs
  src/codecs/decoding/mod.rs
  src/codecs/encoding/config.rs
  src/codecs/encoding/encoder.rs
  src/codecs/encoding/mod.rs
  src/codecs/mod.rs
  src/lib.rs
Labels: domain: codecs

#12181 enhancement(console sink, codecs): Integrate `encoding::Encoder` with `console` sink
  lib/codecs/src/encoding/format/raw_message.rs
  src/sinks/console/config.rs
  src/sinks/console/sink.rs
  src/topology/test/doesnt_reload.rs
  src/topology/test/reload.rs
  src/topology/test/source_finished.rs
Labels: domain: topology, domain: sinks

#12730 feat(kubenetes_logs): Annotate logs with node labels
  lib/k8s-e2e-tests/tests/vector-agent.rs
  lib/k8s-test-framework/src/framework.rs
  lib/k8s-test-framework/src/pod.rs
  scripts/deploy-chart-test.sh
  src/internal_events/kubernetes_logs.rs
  src/sources/kubernetes_logs/mod.rs
  src/sources/kubernetes_logs/node_metadata_annotator.rs
  website/content/en/highlights/2022-05-03-0-22-0-upgrade-guide.md
  website/cue/reference/components/sources/kubernetes_logs.cue
Labels: domain: sources, domain: ci, domain: external docs, ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#12819 fix(vrl): parse_nginx_log upstream label
  lib/vrl/stdlib/src/log_util.rs
  lib/vrl/stdlib/src/parse_nginx_log.rs
Labels: domain: vrl

#12842 chore(vrl): Revert warnings for static conditions
  lib/vrl/compiler/src/compiler.rs
  lib/vrl/compiler/src/expression/predicate.rs
  lib/vrl/tests/tests/diagnostics/if_statement_always_false.vrl
  lib/vrl/tests/tests/diagnostics/if_statement_always_true.vrl
  lib/vrl/tests/tests/expressions/if_statement/if_else.vrl
  lib/vrl/tests/tests/expressions/if_statement/if_elseif_else.vrl
  lib/vrl/tests/tests/expressions/if_statement/if_null.vrl
  lib/vrl/tests/tests/expressions/if_statement/if_resolves.vrl
  lib/vrl/tests/tests/expressions/if_statement/newlines.vrl
  website/cue/reference/remap/expressions/if.cue
Labels: domain: external docs, domain: vrl

#12844 chore(vrl): Revert immutable target for conditions
  lib/vector-core/src/event/mod.rs
  lib/vector-core/src/event/vrl_target.rs
  src/conditions/vrl.rs
Labels: domain: core

#12781 chore(observability): Implement async enterprise configuration reporting
  Cargo.lock
  Cargo.toml
  lib/vector-core/src/config/global_options.rs
  src/app.rs
  src/config/builder.rs
  src/config/enterprise.rs
  src/sinks/datadog/logs/config.rs
  src/sinks/datadog/logs/tests.rs
Labels: domain: sinks, domain: core

#12807 enhancement(observability): Include component span fields in internal_logs log events
  lib/vector-core/src/event/log_event.rs
  src/sources/internal_logs.rs
  src/trace.rs
Labels: domain: sources, domain: core

#12849 docs: Add release highlight for VRL encrypt/decrypt functions
  lib/vrl/tests/src/docs.rs
  website/content/en/highlights/2022-05-24-vrl-encryption.md
  website/cue/reference/remap/functions/decrypt.cue
  website/cue/reference/remap/functions/encrypt.cue
Labels: domain: external docs, domain: vrl

#12862 chore(buffers): fix unconstrained generic parameter in `EventCount` impl
  lib/vector-buffers/src/lib.rs
  lib/vector-common/src/byte_size_of.rs
  lib/vector-core/src/event/mod.rs
  src/sinks/loki/event.rs
Labels: domain: sinks, domain: core

#12871 fix(codecs): Use `write_all` for output
  src/sinks/util/encoding/mod.rs
Labels: type: bug, meta: regression, domain: sinks, ci-condition: integration tests enable

#12873 fix(loki sink): Fix all uses of `Write::write`
  src/generate.rs
  src/sinks/loki/event.rs
  src/sources/vector/v1.rs
Labels: type: bug, source: file, type: tech debt, domain: config, domain: sources, domain: sinks, sink: loki, ci-condition: integration tests enable

#12870 fix(prometheus_scrape source): Set Accept header
  src/sources/prometheus/scrape.rs
Labels: domain: sources

#12876 chore(ci): Allow println in tests
  src/sources/syslog.rs
Labels: domain: sources

#12875 chore: Mark `Write::write` as disallowed
  clippy.toml
  src/sinks/util/compressor.rs
  src/sinks/util/encoding/codec.rs
Labels: type: tech debt, domain: sinks

#12874 fix(deps, gcp service): Use default deps for `goauth`
  Cargo.toml
Labels: type: bug, provider: gcp, domain: deps, domain: auth, ci-condition: integration tests enable

#12830 [refactor] move grpc server logic into sources/util
  src/sources/util/grpc/mod.rs
  src/sources/util/mod.rs
  src/sources/vector/v2.rs
Labels: domain: sources

#12877 chore: Brush off markdown files
  CODE_OF_CONDUCT.md
  PRIVACY.md
  SECURITY.md
  docs/CONTRIBUTING.md
  docs/DEVELOPING.md
  docs/REVIEWING.md
  docs/specs/buffer.md
  docs/specs/component.md
  docs/specs/configuration.md
  docs/specs/instrumentation.md
  rfcs/README.md
Labels: domain: rfc

#11743 chore(schemas, datadog_logs sink): add schema requirements
  lib/codecs/src/encoding/format/raw_message.rs
  lib/codecs/src/encoding/format/text.rs
  lib/value/src/value/convert.rs
  lib/vector-buffers/src/buffer_usage_data.rs
  lib/vector-core/src/config/mod.rs
  lib/vector-core/src/event/log_event.rs
  lib/vector-core/src/schema/definition.rs
  lib/vector-core/src/schema/requirement.rs
  lib/vector-vrl-functions/src/set_semantic_meaning.rs
  lib/vrl/compiler/src/expression/query.rs
  lib/vrl/compiler/src/state.rs
  src/config/builder.rs
  src/config/sink.rs
  src/config/transform.rs
  src/sinks/datadog/logs/config.rs
  src/sinks/datadog/logs/sink.rs
  src/sinks/util/encoding/fixed.rs
  src/sinks/util/encoding/mod.rs
  src/sources/datadog/agent/logs.rs
  src/sources/datadog/agent/mod.rs
  src/sources/datadog/agent/tests.rs
  src/topology/builder.rs
  src/topology/schema.rs
  src/transforms/remap.rs
Labels: domain: topology, domain: sources, domain: transforms, domain: sinks, domain: vrl, ci-condition: integration tests enable, domain: core

#12879 docs(various): Improve readability
  docs/DEPRECATION.md
  docs/USER_EXPERIENCE_DESIGN.md
  docs/specs/instrumentation.md
  rfcs/2020-03-06-1999-api-extensions-for-lua-transform.md
  rfcs/2020-04-04-2221-kubernetes-integration.md
  rfcs/2020-08-21-3092-apache-metrics-source.md
  rfcs/2021-07-20-8288-csv-enrichment.md
  rfcs/2021-09-01-8547-accept-metrics-in-datadog-agent-source.md
  rfcs/2021-10-15-9572-accept-datadog-traces.md
  rfcs/2022-02-23-9481-config-schema.md
  rfcs/2022-02-24-11552-dd-agent-style-secret-management.md
  rfcs/2022-03-15-11851-ingest-opentelemtry-traces.md
  src/http.rs
  testing/github-10895/steps.md
Labels: domain: rfc

#12885 chore(journald source): Several cleanups
  src/sources/journald.rs
Labels: type: tech debt, source: journald, domain: sources

#12658 chore(datadog_agent source): newer trace format support (incl. `datadog_traces` sink update)
  proto/dd_trace.proto
  src/sinks/datadog/traces/config.rs
  src/sinks/datadog/traces/request_builder.rs
  src/sinks/datadog/traces/sink.rs
  src/sinks/datadog/traces/tests.rs
  src/sources/datadog/agent/mod.rs
  src/sources/datadog/agent/tests.rs
  src/sources/datadog/agent/traces.rs
Labels: domain: sources, domain: sinks

#12889 fix(journald source): Improve handling of shutdown signal
  src/sources/journald.rs
Labels: type: bug, source: journald, domain: sources

#12905 fix(vrl): parse nginx rate limit errors
  lib/vrl/stdlib/src/log_util.rs
  lib/vrl/stdlib/src/parse_nginx_log.rs
Labels: domain: vrl

#12908 chore(journald source): Use a journalctl test script to improve testing
  src/sources/journald.rs
  tests/data/journalctl
Labels: domain: tests, type: tech debt, source: journald, domain: sources, domain: unit tests
