Repository vectordotdev/vector, pull requests merged in 2022-10, with the labels that each got.

#14382 feat(vrl): Add `parse_cef` function
  Cargo.lock
  lib/vrl/stdlib/Cargo.toml
  lib/vrl/stdlib/benches/benches.rs
  lib/vrl/stdlib/src/lib.rs
  lib/vrl/stdlib/src/parse_cef.rs
  website/cue/reference/remap/functions/parse_cef.cue
Labels: domain: external docs, domain: vrl

#14675 docs: Update AWS documentation
  website/cue/reference/components/aws.cue
Labels: domain: external docs

#14684 fix(docs): Add missing container_id and pod_owner information
  website/cue/reference/components/sources/kubernetes_logs.cue
Labels: domain: external docs, source: kubernetes_logs

#13453 enhancement(azure_blob sink): update to latest azure SDK
  Cargo.lock
  Cargo.toml
  src/sinks/azure_blob/config.rs
  src/sinks/azure_blob/integration_tests.rs
  src/sinks/azure_common/config.rs
  src/sinks/azure_common/service.rs
Labels: domain: sinks, ci-condition: integration tests enable

#14686 fix(aws_s3 source): Correct serde tagging on event enum
  src/sources/aws_s3/sqs.rs
Labels: type: bug, domain: sources, source: aws_s3, ci-condition: integration tests enable

#14647 fix(docs): Correct `datadog_traces` sink warning about APM stats.
  website/cue/reference/components/sinks/datadog_traces.cue
Labels: domain: external docs

#14667 fix(filter transform): Increment dropped events metric on each drop
  lib/vector-common/src/internal_event/mod.rs
  scripts/check-events
  src/internal_events/common.rs
  src/internal_events/filter.rs
  src/transforms/filter.rs
Labels: type: bug, domain: transforms, transform: filter, domain: ci, ci-condition: integration tests enable

#14665 fix(stdin source): Avoid blocking `vector validate` on input
  src/sources/file_descriptors/mod.rs
Labels: domain: sources

#12927 feat(loki sink): Support snappy compressed proto
  Cargo.lock
  Cargo.toml
  lib/loki-logproto/Cargo.toml
  lib/loki-logproto/build.rs
  lib/loki-logproto/proto/LICENSE_APACHE2
  lib/loki-logproto/proto/README
  lib/loki-logproto/proto/gogo.proto
  lib/loki-logproto/proto/logproto.proto
  lib/loki-logproto/proto/stats.proto
  lib/loki-logproto/src/lib.rs
  src/sinks/loki/config.rs
  src/sinks/loki/event.rs
  src/sinks/loki/integration_tests.rs
  src/sinks/loki/service.rs
  src/sinks/loki/sink.rs
  website/content/en/highlights/2022-10-04-0-25-0-upgrade-guide.md
  website/cue/reference/components/sinks/loki.cue
Labels: domain: sinks, sink: loki, domain: external docs, ci-condition: integration tests enable

#14670 enhancement(vrl): use `undefined` when merging instead of `null`
  lib/value/src/kind/collection.rs
  lib/value/src/kind/merge.rs
  lib/vrl/tests/tests/expressions/if_statement/conditional_assignment.vrl
  lib/vrl/tests/tests/expressions/if_statement/if_else_object.vrl
Labels: domain: vrl

#14668 feat(vrl): Add run_vrl() with wasm-compatible vrl stdlib
  Cargo.lock
  Cargo.toml
  lib/vrl/web-playground/Cargo.toml
  lib/vrl/web-playground/README.md
  lib/vrl/web-playground/index.html
  lib/vrl/web-playground/src/lib.rs
Labels: domain: vrl

#14721 fix(tests): Check before installing cargo-deny
  scripts/check-deny.sh
  scripts/environment/prepare.sh
Labels: type: bug, domain: tests, type: task, domain: ci

#14715 fix(vector source,opentelemetry source): emit errors on grpc errors
  src/internal_events/grpc.rs
  src/internal_events/mod.rs
  src/sources/util/grpc/decompression.rs
Labels: domain: sources

#14734 fix(cli): fix another couple panics caused by the clap v4 upgrade
  Cargo.lock
  lib/vector-api-client/Cargo.toml
  lib/vector-api-client/src/gql/tap.rs
  src/list.rs
  src/tap/mod.rs
Labels: domain: cli

#14736 fix(stdin source): emit event on error
  src/internal_events/file_descriptor.rs
  src/internal_events/mod.rs
  src/sources/file_descriptors/file_descriptor.rs
  src/sources/file_descriptors/mod.rs
  src/sources/file_descriptors/stdin.rs
Labels: domain: sources

#14741 fix(datadog_metrics sink): properly encode rate metrics
  src/sinks/datadog/metrics/encoder.rs
Labels: domain: sinks, ci-condition: integration tests enable

#14735 chore(lua transform): Add deprecation notice for version 1 API
  src/transforms/lua/v1/mod.rs
  website/content/en/highlights/2022-10-04-0-25-0-upgrade-guide.md
  website/cue/reference/components/transforms/lua.cue
Labels: type: tech debt, transform: lua, domain: transforms, domain: external docs

#14716 docs(setup): Add pacman / Arch Linux
  website/content/en/docs/administration/management.md
  website/content/en/docs/setup/installation/operating-systems/archlinux.md
  website/content/en/docs/setup/installation/operating-systems/centos.md
  website/content/en/docs/setup/installation/operating-systems/debian.md
  website/content/en/docs/setup/installation/operating-systems/macos.md
  website/content/en/docs/setup/installation/operating-systems/nixos.md
  website/content/en/docs/setup/installation/operating-systems/raspbian.md
  website/content/en/docs/setup/installation/operating-systems/rhel.md
  website/content/en/docs/setup/installation/operating-systems/ubuntu.md
  website/content/en/docs/setup/installation/operating-systems/windows.md
  website/content/en/docs/setup/installation/package-managers/apt.md
  website/content/en/docs/setup/installation/package-managers/dpkg.md
  website/content/en/docs/setup/installation/package-managers/pacman.md
  website/content/en/docs/setup/installation/package-managers/rpm.md
  website/content/en/docs/setup/installation/package-managers/yum.md
Labels: domain: platforms

#14694 fix(`datadog_traces` sink): Correct multiple issues with APM stats calculation
  src/internal_events/datadog_traces.rs
  src/sinks/datadog/traces/request_builder.rs
  src/sinks/datadog/traces/stats.rs
  src/sources/datadog_agent/traces.rs
Labels: domain: sources, domain: sinks, source: datadog_agent, ci-condition: integration tests enable, sink: datadog_traces

#14727 feat(vrl): Add MVP web UI to run VRL program without access to browser console
  Cargo.lock
  lib/vrl/web-playground/Cargo.toml
  lib/vrl/web-playground/index.html
Labels: domain: vrl

#14755 docs(observability): Fix documented name of `source_lag_time_seconds`
  website/cue/reference/components/sources.cue
  website/cue/reference/components/sources/internal_metrics.cue
Labels: domain: observability, type: task, domain: external docs

#14737 feat(http): add custom method support to http_scrape source
  src/sources/heroku_logs.rs
  src/sources/http.rs
  src/sources/http_scrape/integration_tests.rs
  src/sources/http_scrape/scrape.rs
  src/sources/http_scrape/tests.rs
  src/sources/prometheus/remote_write.rs
  src/sources/prometheus/scrape.rs
  src/sources/util/http/method.rs
  src/sources/util/http/mod.rs
  src/sources/util/http/prelude.rs
  src/sources/util/http_scrape.rs
  src/sources/util/mod.rs
  website/cue/reference/components/sources/http_scrape.cue
Labels: domain: sources, domain: external docs, ci-condition: integration tests enable

#14756 fix(vrl): Fix `target_insert` for metric tags
  lib/vector-core/src/event/metric/mod.rs
  lib/vector-core/src/event/metric/series.rs
  lib/vector-core/src/event/vrl_target.rs
Labels: domain: core

#14483 chore(pipelines transform): Audit pipelines transform
  src/transforms/pipelines/mod.rs
Labels: domain: transforms

#14764 fix(splunk_hec source): add assert_source_error to error path test
  src/sources/splunk_hec/mod.rs
Labels: domain: sources

#14540 chore(lua transform): Audit lua v2 transform
  src/internal_events/lua.rs
  src/transforms/lua/v2/mod.rs
Labels: domain: transforms

#14530 chore(observability): Share common `SocketConnectionError` between TCP, UDP and Unix sinks
  scripts/check-events
  src/internal_events/common.rs
  src/internal_events/tcp.rs
  src/internal_events/udp.rs
  src/internal_events/unix.rs
  src/sinks/util/tcp.rs
  src/sinks/util/udp.rs
  src/sinks/util/unix.rs
Labels: domain: sinks, domain: ci

#14487 chore(log_to_metric transform): Audit log_to_metric transform
  src/internal_events/log_to_metric.rs
  src/transforms/log_to_metric.rs
Labels: domain: transforms

#14628 fix(mongodb_metrics source): Change all i32 metrics to i64
  src/sources/mongodb_metrics/types.rs
Labels: domain: sources, ci-condition: integration tests enable

#14790 fix(vrl): allow tabs to be used as delimiter in parse_key_value
  lib/vrl/stdlib/src/parse_key_value.rs
Labels: domain: vrl

#14516 enhancement(vector sink): Comply to `*EventsDropped` instrumentation spec in `vector` sink
  src/sinks/aws_cloudwatch_metrics/mod.rs
  src/sinks/aws_kinesis_firehose/service.rs
  src/sinks/aws_kinesis_streams/service.rs
  src/sinks/aws_sqs/service.rs
  src/sinks/azure_common/service.rs
  src/sinks/elasticsearch/service.rs
  src/sinks/gcs_common/service.rs
  src/sinks/prometheus/remote_write.rs
  src/sinks/redis.rs
  src/sinks/s3_common/service.rs
  src/sinks/util/udp.rs
  src/sinks/vector/service.rs
Labels: domain: sinks

#14802 docs(http sink): Document `method` option
  website/cue/reference/components/sinks/http.cue
Labels: domain: external docs

#14797 fix(vrl): fix closure block type calculation
  lib/vrl/compiler/src/expression/function_call.rs
  lib/vrl/tests/tests/issues/14796_closure_type_def.vrl
Labels: domain: vrl

#14811 fix(tests): Work around race condition initializing test metrics
  benches/metrics_snapshot.rs
  lib/vector-core/src/metrics/mod.rs
  src/source_sender/mod.rs
  src/test_util/mod.rs
  tests/api.rs
  tests/enterprise.rs
Labels: type: bug, domain: tests, ci-condition: integration tests enable, domain: core

#14799 chore(core): unify address type for socket-based component configs
  Cargo.toml
  scripts/check-component-features
  src/internal_events/mod.rs
  src/internal_events/open.rs
  src/internal_events/socket.rs
  src/internal_events/statsd_source.rs
  src/internal_events/syslog.rs
  src/internal_events/tcp.rs
  src/internal_events/udp.rs
  src/sinks/socket.rs
  src/sinks/util/tcp.rs
  src/sinks/util/udp.rs
  src/sources/fluent/mod.rs
  src/sources/logstash.rs
  src/sources/socket/mod.rs
  src/sources/socket/tcp.rs
  src/sources/socket/udp.rs
  src/sources/statsd/mod.rs
  src/sources/syslog.rs
  src/sources/util/mod.rs
  src/sources/util/net/mod.rs
  src/sources/util/net/tcp/mod.rs
  src/sources/util/net/tcp/request_limiter.rs
  src/sources/util/net/udp.rs
  src/sources/util/wrappers.rs
Labels: domain: sources, domain: sinks, domain: ci, ci-condition: integration tests enable

#14842 fix(amqp source): Fix `byte_size` in `EventsReceived` internal event in `amqp` source
  src/sources/amqp.rs
Labels: domain: sources

#14843 chore(socket source): Test compliance to instrumentation spec in `socket` source
  src/sources/socket/mod.rs
Labels: domain: sources

#14847 docs: Remove extra deprecation warning
  website/cue/reference/configuration.cue
Labels: domain: external docs

#14639 enhancement(aws_s3 sink): Template support for ssekms_key_id
  src/sinks/aws_s3/config.rs
  src/sinks/aws_s3/integration_tests.rs
  src/sinks/aws_s3/sink.rs
  src/sinks/datadog_archives.rs
  src/sinks/s3_common/config.rs
  src/sinks/s3_common/mod.rs
  src/sinks/s3_common/partitioner.rs
  src/sinks/s3_common/service.rs
  src/sinks/s3_common/sink.rs
Labels: domain: sinks

#14861 fix(datadog_traces sink): Add more missing APM stats logic , temporarily replace Error with debug log
  src/internal_events/datadog_traces.rs
  src/sinks/datadog/traces/stats.rs
Labels: domain: sinks, ci-condition: integration tests enable, sink: datadog_traces

#14862 chore(prometheus_exporter sink): Small tweaks to event processing
  src/sinks/prometheus/exporter.rs
Labels: type: tech debt, domain: sinks, sink: prometheus_exporter, ci-condition: integration tests enable

#14863 chore(docs): create script for generating Cue documentation output from configuration schema
  Makefile
  lib/vector-buffers/src/config.rs
  lib/vector-common/src/datetime.rs
  lib/vector-config-common/src/attributes.rs
  lib/vector-config-macros/src/ast/container.rs
  lib/vector-config-macros/src/ast/mod.rs
  lib/vector-config-macros/src/configurable.rs
  lib/vector-config-macros/src/configurable_component.rs
  lib/vector-config/src/external/serde_with.rs
  lib/vector-config/src/num.rs
  lib/vector-config/src/schema.rs
  lib/vector-config/src/stdlib.rs
  scripts/Gemfile
  scripts/generate-components-docs.rb
  src/config/loading/schema.rs
  src/config/sink.rs
  src/config/source.rs
  src/config/transform.rs
  src/sinks/util/buffer/compression.rs
  src/sinks/util/service/concurrency.rs
  src/transforms/pipelines/config.rs
Labels: domain: transforms, domain: sinks, domain: ci, ci-condition: integration tests enable

#14767 chore(sample transform): emit `ComponentEventsDropped` internal event
  src/internal_events/sample.rs
  src/transforms/sample.rs
Labels: domain: transforms

#14768 chore(tag_cardinality_limit transform): emit `ComponentEventsDropped` internal event
  src/internal_events/tag_cardinality_limit.rs
  src/transforms/tag_cardinality_limit.rs
Labels: domain: transforms

#14770 chore(throttle transform): emit `ComponentEventsDropped` internal event
  src/internal_events/throttle.rs
  src/transforms/throttle.rs
Labels: domain: transforms

#14425 enhancement(socket sink): Adhere to instrumentation spec
  src/internal_events/socket.rs
  src/internal_events/tcp.rs
  src/internal_events/udp.rs
  src/internal_events/unix.rs
  src/sinks/datadog/events/service.rs
  src/sinks/datadog/logs/service.rs
  src/sinks/datadog/metrics/service.rs
  src/sinks/datadog/traces/service.rs
  src/sinks/influxdb/metrics.rs
  src/sinks/statsd.rs
  src/sinks/util/tcp.rs
  src/sinks/util/udp.rs
  src/sinks/util/unix.rs
Labels: sink: socket, domain: observability, domain: sinks

#14869 fix(prometheus_exporter sink): Avoid extra work in bad requests
  src/sinks/prometheus/exporter.rs
Labels: type: bug, domain: sinks, sink: prometheus_exporter, ci-condition: integration tests enable

#14835 chore(core): Convert the MetricTags alias into a newtype wrapper
  Cargo.toml
  lib/vector-core/src/event/lua/metric.rs
  lib/vector-core/src/event/metric/mod.rs
  lib/vector-core/src/event/metric/series.rs
  lib/vector-core/src/event/metric/tags.rs
  lib/vector-core/src/event/mod.rs
  lib/vector-core/src/event/proto.rs
  lib/vector-core/src/event/test/common.rs
  lib/vector-core/src/event/vrl_target.rs
  src/conditions/vrl.rs
  src/sinks/aws_cloudwatch_metrics/mod.rs
  src/sinks/datadog/metrics/encoder.rs
  src/sinks/datadog_archives.rs
  src/sinks/influxdb/logs.rs
  src/sinks/influxdb/metrics.rs
  src/sinks/influxdb/mod.rs
  src/sinks/kafka/request_builder.rs
  src/sinks/prometheus/collector.rs
  src/sinks/prometheus/remote_write.rs
  src/sinks/s3_common/config.rs
  src/sinks/splunk_hec/metrics/encoder.rs
  src/sinks/splunk_hec/metrics/integration_tests.rs
  src/sinks/splunk_hec/metrics/tests.rs
  src/sinks/util/buffer/metrics/mod.rs
  src/sources/apache_metrics/mod.rs
  src/sources/apache_metrics/parser.rs
  src/sources/aws_ecs_metrics/mod.rs
  src/sources/aws_ecs_metrics/parser.rs
  src/sources/datadog_agent/metrics.rs
  src/sources/datadog_agent/tests.rs
  src/sources/eventstoredb_metrics/types.rs
  src/sources/host_metrics/cgroups.rs
  src/sources/host_metrics/cpu.rs
  src/sources/host_metrics/disk.rs
  src/sources/host_metrics/filesystem.rs
  src/sources/host_metrics/memory.rs
  src/sources/host_metrics/mod.rs
  src/sources/host_metrics/network.rs
  src/sources/http_client/integration_tests.rs
  src/sources/internal_metrics.rs
  src/sources/mongodb_metrics/mod.rs
  src/sources/nginx_metrics/mod.rs
  src/sources/postgresql_metrics.rs
  src/sources/prometheus/parser.rs
  src/sources/statsd/parser.rs
  src/template.rs
  src/test_util/components.rs
  src/test_util/metrics.rs
  src/transforms/log_to_metric.rs
  src/transforms/metric_to_log.rs
  src/transforms/remap.rs
  src/transforms/tag_cardinality_limit.rs
Labels: type: tech debt, domain: sources, domain: transforms, domain: sinks, domain: metrics, ci-condition: integration tests enable, domain: core

#14892 chore(core): Change `Value::to_string_lossy` to return `Cow`
  lib/value/src/value/serde.rs
  lib/vector-core/src/event/test/mod.rs
  src/api/schema/events/log.rs
  src/sinks/aws_kinesis_streams/sink.rs
  src/sinks/datadog/traces/request_builder.rs
  src/sinks/datadog/traces/sink.rs
  src/sinks/datadog/traces/stats.rs
  src/sinks/elasticsearch/config.rs
  src/sinks/influxdb/logs.rs
  src/sinks/loki/sink.rs
  src/sinks/papertrail.rs
  src/sinks/splunk_hec/logs/encoder.rs
  src/sinks/vector/mod.rs
  src/sources/aws_sqs/integration_tests.rs
  src/sources/docker_logs.rs
  src/sources/file.rs
  src/sources/file_descriptors/file_descriptor.rs
  src/sources/file_descriptors/stdin.rs
  src/template.rs
  src/test_util/mock/transforms/basic.rs
  src/topology/test/mod.rs
  src/transforms/log_to_metric.rs
  src/transforms/remap.rs
Labels: domain: topology, type: tech debt, domain: sources, domain: transforms, domain: sinks, domain: performance, ci-condition: integration tests enable, domain: core

#14775 chore(vrl): Add `Kind::remove`
  lib/lookup/src/lookup_v2/owned.rs
  lib/value/src/kind.rs
  lib/value/src/kind/collection.rs
  lib/value/src/kind/collection/field.rs
  lib/value/src/kind/collection/index.rs
  lib/value/src/kind/comparison.rs
  lib/value/src/kind/crud/mod.rs
  lib/value/src/kind/crud/remove.rs
  lib/value/src/kind/remove.rs
  lib/vector-vrl-functions/src/remove_metadata_field.rs
  lib/vrl/compiler/src/expression/query.rs
  lib/vrl/stdlib/src/del.rs
  lib/vrl/tests/tests/functions/del/external_del_type_def.vrl
  lib/vrl/tests/tests/functions/del/return_type.vrl
Labels: domain: vrl

#14850 feat(vrl): Display VRL diagnostic messages in web UI
  lib/vrl/web-playground/index.html
  lib/vrl/web-playground/src/lib.rs
Labels: domain: vrl

#14902 enhancement(log_to_metric transform): Pre-parse all templates
  src/api/tap.rs
  src/internal_events/log_to_metric.rs
  src/transforms/log_to_metric.rs
Labels: type: enhancement, transform: log_to_metric, domain: transforms, domain: performance, ci-condition: integration tests enable

#14912 chore(soak tests): Add templated tags to log2metric soaks
  soaks/tests/syslog_log2metric_humio_metrics/vector.toml
  soaks/tests/syslog_log2metric_splunk_hec_metrics/vector.toml
  soaks/tests/syslog_regex_logs2metric_ddmetrics/vector.toml
Labels: type: tech debt, domain: soak tests

#14908 enhancement(templating): Pre-parse templates for performance
  Cargo.lock
  Cargo.toml
  src/template.rs
Labels: type: enhancement, transform: log_to_metric, domain: performance, domain: templating, ci-condition: integration tests enable

#14139 enhancement(vector): estimated JSON-encoded event size
  Cargo.lock
  lib/value/src/value/serde.rs
  lib/vector-common/Cargo.toml
  lib/vector-common/src/estimated_json_encoded_size_of.rs
  lib/vector-common/src/lib.rs
  lib/vector-core/src/event/array.rs
  lib/vector-core/src/event/log_event.rs
  lib/vector-core/src/event/trace.rs
  lib/vector-core/src/lib.rs
  lib/vector-core/src/transform/mod.rs
  src/sinks/aws_s3/sink.rs
  src/sinks/gcs_common/service.rs
  src/sinks/loki/event.rs
  src/sinks/loki/service.rs
  src/sinks/loki/sink.rs
  src/sinks/nats.rs
  src/sinks/new_relic/service.rs
  src/sinks/pulsar.rs
  src/sinks/util/metadata.rs
  src/source_sender/mod.rs
  src/topology/builder.rs
Labels: domain: topology, domain: sinks, domain: core

#14909 chore(log_to_metric transform): Unify common config and render bits
  src/api/tap.rs
  src/transforms/log_to_metric.rs
Labels: type: tech debt, transform: log_to_metric, domain: transforms

#14889 fix(tag_cardinality_limit transform): Handle drop event edge case
  Cargo.lock
  Cargo.toml
  src/transforms/tag_cardinality_limit.rs
Labels: type: bug, domain: transforms, transform: tag_cardinality_limit

#14905 chore(vrl): Get the playground up-and-running on https://playground.vrl.dev
  lib/vrl/web-playground/README.md
  lib/vrl/web-playground/netlify.toml
  lib/vrl/web-playground/public/index.html
Labels: domain: vrl

#14949 chore(vrl): add js feature to getrandom
  Cargo.lock
  lib/vrl/web-playground/Cargo.toml
Labels: domain: vrl

#14887 enhancement(config): Check lookup path syntax at startup
  lib/lookup/src/lib.rs
  lib/lookup/src/lookup_v2/compat.rs
  lib/lookup/src/lookup_v2/jit.rs
  lib/lookup/src/lookup_v2/mod.rs
  lib/lookup/src/lookup_v2/optional_path.rs
  lib/lookup/src/lookup_v2/owned.rs
  lib/value/src/kind/crud/get.rs
  lib/value/src/kind/crud/insert.rs
  lib/value/src/kind/crud/remove.rs
  lib/vrl/stdlib/src/del.rs
  lib/vrl/stdlib/src/unnest.rs
  lib/vrl/tests/src/test.rs
  src/codecs/encoding/config.rs
  src/codecs/encoding/transformer.rs
  src/sinks/elasticsearch/tests.rs
  src/sources/docker_logs.rs
  src/sources/kubernetes_logs/namespace_metadata_annotator.rs
  src/sources/kubernetes_logs/node_metadata_annotator.rs
  src/sources/kubernetes_logs/pod_metadata_annotator.rs
  src/template.rs
  src/transforms/aws_ec2_metadata.rs
Labels: domain: sources, domain: transforms, domain: sinks, domain: codecs, domain: vrl, ci-condition: integration tests enable

#14954 chore(deps): swap out pretty_assertions for similar-asserts
  Cargo.lock
  Cargo.toml
  lib/codecs/Cargo.toml
  lib/codecs/src/decoding/format/gelf.rs
  lib/codecs/tests/native.rs
  lib/file-source/Cargo.toml
  lib/file-source/src/checkpointer.rs
  lib/vector-common/src/event_data_eq.rs
  lib/vector-core/Cargo.toml
  lib/vector-core/src/event/metric/mod.rs
  lib/vector-core/src/event/test/serialization.rs
  lib/vector-core/src/event/util/log/all_fields.rs
  lib/vector-core/src/event/vrl_target.rs
  src/config/graph.rs
  src/line_agg.rs
  src/sinks/aws_cloudwatch_logs/integration_tests.rs
  src/sinks/aws_cloudwatch_metrics/tests.rs
  src/sinks/aws_s3/integration_tests.rs
  src/sinks/datadog/events/tests.rs
  src/sinks/elasticsearch/retry.rs
  src/sinks/file/mod.rs
  src/sinks/humio/metrics.rs
  src/sinks/influxdb/metrics.rs
  src/sinks/prometheus/collector.rs
  src/sinks/prometheus/exporter.rs
  src/sinks/util/buffer/metrics/mod.rs
  src/sources/apache_metrics/mod.rs
  src/sources/apache_metrics/parser.rs
  src/sources/aws_kinesis_firehose/mod.rs
  src/sources/aws_s3/mod.rs
  src/sources/datadog_agent/tests.rs
  src/sources/file.rs
  src/sources/heroku_logs.rs
  src/sources/host_metrics/cgroups.rs
  src/sources/http_server.rs
  src/sources/prometheus/parser.rs
  src/sources/prometheus/scrape.rs
  src/topology/schema.rs
  src/transforms/metric_to_log.rs
  src/transforms/remap.rs
  tests/shutdown.rs
Labels: domain: topology, domain: sources, domain: transforms, domain: sinks, ci-condition: integration tests enable, domain: core

#14927 docs(kafka source, kafka sink): added docs for using kafka components with Azure Event Hubs
  website/cue/reference/components/kafka.cue
  website/cue/reference/urls.cue
Labels: domain: external docs

#14956 fix(file source): require the `include` config option since it is actually required for the source to function
  src/config/mod.rs
  src/sources/file.rs
Labels: source: file, domain: config, domain: sources

#14776 docs: update file source docs with details about include/exclude semantics
  src/sources/file.rs
  website/cue/reference/components/sources/file.cue
Labels: domain: sources, domain: external docs

#14838 chore(core): RFC for enhanced metric tags storage
  rfcs/2022-10-12-14742-flexible-metric-tags.md
Labels: type: task, domain: metrics, domain: rfc

#14979 chore(http_client source): Small cleanup on existing log namespace feature
  src/sources/http_client/client.rs
Labels: domain: sources

#14933 enhancement(observability) Tracking allocations
  Cargo.toml
  src/internal_telemetry/allocations/allocator/mod.rs
  src/internal_telemetry/allocations/allocator/stack.rs
  src/internal_telemetry/allocations/allocator/token.rs
  src/internal_telemetry/allocations/allocator/tracer.rs
  src/internal_telemetry/allocations/allocator/tracing.rs
  src/internal_telemetry/allocations/allocator/tracing_allocator.rs
  src/internal_telemetry/allocations/mod.rs
  src/internal_telemetry/mod.rs
  src/lib.rs
  src/main.rs
  src/topology/running.rs
  src/trace.rs
Labels: domain: topology

#14989 Update README.md
  soaks/README.md
Labels: domain: internal docs

#14970 chore(external docs): Add clarifying note to `tag_cardinality_limit` transform.
  website/cue/reference/components/transforms/tag_cardinality_limit.cue
Labels: domain: external docs

#15002 fix(file source): Fix file source defaults
  src/sources/file.rs
Labels: domain: sources

#14918 enhancement(elasticsearch sink): Add `api_version` option
  src/sinks/axiom.rs
  src/sinks/elasticsearch/common.rs
  src/sinks/elasticsearch/config.rs
  src/sinks/elasticsearch/integration_tests.rs
  src/sinks/elasticsearch/mod.rs
  src/sinks/elasticsearch/tests.rs
  src/sinks/sematext/logs.rs
  website/cue/reference/components/sinks/elasticsearch.cue
Labels: domain: sinks, domain: external docs, ci-condition: integration tests enable

#15006 fix(elasticsearch sink): Revert add `api_version` option
  src/sinks/axiom.rs
  src/sinks/elasticsearch/common.rs
  src/sinks/elasticsearch/config.rs
  src/sinks/elasticsearch/integration_tests.rs
  src/sinks/elasticsearch/mod.rs
  src/sinks/elasticsearch/tests.rs
  src/sinks/sematext/logs.rs
  website/cue/reference/components/sinks/elasticsearch.cue
Labels: domain: sinks, domain: external docs

#14813 feat(vrl): Add `decode_mime_q` function
  Cargo.lock
  lib/vrl/stdlib/Cargo.toml
  lib/vrl/stdlib/benches/benches.rs
  lib/vrl/stdlib/src/decode_mime_q.rs
  lib/vrl/stdlib/src/lib.rs
  website/cue/reference/remap/functions/decode_mime_q.cue
  website/cue/reference/urls.cue
Labels: domain: external docs, domain: vrl

#15000 chore: Standardize on `cfg(windows)`
  src/api/schema/metrics/host.rs
  src/sources/host_metrics/disk.rs
  src/sources/host_metrics/filesystem.rs
  src/sources/host_metrics/memory.rs
  src/sources/host_metrics/mod.rs
  src/sources/host_metrics/network.rs
Labels: type: tech debt, domain: sources, ci-condition: integration tests enable

#14988 chore(deps): Upgrade AWS SDK crates to 0.21.0 and Smithy to 0.51.0
  Cargo.lock
  Cargo.toml
  src/aws/mod.rs
Labels: ci-condition: integration tests enable

#15041 fix(observability): Fix a few more usages of internal_log_rate_secs
  lib/vector-common/src/internal_event/service.rs
  src/sources/amqp.rs
Labels: domain: sources
