Repository vectordotdev/vector, pull requests merged in 2022-11, with the labels that each got.

#15036 chore(filter transform): add log namespace support to filter transform
  src/transforms/filter.rs
Labels: domain: transforms

#15033 chore(throttle transform): add log namespace support to throttle transform
  src/transforms/throttle.rs
Labels: domain: transforms, ci-condition: integration tests enable

#14891 enhancement(elasticsearch sink): Retry whole payload on partial bulk failure
  src/sinks/elasticsearch/config.rs
  src/sinks/elasticsearch/retry.rs
  website/cue/reference/components/sinks/elasticsearch.cue
Labels: domain: sinks, domain: external docs, ci-condition: integration tests enable

#15054 chore(core): add `LogNamespace` getter functions
  lib/vector-core/src/config/mod.rs
Labels: domain: core

#15058 chore(ci): Update usages of deprecated set-output in Github Actions
  scripts/ci-generate-publish-metadata.sh
Labels: domain: ci

#15060 chore(core): Remove `mut` requirement of `LogNamespace` getters
  lib/vector-core/src/config/mod.rs
Labels: domain: core

#14985 feature(aws_s3 source): Add log namespace and schema support
  Makefile
  lib/codecs/src/decoding/format/bytes.rs
  lib/vector-core/src/schema/definition.rs
  src/sources/aws_s3/mod.rs
  src/sources/aws_s3/sqs.rs
Labels: domain: sources, source: aws_s3, ci-condition: integration tests enable, domain: core

#15070 docs: fix link to journalctl discussion
  website/cue/reference/components/sources/journald.cue
Labels: domain: external docs

#15074 fix(ci): fix issues in ci-metadata-script
  scripts/ci-generate-publish-metadata.sh
Labels: domain: ci

#15076 chore(releasing): Add known issues for 0.25.0 release
  website/cue/reference/releases/0.25.0.cue
Labels: domain: external docs

#15080 fix(ci): Explicitly set DD_HOSTNAME for Datadog Agent integration tests
  scripts/integration/docker-compose.datadog-agent.yml
Labels: domain: ci, ci-condition: integration tests enable

#13277 chore(data model): drop PartialOrd from Event
  lib/value/src/value.rs
  lib/vector-core/src/event/array.rs
  lib/vector-core/src/event/log_event.rs
  lib/vector-core/src/event/metadata.rs
  lib/vector-core/src/event/metric/mod.rs
  lib/vector-core/src/event/metric/value.rs
  lib/vector-core/src/event/mod.rs
  lib/vector-core/src/event/test/common.rs
  lib/vector-core/src/event/test/serialization.rs
  lib/vector-core/src/event/trace.rs
  lib/vector-core/src/lib.rs
  lib/vector-core/src/metrics/ddsketch.rs
Labels: domain: core

#15072 chore: Convert metric tags tests to use metric_tags! macro
  lib/codecs/src/encoding/format/json.rs
  lib/vector-core/src/event/lua/metric.rs
  lib/vector-core/src/event/metric/mod.rs
  lib/vector-core/src/event/metric/tags.rs
  lib/vector-core/src/event/vrl_target.rs
  src/conditions/vrl.rs
  src/sinks/aws_cloudwatch_metrics/integration_tests.rs
  src/sinks/aws_cloudwatch_metrics/tests.rs
  src/sinks/humio/metrics.rs
  src/sinks/influxdb/metrics.rs
  src/sinks/influxdb/mod.rs
  src/sinks/prometheus/exporter.rs
  src/sinks/prometheus/remote_write.rs
  src/sinks/sematext/metrics.rs
  src/sinks/statsd.rs
  src/sinks/util/buffer/metrics/mod.rs
  src/sinks/util/buffer/metrics/sort.rs
  src/sources/aws_ecs_metrics/parser.rs
  src/sources/host_metrics/cpu.rs
  src/sources/host_metrics/network.rs
  src/sources/prometheus/parser.rs
  src/sources/statsd/parser.rs
  src/template.rs
  src/test_util/metrics.rs
  src/transforms/log_to_metric.rs
Labels: type: tech debt, domain: sources, domain: transforms, domain: sinks, domain: metrics, ci-condition: integration tests enable, domain: core

#15077 fix(config): Fix merging of configured timezones
  Cargo.lock
  lib/vector-core/Cargo.toml
  lib/vector-core/src/config/global_options.rs
  src/enrichment_tables/file.rs
  src/sources/logstash.rs
  src/transforms/metric_to_log.rs
Labels: type: bug, domain: sources, domain: transforms, ci-condition: integration tests enable, domain: core

#15068 chore(core): improve `LogNamespace` helper functions
  lib/codecs/src/decoding/format/bytes.rs
  lib/codecs/src/decoding/format/gelf.rs
  lib/codecs/src/decoding/format/json.rs
  lib/codecs/src/decoding/format/syslog.rs
  lib/lookup/src/lookup_v2/owned.rs
  lib/vector-core/src/config/mod.rs
  lib/vector-core/src/schema/definition.rs
  lib/vector-core/src/schema/requirement.rs
  src/sources/amqp.rs
  src/sources/aws_s3/mod.rs
  src/sources/aws_s3/sqs.rs
  src/sources/datadog_agent/logs.rs
  src/sources/datadog_agent/mod.rs
  src/sources/datadog_agent/tests.rs
  src/topology/schema.rs
  src/transforms/remap.rs
Labels: domain: topology, domain: sources, domain: transforms, ci-condition: integration tests enable, domain: core

#15079 enhancement(vrl performance): Make Regex `Arc` in VRL to avoid copies
  lib/value/src/value/convert.rs
  lib/value/src/value/regex.rs
  lib/vrl/compiler/src/expression/literal.rs
Labels: domain: vrl

#15034 chore(sample transform): add log namespace support to sample transform
  src/transforms/sample.rs
Labels: domain: transforms, ci-condition: integration tests enable

#15090 chore(geoip transform): Remove the deprecated `geoip` transform
  .github/semantic.yml
  Cargo.toml
  README.md
  src/internal_events/geoip.rs
  src/internal_events/mod.rs
  src/transforms/geoip.rs
  src/transforms/mod.rs
  website/content/en/docs/reference/configuration/transforms/geoip.md
  website/content/en/guides/level-up/managing-schemas.md
  website/content/en/highlights/2022-11-07-0-26-0-upgrade-guide.md
  website/cue/reference/components/transforms/base/geoip.cue
  website/cue/reference/components/transforms/geoip.cue
  website/cue/reference/releases/0.24.0.cue
Labels: domain: transforms, domain: external docs

#15035 chore(route transform): add log namespace support to route transform
  src/transforms/route.rs
Labels: domain: transforms, ci-condition: integration tests enable

#15032 chore(lua transform): add log namespace support to lua transform
  lib/vector-core/src/config/mod.rs
  src/transforms/lua/v1/mod.rs
  src/transforms/lua/v2/mod.rs
Labels: domain: transforms, ci-condition: integration tests enable, domain: core

#15105 core(chore): add constant that can be used instead of `None` for `LegacyKey`
  lib/vector-core/src/config/mod.rs
Labels: domain: core

#15107 chore(aws_ec2_metadata transform): add log namespace support to `aws_ec2_metadata` transform
  lib/codecs/src/decoding/format/bytes.rs
  lib/codecs/src/decoding/format/gelf.rs
  lib/codecs/src/decoding/format/syslog.rs
  lib/vector-core/src/schema/definition.rs
  lib/vector-core/src/schema/requirement.rs
  src/sources/datadog_agent/tests.rs
  src/topology/schema.rs
  src/transforms/aws_ec2_metadata.rs
  src/transforms/remap.rs
Labels: domain: topology, domain: sources, domain: transforms, domain: core

#15089 chore(dedupe transform): add log namespace support to dedupe transform
  src/transforms/dedupe.rs
Labels: domain: transforms

#14858 fix(file source): line_agg preserves the context of the last line added
  src/line_agg.rs
  src/sources/file.rs
Labels: domain: sources

#15119 chore(docs): Re-sync docs from config schema
  website/cue/reference/components/sinks/base/elasticsearch.cue
  website/cue/reference/components/sources/base/aws_s3.cue
  website/cue/reference/components/sources/base/aws_sqs.cue
  website/cue/reference/components/sources/base/file.cue
Labels: domain: external docs

#15092 fix(vrl): Fix parsing escape character for `parse_cef`
  lib/vrl/stdlib/src/parse_cef.rs
Labels: domain: vrl

#15122 chore(releasing): Add another known issue for prometheus remote write source
  website/cue/reference/releases/0.25.0.cue
Labels: domain: external docs

#15112 fix(prometheus_remote_write sink): re-add support `Bearer` Auth config option
  src/sinks/prometheus/mod.rs
  src/sinks/prometheus/remote_write.rs
  website/cue/reference/components/sinks/base/prometheus_remote_write.cue
Labels: meta: regression, domain: sinks, domain: external docs, sink: prometheus_remote_write

#15124 fix(internal_metrics): change default scrape_interval to 1
  src/sources/internal_metrics.rs
  website/cue/reference/components/sources/base/internal_metrics.cue
  website/cue/reference/components/sources/internal_metrics.cue
Labels: domain: sources, domain: external docs

#15084 fix(datadog_traces sink): APM stats payloads are sent independent of trace payloads and at a set interval.
  scripts/integration/docker-compose.datadog-traces.yml
  src/internal_events/datadog_traces.rs
  src/sinks/datadog/traces/apm_stats/aggregation.rs
  src/sinks/datadog/traces/apm_stats/bucket.rs
  src/sinks/datadog/traces/apm_stats/flusher.rs
  src/sinks/datadog/traces/apm_stats/integration_tests.rs
  src/sinks/datadog/traces/apm_stats/mod.rs
  src/sinks/datadog/traces/apm_stats/weight.rs
  src/sinks/datadog/traces/config.rs
  src/sinks/datadog/traces/integration_tests.rs
  src/sinks/datadog/traces/mod.rs
  src/sinks/datadog/traces/request_builder.rs
  src/sinks/datadog/traces/sink.rs
  src/sinks/datadog/traces/stats.rs
  src/sinks/datadog/traces/tests.rs
Labels: domain: sinks, domain: ci, ci-condition: integration tests enable, sink: datadog_traces

#15138 docs: add missing space
  website/cue/reference/remap/functions/parse_cef.cue
Labels: domain: external docs

#14951 chore(vrl): configure Netlify ignore builds options
  lib/vrl/web-playground/README.md
  lib/vrl/web-playground/netlify.toml
  lib/vrl/web-playground/public/index.html
  scripts/ensure-wasm-pack-installed.sh
Labels: domain: ci, domain: vrl

#15141 chore(core): Remove reference from `LegacyKey` usage to make it easier to use
  lib/vector-core/src/schema/definition.rs
  src/sources/aws_s3/mod.rs
  src/sources/datadog_agent/mod.rs
Labels: domain: sources, domain: core

#15145 docs: update Avro scheme example
  website/cue/reference/components/sinks.cue
Labels: domain: external docs

#15150 Update kubernetes_logs.cue
  website/cue/reference/components/sources/kubernetes_logs.cue
Labels: domain: external docs

#15043 feature(redis source): Add log namespace and schema support
  src/sources/redis/channel.rs
  src/sources/redis/list.rs
  src/sources/redis/mod.rs
Labels: domain: sources, ci-condition: integration tests enable, source: redis

#15158 enhancement(core): const init thread locals
  lib/vector-core/src/metrics/recorder.rs
Labels: domain: core

#14995 enhancement(observability): add tracking allocations
  Cargo.lock
  Cargo.toml
  src/app.rs
  src/internal_telemetry/allocations/allocator/mod.rs
  src/internal_telemetry/allocations/allocator/stack.rs
  src/internal_telemetry/allocations/allocator/token.rs
  src/internal_telemetry/allocations/allocator/tracing_allocator.rs
  src/internal_telemetry/allocations/mod.rs
  src/lib.rs
  src/test_util/mod.rs
  src/topology/running.rs
Labels: domain: topology

#15082 enhancement(elasticsearch sink): Reintroduce `api_version` option
  src/sinks/axiom.rs
  src/sinks/elasticsearch/common.rs
  src/sinks/elasticsearch/config.rs
  src/sinks/elasticsearch/integration_tests.rs
  src/sinks/elasticsearch/mod.rs
  src/sinks/elasticsearch/tests.rs
  src/sinks/sematext/logs.rs
  website/cue/reference/components/sinks/elasticsearch.cue
Labels: domain: sinks, domain: external docs

#15120 fix(docs): Hide the `log_namespace` option
  src/config/builder.rs
  src/sources/amqp.rs
  src/sources/aws_s3/mod.rs
  src/sources/datadog_agent/mod.rs
  src/sources/demo_logs.rs
  src/sources/http_client/client.rs
  website/cue/reference/components/sources/base/amqp.cue
  website/cue/reference/components/sources/base/aws_s3.cue
  website/cue/reference/components/sources/base/datadog_agent.cue
  website/cue/reference/components/sources/base/demo_logs.cue
  website/cue/reference/components/sources/base/http_client.cue
Labels: domain: sources, domain: external docs

#14984 chore(core): Convert metric tag value store to an IndexSet
  Cargo.lock
  lib/vector-common/Cargo.toml
  lib/vector-common/src/byte_size_of.rs
  lib/vector-config/src/external/indexmap.rs
  lib/vector-core/Cargo.toml
  lib/vector-core/src/event/lua/metric.rs
  lib/vector-core/src/event/metric/arbitrary.rs
  lib/vector-core/src/event/metric/mod.rs
  lib/vector-core/src/event/metric/series.rs
  lib/vector-core/src/event/metric/tags.rs
  lib/vector-core/src/event/proto.rs
  src/sources/apache_metrics/parser.rs
  src/sources/datadog_agent/metrics.rs
  src/transforms/aggregate.rs
Labels: type: tech debt, domain: sources, domain: transforms, domain: metrics, ci-condition: integration tests enable, domain: core

#15101 chore: Add helper to insert all vector source metadata
  lib/vector-core/src/config/mod.rs
  src/sources/amqp.rs
  src/sources/aws_s3/sqs.rs
  src/sources/datadog_agent/logs.rs
  src/sources/datadog_agent/mod.rs
  src/sources/demo_logs.rs
  src/sources/http_client/client.rs
Labels: domain: sources, ci-condition: integration tests enable, domain: core

#15188 docs: typo
  website/cue/reference/components/sources/file.cue
Labels: domain: external docs

#15166 chore(core): add schema definition test utility
  lib/lookup/src/lookup_v2/owned.rs
  lib/value/src/kind/collection.rs
  lib/value/src/kind/collection/field.rs
  lib/value/src/kind/collection/index.rs
  lib/value/src/kind/collection/unknown.rs
  lib/value/src/kind/comparison.rs
  lib/vector-core/src/event/log_event.rs
  lib/vector-core/src/event/metadata.rs
  lib/vector-core/src/schema/definition.rs
  lib/vector-core/src/schema/requirement.rs
  lib/vrl/compiler/src/expression/function_call.rs
  lib/vrl/compiler/src/expression/op.rs
  lib/vrl/compiler/src/type_def.rs
Labels: domain: vrl, domain: core

#15174 feat(file source): Add log namespace and schema def support
  src/sources/file.rs
Labels: source: file, domain: sources

#15189 feat(aws_kinesis_firehose source): Add log namespace and schema def
  src/sources/amqp.rs
  src/sources/aws_kinesis_firehose/filters.rs
  src/sources/aws_kinesis_firehose/handlers.rs
  src/sources/aws_kinesis_firehose/mod.rs
  src/sources/aws_s3/sqs.rs
Labels: domain: sources, source: aws_kinesis_firehose, ci-condition: integration tests enable

#15192 chore(docs): Regenerate docs
  website/cue/reference/components/sinks/base/aws_s3.cue
  website/cue/reference/components/sinks/base/elasticsearch.cue
Labels: domain: external docs

#15097 chore(internal docs): Tweaks to markdown
  lib/vector-core/src/config/proxy.rs
  website/cue/reference/components/base/sinks.cue
  website/cue/reference/components/base/sources.cue
  website/cue/reference/components/transforms/base/aws_ec2_metadata.cue
Labels: domain: external docs, domain: core

#15182 chore(metrics): Separate out iterating over single and multi-value tags
  lib/vector-core/src/event/metric/series.rs
  lib/vector-core/src/event/metric/tags.rs
  lib/vector-core/src/event/vrl_target.rs
  src/api/schema/events/metric.rs
  src/sinks/aws_cloudwatch_metrics/mod.rs
  src/sinks/datadog/metrics/encoder.rs
  src/sinks/gcp/stackdriver_metrics.rs
  src/sinks/influxdb/mod.rs
  src/sinks/prometheus/collector.rs
  src/sinks/prometheus/remote_write.rs
  src/sinks/s3_common/service.rs
  src/sinks/splunk_hec/metrics/encoder.rs
  src/sinks/statsd.rs
  src/transforms/tag_cardinality_limit.rs
Labels: type: tech debt, domain: transforms, domain: sinks, domain: metrics, ci-condition: integration tests enable, domain: core

#15205 chore: Cleanup match used for legacy timestamp handling
  src/sources/amqp.rs
  src/sources/aws_s3/sqs.rs
Labels: domain: sources

#15052 enhancement(dnstap source): add log_namespace to dnstap
  src/sources/dnstap/mod.rs
  src/sources/dnstap/parser.rs
  src/sources/dnstap/schema.rs
  src/sources/util/framestream.rs
Labels: domain: sources

#15198 chore(reduce transform): add log namespace support to `reduce` transform
  lib/value/src/kind/builder.rs
  lib/value/src/kind/crud/get.rs
  src/transforms/reduce/mod.rs
Labels: domain: transforms

#15125 feature(socket source): Add log namespace and schema support
  .gitignore
  src/sources/socket/mod.rs
  src/sources/socket/tcp.rs
  src/sources/socket/udp.rs
  src/sources/socket/unix.rs
  src/sources/util/mod.rs
  src/sources/util/net/tcp/mod.rs
  src/sources/util/unix.rs
  src/sources/util/unix_datagram.rs
  src/sources/util/unix_stream.rs
Labels: source: socket, domain: sources

#15222 chore(docs): synchronize machine-generated Cue documentation
  website/cue/reference/components/sinks/base/aws_kinesis_streams.cue
  website/cue/reference/components/sources/base/dnstap.cue
  website/cue/reference/components/sources/base/socket.cue
Labels: domain: external docs

#15224 chore(docs): remove logging dep for generate-component-docs script
  scripts/generate-component-docs.rb
Labels: domain: ci

#15204 feat(vrl): Polish web playground
  lib/vrl/core/src/expression.rs
  lib/vrl/diagnostic/src/diagnostic.rs
  lib/vrl/vrl/src/runtime.rs
  lib/vrl/web-playground/public/index.css
  lib/vrl/web-playground/public/index.html
  lib/vrl/web-playground/src/lib.rs
Labels: domain: vrl, vrl: playground

#15177 chore(metrics): Allow for bare tags in the metric tag value set
  lib/vector-core/src/event/metric/arbitrary.rs
  lib/vector-core/src/event/metric/tags.rs
  lib/vector-core/src/event/vrl_target.rs
  src/sinks/datadog_archives.rs
  src/sinks/s3_common/config.rs
  src/sinks/s3_common/service.rs
  website/cue/reference/components/sinks/base/aws_s3.cue
Labels: type: tech debt, domain: sinks, domain: external docs, domain: metrics, ci-condition: integration tests enable, domain: core

#15225 fix(azure service)!: Retrieve .inner() from SensitiveString for Azure ConnectionString
  src/sinks/azure_blob/config.rs
Labels: domain: sinks, ci-condition: integration tests enable

#15270 chore(docs): miscellaneous fixes to generate config schema and derived docs output
  lib/vector-config/src/num.rs
  lib/vector-config/src/schema.rs
  scripts/generate-component-docs.rb
  website/cue/reference/components/sinks/base/aws_cloudwatch_logs.cue
  website/cue/reference/components/sinks/base/aws_cloudwatch_metrics.cue
  website/cue/reference/components/sinks/base/aws_kinesis_firehose.cue
  website/cue/reference/components/sinks/base/aws_kinesis_streams.cue
  website/cue/reference/components/sinks/base/aws_s3.cue
  website/cue/reference/components/sinks/base/axiom.cue
  website/cue/reference/components/sinks/base/azure_blob.cue
  website/cue/reference/components/sinks/base/clickhouse.cue
  website/cue/reference/components/sinks/base/datadog_logs.cue
  website/cue/reference/components/sinks/base/datadog_traces.cue
  website/cue/reference/components/sinks/base/elasticsearch.cue
  website/cue/reference/components/sinks/base/gcp_cloud_storage.cue
  website/cue/reference/components/sinks/base/http.cue
  website/cue/reference/components/sinks/base/humio_logs.cue
  website/cue/reference/components/sinks/base/humio_metrics.cue
  website/cue/reference/components/sinks/base/loki.cue
  website/cue/reference/components/sinks/base/new_relic.cue
  website/cue/reference/components/sinks/base/splunk_hec_logs.cue
  website/cue/reference/components/sinks/base/splunk_hec_metrics.cue
Labels: domain: ci, domain: external docs

#15223 feature(exec source): Add log namespace and schema support
  src/sources/exec/mod.rs
Labels: domain: sources, source: exec

#15261 enhancement(splunk_hec sink): added auto_extract_timestamp option
  src/sinks/humio/logs.rs
  src/sinks/splunk_hec/common/acknowledgements.rs
  src/sinks/splunk_hec/common/mod.rs
  src/sinks/splunk_hec/common/service.rs
  src/sinks/splunk_hec/common/util.rs
  src/sinks/splunk_hec/logs/config.rs
  src/sinks/splunk_hec/logs/encoder.rs
  src/sinks/splunk_hec/logs/integration_tests.rs
  src/sinks/splunk_hec/logs/tests.rs
  src/sinks/splunk_hec/metrics/config.rs
  src/sources/splunk_hec/mod.rs
  website/cue/reference/components/sinks/base/splunk_hec_logs.cue
  website/cue/reference/components/sinks/splunk_hec_logs.cue
Labels: domain: sources, domain: sinks, domain: external docs

#15288 chore(splunk_hec sink): remove auto_extract_timestamp integration tests
  src/sinks/splunk_hec/logs/integration_tests.rs
Labels: domain: sinks, ci-condition: integration tests enable

#15294 fix(splunk_hec sink): auto_extract_timestamp only works for version 8 and above
  scripts/integration/docker-compose.splunk.yml
  src/sinks/splunk_hec/logs/config.rs
  src/sinks/splunk_hec/logs/integration_tests.rs
  website/cue/reference/components/sinks/base/splunk_hec_logs.cue
  website/cue/reference/components/sinks/splunk_hec_logs.cue
Labels: domain: sinks, domain: ci, domain: external docs, ci-condition: integration tests enable

#15297 chore(topology): Fix flaky `topology_disk_buffer_conflict` test
  src/topology/test/reload.rs
Labels: domain: topology, domain: tests, type: tech debt, source: internal_metrics, domain: unit tests

#15206 feat(fluent source)!: Add log namespace and schema def support
  src/sources/amqp.rs
  src/sources/aws_s3/mod.rs
  src/sources/fluent/mod.rs
  src/sources/http_client/client.rs
  website/content/en/highlights/2022-11-07-0-26-0-upgrade-guide.md
Labels: meta: breaking change, domain: sources, source: fluent, ci-condition: integration tests enable

#15311 chore(deps): Bump prost, prost-build, and prost-types to 0.11.2
  Cargo.lock
  Cargo.toml
  lib/codecs/Cargo.toml
  lib/opentelemetry-proto/Cargo.toml
  lib/prometheus-parser/Cargo.toml
  lib/vector-core/Cargo.toml
Labels: type: tech debt, ci-condition: integration tests enable, domain: core, dependencies

#15307 feature(file_descriptor, stdin source): Add log namespace and schema support
  src/sources/file_descriptors/file_descriptor.rs
  src/sources/file_descriptors/mod.rs
  src/sources/file_descriptors/stdin.rs
Labels: domain: sources, source: file_descriptor

#15321 feat(amqp source): update schema definition for amqp source
  src/sources/amqp.rs
Labels: domain: sources

#15290 feat(logstash source): Add log namespace and schema def support
  src/sources/logstash.rs
Labels: domain: sources, source: logstash, ci-condition: integration tests enable

#15331 fix(aws_s3 source): fix s3:TestEvent serialization
  src/sources/aws_s3/sqs.rs
Labels: domain: sources

#15207 feat(internal_logs source): Add log namespace and schema def support
  src/sources/internal_logs.rs
Labels: domain: sources, source: internal_logs

#15274 feat(http_server source): Add log namespace and schema def support
  src/sources/http_server.rs
  src/sources/util/http/query.rs
Labels: domain: sources, source: http_server

#15296 feat(heroku_logs source): Add log namespace and schema def support
  src/sources/heroku_logs.rs
  src/sources/http_server.rs
  src/sources/util/http/query.rs
Labels: domain: sources, source: heroku_logs

#15333 feat(loki sink): Add `path` option to configure the URL path
  src/sinks/loki/config.rs
  src/sinks/loki/mod.rs
  src/sinks/loki/service.rs
  src/sinks/loki/sink.rs
  website/cue/reference/components/sinks/base/loki.cue
  website/cue/reference/components/sinks/loki.cue
Labels: type: enhancement, domain: config, domain: sinks, sink: loki, domain: external docs

#15367 chore(core): allow protobuf building on >=3.12
  build.rs
  scripts/environment/install-protoc.sh
Labels: domain: ci

#15370 chore(core): allow protobuf building on >=3.12 for vector-core
  lib/vector-core/build.rs
Labels: domain: core

#15374 fix(vrl playground): Fix Netlify builds
  lib/vrl/web-playground/netlify.toml
Labels: domain: vrl

#15373 chore(cargo.toml) update `tokio-util` patch to be based on `v0.7.4`
  Cargo.lock
  Cargo.toml
Labels: domain: deps

#15363 feat(nats source): Add log namespace and schema def support
  src/sources/nats.rs
Labels: domain: sources

#15144 chore(metric_to_log transform): add log namespace support to `metric_to_log` transform
  lib/vector-core/src/schema/definition.rs
  src/api/schema/components/mod.rs
  src/config/compiler.rs
  src/config/graph.rs
  src/config/transform.rs
  src/config/unit_test/mod.rs
  src/config/validation.rs
  src/sinks/elasticsearch/common.rs
  src/sources/demo_logs.rs
  src/test_util/mock/transforms/basic.rs
  src/test_util/mock/transforms/noop.rs
  src/topology/builder.rs
  src/topology/schema.rs
  src/transforms/aggregate.rs
  src/transforms/aws_ec2_metadata.rs
  src/transforms/dedupe.rs
  src/transforms/filter.rs
  src/transforms/log_to_metric.rs
  src/transforms/lua/mod.rs
  src/transforms/metric_to_log.rs
  src/transforms/mod.rs
  src/transforms/pipelines/config.rs
  src/transforms/pipelines/mod.rs
  src/transforms/reduce/mod.rs
  src/transforms/remap.rs
  src/transforms/route.rs
  src/transforms/sample.rs
  src/transforms/tag_cardinality_limit.rs
  src/transforms/throttle.rs
Labels: domain: topology, domain: sources, domain: transforms, domain: sinks, domain: core

#15309 enhancement(codecs)!: Add support for enhanced metric tags to `native_json`
  lib/codecs/tests/native.rs
  lib/vector-core/src/event/metric/tags.rs
  website/content/en/highlights/2022-11-07-0-26-0-upgrade-guide.md
Labels: type: enhancement, meta: breaking change, domain: metrics, ci-condition: integration tests enable, domain: core

#15345 enhancement(log_to_metric transform): Add multi-valued tag support
  src/transforms/log_to_metric.rs
Labels: type: enhancement, transform: log_to_metric, domain: transforms, domain: metrics

#15396 docs(docker_logs source): Fix example log in docs
  website/cue/reference/components/sources/docker_logs.cue
Labels: domain: external docs
