Repository vectordotdev/vector, pull requests merged in 2022-03, with the labels that each got.

#11620 chore(core): Split config source into component modules
  src/config/mod.rs
  src/config/sink.rs
  src/config/source.rs
  src/config/transform.rs
Labels: type: tech debt

#11383 enhancement(sinks): add missing events
  src/internal_events/aws_cloudwatch_logs_subscription_parser.rs
  src/internal_events/aws_kinesis_firehose.rs
  src/internal_events/aws_sqs.rs
  src/internal_events/azure_blob.rs
  src/internal_events/datadog_events.rs
  src/internal_events/datadog_metrics.rs
  src/internal_events/elasticsearch.rs
  src/internal_events/file.rs
  src/internal_events/geoip.rs
  src/internal_events/http.rs
  src/internal_events/kafka.rs
  src/internal_events/mod.rs
  src/internal_events/nats.rs
  src/internal_events/parser.rs
  src/internal_events/prelude.rs
  src/internal_events/pulsar.rs
  src/internal_events/redis.rs
  src/internal_events/remap.rs
  src/internal_events/sematext_metrics.rs
  src/internal_events/socket.rs
  src/internal_events/splunk_hec.rs
  src/internal_events/statsd_sink.rs
  src/internal_events/statsd_source.rs
  src/internal_events/tcp.rs
  src/sinks/aws_cloudwatch_logs/mod.rs
  src/sinks/aws_cloudwatch_logs/request_builder.rs
  src/sinks/aws_cloudwatch_logs/sink.rs
  src/sinks/aws_sqs.rs
  src/sinks/azure_common/service.rs
  src/sinks/datadog/events/sink.rs
  src/sinks/datadog/metrics/request_builder.rs
  src/sinks/datadog/metrics/sink.rs
  src/sinks/elasticsearch/service.rs
  src/sinks/file/mod.rs
  src/sinks/http.rs
  src/sinks/kafka/request_builder.rs
  src/sinks/nats.rs
  src/sinks/prometheus/exporter.rs
  src/sinks/pulsar.rs
  src/sinks/redis.rs
  src/sinks/sematext/metrics.rs
  src/sinks/statsd.rs
  src/sinks/util/tcp.rs
  src/sources/util/http/prelude.rs
  src/sources/util/tcp/mod.rs
Labels: domain: sources, domain: sinks

#11546 chore(vrl): test the VM functions as well in the `test_function` macro.
  lib/vrl/compiler/src/function.rs
  lib/vrl/compiler/src/test_util.rs
  lib/vrl/compiler/src/value/convert.rs
  lib/vrl/compiler/src/vm.rs
  lib/vrl/compiler/src/vm/argument_list.rs
Labels: domain: vrl

#11607 chore(vrl): add criterion benchmarks for the VRL VM
  Cargo.lock
  lib/vrl/vrl/Cargo.toml
  lib/vrl/vrl/benches/vm.rs
Labels: domain: vrl

#11554 feat(vrl): update vrl-vm to be a runtime option.
  lib/vrl/cli/Cargo.toml
  lib/vrl/cli/src/cmd.rs
  lib/vrl/cli/src/repl.rs
  lib/vrl/compiler/Cargo.toml
  lib/vrl/compiler/src/lib.rs
  lib/vrl/tests/Cargo.toml
  lib/vrl/tests/src/main.rs
  lib/vrl/vrl/src/lib.rs
  src/transforms/remap.rs
Labels: domain: transforms, domain: vrl

#11618 chore(core): Remove instrumentation from `TraceEvent`
  lib/vector-core/src/event/trace.rs
Labels: type: tech debt, domain: performance, domain: core

#11637 chore: Some small `pub` changes, code removal in pipelines
  lib/vector-core/src/transform/config.rs
  src/transforms/pipelines/expander.rs
  src/transforms/pipelines/mod.rs
  src/transforms/pipelines/router.rs
Labels: domain: transforms, domain: core

#11659 docs: Fix link to logfmt
  website/cue/reference/components/sinks.cue
Labels: domain: external docs

#11033 feat(datadog_agent source): initial trace support in `datadog_agent source
  build.rs
  lib/vector-core/src/event/trace.rs
  proto/dd_trace.proto
  scripts/integration/docker-compose.datadog-agent.yml
  src/sources/datadog/agent/integration_tests.rs
  src/sources/datadog/agent/logs.rs
  src/sources/datadog/agent/metrics.rs
  src/sources/datadog/agent/mod.rs
  src/sources/datadog/agent/tests.rs
  src/sources/datadog/agent/traces.rs
  src/sources/datadog/mod.rs
  src/sources/datadog/sketch_parser.rs
  website/cue/reference/components/sources/datadog_agent.cue
Labels: domain: sources, domain: ci, domain: external docs, domain: core

#11411 chore(api): Warn on invalid matches in vector tap
  lib/vector-api-client/graphql/schema.json
  lib/vector-api-client/graphql/subscriptions/output_events_by_component_id_patterns.graphql
  src/api/schema/events/notification.rs
  src/api/schema/events/output.rs
  src/api/tap.rs
  src/tap/cmd.rs
  src/topology/mod.rs
  src/topology/running.rs
  website/content/en/highlights/2022-03-22-0-21-0-upgrade-guide.md
Labels: domain: topology

#11670 fix(ci): Use correct env var for Datatog integration test
  scripts/integration/docker-compose.datadog-agent.yml
  src/sources/datadog/agent/integration_tests.rs
Labels: domain: sources, domain: ci, ci-condition: integration tests enable

#11658 fix(gcp_stackdriver_logs sink): Allow literal 'ER' as a log level type ERROR
  src/sinks/gcp/stackdriver_logs.rs
Labels: domain: sinks

#11668 fix(vrl)!: Make remainder fallible
  lib/vrl/compiler/src/expression/op.rs
  lib/vrl/compiler/src/value/arithmetic.rs
  lib/vrl/tests/tests/expressions/arithmetic/remainder/zero.vrl
  website/content/en/highlights/2022-03-22-0-21-0-upgrade-guide.md
Labels: domain: vrl

#11680 fix(topology): correct fix for topology reloading around rebuilt sinks
  lib/vector-core/src/fanout.rs
  src/topology/running.rs
  tests/topology.rs
Labels: domain: topology, domain: core

#11673 feat(internal_metrics source): Let scrape_interval_secs have fractional seconds
  src/config/datadog.rs
  src/sources/host_metrics/mod.rs
  src/sources/internal_metrics.rs
  website/cue/reference.cue
  website/cue/reference/components/sources/host_metrics.cue
  website/cue/reference/components/sources/internal_metrics.cue
Labels: domain: sources, domain: external docs

#11687 fix(ci): Fix cross-compilation
  .github/workflows/test.yml
  Cross.toml
  Makefile
  scripts/slim-builds.sh
Labels: domain: ci

#11587 enhancement(sources): Send arrays of events into the topology
  lib/vector-buffers/src/topology/channel/limited_queue.rs
  lib/vector-buffers/src/topology/channel/mod.rs
  lib/vector-core/src/event/array.rs
  lib/vector-core/src/event/mod.rs
  lib/vector-core/src/event/ref.rs
  lib/vector-core/src/sink.rs
  lib/vector-core/src/transform/mod.rs
  src/sinks/blackhole/config.rs
  src/sinks/blackhole/mod.rs
  src/sinks/blackhole/sink.rs
  src/source_sender/errors.rs
  src/source_sender/mod.rs
  src/sources/datadog/agent/tests.rs
  src/sources/demo_logs.rs
  src/sources/docker_logs.rs
  src/sources/internal_logs.rs
  src/sources/socket/mod.rs
  src/sources/statsd/mod.rs
  tests/data/fluent/fluent-bit.conf
  tests/data/fluent/fluentd-gzip.conf
  tests/data/fluent/fluentd-plain.conf
  tests/support/mod.rs
  tests/topology.rs
Labels: domain: sources, domain: sinks, domain: core

#11689 chore: remove slim-build from k8s ci
  .github/workflows/k8s_e2e.yml
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#11671 enhancement(journald source): Add timeout to batch read loop
  src/sources/journald.rs
Labels: type: enhancement, source: journald, domain: sources

#11663 feat(vrl): Add configurable unit for to_timestamp
  lib/vrl/stdlib/src/to_timestamp.rs
  website/cue/reference/remap/functions/to_timestamp.cue
Labels: domain: external docs, domain: vrl

#11693 chore(tests): Fix topology test
  tests/topology.rs
Labels: domain: tests

#11594 enhancement(sources): Make more sources send batches of events
  src/source_sender/mod.rs
  src/sources/apache_metrics/mod.rs
  src/sources/aws_kinesis_firehose/handlers.rs
  src/sources/aws_s3/sqs.rs
  src/sources/aws_sqs/source.rs
  src/sources/docker_logs.rs
  src/sources/exec/mod.rs
  src/sources/file.rs
  src/sources/internal_logs.rs
  src/sources/kafka.rs
  src/sources/kubernetes_logs/mod.rs
  src/sources/prometheus/scrape.rs
  src/sources/splunk_hec/mod.rs
  src/sources/stdin.rs
  src/sources/syslog.rs
  src/sources/util/framestream.rs
  src/topology/test/backpressure.rs
  tests/support/mod.rs
  tests/topology.rs
Labels: domain: topology, domain: sources

#11697 chore: Introduce a new route transform benchmark
  Cargo.toml
  benches/transform/main.rs
  benches/transform/route.rs
  lib/vector-core/src/transform/mod.rs
  soaks/bin/plot_analysis
Labels: domain: core

#11699 chore: Moderately improve the micro behavior of route transform
  src/transforms/route.rs
Labels: domain: transforms

#11628 chore: Refactor `util::http::HttpSink` to allow mutable access to `self` in `encode_event`
  src/sinks/azure_monitor_logs.rs
  src/sinks/clickhouse.rs
  src/sinks/gcp/pubsub.rs
  src/sinks/gcp/stackdriver_logs.rs
  src/sinks/gcp/stackdriver_metrics.rs
  src/sinks/honeycomb.rs
  src/sinks/http.rs
  src/sinks/influxdb/logs.rs
  src/sinks/logdna.rs
  src/sinks/util/http.rs
Labels: domain: sinks

#11707 docs(reduce transform): Fix example type handling
  website/content/en/highlights/2021-02-16-reduce-transform-remap-support.md
  website/cue/reference/components/transforms/reduce.cue
Labels: domain: external docs

#11709 docs(loki sink): Clarify endpoint path
  website/cue/reference/components/sinks/loki.cue
Labels: domain: external docs

#11713 enhancement: Add vector user to systemd-journal-remote group
  distribution/debian/scripts/postinst
Labels: domain: releasing

#11692 chore: Try out nextest in CI
  .config/nextest.toml
  .github/workflows/test.yml
  Cargo.toml
  Makefile
  lib/file-source/Cargo.toml
  lib/tracing-limit/Cargo.toml
  lib/vrl/compiler/Cargo.toml
  lib/vrl/stdlib/Cargo.toml
  lib/vrl/vrl/Cargo.toml
  scripts/environment/bootstrap-windows-2019.ps1
  scripts/environment/prepare.sh
Labels: domain: ci, domain: vrl

#11724 chore: Expose `sinks::util::encoding::Transformer`
  src/sinks/util/encoding/adapter.rs
  src/sinks/util/encoding/mod.rs
Labels: domain: sinks

#10688 enhancement(auth): NATS sink+source authentication and TLS support
  Cargo.lock
  Cargo.toml
  scripts/setup_integration/nats_integration_env.sh
  src/lib.rs
  src/nats.rs
  src/sinks/nats.rs
  src/sources/nats.rs
  tests/data/localhost-mkcert-key.pem
  tests/data/localhost-mkcert.pem
  tests/data/mkcert_rootCA.pem
  tests/data/nats-bad.creds
  tests/data/nats-jwt.conf
  tests/data/nats-nkey.conf
  tests/data/nats-tls-client-cert.conf
  tests/data/nats-tls.conf
  tests/data/nats.creds
  tests/data/nats_client_cert.pem
  tests/data/nats_client_key.pem
  website/cue/reference/components/nats.cue
  website/cue/reference/components/sinks/nats.cue
Labels: domain: sources, domain: sinks, domain: ci, domain: external docs, ci-condition: integration tests enable

#11645 docs: add encoding configuration examples
  website/cue/reference/components/sinks.cue
  website/scripts/create-config-examples.js
Labels: domain: external docs

#11605 chore(loki sink): refactor to emit events by batch
  src/internal_events/loki.rs
  src/sinks/loki/sink.rs
Labels: domain: sinks

#11746 fix(aws_ec2_metadata transform): fix regression from path lookup changes
  lib/lookup/src/lookup_v2/jit.rs
  lib/lookup/src/lookup_v2/mod.rs
  src/transforms/aws_ec2_metadata.rs
Labels: domain: transforms, ci-condition: integration tests enable

#7096 feat: New redis source
  Cargo.toml
  docs/reference/components/sources/redis.cue
  src/internal_events/mod.rs
  src/internal_events/redis.rs
  src/sources/mod.rs
  src/sources/redis/channel.rs
  src/sources/redis/list.rs
  src/sources/redis/mod.rs
Labels: domain: sources, ci-condition: integration tests enable

#11348 chore(performance): start to rework `Fanout`
  lib/vector-core/src/fanout.rs
  lib/vector-core/src/transform/mod.rs
  src/api/schema/events/mod.rs
  src/api/schema/events/output.rs
  src/api/tap.rs
  src/topology/builder.rs
  src/topology/running.rs
  src/topology/test/backpressure.rs
Labels: domain: topology, domain: core

#11133 fix(loki sink): Add accept option to out_of_order_action
  scripts/integration/docker-compose.loki.yml
  src/sinks/loki/config.rs
  src/sinks/loki/integration_tests.rs
  src/sinks/loki/sink.rs
  tests/data/loki-config.yaml
  website/cue/reference/components/sinks/loki.cue
Labels: domain: sinks, domain: ci, domain: external docs, ci-condition: integration tests enable

#11759 chore: Unify logic to (de)serialize `OwnedPath`s
  lib/lookup/src/lookup_v2/mod.rs
  src/sinks/datadog/events/request_builder.rs
  src/sinks/util/encoding/adapter.rs
  src/sinks/util/encoding/config.rs
  src/sinks/util/encoding/fixed.rs
  src/sinks/util/encoding/mod.rs
  src/sinks/util/encoding/with_default.rs
  src/sources/dnstap/parser.rs
  src/transforms/grok_parser.rs
  src/transforms/tokenizer.rs
Labels: domain: sources, domain: transforms, domain: sinks

#11739 feat(ci): Upload test results to Datadog
  .config/nextest.toml
  .github/workflows/test.yml
  Makefile
  scripts/environment/prepare.sh
  scripts/upload-test-results.sh
Labels: domain: ci

#11729 chore: Slightly re-organize the pipeline code
  src/transforms/pipelines/config.rs
  src/transforms/pipelines/mod.rs
Labels: domain: transforms

#11644 chore(azure_blob sink): migrate to new sink style
  src/sinks/azure_blob.rs
  src/sinks/azure_blob/config.rs
  src/sinks/azure_blob/integration_tests.rs
  src/sinks/azure_blob/mod.rs
  src/sinks/azure_blob/request_builder.rs
  src/sinks/azure_blob/test.rs
Labels: domain: sinks

#11634 chore(config): configuration schema RFC
  rfcs/2022-02-23-9481-config-schema.md
Labels: domain: rfc

#11024 enhancement(vrl): add fuzz testing for the VRL VM
  Cargo.lock
  lib/vrl/compiler/fuzz/.gitignore
  lib/vrl/compiler/fuzz/Cargo.lock
  lib/vrl/compiler/fuzz/Cargo.toml
  lib/vrl/compiler/fuzz/fuzz_targets/vm_differential.rs
  lib/vrl/compiler/src/expression/block.rs
  lib/vrl/compiler/src/expression/if_statement.rs
  lib/vrl/compiler/src/expression/op.rs
  lib/vrl/compiler/src/vm/argument_list.rs
  lib/vrl/compiler/src/vm/machine.rs
  lib/vrl/parser/Cargo.toml
  lib/vrl/parser/src/arbitrary.rs
  lib/vrl/parser/src/arbitrary_depth.rs
  lib/vrl/parser/src/ast.rs
  lib/vrl/parser/src/lib.rs
  lib/vrl/stdlib/src/encode_json.rs
  lib/vrl/tests/tests/expressions/logical/and.vrl
  lib/vrl/tests/tests/expressions/logical/nullandnull.vrl
  lib/vrl/tests/tests/expressions/query/function_call_error.vrl
Labels: domain: vrl

#11769 chore: Replace trivial `format!("{}")` with `to_string`
  benches/metrics_snapshot.rs
  lib/datadog/grok/src/matchers/date.rs
  lib/datadog/grok/src/parse_grok.rs
  lib/lookup/src/parser.rs
  lib/value/src/value/display.rs
  lib/value/src/value/serde.rs
  lib/vector-core/src/event/metric.rs
  lib/vrl/compiler/benches/kind.rs
  lib/vrl/compiler/src/test_util.rs
  lib/vrl/proptests/src/main.rs
  lib/vrl/stdlib/src/only_fields.rs
  lib/vrl/stdlib/src/parse_key_value.rs
  lib/vrl/stdlib/src/parse_timestamp.rs
  src/conditions/check_fields.rs
  src/sinks/aws_cloudwatch_logs/integration_tests.rs
  src/sinks/aws_s3/tests.rs
  src/sinks/datadog_archives.rs
  src/sinks/gcs_common/config.rs
  src/sinks/gcs_common/service.rs
  src/sinks/http.rs
  src/sinks/influxdb/logs.rs
  src/sinks/influxdb/mod.rs
  src/sinks/logdna.rs
  src/sinks/new_relic_logs.rs
  src/sinks/util/sink.rs
  src/sources/apache_metrics/mod.rs
  src/sources/socket/mod.rs
  src/top/dashboard.rs
  src/transforms/split.rs
  src/validate.rs
  tests/metrics_snapshot.rs
  tests/shutdown.rs
Labels: type: tech debt, domain: sources, domain: transforms, domain: sinks, domain: vrl, domain: core

#11776 fix(ci): Allow test result upload to fail without failing the ci job
  scripts/upload-test-results.sh
Labels: domain: ci

#11778 fix(releasing): Fix version calculation
  scripts/version.sh
Labels: domain: ci

#11767 chore(vrl): Optimize VRL byte concatenation
  lib/vrl/compiler/src/value/arithmetic.rs
Labels: domain: vrl

#11777 chore(aws_cloudwatch_logs sink): Migrate to AWS SDK
  Cargo.lock
  Cargo.toml
  src/aws/aws_sdk/mod.rs
  src/sinks/aws_cloudwatch_logs/config.rs
  src/sinks/aws_cloudwatch_logs/healthcheck.rs
  src/sinks/aws_cloudwatch_logs/integration_tests.rs
  src/sinks/aws_cloudwatch_logs/mod.rs
  src/sinks/aws_cloudwatch_logs/request.rs
  src/sinks/aws_cloudwatch_logs/retry.rs
  src/sinks/aws_cloudwatch_logs/service.rs
  src/sinks/aws_cloudwatch_metrics.rs
  src/sources/aws_sqs/config.rs
  website/content/en/highlights/2022-03-22-0-21-0-upgrade-guide.md
  website/cue/reference/components/sinks/aws_cloudwatch_logs.cue
Labels: domain: sources, domain: sinks, domain: external docs, ci-condition: integration tests enable

#11726 chore: Use cargo-nextest for integration tests too
  .github/workflows/integration-test.yml
  .github/workflows/test.yml
  Makefile
  scripts/integration/Dockerfile
  scripts/integration/docker-compose.aws.yml
  scripts/integration/docker-compose.azure.yml
  scripts/integration/docker-compose.clickhouse.yml
  scripts/integration/docker-compose.datadog-agent.yml
  scripts/integration/docker-compose.datadog-logs.yml
  scripts/integration/docker-compose.datadog-metrics.yml
  scripts/integration/docker-compose.dnstap.yml
  scripts/integration/docker-compose.docker.yml
  scripts/integration/docker-compose.elasticsearch.yml
  scripts/integration/docker-compose.eventstoredb.yml
  scripts/integration/docker-compose.fluent.yml
  scripts/integration/docker-compose.gcp.yml
  scripts/integration/docker-compose.humio.yml
  scripts/integration/docker-compose.influxdb.yml
  scripts/integration/docker-compose.kafka.yml
  scripts/integration/docker-compose.logstash.yml
  scripts/integration/docker-compose.loki.yml
  scripts/integration/docker-compose.mongo.yml
  scripts/integration/docker-compose.nginx.yml
  scripts/integration/docker-compose.postgres.yml
  scripts/integration/docker-compose.prometheus.yml
  scripts/integration/docker-compose.pulsar.yml
  scripts/integration/docker-compose.redis.yml
  scripts/integration/docker-compose.shutdown.yml
  scripts/integration/docker-compose.splunk.yml
Labels: domain: ci, ci-condition: integration tests enable

#11647 enhancement(http sink, codecs): Integrate `encoding::Encoder` with `http` sink
  Cargo.toml
  benches/http.rs
  src/codecs/encoding/framing/character_delimited.rs
  src/codecs/encoding/mod.rs
  src/internal_events/http.rs
  src/sinks/http.rs
  src/sinks/new_relic_logs.rs
  src/sinks/util/encoding/adapter.rs
Labels: domain: sinks, domain: codecs

#11799 feat(journald source): add a since_now option
  src/sources/journald.rs
  website/cue/reference/components/sources/journald.cue
Labels: domain: sources, domain: external docs

#11780 chore(buffers): abstract the I/O for disk v2 + add property test
  lib/vector-buffers/Cargo.toml
  lib/vector-buffers/proptest-regressions/variants/disk_v2/tests/model/mod.txt
  lib/vector-buffers/src/variants/disk_v2/acknowledgements.rs
  lib/vector-buffers/src/variants/disk_v2/common.rs
  lib/vector-buffers/src/variants/disk_v2/io.rs
  lib/vector-buffers/src/variants/disk_v2/ledger.rs
  lib/vector-buffers/src/variants/disk_v2/mod.rs
  lib/vector-buffers/src/variants/disk_v2/reader.rs
  lib/vector-buffers/src/variants/disk_v2/tests/acknowledgements.rs
  lib/vector-buffers/src/variants/disk_v2/tests/basic.rs
  lib/vector-buffers/src/variants/disk_v2/tests/invariants.rs
  lib/vector-buffers/src/variants/disk_v2/tests/mod.rs
  lib/vector-buffers/src/variants/disk_v2/tests/model/action.rs
  lib/vector-buffers/src/variants/disk_v2/tests/model/common.rs
  lib/vector-buffers/src/variants/disk_v2/tests/model/filesystem.rs
  lib/vector-buffers/src/variants/disk_v2/tests/model/mod.rs
  lib/vector-buffers/src/variants/disk_v2/tests/model/record.rs
  lib/vector-buffers/src/variants/disk_v2/tests/model/sequencer.rs
  lib/vector-buffers/src/variants/disk_v2/tests/record.rs
  lib/vector-buffers/src/variants/disk_v2/writer.rs
  lib/vrl/parser/build.rs
Labels: domain: vrl

#11781 chore(aws_sqs sink): Migrate to AWS SDK
  Cargo.toml
  src/aws/aws_sdk/mod.rs
  src/common/mod.rs
  src/common/sqs.rs
  src/http.rs
  src/sinks/aws_cloudwatch_logs/config.rs
  src/sinks/aws_cloudwatch_logs/integration_tests.rs
  src/sinks/aws_cloudwatch_metrics.rs
  src/sinks/aws_sqs.rs
  src/sources/aws_sqs/config.rs
  src/tls/settings.rs
  website/content/en/highlights/2022-03-22-0-21-0-upgrade-guide.md
  website/cue/reference/components/sinks/aws_sqs.cue
Labels: domain: sources, domain: sinks, domain: external docs, ci-condition: integration tests enable

#11807 chore: Upload integration test JUnit reports to Datadog
  .github/workflows/integration-test.yml
Labels: ci-condition: integration tests enable

#11824 docs(redis source): Fix docs
  website/content/en/docs/reference/configuration/sources/redis.md
  website/cue/reference/components/sources/redis.cue
Labels: domain: external docs

#11828 chore(sinks): clean up duplicate code for setting tower layers
  .github/workflows/integration-test.yml
  scripts/integration/docker-compose.aws.yml
  scripts/integration/docker-compose.azure.yml
  scripts/integration/docker-compose.clickhouse.yml
  scripts/integration/docker-compose.datadog-agent.yml
  scripts/integration/docker-compose.datadog-logs.yml
  scripts/integration/docker-compose.datadog-metrics.yml
  scripts/integration/docker-compose.dnstap.yml
  scripts/integration/docker-compose.docker-logs.yml
  scripts/integration/docker-compose.elasticsearch.yml
  scripts/integration/docker-compose.eventstoredb.yml
  scripts/integration/docker-compose.fluent.yml
  scripts/integration/docker-compose.gcp.yml
  scripts/integration/docker-compose.humio.yml
  scripts/integration/docker-compose.influxdb.yml
  scripts/integration/docker-compose.kafka.yml
  scripts/integration/docker-compose.logstash.yml
  scripts/integration/docker-compose.loki.yml
  scripts/integration/docker-compose.mongo.yml
  scripts/integration/docker-compose.nginx.yml
  scripts/integration/docker-compose.postgres.yml
  scripts/integration/docker-compose.prometheus.yml
  scripts/integration/docker-compose.pulsar.yml
  scripts/integration/docker-compose.redis.yml
  scripts/integration/docker-compose.shutdown.yml
  scripts/integration/docker-compose.splunk.yml
  src/sinks/aws_cloudwatch_logs/config.rs
  src/sinks/aws_cloudwatch_logs/sink.rs
  src/sinks/aws_cloudwatch_metrics.rs
  src/sinks/aws_kinesis_firehose/sink.rs
  src/sinks/aws_kinesis_streams/config.rs
  src/sinks/aws_kinesis_streams/sink.rs
  src/sinks/datadog/events/sink.rs
  src/sinks/elasticsearch/sink.rs
  src/sinks/prometheus/remote_write.rs
  src/sinks/util/service.rs
  src/sinks/vector/v2/config.rs
  src/sinks/vector/v2/sink.rs
Labels: domain: sinks, domain: ci, ci-condition: integration tests enable

#11827 chore: Rebuild integration test docker images
  Makefile
Labels: ci-condition: integration tests enable

#11831 chore(geoip transform): Wrap the maxminddb reader in Arc
  src/transforms/geoip.rs
Labels: domain: transforms

#11536 chore(config): datadog agent style secret management RFC
  rfcs/2022-02-24-11552-dd-agent-style-secret-management.md
Labels: domain: rfc

#11836 chore: Make `Remap` transform generic over `Runner`
  benches/remap.rs
  src/transforms/remap.rs
Labels: domain: transforms

#11856 fix(observability): Ensure tasks are instrumented with active spans
  lib/vector-buffers/src/buffer_usage_data.rs
  lib/vector-buffers/src/variants/disk_v1/tests/acknowledgements.rs
  lib/vector-buffers/src/variants/disk_v2/tests/basic.rs
  lib/vector-buffers/src/variants/disk_v2/tests/invariants.rs
  lib/vector-buffers/src/variants/disk_v2/tests/known_errors.rs
  lib/vector-buffers/src/variants/disk_v2/tests/size_limits.rs
  lib/vector-core/src/stream/driver.rs
  src/http.rs
  src/sinks/aws_kinesis_firehose/service.rs
  src/sinks/aws_kinesis_streams/service.rs
  src/sinks/aws_sqs.rs
  src/sinks/azure_common/service.rs
  src/sinks/util/sink.rs
  src/sources/file.rs
  src/sources/util/framestream.rs
  src/sources/util/tcp/mod.rs
  src/sources/util/unix_stream.rs
  src/topology/running.rs
  src/transforms/aws_ec2_metadata.rs
Labels: domain: topology, domain: sources, domain: transforms, domain: sinks, domain: core

#11829 fix(buffers): Require buffer sizes to be non-zero
  lib/vector-buffers/benches/sized_records.rs
  lib/vector-buffers/examples/buffer_perf.rs
  lib/vector-buffers/src/config.rs
  lib/vector-buffers/src/test/common/variant.rs
  lib/vector-buffers/src/test/model/in_memory.rs
  lib/vector-buffers/src/test/model/on_disk_v1.rs
  lib/vector-buffers/src/test/model/on_disk_v2.rs
  lib/vector-buffers/src/topology/builder.rs
  lib/vector-buffers/src/topology/test_util.rs
  lib/vector-buffers/src/variants/disk_v1/mod.rs
  lib/vector-buffers/src/variants/disk_v1/tests/mod.rs
  lib/vector-buffers/src/variants/disk_v2/mod.rs
  lib/vector-buffers/src/variants/in_memory.rs
  lib/vector-core/src/config/mod.rs
  lib/vector-core/src/fanout.rs
  src/topology/builder.rs
  src/topology/test/backpressure.rs
  tests/topology.rs
Labels: domain: topology, domain: core

#11855 fix(vrl): ignore comments in nested code
  lib/vrl/parser/src/lex.rs
Labels: domain: vrl

#11708 chore(aws_sqs sink): migration to stream sink
  src/internal_events/mod.rs
  src/sinks/aws_sqs.rs
  src/sinks/aws_sqs/config.rs
  src/sinks/aws_sqs/integration_tests.rs
  src/sinks/aws_sqs/mod.rs
  src/sinks/aws_sqs/request_builder.rs
  src/sinks/aws_sqs/retry.rs
  src/sinks/aws_sqs/service.rs
  src/sinks/aws_sqs/sink.rs
Labels: domain: sinks, ci-condition: integration tests enable

#11858 fix(prometheus_exporter sink): Escape quotes in tag values
  src/sinks/prometheus/collector.rs
Labels: type: bug, domain: sinks, sink: prometheus_exporter

#11747 chore(observability): update check-events script
  scripts/check-events
  src/internal_events/aws_ecs_metrics.rs
  src/internal_events/aws_kinesis_firehose.rs
  src/internal_events/aws_sqs.rs
  src/internal_events/azure_blob.rs
  src/internal_events/common.rs
  src/internal_events/elasticsearch.rs
  src/internal_events/exec.rs
  src/internal_events/file.rs
  src/internal_events/http.rs
  src/internal_events/internal_logs.rs
  src/internal_events/journald.rs
  src/internal_events/kafka.rs
  src/internal_events/kubernetes_logs.rs
  src/internal_events/lua.rs
  src/internal_events/prelude.rs
  src/internal_events/redis.rs
  src/internal_events/remap.rs
  src/internal_events/sematext_metrics.rs
  src/internal_events/socket.rs
  src/internal_events/splunk_hec.rs
  src/internal_events/statsd_sink.rs
  src/internal_events/statsd_source.rs
  src/internal_events/tcp.rs
  src/internal_events/template.rs
  src/sinks/azure_common/service.rs
  src/sinks/elasticsearch/service.rs
  src/sinks/redis.rs
  src/sinks/splunk_hec/common/acknowledgements.rs
  src/sinks/splunk_hec/common/service.rs
  src/sources/aws_kinesis_firehose/filters.rs
  src/sources/aws_sqs/source.rs
  src/sources/datadog/agent/metrics.rs
  src/sources/datadog/agent/traces.rs
  src/sources/redis/channel.rs
  src/sources/redis/list.rs
  src/sources/util/http/prelude.rs
  src/unit_test.rs
Labels: domain: sources, domain: sinks, domain: ci

#11887 fix(releasing): Fix debian package names
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  scripts/package-deb.sh
Labels: domain: ci, domain: releasing

#11889 fix(releasing): Fix debian packaging
  distribution/docker/debian/Dockerfile
  distribution/docker/distroless-libc/Dockerfile
  scripts/package-deb.sh
Labels: domain: ci, domain: releasing, ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#11879 fix(datadog_archives sink): remove batch settings from the sink config
  src/sinks/datadog_archives.rs
Labels: domain: sinks

#11903 fix(kafka source): read message key as bytes instead of string
  src/sources/kafka.rs
Labels: domain: sources, ci-condition: integration tests enable

#11881 chore(aws_kinesis_streams sink): Migrate to AWS SDK
  Cargo.lock
  Cargo.toml
  src/sinks/aws_kinesis_streams/config.rs
  src/sinks/aws_kinesis_streams/integration_tests.rs
  src/sinks/aws_kinesis_streams/request_builder.rs
  src/sinks/aws_kinesis_streams/service.rs
  website/content/en/highlights/2022-03-22-0-21-0-upgrade-guide.md
Labels: domain: sinks, ci-condition: integration tests enable

#11801 enhancement(vrl): add VM option for conditions
  lib/vrl/compiler/src/lib.rs
  src/conditions/mod.rs
  src/conditions/vrl.rs
  src/transforms/route.rs
  src/transforms/sample.rs
Labels: domain: transforms, domain: vrl

#11890 fix(vrl): fix remaining VM bugs
  lib/vrl/compiler/src/expression.rs
  lib/vrl/compiler/src/expression/op.rs
  lib/vrl/compiler/src/expression/unary.rs
  lib/vrl/compiler/src/vm/machine.rs
  lib/vrl/stdlib/src/encode_logfmt.rs
  lib/vrl/stdlib/src/parse_grok.rs
  lib/vrl/stdlib/src/parse_logfmt.rs
  lib/vrl/tests/src/main.rs
  lib/vrl/tests/tests/internal/coalesced_fallible_op.vrl
  scripts/test-vrl.sh
Labels: domain: ci, domain: vrl

#11912 feat(blackhole sink): Allow disabling reporting
  src/sinks/blackhole/sink.rs
  website/cue/reference/components/sinks/blackhole.cue
Labels: domain: sinks, domain: external docs

#11892 chore: Fix naming for VRL runtime benches
  lib/vrl/vrl/Cargo.toml
  lib/vrl/vrl/benches/runtime.rs
Labels: domain: vrl

#11904 chore(deps): Upgrade AWS SDK
  Cargo.lock
  Cargo.toml
Labels: ci-condition: integration tests enable

#11911 fix(aws_sqs source): Fix handling of acknowledgements
  src/sources/aws_sqs/source.rs
Labels: type: bug, domain: sources, source: aws_sqs

#11910 fix(vrl): Fix parse_xml handling of single node children
  lib/vrl/stdlib/src/parse_xml.rs
Labels: domain: vrl

#11915 docs(blackhole sink): Add backticks around `print_interval_secs` value
  website/cue/reference/components/sinks/blackhole.cue
Labels: domain: external docs

#11928 docs(vrl): minor fixes/improvements to literals documentation
  website/cue/reference/remap/literals/regular_expression.cue
  website/cue/reference/remap/literals/string.cue
Labels: domain: external docs

#11925 enhancement(aws_sqs source): Optimize event send loop
  src/sources/aws_sqs/source.rs
Labels: type: enhancement, domain: sources, domain: performance, source: aws_sqs

#11875 enhancement(route transform): add _unmatched route
  lib/vector-core/src/transform/config.rs
  src/config/validation.rs
  src/internal_events/mod.rs
  src/internal_events/route.rs
  src/transforms/route.rs
  tests/config.rs
  website/content/en/highlights/2022-03-22-0-21-0-upgrade-guide.md
  website/cue/reference/components/transforms/route.cue
Labels: domain: transforms, domain: external docs, domain: core

#11917 enhancement(vrl): add `ip_ntop()` and `ip_pton()` functions
  lib/vrl/stdlib/Cargo.toml
  lib/vrl/stdlib/benches/benches.rs
  lib/vrl/stdlib/src/ip_ntop.rs
  lib/vrl/stdlib/src/ip_pton.rs
  lib/vrl/stdlib/src/lib.rs
  website/cue/reference/remap/functions/ip_ntop.cue
  website/cue/reference/remap/functions/ip_pton.cue
  website/cue/reference/urls.cue
Labels: domain: external docs, domain: vrl

#11906 chore(aws_kinesis_firehose sink): Migrate to AWS SDK
  Cargo.lock
  Cargo.toml
  src/sinks/aws_kinesis_firehose/config.rs
  src/sinks/aws_kinesis_firehose/integration_tests.rs
  src/sinks/aws_kinesis_firehose/request_builder.rs
  src/sinks/aws_kinesis_firehose/service.rs
  src/sinks/aws_kinesis_firehose/tests.rs
  website/content/en/highlights/2022-03-22-0-21-0-upgrade-guide.md
Labels: domain: sinks, ci-condition: integration tests enable

#11969 fix(tests): add dataDir config option to values.yml in k8s-e2e-tests
  lib/k8s-e2e-tests/tests/vector-agent.rs
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#11954 chore(observability): better integration of tracing/tokio-console
  Cargo.lock
  Cargo.toml
  lib/tracing-limit/src/lib.rs
  lib/vector-buffers/benches/common.rs
  lib/vector-buffers/examples/buffer_perf.rs
  lib/vector-buffers/src/buffer_usage_data.rs
  lib/vector-buffers/src/config.rs
  lib/vector-buffers/src/lib.rs
  lib/vector-buffers/src/test/common/variant.rs
  lib/vector-buffers/src/topology/builder.rs
  src/app.rs
  src/lib.rs
  src/topology/builder.rs
  src/topology/running.rs
  src/trace.rs
Labels: domain: topology

#11923 chore(deps): Upgrade Rust to 1.59.0
  Tiltfile
  lib/enrichment/src/vrl_util.rs
  lib/k8s-e2e-tests/tests/vector-agent.rs
  lib/soak/Dockerfile
  lib/vector-core/src/config/global_options.rs
  lib/vector-core/src/event/trace.rs
  lib/vector-core/src/schema/requirement.rs
  lib/vrl/stdlib/src/remove.rs
  lib/vrl/stdlib/src/replace.rs
  lib/vrl/stdlib/src/round.rs
  lib/vrl/stdlib/src/split.rs
  lib/vrl/stdlib/src/truncate.rs
  rust-toolchain.toml
  soaks/Dockerfile.builder
  src/lib.rs
  src/sinks/aws_sqs/integration_tests.rs
  src/sinks/gcp/mod.rs
  src/sources/datadog/agent/metrics.rs
  src/sources/datadog/agent/tests.rs
  src/sources/util/http/prelude.rs
Labels: domain: sources, domain: sinks, domain: vrl, domain: core

#9732 feat(vrl): add `is_empty` function
  lib/vrl/stdlib/Cargo.toml
  lib/vrl/stdlib/benches/benches.rs
  lib/vrl/stdlib/src/is_empty.rs
  lib/vrl/stdlib/src/lib.rs
  website/cue/reference/remap/functions/is_empty.cue
Labels: type: feature, domain: external docs, domain: vrl

#11941 enhancement(splunk_hec source): Alias `/services/collector` endpoint
  src/sources/splunk_hec/mod.rs
Labels: domain: sources

#11976 fix(tests): add service.ports config option to values.yml in k8s-e2e-tests
  lib/k8s-e2e-tests/tests/vector-agent.rs
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#11955 chore(datadog_metrics sink): add tls options for datadog metrics
  src/sinks/datadog/metrics/config.rs
  website/cue/reference/components/sinks/datadog_metrics.cue
Labels: domain: sinks, domain: external docs, ci-condition: integration tests enable

#11974 chore(deps): Downgrade to 1.58.1
  .github/workflows/test.yml
  Tiltfile
  lib/soak/Dockerfile
  lib/vector-core/src/config/global_options.rs
  rust-toolchain.toml
  soaks/Dockerfile.builder
  src/lib.rs
  src/sinks/gcp/mod.rs
  src/sources/util/http/prelude.rs
Labels: domain: sources, domain: sinks, domain: core

#11943 enhancement(aws_ec2_metadata transform): Add account-id field
  src/transforms/aws_ec2_metadata.rs
  website/cue/reference/components/transforms/aws_ec2_metadata.cue
Labels: domain: transforms, domain: external docs

#11990 fix(observability): Alias `processed_bytes_total`
  lib/vector-core/src/metrics/mod.rs
  src/internal_events/apache_metrics.rs
  src/internal_events/aws_ecs_metrics.rs
  src/internal_events/aws_kinesis_streams.rs
  src/internal_events/aws_s3_source.rs
  src/internal_events/aws_sqs.rs
  src/internal_events/azure_blob.rs
  src/internal_events/blackhole.rs
  src/internal_events/console.rs
  src/internal_events/datadog_events.rs
  src/internal_events/dnstap.rs
  src/internal_events/docker_logs.rs
  src/internal_events/elasticsearch.rs
  src/internal_events/eventstoredb_metrics.rs
  src/internal_events/exec.rs
  src/internal_events/file.rs
  src/internal_events/fluent.rs
  src/internal_events/http.rs
  src/internal_events/journald.rs
  src/internal_events/kafka.rs
  src/internal_events/kubernetes_logs.rs
  src/internal_events/loki.rs
  src/internal_events/mod.rs
  src/internal_events/nats.rs
  src/internal_events/prometheus.rs
  src/internal_events/redis.rs
  src/internal_events/socket.rs
  src/internal_events/stdin.rs
  src/internal_events/vector.rs
  src/sinks/aws_kinesis_streams/service.rs
  src/sinks/blackhole/sink.rs
  src/sinks/console/sink.rs
  src/sinks/datadog/events/request_builder.rs
  src/sinks/elasticsearch/encoder.rs
  src/sinks/http.rs
  src/sinks/loki/sink.rs
Labels: domain: sinks, domain: core

#11988 chore(buffers, core): remove use of `Sink` trait from `Fanout` and buffer-adjacent channels
  Cargo.lock
  lib/vector-buffers/Cargo.toml
  lib/vector-buffers/benches/common.rs
  lib/vector-buffers/examples/buffer_perf.rs
  lib/vector-buffers/src/test/common/messages.rs
  lib/vector-buffers/src/test/mod.rs
  lib/vector-buffers/src/test/model/mod.rs
  lib/vector-buffers/src/topology/builder.rs
  lib/vector-buffers/src/topology/channel/limited_queue.rs
  lib/vector-buffers/src/topology/channel/mod.rs
  lib/vector-buffers/src/topology/channel/poll_notify.rs
  lib/vector-buffers/src/topology/channel/poll_semaphore.rs
  lib/vector-buffers/src/topology/channel/receiver.rs
  lib/vector-buffers/src/topology/channel/sender.rs
  lib/vector-buffers/src/topology/channel/strategy.rs
  lib/vector-buffers/src/topology/channel/tests.rs
  lib/vector-buffers/src/variants/disk_v1/acknowledgements.rs
  lib/vector-buffers/src/variants/disk_v1/mod.rs
  lib/vector-buffers/src/variants/disk_v1/reader.rs
  lib/vector-buffers/src/variants/disk_v1/tests/acknowledgements.rs
  lib/vector-buffers/src/variants/disk_v1/tests/basic.rs
  lib/vector-buffers/src/variants/disk_v1/tests/event_count.rs
  lib/vector-buffers/src/variants/disk_v1/tests/mod.rs
  lib/vector-buffers/src/variants/disk_v1/tests/size_limits.rs
  lib/vector-buffers/src/variants/disk_v1/writer.rs
  lib/vector-buffers/src/variants/disk_v2/io.rs
  lib/vector-buffers/src/variants/disk_v2/mod.rs
  lib/vector-buffers/src/variants/disk_v2/tests/basic.rs
  lib/vector-buffers/src/variants/disk_v2/tests/invariants.rs
  lib/vector-buffers/src/variants/disk_v2/tests/size_limits.rs
  lib/vector-buffers/src/variants/disk_v2/writer.rs
  lib/vector-buffers/src/variants/in_memory.rs
  lib/vector-buffers/src/variants/mod.rs
  lib/vector-core/Cargo.toml
  lib/vector-core/src/fanout.rs
  lib/vector-core/src/stream/partitioned_batcher.rs
  src/api/tap.rs
  src/config/diff.rs
  src/source_sender/mod.rs
  src/sources/prometheus/remote_write.rs
  src/sources/socket/mod.rs
  src/sources/statsd/mod.rs
  src/test_util/metrics.rs
  src/test_util/mod.rs
  src/topology/builder.rs
  src/topology/mod.rs
  src/topology/running.rs
  src/topology/task.rs
  src/topology/test/transient_state.rs
  tests/support/mod.rs
  tests/syslog.rs
  tests/topology.rs
Labels: domain: topology, domain: sources, domain: core

#11939 chore(elasticsearch sink): Migrate to AWS SDK
  Cargo.lock
  Cargo.toml
  src/sinks/aws_kinesis_firehose/integration_tests.rs
  src/sinks/elasticsearch/common.rs
  src/sinks/elasticsearch/config.rs
  src/sinks/elasticsearch/integration_tests.rs
  src/sinks/elasticsearch/mod.rs
  src/sinks/elasticsearch/service.rs
  src/sinks/elasticsearch/tests.rs
  website/content/en/highlights/2022-03-22-0-21-0-upgrade-guide.md
Labels: domain: sinks, ci-condition: integration tests enable

#11853 chore(aws_s3 source): Migrate to AWS SDK
  Cargo.toml
  scripts/setup_integration_env.sh
  src/common/mod.rs
  src/internal_events/aws_sqs.rs
  src/sources/aws_s3/mod.rs
  src/sources/aws_s3/sqs.rs
  src/sources/aws_sqs/config.rs
  website/content/en/highlights/2022-03-22-0-21-0-upgrade-guide.md
  website/cue/reference/components/sources/aws_s3.cue
Labels: domain: sources, domain: ci, domain: external docs, ci-condition: integration tests enable

#11981 enhancement(aws_sqs source): Add additional config options
  src/sources/aws_sqs/config.rs
  src/sources/aws_sqs/source.rs
  website/cue/reference/components/sources/aws_sqs.cue
Labels: domain: sources, domain: external docs

#11714 feat(kubernetes_logs source): Use kube-rs for kubernetes integration
  Cargo.lock
  Cargo.toml
  Makefile
  Tiltfile
  scripts/test-e2e-kubernetes.sh
  src/app.rs
  src/kubernetes/api_watcher.rs
  src/kubernetes/client/config/in_cluster.rs
  src/kubernetes/client/config/kubeconfig.rs
  src/kubernetes/client/config/kubeconfig_types.rs
  src/kubernetes/client/config/mod.rs
  src/kubernetes/client/mod.rs
  src/kubernetes/debounce.rs
  src/kubernetes/hash_value.rs
  src/kubernetes/instrumenting_watcher.rs
  src/kubernetes/mock_watcher.rs
  src/kubernetes/mod.rs
  src/kubernetes/multi_response_decoder.rs
  src/kubernetes/reflector.rs
  src/kubernetes/resource_version.rs
  src/kubernetes/response.rs
  src/kubernetes/state/delayed_delete.rs
  src/kubernetes/state/evmap.rs
  src/kubernetes/state/instrumenting.rs
  src/kubernetes/state/mock.rs
  src/kubernetes/state/mod.rs
  src/kubernetes/stream.rs
  src/kubernetes/watch_request_builder.rs
  src/kubernetes/watcher.rs
  src/sources/kubernetes_logs/k8s_paths_provider.rs
  src/sources/kubernetes_logs/mod.rs
  src/sources/kubernetes_logs/namespace_metadata_annotator.rs
  src/sources/kubernetes_logs/pod_metadata_annotator.rs
  src/sources/kubernetes_logs/util.rs
  tilt/Dockerfile
  website/content/en/highlights/2022-03-22-0-21-0-upgrade-guide.md
  website/content/en/highlights/2022-03-28-kube-for-kubernetes_logs.md
Labels: domain: sources, domain: ci, ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#12026 docs(vrl): Document what the return value of `length` is
  website/cue/reference/remap/functions/length.cue
Labels: domain: external docs

#12040 fix(syslog source): makes the tests run on windows
  src/sources/syslog.rs
  src/vector_windows.rs
Labels: domain: sources

#12031 fix(socket source): Remove port from `host` for `udp`
  src/sources/socket/mod.rs
  src/sources/socket/udp.rs
Labels: domain: sources

#12004 enhancement(observability): update check-event script
  scripts/check-events
  src/app.rs
  src/internal_events/ansi_stripper.rs
  src/internal_events/aws_cloudwatch_logs_subscription_parser.rs
  src/internal_events/aws_kinesis_firehose.rs
  src/internal_events/batch.rs
  src/internal_events/conditions.rs
  src/internal_events/docker_logs.rs
  src/internal_events/file.rs
  src/internal_events/fluent.rs
  src/internal_events/http_client.rs
  src/internal_events/kubernetes/instrumenting_watcher.rs
  src/internal_events/kubernetes_logs.rs
  src/internal_events/logplex.rs
  src/internal_events/process.rs
  src/internal_events/prometheus.rs
  src/internal_events/stdin.rs
  src/internal_events/syslog.rs
  src/internal_events/udp.rs
  src/internal_events/unix.rs
  src/internal_events/vector.rs
  src/internal_events/windows.rs
  src/sinks/util/batch.rs
  src/sinks/util/udp.rs
  src/sinks/util/unix.rs
  src/vector_windows.rs
Labels: domain: sinks, domain: ci
