Repository vectordotdev/vector, pull requests merged in 2023-08, with the labels that each got.

#18111 fix(codecs): Move protobuf codec options under a `protobuf` key
  lib/codecs/src/decoding/format/protobuf.rs
  website/cue/reference/components/sources/base/amqp.cue
  website/cue/reference/components/sources/base/aws_kinesis_firehose.cue
  website/cue/reference/components/sources/base/aws_s3.cue
  website/cue/reference/components/sources/base/aws_sqs.cue
  website/cue/reference/components/sources/base/datadog_agent.cue
  website/cue/reference/components/sources/base/demo_logs.cue
  website/cue/reference/components/sources/base/exec.cue
  website/cue/reference/components/sources/base/file_descriptor.cue
  website/cue/reference/components/sources/base/gcp_pubsub.cue
  website/cue/reference/components/sources/base/heroku_logs.cue
  website/cue/reference/components/sources/base/http.cue
  website/cue/reference/components/sources/base/http_client.cue
  website/cue/reference/components/sources/base/http_server.cue
  website/cue/reference/components/sources/base/kafka.cue
  website/cue/reference/components/sources/base/nats.cue
  website/cue/reference/components/sources/base/redis.cue
  website/cue/reference/components/sources/base/socket.cue
  website/cue/reference/components/sources/base/stdin.cue
Labels: domain: external docs

#18122 chore(deps): Bump async_graphql, async_graphql_warp from 5.0.10 to 6.0.0
  Cargo.lock
  Cargo.toml
  src/api/schema/components/mod.rs
  src/api/schema/metrics/mod.rs
  src/api/schema/metrics/sink/mod.rs
  src/api/schema/metrics/source/mod.rs
  src/api/schema/metrics/transform/mod.rs
Labels: domain: deps

#18139 chore: replace path tuples with actual target paths
  lib/codecs/src/decoding/format/bytes.rs
  lib/vector-core/src/event/log_event.rs
  src/sinks/clickhouse/integration_tests.rs
  src/source_sender/mod.rs
  src/sources/amqp.rs
  src/sources/aws_sqs/source.rs
  src/sources/datadog_agent/tests.rs
  src/sources/docker_logs/tests.rs
  src/sources/exec/mod.rs
  src/sources/file.rs
  src/sources/heroku_logs.rs
  src/sources/http_client/integration_tests.rs
  src/sources/http_server.rs
  src/sources/splunk_hec/mod.rs
  src/template.rs
  src/test_util/mock/transforms/basic.rs
  src/topology/test/mod.rs
Labels: domain: topology, domain: sources, domain: sinks, domain: core

#18124 fix: propagate config build error instead of panicking
  lib/codecs/src/decoding/format/protobuf.rs
  lib/codecs/src/decoding/mod.rs
  src/codecs/decoding/config.rs
  src/components/validation/resources/http.rs
  src/components/validation/resources/mod.rs
  src/components/validation/runner/mod.rs
  src/sources/amqp.rs
  src/sources/aws_kinesis_firehose/mod.rs
  src/sources/aws_s3/mod.rs
  src/sources/aws_sqs/config.rs
  src/sources/aws_sqs/source.rs
  src/sources/datadog_agent/mod.rs
  src/sources/demo_logs.rs
  src/sources/exec/mod.rs
  src/sources/file_descriptors/mod.rs
  src/sources/gcp_pubsub.rs
  src/sources/heroku_logs.rs
  src/sources/http_client/client.rs
  src/sources/http_server.rs
  src/sources/kafka.rs
  src/sources/nats.rs
  src/sources/redis/mod.rs
  src/sources/socket/mod.rs
Labels: domain: sources, domain: codecs

#18150 feat(deps, vrl): Update VRL to 0.6.0
  .github/actions/spelling/allow.txt
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  lib/codecs/tests/data/native_encoding/schema.cue
  lib/enrichment/src/find_enrichment_table_records.rs
  lib/enrichment/src/get_enrichment_table_record.rs
  lib/enrichment/src/vrl_util.rs
  lib/vector-vrl/functions/src/set_semantic_meaning.rs
  website/cue/reference/remap/concepts/function.cue
  website/cue/reference/remap/expressions/function_call.cue
  website/cue/reference/remap/functions.cue
  website/cue/reference/remap/functions/encrypt.cue
  website/cue/reference/remap/functions/parse_nginx_log.cue
  website/cue/reference/remap/functions/to_timestamp.cue
  website/layouts/partials/data.html
Labels: domain: external docs

#18173 fix(config): Fix TOML parsing of compression levels
  src/sinks/util/buffer/compression.rs
Labels: domain: sinks

#18175 feat(adaptive_concurrency): support configuring the initial ARC limit
  src/sinks/util/adaptive_concurrency/controller.rs
  src/sinks/util/adaptive_concurrency/mod.rs
  website/cue/reference/components/sinks/base/appsignal.cue
  website/cue/reference/components/sinks/base/aws_cloudwatch_logs.cue
  website/cue/reference/components/sinks/base/aws_cloudwatch_metrics.cue
  website/cue/reference/components/sinks/base/aws_kinesis_firehose.cue
  website/cue/reference/components/sinks/base/aws_kinesis_streams.cue
  website/cue/reference/components/sinks/base/aws_s3.cue
  website/cue/reference/components/sinks/base/aws_sqs.cue
  website/cue/reference/components/sinks/base/axiom.cue
  website/cue/reference/components/sinks/base/azure_blob.cue
  website/cue/reference/components/sinks/base/azure_monitor_logs.cue
  website/cue/reference/components/sinks/base/clickhouse.cue
  website/cue/reference/components/sinks/base/databend.cue
  website/cue/reference/components/sinks/base/datadog_events.cue
  website/cue/reference/components/sinks/base/datadog_logs.cue
  website/cue/reference/components/sinks/base/datadog_metrics.cue
  website/cue/reference/components/sinks/base/datadog_traces.cue
  website/cue/reference/components/sinks/base/elasticsearch.cue
  website/cue/reference/components/sinks/base/gcp_chronicle_unstructured.cue
  website/cue/reference/components/sinks/base/gcp_cloud_storage.cue
  website/cue/reference/components/sinks/base/gcp_pubsub.cue
  website/cue/reference/components/sinks/base/gcp_stackdriver_logs.cue
  website/cue/reference/components/sinks/base/gcp_stackdriver_metrics.cue
  website/cue/reference/components/sinks/base/greptimedb.cue
  website/cue/reference/components/sinks/base/honeycomb.cue
  website/cue/reference/components/sinks/base/http.cue
  website/cue/reference/components/sinks/base/humio_logs.cue
  website/cue/reference/components/sinks/base/humio_metrics.cue
  website/cue/reference/components/sinks/base/influxdb_logs.cue
  website/cue/reference/components/sinks/base/influxdb_metrics.cue
  website/cue/reference/components/sinks/base/logdna.cue
  website/cue/reference/components/sinks/base/loki.cue
  website/cue/reference/components/sinks/base/mezmo.cue
  website/cue/reference/components/sinks/base/new_relic.cue
  website/cue/reference/components/sinks/base/prometheus_remote_write.cue
  website/cue/reference/components/sinks/base/redis.cue
  website/cue/reference/components/sinks/base/sematext_logs.cue
  website/cue/reference/components/sinks/base/sematext_metrics.cue
  website/cue/reference/components/sinks/base/splunk_hec_logs.cue
  website/cue/reference/components/sinks/base/splunk_hec_metrics.cue
  website/cue/reference/components/sinks/base/vector.cue
Labels: domain: sinks, domain: external docs

#18160 feat: Refactor 'event.get()' to use path types
  lib/vector-core/src/event/discriminant.rs
  lib/vector-core/src/event/log_event.rs
  lib/vector-core/src/event/trace.rs
  src/api/schema/events/trace.rs
  src/conditions/datadog_search.rs
  src/sinks/datadog/traces/apm_stats/aggregation.rs
  src/sinks/datadog/traces/request_builder.rs
  src/sinks/datadog/traces/sink.rs
  src/sinks/elasticsearch/config.rs
  src/sinks/new_relic/model.rs
  src/sources/datadog_agent/traces.rs
  src/template.rs
  src/transforms/sample.rs
Labels: domain: sources, domain: transforms, domain: sinks, domain: core

#18109 chore: replace various string paths with actual paths
  benches/event.rs
  benches/lua.rs
  benches/remap.rs
  lib/codecs/src/decoding/format/gelf.rs
  lib/codecs/src/encoding/format/gelf.rs
  lib/codecs/src/gelf.rs
  lib/vector-core/benches/event/log_event.rs
  lib/vector-core/src/event/log_event.rs
  lib/vector-core/src/event/test/size_of.rs
  lib/vector-core/src/event/trace.rs
  src/codecs/encoding/transformer.rs
  src/config/unit_test/mod.rs
  src/sinks/aws_cloudwatch_logs/integration_tests.rs
  src/sinks/aws_cloudwatch_logs/request_builder.rs
  src/sinks/azure_monitor_logs.rs
  src/sinks/humio/logs.rs
  src/sinks/influxdb/logs.rs
  src/sources/dnstap/mod.rs
  src/sources/kafka.rs
  src/sources/logstash.rs
  src/sources/syslog.rs
  src/sources/util/framestream.rs
  src/sources/vector/mod.rs
  src/template.rs
Labels: domain: sources, domain: sinks, domain: codecs, domain: core

#18185 fix: make LogEvent index operator test only
  lib/vector-core/src/event/log_event.rs
Labels: domain: core

#18186 fix(vector source): Remove the 4MB default for requests
  src/sources/vector/mod.rs
Labels: domain: sources

#18172 chore(azure_monitor_logs sink): refactor to new sink style
  src/sinks/azure_monitor_logs.rs
  src/sinks/azure_monitor_logs/config.rs
  src/sinks/azure_monitor_logs/mod.rs
  src/sinks/azure_monitor_logs/service.rs
  src/sinks/azure_monitor_logs/sink.rs
  src/sinks/azure_monitor_logs/tests.rs
Labels: domain: sinks, sink: azure_monitor_logs

#17669 chore(deps): Bump OpenSSL base version to 3.1.*
  Cargo.lock
  Cargo.toml
  lib/vector-core/src/tls/settings.rs
  scripts/cross/bootstrap-centos.sh
  src/app.rs
  src/cli.rs
Labels: type: tech debt, domain: ci, ci-condition: integration tests enable, domain: core, dependencies

#18193 enhancement(elasticsearch sink): Allow empty data_stream fields
  src/sinks/elasticsearch/config.rs
  src/sinks/elasticsearch/tests.rs
Labels: sink: elasticsearch, domain: sinks

#18165 feat: migrate to `async_nats` client
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  src/internal_events/nats.rs
  src/nats.rs
  src/sinks/nats.rs
  src/sources/nats.rs
Labels: domain: sources, domain: sinks

#18212 feat: Refactor dnstap to use 'OwnedValuePath's
  benches/dnstap/mod.rs
  src/sources/dnstap/mod.rs
  src/sources/dnstap/parser.rs
  src/sources/dnstap/schema.rs
Labels: domain: sources

#18224 chore(releasing): Run hadolint on distributed Dockerfiles
  .github/actions/spelling/expect.txt
  distribution/docker/alpine/Dockerfile
  distribution/docker/debian/Dockerfile
  distribution/docker/distroless-libc/Dockerfile
  distribution/docker/distroless-static/Dockerfile
Labels: domain: releasing

#18180 fix: socket tcp port typedef
  src/sources/socket/mod.rs
Labels: domain: sources

#18189 chore(releasing): Prepare v0.32.0 release
  distribution/install.sh
  website/content/en/highlights/2023-08-15-0-32-0-upgrade-guide.md
  website/content/en/releases/0.32.0.md
  website/cue/reference/administration/interfaces/kubectl.cue
  website/cue/reference/releases/0.32.0.cue
  website/cue/reference/versions.cue
Labels: domain: releasing, domain: external docs

#18248 fix(elasticsearch): Ignore `pipeline` argument if it is an empty string
  src/sinks/elasticsearch/common.rs
  src/sinks/elasticsearch/integration_tests.rs
Labels: domain: sinks

#18244 fix(kubernetes_logs source): Fix events being empty when log namespacing is enabled
  Cargo.lock
  lib/vector-core/Cargo.toml
  lib/vector-core/src/stream/expiration_map.rs
  lib/vector-core/src/stream/mod.rs
  src/sources/kubernetes_logs/mod.rs
  src/sources/kubernetes_logs/partial_events_merger.rs
  src/sources/kubernetes_logs/transform_utils/mod.rs
  src/transforms/reduce/mod.rs
Labels: domain: sources, domain: transforms, domain: core

#18257 chore(exec source): remove obsolete codec file and import
  src/sources/exec/mod.rs
  src/sources/exec/sized_bytes_codec.rs
Labels: domain: sources

#18251 chore(releasing): Regenerate k8s manifests for v0.24.0 of the chart
  distribution/kubernetes/vector-agent/README.md
  distribution/kubernetes/vector-agent/configmap.yaml
  distribution/kubernetes/vector-agent/daemonset.yaml
  distribution/kubernetes/vector-agent/rbac.yaml
  distribution/kubernetes/vector-agent/service-headless.yaml
  distribution/kubernetes/vector-agent/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/README.md
  distribution/kubernetes/vector-aggregator/configmap.yaml
  distribution/kubernetes/vector-aggregator/service-headless.yaml
  distribution/kubernetes/vector-aggregator/service.yaml
  distribution/kubernetes/vector-aggregator/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/statefulset.yaml
  distribution/kubernetes/vector-stateless-aggregator/README.md
  distribution/kubernetes/vector-stateless-aggregator/configmap.yaml
  distribution/kubernetes/vector-stateless-aggregator/deployment.yaml
  distribution/kubernetes/vector-stateless-aggregator/service-headless.yaml
  distribution/kubernetes/vector-stateless-aggregator/service.yaml
  distribution/kubernetes/vector-stateless-aggregator/serviceaccount.yaml
Labels: domain: releasing

#18258 fix(aws_s3 source): Allow region to be optional
  src/aws/mod.rs
  src/sources/aws_s3/mod.rs
Labels: domain: sources

#18270 docs: 0.32.0.cue typo
  website/cue/reference/releases/0.32.0.cue
Labels: domain: external docs

#18275 chore(releasing): Add note about protobuf codec addition for 0.32.0 release
  website/cue/reference/releases/0.32.0.cue
Labels: domain: external docs

#18176 chore: make pin-project a workspace dependency
  Cargo.toml
  lib/vector-buffers/Cargo.toml
  lib/vector-common/Cargo.toml
  lib/vector-core/Cargo.toml
Labels: domain: core

#18209 chore(appsignal sink): Refactor to use StreamSink
  src/sinks/appsignal/config.rs
  src/sinks/appsignal/encoder.rs
  src/sinks/appsignal/integration_tests.rs
  src/sinks/appsignal/mod.rs
  src/sinks/appsignal/request_builder.rs
  src/sinks/appsignal/service.rs
  src/sinks/appsignal/sink.rs
  src/sinks/appsignal/tests.rs
  website/cue/reference/components/sinks/base/appsignal.cue
Labels: domain: sinks, domain: external docs, sink: appsignal

#18241 feat: change dedupe config paths to `ConfigTargetPath`
  Cargo.toml
  benches/event.rs
  lib/vector-core/src/event/log_event.rs
  lib/vector-core/src/event/test/mod.rs
  lib/vector-core/src/event/test/serialization.rs
  lib/vector-core/src/event/util/log/all_fields.rs
  lib/vector-core/src/event/util/log/mod.rs
  lib/vector-lookup/Cargo.toml
  lib/vector-lookup/src/lookup_v2/mod.rs
  src/codecs/encoding/transformer.rs
  src/sinks/azure_blob/integration_tests.rs
  src/sinks/gcp/pubsub.rs
  src/sources/dnstap/mod.rs
  src/sources/exec/mod.rs
  src/transforms/dedupe.rs
  src/transforms/metric_to_log.rs
Labels: domain: sources, domain: transforms, domain: sinks, domain: codecs, domain: core

#18259 fix(sample transform): Use metadata when log namespacing is enabled
  src/transforms/sample.rs
Labels: domain: transforms

#18243 chore(nats sink): Refactor to use StreamSink components
  src/internal_events/mod.rs
  src/internal_events/nats.rs
  src/sinks/nats.rs
  src/sinks/nats/config.rs
  src/sinks/nats/integration_tests.rs
  src/sinks/nats/mod.rs
  src/sinks/nats/request_builder.rs
  src/sinks/nats/service.rs
  src/sinks/nats/sink.rs
  src/sinks/nats/tests.rs
  src/sinks/prelude.rs
  website/cue/reference/components/sinks/base/nats.cue
Labels: domain: sinks, domain: external docs

#18274 fix(aws_s3 source): Use the decoder to calculate type defs
  scripts/integration/.gitignore
  src/sources/aws_s3/mod.rs
Labels: domain: sources

#18289 fix(observability): add all events that are being encoded
  lib/vector-common/src/request_metadata.rs
  src/sinks/util/encoding.rs
Labels: domain: sinks

#18294 chore(distribution): Fix PATH modification to allow for spaces
  distribution/install.sh
Labels: domain: releasing

#18188 feat: disable vrl 'string_path' feature
  Cargo.toml
  lib/codecs/src/decoding/format/gelf.rs
  lib/codecs/src/encoding/format/gelf.rs
  lib/vector-lookup/src/lookup_v2/mod.rs
  src/api/schema/events/log.rs
  src/codecs/encoding/config.rs
  src/codecs/encoding/transformer.rs
  src/internal_events/kafka.rs
  src/sinks/aws_kinesis/config.rs
  src/sinks/aws_kinesis/sink.rs
  src/sinks/aws_kinesis/streams/config.rs
  src/sinks/datadog/events/request_builder.rs
  src/sinks/datadog/events/sink.rs
  src/sinks/elasticsearch/config.rs
  src/sinks/elasticsearch/sink.rs
  src/sinks/elasticsearch/tests.rs
  src/sinks/gcp/stackdriver_logs.rs
  src/sinks/humio/logs.rs
  src/sinks/humio/metrics.rs
  src/sinks/kafka/config.rs
  src/sinks/kafka/request_builder.rs
  src/sinks/kafka/sink.rs
  src/sinks/kafka/tests.rs
  src/sinks/loki/sink.rs
  src/sinks/mezmo.rs
  src/sinks/sematext/logs.rs
  src/sinks/splunk_hec/logs/config.rs
  src/sinks/splunk_hec/logs/integration_tests.rs
  src/sinks/splunk_hec/logs/sink.rs
  src/sinks/splunk_hec/logs/tests.rs
  src/sources/amqp.rs
  src/sources/aws_s3/sqs.rs
  src/sources/docker_logs/mod.rs
  src/sources/gcp_pubsub.rs
  src/sources/journald.rs
  src/sources/kubernetes_logs/parser/cri.rs
  src/sources/kubernetes_logs/parser/docker.rs
  src/sources/kubernetes_logs/parser/mod.rs
  src/sources/kubernetes_logs/transform_utils/mod.rs
  src/sources/nats.rs
  src/sources/splunk_hec/mod.rs
  src/sources/syslog.rs
  src/transforms/log_to_metric.rs
  src/transforms/lua/v1/mod.rs
  src/transforms/metric_to_log.rs
  src/transforms/reduce/merge_strategy.rs
  src/transforms/remap.rs
  website/cue/reference/components/sinks/base/kafka.cue
Labels: domain: sources, domain: transforms, domain: sinks, domain: codecs, domain: external docs

#18298 chore(releasing): Add known issues for v0.32.0
  website/cue/reference/releases/0.32.0.cue
Labels: domain: external docs

#18220 chore(redis sink): Refactor to use StreamSink
  src/sinks/redis.rs
  src/sinks/redis/config.rs
  src/sinks/redis/integration_tests.rs
  src/sinks/redis/mod.rs
  src/sinks/redis/request_builder.rs
  src/sinks/redis/service.rs
  src/sinks/redis/sink.rs
  src/sinks/redis/tests.rs
Labels: domain: sinks

#18301 chore(exec source): split tests into own module file
  src/sources/exec/mod.rs
  src/sources/exec/tests.rs
Labels: domain: sources

#18299 fix(docs): add the 'http_client_requests_sent_total'
  website/cue/reference/components/sources/internal_metrics.cue
Labels: domain: external docs

#18141 feat(new sink): add AWS Simple Notification Service `aws_sns` sink
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  scripts/integration/aws/compose.yaml
  scripts/integration/aws/test.yaml
  src/sinks/aws_s_s/client.rs
  src/sinks/aws_s_s/config.rs
  src/sinks/aws_s_s/mod.rs
  src/sinks/aws_s_s/request_builder.rs
  src/sinks/aws_s_s/retry.rs
  src/sinks/aws_s_s/service.rs
  src/sinks/aws_s_s/sink.rs
  src/sinks/aws_s_s/sns/client.rs
  src/sinks/aws_s_s/sns/config.rs
  src/sinks/aws_s_s/sns/integration_tests.rs
  src/sinks/aws_s_s/sns/mod.rs
  src/sinks/aws_s_s/sqs/client.rs
  src/sinks/aws_s_s/sqs/config.rs
  src/sinks/aws_s_s/sqs/integration_tests.rs
  src/sinks/aws_s_s/sqs/mod.rs
  src/sinks/aws_sqs/config.rs
  src/sinks/aws_sqs/mod.rs
  src/sinks/aws_sqs/retry.rs
  src/sinks/aws_sqs/service.rs
  src/sinks/mod.rs
  website/cue/reference/components/sinks/base/aws_sns.cue
Labels: domain: sinks, domain: ci, domain: external docs, sink: aws_sqs, meta: awaiting author

#18300 chore: tidy `encode_input` function
  Cargo.toml
  src/sinks/util/encoding.rs
Labels: domain: sinks

#18306 fix(opentelemetry source): Remove the 4MB default for gRPC request decoding
  src/sources/opentelemetry/mod.rs
Labels: domain: sources, source: opentelemetry

#18208 enhancement(http_server source): Configurable http response code
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  lib/vector-config/Cargo.toml
  lib/vector-config/src/http.rs
  lib/vector-config/src/lib.rs
  src/sources/heroku_logs.rs
  src/sources/http_server.rs
  src/sources/prometheus/remote_write.rs
  src/sources/util/http/prelude.rs
  website/cue/reference/components/sources/base/http.cue
  website/cue/reference/components/sources/base/http_server.cue
Labels: domain: sources, source: http_server, domain: external docs, meta: awaiting author

#18308 chore(log_to_metric transform): add missing Cargo feature
  Cargo.toml
  src/internal_events/mod.rs
  src/transforms/mod.rs
Labels: domain: transforms

#18200 chore(http sink): refactor to new style
  docs/tutorials/sinks/2_http_sink.md
  src/sinks/appsignal/service.rs
  src/sinks/datadog/events/service.rs
  src/sinks/elasticsearch/service.rs
  src/sinks/http.rs
  src/sinks/http/batch.rs
  src/sinks/http/config.rs
  src/sinks/http/encoder.rs
  src/sinks/http/mod.rs
  src/sinks/http/request_builder.rs
  src/sinks/http/service.rs
  src/sinks/http/sink.rs
  src/sinks/http/tests.rs
  src/sinks/prelude.rs
  src/sinks/splunk_hec/common/util.rs
  src/sinks/util/http.rs
  website/cue/reference/components/sinks/base/http.cue
Labels: sink: http, domain: sinks, domain: external docs

#18327 chore(log_to_metric transform): Revert missing Cargo feature `transforms-log_to_metric`
  Cargo.toml
  src/internal_events/mod.rs
  src/transforms/mod.rs
Labels: domain: transforms

#18331 chore(deps): Fix issue with `cargo` refetching refs on every run
  Cargo.lock
  Cargo.toml
Labels: type: tech debt, dependencies

#18217 feat(appsignal sink): Normalize metrics
  src/sinks/appsignal/integration_tests.rs
  src/sinks/appsignal/mod.rs
  src/sinks/appsignal/normalizer.rs
  src/sinks/appsignal/sink.rs
  src/sinks/datadog/metrics/normalizer.rs
  src/sinks/statsd/normalizer.rs
  src/test_util/metrics.rs
Labels: domain: sinks, meta: awaiting author, sink: appsignal

#18309 feat(route transform): Add option to enable/disable unmatched output
  src/transforms/route.rs
  website/cue/reference/components/transforms/base/route.cue
Labels: domain: transforms, domain: external docs

#18325 chore(docs): make YAML appear first in the example configurations
  website/content/en/docs/about/under-the-hood/architecture/pipeline-model.md
  website/content/en/docs/reference/configuration/_index.md
  website/cue/reference.cue
  website/cue/reference/administration/management.cue
  website/cue/reference/cli.cue
  website/cue/reference/configuration.cue
  website/layouts/partials/blog/authors.html
  website/layouts/partials/components/example-configs.html
  website/layouts/partials/data.html
Labels: domain: external docs

#18334 chore(releasing): Bump k8s manifests to v0.24.1 of the chart
  distribution/kubernetes/vector-agent/README.md
  distribution/kubernetes/vector-agent/configmap.yaml
  distribution/kubernetes/vector-agent/daemonset.yaml
  distribution/kubernetes/vector-agent/rbac.yaml
  distribution/kubernetes/vector-agent/service-headless.yaml
  distribution/kubernetes/vector-agent/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/README.md
  distribution/kubernetes/vector-aggregator/configmap.yaml
  distribution/kubernetes/vector-aggregator/service-headless.yaml
  distribution/kubernetes/vector-aggregator/service.yaml
  distribution/kubernetes/vector-aggregator/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/statefulset.yaml
  distribution/kubernetes/vector-stateless-aggregator/README.md
  distribution/kubernetes/vector-stateless-aggregator/configmap.yaml
  distribution/kubernetes/vector-stateless-aggregator/deployment.yaml
  distribution/kubernetes/vector-stateless-aggregator/service-headless.yaml
  distribution/kubernetes/vector-stateless-aggregator/service.yaml
  distribution/kubernetes/vector-stateless-aggregator/serviceaccount.yaml
Labels: domain: releasing

#18337 chore(log_to_metric transform): Add Cargo feature for the transform
  Cargo.toml
  src/api/tap.rs
  src/internal_events/mod.rs
  src/transforms/mod.rs
Labels: domain: transforms

#18333 chore(docs): add more comparison examples
  website/cue/reference/remap/expressions/comparison.cue
  website/cue/reference/remap/functions/match.cue
  website/cue/reference/urls.cue
Labels: domain: external docs

#18295 enhancement(websocket sink): Allow any data type depending on configured codec
  src/sinks/websocket/config.rs
  website/cue/reference/components/sinks/websocket.cue
Labels: domain: sinks, domain: external docs

#18280 chore(honeycomb sink): refactor to new style
  src/sinks/honeycomb.rs
  src/sinks/honeycomb/config.rs
  src/sinks/honeycomb/encoder.rs
  src/sinks/honeycomb/mod.rs
  src/sinks/honeycomb/request_builder.rs
  src/sinks/honeycomb/service.rs
  src/sinks/honeycomb/sink.rs
  src/sinks/honeycomb/tests.rs
  src/sinks/http/config.rs
  src/sinks/util/http.rs
Labels: domain: sinks, sink: honeycomb

#18328 fix(deps): fix [dev-dependencies] for some libs
  Cargo.lock
  lib/codecs/Cargo.toml
  lib/vector-config/Cargo.toml
  lib/vector-core/Cargo.toml
Labels: domain: core

#18372 fix(remap transform): log namespace should be used when splitting events from arrays
  lib/vector-core/src/event/vrl_target.rs
  src/transforms/remap.rs
Labels: domain: transforms, domain: core

#18379 fix(json codec): Fix deserializing non-object values with the `Vector` namespace
  lib/codecs/src/decoding/format/json.rs
  lib/codecs/src/decoding/format/native_json.rs
  lib/vector-core/src/event/mod.rs
  src/transforms/remap.rs
  src/transforms/route.rs
Labels: domain: transforms, domain: core

#18381 feat(dev): decouple syslog source and codec features
  Cargo.toml
  src/components/validation/resources/mod.rs
  src/sources/datadog_agent/tests.rs
Labels: domain: sources

#18376 enhancement(kubernetes_logs source): Expose `oldest_first`
  src/sources/file.rs
  src/sources/kubernetes_logs/mod.rs
  website/cue/reference/components/sources/base/file.cue
  website/cue/reference/components/sources/base/kubernetes_logs.cue
Labels: domain: sources, domain: external docs

#18407 fix(ci): Drop docker-compose from bootstrap install
  scripts/environment/bootstrap-ubuntu-20.04.sh
Labels: domain: ci

#18401 docs(file source): fix some typos
  STYLE.md
  docs/tutorials/sinks/1_basic_sink.md
  lib/codecs/src/decoding/format/gelf.rs
  lib/codecs/src/encoding/format/gelf.rs
  lib/vector-core/src/event/estimated_json_encoded_size_of.rs
  rfcs/2021-07-27-7117-vrl-string-interpolation.md
  rfcs/2022-03-15-11851-ingest-opentelemetry-traces.md
Labels: domain: core, domain: rfc

#18394 chore(deps): Bump MSRV to 1.70.0
  Cargo.toml
  src/sinks/prometheus/exporter.rs
  src/sinks/statsd/config.rs
  src/sinks/util/service/net/udp.rs
  src/sinks/util/udp.rs
Labels: domain: sinks

#18402 fix(ci): Unlink python before `brew install`
  scripts/environment/bootstrap-macos-10.sh
Labels: domain: ci

#17627 chore: Use `Ipv#Addr` constants
  lib/vector-config/tests/integration/smoke.rs
  src/config/api.rs
  src/enrichment_tables/geoip.rs
  src/sinks/prometheus/exporter.rs
  src/sinks/statsd/config.rs
  src/sinks/util/service/net/udp.rs
  src/sinks/util/udp.rs
  src/sources/splunk_hec/mod.rs
  src/sources/statsd/mod.rs
  src/test_util/mod.rs
Labels: type: tech debt, domain: sources, domain: sinks

#18431 chore(prometheus_remote_write source, prometheus_scrape source): Split compilation features
  Cargo.toml
  src/sources/mod.rs
  src/sources/prometheus/mod.rs
Labels: domain: sources

#17621 chore(deps): Drop use of `once_cell::{sync,unsync}::OnceCell`
  Cargo.lock
  clippy.toml
  lib/vector-config/Cargo.toml
  lib/vector-config/src/schema/parser/query.rs
  lib/vector-core/src/config/log_schema.rs
  lib/vector-core/src/config/telemetry.rs
  lib/vector-core/src/metrics/mod.rs
  lib/vector-core/src/metrics/recorder.rs
  src/aws/mod.rs
  src/proto/mod.rs
  src/sinks/datadog/metrics/encoder.rs
  src/sources/kafka.rs
  src/trace.rs
  vdev/src/app.rs
Labels: type: tech debt, domain: sources, domain: sinks, domain: core, dependencies, domain: vdev

#18436 Bump `chrono` to 0.4.27
  Cargo.lock
  Cargo.toml
  lib/codecs/src/decoding/format/gelf.rs
  lib/codecs/src/encoding/format/gelf.rs
  lib/vector-core/src/event/test/common.rs
  src/sources/gcp_pubsub.rs
Labels: type: tech debt, domain: sources, domain: core, dependencies

#18440 fix(prometheus_remote_write source, prometheus_scrape source): Fix feature check
  Cargo.toml
  src/internal_events/mod.rs
  src/internal_events/prometheus.rs
  src/sources/mod.rs
  src/sources/prometheus/parser.rs
  src/sources/util/mod.rs
Labels: domain: sources
