Repository vectordotdev/vector, pull requests merged in 2023-04, with the labels that each got.

#17027 chore(topology): Reintroduce the topology controller
  src/app.rs
  src/topology/controller.rs
  src/topology/mod.rs
Labels: domain: topology, type: tech debt

#16772 chore(vdev): Rewrite release-homebrew into vdev
  Cargo.lock
  scripts/release-homebrew.sh
  vdev/Cargo.toml
  vdev/src/commands/release/homebrew.rs
  vdev/src/commands/release/mod.rs
  vdev/src/git.rs
Labels: platform: homebrew, domain: ci, domain: releasing, ci-condition: integration tests enable, domain: vdev

#17038 chore(vdev): Make network non optional in Compose struct
  vdev/src/testing/integration.rs
Labels: type: tech debt, domain: vdev

#17012 chore(config): Simplify log schema init
  src/app.rs
  src/config/mod.rs
  src/config/unit_test/mod.rs
  src/validate.rs
Labels: type: tech debt, domain: config

#17044 chore(config): Convert top-level sources enum to typetag
  src/api/schema/components/mod.rs
  src/components/validation/mod.rs
  src/components/validation/runner/config.rs
  src/config/builder.rs
  src/config/compiler.rs
  src/config/graph.rs
  src/config/mod.rs
  src/config/source.rs
  src/config/unit_test/unit_test_components.rs
  src/config/validation.rs
  src/sources/amqp.rs
  src/sources/apache_metrics/mod.rs
  src/sources/aws_ecs_metrics/mod.rs
  src/sources/aws_kinesis_firehose/mod.rs
  src/sources/aws_s3/mod.rs
  src/sources/aws_sqs/config.rs
  src/sources/datadog_agent/mod.rs
  src/sources/demo_logs.rs
  src/sources/dnstap/mod.rs
  src/sources/docker_logs/mod.rs
  src/sources/eventstoredb_metrics/mod.rs
  src/sources/exec/mod.rs
  src/sources/file.rs
  src/sources/file_descriptors/file_descriptor.rs
  src/sources/file_descriptors/stdin.rs
  src/sources/fluent/mod.rs
  src/sources/gcp_pubsub.rs
  src/sources/heroku_logs.rs
  src/sources/host_metrics/mod.rs
  src/sources/http_client/client.rs
  src/sources/http_server.rs
  src/sources/internal_logs.rs
  src/sources/internal_metrics.rs
  src/sources/journald.rs
  src/sources/kafka.rs
  src/sources/kubernetes_logs/mod.rs
  src/sources/logstash.rs
  src/sources/mod.rs
  src/sources/mongodb_metrics/mod.rs
  src/sources/nats.rs
  src/sources/nginx_metrics/mod.rs
  src/sources/opentelemetry/mod.rs
  src/sources/postgresql_metrics.rs
  src/sources/prometheus/remote_write.rs
  src/sources/prometheus/scrape.rs
  src/sources/redis/mod.rs
  src/sources/socket/mod.rs
  src/sources/splunk_hec/mod.rs
  src/sources/statsd/mod.rs
  src/sources/syslog.rs
  src/sources/vector/mod.rs
  src/test_util/mock/sources/backpressure.rs
  src/test_util/mock/sources/basic.rs
  src/test_util/mock/sources/error.rs
  src/test_util/mock/sources/panic.rs
  src/test_util/mock/sources/tripwire.rs
  src/topology/builder.rs
  src/topology/running.rs
  src/topology/schema.rs
Labels: domain: topology, type: tech debt, domain: config, domain: sources, ci-condition: integration tests enable

#16999 enhancement(ci): downgrade 16 core to 8 core runners
  .github/workflows/baseline.yml
  .github/workflows/integration-test.yml
  .github/workflows/k8s_e2e.yml
  .github/workflows/regression.yml
  .github/workflows/test.yml
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable, ci-condition: integration tests enable

#17042 chore: Add Vector VRL web playground
  Cargo.lock
  Cargo.toml
  lib/codecs/Cargo.toml
  lib/enrichment/Cargo.toml
  lib/enrichment/src/find_enrichment_table_records.rs
  lib/enrichment/src/get_enrichment_table_record.rs
  lib/opentelemetry-proto/Cargo.toml
  lib/prometheus-parser/Cargo.toml
  lib/vector-common/Cargo.toml
  lib/vector-config/Cargo.toml
  lib/vector-core/Cargo.toml
  lib/vector-lookup/Cargo.toml
  lib/vector-vrl/cli/Cargo.toml
  lib/vector-vrl/cli/src/main.rs
  lib/vector-vrl/functions/Cargo.toml
  lib/vector-vrl/functions/src/lib.rs
  lib/vector-vrl/functions/src/remove_metadata_field.rs
  lib/vector-vrl/tests/Cargo.toml
  lib/vector-vrl/tests/src/main.rs
  lib/vector-vrl/web-playground/Cargo.toml
  lib/vector-vrl/web-playground/README.md
  lib/vector-vrl/web-playground/netlify.toml
  lib/vector-vrl/web-playground/public/.gitignore
  lib/vector-vrl/web-playground/public/README.md
  lib/vector-vrl/web-playground/public/index.css
  lib/vector-vrl/web-playground/public/index.html
  lib/vector-vrl/web-playground/public/index.js
  lib/vector-vrl/web-playground/public/package.json
  lib/vector-vrl/web-playground/public/vrl-highlighter.js
  lib/vector-vrl/web-playground/src/lib.rs
  src/cli.rs
  src/conditions/vrl.rs
  src/transforms/remap.rs
Labels: domain: transforms, domain: core

#17037 chore(topology): split `build_pieces` into smaller functions
  src/topology/builder.rs
Labels: domain: topology

#17062 chore(buffers): Add `Send` bound on `IntoBuffer` trait
  lib/vector-buffers/src/topology/builder.rs
Labels: type: tech debt, domain: buffers

#17025 enhancement(vdev): Load compose files and inject network block
  scripts/integration/amqp/compose.yaml
  scripts/integration/aws/compose.yaml
  scripts/integration/azure/compose.yaml
  scripts/integration/chronicle/compose.yaml
  scripts/integration/clickhouse/compose.yaml
  scripts/integration/databend/compose.yaml
  scripts/integration/datadog-agent/compose.yaml
  scripts/integration/datadog-traces/compose.yaml
  scripts/integration/dnstap/compose.yaml
  scripts/integration/elasticsearch/compose.yaml
  scripts/integration/eventstoredb/compose.yaml
  scripts/integration/gcp/compose.yaml
  scripts/integration/http-client/compose.yaml
  scripts/integration/humio/compose.yaml
  scripts/integration/influxdb/compose.yaml
  scripts/integration/kafka/compose.yaml
  scripts/integration/logstash/compose.yaml
  scripts/integration/loki/compose.yaml
  scripts/integration/mongodb/compose.yaml
  scripts/integration/nats/compose.yaml
  scripts/integration/nginx/compose.yaml
  scripts/integration/opentelemetry/compose.yaml
  scripts/integration/postgres/compose.yaml
  scripts/integration/prometheus/compose.yaml
  scripts/integration/pulsar/compose.yaml
  scripts/integration/redis/compose.yaml
  scripts/integration/shutdown/compose.yaml
  scripts/integration/splunk/compose.yaml
  scripts/integration/webhdfs/compose.yaml
  vdev/Cargo.toml
  vdev/src/testing/config.rs
  vdev/src/testing/integration.rs
Labels: domain: ci, ci-condition: integration tests enable

#17084 fix(reduce transform): Revert flushing on interval change to `expire_metrics_ms`
  src/transforms/reduce/mod.rs
Labels: domain: transforms

#17059 chore(topology): Transform outputs hash table of OutputId -> Definition
  benches/remap.rs
  lib/vector-core/src/config/mod.rs
  lib/vector-core/src/config/output_id.rs
  src/config/graph.rs
  src/config/id.rs
  src/config/mod.rs
  src/config/transform.rs
  src/test_util/mock/transforms/basic.rs
  src/test_util/mock/transforms/noop.rs
  src/topology/schema.rs
  src/transforms/aggregate.rs
  src/transforms/aws_ec2_metadata.rs
  src/transforms/dedupe.rs
  src/transforms/filter.rs
  src/transforms/log_to_metric.rs
  src/transforms/lua/v1/mod.rs
  src/transforms/lua/v2/mod.rs
  src/transforms/metric_to_log.rs
  src/transforms/reduce/mod.rs
  src/transforms/remap.rs
  src/transforms/route.rs
  src/transforms/sample.rs
  src/transforms/tag_cardinality_limit/config.rs
  src/transforms/throttle.rs
Labels: domain: topology, domain: transforms, domain: core

#17108 chore(releasing): Regenerate Kubernetes manifests for 0.21.2
  distribution/kubernetes/vector-agent/README.md
  distribution/kubernetes/vector-agent/configmap.yaml
  distribution/kubernetes/vector-agent/daemonset.yaml
  distribution/kubernetes/vector-agent/rbac.yaml
  distribution/kubernetes/vector-agent/service-headless.yaml
  distribution/kubernetes/vector-agent/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/README.md
  distribution/kubernetes/vector-aggregator/configmap.yaml
  distribution/kubernetes/vector-aggregator/service-headless.yaml
  distribution/kubernetes/vector-aggregator/service.yaml
  distribution/kubernetes/vector-aggregator/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/statefulset.yaml
  distribution/kubernetes/vector-stateless-aggregator/README.md
  distribution/kubernetes/vector-stateless-aggregator/configmap.yaml
  distribution/kubernetes/vector-stateless-aggregator/deployment.yaml
  distribution/kubernetes/vector-stateless-aggregator/service-headless.yaml
  distribution/kubernetes/vector-stateless-aggregator/service.yaml
  distribution/kubernetes/vector-stateless-aggregator/serviceaccount.yaml
Labels: domain: releasing

#17109 chore(ci): Disable `appsignal` integration test until CA issues are resolved
  .github/workflows/integration-test.yml
Labels: ci-condition: integration tests enable

#17111 chore(ci): re-enable `appsignal` integration test
  .github/workflows/integration-test.yml
Labels: ci-condition: integration tests enable

#17026 chore(config): improve config schema output with more precise `unevaluatedProperties` + schema ref flattening
  .github/actions/spelling/expect.txt
  Cargo.lock
  lib/vector-config-common/Cargo.toml
  lib/vector-config-common/src/schema/json_schema.rs
  lib/vector-config-common/src/schema/visit.rs
  lib/vector-config/Cargo.toml
  lib/vector-config/src/schema/helpers.rs
  lib/vector-config/src/schema/visitors/inline_single.rs
  lib/vector-config/src/schema/visitors/merge.rs
  lib/vector-config/src/schema/visitors/mod.rs
  lib/vector-config/src/schema/visitors/scoped_visit.rs
  lib/vector-config/src/schema/visitors/test.rs
  lib/vector-config/src/schema/visitors/unevaluated.rs
  scripts/generate-component-docs.rb
  website/cue/reference/components/sinks/base/gcp_stackdriver_logs.cue
  website/cue/reference/components/sinks/base/gcp_stackdriver_metrics.cue
  website/cue/reference/components/sinks/base/http.cue
Labels: domain: ci, domain: external docs

#14345 enhancement(pulsar sink): Refactor to use StreamSink
  Cargo.toml
  scripts/integration/pulsar/test.yaml
  src/internal_events/pulsar.rs
  src/sinks/mod.rs
  src/sinks/pulsar.rs
  src/sinks/pulsar/config.rs
  src/sinks/pulsar/encoder.rs
  src/sinks/pulsar/integration_tests.rs
  src/sinks/pulsar/mod.rs
  src/sinks/pulsar/request_builder.rs
  src/sinks/pulsar/service.rs
  src/sinks/pulsar/sink.rs
  src/sinks/pulsar/tests.rs
  src/sinks/pulsar/util.rs
  src/validate.rs
  website/cue/reference/components/sinks/base/pulsar.cue
Labels: domain: sinks, sink: pulsar, domain: ci, domain: external docs, ci-condition: integration tests enable

#17133 chore(releasing): Fix release channels
  scripts/build-docker.sh
  scripts/release-s3.sh
  vdev/src/app.rs
  vdev/src/commands/build/publish_metadata.rs
  vdev/src/commands/release/channel.rs
Labels: domain: ci, domain: releasing

#17135 chore(releasing): Regenerate manifests for 0.22.0 chart
  distribution/kubernetes/vector-agent/README.md
  distribution/kubernetes/vector-agent/configmap.yaml
  distribution/kubernetes/vector-agent/daemonset.yaml
  distribution/kubernetes/vector-agent/rbac.yaml
  distribution/kubernetes/vector-agent/service-headless.yaml
  distribution/kubernetes/vector-agent/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/README.md
  distribution/kubernetes/vector-aggregator/configmap.yaml
  distribution/kubernetes/vector-aggregator/service-headless.yaml
  distribution/kubernetes/vector-aggregator/service.yaml
  distribution/kubernetes/vector-aggregator/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/statefulset.yaml
  distribution/kubernetes/vector-stateless-aggregator/README.md
  distribution/kubernetes/vector-stateless-aggregator/configmap.yaml
  distribution/kubernetes/vector-stateless-aggregator/deployment.yaml
  distribution/kubernetes/vector-stateless-aggregator/service-headless.yaml
  distribution/kubernetes/vector-stateless-aggregator/service.yaml
  distribution/kubernetes/vector-stateless-aggregator/serviceaccount.yaml
Labels: domain: releasing

#17095 feat(kubernetes_logs): use kube-apiserver cache for list requests
  Cargo.lock
  Cargo.toml
  src/sources/kubernetes_logs/mod.rs
  website/cue/reference/components/sources/base/kubernetes_logs.cue
Labels: domain: sources, domain: external docs, ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#17122 fix(appsignal sink): Add TLS config option
  src/sinks/appsignal/mod.rs
  website/cue/reference/components/sinks/base/appsignal.cue
Labels: domain: sinks, domain: external docs, sink: appsignal

#17148 enhancement(core): add unit test (ignored) for support for encoding special chars in `ProxyConfig`
  .github/actions/spelling/patterns.txt
  lib/vector-core/src/config/proxy.rs
Labels: domain: core

#17130 chore(config): begin laying out primitives for programmatically querying schema
  Cargo.lock
  Cargo.toml
  lib/docs-renderer/Cargo.toml
  lib/docs-renderer/src/main.rs
  lib/docs-renderer/src/renderer.rs
  lib/vector-config-common/src/attributes.rs
  lib/vector-config-common/src/constants.rs
  lib/vector-config-common/src/lib.rs
  lib/vector-config-macros/src/ast/mod.rs
  lib/vector-config-macros/src/attrs.rs
  lib/vector-config-macros/src/configurable_component.rs
  lib/vector-config/Cargo.toml
  lib/vector-config/src/component/description.rs
  lib/vector-config/src/external/datetime.rs
  lib/vector-config/src/external/serde_with.rs
  lib/vector-config/src/schema/helpers.rs
  lib/vector-config/src/schema/mod.rs
  lib/vector-config/src/schema/parser/component.rs
  lib/vector-config/src/schema/parser/mod.rs
  lib/vector-config/src/schema/parser/query.rs
  lib/vector-config/src/stdlib.rs
  lib/vector-core/src/stream/partitioned_batcher.rs
  rfcs/2022-11-04-automatic-component-validation.md
  scripts/generate-component-docs.rb
  src/components/validation/resources/mod.rs
  src/internal_telemetry/allocations/allocator/tracer.rs
Labels: domain: ci, domain: core, domain: rfc

#17029 fix(influxdb_logs): encode influx line when no tags present
  src/sinks/influxdb/logs.rs
  src/sinks/influxdb/mod.rs
Labels: domain: sinks

#17154 docs: Adjust doc comment locations
  src/sinks/webhdfs/config.rs
  src/sinks/webhdfs/mod.rs
Labels: domain: sinks

#17052 chore(loki sink): warn on label expansions and collisions
  src/sinks/loki/sink.rs
Labels: domain: sinks

#17155 chore(docs): make doc style edits
  lib/codecs/src/decoding/mod.rs
  src/sinks/webhdfs/config.rs
  src/sources/docker_logs/mod.rs
  website/cue/reference/components/sinks/base/webhdfs.cue
  website/cue/reference/components/sources/base/amqp.cue
  website/cue/reference/components/sources/base/aws_kinesis_firehose.cue
  website/cue/reference/components/sources/base/aws_sqs.cue
  website/cue/reference/components/sources/base/datadog_agent.cue
  website/cue/reference/components/sources/base/demo_logs.cue
  website/cue/reference/components/sources/base/docker_logs.cue
  website/cue/reference/components/sources/base/exec.cue
  website/cue/reference/components/sources/base/file_descriptor.cue
  website/cue/reference/components/sources/base/gcp_pubsub.cue
  website/cue/reference/components/sources/base/heroku_logs.cue
  website/cue/reference/components/sources/base/http.cue
  website/cue/reference/components/sources/base/http_server.cue
  website/cue/reference/components/sources/base/kafka.cue
  website/cue/reference/components/sources/base/nats.cue
  website/cue/reference/components/sources/base/redis.cue
  website/cue/reference/components/sources/base/socket.cue
  website/cue/reference/components/sources/base/stdin.cue
Labels: domain: sources, domain: sinks, domain: external docs

#17162 chore(socket source): Remove deprecated `max_length` setting from `tcp` and `unix` modes.
  lib/codecs/src/decoding/framing/newline_delimited.rs
  lib/codecs/src/decoding/framing/octet_counting.rs
  src/sources/socket/mod.rs
  src/sources/socket/tcp.rs
  src/sources/socket/udp.rs
  src/sources/socket/unix.rs
  website/content/en/highlights/2023-05-23-0-30-0-upgrade-guide.md
  website/cue/reference/components/sources/base/socket.cue
Labels: source: socket, domain: sources, domain: external docs

#17163 chore(docs): Remove trailing, unmatched quote
  website/content/en/docs/about/concepts.md
Labels: type: tech debt, domain: external docs

#17171 chore(config): emit human-friendly version of enum variant/property names in schema
  Cargo.lock
  lib/vector-config-common/Cargo.toml
  lib/vector-config-common/src/constants.rs
  lib/vector-config-common/src/human_friendly.rs
  lib/vector-config-common/src/lib.rs
  lib/vector-config-macros/Cargo.toml
  lib/vector-config-macros/src/configurable_component.rs
  lib/vector-config/Cargo.toml
  lib/vector-config/src/component/description.rs
  lib/vector-config/src/schema/helpers.rs
  lib/vector-config/src/schema/visitors/human_name.rs
  lib/vector-config/src/schema/visitors/mod.rs
  lib/vector-config/src/schema/visitors/test.rs
  src/sinks/mod.rs
Labels: domain: sinks

#17159 chore(pulsar): pulsar-rs bump to v5.1.1
  Cargo.lock
  Cargo.toml
Labels: type: tech debt, sink: pulsar, ci-condition: integration tests enable

#17187 chore(releasing): Regenerate manifests for 0.21.1 chart
  distribution/kubernetes/vector-agent/README.md
  distribution/kubernetes/vector-agent/configmap.yaml
  distribution/kubernetes/vector-agent/daemonset.yaml
  distribution/kubernetes/vector-agent/rbac.yaml
  distribution/kubernetes/vector-agent/service-headless.yaml
  distribution/kubernetes/vector-agent/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/README.md
  distribution/kubernetes/vector-aggregator/configmap.yaml
  distribution/kubernetes/vector-aggregator/service-headless.yaml
  distribution/kubernetes/vector-aggregator/service.yaml
  distribution/kubernetes/vector-aggregator/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/statefulset.yaml
  distribution/kubernetes/vector-stateless-aggregator/README.md
  distribution/kubernetes/vector-stateless-aggregator/configmap.yaml
  distribution/kubernetes/vector-stateless-aggregator/deployment.yaml
  distribution/kubernetes/vector-stateless-aggregator/service-headless.yaml
  distribution/kubernetes/vector-stateless-aggregator/service.yaml
  distribution/kubernetes/vector-stateless-aggregator/serviceaccount.yaml
Labels: domain: releasing

#17189 chore(deps): Update h2
  Cargo.lock
Labels: domain: deps

#17184 chore(syslog source): remove the remove of source_ip
  src/sources/syslog.rs
Labels: domain: sources

#17174 enhancement(amqp sink): Support AMQ Properties (content-type) in AMQP sink
  src/sinks/amqp/config.rs
  src/sinks/amqp/request_builder.rs
  src/sinks/amqp/service.rs
  src/sinks/amqp/sink.rs
  website/cue/reference/components/sinks/base/amqp.cue
Labels: type: enhancement, domain: sinks, domain: external docs, sink: amqp

#17160 chore(deps): Upgrade Debian to bullseye for distroless image
  distribution/docker/distroless-libc/Dockerfile
Labels: domain: releasing, ci-condition: integration tests enable, dependencies

#17204 chore(deps): Upgrade cue to 0.5.0
  docs/DOCUMENTING.md
  scripts/environment/bootstrap-ubuntu-20.04.sh
Labels: domain: ci

#17218 chore(releasing): Add known issues fixed by 0.29.1
  website/cue/reference/releases/0.29.0.cue
  website/cue/reference/releases/0.29.1.cue
Labels: domain: external docs

#17248 chore(dev): Install the correct `mold` based on CPU architecture
  scripts/environment/bootstrap-ubuntu-20.04.sh
Labels: domain: ci
