Repository vectordotdev/vector, pull requests merged in 2023-11, with the labels that each got.

#18985 chore(deps): Remove usages of atty
  Cargo.lock
  Cargo.toml
  src/cli.rs
  src/test_util/mod.rs
  vdev/Cargo.toml
  vdev/src/util.rs
Labels: domain: vdev

#18882 feat(journald source): Add emit_cursor option
  src/sources/journald.rs
  website/cue/reference/components/sources/base/journald.cue
Labels: domain: sources, domain: external docs

#19009 fix(releasing): Update cargo-deb
  scripts/environment/prepare.sh
Labels: domain: ci

#19015 chore(security)!: Remove legacy OpenSSL provider flags
  docs/DEPRECATIONS.md
  src/app.rs
  src/cli.rs
  website/content/en/highlights/2023-11-07-0-34-0-upgrade-guide.md
  website/cue/reference/cli.cue
Labels: domain: external docs

#19021 chore(core): Add a CLI flag to allow for empty configs
  src/app.rs
  src/cli.rs
  src/config/builder.rs
  src/config/compiler.rs
  src/config/loading/mod.rs
  src/config/mod.rs
  src/config/validation.rs
  website/cue/reference/cli.cue
Labels: type: enhancement, domain: cli, domain: startup, domain: external docs

#19011 chore(deps): Update VRL to 0.8.1
  Cargo.lock
  Cargo.toml
  lib/codecs/Cargo.toml
  lib/codecs/tests/data/native_encoding/vector_generate_fixtures.patch
  lib/file-source/Cargo.toml
  lib/prometheus-parser/Cargo.toml
  lib/vector-common/Cargo.toml
  lib/vector-config/Cargo.toml
  lib/vector-core/Cargo.toml
  lib/vector-vrl/tests/Cargo.toml
  website/cue/reference/remap.cue
  website/cue/reference/remap/functions/contains_all.cue
  website/cue/reference/remap/functions/from_unix_timestamp.cue
  website/cue/reference/remap/functions/parse_float.cue
Labels: domain: external docs, domain: core

#19039 chore(deps): Bump OpenDAL to v0.41
  .github/actions/spelling/allow.txt
  Cargo.lock
  Cargo.toml
  src/sinks/webhdfs/integration_tests.rs
Labels: domain: sinks

#18994 chore(docs): add highlight post for secrets in disk buffers
  website/content/en/highlights/2023-10-30-secrets-in-disk-buffers.md
Labels: editorial review

#19067 fix(clickhouse sink): fix healthcheck uri
  src/sinks/clickhouse/config.rs
Labels: domain: sinks

#19068 docs: fix truncate arguments
  website/cue/reference/remap/functions/truncate.cue
Labels: domain: external docs

#19049 chore(releasing): Prepare v0.34.0 release
  distribution/install.sh
  website/content/en/highlights/2023-11-07-0-34-0-upgrade-guide.md
  website/content/en/releases/0.34.0.md
  website/cue/reference/administration/interfaces/kubectl.cue
  website/cue/reference/releases/0.33.0.cue
  website/cue/reference/releases/0.34.0.cue
  website/cue/reference/versions.cue
Labels: domain: releasing, domain: external docs

#19078 chore(releasing): Add deprecation note about respositories.timber.io deprecation
  website/content/en/highlights/2023-11-07-0-34-0-upgrade-guide.md
  website/cue/reference/releases/0.34.0.cue
Labels: domain: external docs

#19085 chore(releasing): Fix formatting for v0.34.0 release note
  website/cue/reference/releases/0.34.0.cue
Labels: domain: external docs

#19066 chore(dev): Simplify a few tiny import issues in `vector-lib`
  lib/vector-core/src/event/mod.rs
  lib/vector-core/src/lib.rs
  lib/vector-core/src/transform/mod.rs
  lib/vector-lib/src/lib.rs
  lib/vector-stream/src/batcher/limiter.rs
  lib/vector-stream/src/driver.rs
  lib/vector-stream/src/partitioned_batcher.rs
  src/app.rs
  src/lib.rs
  src/sink_ext.rs
  src/sinks/util/unix.rs
Labels: type: tech debt, domain: sinks, domain: dev, domain: core, dependencies

#19093 fix(datadog_agent source): return 200 on empty object payload
  src/sources/datadog_agent/logs.rs
  src/sources/datadog_agent/tests.rs
Labels: domain: sources

#19082 fix(kafka source, kafka sink): propagate span for internal events
  src/kafka.rs
  src/sinks/kafka/sink.rs
  src/sources/kafka.rs
Labels: domain: sources, domain: sinks

#19095 chore(deps): Replace trust_dns_proto with hickory_proto
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  lib/dnsmsg-parser/Cargo.toml
  lib/dnsmsg-parser/benches/benches.rs
  lib/dnsmsg-parser/src/dns_message.rs
  lib/dnsmsg-parser/src/dns_message_parser.rs
  src/sources/dnstap/parser.rs
Labels: domain: sources

#19103 chore(docs): update a few more examples to YAML
  website/content/en/_index.md
  website/content/en/docs/reference/configuration/_index.md
  website/content/en/docs/setup/installation/manual/from-archives.md
  website/content/en/docs/setup/installation/manual/from-source.md
  website/cue/reference/configuration.cue
  website/cue/reference/examples.cue
  website/cue/reference/urls.cue
Labels: domain: external docs

#19104 fix(loki sink): update to use the global list of compression algorithms
  src/sinks/loki/config.rs
  src/sinks/loki/service.rs
  src/sinks/loki/sink.rs
  website/cue/reference/components/sinks/base/loki.cue
Labels: domain: sinks, domain: external docs

#19084 fix(file source, kubernetes_logs source, file sink): make `file` internal metric tag opt-out
  docs/DEPRECATIONS.md
  docs/specs/component.md
  src/internal_events/file.rs
  src/sinks/file/mod.rs
  src/sources/file.rs
  src/sources/kubernetes_logs/mod.rs
  website/content/en/highlights/2023-12-19-0-35-0-upgrade-guide.md
  website/cue/reference/components/sinks/base/file.cue
  website/cue/reference/components/sources/base/file.cue
  website/cue/reference/components/sources/base/kubernetes_logs.cue
Labels: domain: sources, domain: sinks, domain: external docs

#18865 feat(aws_cloudwatch_logs sink): add configurable log retention
  src/sinks/aws_cloudwatch_logs/config.rs
  src/sinks/aws_cloudwatch_logs/integration_tests.rs
  src/sinks/aws_cloudwatch_logs/request.rs
  src/sinks/aws_cloudwatch_logs/retry.rs
  src/sinks/aws_cloudwatch_logs/service.rs
  website/cue/reference/components/sinks/base/aws_cloudwatch_logs.cue
Labels: sink: aws_cloudwatch_logs, domain: sinks, domain: external docs

#19048 fix(sources): always emit HttpBytesReceived after decompression
  src/sources/opentelemetry/http.rs
  src/sources/prometheus/remote_write.rs
  src/sources/splunk_hec/mod.rs
  src/sources/util/http/encoding.rs
  src/sources/util/http/prelude.rs
  website/content/en/highlights/2023-12-19-0-35-0-upgrade-guide.md
Labels: domain: sources

#18699 fix(sinks): set fixed buffer size for distributed service
  regression/cases/http_elasticsearch/data/.gitkeep
  regression/cases/http_elasticsearch/lading/lading.yaml
  regression/cases/http_elasticsearch/vector/vector.yaml
  src/sinks/elasticsearch/config.rs
  src/sinks/util/service.rs
Labels: domain: sinks

#19060 fix(sinks): use uncompressed body size for bytes sent
  src/sinks/appsignal/service.rs
  src/sinks/datadog/metrics/service.rs
  src/sinks/greptimedb/service.rs
  src/sinks/statsd/service.rs
  src/sinks/util/http.rs
  website/content/en/highlights/2023-12-19-0-35-0-upgrade-guide.md
Labels: domain: sinks

#19099 fix(loki sink): update to use the global list of compression algorithms
  lib/loki-logproto/src/lib.rs
  src/sinks/loki/config.rs
  src/sinks/loki/service.rs
  src/sinks/loki/sink.rs
  website/cue/reference/components/sinks/base/loki.cue
Labels: domain: sinks, domain: external docs

#19022 enhancement(observability): add buffer `buffer_send_duration_seconds` metric
  Cargo.lock
  lib/vector-buffers/Cargo.toml
  lib/vector-buffers/benches/common.rs
  lib/vector-buffers/examples/buffer_perf.rs
  lib/vector-buffers/src/internal_events.rs
  lib/vector-buffers/src/lib.rs
  lib/vector-buffers/src/topology/builder.rs
  lib/vector-buffers/src/topology/channel/limited_queue.rs
  lib/vector-buffers/src/topology/channel/receiver.rs
  lib/vector-buffers/src/topology/channel/sender.rs
  lib/vector-buffers/src/topology/channel/tests.rs
  lib/vector-core/src/fanout.rs
  lib/vector-core/src/transform/mod.rs
  src/api/tap.rs
  src/source_sender/mod.rs
  src/sources/kafka.rs
  src/test_util/mock/mod.rs
  src/test_util/mock/sources/basic.rs
  src/topology/builder.rs
  src/topology/test/mod.rs
  website/cue/reference/components/sources/internal_metrics.cue
Labels: domain: topology, domain: sources, domain: external docs, domain: core

#19083 fix(throttle transform)!: make `events_discarded_total` internal metric with `key` tag opt-in
  src/internal_events/throttle.rs
  src/transforms/throttle.rs
  website/content/en/highlights/2023-12-19-0-35-0-upgrade-guide.md
  website/cue/reference/components/transforms/base/throttle.cue
Labels: domain: transforms, domain: external docs

#19122 chore(releasing): Add known issue for Datadog Metrics sink in v0.34.0
  website/cue/reference/releases/0.34.0.cue
Labels: domain: external docs

#19139 chore(docs): Add alpha to traces and beta to metrics in descriptions
  src/sources/datadog_agent/mod.rs
  src/sources/kafka.rs
  src/transforms/aggregate.rs
  website/cue/reference/components/sources/base/datadog_agent.cue
  website/cue/reference/components/sources/base/kafka.cue
  website/cue/reference/components/transforms/base/aggregate.cue
Labels: domain: sources, domain: transforms, domain: external docs

#18506 enhancement(file sink, aws_s3 sink, gcp_cloud_storage): configurable filename timezone
  Cargo.lock
  Cargo.toml
  lib/vector-config/src/external/datetime.rs
  src/sinks/aws_s3/config.rs
  src/sinks/aws_s3/integration_tests.rs
  src/sinks/aws_s3/mod.rs
  src/sinks/aws_s3/sink.rs
  src/sinks/file/mod.rs
  src/sinks/gcp/cloud_storage.rs
  src/sinks/util/mod.rs
  src/template.rs
  website/cue/reference/components/sinks/base/aws_s3.cue
  website/cue/reference/components/sinks/base/file.cue
  website/cue/reference/components/sinks/base/gcp_cloud_storage.cue
Labels: domain: sinks, domain: external docs

#19106 enhancement(networking, sinks): add full jitter to retry backoff policy
  src/sinks/aws_cloudwatch_logs/service.rs
  src/sinks/util/adaptive_concurrency/tests.rs
  src/sinks/util/retries.rs
  src/sinks/util/service.rs
  website/cue/reference/components/sinks/base/appsignal.cue
  website/cue/reference/components/sinks/base/aws_cloudwatch_logs.cue
  website/cue/reference/components/sinks/base/aws_cloudwatch_metrics.cue
  website/cue/reference/components/sinks/base/aws_kinesis_firehose.cue
  website/cue/reference/components/sinks/base/aws_kinesis_streams.cue
  website/cue/reference/components/sinks/base/aws_s3.cue
  website/cue/reference/components/sinks/base/aws_sns.cue
  website/cue/reference/components/sinks/base/aws_sqs.cue
  website/cue/reference/components/sinks/base/axiom.cue
  website/cue/reference/components/sinks/base/azure_blob.cue
  website/cue/reference/components/sinks/base/azure_monitor_logs.cue
  website/cue/reference/components/sinks/base/clickhouse.cue
  website/cue/reference/components/sinks/base/databend.cue
  website/cue/reference/components/sinks/base/datadog_events.cue
  website/cue/reference/components/sinks/base/datadog_logs.cue
  website/cue/reference/components/sinks/base/datadog_metrics.cue
  website/cue/reference/components/sinks/base/datadog_traces.cue
  website/cue/reference/components/sinks/base/elasticsearch.cue
  website/cue/reference/components/sinks/base/gcp_chronicle_unstructured.cue
  website/cue/reference/components/sinks/base/gcp_cloud_storage.cue
  website/cue/reference/components/sinks/base/gcp_pubsub.cue
  website/cue/reference/components/sinks/base/gcp_stackdriver_logs.cue
  website/cue/reference/components/sinks/base/gcp_stackdriver_metrics.cue
  website/cue/reference/components/sinks/base/greptimedb.cue
  website/cue/reference/components/sinks/base/honeycomb.cue
  website/cue/reference/components/sinks/base/http.cue
  website/cue/reference/components/sinks/base/humio_logs.cue
  website/cue/reference/components/sinks/base/humio_metrics.cue
  website/cue/reference/components/sinks/base/influxdb_logs.cue
  website/cue/reference/components/sinks/base/influxdb_metrics.cue
  website/cue/reference/components/sinks/base/logdna.cue
  website/cue/reference/components/sinks/base/loki.cue
  website/cue/reference/components/sinks/base/mezmo.cue
  website/cue/reference/components/sinks/base/nats.cue
  website/cue/reference/components/sinks/base/new_relic.cue
  website/cue/reference/components/sinks/base/prometheus_remote_write.cue
  website/cue/reference/components/sinks/base/redis.cue
  website/cue/reference/components/sinks/base/sematext_logs.cue
  website/cue/reference/components/sinks/base/sematext_metrics.cue
  website/cue/reference/components/sinks/base/splunk_hec_logs.cue
  website/cue/reference/components/sinks/base/splunk_hec_metrics.cue
  website/cue/reference/components/sinks/base/vector.cue
Labels: domain: sinks, domain: external docs

#19145 fix(file source, kubernetes_logs source, file sink): make file internal metric tag opt-in
  docs/DEPRECATIONS.md
  src/internal_events/file.rs
  src/sinks/file/mod.rs
  src/sources/file.rs
  website/content/en/highlights/2023-12-19-0-35-0-upgrade-guide.md
  website/cue/reference/components/sinks/base/file.cue
  website/cue/reference/components/sources/base/file.cue
  website/cue/reference/components/sources/base/kubernetes_logs.cue
Labels: domain: sources, domain: sinks, domain: external docs

#19148 fix(datadog_metrics sink): evaluate series v1 env var at runtime
  src/sinks/datadog/metrics/config.rs
Labels: domain: sinks

#19138 fix(datadog_metrics sink): Revert to using v1 endpoint by default
  docs/DEPRECATIONS.md
  src/sinks/datadog/metrics/config.rs
  src/sinks/datadog/metrics/encoder.rs
Labels: sink: datadog_metrics, domain: sinks

#19141 ehancement(sources): Add `keepalive.max_connection_age_secs` config option to HTTP-server sources
  src/http.rs
  src/sources/aws_kinesis_firehose/mod.rs
  src/sources/datadog_agent/mod.rs
  src/sources/datadog_agent/tests.rs
  src/sources/heroku_logs.rs
  src/sources/http_server.rs
  src/sources/opentelemetry/http.rs
  src/sources/opentelemetry/integration_tests.rs
  src/sources/opentelemetry/mod.rs
  src/sources/opentelemetry/tests.rs
  src/sources/prometheus/remote_write.rs
  src/sources/splunk_hec/mod.rs
  src/sources/util/http/prelude.rs
  website/content/en/highlights/2023-12-19-0-35-0-upgrade-guide.md
  website/cue/reference/components/sources/base/aws_kinesis_firehose.cue
  website/cue/reference/components/sources/base/datadog_agent.cue
  website/cue/reference/components/sources/base/heroku_logs.cue
  website/cue/reference/components/sources/base/http.cue
  website/cue/reference/components/sources/base/http_server.cue
  website/cue/reference/components/sources/base/opentelemetry.cue
  website/cue/reference/components/sources/base/prometheus_remote_write.cue
  website/cue/reference/components/sources/base/splunk_hec.cue
Labels: domain: sources, domain: external docs

#19178 chore(releasing, kubernetes): Bump manifests to v0.29.0 of Helm chart
  distribution/kubernetes/vector-agent/README.md
  distribution/kubernetes/vector-agent/configmap.yaml
  distribution/kubernetes/vector-agent/daemonset.yaml
  distribution/kubernetes/vector-agent/rbac.yaml
  distribution/kubernetes/vector-agent/service-headless.yaml
  distribution/kubernetes/vector-agent/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/README.md
  distribution/kubernetes/vector-aggregator/configmap.yaml
  distribution/kubernetes/vector-aggregator/service-headless.yaml
  distribution/kubernetes/vector-aggregator/service.yaml
  distribution/kubernetes/vector-aggregator/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/statefulset.yaml
  distribution/kubernetes/vector-stateless-aggregator/README.md
  distribution/kubernetes/vector-stateless-aggregator/configmap.yaml
  distribution/kubernetes/vector-stateless-aggregator/deployment.yaml
  distribution/kubernetes/vector-stateless-aggregator/service-headless.yaml
  distribution/kubernetes/vector-stateless-aggregator/service.yaml
  distribution/kubernetes/vector-stateless-aggregator/serviceaccount.yaml
Labels: domain: releasing

#19160 feat(log_to_metric): dynamically convert all logs to metrics
  src/api/tap.rs
  src/internal_events/log_to_metric.rs
  src/transforms/log_to_metric.rs
  website/cue/reference/components/transforms/base/log_to_metric.cue
Labels: domain: transforms, domain: external docs

#19117 fix(kafka source, kafka sink, auth): fixed kafka tls config
  src/kafka.rs
Labels: type: bug, sink: kafka, source: kafka, domain: security

#19086 feat(splunk_hec_logs splunk_hec_metrics humio sink) Allow host and timestamp key fields to be namespaceable
  src/sinks/humio/logs.rs
  src/sinks/humio/metrics.rs
  src/sinks/humio/mod.rs
  src/sinks/splunk_hec/common/util.rs
  src/sinks/splunk_hec/logs/config.rs
  src/sinks/splunk_hec/logs/integration_tests.rs
  src/sinks/splunk_hec/logs/sink.rs
  src/sinks/splunk_hec/logs/tests.rs
  src/sources/splunk_hec/mod.rs
  website/cue/reference/components/sinks/base/humio_logs.cue
  website/cue/reference/components/sinks/base/splunk_hec_logs.cue
Labels: domain: sources, domain: sinks, domain: external docs

#19220 chore(aws_kinesis_streams sink): re-enable int test for partition_key
  scripts/integration/aws/test.yaml
  src/sinks/aws_kinesis/streams/integration_tests.rs
Labels: sink: aws_kinesis_streams, domain: sinks, domain: ci

#19255 perf(tap): avoid compiling globs frequently during tap
  src/api/tap.rs
Labels: type: enhancement, domain: performance, domain: api

#19244 chore(releasing): Add known issue for protobuf encoder in v0.34.0
  website/cue/reference/releases/0.34.0.cue
Labels: type: tech debt, domain: external docs, website: releases
