Repository vectordotdev/vector, pull requests merged in 2023-10, with the labels that each got.

#18758 chore(website): Set download page dropdown to latest version
  website/layouts/download/section.html
Labels: website: template, website: javascript

#18740 chore(deps): clean up VRL crate features
  Cargo.toml
  lib/vector-vrl/tests/Cargo.toml
  src/enrichment_tables/geoip.rs
  src/sources/datadog_agent/traces.rs
Labels: domain: sources

#18650 fix(codecs): native JSON serialization/deserialization for special f64 values
  lib/codecs/src/encoding/format/native_json.rs
  lib/codecs/tests/native_json.rs
  lib/vector-core/src/event/metric/value.rs
Labels: domain: core

#18754 fix(datadog_metrics sink): the integration tests weren't actually validating anything
  .github/workflows/changes.yml
  .github/workflows/integration.yml
  scripts/integration/datadog-metrics/test.yaml
  scripts/integration/datadog-traces/test.yaml
  src/sinks/datadog/metrics/integration_tests.rs
Labels: domain: tests, sink: datadog_metrics, domain: sinks, domain: ci

#18759 fix(datadog_metrics sink): improve aggregation performance
  regression/cases/syslog_regex_logs2metric_ddmetrics/vector/vector.toml
  src/sinks/datadog/metrics/sink.rs
  src/sinks/util/buffer/metrics/mod.rs
  src/sinks/util/buffer/metrics/sort.rs
  src/sinks/util/builder.rs
Labels: domain: sinks

#18788 chore(metrics): improve creation of Origin metadata structures
  lib/vector-core/src/event/metadata.rs
  lib/vector-core/src/event/proto.rs
  src/sinks/datadog/metrics/encoder.rs
  src/sources/datadog_agent/metrics.rs
  src/transforms/log_to_metric.rs
Labels: domain: observability, sink: datadog_metrics, domain: sources, domain: transforms, domain: sinks, domain: core

#18711 chore(deps): Bump dd-rust-license-tool to 1.0.2
  scripts/environment/prepare.sh
Labels: domain: ci

#18781 fix(http_server source): panic when http server receives metric events
  src/sources/http_server.rs
  src/sources/util/http/query.rs
Labels: domain: sources, source: http_server

#18815 docs(vrl): add an example of parsing upstreaminfo with parse_nginx_log
  website/cue/reference/remap/functions/parse_nginx_log.cue
Labels: domain: external docs

#17497 fix(kafka source): fix acknowledgement handling during shutdown and rebalance events
  src/sources/kafka.rs
  website/cue/reference/components/sources/base/kafka.cue
Labels: domain: sources, domain: external docs

#18749 chore(gcp_stackdriver_metrics sink): rewrite to stream based sink
  src/sinks/gcp/chronicle_unstructured.rs
  src/sinks/gcp/mod.rs
  src/sinks/gcp/stackdriver/metrics/config.rs
  src/sinks/gcp/stackdriver/metrics/mod.rs
  src/sinks/gcp/stackdriver/metrics/request_builder.rs
  src/sinks/gcp/stackdriver/metrics/sink.rs
  src/sinks/gcp/stackdriver/metrics/tests.rs
  src/sinks/gcp/stackdriver/mod.rs
  src/sinks/gcp/stackdriver_metrics.rs
Labels: domain: sinks

#18761 chore(datadog_metrics sink): support and migrate to the `v2` series API endpoint
  docs/DEPRECATION.md
  docs/DEPRECATIONS.md
  lib/vector-core/src/event/mod.rs
  src/sinks/datadog/metrics/config.rs
  src/sinks/datadog/metrics/encoder.rs
  src/sinks/datadog/metrics/integration_tests.rs
  src/sinks/datadog/metrics/request_builder.rs
  src/sinks/datadog/metrics/sink.rs
Labels: sink: datadog_metrics, domain: sinks, domain: core

#18813 feat(amqp): added integration test for TLS
  scripts/integration/Dockerfile
  scripts/integration/amqp/compose.yaml
  src/amqp.rs
  src/sinks/amqp/integration_tests.rs
  src/sources/amqp.rs
  tests/data/Makefile
  tests/data/ca/intermediate_server/certs/rabbitmq-chain.cert.pem
  tests/data/ca/intermediate_server/certs/rabbitmq.cert.pem
  tests/data/ca/intermediate_server/csr/rabbitmq.csr.pem
  tests/data/ca/intermediate_server/index.txt
  tests/data/ca/intermediate_server/index.txt.old
  tests/data/ca/intermediate_server/newcerts/1007.pem
  tests/data/ca/intermediate_server/private/rabbitmq.key.pem
  tests/data/ca/intermediate_server/serial
  tests/data/ca/intermediate_server/serial.old
Labels: domain: sources, domain: sinks, domain: ci

#18838 chore(ci): temporarily peg greptimedb to `v0.4.0` to unblock CI
  scripts/integration/greptimedb/test.yaml
Labels: domain: ci

#18825 feat(regression): convert all regression cases configs to YAML
  .github/actions/spelling/allow.txt
  regression/cases/datadog_agent_remap_blackhole/vector/vector.toml
  regression/cases/datadog_agent_remap_blackhole/vector/vector.yaml
  regression/cases/datadog_agent_remap_blackhole_acks/vector/vector.toml
  regression/cases/datadog_agent_remap_blackhole_acks/vector/vector.yaml
  regression/cases/datadog_agent_remap_datadog_logs/vector/vector.toml
  regression/cases/datadog_agent_remap_datadog_logs/vector/vector.yaml
  regression/cases/datadog_agent_remap_datadog_logs_acks/vector/vector.toml
  regression/cases/datadog_agent_remap_datadog_logs_acks/vector/vector.yaml
  regression/cases/enterprise_http_to_http/vector/vector.toml
  regression/cases/enterprise_http_to_http/vector/vector.yaml
  regression/cases/file_to_blackhole/vector/vector.toml
  regression/cases/file_to_blackhole/vector/vector.yaml
  regression/cases/fluent_elasticsearch/vector/vector.toml
  regression/cases/fluent_elasticsearch/vector/vector.yaml
  regression/cases/http_text_to_http_json/vector/vector.toml
  regression/cases/http_text_to_http_json/vector/vector.yaml
  regression/cases/http_to_http_acks/vector/vector.toml
  regression/cases/http_to_http_acks/vector/vector.yaml
  regression/cases/http_to_http_json/vector/vector.toml
  regression/cases/http_to_http_json/vector/vector.yaml
  regression/cases/http_to_http_noack/vector/vector.toml
  regression/cases/http_to_http_noack/vector/vector.yaml
  regression/cases/http_to_s3/vector/vector.toml
  regression/cases/http_to_s3/vector/vector.yaml
  regression/cases/otlp_grpc_to_blackhole/vector/vector.toml
  regression/cases/otlp_grpc_to_blackhole/vector/vector.yaml
  regression/cases/otlp_http_to_blackhole/vector/vector.toml
  regression/cases/otlp_http_to_blackhole/vector/vector.yaml
  regression/cases/socket_to_socket_blackhole/vector/vector.toml
  regression/cases/socket_to_socket_blackhole/vector/vector.yaml
  regression/cases/splunk_hec_indexer_ack_blackhole/vector/vector.toml
  regression/cases/splunk_hec_indexer_ack_blackhole/vector/vector.yaml
  regression/cases/splunk_hec_route_s3/vector/vector.toml
  regression/cases/splunk_hec_route_s3/vector/vector.yaml
  regression/cases/splunk_hec_to_splunk_hec_logs_acks/vector/vector.toml
  regression/cases/splunk_hec_to_splunk_hec_logs_acks/vector/vector.yaml
  regression/cases/splunk_hec_to_splunk_hec_logs_noack/vector/vector.toml
  regression/cases/splunk_hec_to_splunk_hec_logs_noack/vector/vector.yaml
  regression/cases/syslog_humio_logs/vector/vector.toml
  regression/cases/syslog_humio_logs/vector/vector.yaml
  regression/cases/syslog_log2metric_humio_metrics/vector/vector.toml
  regression/cases/syslog_log2metric_humio_metrics/vector/vector.yaml
  regression/cases/syslog_log2metric_splunk_hec_metrics/vector/vector.toml
  regression/cases/syslog_log2metric_splunk_hec_metrics/vector/vector.yaml
  regression/cases/syslog_loki/vector/vector.toml
  regression/cases/syslog_loki/vector/vector.yaml
  regression/cases/syslog_regex_logs2metric_ddmetrics/vector/vector.toml
  regression/cases/syslog_regex_logs2metric_ddmetrics/vector/vector.yaml
  regression/cases/syslog_splunk_hec_logs/vector/vector.toml
  regression/cases/syslog_splunk_hec_logs/vector/vector.yaml
  workload-checks/typical/cases/http_text_to_http_json/vector/vector.toml
  workload-checks/typical/cases/http_text_to_http_json/vector/vector.yaml
Labels: domain: config

#18795 chore!(config, docs): delete deprecated vector.toml code
  docs/DEPRECATIONS.md
  src/cli.rs
  src/config/cmd.rs
  src/config/loading/mod.rs
  src/tap/cmd.rs
  src/top/cmd.rs
  src/validate.rs
  website/cue/reference/configuration.cue
Labels: domain: config, domain: external docs

#18843 fix(tls): for incoming connection alpn negotiation should be done using set_alpn_select_callback
  lib/vector-core/src/tls/incoming.rs
  lib/vector-core/src/tls/settings.rs
Labels: domain: core

#18859 fix(sources): emit `ComponentEventsDropped` when source send is cancelled
  src/source_sender/mod.rs
  src/sources/mongodb_metrics/mod.rs
  src/sources/nginx_metrics/mod.rs
  src/sources/postgresql_metrics.rs
  src/topology/test/mod.rs
Labels: domain: topology, domain: sources

#18817 feat(timestamp encoding): add unixtime formats
  src/codecs/encoding/transformer.rs
  website/cue/reference/components/sinks.cue
  website/cue/reference/components/sinks/base/amqp.cue
  website/cue/reference/components/sinks/base/appsignal.cue
  website/cue/reference/components/sinks/base/aws_cloudwatch_logs.cue
  website/cue/reference/components/sinks/base/aws_kinesis_firehose.cue
  website/cue/reference/components/sinks/base/aws_kinesis_streams.cue
  website/cue/reference/components/sinks/base/aws_s3.cue
  website/cue/reference/components/sinks/base/aws_sns.cue
  website/cue/reference/components/sinks/base/aws_sqs.cue
  website/cue/reference/components/sinks/base/azure_blob.cue
  website/cue/reference/components/sinks/base/azure_monitor_logs.cue
  website/cue/reference/components/sinks/base/clickhouse.cue
  website/cue/reference/components/sinks/base/console.cue
  website/cue/reference/components/sinks/base/databend.cue
  website/cue/reference/components/sinks/base/datadog_logs.cue
  website/cue/reference/components/sinks/base/elasticsearch.cue
  website/cue/reference/components/sinks/base/file.cue
  website/cue/reference/components/sinks/base/gcp_chronicle_unstructured.cue
  website/cue/reference/components/sinks/base/gcp_cloud_storage.cue
  website/cue/reference/components/sinks/base/gcp_pubsub.cue
  website/cue/reference/components/sinks/base/gcp_stackdriver_logs.cue
  website/cue/reference/components/sinks/base/honeycomb.cue
  website/cue/reference/components/sinks/base/http.cue
  website/cue/reference/components/sinks/base/humio_logs.cue
  website/cue/reference/components/sinks/base/influxdb_logs.cue
  website/cue/reference/components/sinks/base/kafka.cue
  website/cue/reference/components/sinks/base/logdna.cue
  website/cue/reference/components/sinks/base/loki.cue
  website/cue/reference/components/sinks/base/mezmo.cue
  website/cue/reference/components/sinks/base/nats.cue
  website/cue/reference/components/sinks/base/new_relic.cue
  website/cue/reference/components/sinks/base/papertrail.cue
  website/cue/reference/components/sinks/base/pulsar.cue
  website/cue/reference/components/sinks/base/redis.cue
  website/cue/reference/components/sinks/base/sematext_logs.cue
  website/cue/reference/components/sinks/base/socket.cue
  website/cue/reference/components/sinks/base/splunk_hec_logs.cue
  website/cue/reference/components/sinks/base/webhdfs.cue
  website/cue/reference/components/sinks/base/websocket.cue
Labels: domain: codecs, domain: external docs

#18878 fix(dnstap source): support DNSSEC RRSIG record data
  .github/CODEOWNERS
  lib/dnsmsg-parser/src/dns_message_parser.rs
Labels: domain: parsing, source: dnstap

#18900 chore(core): Refactor `vector-core::stream` into its own package
  Cargo.lock
  Cargo.toml
  lib/vector-core/Cargo.toml
  lib/vector-core/src/lib.rs
  lib/vector-core/src/stream/mod.rs
  lib/vector-core/src/time.rs
  lib/vector-stream/Cargo.toml
  lib/vector-stream/src/batcher/config.rs
  lib/vector-stream/src/batcher/data.rs
  lib/vector-stream/src/batcher/limiter.rs
  lib/vector-stream/src/batcher/mod.rs
  lib/vector-stream/src/concurrent_map.rs
  lib/vector-stream/src/driver.rs
  lib/vector-stream/src/expiration_map.rs
  lib/vector-stream/src/futures_unordered_count.rs
  lib/vector-stream/src/lib.rs
  lib/vector-stream/src/partitioned_batcher.rs
  src/sinks/appsignal/service.rs
  src/sinks/aws_cloudwatch_logs/service.rs
  src/sinks/aws_cloudwatch_logs/sink.rs
  src/sinks/aws_kinesis/config.rs
  src/sinks/aws_s_s/service.rs
  src/sinks/azure_common/config.rs
  src/sinks/databend/service.rs
  src/sinks/datadog/events/service.rs
  src/sinks/datadog/logs/service.rs
  src/sinks/datadog/metrics/service.rs
  src/sinks/datadog/metrics/sink.rs
  src/sinks/datadog/traces/service.rs
  src/sinks/datadog/traces/sink.rs
  src/sinks/elasticsearch/service.rs
  src/sinks/gcs_common/service.rs
  src/sinks/greptimedb/batch.rs
  src/sinks/http/batch.rs
  src/sinks/prelude.rs
  src/sinks/s3_common/service.rs
  src/sinks/splunk_hec/common/response.rs
  src/sinks/statsd/batch.rs
  src/sinks/statsd/service.rs
  src/sinks/statsd/sink.rs
  src/sinks/util/batch.rs
  src/sinks/util/builder.rs
  src/sinks/util/http.rs
  src/sinks/vector/service.rs
  src/sinks/vector/sink.rs
  src/sources/kubernetes_logs/partial_events_merger.rs
  src/transforms/reduce/mod.rs
Labels: type: tech debt, domain: sources, domain: transforms, domain: sinks, domain: core

#18923 fix(amqp sink): remove unnecessary unwrap & emit event dropped errors
  src/internal_events/amqp.rs
  src/sinks/amqp/service.rs
  src/sinks/amqp/sink.rs
Labels: domain: sinks, sink: amqp

#18915 chore(ci): filter team members from gardener issue comment workflow
  .github/workflows/gardener_issue_comment.yml
Labels: domain: ci

#18770 fix(kafka sink): Make KafkaService return `Poll::Pending` when producer queue is full
  src/sinks/kafka/service.rs
  src/sinks/kafka/sink.rs
Labels: domain: sinks

#18676 chore(prometheus_remote_write sink): remote write sink rewrite
  Cargo.toml
  lib/vector-stream/src/partitioned_batcher.rs
  src/sinks/prometheus/remote_write.rs
  src/sinks/prometheus/remote_write/config.rs
  src/sinks/prometheus/remote_write/integration_tests.rs
  src/sinks/prometheus/remote_write/mod.rs
  src/sinks/prometheus/remote_write/request_builder.rs
  src/sinks/prometheus/remote_write/service.rs
  src/sinks/prometheus/remote_write/sink.rs
  src/sinks/prometheus/remote_write/tests.rs
  src/sinks/util/buffer/compression.rs
  src/sinks/util/buffer/metrics/normalize.rs
  src/sinks/util/buffer/mod.rs
  src/sinks/util/builder.rs
  src/sinks/util/compressor.rs
  src/sinks/util/http.rs
  src/sinks/util/mod.rs
  src/sinks/util/snappy.rs
  src/sinks/vector/sink.rs
  src/sources/prometheus/remote_write.rs
  website/cue/reference/components/sinks/base/appsignal.cue
  website/cue/reference/components/sinks/base/aws_cloudwatch_logs.cue
  website/cue/reference/components/sinks/base/aws_cloudwatch_metrics.cue
  website/cue/reference/components/sinks/base/aws_kinesis_firehose.cue
  website/cue/reference/components/sinks/base/aws_kinesis_streams.cue
  website/cue/reference/components/sinks/base/aws_s3.cue
  website/cue/reference/components/sinks/base/axiom.cue
  website/cue/reference/components/sinks/base/azure_blob.cue
  website/cue/reference/components/sinks/base/clickhouse.cue
  website/cue/reference/components/sinks/base/datadog_logs.cue
  website/cue/reference/components/sinks/base/datadog_traces.cue
  website/cue/reference/components/sinks/base/elasticsearch.cue
  website/cue/reference/components/sinks/base/gcp_cloud_storage.cue
  website/cue/reference/components/sinks/base/http.cue
  website/cue/reference/components/sinks/base/humio_logs.cue
  website/cue/reference/components/sinks/base/humio_metrics.cue
  website/cue/reference/components/sinks/base/new_relic.cue
  website/cue/reference/components/sinks/base/prometheus_remote_write.cue
  website/cue/reference/components/sinks/base/splunk_hec_logs.cue
  website/cue/reference/components/sinks/base/splunk_hec_metrics.cue
  website/cue/reference/components/sinks/base/webhdfs.cue
Labels: domain: sources, domain: sinks, domain: external docs

#18919 chore(core): Set up internal topology API
  src/app.rs
  src/components/validation/runner/mod.rs
  src/config/mod.rs
  src/config/unit_test/mod.rs
  src/sinks/datadog/traces/apm_stats/integration_tests.rs
  src/test_util/mod.rs
  src/topology/builder.rs
  src/topology/mod.rs
  src/topology/running.rs
  src/topology/test/crash.rs
  src/topology/test/end_to_end.rs
  src/topology/test/mod.rs
  src/topology/test/reload.rs
  src/validate.rs
Labels: domain: topology, type: tech debt, domain: sinks

#18931 feat(docs): add fallibility examples
  website/cue/reference/remap/expressions/function_call.cue
Labels: domain: external docs

#18798 docs: Add announcement for new repository URLs
  .github/actions/spelling/expect.txt
  netlify.toml
  website/content/en/docs/setup/installation/package-managers/apt.md
  website/content/en/docs/setup/installation/package-managers/dpkg.md
  website/content/en/docs/setup/installation/package-managers/rpm.md
  website/content/en/docs/setup/installation/package-managers/yum.md
  website/content/en/highlights/2023-11-07-new-linux-repos.md
Labels: editorial review

#18932 fix(amqp sink): remove duplicate events
  src/internal_events/amqp.rs
  src/sinks/amqp/service.rs
Labels: domain: sinks

#18940 chore(datadog)!: remove deprecated config options
  .github/semantic.yml
  src/common/datadog.rs
  src/config/enterprise.rs
  src/sinks/datadog/events/config.rs
  src/sinks/datadog/logs/config.rs
  src/sinks/datadog/metrics/config.rs
  src/sinks/datadog/mod.rs
  src/sinks/datadog/traces/config.rs
  website/content/en/highlights/2023-11-07-0-34-0-upgrade-guide.md
  website/cue/reference/components/sinks/base/datadog_events.cue
  website/cue/reference/components/sinks/base/datadog_logs.cue
  website/cue/reference/components/sinks/base/datadog_metrics.cue
Labels: domain: sinks, domain: external docs

#18948 fix(amqp sink): remove unused feature flag
  src/internal_events/mod.rs
Labels: sink: amqp

#18899 enhancement(nats source): add subscriber_capacity option
  src/sources/nats.rs
  website/cue/reference/components/sources/base/nats.cue
Labels: domain: sources, domain: external docs

#18942 chore(observability)!: remove deprecated `component_name` metric tag
  lib/vector-core/src/metrics/label_filter.rs
  src/config/source.rs
  src/topology/builder.rs
  src/topology/running.rs
  website/content/en/highlights/2023-11-07-0-34-0-upgrade-guide.md
  website/cue/reference/components/sources/internal_metrics.cue
Labels: domain: topology, domain: external docs, domain: core

#18953 chore(dev): Wrap `vector-stream` in `vector-lib`
  Cargo.lock
  Cargo.toml
  lib/vector-lib/Cargo.toml
  lib/vector-lib/src/lib.rs
  src/sinks/appsignal/service.rs
  src/sinks/aws_cloudwatch_logs/service.rs
  src/sinks/aws_cloudwatch_logs/sink.rs
  src/sinks/aws_kinesis/config.rs
  src/sinks/aws_s_s/service.rs
  src/sinks/azure_common/config.rs
  src/sinks/databend/service.rs
  src/sinks/datadog/events/service.rs
  src/sinks/datadog/logs/service.rs
  src/sinks/datadog/metrics/service.rs
  src/sinks/datadog/metrics/sink.rs
  src/sinks/datadog/traces/service.rs
  src/sinks/datadog/traces/sink.rs
  src/sinks/elasticsearch/service.rs
  src/sinks/gcs_common/service.rs
  src/sinks/greptimedb/batch.rs
  src/sinks/http/batch.rs
  src/sinks/prelude.rs
  src/sinks/prometheus/remote_write/sink.rs
  src/sinks/s3_common/service.rs
  src/sinks/splunk_hec/common/response.rs
  src/sinks/statsd/batch.rs
  src/sinks/statsd/service.rs
  src/sinks/statsd/sink.rs
  src/sinks/util/batch.rs
  src/sinks/util/builder.rs
  src/sinks/util/http.rs
  src/sinks/vector/service.rs
  src/sinks/vector/sink.rs
  src/sources/kubernetes_logs/partial_events_merger.rs
  src/transforms/reduce/mod.rs
Labels: type: tech debt, domain: sources, domain: transforms, domain: sinks, domain: dev

#18889 fix(datadog_agent source, datadog_metrics sink): handle interval for non-rate series metrics
  src/sinks/datadog/metrics/encoder.rs
  src/sinks/datadog/metrics/integration_tests.rs
  src/sources/datadog_agent/metrics.rs
  src/sources/datadog_agent/tests.rs
Labels: type: bug, sink: datadog_metrics, domain: sources, domain: sinks, source: datadog_agent

#18954 chore(ci): add dependabot group for futures
  .github/dependabot.yml
Labels: domain: ci

#18903 fix(datadog_traces sink): improve request size limiting
  src/sinks/datadog/traces/request_builder.rs
Labels: domain: sinks

#18887 enhancement(sources, sinks): add telemetry to http and grpc servers
  Cargo.toml
  lib/vector-core/src/metrics/label_filter.rs
  src/api/server.rs
  src/http.rs
  src/internal_events/grpc.rs
  src/internal_events/http.rs
  src/internal_events/mod.rs
  src/sinks/prometheus/exporter.rs
  src/sources/aws_kinesis_firehose/mod.rs
  src/sources/datadog_agent/mod.rs
  src/sources/opentelemetry/http.rs
  src/sources/splunk_hec/mod.rs
  src/sources/util/grpc/mod.rs
  src/sources/util/http/prelude.rs
  website/cue/reference/components/sinks/prometheus_exporter.cue
  website/cue/reference/components/sources/aws_kinesis_firehose.cue
  website/cue/reference/components/sources/datadog_agent.cue
  website/cue/reference/components/sources/heroku_logs.cue
  website/cue/reference/components/sources/http_server.cue
  website/cue/reference/components/sources/internal_metrics.cue
  website/cue/reference/components/sources/opentelemetry.cue
  website/cue/reference/components/sources/prometheus_remote_write.cue
  website/cue/reference/components/sources/splunk_hec.cue
  website/cue/reference/components/sources/vector.cue
  website/cue/reference/urls.cue
Labels: domain: sources, domain: sinks, domain: external docs, domain: core

#18963 chore(observability, blackhole sink)!: Don't report by default
  src/sinks/blackhole/config.rs
  website/content/en/highlights/2023-11-07-0-34-0-upgrade-guide.md
  website/cue/reference/components/sinks/base/blackhole.cue
Labels: domain: sinks, domain: external docs

#18964 chore(dev): Add wrapper for `vector-buffers` to `vector-lib`
  Cargo.lock
  Cargo.toml
  lib/vector-core/src/lib.rs
  lib/vector-lib/Cargo.toml
  lib/vector-lib/src/lib.rs
  src/api/tap.rs
  src/config/sink.rs
  src/sinks/elasticsearch/encoder.rs
  src/sinks/prelude.rs
  src/source_sender/errors.rs
  src/source_sender/mod.rs
  src/sources/kafka.rs
  src/test_util/mock/sources/basic.rs
  src/test_util/mod.rs
  src/topology/mod.rs
  src/topology/running.rs
  src/topology/task.rs
  src/topology/test/backpressure.rs
  src/topology/test/mod.rs
  src/topology/test/reload.rs
Labels: domain: topology, type: tech debt, domain: sources, domain: sinks, domain: dev, domain: core

#18977 chore(dev): Add wrapper for `enrichment` to `vector-lib`
  Cargo.lock
  Cargo.toml
  lib/vector-lib/Cargo.toml
  lib/vector-lib/src/lib.rs
  src/conditions/datadog_search.rs
  src/conditions/mod.rs
  src/conditions/vrl.rs
  src/config/enrichment_table.rs
  src/config/graph.rs
  src/config/transform.rs
  src/enrichment_tables/file.rs
  src/enrichment_tables/geoip.rs
  src/enrichment_tables/mod.rs
  src/test_util/mock/transforms/basic.rs
  src/test_util/mock/transforms/error_definitions.rs
  src/test_util/mock/transforms/noop.rs
  src/topology/builder.rs
  src/topology/schema.rs
  src/transforms/aggregate.rs
  src/transforms/aws_ec2_metadata.rs
  src/transforms/dedupe.rs
  src/transforms/filter.rs
  src/transforms/log_to_metric.rs
  src/transforms/lua/mod.rs
  src/transforms/metric_to_log.rs
  src/transforms/reduce/mod.rs
  src/transforms/remap.rs
  src/transforms/route.rs
  src/transforms/sample.rs
  src/transforms/tag_cardinality_limit/config.rs
  src/transforms/throttle.rs
Labels: domain: topology, type: tech debt, domain: transforms, domain: dev

#18982 chore(observability)!: remove `peer_addr` internal metric tag
  src/internal_events/tcp.rs
  src/sources/socket/mod.rs
  src/sources/statsd/mod.rs
  src/sources/syslog.rs
  src/test_util/components.rs
  website/content/en/highlights/2023-11-07-0-34-0-upgrade-guide.md
Labels: domain: sources

#18987 chore(releasing): Typo in v0.33.1 release docs
  website/cue/reference/releases/0.33.1.cue
Labels: domain: external docs

#18984 chore(dev): Add wrapper for `file-source` in `vector-lib`
  Cargo.lock
  Cargo.toml
  lib/vector-lib/Cargo.toml
  lib/vector-lib/src/lib.rs
  src/internal_events/file.rs
  src/sources/file.rs
  src/sources/kubernetes_logs/k8s_paths_provider.rs
  src/sources/kubernetes_logs/mod.rs
  src/sources/kubernetes_logs/util.rs
Labels: type: tech debt, domain: sources, domain: dev

#18992 chore(dev): Add `vector-lib` wrapper for three more libs
  Cargo.lock
  Cargo.toml
  lib/vector-lib/Cargo.toml
  lib/vector-lib/src/lib.rs
  src/internal_events/prometheus.rs
  src/sinks/prometheus/collector.rs
  src/sinks/prometheus/remote_write/tests.rs
  src/sources/opentelemetry/grpc.rs
  src/sources/opentelemetry/http.rs
  src/sources/opentelemetry/mod.rs
  src/sources/opentelemetry/tests.rs
  src/sources/prometheus/parser.rs
  src/sources/prometheus/remote_write.rs
  src/tap/cmd.rs
  src/tap/mod.rs
  src/top/cmd.rs
  src/top/metrics.rs
Labels: type: tech debt, domain: sources, domain: sinks, domain: dev

#19000 chore: Follow redirects for `sh.vector.dev`
  website/content/en/docs/setup/installation/manual/vector-installer.md
  website/content/en/docs/setup/quickstart.md
  website/content/en/guides/getting-started/getting-started.md
  website/content/en/highlights/2020-07-09-add-musl-and-glibc-support-to-install-sh.md
  website/cue/reference/administration/example_docker_install_commands.cue
  website/cue/reference/administration/install_commands.cue
  website/cue/reference/administration/interfaces/vector_installer.cue
Labels: domain: external docs

#19001 chore(kubernetes): Regenerate manifests from 0.27.0 chart
  distribution/kubernetes/vector-agent/README.md
  distribution/kubernetes/vector-agent/configmap.yaml
  distribution/kubernetes/vector-agent/daemonset.yaml
  distribution/kubernetes/vector-agent/rbac.yaml
  distribution/kubernetes/vector-agent/service-headless.yaml
  distribution/kubernetes/vector-agent/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/README.md
  distribution/kubernetes/vector-aggregator/configmap.yaml
  distribution/kubernetes/vector-aggregator/service-headless.yaml
  distribution/kubernetes/vector-aggregator/service.yaml
  distribution/kubernetes/vector-aggregator/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/statefulset.yaml
  distribution/kubernetes/vector-stateless-aggregator/README.md
  distribution/kubernetes/vector-stateless-aggregator/configmap.yaml
  distribution/kubernetes/vector-stateless-aggregator/deployment.yaml
  distribution/kubernetes/vector-stateless-aggregator/service-headless.yaml
  distribution/kubernetes/vector-stateless-aggregator/service.yaml
  distribution/kubernetes/vector-stateless-aggregator/serviceaccount.yaml
Labels: domain: releasing
