Repository vectordotdev/vector, pull requests merged in 2023-03, with the labels that each got.

#16570 chore(vdev): Regularize `vdev` integration test arguments to `cargo`
  scripts/integration/amqp/test.yaml
  scripts/integration/aws/test.yaml
  scripts/integration/axiom/test.yaml
  scripts/integration/azure/test.yaml
  scripts/integration/chronicle/test.yaml
  scripts/integration/clickhouse/test.yaml
  scripts/integration/databend/test.yaml
  scripts/integration/datadog-agent/test.yaml
  scripts/integration/datadog-logs/test.yaml
  scripts/integration/datadog-metrics/test.yaml
  scripts/integration/datadog-traces/test.yaml
  scripts/integration/dnstap/test.yaml
  scripts/integration/docker-logs/test.yaml
  scripts/integration/elasticsearch/test.yaml
  scripts/integration/eventstoredb/test.yaml
  scripts/integration/fluent/test.yaml
  scripts/integration/gcp/test.yaml
  scripts/integration/http-client/test.yaml
  scripts/integration/humio/test.yaml
  scripts/integration/influxdb/test.yaml
  scripts/integration/kafka/test.yaml
  scripts/integration/logstash/test.yaml
  scripts/integration/loki/test.yaml
  scripts/integration/mongodb/test.yaml
  scripts/integration/nats/test.yaml
  scripts/integration/nginx/test.yaml
  scripts/integration/opentelemetry/test.yaml
  scripts/integration/postgres/test.yaml
  scripts/integration/prometheus/test.yaml
  scripts/integration/pulsar/test.yaml
  scripts/integration/redis/test.yaml
  scripts/integration/shutdown/test.yaml
  scripts/integration/splunk/test.yaml
  vdev/src/commands/integration/show.rs
  vdev/src/testing/config.rs
  vdev/src/testing/integration.rs
Labels: domain: ci, ci-condition: integration tests enable

#16648 chore: Revert "Regularize `vdev` integration test arguments to …
  scripts/integration/amqp/test.yaml
  scripts/integration/aws/test.yaml
  scripts/integration/axiom/test.yaml
  scripts/integration/azure/test.yaml
  scripts/integration/chronicle/test.yaml
  scripts/integration/clickhouse/test.yaml
  scripts/integration/databend/test.yaml
  scripts/integration/datadog-agent/test.yaml
  scripts/integration/datadog-logs/test.yaml
  scripts/integration/datadog-metrics/test.yaml
  scripts/integration/datadog-traces/test.yaml
  scripts/integration/dnstap/test.yaml
  scripts/integration/docker-logs/test.yaml
  scripts/integration/elasticsearch/test.yaml
  scripts/integration/eventstoredb/test.yaml
  scripts/integration/fluent/test.yaml
  scripts/integration/gcp/test.yaml
  scripts/integration/http-client/test.yaml
  scripts/integration/humio/test.yaml
  scripts/integration/influxdb/test.yaml
  scripts/integration/kafka/test.yaml
  scripts/integration/logstash/test.yaml
  scripts/integration/loki/test.yaml
  scripts/integration/mongodb/test.yaml
  scripts/integration/nats/test.yaml
  scripts/integration/nginx/test.yaml
  scripts/integration/opentelemetry/test.yaml
  scripts/integration/postgres/test.yaml
  scripts/integration/prometheus/test.yaml
  scripts/integration/pulsar/test.yaml
  scripts/integration/redis/test.yaml
  scripts/integration/shutdown/test.yaml
  scripts/integration/splunk/test.yaml
  vdev/src/commands/integration/show.rs
  vdev/src/testing/config.rs
  vdev/src/testing/integration.rs
Labels: domain: ci, ci-condition: integration tests enable

#16587 feat(http_server): add zstd support
  Cargo.toml
  src/sources/util/http/encoding.rs
  website/cue/reference/components/sources/http_server.cue
Labels: domain: sources, domain: external docs

#16649 chore(releasing): Add known issues for 0.28.0.
  website/cue/reference/releases/0.28.0.cue
Labels: domain: external docs

#16475 chore(azure_monitor_logs sink): update log namespacing
  src/sinks/azure_monitor_logs.rs
  website/content/en/highlights/2023-02-28-0-28-0-upgrade-guide.md
  website/cue/reference/components/sinks/base/azure_monitor_logs.cue
Labels: domain: sinks, domain: external docs

#16651 fix(aws service): Revert AWS-SDK updates
  Cargo.lock
  Cargo.toml
  scripts/integration/aws/compose.yaml
  src/aws/auth.rs
  src/aws/mod.rs
  src/aws/region.rs
  src/common/s3.rs
  src/sinks/aws_cloudwatch_logs/config.rs
  src/sinks/aws_cloudwatch_logs/integration_tests.rs
  src/sinks/aws_cloudwatch_logs/request.rs
  src/sinks/aws_cloudwatch_logs/retry.rs
  src/sinks/aws_cloudwatch_metrics/mod.rs
  src/sinks/aws_kinesis/firehose/config.rs
  src/sinks/aws_kinesis/firehose/integration_tests.rs
  src/sinks/aws_kinesis/streams/config.rs
  src/sinks/aws_kinesis/streams/integration_tests.rs
  src/sinks/aws_s3/integration_tests.rs
  src/sinks/aws_sqs/config.rs
  src/sinks/aws_sqs/integration_tests.rs
  src/sinks/elasticsearch/common.rs
  src/sinks/elasticsearch/service.rs
  src/sinks/prometheus/remote_write.rs
  src/sinks/s3_common/config.rs
  src/sources/aws_s3/mod.rs
  src/sources/aws_sqs/config.rs
  src/sources/aws_sqs/integration_tests.rs
  src/sources/aws_sqs/source.rs
Labels: domain: sources, domain: sinks, domain: ci, ci-condition: integration tests enable

#16652 chore(vdev): Regularize vdev integration test arguments to cargo
  scripts/integration/amqp/test.yaml
  scripts/integration/aws/test.yaml
  scripts/integration/axiom/test.yaml
  scripts/integration/azure/test.yaml
  scripts/integration/chronicle/test.yaml
  scripts/integration/clickhouse/test.yaml
  scripts/integration/databend/test.yaml
  scripts/integration/datadog-agent/test.yaml
  scripts/integration/datadog-logs/test.yaml
  scripts/integration/datadog-metrics/test.yaml
  scripts/integration/datadog-traces/test.yaml
  scripts/integration/dnstap/test.yaml
  scripts/integration/docker-logs/test.yaml
  scripts/integration/elasticsearch/test.yaml
  scripts/integration/eventstoredb/test.yaml
  scripts/integration/fluent/test.yaml
  scripts/integration/gcp/test.yaml
  scripts/integration/http-client/test.yaml
  scripts/integration/humio/test.yaml
  scripts/integration/influxdb/test.yaml
  scripts/integration/kafka/test.yaml
  scripts/integration/logstash/test.yaml
  scripts/integration/loki/test.yaml
  scripts/integration/mongodb/test.yaml
  scripts/integration/nats/test.yaml
  scripts/integration/nginx/test.yaml
  scripts/integration/opentelemetry/test.yaml
  scripts/integration/postgres/test.yaml
  scripts/integration/prometheus/test.yaml
  scripts/integration/pulsar/test.yaml
  scripts/integration/redis/test.yaml
  scripts/integration/shutdown/test.yaml
  scripts/integration/splunk/test.yaml
  vdev/src/commands/integration/show.rs
  vdev/src/testing/config.rs
  vdev/src/testing/integration.rs
Labels: domain: ci, ci-condition: integration tests enable, domain: vdev

#16668 docs: replace headings with bold to fix table of contents rendering
  website/cue/reference.cue
Labels: domain: external docs

#16654 feat(ci)!: Add check-spelling workflow
  .github/actions/spelling/README.md
  .github/actions/spelling/advice.md
  .github/actions/spelling/allow.txt
  .github/actions/spelling/candidate.patterns
  .github/actions/spelling/excludes.txt
  .github/actions/spelling/expect.txt
  .github/actions/spelling/line_forbidden.patterns
  .github/actions/spelling/patterns.txt
  .github/actions/spelling/reject.txt
  .github/workflows/spelling.yml
  docs/tutorials/lognamespacing.md
  docs/tutorials/sinks/1_basic_sink.md
  docs/tutorials/sinks/2_http_sink.md
  lib/vector-buffers/src/topology/acks.rs
  lib/vector-buffers/src/variants/disk_v2/tests/model/mod.rs
  lib/vector-config/tests/integration/smoke.rs
  lib/vector-core/src/event/discriminant.rs
  lib/vrl/stdlib/data/user_agent_regexes.yaml
  lib/vrl/web-playground/public/vrl-highlighter.js
  rfcs/2020-03-06-1999-api-extensions-for-lua-transform.md
  rfcs/2020-08-27-3603-postgres-metrics.md
  rfcs/2022-11-2-14714-expand-vrl-web-ui-beyond-MVP-status.md
  src/enrichment_tables/file.rs
  src/sinks/datadog/mod.rs
  src/sinks/util/sink.rs
  src/sinks/websocket/sink.rs
  src/sources/internal_logs.rs
  src/sources/util/net/mod.rs
  website/content/en/guides/level-up/managing-schemas.md
  website/content/en/highlights/2022-07-07-0-23-0-upgrade-guide.md
  website/cue/reference/administration/interfaces/rpm.cue
  website/cue/reference/components/sources/aws_kinesis_firehose.cue
  website/cue/reference/releases/0.10.0.cue
  website/cue/reference/releases/0.24.0.cue
  website/cue/reference/releases/0.27.0.cue
  website/cue/reference/releases/0.28.0.cue
  website/layouts/partials/admonition.html
Labels: domain: sources, domain: sinks, domain: external docs, domain: vrl, domain: core, domain: rfc

#16669 chore: Re-export `LogNamespace`
  src/config/mod.rs
Labels: type: tech debt

#16670 feat(vdev): Support `TEST_LOG` and add `--no-capture` flag to cargo nextest
  vdev/src/testing/integration.rs
Labels: ci-condition: integration tests enable, domain: vdev

#16489 feat(socket source): add optional `max_connection_duration_secs` configuration setting
  src/sources/fluent/mod.rs
  src/sources/logstash.rs
  src/sources/socket/mod.rs
  src/sources/socket/tcp.rs
  src/sources/statsd/mod.rs
  src/sources/syslog.rs
  src/sources/util/net/tcp/mod.rs
  website/cue/reference/components/sources/base/socket.cue
Labels: source: socket, domain: sources, domain: external docs

#16697 chore(releasing): Regenerate k8s manifests for 0.20.1 chart
  distribution/kubernetes/vector-agent/README.md
  distribution/kubernetes/vector-agent/configmap.yaml
  distribution/kubernetes/vector-agent/daemonset.yaml
  distribution/kubernetes/vector-agent/rbac.yaml
  distribution/kubernetes/vector-agent/service-headless.yaml
  distribution/kubernetes/vector-agent/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/README.md
  distribution/kubernetes/vector-aggregator/configmap.yaml
  distribution/kubernetes/vector-aggregator/service-headless.yaml
  distribution/kubernetes/vector-aggregator/service.yaml
  distribution/kubernetes/vector-aggregator/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/statefulset.yaml
  distribution/kubernetes/vector-stateless-aggregator/README.md
  distribution/kubernetes/vector-stateless-aggregator/configmap.yaml
  distribution/kubernetes/vector-stateless-aggregator/deployment.yaml
  distribution/kubernetes/vector-stateless-aggregator/service-headless.yaml
  distribution/kubernetes/vector-stateless-aggregator/service.yaml
  distribution/kubernetes/vector-stateless-aggregator/serviceaccount.yaml
Labels: domain: releasing

#16700 chore(internal docs, releasing): Fix 0.28.0 cue
  website/cue/reference/releases/0.28.0.cue
Labels: domain: external docs

#16557 feat(sinks): Add webhdfs sink suppport
  .github/actions/spelling/allow.txt
  .github/workflows/integration-test.yml
  Cargo.lock
  Cargo.toml
  scripts/integration/webhdfs/compose.yaml
  scripts/integration/webhdfs/test.yaml
  src/sinks/mod.rs
  src/sinks/opendal_common.rs
  src/sinks/webhdfs/config.rs
  src/sinks/webhdfs/integration_tests.rs
  src/sinks/webhdfs/mod.rs
  src/sinks/webhdfs/test.rs
  tests/data/webhdfs/hadoop.env
  website/content/en/docs/reference/configuration/sinks/webhdfs.md
  website/cue/reference/components/sinks/base/webhdfs.cue
  website/cue/reference/components/sinks/webhdfs.cue
Labels: domain: sinks, domain: ci, domain: external docs, ci-condition: integration tests enable

#16711 chore(deps): Make the `bollard` dep optional
  Cargo.toml
Labels: type: tech debt, ci-condition: integration tests enable, dependencies

#16591 feat(loki sink): allow dynamic labels without prefix
  src/sinks/loki/config.rs
  src/sinks/loki/sink.rs
  website/cue/reference/components/sinks/base/loki.cue
  website/cue/reference/components/sinks/loki.cue
Labels: domain: sinks, domain: external docs

#16739 enhancement(schemas): Only validate definitions with Vector LogNamespace
  lib/vector-core/src/schema/requirement.rs
  src/topology/builder.rs
Labels: domain: topology, ci-condition: integration tests enable, domain: core

#16661 chore(vdev): Rewrite scripts in vdev
  .github/workflows/test.yml
  scripts/check-component-docs.sh
  scripts/install-git-hooks.sh
  scripts/release-github.sh
  scripts/signoff-git-hook.sh
  scripts/test-vrl.sh
  vdev/src/commands/check/component_docs.rs
  vdev/src/commands/check/mod.rs
  vdev/src/commands/meta/install_git_hooks.rs
  vdev/src/commands/meta/mod.rs
  vdev/src/commands/mod.rs
  vdev/src/commands/release/github.rs
  vdev/src/commands/release/mod.rs
  vdev/src/commands/test_vrl.rs
  vdev/src/git.rs
Labels: domain: ci, domain: releasing, ci-condition: integration tests enable, domain: vdev

#16728 chore(vrl): Remove `Default` impl from owned paths
  lib/vector-lookup/src/lookup_v2/mod.rs
  lib/vrl/lookup/src/lookup_v2/owned.rs
Labels: domain: vrl

#16746 fix(http sink): restore POST as the correct default method
  src/sinks/http.rs
  website/cue/reference/components/sinks/base/http.cue
Labels: sink: http, meta: regression, domain: sinks, domain: external docs

#16603 feat(codec): Add csv encoding for sinks
  Cargo.lock
  lib/codecs/Cargo.toml
  lib/codecs/src/encoding/format/csv.rs
  lib/codecs/src/encoding/format/mod.rs
  lib/codecs/src/encoding/mod.rs
  lib/vector-lookup/src/lookup_v2/mod.rs
  src/codecs/encoding/config.rs
  src/codecs/encoding/encoder.rs
  src/components/validation/resources/mod.rs
  website/cue/reference.cue
  website/cue/reference/components/sinks/base/amqp.cue
  website/cue/reference/components/sinks/base/aws_cloudwatch_logs.cue
  website/cue/reference/components/sinks/base/aws_kinesis_firehose.cue
  website/cue/reference/components/sinks/base/aws_kinesis_streams.cue
  website/cue/reference/components/sinks/base/aws_s3.cue
  website/cue/reference/components/sinks/base/aws_sqs.cue
  website/cue/reference/components/sinks/base/azure_blob.cue
  website/cue/reference/components/sinks/base/console.cue
  website/cue/reference/components/sinks/base/file.cue
  website/cue/reference/components/sinks/base/gcp_chronicle_unstructured.cue
  website/cue/reference/components/sinks/base/gcp_cloud_storage.cue
  website/cue/reference/components/sinks/base/gcp_pubsub.cue
  website/cue/reference/components/sinks/base/http.cue
  website/cue/reference/components/sinks/base/humio_logs.cue
  website/cue/reference/components/sinks/base/kafka.cue
  website/cue/reference/components/sinks/base/loki.cue
  website/cue/reference/components/sinks/base/nats.cue
  website/cue/reference/components/sinks/base/papertrail.cue
  website/cue/reference/components/sinks/base/pulsar.cue
  website/cue/reference/components/sinks/base/redis.cue
  website/cue/reference/components/sinks/base/socket.cue
  website/cue/reference/components/sinks/base/splunk_hec_logs.cue
  website/cue/reference/components/sinks/base/websocket.cue
Labels: domain: codecs, domain: external docs

#16548 feat(influxdb_logs sink): Use log namespacing and semantic meaning
  src/sinks/influxdb/logs.rs
  src/sinks/influxdb/mod.rs
  website/cue/reference/components/sinks/base/influxdb_logs.cue
  website/cue/reference/components/sinks/influxdb_logs.cue
Labels: domain: sinks, domain: external docs, ci-condition: integration tests enable

#16723 fix(elasticsearch): Fix panic in parsing `BulkConfig.index` by making `BulkConfig` non-optional.
  src/sinks/aws_kinesis/firehose/integration_tests.rs
  src/sinks/elasticsearch/config.rs
  src/sinks/elasticsearch/integration_tests.rs
  src/sinks/elasticsearch/mod.rs
  src/sinks/elasticsearch/tests.rs
  src/sinks/sematext/logs.rs
Labels: domain: sinks, ci-condition: integration tests enable

#16750 chore(datadog sinks)!: extract default_api_key into shared config struct
  regression/cases/syslog_regex_logs2metric_ddmetrics/vector/vector.toml
  src/config/enterprise.rs
  src/sinks/datadog/events/config.rs
  src/sinks/datadog/logs/config.rs
  src/sinks/datadog/metrics/config.rs
  src/sinks/datadog/mod.rs
  src/sinks/datadog/traces/config.rs
  website/content/en/highlights/2023-04-11-0-29-0-upgrade-guide.md
Labels: type: tech debt, sink: datadog_metrics, meta: breaking change, domain: sinks, sink: datadog_logs, sink: datadog_events, source: datadog_logs, ci-condition: integration tests enable, sink: datadog_traces

#16742 fix(s3-source): ensure batch status is updated
  src/sources/aws_s3/sqs.rs
Labels: type: bug, domain: sources, source: aws_s3

#16752 chore(socket source): deprecate the `max_length` setting for `tcp` and `unix` modes
  src/sources/socket/mod.rs
  src/sources/socket/tcp.rs
  src/sources/socket/unix.rs
  website/content/en/highlights/2023-04-11-0-29-0-upgrade-guide.md
Labels: source: socket, type: tech debt, domain: sources

#16724 chore(vdev): Rewrite release-push.sh to vdev
  scripts/release-push.sh
  vdev/src/app.rs
  vdev/src/commands/release/mod.rs
  vdev/src/commands/release/push.rs
  vdev/src/commands/version.rs
  vdev/src/git.rs
Labels: domain: ci, domain: releasing, ci-condition: integration tests enable, domain: vdev

#16769 feat(kubernetes_logs): Add container imageID field
  src/sources/kubernetes_logs/pod_metadata_annotator.rs
  website/cue/reference/components/sources/base/kubernetes_logs.cue
  website/cue/reference/components/sources/kubernetes_logs.cue
Labels: domain: sources, domain: external docs

#14762 enhancement(statsd.rs): Properly encode aggregate histograms in statsd sink
  src/sinks/statsd.rs
Labels: domain: sinks

#16790 fix(sinks): Sinks webhdfs is not built
  Cargo.lock
  Cargo.toml
  src/sinks/mod.rs
  src/sinks/opendal_common.rs
  src/sinks/webhdfs/config.rs
  src/sinks/webhdfs/integration_tests.rs
  website/cue/reference/components/sinks/base/webhdfs.cue
Labels: domain: sinks, domain: external docs

#16799 docs(journald source): Override default description for timestamp
  website/cue/reference/components/sources/journald.cue
Labels: domain: external docs

#16802 chore(config): Add schema generation visitor support
  lib/vector-config-common/src/schema/gen.rs
Labels: type: enhancement, type: tech debt, domain: config, domain: schemas, ci-condition: integration tests enable

#16751 chore(vdev): Rewrite compile-vrl-wasm.sh to vdev
  Makefile
  scripts/compile-vrl-wasm.sh
  vdev/src/commands/generate/mod.rs
  vdev/src/commands/generate/vrl_wasm.rs
Labels: domain: ci, ci-condition: integration tests enable, domain: vdev

#16812 chore(startup): Break up `Application::prepare_from_opts` a bit
  src/app.rs
  src/cli.rs
Labels: type: tech debt, domain: startup

#16717 chore(docs): Add docs to the `lookup` crate
  lib/vrl/lookup/src/lookup_v2/mod.rs
Labels: domain: vrl

#16720 feat(component validation tests): add initial support for source metrics
  src/components/validation/mod.rs
  src/components/validation/resources/http.rs
  src/components/validation/resources/mod.rs
  src/components/validation/runner/config.rs
  src/components/validation/runner/mod.rs
  src/components/validation/runner/telemetry.rs
  src/components/validation/validators/component_spec/mod.rs
  src/components/validation/validators/component_spec/sources.rs
  src/components/validation/validators/mod.rs
  src/sources/heroku_logs.rs
  src/sources/http_client/client.rs
  src/sources/http_server.rs
  src/sources/prometheus/remote_write.rs
  src/sources/prometheus/scrape.rs
  src/sources/util/http/prelude.rs
  src/sources/util/http/query.rs
  src/sources/util/http_client.rs
Labels: domain: sources

#16765 chore(vdev): Rewrite ci-generate-publish-metadata
  Cargo.lock
  Makefile
  scripts/ci-generate-publish-metadata.sh
  vdev/Cargo.toml
  vdev/src/commands/generate/mod.rs
  vdev/src/commands/generate/publish_metadata.rs
  vdev/src/git.rs
Labels: domain: ci, ci-condition: integration tests enable, domain: vdev

#16820 chore(startup): Break up application config setup more
  src/app.rs
  src/cli.rs
Labels: type: tech debt, domain: startup

#16819 fix(http sink): provide a description to the compression field
  src/sinks/util/buffer/compression.rs
Labels: domain: sinks

#16836 fix(syslog): source_id -> source_ip
  src/sources/syslog.rs
Labels: domain: sources

#16855 fix(docs): fix rustdoc errors
  .github/workflows/test.yml
  lib/vector-config-common/src/schema/gen.rs
  lib/vector-config-common/src/schema/json_schema.rs
  src/amqp.rs
  src/api/schema/events/notification.rs
  src/api/schema/metrics/filter.rs
  src/api/schema/metrics/host.rs
  src/api/schema/sort.rs
  src/aws/auth.rs
  src/lib.rs
  src/sinks/aws_cloudwatch_logs/request_builder.rs
  src/sinks/datadog/mod.rs
  src/sinks/influxdb/mod.rs
  src/sinks/util/statistic.rs
  src/sinks/webhdfs/mod.rs
  src/sources/aws_ecs_metrics/parser.rs
  src/sources/aws_kinesis_firehose/models.rs
  src/sources/fluent/message.rs
  src/sources/kubernetes_logs/k8s_paths_provider.rs
  src/sources/kubernetes_logs/namespace_metadata_annotator.rs
  src/sources/kubernetes_logs/node_metadata_annotator.rs
  src/sources/kubernetes_logs/path_helpers.rs
  src/sources/kubernetes_logs/pod_metadata_annotator.rs
  src/sources/mongodb_metrics/mod.rs
  src/sources/mongodb_metrics/types.rs
Labels: domain: sources, domain: sinks

#16826 chore(startup): Break up application config setup
  src/app.rs
  src/cli.rs
  src/signal.rs
  src/vector_windows.rs
Labels: type: tech debt, domain: startup

#16858 fix(panic): fix panic under low resources
  src/sources/util/net/tcp/request_limiter.rs
Labels: domain: sources

#16876 chore(startup): Simplify parameter to `ApplicationConfig::from_opts`
  src/app.rs
Labels: type: tech debt, domain: startup

#16892 docs: Specify journald source requirements
  website/cue/reference/components/sources/journald.cue
Labels: domain: external docs

#16873 chore(startup): Split up `Application::run` into logical phases
  src/app.rs
  src/control_server.rs
  src/main.rs
  src/signal.rs
  src/vector_windows.rs
Labels: type: tech debt, domain: startup

#16896 fix(docs, releasing): dpkg install docs use the correct package name
  website/content/en/docs/setup/installation/package-managers/dpkg.md
  website/cue/reference/administration/interfaces/dpkg.cue
Labels: domain: external docs

#16897 chore(tests): Make the `test-behavior` test build a little faster
  Makefile
Labels: domain: tests, type: tech debt, domain: ci

#16900 chore(startup): [revert] Split up `Application::run` into logical phases
  src/app.rs
  src/control_server.rs
  src/main.rs
  src/signal.rs
  src/vector_windows.rs
Labels: ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#16839 chore(core): Migrate `LogSchema` `timestamp` to new lookup code
  benches/template.rs
  lib/codecs/src/decoding/format/gelf.rs
  lib/codecs/src/decoding/format/json.rs
  lib/codecs/src/decoding/format/syslog.rs
  lib/codecs/src/encoding/format/csv.rs
  lib/opentelemetry-proto/src/convert.rs
  lib/vector-core/src/config/log_schema.rs
  lib/vector-core/src/config/mod.rs
  lib/vector-core/src/event/log_event.rs
  lib/vector-core/src/event/test/serialization.rs
  lib/vector-core/src/event/trace.rs
  lib/vector-core/src/schema/definition.rs
  lib/vector-lookup/src/lookup_v2/mod.rs
  src/codecs/encoding/config.rs
  src/codecs/encoding/transformer.rs
  src/config/mod.rs
  src/sinks/aws_cloudwatch_logs/integration_tests.rs
  src/sinks/aws_cloudwatch_logs/request_builder.rs
  src/sinks/azure_monitor_logs.rs
  src/sinks/clickhouse/integration_tests.rs
  src/sinks/elasticsearch/integration_tests.rs
  src/sinks/elasticsearch/tests.rs
  src/sinks/humio/logs.rs
  src/sinks/humio/metrics.rs
  src/sinks/loki/integration_tests.rs
  src/sinks/loki/sink.rs
  src/sinks/splunk_hec/common/util.rs
  src/sinks/splunk_hec/logs/config.rs
  src/sinks/splunk_hec/logs/integration_tests.rs
  src/sinks/splunk_hec/logs/sink.rs
  src/sinks/splunk_hec/logs/tests.rs
  src/source_sender/mod.rs
  src/sources/amqp.rs
  src/sources/aws_kinesis_firehose/handlers.rs
  src/sources/aws_s3/sqs.rs
  src/sources/aws_sqs/source.rs
  src/sources/dnstap/mod.rs
  src/sources/dnstap/parser.rs
  src/sources/dnstap/schema.rs
  src/sources/docker_logs/mod.rs
  src/sources/exec/mod.rs
  src/sources/file.rs
  src/sources/fluent/mod.rs
  src/sources/heroku_logs.rs
  src/sources/http_server.rs
  src/sources/journald.rs
  src/sources/kafka.rs
  src/sources/kubernetes_logs/mod.rs
  src/sources/kubernetes_logs/parser/cri.rs
  src/sources/kubernetes_logs/parser/docker.rs
  src/sources/logstash.rs
  src/sources/redis/mod.rs
  src/sources/splunk_hec/mod.rs
  src/sources/syslog.rs
  src/sources/util/framestream.rs
  src/sources/util/message_decoding.rs
  src/template.rs
  src/transforms/dedupe.rs
  src/transforms/log_to_metric.rs
  src/transforms/metric_to_log.rs
Labels: domain: sources, domain: transforms, domain: sinks, domain: codecs, ci-condition: integration tests enable, domain: core

#16917 chore(vdev): Rename `generate` subcommands to `build`
  .github/ISSUE_TEMPLATE/minor-release.md
  .github/ISSUE_TEMPLATE/patch-release.md
  Makefile
  vdev/src/commands/build/mod.rs
  vdev/src/commands/build/publish_metadata.rs
  vdev/src/commands/build/vrl_wasm.rs
  vdev/src/commands/generate/mod.rs
  vdev/src/commands/mod.rs
Labels: type: tech debt, domain: dev, domain: vdev

#16915 chore(startup): Break out API startup from `Application::run`
  src/app.rs
Labels: type: tech debt, domain: startup, ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable, ci-condition: integration tests enable

#16898 enhancement(vdev): Add subcommand to report on crate versions
  Cargo.lock
  vdev/Cargo.toml
  vdev/src/app.rs
  vdev/src/commands/build/vector.rs
  vdev/src/commands/crate_versions.rs
  vdev/src/commands/mod.rs
  vdev/src/testing/runner.rs
  vdev/src/util.rs
Labels: type: enhancement, domain: dev, domain: vdev

#16918 chore(vrl): VRL separation part 4 (cli)
  Cargo.lock
  Cargo.toml
  lib/vector-vrl-functions/Cargo.toml
  lib/vector-vrl/cli/Cargo.toml
  lib/vector-vrl/cli/LICENSE
  lib/vector-vrl/cli/src/main.rs
  lib/vector-vrl/functions/Cargo.toml
  lib/vector-vrl/functions/src/get_secret.rs
  lib/vector-vrl/functions/src/lib.rs
  lib/vector-vrl/functions/src/remove_metadata_field.rs
  lib/vector-vrl/functions/src/remove_secret.rs
  lib/vector-vrl/functions/src/set_secret.rs
  lib/vector-vrl/functions/src/set_semantic_meaning.rs
  lib/vrl/cli/Cargo.toml
  lib/vrl/cli/src/cmd.rs
  lib/vrl/cli/src/main.rs
  lib/vrl/cli/src/repl.rs
  lib/vrl/tests/Cargo.toml
  src/cli.rs
Labels: domain: vrl

#16921 chore(core): Pass an explicit runtime into functions that require it to be running
  src/app.rs
  src/signal.rs
Labels: type: tech debt, ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable, ci-condition: integration tests enable

#16927 chore(startup): Break up app startup from running
  src/api/server.rs
  src/app.rs
  src/main.rs
  src/vector_windows.rs
Labels: type: tech debt, domain: startup, ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable, ci-condition: integration tests enable

#16933 fix (website/cue/reference): copy/paste error
  website/cue/reference/cli.cue
Labels: domain: external docs

#16932 chore(core): Break out shutdown from main running loop
  src/app.rs
  src/control_server.rs
Labels: type: tech debt, ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable, ci-condition: integration tests enable

#16926 fix(core): Fix Value::Float comparisons
  lib/vrl/value/src/value.rs
  lib/vrl/value/src/value/regex.rs
Labels: domain: vrl

#16937 chore(config): Clean up helper environment variable after schema gen
  lib/vector-config/src/schema/helpers.rs
Labels: type: tech debt, domain: config

#16946 fix(prometheus_scrape source): Increase max value count of summary
  lib/prometheus-parser/src/lib.rs
  src/sources/prometheus/parser.rs
Labels: domain: sources

#16768 enhancement(vrl stdlib): Add additional random functions
  lib/vrl/stdlib/Cargo.toml
  lib/vrl/stdlib/benches/benches.rs
  lib/vrl/stdlib/src/lib.rs
  lib/vrl/stdlib/src/random_bool.rs
  lib/vrl/stdlib/src/random_float.rs
  lib/vrl/stdlib/src/random_int.rs
  lib/vrl/web-playground/Cargo.toml
  website/cue/reference/remap/functions/random_bool.cue
  website/cue/reference/remap/functions/random_float.cue
  website/cue/reference/remap/functions/random_int.cue
Labels: domain: external docs, domain: vrl

#16955 revert(administration)!: Remove experimental reload API
  Cargo.lock
  Cargo.toml
  lib/vector-buffers/src/topology/builder.rs
  lib/vector-common/src/shutdown.rs
  src/app.rs
  src/control_server.rs
  src/lib.rs
  src/topology/controller.rs
  src/topology/mod.rs
  src/topology/running.rs
Labels: domain: topology, domain: administration, domain: reload

#16970 fix(splunk_hec sink): use date from 1999 days ago for auto_extracted timestamp integration test
  src/sinks/splunk_hec/logs/integration_tests.rs
Labels: domain: sinks, ci-condition: integration tests enable

#16913 chore(config): add support for generating ambiguous enum schemas via `anyOf` instead of `oneOf`
  lib/vector-config-common/src/schema/gen.rs
  lib/vector-config-common/src/schema/mod.rs
  lib/vector-config-common/src/schema/visit.rs
  lib/vector-config-macros/Cargo.toml
  lib/vector-config-macros/src/configurable.rs
  lib/vector-config/src/schema/helpers.rs
  lib/vector-config/src/schema/visitors/unevaluated.rs
  lib/vector-config/tests/integration/smoke.rs
  scripts/generate-component-docs.rb
Labels: domain: ci

#16996 enhancement(ci): (revert) Add Github Workflow to publish custom builds from a branch.
  .github/actions/spelling/patterns.txt
  .github/workflows/custom_builds.yml
  .github/workflows/nightly.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  Makefile
  build.rs
  distribution/msi/build.sh
  scripts/build-docker.sh
  scripts/package-msi.sh
  scripts/package-rpm.sh
  scripts/release-s3.sh
  src/lib.rs
  vdev/src/app.rs
  vdev/src/commands/build/publish_metadata.rs
  vdev/src/commands/mod.rs
  vdev/src/commands/release/channel.rs
  vdev/src/commands/release/github.rs
  vdev/src/util.rs
Labels: domain: ci, domain: releasing, ci-condition: integration tests enable

#16997 chore(axiom sink): Exit early if AXIOM_TOKEN isn't set in integration tests
  src/sinks/axiom.rs
Labels: domain: sinks, ci-condition: integration tests enable

#16998 doc(sinks/aws_kinesis): describe partial failure behavior
  src/sinks/aws_kinesis/streams/config.rs
Labels: domain: sinks

#16928 fix(file source): make FinalizerSet optionally handle shutdown signals
  lib/file-source/src/file_server.rs
  lib/vector-buffers/src/variants/disk_v2/ledger.rs
  lib/vector-common/src/finalizer.rs
  src/sources/amqp.rs
  src/sources/aws_sqs/source.rs
  src/sources/file.rs
  src/sources/gcp_pubsub.rs
  src/sources/journald.rs
  src/sources/kafka.rs
  src/sources/splunk_hec/acknowledgements.rs
Labels: type: bug, source: file, domain: sources

#17009 feat(kubernetes_logs): Add backoff for watchers
  src/sources/kubernetes_logs/mod.rs
Labels: domain: sources, ci-condition: k8s e2e all targets, ci-condition: k8s e2e tests enable

#16829 feat(databend sink): support csv encoding & compression none
  lib/codecs/src/lib.rs
  src/sinks/databend/compression.rs
  src/sinks/databend/config.rs
  src/sinks/databend/encoding.rs
  src/sinks/databend/integration_tests.rs
  src/sinks/databend/mod.rs
  src/sinks/databend/request_builder.rs
  src/sinks/databend/sink.rs
  website/cue/reference/components/sinks/base/databend.cue
  website/cue/reference/components/sinks/databend.cue
Labels: domain: sinks, domain: external docs

#17010 chore(config): Expose a couple of schema helper functions
  lib/vector-config/src/schema/helpers.rs
Labels: type: tech debt, domain: config
