Repository vectordotdev/vector, pull requests merged in 2023-05, with the labels that each got.

#17267 chore(dev): remove editors from gitignore
  .gitignore
Labels: domain: dev

#17295 feat: adds 'metric_name' field to internal logs for the tag_cardinality_limit component
  src/internal_events/tag_cardinality_limit.rs
  src/transforms/tag_cardinality_limit/mod.rs
Labels: domain: transforms

#17297 fix(gcp_stackdriver_metrics sink): Call function to regenerate auth token
  src/sinks/gcp/stackdriver_metrics.rs
Labels: domain: sinks

#17311 chore(docs): Document event type conditions
  website/cue/reference.cue
Labels: domain: external docs

#17327 enhancement(observability): Log underlying error for unhandled HTTP errors
  src/internal_events/http.rs
  src/sources/util/http/prelude.rs
Labels: domain: sources

#17344 chore(deps): Add 3rd party license file and CI checks
  .github/workflows/test.yml
  LICENSE-3rdparty.csv
  Makefile
  license-tool.toml
  scripts/environment/prepare.sh
  vdev/src/commands/build/licenses.rs
  vdev/src/commands/build/mod.rs
  vdev/src/commands/check/licenses.rs
  vdev/src/commands/check/mod.rs
Labels: type: task, domain: ci, dependencies

#17372 chore(docs): Clarify `key_field` for `sample` and `throttle` transforms
  src/transforms/sample.rs
  src/transforms/throttle.rs
  website/cue/reference/components/transforms/base/sample.cue
  website/cue/reference/components/transforms/base/throttle.cue
Labels: domain: transforms, domain: external docs

#17369 enhancement(topology): Add source id to metadata
  lib/vector-core/src/event/array.rs
  lib/vector-core/src/event/metadata.rs
  lib/vector-core/src/event/mod.rs
  src/topology/builder.rs
  src/topology/test/compliance.rs
  src/topology/test/mod.rs
  src/transforms/aggregate.rs
  src/transforms/dedupe.rs
  src/transforms/filter.rs
  src/transforms/log_to_metric.rs
  src/transforms/metric_to_log.rs
  src/transforms/tag_cardinality_limit/tests.rs
Labels: domain: topology, domain: transforms, domain: core

#17390 chore: Regen docs for sample and throttle
  website/cue/reference/components/transforms/base/sample.cue
  website/cue/reference/components/transforms/base/throttle.cue
Labels: domain: external docs

#17396 docs(loki sink): Fix formatting in labels example
  website/cue/reference/components/sinks/loki.cue
Labels: domain: external docs

#17380 Improve tokio::select behavior for kafka source and finalizers
  lib/vector-common/src/finalizer.rs
  src/sources/kafka.rs
Labels: domain: sources

#17413 chore(ci): Fix event assertions for `aws_ec2_metadata` transform
  src/transforms/aws_ec2_metadata.rs
Labels: domain: transforms, ci-condition: integration tests enable

#17411 chore: remove transform type coercion
  lib/vector-core/src/transform/mod.rs
  src/sinks/humio/metrics.rs
  src/sources/kubernetes_logs/parser/cri.rs
  src/sources/kubernetes_logs/parser/docker.rs
  src/sources/kubernetes_logs/parser/mod.rs
  src/sources/kubernetes_logs/parser/test_util.rs
  src/transforms/metric_to_log.rs
Labels: domain: sources, domain: transforms, domain: sinks, domain: core

#17414 enhancement(aws provider): Let `region` be configured for default authentication
  src/aws/auth.rs
  src/sinks/aws_kinesis/firehose/integration_tests.rs
  src/sinks/elasticsearch/integration_tests.rs
Labels: domain: sinks, ci-condition: integration tests enable

#17373 fix(databend sink): use get for page request
  src/sinks/databend/api.rs
Labels: domain: sinks, ci-condition: integration tests enable, sink: databend

#17407 fix(fluent source): fix ack message format
  src/sources/fluent/mod.rs
Labels: domain: sources, ci-condition: integration tests enable

#17352 enhancement(s3 source) Add minimal support to unwrap an S3-SQS event from an SNS event
  .github/actions/spelling/expect.txt
  src/sources/aws_s3/sqs.rs
Labels: domain: sources, source: aws_s3

#17467 chore(kubernetes): Bump k8s manifests to 0.22.0
  distribution/kubernetes/vector-agent/README.md
  distribution/kubernetes/vector-agent/configmap.yaml
  distribution/kubernetes/vector-agent/daemonset.yaml
  distribution/kubernetes/vector-agent/rbac.yaml
  distribution/kubernetes/vector-agent/service-headless.yaml
  distribution/kubernetes/vector-agent/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/README.md
  distribution/kubernetes/vector-aggregator/configmap.yaml
  distribution/kubernetes/vector-aggregator/service-headless.yaml
  distribution/kubernetes/vector-aggregator/service.yaml
  distribution/kubernetes/vector-aggregator/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/statefulset.yaml
  distribution/kubernetes/vector-stateless-aggregator/README.md
  distribution/kubernetes/vector-stateless-aggregator/configmap.yaml
  distribution/kubernetes/vector-stateless-aggregator/deployment.yaml
  distribution/kubernetes/vector-stateless-aggregator/service-headless.yaml
  distribution/kubernetes/vector-stateless-aggregator/service.yaml
  distribution/kubernetes/vector-stateless-aggregator/serviceaccount.yaml
Labels: domain: releasing

#17475 chore(aws_s3 sink): Update metadata to match the editorial review for the schema.
  lib/codecs/src/encoding/format/avro.rs
  lib/vector-config-common/src/human_friendly.rs
  lib/vector-core/src/tls/settings.rs
  src/aws/auth.rs
  src/sinks/aws_s3/config.rs
Labels: domain: sinks, domain: core

#17430 chore: Update the NOTICE file
  NOTICE
Labels: type: tech debt

#17484 fix(distribution): Fix architecture detection for ARMv7
  distribution/install.sh
Labels: domain: releasing

#17378 chore: update `vrl` to `0.4.0`
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  lib/codecs/Cargo.toml
  lib/codecs/src/encoding/format/avro.rs
  lib/codecs/src/encoding/format/gelf.rs
  lib/codecs/src/encoding/format/json.rs
  lib/codecs/src/encoding/format/logfmt.rs
  lib/codecs/src/encoding/format/native_json.rs
  lib/enrichment/Cargo.toml
  lib/enrichment/src/find_enrichment_table_records.rs
  lib/enrichment/src/get_enrichment_table_record.rs
  lib/opentelemetry-proto/Cargo.toml
  lib/vector-common/Cargo.toml
  lib/vector-common/src/lib.rs
  lib/vector-config/Cargo.toml
  lib/vector-core/Cargo.toml
  lib/vector-core/src/event/log_event.rs
  lib/vector-core/src/event/vrl_target.rs
  lib/vector-lookup/Cargo.toml
  lib/vector-lookup/src/lib.rs
  lib/vector-vrl/cli/Cargo.toml
  lib/vector-vrl/functions/Cargo.toml
  lib/vector-vrl/tests/Cargo.toml
  lib/vector-vrl/web-playground/Cargo.toml
  src/config/enterprise.rs
  src/sinks/influxdb/logs.rs
  src/sources/aws_kinesis_firehose/mod.rs
  src/sources/dnstap/schema.rs
  src/sources/docker_logs/tests.rs
  src/sources/exec/mod.rs
  src/sources/file.rs
  src/sources/file_descriptors/file_descriptor.rs
  src/sources/file_descriptors/stdin.rs
  src/sources/gcp_pubsub.rs
  src/sources/kafka.rs
  src/sources/kubernetes_logs/parser/cri.rs
  src/sources/kubernetes_logs/parser/docker.rs
  src/sources/kubernetes_logs/parser/mod.rs
  src/sources/kubernetes_logs/parser/test_util.rs
  src/sources/opentelemetry/tests.rs
  src/sources/redis/mod.rs
  src/sources/socket/mod.rs
  src/transforms/remap.rs
Labels: domain: sources, domain: transforms, domain: sinks, domain: core

#16199 chore(statsd sink): refactor `statsd` sink to stream-based style
  .github/actions/spelling/allow.txt
  lib/vector-common/src/internal_event/mod.rs
  src/internal_events/mod.rs
  src/internal_events/socket.rs
  src/internal_events/statsd_sink.rs
  src/internal_events/unix.rs
  src/lib.rs
  src/net.rs
  src/sinks/statsd.rs
  src/sinks/statsd/batch.rs
  src/sinks/statsd/config.rs
  src/sinks/statsd/encoder.rs
  src/sinks/statsd/mod.rs
  src/sinks/statsd/normalizer.rs
  src/sinks/statsd/request_builder.rs
  src/sinks/statsd/service.rs
  src/sinks/statsd/sink.rs
  src/sinks/statsd/tests.rs
  src/sinks/util/builder.rs
  src/sinks/util/metadata.rs
  src/sinks/util/service.rs
  src/sinks/util/service/net/mod.rs
  src/sinks/util/service/net/tcp.rs
  src/sinks/util/service/net/udp.rs
  src/sinks/util/service/net/unix.rs
  src/sinks/util/udp.rs
  src/sources/socket/udp.rs
  src/sources/statsd/mod.rs
  src/sources/syslog.rs
  src/udp.rs
  website/cue/reference/components/sinks/base/statsd.cue
Labels: domain: sources, domain: sinks, domain: external docs, ci-condition: integration tests enable

#17322 chore: RFC for Data Volume Insights
  rfcs/2023-05-03-data-volume-metrics.md
Labels: domain: rfc

#17529 chore(ci): Drop VRL license exceptions
  license-tool.toml
Labels: type: tech debt, dependencies

#17537 chore(deps): Bump chrono to 0.4.26
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
Labels: type: tech debt, dependencies

#17554 chore: Remove links to roadmap
  README.md
  netlify.toml
  website/cue/reference/urls.cue
Labels: domain: external docs
