Repository vectordotdev/vector, pull requests merged in 2023-02, with the labels that each got.

#16172 docs(logdna sink): use auto-generated config docs
  src/sinks/logdna.rs
  website/cue/reference/components/sinks/base/logdna.cue
  website/cue/reference/components/sinks/logdna.cue
Labels: type: enhancement, domain: sinks, sink: logdna, domain: external docs

#16213 chore(ci): Set up datadog-logs/metrics integrations to run in `vdev`
  scripts/integration/datadog-agent/test.yaml
  scripts/integration/datadog-logs/test.yaml
  scripts/integration/datadog-metrics/test.yaml
  scripts/integration/datadog-traces/test.yaml
  scripts/integration/docker-compose.datadog-logs.yml
  scripts/integration/docker-compose.datadog-metrics.yml
  vdev/src/commands/integration/show.rs
  vdev/src/commands/test.rs
  vdev/src/testing/config.rs
  vdev/src/testing/integration.rs
  vdev/src/testing/runner.rs
Labels: domain: tests, type: tech debt, sink: datadog_metrics, sink: datadog_logs, domain: ci, ci-condition: integration tests enable

#16062 docs(vrl): document VRL playground
  website/content/en/docs/reference/vrl/_index.md
Labels: vrl: playground

#16234 chore(vdev): Fix Windows compile problem
  vdev/src/main.rs
  vdev/src/testing/integration.rs
Labels: type: tech debt, domain: dev, ci-condition: integration tests enable

#9502 enhancement(reduce transform): Improve Reduce Performance
  src/transforms/reduce/mod.rs
Labels: domain: transforms

#16235 chore(config, docs): start marking certain shared config types as advanced
  lib/vector-core/src/tls/settings.rs
  src/sinks/util/batch.rs
  src/sinks/util/buffer/compression.rs
  src/sinks/util/service.rs
  src/sources/aws_kinesis_firehose/mod.rs
  src/sources/aws_s3/mod.rs
Labels: domain: sources, domain: sinks, domain: core

#15147 chore(vrl): RFC for Web Playground UI
  rfcs/2022-11-2-14714-expand-vrl-web-ui-beyond-MVP-status.md
Labels: domain: rfc, vrl: playground

#16130 chore(ci): Fix the datadog-{agent,traces} integration tests to run in vdev
  Makefile
  scripts/integration/datadog-traces/test.yaml
  scripts/integration/docker-compose.datadog-agent.yml
  scripts/integration/docker-compose.datadog-traces.yml
Labels: domain: ci, source: datadog_agent, ci-condition: integration tests enable, sink: datadog_traces

#16238 docs(datadog_traces sink): use auto-generated config docs
  src/common/datadog.rs
  src/config/enterprise.rs
  src/sinks/datadog/events/config.rs
  src/sinks/datadog/logs/config.rs
  src/sinks/datadog/metrics/config.rs
  src/sinks/datadog/mod.rs
  src/sinks/datadog/traces/config.rs
  website/cue/reference/components/sinks/base/datadog_events.cue
  website/cue/reference/components/sinks/base/datadog_logs.cue
  website/cue/reference/components/sinks/base/datadog_metrics.cue
  website/cue/reference/components/sinks/base/datadog_traces.cue
  website/cue/reference/components/sinks/datadog_traces.cue
Labels: domain: sinks, domain: external docs, ci-condition: integration tests enable, sink: datadog_traces

#16236 docs(papertrail sink): Use generated docs for configuration
  src/sinks/papertrail.rs
  website/cue/reference/components/sinks/base/papertrail.cue
  website/cue/reference/components/sinks/papertrail.cue
Labels: domain: sinks, domain: external docs

#16253 chore(vdev): Fix up some subcommand text
  vdev/src/commands/check/deny.rs
  vdev/src/commands/check/mod.rs
  vdev/src/commands/config/mod.rs
  vdev/src/commands/config/set/mod.rs
  vdev/src/commands/generate.rs
  vdev/src/commands/integration/mod.rs
  vdev/src/commands/meta/mod.rs
  vdev/src/commands/package.rs
  vdev/src/commands/release/mod.rs
Labels: type: tech debt, domain: dev

#16255 chore(ci): Modify eventstoredb integration tests to run in vdev
  scripts/integration/docker-compose.eventstoredb.yml
  scripts/integration/eventstoredb/test.yaml
  src/sources/eventstoredb_metrics/mod.rs
Labels: domain: tests, type: tech debt, domain: sources, domain: ci, ci-condition: integration tests enable, source: eventstoredb_metrics

#16246 docs(datadog_events sink): use auto-generated config docs
  src/sinks/datadog/events/config.rs
  website/cue/reference/components/sinks/base/datadog_events.cue
  website/cue/reference/components/sinks/datadog_events.cue
Labels: domain: sinks, domain: external docs, sink: datadog_events

#16256 chore(ci): Modify humio integration test to run through vdev
  scripts/integration/docker-compose.humio.yml
  scripts/integration/humio/test.yaml
Labels: domain: tests, type: tech debt, sink: humio_logs, provider: humio, domain: ci, ci-condition: integration tests enable

#16258 chore(ci): Modify opentelemetry integration test to run in vdev
  scripts/integration/docker-compose.opentelemetry.yml
  scripts/integration/opentelemetry/test.yaml
Labels: domain: tests, type: tech debt, domain: ci, ci-condition: integration tests enable, source: opentelemetry, sink: opentelemetry

#16242 docs(datadog_metrics sink): use auto-generated config docs
  src/sinks/datadog/metrics/config.rs
  website/cue/reference/components/sinks/base/datadog_metrics.cue
  website/cue/reference/components/sinks/datadog_metrics.cue
Labels: sink: datadog_metrics, domain: sinks, domain: external docs, ci-condition: integration tests enable

#16244 docs(datadog_logs sink): use auto-generated config docs
  src/sinks/datadog/logs/config.rs
  website/cue/reference/components/sinks/base/datadog_logs.cue
  website/cue/reference/components/sinks/datadog_logs.cue
Labels: domain: sinks, sink: datadog_logs, domain: external docs

#16259 chore(ci): Modify nginx integration tests to run in vdev
  scripts/integration/docker-compose.nginx.yml
  scripts/integration/nginx/compose.yaml
  scripts/integration/nginx/test.yaml
Labels: domain: tests, type: tech debt, domain: ci, source: nginx_metrics, ci-condition: integration tests enable

#16260 chore(ci): Modify axiom integration tests to run in vdev
  scripts/integration/axiom/compose.yaml
  scripts/integration/axiom/test.yaml
  scripts/integration/docker-compose.axiom.yml
Labels: domain: tests, type: tech debt, domain: ci, ci-condition: integration tests enable, sink: axiom

#16073 feat(vrl): add `seahash` function
  Cargo.lock
  lib/vrl/stdlib/Cargo.toml
  lib/vrl/stdlib/benches/benches.rs
  lib/vrl/stdlib/src/lib.rs
  lib/vrl/stdlib/src/seahash.rs
  website/cue/reference/remap/functions/seahash.cue
  website/cue/reference/urls.cue
Labels: domain: external docs, domain: vrl

#16230 docs(nats sink): Use generated docs for configuration
  src/sinks/nats.rs
  website/cue/reference/components/nats.cue
  website/cue/reference/components/sinks/base/nats.cue
  website/cue/reference/components/sinks/nats.cue
Labels: domain: sinks, domain: external docs

#16223 docs(elasticsearch sink): use auto-generated config docs
  src/sinks/aws_kinesis/firehose/integration_tests.rs
  src/sinks/elasticsearch/common.rs
  src/sinks/elasticsearch/config.rs
  src/sinks/elasticsearch/integration_tests.rs
  src/sinks/elasticsearch/mod.rs
  src/sinks/elasticsearch/tests.rs
  src/sinks/sematext/logs.rs
  src/sinks/util/buffer/compression.rs
  src/sinks/util/service/health.rs
  website/cue/reference/components/sinks/base/aws_cloudwatch_logs.cue
  website/cue/reference/components/sinks/base/aws_cloudwatch_metrics.cue
  website/cue/reference/components/sinks/base/aws_kinesis_firehose.cue
  website/cue/reference/components/sinks/base/aws_kinesis_streams.cue
  website/cue/reference/components/sinks/base/aws_s3.cue
  website/cue/reference/components/sinks/base/axiom.cue
  website/cue/reference/components/sinks/base/azure_blob.cue
  website/cue/reference/components/sinks/base/clickhouse.cue
  website/cue/reference/components/sinks/base/datadog_logs.cue
  website/cue/reference/components/sinks/base/datadog_traces.cue
  website/cue/reference/components/sinks/base/elasticsearch.cue
  website/cue/reference/components/sinks/base/gcp_cloud_storage.cue
  website/cue/reference/components/sinks/base/http.cue
  website/cue/reference/components/sinks/base/humio_logs.cue
  website/cue/reference/components/sinks/base/humio_metrics.cue
  website/cue/reference/components/sinks/base/loki.cue
  website/cue/reference/components/sinks/base/new_relic.cue
  website/cue/reference/components/sinks/base/splunk_hec_logs.cue
  website/cue/reference/components/sinks/base/splunk_hec_metrics.cue
  website/cue/reference/components/sinks/elasticsearch.cue
Labels: sink: elasticsearch, domain: sinks, domain: external docs, ci-condition: integration tests enable

#16211 docs(humio_metrics sink, humio_logs sink): Use generated docs for configuration
  src/sinks/humio/logs.rs
  src/sinks/humio/metrics.rs
  website/cue/reference/components/sinks/base/humio_logs.cue
  website/cue/reference/components/sinks/base/humio_metrics.cue
  website/cue/reference/components/sinks/humio.cue
  website/cue/reference/components/sinks/humio_logs.cue
  website/cue/reference/components/sinks/humio_metrics.cue
Labels: domain: sinks, domain: external docs

#16239 chore: upgrade toml to 0.7.1
  Cargo.lock
  Cargo.toml
  lib/value/Cargo.toml
  lib/vector-config/Cargo.toml
  lib/vector-core/Cargo.toml
  src/config/mod.rs
  src/sinks/gcp/stackdriver_logs.rs
  src/sinks/gcp/stackdriver_metrics.rs
  src/sinks/honeycomb.rs
  src/sinks/new_relic/tests.rs
  src/sinks/papertrail.rs
  src/test_util/mod.rs
  src/transforms/reduce/mod.rs
  vdev/Cargo.toml
Labels: domain: transforms, domain: sinks, domain: core

#16277 chore(ci): Modify aws integration tests to run in vdev
  Makefile
  scripts/integration/aws/compose.yaml
  scripts/integration/aws/test.yaml
  scripts/integration/docker-compose.aws.yml
  scripts/integration/docker-logs/test.yaml
  scripts/integration/fluent/test.yaml
  vdev/src/commands/integration/show.rs
  vdev/src/testing/config.rs
  vdev/src/testing/integration.rs
  vdev/src/testing/runner.rs
Labels: domain: tests, type: tech debt, provider: aws, domain: ci, domain: dev, ci-condition: integration tests enable

#16279 chore(ci): Modify postgres integration tests to work with vdev
  scripts/integration/docker-compose.postgres.yml
  scripts/integration/postgres/compose.yaml
  scripts/integration/postgres/test.yaml
  vdev/src/testing/config.rs
  vdev/src/testing/integration.rs
Labels: domain: tests, type: tech debt, domain: ci, domain: dev, source: postgresql_metrics, ci-condition: integration tests enable

#16282 chore(ci): Modify dnstap integration test for vdev
  scripts/integration/dnstap/compose.yaml
  scripts/integration/dnstap/test.yaml
  scripts/integration/docker-compose.dnstap.yml
Labels: type: tech debt, domain: ci, domain: dev, needs: tests, ci-condition: integration tests enable

#16284 docs(clickhouse): update documentation
  src/sinks/clickhouse/config.rs
  src/sinks/clickhouse/http_sink.rs
  src/sinks/mod.rs
  website/content/en/docs/administration/monitoring.md
  website/content/en/docs/reference/configuration/sinks/clickhouse.md
  website/cue/reference/components/sinks/base/clickhouse.cue
  website/cue/reference/components/sinks/clickhouse.cue
  website/cue/reference/services/clickhouse.cue
  website/cue/reference/urls.cue
Labels: domain: sinks, domain: external docs

#16283 chore(vdev): Drop backwards compat hack for old integrations
  vdev/src/commands/integration/stop.rs
  vdev/src/commands/integration/test.rs
  vdev/src/testing/integration.rs
Labels: domain: tests, type: tech debt, domain: dev, ci-condition: integration tests enable

#16240 chore(config, docs): a bunch of fixes/additions to schema output
  lib/codecs/src/decoding/framing/character_delimited.rs
  lib/codecs/src/decoding/framing/newline_delimited.rs
  lib/vector-buffers/src/config.rs
  lib/vector-core/src/config/global_options.rs
  lib/vector-core/src/config/proxy.rs
  src/conditions/vrl.rs
  src/transforms/remap.rs
  website/cue/reference/components/base/sinks.cue
  website/cue/reference/components/sources/base/amqp.cue
  website/cue/reference/components/sources/base/aws_kinesis_firehose.cue
  website/cue/reference/components/sources/base/aws_sqs.cue
  website/cue/reference/components/sources/base/datadog_agent.cue
  website/cue/reference/components/sources/base/demo_logs.cue
  website/cue/reference/components/sources/base/exec.cue
  website/cue/reference/components/sources/base/file_descriptor.cue
  website/cue/reference/components/sources/base/gcp_pubsub.cue
  website/cue/reference/components/sources/base/heroku_logs.cue
  website/cue/reference/components/sources/base/http.cue
  website/cue/reference/components/sources/base/http_client.cue
  website/cue/reference/components/sources/base/http_server.cue
  website/cue/reference/components/sources/base/kafka.cue
  website/cue/reference/components/sources/base/nats.cue
  website/cue/reference/components/sources/base/redis.cue
  website/cue/reference/components/sources/base/socket.cue
  website/cue/reference/components/sources/base/stdin.cue
  website/cue/reference/components/transforms/base/remap.cue
Labels: domain: transforms, domain: external docs, domain: core

#16311 chore(vdev): Export all config matrix settings as CONFIG_{VAR}
  scripts/integration/amqp/compose.yaml
  scripts/integration/apex/compose.yaml
  scripts/integration/axiom/compose.yaml
  scripts/integration/axiom/test.yaml
  scripts/integration/azure/compose.yaml
  scripts/integration/chronicle/compose.yaml
  scripts/integration/clickhouse/compose.yaml
  scripts/integration/datadog-agent/compose.yaml
  scripts/integration/datadog-traces/compose.yaml
  scripts/integration/elasticsearch/compose.yaml
  scripts/integration/eventstoredb/compose.yaml
  scripts/integration/gcp/compose.yaml
  scripts/integration/http-client/compose.yaml
  scripts/integration/humio/compose.yaml
  scripts/integration/influxdb/compose.yaml
  scripts/integration/kafka/compose.yaml
  scripts/integration/logstash/compose.yaml
  scripts/integration/loki/compose.yaml
  scripts/integration/mongodb/compose.yaml
  scripts/integration/nats/compose.yaml
  scripts/integration/nginx/compose.yaml
  scripts/integration/opentelemetry/compose.yaml
  scripts/integration/postgres/compose.yaml
  scripts/integration/prometheus/compose.yaml
  scripts/integration/prometheus/test.yaml
  scripts/integration/pulsar/compose.yaml
  scripts/integration/redis/compose.yaml
  scripts/integration/shutdown/compose.yaml
  scripts/integration/splunk/compose.yaml
  src/sinks/splunk_hec/logs/integration_tests.rs
  vdev/src/testing/integration.rs
Labels: type: tech debt, domain: sinks, domain: ci, domain: dev, ci-condition: integration tests enable

#16312 chore(vdev): Clean up integration compose handling
  vdev/src/testing/integration.rs
  vdev/src/testing/runner.rs
Labels: domain: tests, type: tech debt, ci-condition: integration tests enable

#16317 chore(vdev): Fix guard for prepare_compose_volumes on unix
  vdev/src/testing/integration.rs
Labels: type: bug, platform: windows

#16063 feat(pulsar): add batch support
  src/sinks/pulsar.rs
  website/cue/reference/components/sinks/base/pulsar.cue
Labels: domain: sinks, domain: external docs

#16254 docs(kubernetes_logs source): add more configuration info
  website/cue/reference/components/sources/kubernetes_logs.cue
  website/cue/reference/urls.cue
Labels: domain: external docs

#16354 chore(vdev): Fix Windows compilation again
  vdev/src/testing/integration.rs
Labels: type: tech debt, platform: windows

#16351 docs(axiom sink): Use autogenerated docs
  src/sinks/axiom.rs
  website/cue/reference/components/sinks/axiom.cue
  website/cue/reference/components/sinks/base/axiom.cue
Labels: domain: sinks, domain: external docs

#16350 docs(loki sink): Polish docs and examples
  src/sinks/loki/config.rs
  website/cue/reference/components/sinks/base/loki.cue
  website/cue/reference/components/sinks/loki.cue
Labels: domain: sinks, domain: external docs

#16352 docs(honeycomb sink): Use autogenerated docs
  src/sinks/honeycomb.rs
  website/cue/reference/components/sinks/base/honeycomb.cue
  website/cue/reference/components/sinks/honeycomb.cue
Labels: domain: sinks, domain: external docs

#16301 docs(gcp_pubsub sink): Use generated docs for configuration
  src/sinks/gcp/pubsub.rs
  website/cue/reference/components/sinks/base/gcp_pubsub.cue
  website/cue/reference/components/sinks/gcp_pubsub.cue
Labels: domain: sinks, domain: external docs

#16302 docs(gcp_stackdriver_logs sink): Use generated docs for configuration
  src/sinks/gcp/stackdriver_logs.rs
  website/cue/reference/components/sinks/base/gcp_stackdriver_logs.cue
  website/cue/reference/components/sinks/gcp_stackdriver_logs.cue
Labels: domain: sinks, domain: external docs

#16303 docs(gcp_cloud_storage sink): Use generated docs for configuration
  src/gcp.rs
  src/sinks/gcp/cloud_storage.rs
  website/cue/reference/components/sinks/base/gcp_chronicle_unstructured.cue
  website/cue/reference/components/sinks/base/gcp_cloud_storage.cue
  website/cue/reference/components/sinks/base/gcp_pubsub.cue
  website/cue/reference/components/sinks/base/gcp_stackdriver_logs.cue
  website/cue/reference/components/sinks/base/gcp_stackdriver_metrics.cue
  website/cue/reference/components/sinks/gcp_cloud_storage.cue
  website/cue/reference/components/sources/base/gcp_pubsub.cue
Labels: domain: sinks, domain: external docs

#16366 chore(config): fix schema generation handling of base vs override metadata
  lib/vector-common/src/datetime.rs
  lib/vector-config-macros/src/configurable.rs
  lib/vector-config/src/external/indexmap.rs
  lib/vector-config/src/external/no_proxy.rs
  lib/vector-config/src/metadata.rs
  lib/vector-config/src/schema.rs
  lib/vector-config/src/stdlib.rs
  lib/vector-config/tests/integration/smoke.rs
  scripts/generate-component-docs.rb
  src/sinks/util/buffer/compression.rs
  website/cue/reference/components/sinks/base/influxdb_metrics.cue
  website/cue/reference/components/sinks/base/prometheus_exporter.cue
  website/cue/reference/components/sinks/base/prometheus_remote_write.cue
Labels: domain: sinks, domain: ci, domain: external docs

#16357 docs(file sink): Use generated documentation
  src/sinks/file/mod.rs
  website/cue/reference/components/sinks/base/file.cue
  website/cue/reference/components/sinks/file.cue
Labels: domain: sinks, domain: external docs

#16286 fix(kinesis): add again missing partition key
  src/sinks/aws_kinesis/streams/config.rs
  src/sinks/aws_kinesis/streams/integration_tests.rs
Labels: domain: sinks

#16372 fix(ci): temporarily disable new aws integration test that is failing
  src/sinks/aws_kinesis/streams/integration_tests.rs
Labels: domain: sinks, ci-condition: integration tests enable

#16330 docs(redis sink): Use generated docs for configuration
  src/sinks/redis.rs
  website/content/en/highlights/2023-02-28-0-28-0-upgrade-guide.md
  website/cue/reference/components/sinks/base/redis.cue
  website/cue/reference/components/sinks/redis.cue
Labels: domain: sinks, domain: external docs

#16375 chore(ci): Remove another debug build reference
  scripts/release-s3.sh
Labels: domain: ci, domain: releasing

#16323 docs(prometheus_exporter sink): Use generated docs for configuration
  src/sinks/prometheus/exporter.rs
  website/cue/reference/components/sinks/base/prometheus_exporter.cue
  website/cue/reference/components/sinks/prometheus_exporter.cue
Labels: domain: sinks, domain: external docs

#16318 docs(pulsar sink): autogen docs
  src/sinks/pulsar.rs
  website/cue/reference/components/sinks/base/pulsar.cue
  website/cue/reference/components/sinks/pulsar.cue
Labels: domain: sinks, domain: external docs

#16334 docs(splunk_hec_logs sink): Use generated docs for configuration
  src/sinks/splunk_hec/logs/config.rs
  website/cue/reference/components/sinks/base/splunk_hec_logs.cue
  website/cue/reference/components/sinks/splunk_hec_logs.cue
Labels: domain: sinks, domain: external docs

#16336 docs(splunk_hec_metrics sink): Use generated docs for configuration
  src/sinks/splunk_hec/common/acknowledgements.rs
  src/sinks/splunk_hec/metrics/config.rs
  website/cue/reference/components/sinks/base/splunk_hec_logs.cue
  website/cue/reference/components/sinks/base/splunk_hec_metrics.cue
  website/cue/reference/components/sinks/splunk_hec.cue
  website/cue/reference/components/sinks/splunk_hec_metrics.cue
Labels: domain: sinks, domain: external docs

#14821 chore(vrl): Remove deprecated metadata functions
  lib/vector-vrl-functions/src/get_metadata_field.rs
  lib/vector-vrl-functions/src/lib.rs
  lib/vector-vrl-functions/src/set_metadata_field.rs
  lib/vrl/compiler/src/compiler.rs
  lib/vrl/tests/src/docs.rs
  lib/vrl/tests/tests/diagnostics/deprecations/get_metadata_field.vrl
  lib/vrl/tests/tests/diagnostics/deprecations/get_metadata_field_legacy.vrl
  lib/vrl/tests/tests/diagnostics/deprecations/remove_metadata_field.vrl
  lib/vrl/tests/tests/diagnostics/deprecations/remove_metadata_field_legacy.vrl
  lib/vrl/tests/tests/diagnostics/deprecations/set_metadata_field.vrl
  lib/vrl/tests/tests/diagnostics/deprecations/set_metadata_field_legacy.vrl
  lib/vrl/tests/tests/functions/remove_metadata_read_only.vrl
  lib/vrl/tests/tests/functions/set_metadata_read_only.vrl
  tests/behavior/transforms/remap.toml
  website/content/en/highlights/2023-02-28-0-28-0-upgrade-guide.md
  website/cue/reference/remap/expressions/path.cue
  website/cue/reference/remap/functions/get_metadata_field.cue
  website/cue/reference/remap/functions/remove_metadata_field.cue
  website/cue/reference/remap/functions/set_metadata_field.cue
Labels: domain: external docs, domain: vrl, ci-condition: integration tests enable

#16377 docs(new_relic sink): autogen docs
  src/sinks/new_relic/config.rs
  website/content/en/docs/reference/configuration/sinks/new_relic.md
  website/content/en/docs/reference/configuration/sinks/new_relic_logs.md
  website/cue/reference/components/sinks/base/new_relic.cue
  website/cue/reference/components/sinks/new_relic.cue
  website/cue/reference/components/sinks/new_relic_logs.cue
  website/cue/reference/services/new_relic_logs.cue
Labels: domain: sinks, domain: external docs

#16386 docs: Build rust-doc.vector.dev
  Cargo.toml
  rust-doc/Makefile
  rust-doc/netlify.toml
  scripts/environment/install-protoc.sh
  src/lib.rs
Labels: domain: ci

#16378 docs(azure_blob sink): autogen docs
  src/sinks/azure_blob/config.rs
  src/sinks/azure_blob/integration_tests.rs
  src/sinks/azure_blob/test.rs
  website/cue/reference/components/sinks/azure_blob.cue
  website/cue/reference/components/sinks/base/azure_blob.cue
Labels: domain: sinks, provider: azure, domain: external docs, sink: azure_blob

#16365 chore(deps): Update aws-sdks to 0.23 and aws supporting crates to 0.53
  Cargo.lock
  Cargo.toml
  scripts/integration/aws/compose.yaml
  src/aws/auth.rs
  src/aws/mod.rs
  src/aws/region.rs
  src/common/s3.rs
  src/sinks/aws_cloudwatch_logs/integration_tests.rs
  src/sinks/aws_cloudwatch_logs/request.rs
  src/sinks/aws_cloudwatch_logs/retry.rs
  src/sinks/aws_kinesis/firehose/config.rs
  src/sinks/aws_kinesis/firehose/integration_tests.rs
  src/sinks/aws_kinesis/streams/config.rs
  src/sinks/aws_s3/integration_tests.rs
  src/sinks/aws_sqs/integration_tests.rs
  src/sinks/elasticsearch/common.rs
  src/sinks/elasticsearch/service.rs
  src/sinks/prometheus/remote_write.rs
  src/sinks/s3_common/config.rs
  src/sources/aws_sqs/integration_tests.rs
  src/sources/aws_sqs/source.rs
Labels: domain: sources, domain: sinks, domain: ci, ci-condition: integration tests enable

#16313 docs(splunk_hec source): add info about endpoints
  website/cue/reference/components/sources/splunk_hec.cue
Labels: domain: external docs

#16398 chore: Update install.sh from rustup script
  distribution/install.sh
Labels: domain: releasing

#16388 chore(config): apply the field-level defaults to all ARC settings
  src/sinks/util/adaptive_concurrency/mod.rs
Labels: domain: sinks

#16356 docs(influxdb_logs/metrics sink): autogen docs
  src/sinks/influxdb/logs.rs
  src/sinks/influxdb/metrics.rs
  src/sinks/influxdb/mod.rs
  website/cue/reference/components/sinks/base/influxdb_logs.cue
  website/cue/reference/components/sinks/base/influxdb_metrics.cue
  website/cue/reference/components/sinks/influxdb_logs.cue
  website/cue/reference/components/sinks/influxdb_metrics.cue
Labels: domain: sinks, domain: external docs

#16411 chore(releasing): Remove unused configuration
  config/agent/kubernetes/vector.yaml
  config/agent/vector.yaml
  config/aggregator/vector.yaml
  distribution/systemd/vector-agent.service
  distribution/systemd/vector-aggregator.service
Labels: domain: releasing

#16380 chore(config): annotate a bunch of types/fields with docs-specific metadata
  src/conditions/mod.rs
  src/config/sink.rs
  src/enrichment_tables/file.rs
  src/enrichment_tables/mod.rs
  src/sinks/datadog/events/config.rs
  src/sinks/datadog/logs/config.rs
  src/sinks/datadog/metrics/config.rs
  src/sinks/datadog/traces/config.rs
  src/sinks/elasticsearch/config.rs
  src/sinks/splunk_hec/common/acknowledgements.rs
  src/sinks/splunk_hec/logs/config.rs
  src/sinks/splunk_hec/metrics/config.rs
  src/sinks/vector/config.rs
  src/sources/aws_kinesis_firehose/mod.rs
  src/sources/aws_s3/mod.rs
  src/sources/aws_s3/sqs.rs
  src/sources/datadog_agent/mod.rs
  website/cue/reference/components/sinks/base/splunk_hec_logs.cue
  website/cue/reference/components/sources/base/aws_s3.cue
Labels: domain: sources, domain: sinks, domain: external docs

#15473 chore(datadog_logs sink): Add log namespace support to `datadog_logs` sink
  lib/vector-core/src/event/log_event.rs
  src/sinks/datadog/logs/sink.rs
Labels: domain: sinks, ci-condition: integration tests enable, domain: core

#16405 docs(sematext_logs, sematext_metrics sink): Use generated docs, unify region behavior
  src/sinks/sematext/logs.rs
  src/sinks/sematext/metrics.rs
  src/sinks/sematext/mod.rs
  website/cue/reference/components/sinks/base/sematext_logs.cue
  website/cue/reference/components/sinks/base/sematext_metrics.cue
  website/cue/reference/components/sinks/sematext_logs.cue
  website/cue/reference/components/sinks/sematext_metrics.cue
Labels: domain: sinks, sink: sematext_logs, provider: sematext, domain: external docs, sink: sematext_metrics, ci-condition: integration tests enable

#16414 chore(internal docs): Update transform descriptions
  src/transforms/mod.rs
Labels: domain: transforms, domain: internal docs

#16417 docs: Remove strategy link from s3 source page
  website/content/en/highlights/2023-02-28-0-28-0-upgrade-guide.md
  website/cue/reference/components/sources/aws_s3.cue
Labels: domain: external docs

#16415 docs(aws_cloudwatch_metrics sink): Use generated docs for configuration
  src/sinks/aws_cloudwatch_metrics/integration_tests.rs
  src/sinks/aws_cloudwatch_metrics/mod.rs
  src/sinks/aws_cloudwatch_metrics/tests.rs
  website/cue/reference/components/sinks/aws_cloudwatch_metrics.cue
  website/cue/reference/components/sinks/base/aws_cloudwatch_metrics.cue
Labels: sink: aws_cloudwatch_metrics, domain: sinks, domain: external docs, ci-condition: integration tests enable

#16410 fix(core): fix source metadata paths from being flattened with `insert_standard_vector_source_metadat`
  lib/vector-core/src/config/mod.rs
Labels: domain: core

#16418 enhancement(vdev): Add `check rust` subcommand
  Makefile
  vdev/src/commands/check/mod.rs
  vdev/src/commands/check/rust.rs
Labels: type: enhancement, domain: dev, domain: vdev

#16439 fix(observability): Fix tagging more registered events in sources
  src/source_sender/mod.rs
  src/topology/builder.rs
Labels: type: bug, domain: topology, domain: observability, source: internal_metrics, ci-condition: integration tests enable

#16433 docs(aws_kinesis_firehose sink): Use generated documentation
  src/sinks/aws_kinesis/config.rs
  website/cue/reference/components/sinks/aws_kinesis_firehose.cue
  website/cue/reference/components/sinks/base/aws_kinesis_firehose.cue
  website/cue/reference/components/sinks/base/aws_kinesis_streams.cue
Labels: domain: sinks, domain: external docs

#16437 enhancement(vdev): Add support for adding features to `run` command
  vdev/src/commands/features.rs
  vdev/src/commands/run.rs
  vdev/src/features.rs
Labels: type: enhancement, domain: dev, domain: vdev

#16419 docs(azure_monitor_logs sink): autogen docs
  src/sinks/azure_monitor_logs.rs
  website/cue/reference/components/sinks/azure_monitor_logs.cue
  website/cue/reference/components/sinks/base/azure_monitor_logs.cue
Labels: domain: sinks, domain: external docs

#16431 chore(papertrail sink): Add log namespacing support
  src/sinks/papertrail.rs
Labels: domain: sinks

#16391 fix(vrl): Fix typedefs for operations that can short-circuit
  lib/vrl/compiler/src/compiler.rs
  lib/vrl/compiler/src/expression/op.rs
  lib/vrl/tests/tests/expressions/logical/and.vrl
  lib/vrl/tests/tests/expressions/logical/and_typedef.vrl
  lib/vrl/tests/tests/expressions/logical/or_typedef.vrl
  lib/vrl/tests/tests/expressions/short_circuit/and.vrl
  lib/vrl/tests/tests/expressions/short_circuit/err_coalesce.vrl
  lib/vrl/tests/tests/expressions/short_circuit/or.vrl
Labels: domain: vrl

#16451 chore(pulsar sink): Add Log Namespacing support
  src/sinks/pulsar.rs
Labels: domain: sinks

#16453 chore(honeycomb sink): Add log namespacing support
  lib/vector-core/src/event/log_event.rs
  src/sinks/honeycomb.rs
Labels: domain: sinks, domain: core

#16456 chore(loki sink) Add Log Namespacing support
  src/sinks/loki/config.rs
  src/sinks/loki/sink.rs
Labels: domain: sinks

#16436 chore(sematext_logs sink): Add log namespacing support
  src/sinks/sematext/logs.rs
Labels: domain: sinks

#16459 docs: Add more examples for to_timestamp
  website/cue/reference/remap/functions/to_timestamp.cue
Labels: domain: external docs

#16442 docs(kafka sink): autogen docs
  src/sinks/kafka/config.rs
  src/sinks/kafka/sink.rs
  src/sinks/kafka/tests.rs
  website/cue/reference/components/sinks/base/kafka.cue
  website/cue/reference/components/sinks/kafka.cue
Labels: domain: sinks, domain: external docs

#16461 docs(pulsar sink): add example for producer_name
  src/sinks/pulsar.rs
  website/cue/reference/components/sinks/base/pulsar.cue
Labels: domain: sinks, domain: external docs

#16464 chore(config): mark structs as `additionalProperties: false`
  lib/codecs/src/encoding/format/json.rs
  lib/codecs/src/encoding/format/text.rs
  lib/vector-config-macros/src/configurable.rs
  lib/vector-config-macros/src/configurable_component.rs
  lib/vector-config/src/schema.rs
  lib/vector-config/src/stdlib.rs
  scripts/generate-component-docs.rb
  src/sinks/util/buffer/compression.rs
Labels: domain: sinks, domain: ci

#16460 chore(config): Replace `Serialize` with new `ToValue` trait in config schemas
  lib/lookup/src/lookup_v2/optional_path.rs
  lib/vector-common/src/datetime.rs
  lib/vector-config-macros/src/configurable.rs
  lib/vector-config/src/configurable.rs
  lib/vector-config/src/external/chrono.rs
  lib/vector-config/src/external/encoding_rs.rs
  lib/vector-config/src/external/indexmap.rs
  lib/vector-config/src/external/no_proxy.rs
  lib/vector-config/src/external/toml.rs
  lib/vector-config/src/external/tz.rs
  lib/vector-config/src/external/url.rs
  lib/vector-config/src/lib.rs
  lib/vector-config/src/metadata.rs
  lib/vector-config/src/schema.rs
  lib/vector-config/src/ser.rs
  lib/vector-config/src/stdlib.rs
  lib/vector-config/src/str.rs
  lib/vector-config/tests/integration/configurable_string.rs
  lib/vector-config/tests/integration/smoke.rs
  src/sinks/util/buffer/compression.rs
  src/sinks/util/service/concurrency.rs
Labels: type: tech debt, domain: config, domain: sinks, ci-condition: integration tests enable

#15526 chore(log_to_metric transform): Add log namespace support to `log_to_metric` transform
  src/transforms/log_to_metric.rs
Labels: domain: transforms

#16473 chore(loki sink): add namespaced timestamp integration test
  src/sinks/loki/integration_tests.rs
Labels: domain: sinks, ci-condition: integration tests enable

#16476 fix(distribution): Add missing check_proc function to install script
  distribution/install.sh
Labels: domain: releasing

#16455 feat(core): add metadata support to semantic meaning
  lib/codecs/src/decoding/format/bytes.rs
  lib/codecs/src/decoding/format/syslog.rs
  lib/vector-core/src/config/log_schema.rs
  lib/vector-core/src/event/log_event.rs
  lib/vector-core/src/schema/definition.rs
  lib/vector-core/src/schema/requirement.rs
  src/sources/amqp.rs
  src/sources/datadog_agent/tests.rs
  src/sources/file.rs
  src/sources/fluent/mod.rs
  src/sources/gcp_pubsub.rs
  src/sources/heroku_logs.rs
  src/sources/http_server.rs
  src/sources/internal_logs.rs
  src/sources/journald.rs
  src/sources/kafka.rs
  src/sources/kubernetes_logs/mod.rs
  src/sources/logstash.rs
  src/sources/nats.rs
  src/sources/opentelemetry/mod.rs
  src/sources/splunk_hec/mod.rs
  src/sources/syslog.rs
  src/sources/vector/mod.rs
  src/topology/schema.rs
  src/transforms/metric_to_log.rs
  src/transforms/remap.rs
Labels: domain: topology, domain: sources, domain: transforms, domain: core

#16478 chore(external docs): Add clarifying example for GCP Storage key_prefix usage
  website/cue/reference/components/sinks/aws_s3.cue
  website/cue/reference/components/sinks/azure_blob.cue
  website/cue/reference/components/sinks/gcp_cloud_storage.cue
Labels: domain: external docs

#16467 chore(internal docs): `doc::label` meta for components, updated descriptions
  src/sinks/mod.rs
  src/sources/mod.rs
  src/transforms/mod.rs
Labels: domain: sources, domain: transforms, domain: sinks, domain: internal docs

#16481 docs(aws_sqs sink): Use generated documentation
  src/sinks/aws_sqs/config.rs
  website/cue/reference/components/sinks/aws_sqs.cue
  website/cue/reference/components/sinks/base/aws_sqs.cue
Labels: domain: sinks, domain: external docs

#16480 docs(aws_s3 sink): Use generated documentation
  src/sinks/aws_s3/config.rs
  src/sinks/aws_s3/integration_tests.rs
  src/sinks/datadog_archives.rs
  src/sinks/s3_common/config.rs
  src/sinks/s3_common/service.rs
  website/cue/reference/components/sinks/aws_s3.cue
  website/cue/reference/components/sinks/base/aws_s3.cue
Labels: domain: sinks, domain: external docs, ci-condition: integration tests enable

#16485 Revert "chore(config): mark structs as `additionalProperties: false`"
  lib/codecs/src/encoding/format/json.rs
  lib/codecs/src/encoding/format/text.rs
  lib/vector-config-macros/src/configurable.rs
  lib/vector-config-macros/src/configurable_component.rs
  lib/vector-config/src/schema.rs
  lib/vector-config/src/stdlib.rs
  scripts/generate-component-docs.rb
  src/sinks/util/buffer/compression.rs
Labels: domain: sinks, domain: ci

#16483 chore(aws_cloudwatch_logs sink): Add log namespace support
  src/sinks/aws_cloudwatch_logs/config.rs
  src/sinks/aws_cloudwatch_logs/request_builder.rs
Labels: domain: sinks

#16429 chore: add `#[deny(missing_docs)]` to root
  src/amqp.rs
  src/api/mod.rs
  src/app.rs
  src/async_read.rs
  src/aws/mod.rs
  src/cli.rs
  src/components/mod.rs
  src/conditions/mod.rs
  src/config/mod.rs
  src/control_server.rs
  src/dns.rs
  src/docker.rs
  src/encoding_transcode.rs
  src/enrichment_tables/file.rs
  src/enrichment_tables/geoip.rs
  src/enrichment_tables/mod.rs
  src/gcp.rs
  src/generate.rs
  src/generate_schema.rs
  src/heartbeat.rs
  src/http.rs
  src/internal_events/mod.rs
  src/internal_telemetry/mod.rs
  src/kafka.rs
  src/kubernetes/mod.rs
  src/lib.rs
  src/list.rs
  src/providers/mod.rs
  src/secrets/mod.rs
  src/serde.rs
  src/service.rs
  src/signal.rs
  src/sinks/mod.rs
  src/source_sender/mod.rs
  src/sources/mod.rs
  src/sources/util/mod.rs
  src/sources/vector/mod.rs
  src/stats.rs
  src/template.rs
  src/test_util/mod.rs
  src/topology/mod.rs
  src/trace.rs
  src/transforms/mod.rs
  src/types.rs
  src/udp.rs
  src/unit_test.rs
  src/validate.rs
  src/vector_windows.rs
Labels: domain: topology, domain: sources, domain: transforms, domain: sinks

#16403 chore(gcp_chronicle sink, gcp_stackdriver_logs sink): Add log namespace support to GCP sinks
  src/sinks/gcp/chronicle_unstructured.rs
  src/sinks/gcp/stackdriver_logs.rs
Labels: domain: sinks

#16496 chore(datadog_logs sink): remove semantic encoder for the Datadog Logs sink
  src/sinks/datadog/logs/sink.rs
Labels: domain: sinks

#16487 chore(config): Store default value in a box
  lib/vector-config-macros/src/ast/container.rs
  lib/vector-config-macros/src/ast/field.rs
  lib/vector-config-macros/src/ast/util.rs
  lib/vector-config/src/metadata.rs
  src/config/mod.rs
  src/sinks/util/buffer/compression.rs
Labels: type: tech debt, domain: config, domain: sinks, ci-condition: integration tests enable

#16443 chore(deps): upgrade AWS crates to v0.54.1
  Cargo.lock
  Cargo.toml
  src/aws/auth.rs
  src/aws/mod.rs
  src/aws/region.rs
  src/sinks/aws_cloudwatch_logs/config.rs
  src/sinks/aws_cloudwatch_logs/integration_tests.rs
  src/sinks/aws_cloudwatch_logs/request.rs
  src/sinks/aws_cloudwatch_logs/retry.rs
  src/sinks/aws_cloudwatch_metrics/mod.rs
  src/sinks/aws_kinesis/firehose/config.rs
  src/sinks/aws_kinesis/firehose/integration_tests.rs
  src/sinks/aws_kinesis/streams/config.rs
  src/sinks/aws_kinesis/streams/integration_tests.rs
  src/sinks/aws_s3/integration_tests.rs
  src/sinks/aws_sqs/config.rs
  src/sinks/aws_sqs/integration_tests.rs
  src/sinks/s3_common/config.rs
  src/sources/aws_s3/mod.rs
  src/sources/aws_sqs/config.rs
  src/sources/aws_sqs/integration_tests.rs
Labels: domain: sources, domain: sinks, ci-condition: integration tests enable

#16497 chore(config): Drop generic bound on config `Metadata`
  lib/vector-common/src/datetime.rs
  lib/vector-config-macros/src/configurable.rs
  lib/vector-config/src/configurable.rs
  lib/vector-config/src/external/chrono.rs
  lib/vector-config/src/external/encoding_rs.rs
  lib/vector-config/src/external/indexmap.rs
  lib/vector-config/src/external/no_proxy.rs
  lib/vector-config/src/external/serde_with.rs
  lib/vector-config/src/external/tz.rs
  lib/vector-config/src/external/url.rs
  lib/vector-config/src/lib.rs
  lib/vector-config/src/metadata.rs
  lib/vector-config/src/schema.rs
  lib/vector-config/src/ser.rs
  lib/vector-config/src/stdlib.rs
  src/sinks/util/buffer/compression.rs
  src/sinks/util/service/concurrency.rs
Labels: type: tech debt, domain: config, domain: sinks, ci-condition: integration tests enable

#16499 feat(datadog_events sink): Use log namespacing and semantic meaning
  src/sinks/datadog/events/config.rs
  src/sinks/datadog/events/sink.rs
Labels: domain: sinks

#16394 fix(gcp_stackdriver_metrics): Fixes GcpSeries serialization format without breaking config.
  src/sinks/gcp/mod.rs
  src/sinks/gcp/stackdriver_metrics.rs
Labels: domain: sinks

#16060 feat(vrl): add encode_zstd and decode_zstd functions
  Cargo.lock
  lib/vrl/stdlib/Cargo.toml
  lib/vrl/stdlib/src/decode_zstd.rs
  lib/vrl/stdlib/src/encode_zstd.rs
  lib/vrl/stdlib/src/lib.rs
  lib/vrl/web-playground/Cargo.toml
  scripts/ensure-wasm-pack-installed.sh
  website/cue/reference/remap/functions/decode_zstd.cue
  website/cue/reference/remap/functions/encode_zstd.cue
  website/cue/reference/urls.cue
Labels: domain: ci, domain: external docs, domain: vrl

#16530 chore(deps): revert bump rustyline from 10.1.1 to 11.0.0
  Cargo.lock
  lib/vrl/cli/Cargo.toml
  lib/vrl/cli/src/repl.rs
Labels: domain: vrl

#16541 fix(core): Fix `LogEvent::source_type_path`
  lib/vector-core/src/event/log_event.rs
  src/sinks/datadog/events/sink.rs
Labels: domain: sinks, domain: core

#16547 docs(splunk_hec sink): generate component docs for splunk sink
  src/sinks/splunk_hec/logs/config.rs
Labels: domain: sinks

#16546 replace axiom docker containers with cloud dataset
  .github/workflows/integration-test.yml
  scripts/integration/axiom/compose.yaml
  scripts/integration/axiom/test.yaml
  src/sinks/axiom.rs
  website/cue/reference/components/sinks/base/axiom.cue
Labels: domain: sinks, domain: ci, domain: external docs, ci-condition: integration tests enable

#15106 feat(kafka): add consumer_lag metrics to Kafka
  src/internal_events/kafka.rs
  src/kafka.rs
  src/sinks/kafka/sink.rs
  src/sources/kafka.rs
  website/cue/reference/components/sources/base/kafka.cue
  website/cue/reference/components/sources/internal_metrics.cue
  website/cue/reference/components/sources/kafka.cue
Labels: domain: sources, domain: sinks, domain: external docs

#16540 chore(config): vendor `schemars` and slim it down
  Cargo.lock
  lib/vector-common/src/datetime.rs
  lib/vector-config-common/Cargo.toml
  lib/vector-config-common/src/lib.rs
  lib/vector-config-common/src/schema_gen/LICENSE-schemars
  lib/vector-config-common/src/schema_gen/gen.rs
  lib/vector-config-common/src/schema_gen/mod.rs
  lib/vector-config-common/src/schema_gen/schema.rs
  lib/vector-config-common/src/schema_gen/visit.rs
  lib/vector-config-common/src/validation.rs
  lib/vector-config-macros/src/configurable.rs
  lib/vector-config/Cargo.toml
  lib/vector-config/src/configurable.rs
  lib/vector-config/src/external/chrono.rs
  lib/vector-config/src/external/encoding_rs.rs
  lib/vector-config/src/external/indexmap.rs
  lib/vector-config/src/external/no_proxy.rs
  lib/vector-config/src/external/serde_with.rs
  lib/vector-config/src/external/toml.rs
  lib/vector-config/src/external/tz.rs
  lib/vector-config/src/external/url.rs
  lib/vector-config/src/lib.rs
  lib/vector-config/src/num.rs
  lib/vector-config/src/schema.rs
  lib/vector-config/src/ser.rs
  lib/vector-config/src/stdlib.rs
  src/sinks/util/buffer/compression.rs
  src/sinks/util/service/concurrency.rs
Labels: domain: sinks

#16537 feat(kafka sink): Use log namespacing and semantic meaning
  src/sinks/kafka/config.rs
  src/sinks/kafka/request_builder.rs
  src/sinks/kafka/sink.rs
Labels: domain: sinks, ci-condition: integration tests enable

#16550 chore(config): Drop `const NAME` from `trait NamedComponent`
  lib/vector-config-macros/src/component_name.rs
  lib/vector-config/src/named.rs
  src/enrichment_tables/mod.rs
  src/providers/mod.rs
  src/secrets/mod.rs
  src/sinks/datadog_archives.rs
  src/sinks/http.rs
  src/sinks/mod.rs
  src/sources/amqp.rs
  src/sources/aws_kinesis_firehose/handlers.rs
  src/sources/aws_kinesis_firehose/mod.rs
  src/sources/aws_s3/mod.rs
  src/sources/aws_s3/sqs.rs
  src/sources/aws_sqs/config.rs
  src/sources/aws_sqs/source.rs
  src/sources/datadog_agent/logs.rs
  src/sources/datadog_agent/mod.rs
  src/sources/demo_logs.rs
  src/sources/dnstap/mod.rs
  src/sources/docker_logs/mod.rs
  src/sources/exec/mod.rs
  src/sources/file.rs
  src/sources/file_descriptors/file_descriptor.rs
  src/sources/file_descriptors/mod.rs
  src/sources/file_descriptors/stdin.rs
  src/sources/fluent/mod.rs
  src/sources/gcp_pubsub.rs
  src/sources/heroku_logs.rs
  src/sources/http_client/client.rs
  src/sources/http_client/integration_tests.rs
  src/sources/http_server.rs
  src/sources/internal_logs.rs
  src/sources/journald.rs
  src/sources/kafka.rs
  src/sources/kubernetes_logs/mod.rs
  src/sources/kubernetes_logs/namespace_metadata_annotator.rs
  src/sources/kubernetes_logs/node_metadata_annotator.rs
  src/sources/kubernetes_logs/parser/cri.rs
  src/sources/kubernetes_logs/parser/docker.rs
  src/sources/kubernetes_logs/parser/test_util.rs
  src/sources/kubernetes_logs/pod_metadata_annotator.rs
  src/sources/logstash.rs
  src/sources/mod.rs
  src/sources/nats.rs
  src/sources/opentelemetry/mod.rs
  src/sources/opentelemetry/tests.rs
  src/sources/redis/mod.rs
  src/sources/socket/mod.rs
  src/sources/socket/tcp.rs
  src/sources/socket/udp.rs
  src/sources/socket/unix.rs
  src/sources/splunk_hec/mod.rs
  src/sources/statsd/mod.rs
  src/sources/syslog.rs
  src/sources/vector/mod.rs
  src/transforms/mod.rs
Labels: type: tech debt, domain: sources, domain: transforms, domain: sinks, ci-condition: integration tests enable

#16280 enhancement(datadog sinks): extract common config struct attributes to shared struct
  src/common/datadog.rs
  src/config/enterprise.rs
  src/sinks/datadog/events/config.rs
  src/sinks/datadog/events/tests.rs
  src/sinks/datadog/logs/config.rs
  src/sinks/datadog/logs/tests.rs
  src/sinks/datadog/metrics/config.rs
  src/sinks/datadog/metrics/integration_tests.rs
  src/sinks/datadog/mod.rs
  src/sinks/datadog/traces/config.rs
  website/content/en/highlights/2023-02-28-0-28-0-upgrade-guide.md
  website/cue/reference/components/sinks/base/datadog_events.cue
  website/cue/reference/components/sinks/base/datadog_logs.cue
  website/cue/reference/components/sinks/base/datadog_metrics.cue
  website/cue/reference/components/sinks/base/datadog_traces.cue
Labels: sink: datadog_metrics, domain: sinks, sink: datadog_logs, domain: external docs, sink: datadog_events, ci-condition: integration tests enable, sink: datadog_traces

#16552 chore: Include AXIOM_TOKEN in workflow env
  .github/workflows/integration-test.yml
Labels: ci-condition: integration tests enable

#16527 chore(ci): Upgrade to cross 0.2.5
  scripts/cross/aarch64-unknown-linux-gnu.dockerfile
  scripts/cross/aarch64-unknown-linux-musl.dockerfile
  scripts/cross/armv7-unknown-linux-gnueabihf.dockerfile
  scripts/cross/armv7-unknown-linux-musleabihf.dockerfile
  scripts/cross/powerpc-unknown-linux-gnu.dockerfile
  scripts/cross/powerpc64le-unknown-linux-gnu.dockerfile
  scripts/cross/x86_64-unknown-linux-gnu.dockerfile
  scripts/cross/x86_64-unknown-linux-musl.dockerfile
  scripts/environment/prepare.sh
Labels: domain: ci

#16554 chore(config): Drop unused `ToValue` trait bound
  lib/vector-config/src/schema.rs
Labels: type: tech debt, domain: config

#16553 chore: Drop `build-ci-docker-images` make rule
  Makefile
Labels: type: tech debt, domain: dev

#16518 fix(redis source): fix high cpu on redis intermittent connection issues
  src/sources/redis/list.rs
Labels: domain: sources

#15898 feat(new sink): Initial `databend` sink
  .github/workflows/integration-test.yml
  Cargo.toml
  Makefile
  scripts/integration/databend/compose.yaml
  scripts/integration/databend/test.yaml
  src/sinks/databend/api.rs
  src/sinks/databend/config.rs
  src/sinks/databend/error.rs
  src/sinks/databend/integration_tests.rs
  src/sinks/databend/mod.rs
  src/sinks/databend/service.rs
  src/sinks/databend/sink.rs
  src/sinks/mod.rs
  tests/data/databend/miniodat/databend/.keep
  website/content/en/docs/reference/configuration/sinks/databend.md
  website/cue/reference/components/sinks/base/databend.cue
  website/cue/reference/components/sinks/databend.cue
  website/cue/reference/services/databend.cue
  website/cue/reference/urls.cue
  website/data/redirects.yaml
  website/static/img/logos/databend.svg
Labels: domain: sinks, domain: ci, domain: external docs, ci-condition: integration tests enable, sink: new

#16564 feat(datadog_archives sink): Use log namespacing and semantic meaning
  src/sinks/datadog_archives.rs
Labels: domain: sinks

#16569 chore(config): add json schema 2019-09 support + reorganize schema module
  lib/vector-common/src/datetime.rs
  lib/vector-config-common/src/lib.rs
  lib/vector-config-common/src/schema/LICENSE-schemars
  lib/vector-config-common/src/schema/gen.rs
  lib/vector-config-common/src/schema/json_schema.rs
  lib/vector-config-common/src/schema/mod.rs
  lib/vector-config-common/src/schema/visit.rs
  lib/vector-config-common/src/validation.rs
  lib/vector-config-macros/src/configurable.rs
  lib/vector-config/src/configurable.rs
  lib/vector-config/src/external/chrono.rs
  lib/vector-config/src/external/encoding_rs.rs
  lib/vector-config/src/external/indexmap.rs
  lib/vector-config/src/external/no_proxy.rs
  lib/vector-config/src/external/serde_with.rs
  lib/vector-config/src/external/toml.rs
  lib/vector-config/src/external/tz.rs
  lib/vector-config/src/external/url.rs
  lib/vector-config/src/lib.rs
  lib/vector-config/src/num.rs
  lib/vector-config/src/schema_gen.rs
  lib/vector-config/src/ser.rs
  lib/vector-config/src/stdlib.rs
  src/sinks/util/buffer/compression.rs
  src/sinks/util/service/concurrency.rs
Labels: domain: sinks

#16568 chore(config): Set up `ConfigurableRef` for schema functions
  lib/vector-common/src/datetime.rs
  lib/vector-config-macros/src/configurable.rs
  lib/vector-config/src/configurable.rs
  lib/vector-config/src/external/indexmap.rs
  lib/vector-config/src/external/no_proxy.rs
  lib/vector-config/src/lib.rs
  lib/vector-config/src/schema_gen.rs
  lib/vector-config/src/stdlib.rs
  src/config/id.rs
  src/config/mod.rs
  src/config/sink.rs
  src/config/transform.rs
  src/serde.rs
  src/sinks/util/buffer/compression.rs
  src/sinks/util/service/concurrency.rs
Labels: type: tech debt, domain: config, domain: sinks, ci-condition: integration tests enable

#16146 fix(reduce transform): Fix flush not occuring when events arrive in high rate
  src/transforms/reduce/mod.rs
Labels: domain: transforms

#16580 chore(kafka): revert make consumer group instance id configurable
  src/sources/kafka.rs
  website/cue/reference/components/sources/base/kafka.cue
Labels: domain: sources, domain: external docs

#16582 fix(pulsar sink): Rename batch size option
  src/sinks/pulsar.rs
  website/cue/reference/components/sinks/base/pulsar.cue
Labels: domain: sinks, domain: external docs

#16501 chore(docs): extend SUPPORT.md to include guidelines on how to ask a support question about Vector
  .github/SUPPORT.md
Labels: domain: internal docs

#16555 chore(releasing): Update k8s manifests to 0.19.2 of helm chart
  distribution/kubernetes/vector-agent/README.md
  distribution/kubernetes/vector-agent/configmap.yaml
  distribution/kubernetes/vector-agent/daemonset.yaml
  distribution/kubernetes/vector-agent/rbac.yaml
  distribution/kubernetes/vector-agent/service-headless.yaml
  distribution/kubernetes/vector-agent/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/README.md
  distribution/kubernetes/vector-aggregator/configmap.yaml
  distribution/kubernetes/vector-aggregator/service-headless.yaml
  distribution/kubernetes/vector-aggregator/service.yaml
  distribution/kubernetes/vector-aggregator/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/statefulset.yaml
  distribution/kubernetes/vector-stateless-aggregator/README.md
  distribution/kubernetes/vector-stateless-aggregator/configmap.yaml
  distribution/kubernetes/vector-stateless-aggregator/deployment.yaml
  distribution/kubernetes/vector-stateless-aggregator/service-headless.yaml
  distribution/kubernetes/vector-stateless-aggregator/service.yaml
  distribution/kubernetes/vector-stateless-aggregator/serviceaccount.yaml
Labels: domain: releasing

#16100 docs(aws_kinesis_firehose source): Fix AWS CloudWatch forwarding example
  website/cue/reference/components/sources/aws_kinesis_firehose.cue
Labels: domain: external docs

#16572 chore(config): Convert top-level transforms enum to typetag
  Cargo.lock
  lib/vector-config-macros/Cargo.toml
  lib/vector-config-macros/src/configurable_component.rs
  lib/vector-config/src/component/description.rs
  lib/vector-config/src/configurable.rs
  src/api/schema/components/mod.rs
  src/components/validation/mod.rs
  src/components/validation/runner/config.rs
  src/config/builder.rs
  src/config/compiler.rs
  src/config/graph.rs
  src/config/mod.rs
  src/config/transform.rs
  src/config/unit_test/mod.rs
  src/config/validation.rs
  src/test_util/mock/transforms/basic.rs
  src/test_util/mock/transforms/noop.rs
  src/topology/builder.rs
  src/topology/schema.rs
  src/transforms/aggregate.rs
  src/transforms/aws_ec2_metadata.rs
  src/transforms/dedupe.rs
  src/transforms/filter.rs
  src/transforms/log_to_metric.rs
  src/transforms/lua/mod.rs
  src/transforms/metric_to_log.rs
  src/transforms/mod.rs
  src/transforms/reduce/mod.rs
  src/transforms/remap.rs
  src/transforms/route.rs
  src/transforms/sample.rs
  src/transforms/tag_cardinality_limit/config.rs
  src/transforms/throttle.rs
Labels: domain: topology, type: tech debt, domain: config, domain: transforms, ci-condition: integration tests enable

#16635 chore(releasing): Regenerate manifests for 0.20.0 of Helm chart
  distribution/kubernetes/vector-agent/README.md
  distribution/kubernetes/vector-agent/configmap.yaml
  distribution/kubernetes/vector-agent/daemonset.yaml
  distribution/kubernetes/vector-agent/rbac.yaml
  distribution/kubernetes/vector-agent/service-headless.yaml
  distribution/kubernetes/vector-agent/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/README.md
  distribution/kubernetes/vector-aggregator/configmap.yaml
  distribution/kubernetes/vector-aggregator/service-headless.yaml
  distribution/kubernetes/vector-aggregator/service.yaml
  distribution/kubernetes/vector-aggregator/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/statefulset.yaml
  distribution/kubernetes/vector-stateless-aggregator/README.md
  distribution/kubernetes/vector-stateless-aggregator/configmap.yaml
  distribution/kubernetes/vector-stateless-aggregator/deployment.yaml
  distribution/kubernetes/vector-stateless-aggregator/service-headless.yaml
  distribution/kubernetes/vector-stateless-aggregator/service.yaml
  distribution/kubernetes/vector-stateless-aggregator/serviceaccount.yaml
Labels: domain: releasing

#16631 fix(socket source): remove default_max_length default
  src/sources/socket/tcp.rs
  src/sources/socket/unix.rs
  website/cue/reference/components/sources/base/socket.cue
Labels: domain: sources, domain: external docs

#16639 chore(core): Make `Condition::check` public
  src/conditions/mod.rs
Labels: type: tech debt
