Repository vectordotdev/vector, pull requests merged in 2024-08, with the labels that each got.

#20991 docs(external docs): Emphasize the $$ rather than $ in config file.
  website/cue/reference/remap/functions/replace.cue
Labels: domain: external docs, no-changelog

#21010 chore(ci): Fix review comment trigger context
  .github/workflows/ci-integration-review.yml
  .github/workflows/cli.yml
  .github/workflows/component_features.yml
  .github/workflows/cross.yml
  .github/workflows/deny.yml
  .github/workflows/environment.yml
  .github/workflows/k8s_e2e.yml
  .github/workflows/misc.yml
  .github/workflows/regression.yml
  .github/workflows/unit_mac.yml
  .github/workflows/unit_windows.yml
Labels: no-changelog

#21009 chore(ci): Replace usages of `docker-compose` with `docker compose`
  scripts/environment/bootstrap-ubuntu-20.04.sh
  scripts/integration/README.md
  vdev/src/testing/config.rs
  vdev/src/testing/integration.rs
  website/cue/reference/administration/management.cue
Labels: domain: ci, domain: external docs, domain: vdev, no-changelog

#21007 <fix>: Correct snafu features
  Cargo.toml
Labels: no-changelog

#21006 docs(external docs): Fix the wrong log-namespace key.
  lib/vector-common/src/byte_size_of.rs
  website/content/en/blog/log-namespacing.md
  website/cue/reference/configuration.cue
Labels: domain: external docs, no-changelog

#20998 test(codecs): add missing assert in codec decoding tests
  lib/codecs/src/decoding/mod.rs
Labels: no-changelog

#20783 docs(remap transform): Fix example syntax
  website/cue/reference/remap/errors/305_divide_by_zero_error.cue
Labels: domain: external docs, no-changelog

#20985 fix(config): Avoid parsing configuration files without interpolating secrets
  changelog.d/defer-log-schema-defaults.fix.md
  src/app.rs
  src/config/mod.rs
  src/config/unit_test/mod.rs
  src/sources/docker_logs/mod.rs
  src/sources/file.rs
  src/sources/internal_logs.rs
  src/sources/internal_metrics.rs
  src/sources/socket/mod.rs
  src/sources/socket/tcp.rs
  src/sources/socket/udp.rs
  src/validate.rs
  website/cue/reference/components/sources/base/docker_logs.cue
  website/cue/reference/components/sources/base/file.cue
  website/cue/reference/components/sources/base/internal_logs.cue
  website/cue/reference/components/sources/base/internal_metrics.cue
  website/cue/reference/components/sources/base/socket.cue
Labels: domain: sources, domain: external docs

#21029 docs(external docs): Update ChangLog doc
  changelog.d/README.md
Labels: no-changelog

#21040 fix(config): allow usage of metrics-only decoders in log sources
  changelog.d/21039_allow-usage-of-metrics-only-decoders.fix.md
  lib/vector-core/src/config/mod.rs
  src/config/graph.rs
  src/config/unit_test/unit_test_components.rs
  src/sources/amqp.rs
  src/sources/aws_kinesis_firehose/mod.rs
  src/sources/aws_s3/mod.rs
  src/sources/aws_sqs/config.rs
  src/sources/datadog_agent/mod.rs
  src/sources/demo_logs.rs
  src/sources/dnstap/mod.rs
  src/sources/docker_logs/mod.rs
  src/sources/exec/mod.rs
  src/sources/file.rs
  src/sources/file_descriptors/mod.rs
  src/sources/fluent/mod.rs
  src/sources/gcp_pubsub.rs
  src/sources/heroku_logs.rs
  src/sources/http_client/client.rs
  src/sources/http_server.rs
  src/sources/internal_logs.rs
  src/sources/journald.rs
  src/sources/kafka.rs
  src/sources/kubernetes_logs/mod.rs
  src/sources/logstash.rs
  src/sources/nats.rs
  src/sources/opentelemetry/mod.rs
  src/sources/pulsar.rs
  src/sources/redis/mod.rs
  src/sources/socket/mod.rs
  src/sources/splunk_hec/mod.rs
  src/sources/syslog.rs
  src/sources/vector/mod.rs
  src/test_util/mock/sources/backpressure.rs
  src/test_util/mock/sources/basic.rs
  src/test_util/mock/sources/error.rs
  src/test_util/mock/sources/panic.rs
  src/test_util/mock/sources/tripwire.rs
  src/topology/schema.rs
Labels: domain: topology, domain: sources, domain: core

#21056 chore(tap): surface send error
  lib/vector-tap/src/lib.rs
Labels: no-changelog

#21036 enhancement(kafka sink): update service to set Errored status on events
  changelog.d/21036_kafka_sink_error_status.enhancement.md
  src/sinks/kafka/service.rs
Labels: domain: sinks

#21066 chore(deps): Update fork of tokio-util to 0.7.11 (latest)
  Cargo.lock
  Cargo.toml
Labels: no-changelog

#21068 fix(metrics): use correct series payload origin labels
  lib/vector-core/src/event/metadata.rs
Labels: domain: core, no-changelog

#21073 chore(config): Refactor secrets loading to avoid use of futures::executor::block_on
  src/config/loading/mod.rs
  src/config/loading/secret.rs
  src/config/secret.rs
  src/config/unit_test/mod.rs
  src/secrets/aws_secrets_manager.rs
  src/secrets/exec.rs
  src/secrets/test.rs
Labels: no-changelog

#21083 chore(deps): Regenerate Cargo.lock
  Cargo.lock
Labels: no-changelog

#21067 fix(reduce transform): use the correct merge strategy for top level objects
  changelog.d/21067_reduce.fix.md
  src/internal_events/reduce.rs
  src/transforms/reduce/merge_strategy.rs
  src/transforms/reduce/transform.rs
Labels: domain: transforms

#21096 chore(deps): Group dependabot tower updates
  .github/dependabot.yml
Labels: no-changelog

#21078 feat(playground): redesign vrl playground and make responsive
  .github/actions/spelling/allow.txt
  lib/vector-vrl/web-playground/public/assets/dd_icon_rgb.svg
  lib/vector-vrl/web-playground/public/index.css
  lib/vector-vrl/web-playground/public/index.html
Labels: no-changelog

#21113 chore(ci): Regenerate certificates used for nats integration tests
  tests/data/nats/nats-client.key
  tests/data/nats/nats-client.pem
  tests/data/nats/nats-server.key
  tests/data/nats/nats-server.pem
  tests/data/nats/rootCA.pem
Labels: no-changelog

#21082 fix(file sources): exclude pattern with multi slashes can not match some files
  changelog.d/file-sources-exclude-patterns-not-match-some-files.fix.md
  src/sources/file.rs
Labels: domain: sources

#21124 fix(docs, codecs): Correctly render character delimiter as a char in the docs
  lib/codecs/src/decoding/framing/character_delimited.rs
  lib/codecs/src/encoding/framing/character_delimited.rs
  scripts/generate-component-docs.rb
  website/cue/reference/components/sinks/base/aws_s3.cue
  website/cue/reference/components/sinks/base/azure_blob.cue
  website/cue/reference/components/sinks/base/console.cue
  website/cue/reference/components/sinks/base/file.cue
  website/cue/reference/components/sinks/base/gcp_cloud_storage.cue
  website/cue/reference/components/sinks/base/http.cue
  website/cue/reference/components/sinks/base/socket.cue
  website/cue/reference/components/sinks/base/webhdfs.cue
  website/cue/reference/components/sources/base/amqp.cue
  website/cue/reference/components/sources/base/aws_kinesis_firehose.cue
  website/cue/reference/components/sources/base/aws_s3.cue
  website/cue/reference/components/sources/base/aws_sqs.cue
  website/cue/reference/components/sources/base/datadog_agent.cue
  website/cue/reference/components/sources/base/demo_logs.cue
  website/cue/reference/components/sources/base/exec.cue
  website/cue/reference/components/sources/base/file_descriptor.cue
  website/cue/reference/components/sources/base/gcp_pubsub.cue
  website/cue/reference/components/sources/base/heroku_logs.cue
  website/cue/reference/components/sources/base/http.cue
  website/cue/reference/components/sources/base/http_client.cue
  website/cue/reference/components/sources/base/http_server.cue
  website/cue/reference/components/sources/base/kafka.cue
  website/cue/reference/components/sources/base/nats.cue
  website/cue/reference/components/sources/base/pulsar.cue
  website/cue/reference/components/sources/base/redis.cue
  website/cue/reference/components/sources/base/socket.cue
  website/cue/reference/components/sources/base/stdin.cue
Labels: domain: ci, domain: external docs, no-changelog

#21129 fix(kafka sink): Use rdkafka::client::Client instead of Consumer
  changelog.d/21129_suppress_warnings_for_kafka_sink.fix.md
  src/sinks/kafka/config.rs
  src/sinks/kafka/sink.rs
  src/sinks/kafka/tests.rs
Labels: domain: sinks

#21136 chore(ci): Bump regression workflow timeout to 60 minutes
  .github/workflows/regression.yml
Labels: no-changelog

#21114 chore(ci): Swap out mockwatchlogs for localstack
  scripts/integration/aws/compose.yaml
  scripts/integration/aws/test.yaml
  src/sinks/aws_cloudwatch_logs/integration_tests.rs
Labels: domain: sinks, domain: ci, no-changelog

#21154 fix(docs, vrl stdlib): Document that `to_int` coerces `null`s
  website/cue/reference/remap/functions/to_int.cue
Labels: domain: external docs, no-changelog

#21147 feat(honeycomb sink): endpoint is now configurable
  changelog.d/20994_honeycomb_sink_support_configurable_endpoint.feature.md
  src/sinks/honeycomb/config.rs
  website/cue/reference/components/sinks/base/honeycomb.cue
Labels: domain: sinks, domain: external docs

#21141 fix(amqp source): fix crash when handling metrics
  changelog.d/21141_fix_crash_when_handling_metrics.fix.md
  src/sources/amqp.rs
Labels: domain: sources

#21168 fix(playground): removes conflicting overflow settings creating multiple scrollbars
  lib/vector-vrl/web-playground/public/index.css
  lib/vector-vrl/web-playground/public/index.html
Labels: no-changelog

#21171 chore(deps): Bump VRL to the latest ref
  Cargo.lock
  Cargo.toml
  lib/codecs/Cargo.toml
  lib/codecs/src/encoding/format/protobuf.rs
  src/conditions/datadog_search.rs
  website/cue/reference/remap/functions/match_datadog_query.cue
Labels: type: tech debt, domain: external docs, dependencies, no-changelog

#21174 chore(config): Configure `datadog_search` condition directly
  lib/vector-config/src/external/vrl.rs
  src/conditions/datadog_search.rs
Labels: provider: datadog, no-changelog

#21179 fix(transforms): Hande numeric equality in `datadog_search` condition
  changelog.d/21179_datadog_search_numbers.fix.md
  src/conditions/datadog_search.rs
Labels: type: bug, type: enhancement, provider: datadog, transform: filter, domain: filtering

#21181 chore(transforms): Add conversion helpers for `DatadogSearchConfig`
  src/conditions/datadog_search.rs
Labels: type: tech debt, no-changelog

#21182 chore(ci): Fix review workflow trigger
  .github/workflows/ci-review-trigger.yml
Labels: no-changelog

#21183 chore(ci): Fix fetching PR number for regression workflow
  .github/workflows/regression.yml
Labels: no-changelog

#21185 chore(ci): add codec test data dir to regression workflow ignore filter
  .github/workflows/regression.yml
Labels: no-changelog

#21186 chore(ci): Fix finding of merge-base for regression workflow
  .github/workflows/regression.yml
Labels: no-changelog
