Repository vectordotdev/vector, pull requests merged in 2024-11, with the labels that each got.

#18020 chore(dev): Add configuration for aqua to manage tooling dependencies
  .github/actions/spelling/expect.txt
  aqua/aqua-policy.yaml
  aqua/aqua.yaml
  aqua/registry.yaml
Labels: no-changelog

#21677 fix(sample transform): component feature check fix
  Cargo.lock
  src/transforms/mod.rs
  src/transforms/sample/config.rs
  src/transforms/sample/mod.rs
  src/transforms/sample/tests.rs
  src/transforms/sample/transform.rs
Labels: domain: transforms, no-changelog

#21609 docs(vector sink): Added proxy option to Vector sink
  website/cue/reference/components/sinks/vector.cue
Labels: domain: external docs, no-changelog

#20710 chore(config)!: Default `expire_internal_metrics` to 300s
  changelog.d/expire_internal_metrics.breaking.md
  lib/vector-core/src/config/global_options.rs
  src/topology/running.rs
  website/cue/reference/configuration.cue
Labels: domain: topology, domain: external docs, domain: core

#21530 chore(ci): Fix scraping of target metrics by lading
  regression/cases/datadog_agent_remap_blackhole/lading/lading.yaml
  regression/cases/datadog_agent_remap_blackhole_acks/lading/lading.yaml
  regression/cases/datadog_agent_remap_datadog_logs/lading/lading.yaml
  regression/cases/datadog_agent_remap_datadog_logs_acks/lading/lading.yaml
  regression/cases/file_to_blackhole/lading/lading.yaml
  regression/cases/fluent_elasticsearch/lading/lading.yaml
  regression/cases/http_elasticsearch/lading/lading.yaml
  regression/cases/http_text_to_http_json/lading/lading.yaml
  regression/cases/http_to_http_acks/lading/lading.yaml
  regression/cases/http_to_http_json/lading/lading.yaml
  regression/cases/http_to_http_noack/lading/lading.yaml
  regression/cases/http_to_s3/lading/lading.yaml
  regression/cases/otlp_grpc_to_blackhole/lading/lading.yaml
  regression/cases/otlp_http_to_blackhole/lading/lading.yaml
  regression/cases/socket_to_socket_blackhole/lading/lading.yaml
  regression/cases/splunk_hec_indexer_ack_blackhole/lading/lading.yaml
  regression/cases/splunk_hec_route_s3/lading/lading.yaml
  regression/cases/splunk_hec_to_splunk_hec_logs_acks/lading/lading.yaml
  regression/cases/splunk_hec_to_splunk_hec_logs_noack/lading/lading.yaml
  regression/cases/syslog_humio_logs/lading/lading.yaml
  regression/cases/syslog_log2metric_humio_metrics/lading/lading.yaml
  regression/cases/syslog_log2metric_splunk_hec_metrics/lading/lading.yaml
  regression/cases/syslog_log2metric_tag_cardinality_limit_blackhole/lading/lading.yaml
  regression/cases/syslog_loki/lading/lading.yaml
  regression/cases/syslog_regex_logs2metric_ddmetrics/lading/lading.yaml
  regression/cases/syslog_splunk_hec_logs/lading/lading.yaml
  regression/config.yaml
Labels: no-changelog

#21680 chore(ci): Limit spellchecker to user-facing content
  .github/actions/spelling/excludes.txt
  .github/actions/spelling/expect.txt
  .github/actions/spelling/only.txt
Labels: no-changelog

#21681 chore(ci): Remove environment stage name
  scripts/environment/Dockerfile
Labels: domain: ci, no-changelog

#19683 chore(ci): Use free OSS 4 vCPU runners
  .github/workflows/ci-integration-review.yml
  .github/workflows/integration-test.yml
  .github/workflows/integration.yml
  .github/workflows/k8s_e2e.yml
  .github/workflows/misc.yml
  .github/workflows/regression.yml
  scripts/ci-free-disk-space.sh
Labels: domain: ci, no-changelog

#21693 chore(website): update community page
  website/content/en/community/_index.md
Labels: no-changelog

#21674 feat(opentelemetry source): add support for enriching logs with HTTP headers
  Cargo.toml
  changelog.d/21673_add_http_headers_to_opentelemetry_source.feature.md
  src/sources/http_server.rs
  src/sources/opentelemetry/http.rs
  src/sources/opentelemetry/integration_tests.rs
  src/sources/opentelemetry/mod.rs
  src/sources/opentelemetry/tests.rs
  src/sources/util/http/headers.rs
  src/sources/util/http/mod.rs
  src/sources/util/mod.rs
  website/cue/reference/components/sources/base/http.cue
  website/cue/reference/components/sources/base/http_server.cue
  website/cue/reference/components/sources/base/opentelemetry.cue
Labels: domain: sources, domain: external docs, source: opentelemetry

#21719 docs(dev): document how to update licenses
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Labels: no-changelog

#21723 chore(ci): Clear space at the start of the k8s e2e workflow
  .github/workflows/k8s_e2e.yml
Labels: no-changelog

#21457 enhancement(http sink): Retrying the HTTP sink in case of 404s and request timeouts
  changelog.d/21457_more_error_codes_on_http_sink.enhancement.md
  src/sinks/util/http.rs
  website/cue/reference/components/sinks.cue
Labels: domain: sinks, domain: external docs

#21722 chore(ci): update all remaining GitHub actions v3 packages to v4
  .github/workflows/publish.yml
Labels: no-changelog

#21697 fix(tests): make the `TELEMETRY` singleton thread local for tests
  Cargo.lock
  Cargo.toml
  lib/vector-core/Cargo.toml
  lib/vector-core/src/config/telemetry.rs
Labels: domain: core, no-changelog

#21669 chore(config): log component graph when there's an error
  lib/vector-core/src/config/mod.rs
  src/config/graph.rs
Labels: type: enhancement, domain: core, no-changelog

#20859 feat(codecs): Implement chunked GELF decoding
  .github/actions/spelling/allow.txt
  Cargo.lock
  Cargo.toml
  changelog.d/20769-chunked_gelf_decoding.feature.md
  lib/codecs/Cargo.toml
  lib/codecs/src/decoding/framing/chunked_gelf.rs
  lib/codecs/src/decoding/framing/mod.rs
  lib/codecs/src/decoding/mod.rs
  lib/codecs/src/encoding/format/native_json.rs
  src/components/validation/resources/mod.rs
  src/sources/socket/mod.rs
  src/sources/socket/udp.rs
  website/cue/reference/components/sources/base/amqp.cue
  website/cue/reference/components/sources/base/aws_kinesis_firehose.cue
  website/cue/reference/components/sources/base/aws_s3.cue
  website/cue/reference/components/sources/base/aws_sqs.cue
  website/cue/reference/components/sources/base/datadog_agent.cue
  website/cue/reference/components/sources/base/demo_logs.cue
  website/cue/reference/components/sources/base/exec.cue
  website/cue/reference/components/sources/base/file_descriptor.cue
  website/cue/reference/components/sources/base/gcp_pubsub.cue
  website/cue/reference/components/sources/base/heroku_logs.cue
  website/cue/reference/components/sources/base/http.cue
  website/cue/reference/components/sources/base/http_client.cue
  website/cue/reference/components/sources/base/http_server.cue
  website/cue/reference/components/sources/base/kafka.cue
  website/cue/reference/components/sources/base/nats.cue
  website/cue/reference/components/sources/base/pulsar.cue
  website/cue/reference/components/sources/base/redis.cue
  website/cue/reference/components/sources/base/socket.cue
  website/cue/reference/components/sources/base/stdin.cue
Labels: domain: sources, domain: external docs

#21712 chore(dev): update datadog-signing-keys recommended version
  Cargo.toml
Labels: no-changelog

#21733 chore(ci): Update check-spelling to 0.0.22
  .github/actions/spelling/allow.txt
  .github/actions/spelling/expect.txt
  .github/workflows/spelling.yml
  website/cue/reference/remap/expressions/path.cue
Labels: domain: external docs, no-changelog

#21730 docs(external): Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: no-changelog

#21736 chore(deps): Upgrade check-spelling to 0.0.23
  .github/workflows/spelling.yml
Labels: no-changelog

#21737 chore(ci): Upgrade check-spelling to 0.0.24
  .github/workflows/spelling.yml
Labels: no-changelog

#17389 feat(codecs): Add CEF encoder
  changelog.d/17389_add_cef_encoder.enhancement.md
  lib/codecs/src/encoding/format/cef.rs
  lib/codecs/src/encoding/format/mod.rs
  lib/codecs/src/encoding/mod.rs
  src/codecs/encoding/config.rs
  src/codecs/encoding/encoder.rs
  src/components/validation/resources/mod.rs
  src/sinks/websocket/sink.rs
  website/cue/reference/components/sinks/base/amqp.cue
  website/cue/reference/components/sinks/base/aws_cloudwatch_logs.cue
  website/cue/reference/components/sinks/base/aws_kinesis_firehose.cue
  website/cue/reference/components/sinks/base/aws_kinesis_streams.cue
  website/cue/reference/components/sinks/base/aws_s3.cue
  website/cue/reference/components/sinks/base/aws_sns.cue
  website/cue/reference/components/sinks/base/aws_sqs.cue
  website/cue/reference/components/sinks/base/azure_blob.cue
  website/cue/reference/components/sinks/base/console.cue
  website/cue/reference/components/sinks/base/file.cue
  website/cue/reference/components/sinks/base/gcp_chronicle_unstructured.cue
  website/cue/reference/components/sinks/base/gcp_cloud_storage.cue
  website/cue/reference/components/sinks/base/gcp_pubsub.cue
  website/cue/reference/components/sinks/base/http.cue
  website/cue/reference/components/sinks/base/humio_logs.cue
  website/cue/reference/components/sinks/base/kafka.cue
  website/cue/reference/components/sinks/base/loki.cue
  website/cue/reference/components/sinks/base/mqtt.cue
  website/cue/reference/components/sinks/base/nats.cue
  website/cue/reference/components/sinks/base/papertrail.cue
  website/cue/reference/components/sinks/base/pulsar.cue
  website/cue/reference/components/sinks/base/redis.cue
  website/cue/reference/components/sinks/base/socket.cue
  website/cue/reference/components/sinks/base/splunk_hec_logs.cue
  website/cue/reference/components/sinks/base/webhdfs.cue
  website/cue/reference/components/sinks/base/websocket.cue
Labels: domain: sinks, domain: codecs, domain: external docs, meta: awaiting author

#21583 enhancement(http provider): Add automatic bearer token acquisition in http-client [version 2]
  Cargo.lock
  Cargo.toml
  changelog.d/add_automatic_bearer_token_acquisition_in_http_client.enhancement.md
  src/http.rs
  src/internal_events/http_client.rs
  src/sinks/axiom.rs
  src/sinks/http/config.rs
  src/sinks/http/tests.rs
  website/cue/reference/components/sinks/base/http.cue
Labels: domain: sinks, domain: external docs

#21746 docs(config): Update wrapped_json.yaml example
  config/examples/wrapped_json.yaml
Labels: no-changelog

#21744 chore(dev): update cargo lock
  Cargo.lock
Labels: no-changelog

#21758 chore(ci): Ignore RUSTSEC-2024-0336
  deny.toml
Labels: no-changelog

#21290 feat(cli): add support for poll watcher
  changelog.d/poll-watcher-support.enhancement.md
  src/app.rs
  src/cli.rs
  src/config/watcher.rs
  website/content/en/docs/administration/management.md
  website/cue/reference/cli.cue
Labels: domain: external docs

#21760 docs(kafka source, kafka sink): include kafka source in `librdkafka` section
  website/cue/reference/components/kafka.cue
Labels: domain: external docs, no-changelog

#21761 chore(deps): Upgrade cargo-deny to latest
  aqua/aqua.yaml
  deny.toml
  scripts/environment/prepare.sh
Labels: domain: ci, no-changelog

#21768 chore(dev): Gate additional parameters in elasticsearch sink
  src/sinks/elasticsearch/common.rs
Labels: domain: sinks, no-changelog

#21734 docs(vrl): document punycode as an IDN function
  website/cue/reference/remap/functions/decode_punycode.cue
  website/cue/reference/remap/functions/encode_punycode.cue
Labels: domain: external docs, no-changelog

#21774 chore(deps): bump vrl
  Cargo.lock
Labels: no-changelog

#21773 fix(ci): fix publish workflow permissions
  .github/workflows/custom_builds.yml
  .github/workflows/nightly.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
Labels: no-changelog

#21784 chore(ci): Remove vestigial commit status steps from regression workflow
  .github/workflows/regression.yml
Labels: no-changelog

#21787 chore(ci): remove 'unset HOMEBREW_NO_INSTALL_FROM_API' line
  .github/workflows/master_merge_queue.yml
  .github/workflows/publish.yml
  .github/workflows/unit_mac.yml
  scripts/environment/bootstrap-macos.sh
Labels: domain: ci, no-changelog

#21796 chore(dev): delete transforms-pipelines feature
  Cargo.toml
  src/config/loading/mod.rs
Labels: no-changelog

#21707 feat(exclusive_route transform): implements new transform
  .github/workflows/semantic.yml
  Cargo.toml
  changelog.d/21707_exclusive_route_transform.feature.md
  src/transforms/exclusive_route/config.rs
  src/transforms/exclusive_route/mod.rs
  src/transforms/exclusive_route/tests.rs
  src/transforms/exclusive_route/transform.rs
  src/transforms/mod.rs
  website/content/en/docs/reference/configuration/transforms/exclusive_route.md
  website/content/en/highlights/2024-11-07-exclusive_route.md
  website/cue/reference/components.cue
  website/cue/reference/components/transforms/base/exclusive_route.cue
  website/cue/reference/components/transforms/exclusive_route.cue
  website/cue/reference/components/transforms/route.cue
  website/cue/reference/urls.cue
  website/static/img/exclusive_route.svg
Labels: domain: transforms, domain: external docs

#21798 chore(deps): make snafu a workspace dependency
  Cargo.lock
  Cargo.toml
  lib/codecs/Cargo.toml
  lib/dnsmsg-parser/Cargo.toml
  lib/dnsmsg-parser/src/dns_message_parser.rs
  lib/docs-renderer/Cargo.toml
  lib/prometheus-parser/Cargo.toml
  lib/vector-buffers/Cargo.toml
  lib/vector-common/Cargo.toml
  lib/vector-config/Cargo.toml
  lib/vector-core/Cargo.toml
  lib/vector-tap/Cargo.toml
Labels: domain: core, no-changelog

#21813 docs(config): Document limitation of log namespacing with disk buffers
  website/cue/reference/configuration.cue
Labels: domain: external docs, no-changelog

#21814 docs(azure_blob sink, gcp_cloud_storage sink): Note transparent decompression
  src/sinks/azure_blob/config.rs
  src/sinks/gcp/cloud_storage.rs
  website/cue/reference/components/sinks/base/azure_blob.cue
  website/cue/reference/components/sinks/base/gcp_cloud_storage.cue
Labels: domain: sinks, domain: external docs, no-changelog

#21739 enhancement(greptimedb_logs sink): provide a default value for greptimedb logs pipeline_name
  changelog.d/21739_greptimedb_logs_pipeline_name_optional.enhancement.md
  scripts/integration/greptimedb/test.yaml
  src/sinks/greptimedb/logs/config.rs
  src/sinks/greptimedb/logs/integration_tests.rs
  src/sinks/greptimedb/mod.rs
  website/cue/reference/components/sinks/base/greptimedb_logs.cue
Labels: domain: sinks, domain: ci, domain: external docs

#21826 chore(dev): delete 'configurable_package_name_hack' and refactor
  Cargo.lock
  Cargo.toml
  lib/codecs/src/encoding/format/cef.rs
  lib/codecs/src/encoding/format/csv.rs
  lib/codecs/src/encoding/format/json.rs
  lib/codecs/src/encoding/format/protobuf.rs
  lib/codecs/src/encoding/format/text.rs
  lib/codecs/src/lib.rs
  lib/vector-config-common/src/lib.rs
  lib/vector-config-common/src/validation.rs
  lib/vector-config-macros/src/ast/field.rs
  lib/vector-config-macros/src/component_name.rs
  lib/vector-config-macros/src/configurable.rs
  lib/vector-config-macros/src/configurable_component.rs
  src/config/mod.rs
  src/config/source.rs
Labels: no-changelog

#21841 chore(ci): delete unusued deps from ubuntu bootstrap
  .github/workflows/create_preview_sites.yml
  scripts/environment/bootstrap-ubuntu-20.04.sh
Labels: domain: ci, no-changelog

#21845 chore(ci): add issues write perms to build_preview_sites.yml
  .github/workflows/build_preview_sites.yml
Labels: no-changelog

#21849 fix(ci): add more perms for website preview workflows
  .github/workflows/build_preview_sites.yml
  .github/workflows/create_preview_sites.yml
Labels: no-changelog

#21848 chore(website): remove invalid link
  website/cue/reference/releases/0.30.0.cue
Labels: domain: external docs, no-changelog

#21789 feat(internal): Add VECTOR_HOSTNAME env variable
  changelog.d/21789_add_vector_hostname_env_variable.enhancement.md
  src/lib.rs
  website/cue/reference/cli.cue
Labels: domain: external docs

#21860 enhancement(elasticsearch sink): Add update support to bulk action
  changelog.d/21860_elasticsearch_add_update_bulk_api.feature.md
  src/sinks/elasticsearch/config.rs
  src/sinks/elasticsearch/mod.rs
  src/sinks/elasticsearch/retry.rs
  website/cue/reference/components/sinks/base/elasticsearch.cue
  website/cue/reference/components/sinks/elasticsearch.cue
Labels: domain: sinks, domain: external docs

#21816 feat(codecs): chunked gelf decoder decompression support
  Cargo.lock
  Cargo.toml
  changelog.d/21153-chunked_gelf_decompression.feature.md
  lib/codecs/Cargo.toml
  lib/codecs/src/decoding/framing/chunked_gelf.rs
  lib/file-source/Cargo.toml
  lib/file-source/src/file_watcher/mod.rs
  lib/vector-common/src/constants.rs
  lib/vector-common/src/lib.rs
  src/sources/aws_kinesis_firehose/handlers.rs
  website/cue/reference/components/sources/base/amqp.cue
  website/cue/reference/components/sources/base/aws_kinesis_firehose.cue
  website/cue/reference/components/sources/base/aws_s3.cue
  website/cue/reference/components/sources/base/aws_sqs.cue
  website/cue/reference/components/sources/base/datadog_agent.cue
  website/cue/reference/components/sources/base/demo_logs.cue
  website/cue/reference/components/sources/base/exec.cue
  website/cue/reference/components/sources/base/file_descriptor.cue
  website/cue/reference/components/sources/base/gcp_pubsub.cue
  website/cue/reference/components/sources/base/heroku_logs.cue
  website/cue/reference/components/sources/base/http.cue
  website/cue/reference/components/sources/base/http_client.cue
  website/cue/reference/components/sources/base/http_server.cue
  website/cue/reference/components/sources/base/kafka.cue
  website/cue/reference/components/sources/base/nats.cue
  website/cue/reference/components/sources/base/pulsar.cue
  website/cue/reference/components/sources/base/redis.cue
  website/cue/reference/components/sources/base/socket.cue
  website/cue/reference/components/sources/base/stdin.cue
Labels: domain: sources, domain: external docs

#21878 fix(honeycomb sink): The batch body should be encoded as array
  changelog.d/21878_request_body_of_honeycomb_sink.fix.md
  src/sinks/honeycomb/encoder.rs
Labels: domain: sinks

#21885 fix(http sink): revert 21583
  Cargo.lock
  Cargo.toml
  changelog.d/add_automatic_bearer_token_acquisition_in_http_client.enhancement.md
  src/http.rs
  src/internal_events/http_client.rs
  src/sinks/axiom.rs
  src/sinks/http/config.rs
  src/sinks/http/tests.rs
  website/cue/reference/components/sinks/base/http.cue
Labels: domain: sinks, domain: external docs, no-changelog

#21889 feat(honeycomb sink): Support compression
  changelog.d/21889_support_compression_for_honeycomb_sink.enhancement.md
  src/sinks/honeycomb/config.rs
  src/sinks/honeycomb/request_builder.rs
  src/sinks/honeycomb/service.rs
  website/cue/reference/components/sinks/base/honeycomb.cue
  website/cue/reference/components/sinks/honeycomb.cue
Labels: domain: sinks, domain: external docs

#21897 fix(ci): drop ubuntu 23.04, use 24.04(LTS)
  .github/workflows/publish.yml
Labels: no-changelog

#21866 feat(opentelemetry sink): new sink
  .github/actions/spelling/allow.txt
  Cargo.toml
  changelog.d/21866_otel_sink.feature.md
  lib/opentelemetry-proto/src/proto/opentelemetry-proto/opentelemetry/proto/README.md
  src/lib.rs
  src/sinks/mod.rs
  src/sinks/opentelemetry/mod.rs
  website/content/en/docs/reference/configuration/sinks/opentelemetry.md
  website/cue/reference/components/sinks/base/opentelemetry.cue
  website/cue/reference/components/sinks/opentelemetry.cue
  website/cue/reference/urls.cue
Labels: domain: sinks, domain: external docs

#21900 fix(ci): add missing dep
  Cargo.toml
Labels: no-changelog

#21896 fix(vrl): mark set_semantic_meaning impure
  lib/vector-vrl/functions/src/set_semantic_meaning.rs
Labels: no-changelog

#21884 docs(external): remove incorrect failure reason for parse_regex_all fallibility
  website/cue/reference/remap/functions/parse_regex_all.cue
Labels: domain: external docs, no-changelog
