Repository vectordotdev/vector, pull requests merged in 2024-01, with the labels that each got.

#19493 docs(vrl): update tests for 2024
  website/cue/reference/remap/functions/parse_klog.cue
  website/cue/reference/remap/functions/parse_linux_authorization.cue
Labels: domain: external docs

#19494 enhancement(kubernetes): Update manifests to chart v0.29.1
  distribution/kubernetes/vector-agent/README.md
  distribution/kubernetes/vector-agent/configmap.yaml
  distribution/kubernetes/vector-agent/daemonset.yaml
  distribution/kubernetes/vector-agent/rbac.yaml
  distribution/kubernetes/vector-agent/service-headless.yaml
  distribution/kubernetes/vector-agent/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/README.md
  distribution/kubernetes/vector-aggregator/configmap.yaml
  distribution/kubernetes/vector-aggregator/service-headless.yaml
  distribution/kubernetes/vector-aggregator/service.yaml
  distribution/kubernetes/vector-aggregator/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/statefulset.yaml
  distribution/kubernetes/vector-stateless-aggregator/README.md
  distribution/kubernetes/vector-stateless-aggregator/configmap.yaml
  distribution/kubernetes/vector-stateless-aggregator/deployment.yaml
  distribution/kubernetes/vector-stateless-aggregator/service-headless.yaml
  distribution/kubernetes/vector-stateless-aggregator/service.yaml
  distribution/kubernetes/vector-stateless-aggregator/serviceaccount.yaml
Labels: domain: releasing

#19393 chore(config): Add option to turn missing env vars in config into an error
  docs/DEPRECATIONS.md
  src/app.rs
  src/cli.rs
  src/config/cmd.rs
  src/config/loading/mod.rs
  src/config/mod.rs
  src/config/vars.rs
  website/cue/reference/cli.cue
Labels: domain: cli, domain: config, domain: external docs

#19429 chore(releasing): Automated changelog generation
  .github/ISSUE_TEMPLATE/minor-release.md
  .github/actions/spelling/expect.txt
  .github/dependabot.yml
  .github/workflows/changelog.yaml
  CONTRIBUTING.md
  changelog.d/README.md
  docs/DEPRECATION.md
  scripts/check_changelog_fragments.sh
  scripts/generate-release-cue.rb
Labels: domain: ci, domain: releasing

#19509 chore(docs): Fix link to RFC 3339
  website/cue/reference.cue
Labels: domain: external docs, no-changelog

#19524 chore(ci): fix changelog workflow extern contribs
  .github/workflows/changelog.yaml
Labels: no-changelog

#19450 ehancement(datadog_metrics sink, datadog_logs sink): improve retry behavior code quality
  src/sinks/datadog/metrics/service.rs
  src/sinks/datadog/mod.rs
Labels: domain: sinks

#19545 chore(ci): exclude dependabot from changelog job steps
  .github/workflows/changelog.yaml
Labels: no-changelog

#19518 chore(deps): Bump Rust to 1.75.0
  Tiltfile
  lib/codecs/Cargo.toml
  lib/codecs/src/encoding/format/csv.rs
  lib/dnsmsg-parser/src/dns_message_parser.rs
  lib/prometheus-parser/src/lib.rs
  lib/vector-buffers/src/config.rs
  lib/vector-buffers/src/encoding.rs
  lib/vector-buffers/src/test/variant.rs
  lib/vector-buffers/src/topology/acks.rs
  lib/vector-buffers/src/topology/channel/receiver.rs
  lib/vector-buffers/src/topology/channel/sender.rs
  lib/vector-buffers/src/variants/disk_v2/common.rs
  lib/vector-buffers/src/variants/disk_v2/ledger.rs
  lib/vector-buffers/src/variants/disk_v2/mod.rs
  lib/vector-buffers/src/variants/disk_v2/reader.rs
  lib/vector-buffers/src/variants/disk_v2/tests/mod.rs
  lib/vector-buffers/src/variants/disk_v2/tests/model/common.rs
  lib/vector-buffers/src/variants/disk_v2/writer.rs
  lib/vector-common/src/finalizer.rs
  lib/vector-config/src/schema/helpers.rs
  lib/vector-core/src/config/telemetry.rs
  lib/vector-core/src/event/log_event.rs
  lib/vector-core/src/event/lua/event.rs
  lib/vector-core/src/event/lua/log.rs
  lib/vector-core/src/event/metric/arbitrary.rs
  lib/vector-core/src/event/metric/mod.rs
  lib/vector-core/src/event/vrl_target.rs
  lib/vector-core/src/tls/settings.rs
  lib/vector-stream/src/partitioned_batcher.rs
  rust-toolchain.toml
  src/api/schema/metrics/filter.rs
  src/api/schema/metrics/source/file.rs
  src/config/enterprise.rs
  src/config/loading/mod.rs
  src/config/validation.rs
  src/enrichment_tables/geoip.rs
  src/generate.rs
  src/sinks/elasticsearch/tests.rs
  src/sinks/prometheus/remote_write/integration_tests.rs
  src/sinks/prometheus/remote_write/mod.rs
  src/sinks/prometheus/remote_write/tests.rs
  src/sinks/splunk_hec/common/acknowledgements.rs
  src/sinks/util/adaptive_concurrency/tests.rs
  src/sinks/util/mod.rs
  src/sources/datadog_agent/integration_tests.rs
  src/sources/http_client/tests.rs
  src/sources/kubernetes_logs/partial_events_merger.rs
  src/sources/postgresql_metrics.rs
  src/sources/prometheus/scrape.rs
  src/sources/util/grpc/decompression.rs
  src/test_util/mod.rs
  src/transforms/remap.rs
Labels: domain: sources, domain: transforms, domain: sinks, domain: deps, domain: core, no-changelog

#18143 feat(new source): Add Prometheus Pushgateway source
  .github/actions/spelling/allow.txt
  .github/actions/spelling/patterns.txt
  Cargo.toml
  changelog.d/10304_add_prometheus_pushgateway_source.feature.md
  src/sources/mod.rs
  src/sources/prometheus/mod.rs
  src/sources/prometheus/parser.rs
  src/sources/prometheus/pushgateway.rs
  vdev/src/features.rs
  website/content/en/docs/reference/configuration/sources/prometheus_pushgateway.md
  website/cue/reference/components/sources/base/prometheus_pushgateway.cue
  website/cue/reference/components/sources/prometheus_pushgateway.cue
  website/cue/reference/urls.cue
Labels: domain: sources, domain: external docs, domain: vdev

#19568 chore(ci): Fix the check for external contributor author GH usernames
  .github/workflows/changelog.yaml
Labels: domain: ci, no-changelog

#19567 chore: Fix aws feature error
  src/aws/mod.rs
  src/sinks/aws_cloudwatch_logs/retry.rs
Labels: domain: sinks, no-changelog

#19569 chore: only export RemoteWriteConfig for remote-write feature
  src/sinks/prometheus/remote_write/mod.rs
Labels: domain: sinks, no-changelog

#19571 chore(docs): Add pure/impure badge for VRL functions
  website/cue/reference/remap/expressions/function_call.cue
  website/cue/reference/remap/functions.cue
  website/cue/reference/remap/functions/assert.cue
  website/cue/reference/remap/functions/assert_eq.cue
  website/cue/reference/remap/functions/del.cue
  website/cue/reference/remap/functions/log.cue
  website/layouts/partials/data.html
Labels: domain: external docs, no-changelog

#19572 chore(deps): Group together crossbeam updates
  .github/dependabot.yml
Labels: no-changelog

#19578 chore(ci): Ensure PR runs of regression and k8s e2e tests don't cancel each other
  .github/workflows/k8s_e2e.yml
  .github/workflows/regression.yml
Labels: no-changelog

#19554 chore(kubernetes): Bump manifests to v0.30.0 of the chart
  distribution/kubernetes/vector-agent/README.md
  distribution/kubernetes/vector-agent/configmap.yaml
  distribution/kubernetes/vector-agent/daemonset.yaml
  distribution/kubernetes/vector-agent/rbac.yaml
  distribution/kubernetes/vector-agent/service-headless.yaml
  distribution/kubernetes/vector-agent/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/README.md
  distribution/kubernetes/vector-aggregator/configmap.yaml
  distribution/kubernetes/vector-aggregator/service-headless.yaml
  distribution/kubernetes/vector-aggregator/service.yaml
  distribution/kubernetes/vector-aggregator/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/statefulset.yaml
  distribution/kubernetes/vector-stateless-aggregator/README.md
  distribution/kubernetes/vector-stateless-aggregator/configmap.yaml
  distribution/kubernetes/vector-stateless-aggregator/deployment.yaml
  distribution/kubernetes/vector-stateless-aggregator/service-headless.yaml
  distribution/kubernetes/vector-stateless-aggregator/service.yaml
  distribution/kubernetes/vector-stateless-aggregator/serviceaccount.yaml
Labels: domain: releasing, no-changelog

#19551 chore(docs): Fix proofreading mistake in v0.35.0 upgrade guide
  website/content/en/highlights/2023-12-19-0-35-0-upgrade-guide.md
Labels: no-changelog

#19579 chore(deps): Bump graphql crates to 7.0.0
  .github/dependabot.yml
  Cargo.lock
  Cargo.toml
Labels: no-changelog

#19189 fix(datadog_logs sink): abort serialization and split batch when payload is too large
  changelog.d/datadog_logs_batching.fix.md
  src/sinks/datadog/logs/sink.rs
  src/sinks/datadog/logs/tests.rs
Labels: domain: sinks

#19580 chore(config): Skip serializing default proxy config fields
  lib/vector-core/src/config/proxy.rs
Labels: type: tech debt, domain: config, domain: core, no-changelog

#19581 chore(ci): enable running all int tests comment
  .github/workflows/integration-comment.yml
Labels: domain: ci, no-changelog

#19550 chore(releasing): Bump Vector to v0.36.0
  Cargo.lock
  Cargo.toml
Labels: no-changelog

#19596 chore(docs): improve source data_dir docs
  src/sources/file.rs
  src/sources/journald.rs
  src/sources/kubernetes_logs/mod.rs
  website/cue/reference/components/sources/base/file.cue
  website/cue/reference/components/sources/base/journald.cue
  website/cue/reference/components/sources/base/kubernetes_logs.cue
Labels: domain: sources, domain: external docs, no-changelog

#19617 docs(sinks): improve documentation of `RetryLogic` trait functions
  src/sinks/util/retries.rs
Labels: domain: sinks, no-changelog

#19616 fix(aws_s3 sink): remove trailing dot from s3 filename extension
  changelog.d/17013_s3_filename_extension.fix.md
  src/sinks/aws_s3/sink.rs
Labels: domain: sinks

#19540 feat: pub prometheus sink configs
  src/sinks/prometheus/mod.rs
  src/sinks/prometheus/remote_write/mod.rs
Labels: domain: sinks, no-changelog

#19618 chore(ci): fix filter out PRs for gardener issue comment workflow
  .github/workflows/gardener_issue_comment.yml
Labels: no-changelog

#19602 chore(docs): update GELF codec
  lib/codecs/src/decoding/mod.rs
  lib/codecs/src/encoding/mod.rs
  website/cue/reference/components/sinks/base/amqp.cue
  website/cue/reference/components/sinks/base/aws_cloudwatch_logs.cue
  website/cue/reference/components/sinks/base/aws_kinesis_firehose.cue
  website/cue/reference/components/sinks/base/aws_kinesis_streams.cue
  website/cue/reference/components/sinks/base/aws_s3.cue
  website/cue/reference/components/sinks/base/aws_sns.cue
  website/cue/reference/components/sinks/base/aws_sqs.cue
  website/cue/reference/components/sinks/base/azure_blob.cue
  website/cue/reference/components/sinks/base/console.cue
  website/cue/reference/components/sinks/base/file.cue
  website/cue/reference/components/sinks/base/gcp_chronicle_unstructured.cue
  website/cue/reference/components/sinks/base/gcp_cloud_storage.cue
  website/cue/reference/components/sinks/base/gcp_pubsub.cue
  website/cue/reference/components/sinks/base/http.cue
  website/cue/reference/components/sinks/base/humio_logs.cue
  website/cue/reference/components/sinks/base/kafka.cue
  website/cue/reference/components/sinks/base/loki.cue
  website/cue/reference/components/sinks/base/nats.cue
  website/cue/reference/components/sinks/base/papertrail.cue
  website/cue/reference/components/sinks/base/pulsar.cue
  website/cue/reference/components/sinks/base/redis.cue
  website/cue/reference/components/sinks/base/socket.cue
  website/cue/reference/components/sinks/base/splunk_hec_logs.cue
  website/cue/reference/components/sinks/base/webhdfs.cue
  website/cue/reference/components/sinks/base/websocket.cue
  website/cue/reference/components/sources/base/amqp.cue
  website/cue/reference/components/sources/base/aws_kinesis_firehose.cue
  website/cue/reference/components/sources/base/aws_s3.cue
  website/cue/reference/components/sources/base/aws_sqs.cue
  website/cue/reference/components/sources/base/datadog_agent.cue
  website/cue/reference/components/sources/base/demo_logs.cue
  website/cue/reference/components/sources/base/exec.cue
  website/cue/reference/components/sources/base/file_descriptor.cue
  website/cue/reference/components/sources/base/gcp_pubsub.cue
  website/cue/reference/components/sources/base/heroku_logs.cue
  website/cue/reference/components/sources/base/http.cue
  website/cue/reference/components/sources/base/http_client.cue
  website/cue/reference/components/sources/base/http_server.cue
  website/cue/reference/components/sources/base/kafka.cue
  website/cue/reference/components/sources/base/nats.cue
  website/cue/reference/components/sources/base/redis.cue
  website/cue/reference/components/sources/base/socket.cue
  website/cue/reference/components/sources/base/stdin.cue
Labels: domain: external docs, no-changelog

#19615 docs(splunk_hec source): Clarify that this source receives data from Splunk clients
  website/cue/reference/components/sources/splunk_hec.cue
  website/cue/reference/services/splunk_client.cue
Labels: domain: external docs, no-changelog

#19630 chore(ci): fix and simplify concurrency groups
  .github/workflows/k8s_e2e.yml
  .github/workflows/master_merge_queue.yml
  .github/workflows/protobuf.yml
  .github/workflows/regression.yml
  .github/workflows/test.yml
Labels: domain: ci, no-changelog

#19659 fix: add write perms to the default data_dir
  scripts/environment/bootstrap-ubuntu-20.04.sh
  tests/integration/cli.rs
Labels: domain: ci, no-changelog

#19646 chore(deps): Document Vector's MSRV policy
  Cargo.toml
  docs/DEVELOPING.md
Labels: no-changelog

#19629 fix(datadog_agent source): Remove warning for unused outputs when output is disabled
  changelog.d/19370_remove_warning_for_unused_outputs.fix.md
  src/sources/datadog_agent/logs.rs
  src/sources/datadog_agent/mod.rs
  src/sources/datadog_agent/tests.rs
Labels: domain: sources

#19648 chore(deps): Update h2
  Cargo.lock
Labels: no-changelog

#19682 docs: Fix docs for `ignore_older_secs`
  config/examples/environment_variables.yaml
  config/examples/es_s3_hybrid.yaml
  config/examples/namespacing/sources/apache_logs.yaml
  config/examples/wrapped_json.yaml
  website/content/en/docs/reference/configuration/_index.md
Labels: no-changelog

#19645 enhancement(config api): Add `graphql` field to toggle graphql endpoint
  changelog.d/graphql_endpoint_toggle.enhancement.md
  src/api/server.rs
  src/config/api.rs
  website/cue/reference/api.cue
Labels: domain: external docs

#19696 chore(ci): Run the changelog check on the merge queue to pass required checks
  .github/workflows/changelog.yaml
Labels: no-changelog

#19692 fix(config api): emit graphql field of api config
  src/app.rs
  src/internal_events/api.rs
  src/topology/controller.rs
Labels: domain: topology, no-changelog

#19694 fix(data_dir lock) improve error message when failing to create data_dir lock
  src/config/compiler.rs
Labels: no-changelog

#19693 chore(vdev): Drop dependency on `cached` crate
  Cargo.lock
  vdev/Cargo.toml
  vdev/src/platform.rs
  vdev/src/testing/state.rs
Labels: type: tech debt, dependencies, domain: vdev, no-changelog

#19701 Revert "fix(config): acquire exclusive lock to global data dir"
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  changelog.d/19595_lock_data_dir.fix.md
  src/config/builder.rs
  src/config/compiler.rs
  src/config/mod.rs
  src/config/unit_test/mod.rs
  tests/integration/cli.rs
Labels: no-changelog

#19684 fix(aws region): remove cfg test attribute
  src/aws/region.rs
Labels: no-changelog

#19714 chore(docs): Add banner alerting people of package migration
  website/config.toml
  website/layouts/_default/baseof.html
  website/layouts/partials/banner.html
Labels: no-changelog

#19715 docs(aws_sns sink): Add documentation data
  website/content/en/docs/reference/configuration/sinks/aws_sns.md
  website/cue/reference/components/sinks/aws_sns.cue
  website/cue/reference/urls.cue
Labels: domain: external docs, no-changelog

#19712 fix(observability): propagate tracing span context in stream sink request building
  changelog.d/19712_propagate_tracing_span_context_stream_sink_request_building.fix.md
  src/sinks/util/builder.rs
Labels: type: bug, domain: observability, domain: sinks

#19740 chore(docs): suggest make generate-component-docs
  docs/DOCUMENTING.md
  docs/README.md
Labels: no-changelog

#19758 chore(config): Add configurable support for `http::Uri`
  lib/vector-config/src/external/http.rs
  lib/vector-config/src/external/mod.rs
Labels: type: tech debt, domain: config, no-changelog
