Repository vectordotdev/vector, pull requests merged in 2024-07, with the labels that each got.

#20765 chore(releasing)!: Update the base image used for x86_64 artifacts to Ubuntu 16.04
  changelog.d/update-x86-64-cross-base.breaking.md
  scripts/cross/bootstrap-centos.sh
  scripts/cross/entrypoint-centos.sh
  scripts/cross/x86_64-unknown-linux-gnu.dockerfile
Labels: domain: ci

#20772 chore(releasing): Clarify the removal of the `enterprise` configuration in 0.39.0
  website/content/en/highlights/2024-06-17-0-39-0-upgrade-guide.md
  website/cue/reference/releases/0.39.0.cue
Labels: domain: external docs, no-changelog

#20775 chore(dev): Add a note to CONTRIBUTING.md about running clippy
  CONTRIBUTING.md
Labels: no-changelog

#20732 enhancement(datadog_agent source): enable zstd decompression
  changelog.d/20732_datadog_agent_zstd.enhancement.md
  scripts/integration/datadog-agent/compose.yaml
  src/sources/datadog_agent/mod.rs
Labels: domain: sources, domain: ci

#20791 chore(ci): Revert "Add trailing slash to aws endpoint examples"
  website/cue/reference/components/aws.cue
  website/cue/reference/components/sinks/base/aws_cloudwatch_logs.cue
  website/cue/reference/components/sinks/base/aws_cloudwatch_metrics.cue
  website/cue/reference/components/sinks/base/aws_kinesis_firehose.cue
  website/cue/reference/components/sinks/base/aws_kinesis_streams.cue
  website/cue/reference/components/sinks/base/aws_s3.cue
  website/cue/reference/components/sinks/base/aws_sns.cue
  website/cue/reference/components/sinks/base/aws_sqs.cue
  website/cue/reference/components/sinks/base/elasticsearch.cue
  website/cue/reference/components/sinks/base/prometheus_remote_write.cue
  website/cue/reference/components/sources/base/aws_s3.cue
  website/cue/reference/components/sources/base/aws_sqs.cue
Labels: domain: external docs, no-changelog

#20653 fix(aws_kinesis sink): fix batching of requests #20575 #1407
  changelog.d/20575_kinesis_batching.fix.md
  src/sinks/aws_kinesis/sink.rs
Labels: domain: sinks

#20717 feat(statsd source): add option to disable key sanitization
  changelog.d/20595-statsd_source_key_sanitization.enhancement.md
  src/sinks/statsd/encoder.rs
  src/sources/statsd/mod.rs
  src/sources/statsd/parser.rs
  src/sources/statsd/unix.rs
  website/cue/reference/components/sources/base/statsd.cue
Labels: domain: sources, domain: sinks, domain: external docs

#20120 enhancement(AWS config): Make SQS client timeout settings configurable
  changelog.d/20017_make_sqs_timeout_settings_configurable.enhancement.md
  src/aws/mod.rs
  src/aws/timeout.rs
  src/secrets/aws_secrets_manager.rs
  src/sinks/aws_cloudwatch_logs/config.rs
  src/sinks/aws_cloudwatch_logs/integration_tests.rs
  src/sinks/aws_cloudwatch_metrics/mod.rs
  src/sinks/aws_kinesis/firehose/config.rs
  src/sinks/aws_kinesis/firehose/integration_tests.rs
  src/sinks/aws_kinesis/streams/config.rs
  src/sinks/aws_kinesis/streams/integration_tests.rs
  src/sinks/aws_s3/integration_tests.rs
  src/sinks/aws_s_s/sns/config.rs
  src/sinks/aws_s_s/sns/integration_tests.rs
  src/sinks/aws_s_s/sqs/config.rs
  src/sinks/aws_s_s/sqs/integration_tests.rs
  src/sinks/s3_common/config.rs
  src/sources/aws_s3/mod.rs
  src/sources/aws_s3/sqs.rs
  src/sources/aws_sqs/config.rs
  website/cue/reference/components/sources/base/aws_s3.cue
Labels: domain: sources, domain: sinks, domain: external docs

#20810 fix(gcs): replace // with / when merging base url and object key
  src/sinks/gcs_common/service.rs
Labels: domain: sinks, no-changelog

#20819 chore(docs): Fix link to unit tests
  website/cue/reference/urls.cue
Labels: domain: external docs, no-changelog

#20818 chore(ci): Use NodeJS v16 for package verification workflows
  .github/workflows/publish.yml
Labels: no-changelog

#20822 chore(ci): Marke file_to_blackhole soak as erratic
  regression/cases/file_to_blackhole/experiment.yaml
Labels: no-changelog

#20821 chore(deps): bump VRL to 0.16.1
  Cargo.lock
  Cargo.toml
Labels: no-changelog

#20828 chore: Increases default warmup duration for Regression Detector jobs
  .github/workflows/regression.yml
Labels: no-changelog

#20800 fix(reduce): reduce values for nested fields
  changelog.d/20800_reduce_nested_fields.breaking.md
  lib/vector-core/src/event/log_event.rs
  lib/vector-core/src/event/util/log/all_fields.rs
  lib/vector-core/src/event/util/log/mod.rs
  src/transforms/reduce/config.rs
  src/transforms/reduce/merge_strategy.rs
  src/transforms/reduce/transform.rs
  tests/behavior/transforms/reduce.toml
  website/cue/reference/components/transforms/base/reduce.cue
Labels: domain: transforms, domain: external docs, domain: core

#20829 chore: Adds a trailing newline escape for smp job submit
  .github/workflows/regression.yml
Labels: no-changelog

#20677 docs(vrl): Update documentation for community_id to mention ICMP
  website/cue/reference/remap/functions/community_id.cue
Labels: domain: external docs, no-changelog

#20793 chore(ci): Run component docs check if component cue files change
  .github/workflows/changes.yml
Labels: no-changelog

#20815 feat(tap): Add duration flag to vector tap
  changelog.d/vector_tap_duration_flag.enhancement.md
  src/tap/cmd.rs
  src/tap/mod.rs
  website/cue/reference/cli.cue
Labels: domain: external docs

#20850 refactor(tap): Refactor vector tap into library
  Cargo.lock
  Cargo.toml
  lib/vector-lib/Cargo.toml
  lib/vector-lib/src/lib.rs
  lib/vector-tap/Cargo.toml
  lib/vector-tap/src/lib.rs
  src/tap/cmd.rs
Labels: no-changelog

#20869 chore(ci): Temporarily disable eventstoredb integration tests
  .github/workflows/changes.yml
  .github/workflows/integration.yml
Labels: no-changelog

#20498 fix(codecs) csv documentation defaults as ascii_char
  changelog.d/18669_csv_documentation_u8_display.fix.md
  lib/codecs/src/encoding/format/csv.rs
  scripts/generate-component-docs.rb
  website/cue/reference/components/sinks/base/amqp.cue
  website/cue/reference/components/sinks/base/aws_cloudwatch_logs.cue
  website/cue/reference/components/sinks/base/aws_kinesis_firehose.cue
  website/cue/reference/components/sinks/base/aws_kinesis_streams.cue
  website/cue/reference/components/sinks/base/aws_s3.cue
  website/cue/reference/components/sinks/base/aws_sns.cue
  website/cue/reference/components/sinks/base/aws_sqs.cue
  website/cue/reference/components/sinks/base/azure_blob.cue
  website/cue/reference/components/sinks/base/console.cue
  website/cue/reference/components/sinks/base/databend.cue
  website/cue/reference/components/sinks/base/file.cue
  website/cue/reference/components/sinks/base/gcp_chronicle_unstructured.cue
  website/cue/reference/components/sinks/base/gcp_cloud_storage.cue
  website/cue/reference/components/sinks/base/gcp_pubsub.cue
  website/cue/reference/components/sinks/base/http.cue
  website/cue/reference/components/sinks/base/humio_logs.cue
  website/cue/reference/components/sinks/base/kafka.cue
  website/cue/reference/components/sinks/base/loki.cue
  website/cue/reference/components/sinks/base/mqtt.cue
  website/cue/reference/components/sinks/base/nats.cue
  website/cue/reference/components/sinks/base/papertrail.cue
  website/cue/reference/components/sinks/base/pulsar.cue
  website/cue/reference/components/sinks/base/redis.cue
  website/cue/reference/components/sinks/base/socket.cue
  website/cue/reference/components/sinks/base/splunk_hec_logs.cue
  website/cue/reference/components/sinks/base/webhdfs.cue
  website/cue/reference/components/sinks/base/websocket.cue
Labels: domain: ci, domain: external docs, no-changelog

#20780 fix(loki sinks): Fix loki event timestamp out of range panic
  changelog.d/20763_loki_sink_drop_invalid_timestamp_event.fix.md
  src/internal_events/loki.rs
  src/sinks/loki/sink.rs
  src/sinks/loki/tests.rs
Labels: domain: sinks

#20868 fix(proxy): support url-encoded auth values
  .github/actions/spelling/allow.txt
  Cargo.lock
  changelog.d/17125_proxy_auth_url_encoded.fix.md
  lib/vector-core/Cargo.toml
  lib/vector-core/src/config/proxy.rs
Labels: domain: core

#20876 feat(tap): Implement async output channel type for vector-tap lib
  Cargo.lock
  lib/vector-tap/Cargo.toml
  lib/vector-tap/src/lib.rs
  src/tap/cmd.rs
Labels: no-changelog

#20873 chore(ci): Fix and reenable eventstoredb integration test
  .github/workflows/changes.yml
  .github/workflows/integration.yml
  scripts/integration/eventstoredb/test.yaml
  src/sources/eventstoredb_metrics/types.rs
Labels: domain: sources, domain: ci, no-changelog

#19523 docs(external docs): add comment to the configuration because it conflicts with what is mentioned in the helm deployment docs
  website/content/en/docs/reference/configuration/_index.md
Labels: meta: awaiting author, no-changelog

#20846 docs: Fix link to VRL playground in SUPPORT.md
  .github/SUPPORT.md
Labels: no-changelog

#20911 chore(ci): Reinstall rustup in MacOS bootstrap
  scripts/environment/bootstrap-macos-10.sh
Labels: domain: ci, no-changelog

#20910 chore(docs): Clarify behavior of sources when any sink has acks enabled
  lib/vector-core/src/config/mod.rs
  website/content/en/docs/about/under-the-hood/architecture/end-to-end-acknowledgements.md
  website/cue/reference/components/sinks/base/amqp.cue
  website/cue/reference/components/sinks/base/appsignal.cue
  website/cue/reference/components/sinks/base/aws_cloudwatch_logs.cue
  website/cue/reference/components/sinks/base/aws_cloudwatch_metrics.cue
  website/cue/reference/components/sinks/base/aws_kinesis_firehose.cue
  website/cue/reference/components/sinks/base/aws_kinesis_streams.cue
  website/cue/reference/components/sinks/base/aws_s3.cue
  website/cue/reference/components/sinks/base/aws_sns.cue
  website/cue/reference/components/sinks/base/aws_sqs.cue
  website/cue/reference/components/sinks/base/axiom.cue
  website/cue/reference/components/sinks/base/azure_blob.cue
  website/cue/reference/components/sinks/base/azure_monitor_logs.cue
  website/cue/reference/components/sinks/base/blackhole.cue
  website/cue/reference/components/sinks/base/clickhouse.cue
  website/cue/reference/components/sinks/base/console.cue
  website/cue/reference/components/sinks/base/databend.cue
  website/cue/reference/components/sinks/base/datadog_events.cue
  website/cue/reference/components/sinks/base/datadog_logs.cue
  website/cue/reference/components/sinks/base/datadog_metrics.cue
  website/cue/reference/components/sinks/base/datadog_traces.cue
  website/cue/reference/components/sinks/base/elasticsearch.cue
  website/cue/reference/components/sinks/base/file.cue
  website/cue/reference/components/sinks/base/gcp_chronicle_unstructured.cue
  website/cue/reference/components/sinks/base/gcp_cloud_storage.cue
  website/cue/reference/components/sinks/base/gcp_pubsub.cue
  website/cue/reference/components/sinks/base/gcp_stackdriver_logs.cue
  website/cue/reference/components/sinks/base/gcp_stackdriver_metrics.cue
  website/cue/reference/components/sinks/base/greptimedb.cue
  website/cue/reference/components/sinks/base/honeycomb.cue
  website/cue/reference/components/sinks/base/http.cue
  website/cue/reference/components/sinks/base/humio_logs.cue
  website/cue/reference/components/sinks/base/humio_metrics.cue
  website/cue/reference/components/sinks/base/influxdb_logs.cue
  website/cue/reference/components/sinks/base/influxdb_metrics.cue
  website/cue/reference/components/sinks/base/kafka.cue
  website/cue/reference/components/sinks/base/logdna.cue
  website/cue/reference/components/sinks/base/loki.cue
  website/cue/reference/components/sinks/base/mezmo.cue
  website/cue/reference/components/sinks/base/mqtt.cue
  website/cue/reference/components/sinks/base/nats.cue
  website/cue/reference/components/sinks/base/new_relic.cue
  website/cue/reference/components/sinks/base/papertrail.cue
  website/cue/reference/components/sinks/base/prometheus_exporter.cue
  website/cue/reference/components/sinks/base/prometheus_remote_write.cue
  website/cue/reference/components/sinks/base/pulsar.cue
  website/cue/reference/components/sinks/base/redis.cue
  website/cue/reference/components/sinks/base/sematext_logs.cue
  website/cue/reference/components/sinks/base/sematext_metrics.cue
  website/cue/reference/components/sinks/base/socket.cue
  website/cue/reference/components/sinks/base/splunk_hec_logs.cue
  website/cue/reference/components/sinks/base/splunk_hec_metrics.cue
  website/cue/reference/components/sinks/base/statsd.cue
  website/cue/reference/components/sinks/base/vector.cue
  website/cue/reference/components/sinks/base/webhdfs.cue
  website/cue/reference/components/sinks/base/websocket.cue
Labels: domain: external docs, domain: core, no-changelog

#20891 fix: disallow zero values for sink retry parameters
  changelog.d/20891_disallow_zero_for_sink_retry_params.fix.md
  src/sinks/util/service.rs
Labels: domain: sinks

#20847 docs: Fix link to commit scopes in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: no-changelog

#20834 feat(new sink): Add possibility to use nats jetstream in nats sink
  changelog.d/20834_nats_jetstream_sink.feature.md
  src/sinks/nats/config.rs
  src/sinks/nats/integration_tests.rs
  src/sinks/nats/mod.rs
  src/sinks/nats/service.rs
  src/sinks/nats/sink.rs
  website/cue/reference/components/sinks/base/nats.cue
Labels: domain: sinks, domain: external docs

#19637 feat(codec,sources): influxdb line protcol decoder
  Cargo.lock
  LICENSE-3rdparty.csv
  changelog.d/19637_influxdb_line_protocol_decoder.enhancement.md
  lib/codecs/Cargo.toml
  lib/codecs/src/decoding/format/influxdb.rs
  lib/codecs/src/decoding/format/mod.rs
  lib/codecs/src/decoding/mod.rs
  src/components/validation/resources/mod.rs
  website/cue/reference/components/sources/base/amqp.cue
  website/cue/reference/components/sources/base/aws_kinesis_firehose.cue
  website/cue/reference/components/sources/base/aws_s3.cue
  website/cue/reference/components/sources/base/aws_sqs.cue
  website/cue/reference/components/sources/base/datadog_agent.cue
  website/cue/reference/components/sources/base/demo_logs.cue
  website/cue/reference/components/sources/base/exec.cue
  website/cue/reference/components/sources/base/file_descriptor.cue
  website/cue/reference/components/sources/base/gcp_pubsub.cue
  website/cue/reference/components/sources/base/heroku_logs.cue
  website/cue/reference/components/sources/base/http.cue
  website/cue/reference/components/sources/base/http_client.cue
  website/cue/reference/components/sources/base/http_server.cue
  website/cue/reference/components/sources/base/kafka.cue
  website/cue/reference/components/sources/base/nats.cue
  website/cue/reference/components/sources/base/pulsar.cue
  website/cue/reference/components/sources/base/redis.cue
  website/cue/reference/components/sources/base/socket.cue
  website/cue/reference/components/sources/base/stdin.cue
Labels: domain: external docs

#20922 chore(deps): Upgrade VRL to v0.17.0
  Cargo.lock
  Cargo.toml
Labels: no-changelog

#20920 fix!(http_server source): only single query param when namespace is enabled
  changelog.d/http-server-query-params-with-namespace.fix.md
  src/sources/util/http/query.rs
Labels: domain: sources

#20947 chore(ci): Add global CODEOWNERS fallback
  .github/CODEOWNERS
Labels: no-changelog

#20946 enhancement(enrichment_tables): Changes to support GeoIP Anonymous IP database
  .github/actions/spelling/excludes.txt
  .github/actions/spelling/expect.txt
  changelog.d/20946_support_geoip_anonymousip_database.enhancement.md
  src/enrichment_tables/geoip.rs
  tests/data/GeoIP2-Anonymous-IP-Test.mmdb
  website/cue/reference/configuration.cue
  website/cue/reference/urls.cue
Labels: domain: external docs

#20892 chore(ci): Switch to PR Reviews for triggering CI
  .github/workflows/ci-integration-review.yml
  .github/workflows/ci-review-trigger.yml
  .github/workflows/cli.yml
  .github/workflows/component_features.yml
  .github/workflows/cross.yml
  .github/workflows/deny.yml
  .github/workflows/environment.yml
  .github/workflows/k8s_e2e.yml
  .github/workflows/misc.yml
  .github/workflows/regression.yml
  .github/workflows/unit_mac.yml
  .github/workflows/unit_windows.yml
Labels: no-changelog

#20930 fix(socket sink): Allow socket sink to accept metrics.
  changelog.d/20930_socket_sink_accepts_metrics.fix.md
  src/sinks/socket.rs
  src/sources/socket/unix.rs
Labels: domain: sources, domain: sinks

#20966 fix(socket source): fix socket source ignoring global log_namespace when computing outputs
  changelog.d/socket-not-respecting-global-log-namespace.fix.md
  src/sources/socket/mod.rs
Labels: domain: sources

#20889 feat(source): add new `static_metrics` source
  Cargo.toml
  changelog.d/20899_static_metrics.feature.md
  lib/vector-common/src/internal_event/mod.rs
  src/sources/mod.rs
  src/sources/static_metrics.rs
  website/cue/reference/components/sources/base/static_metrics.cue
Labels: domain: sources, domain: external docs

#20977 ehanchement(internal_metrics): reuse `BytesReceived` event for internal metrics
  lib/vector-common/src/internal_event/mod.rs
  src/internal_events/internal_metrics.rs
  src/internal_events/mod.rs
  src/sources/internal_metrics.rs
Labels: domain: sources, no-changelog
