Repository vectordotdev/vector, pull requests merged in 2024-09, with the labels that each got.

#20576 feat(loki sink): add support for structured metadata
  .github/actions/spelling/expect.txt
  changelog.d/18876_loki_structured_metadata.feature.md
  lib/loki-logproto/build.rs
  lib/loki-logproto/proto/README
  lib/loki-logproto/proto/logproto.proto
  lib/loki-logproto/proto/push.proto
  lib/loki-logproto/proto/stats.proto
  lib/loki-logproto/src/lib.rs
  src/sinks/loki/config.rs
  src/sinks/loki/event.rs
  src/sinks/loki/sink.rs
  website/cue/reference/components/sinks/base/loki.cue
Labels: domain: sinks, domain: external docs

#21201 fix(reduce transform): surround invalid path segments with quotes
  changelog.d/21201_fields_iter.fix.md
  lib/vector-core/src/event/test/mod.rs
  lib/vector-core/src/event/util/log/all_fields.rs
  src/transforms/reduce/transform.rs
Labels: domain: transforms, domain: core

#21199 chore(relasing): Regenerate k8s manifsts for chart 0.35.0
  distribution/kubernetes/vector-agent/README.md
  distribution/kubernetes/vector-agent/configmap.yaml
  distribution/kubernetes/vector-agent/daemonset.yaml
  distribution/kubernetes/vector-agent/rbac.yaml
  distribution/kubernetes/vector-agent/service-headless.yaml
  distribution/kubernetes/vector-agent/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/README.md
  distribution/kubernetes/vector-aggregator/configmap.yaml
  distribution/kubernetes/vector-aggregator/service-headless.yaml
  distribution/kubernetes/vector-aggregator/service.yaml
  distribution/kubernetes/vector-aggregator/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/statefulset.yaml
  distribution/kubernetes/vector-stateless-aggregator/README.md
  distribution/kubernetes/vector-stateless-aggregator/configmap.yaml
  distribution/kubernetes/vector-stateless-aggregator/deployment.yaml
  distribution/kubernetes/vector-stateless-aggregator/service-headless.yaml
  distribution/kubernetes/vector-stateless-aggregator/service.yaml
  distribution/kubernetes/vector-stateless-aggregator/serviceaccount.yaml
Labels: domain: releasing, no-changelog

#21214 chore(deps): Bump VRL to 0.18.0
  Cargo.lock
  Cargo.toml
Labels: no-changelog

#21021 docs(vrl): add casing functions (https://github.com/vectordotdev/vrl/…
  .github/actions/spelling/expect.txt
  website/cue/reference/remap/functions/camelcase.cue
  website/cue/reference/remap/functions/kebabcase.cue
  website/cue/reference/remap/functions/pascalcase.cue
  website/cue/reference/remap/functions/screamingsnakecase.cue
  website/cue/reference/remap/functions/snakecase.cue
Labels: domain: external docs, no-changelog

#21210 fix(ci): usage of `a deprecated Node.js version`
  .github/workflows/integration.yml
Labels: no-changelog

#21076 docs: add documentation for the new `lossy` option of the `parse_json` vrl function
  website/cue/reference/remap/functions/parse_json.cue
Labels: domain: external docs, no-changelog

#21142 docs(vrl): Add `unflatten` vrl function documentation
  .github/actions/spelling/expect.txt
  website/cue/reference/remap/functions/flatten.cue
  website/cue/reference/remap/functions/unflatten.cue
Labels: domain: external docs, no-changelog

#21105 docs: add docs for the `parse_influxdb` vrl function
  website/cue/reference/remap/functions/parse_influxdb.cue
Labels: domain: external docs, no-changelog

#21217 chore(ci): Update version of cue to latest (0.10.0)
  scripts/environment/bootstrap-ubuntu-20.04.sh
Labels: domain: ci, no-changelog

#20836 feat(aggregate transform): add more aggregations to aggregate transform
  changelog.d/20836-more_aggregations.enhancement.md
  src/transforms/aggregate.rs
  website/cue/reference/components/transforms/base/aggregate.cue
Labels: domain: transforms, domain: external docs

#21246 chore(releasing): Bump manifests to v0.36.0 of the chart
  distribution/kubernetes/vector-agent/README.md
  distribution/kubernetes/vector-agent/configmap.yaml
  distribution/kubernetes/vector-agent/daemonset.yaml
  distribution/kubernetes/vector-agent/rbac.yaml
  distribution/kubernetes/vector-agent/service-headless.yaml
  distribution/kubernetes/vector-agent/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/README.md
  distribution/kubernetes/vector-aggregator/configmap.yaml
  distribution/kubernetes/vector-aggregator/service-headless.yaml
  distribution/kubernetes/vector-aggregator/service.yaml
  distribution/kubernetes/vector-aggregator/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/statefulset.yaml
  distribution/kubernetes/vector-stateless-aggregator/README.md
  distribution/kubernetes/vector-stateless-aggregator/configmap.yaml
  distribution/kubernetes/vector-stateless-aggregator/deployment.yaml
  distribution/kubernetes/vector-stateless-aggregator/service-headless.yaml
  distribution/kubernetes/vector-stateless-aggregator/service.yaml
  distribution/kubernetes/vector-stateless-aggregator/serviceaccount.yaml
Labels: domain: releasing, no-changelog

#21216 [WEB-5244] Updates website search logic and dependencies
  .github/actions/spelling/allow.txt
  .github/actions/spelling/excludes.txt
  website/.env.example
  website/.nvmrc
  website/Makefile
  website/README.md
  website/assets/js/search.tsx
  website/config.toml
  website/layouts/partials/javascript/search.html
  website/package.json
  website/scripts/typesense-index.ts
  website/scripts/typesense-sync.ts
  website/typesense.config.json
  website/yarn.lock
Labels: editorial review, no-changelog

#21255 chore(releasing): Add known issue around `source_event_id` for v0.41.0
  website/cue/reference/releases/0.41.0.cue
Labels: domain: external docs, no-changelog

#21257 fix(proto): Remove error log when source_event_id is not present
  lib/vector-core/src/event/log_event.rs
  lib/vector-core/src/event/metadata.rs
  lib/vector-core/src/event/proto.rs
Labels: domain: core, no-changelog

#21260 docs(releasing): Fix docs for new components in v0.41.0
  website/content/en/docs/reference/configuration/sinks/greptimedb_metrics.md
  website/content/en/docs/reference/configuration/sources/static_metrics.md
  website/cue/reference.cue
  website/cue/reference/components.cue
  website/cue/reference/components/sinks/greptimedb_logs.cue
  website/cue/reference/components/sinks/greptimedb_metrics.cue
  website/cue/reference/components/sources/static_metrics.cue
Labels: domain: external docs, no-changelog

#21230 chore(releasing): Prepare v0.41.0 release
  .github/actions/spelling/expect.txt
  changelog.d/18876_loki_structured_metadata.feature.md
  changelog.d/20138_aws_sso_support_for_secrets_manager_backend.fix.md
  changelog.d/20812_add_greptime_log_sink.feature.md
  changelog.d/20899_static_metrics.feature.md
  changelog.d/20930_socket_sink_accepts_metrics.fix.md
  changelog.d/20946_support_geoip_anonymousip_database.enhancement.md
  changelog.d/20994_honeycomb_sink_support_configurable_endpoint.feature.md
  changelog.d/20996_recursive_config_watcher.fix.md
  changelog.d/21036_kafka_sink_error_status.enhancement.md
  changelog.d/21039_allow-usage-of-metrics-only-decoders.fix.md
  changelog.d/21041_influxdb-decoder-timestamp-precision.fix.md
  changelog.d/21103_kafka_sink_oidc_authentication.enhancement.md
  changelog.d/21129_suppress_warnings_for_kafka_sink.fix.md
  changelog.d/21141_fix_crash_when_handling_metrics.fix.md
  changelog.d/21179_datadog_search_numbers.fix.md
  changelog.d/defer-log-schema-defaults.fix.md
  changelog.d/file-sources-exclude-patterns-not-match-some-files.fix.md
  changelog.d/http-server-query-params-with-namespace.fix.md
  changelog.d/socket-not-respecting-global-log-namespace.fix.md
  changelog.d/support-config-watch-for-windows.enhancement.md
  distribution/install.sh
  website/content/en/releases/0.41.0.md
  website/cue/reference/administration/interfaces/kubectl.cue
  website/cue/reference/releases/0.41.0.cue
  website/cue/reference/versions.cue
Labels: domain: releasing, domain: external docs, no-changelog

#21259 chore(deps): update to latest VRL sha
  Cargo.lock
  Cargo.toml
  lib/vector-common/Cargo.toml
  lib/vector-config/Cargo.toml
  lib/vector-core/Cargo.toml
  lib/vector-vrl/tests/Cargo.toml
  src/conditions/datadog_search.rs
Labels: domain: core, no-changelog

#21271 docs: Fix typo in 0.40.0 release changelog
  website/cue/reference/releases/0.40.0.cue
Labels: domain: external docs, no-changelog

#21273 docs(vrl stdlib): Fix whitespace for `parse_influxdb` notice
  website/cue/reference/remap/functions/parse_influxdb.cue
Labels: domain: external docs, no-changelog

#21275 chore(releasing): Update manifests to v0.36.1 of the chart
  distribution/kubernetes/vector-agent/README.md
  distribution/kubernetes/vector-agent/configmap.yaml
  distribution/kubernetes/vector-agent/daemonset.yaml
  distribution/kubernetes/vector-agent/rbac.yaml
  distribution/kubernetes/vector-agent/service-headless.yaml
  distribution/kubernetes/vector-agent/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/README.md
  distribution/kubernetes/vector-aggregator/configmap.yaml
  distribution/kubernetes/vector-aggregator/service-headless.yaml
  distribution/kubernetes/vector-aggregator/service.yaml
  distribution/kubernetes/vector-aggregator/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/statefulset.yaml
  distribution/kubernetes/vector-stateless-aggregator/README.md
  distribution/kubernetes/vector-stateless-aggregator/configmap.yaml
  distribution/kubernetes/vector-stateless-aggregator/deployment.yaml
  distribution/kubernetes/vector-stateless-aggregator/service-headless.yaml
  distribution/kubernetes/vector-stateless-aggregator/service.yaml
  distribution/kubernetes/vector-stateless-aggregator/serviceaccount.yaml
Labels: domain: releasing, no-changelog

#21287 fix(metadata): merge 'source_event_id's
  lib/vector-core/src/event/metadata.rs
Labels: domain: core, no-changelog

#21194 feat(components): add additional config for graph output command
  changelog.d/21194_dot_graph_attributes.feature.md
  lib/vector-core/src/config/proxy.rs
  src/config/dot_graph.rs
  src/config/mod.rs
  src/config/sink.rs
  src/config/source.rs
  src/config/transform.rs
  src/graph.rs
  website/cue/reference/components/base/sinks.cue
  website/cue/reference/components/base/sources.cue
  website/cue/reference/components/base/transforms.cue
  website/cue/reference/components/transforms/base/aws_ec2_metadata.cue
Labels: domain: external docs, domain: core, editorial review

#21294 chore: fix symbol error
  benches/languages.rs
  lib/vector-tap/src/controller.rs
Labels: no-changelog

#21306 chore(dedupe): add two test cases
  src/transforms/dedupe/transform.rs
Labels: domain: transforms, no-changelog

#21305 fix(new_relic sink): Fix handling of dotted attribute names
  changelog.d/21304-newrelic-log-attribute-dotted-names.fix.md
  src/sinks/new_relic/model.rs
  src/sinks/new_relic/tests.rs
Labels: type: bug, domain: sinks, sink: new_relic

#21311 Revert "chore(dedupe): add two test cases"
  src/transforms/dedupe/transform.rs
Labels: domain: transforms, no-changelog

#21313 fix(new_relic sink): Put log API attributes in separate structure
  changelog.d/21313-new-relic-logs-attributes.fix.md
  src/sinks/new_relic/mod.rs
  src/sinks/new_relic/model.rs
  src/sinks/new_relic/tests.rs
Labels: domain: sinks, sink: new_relic

#21317 enhancement(new_relic sink): Use millisecond timestamp with metrics
  changelog.d/21314-new-relic-metric-timestamp.enhancement.md
  src/sinks/new_relic/model.rs
  src/sinks/new_relic/tests.rs
Labels: type: enhancement, domain: sinks, domain: metrics, sink: new_relic

#21323 fix(new_relic sink): Do not quote paths containing periods for the event API
  changelog.d/new-relic-event-path-quoting.fix.md
  lib/vector-core/src/event/log_event.rs
  lib/vector-core/src/event/util/log/all_fields.rs
  lib/vector-core/src/event/util/log/mod.rs
  src/sinks/new_relic/model.rs
  src/sinks/new_relic/tests.rs
Labels: type: bug, domain: sinks, domain: logs, domain: core, sink: new_relic

#21327 docs(vrl): Fix syntax for function arguments
  website/layouts/partials/data.html
Labels: no-changelog

#21328 docs(vrl): Fix typo in parse_influxdb function description
  website/cue/reference/remap/functions/parse_influxdb.cue
Labels: domain: external docs, no-changelog

#21291 feat(mqtt sink): expose retain config flag
  changelog.d/21278-expose_mqtt_retain.enhancement.md
  src/sinks/mqtt/config.rs
  src/sinks/mqtt/service.rs
  src/sinks/mqtt/sink.rs
  website/cue/reference/components/sinks/base/mqtt.cue
Labels: domain: sinks, domain: external docs

#21344 fix(ARC): Fix possible deadlock in adaptive concurrency decrease
  changelog.d/adaptive-concurrency-deadlock.fix.md
  src/sinks/util/adaptive_concurrency/controller.rs
Labels: type: bug, domain: sinks, domain: performance, domain: ARC

#21343 chore(tests): Parallelize the adaptive concurrency tests
  src/sinks/util/adaptive_concurrency/tests.rs
  tests/data/adaptive-concurrency-template.toml
Labels: domain: tests, type: tech debt, domain: sinks, no-changelog

#21227 chore(releasing): Minor tweaks to patch template
  .github/ISSUE_TEMPLATE/patch-release.md
Labels: no-changelog

#21229 chore(releasing): Fix link to deprecations file in minor release template
  .github/ISSUE_TEMPLATE/minor-release.md
Labels: no-changelog

#21356 docs(vrl): fix vrl code example
  website/content/en/docs/reference/vrl/_index.md
Labels: no-changelog

#21173 http (server,client) OPTIONS method added
  changelog.d/21173_http_server_options_support.feature.md
  src/sources/util/http/method.rs
  src/sources/util/http/prelude.rs
  src/sources/util/http_client.rs
  website/cue/reference/components/sources/base/http.cue
  website/cue/reference/components/sources/base/http_client.cue
  website/cue/reference/components/sources/base/http_server.cue
Labels: domain: sources, domain: external docs

#21331 enhancement(greptimedb): add optional new_naming strategy for greptimedb sink
  changelog.d/21331-new-greptimedb-metric-option.enhancement.md
  scripts/integration/greptimedb/test.yaml
  src/sinks/greptimedb/metrics/config.rs
  src/sinks/greptimedb/metrics/integration_tests.rs
  src/sinks/greptimedb/metrics/request.rs
  src/sinks/greptimedb/metrics/request_builder.rs
  src/sinks/greptimedb/metrics/sink.rs
  website/cue/reference/components/sinks/base/greptimedb.cue
  website/cue/reference/components/sinks/base/greptimedb_metrics.cue
Labels: domain: sinks, domain: ci, domain: external docs
