Repository vectordotdev/vector, pull requests merged in 2024-02, with the labels that each got.

#19748 feat(s3 source): Add `delete_failed_message` configuration option
  .github/actions/spelling/allow.txt
  changelog.d/19711_add_s3_source_delete_configuration.feature.md
  src/sources/aws_s3/mod.rs
  src/sources/aws_s3/sqs.rs
  website/cue/reference/components/sources/base/aws_s3.cue
Labels: domain: sources, domain: external docs

#19760 chore(ci): Update labels used by dependabot
  .github/dependabot.yml
Labels: no-changelog

#19770 chore(config): Revert "Add configurable support for `http::Uri`"
  lib/vector-config/src/external/http.rs
  lib/vector-config/src/external/mod.rs
Labels: type: tech debt, domain: config, no-changelog

#19778 chore(deps): expose DatadogSearch
  src/conditions/mod.rs
Labels: no-changelog

#19779 chore(config): Pass the extra context to sources and transforms too
  src/config/sink.rs
  src/config/source.rs
  src/config/transform.rs
  src/sources/socket/mod.rs
  src/topology/builder.rs
Labels: domain: topology, type: tech debt, domain: config, domain: sources, no-changelog

#19777 chore: Implement an easier creator for multi-valued `ExtraContext`
  src/extra_context.rs
Labels: type: tech debt, no-changelog

#17980 feat(component validation): add sink validator
  src/components/validation/mod.rs
  src/components/validation/resources/event.rs
  src/components/validation/resources/http.rs
  src/components/validation/resources/mod.rs
  src/components/validation/runner/config.rs
  src/components/validation/runner/mod.rs
  src/components/validation/validators/component_spec/mod.rs
  src/components/validation/validators/component_spec/sources.rs
  src/components/validation/validators/mod.rs
Labels: domain: tests, no-changelog

#19801 fix(http_server source): Conditionally send Connection: Close header based on HTTP version
  changelog.d/19643_only_set_connection_close_http1.fix.md
  src/http.rs
  website/cue/reference/components/sources/base/aws_kinesis_firehose.cue
  website/cue/reference/components/sources/base/datadog_agent.cue
  website/cue/reference/components/sources/base/heroku_logs.cue
  website/cue/reference/components/sources/base/http.cue
  website/cue/reference/components/sources/base/http_server.cue
  website/cue/reference/components/sources/base/opentelemetry.cue
  website/cue/reference/components/sources/base/prometheus_pushgateway.cue
  website/cue/reference/components/sources/base/prometheus_remote_write.cue
  website/cue/reference/components/sources/base/splunk_hec.cue
Labels: domain: external docs

#19804 enhancement(releasing): Bump Alpine base image from 3.18 to 3.19
  changelog.d/bump_alpine_3_19.enhancement.md
  distribution/docker/alpine/Dockerfile
Labels: domain: releasing

#19806 chore(sample transform): re-organize to expose sampling logic
  Cargo.toml
  src/internal_events/mod.rs
  src/transforms/mod.rs
  src/transforms/sample/config.rs
  src/transforms/sample/mod.rs
  src/transforms/sample/transform.rs
Labels: domain: transforms, no-changelog

#19802 fix(docs, http_server source): Update docs for disabling `max_connection_age_secs`
  src/http.rs
  website/content/en/highlights/2023-12-19-0-35-0-upgrade-guide.md
  website/cue/reference/components/sources/base/aws_kinesis_firehose.cue
  website/cue/reference/components/sources/base/datadog_agent.cue
  website/cue/reference/components/sources/base/heroku_logs.cue
  website/cue/reference/components/sources/base/http.cue
  website/cue/reference/components/sources/base/http_server.cue
  website/cue/reference/components/sources/base/opentelemetry.cue
  website/cue/reference/components/sources/base/prometheus_pushgateway.cue
  website/cue/reference/components/sources/base/prometheus_remote_write.cue
  website/cue/reference/components/sources/base/splunk_hec.cue
Labels: domain: external docs, no-changelog

#19816 chore(sample transform): make containing module pub
  src/transforms/mod.rs
Labels: no-changelog

#19821 docs(vrl): fix example for high quality error messages
  website/cue/reference/remap/features/high_quality_error_messages.cue
Labels: domain: external docs, no-changelog

#19822 fix(sample transform): clippy lint on feature flag case
  src/transforms/sample/transform.rs
Labels: domain: transforms, no-changelog

#19769 chore(tests): Add support for proptest to lookup types
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  lib/prometheus-parser/Cargo.toml
  lib/vector-common/Cargo.toml
  lib/vector-config/Cargo.toml
  lib/vector-core/Cargo.toml
  lib/vector-core/src/fanout.rs
  lib/vector-lib/Cargo.toml
  lib/vector-lookup/Cargo.toml
  lib/vector-lookup/src/lookup_v2/mod.rs
  lib/vector-lookup/src/lookup_v2/optional_path.rs
  src/config/graph.rs
  src/config/unit_test/mod.rs
  src/sinks/util/buffer/metrics/normalize.rs
  vdev/Cargo.toml
Labels: domain: tests, type: tech debt, domain: sinks, domain: core, domain: vdev, no-changelog

#19826 chore: expose component test utils
  Cargo.toml
  src/test_util/mod.rs
Labels: no-changelog

#19827 chore(deps): Bump VRL to 0.11.0
  Cargo.lock
  Cargo.toml
Labels: no-changelog

#19749 docs(vrl): Documentation for redact redactor option
  website/cue/reference/remap/functions/redact.cue
Labels: domain: external docs, no-changelog

#19825 feat(codecs): implement VRL decoder
  changelog.d/19825.feature.md
  lib/codecs/Cargo.toml
  lib/codecs/src/decoding/format/mod.rs
  lib/codecs/src/decoding/format/vrl.rs
  lib/codecs/src/decoding/mod.rs
  lib/vector-core/src/lib.rs
  src/components/validation/resources/mod.rs
  website/cue/reference/components/sources/base/amqp.cue
  website/cue/reference/components/sources/base/aws_kinesis_firehose.cue
  website/cue/reference/components/sources/base/aws_s3.cue
  website/cue/reference/components/sources/base/aws_sqs.cue
  website/cue/reference/components/sources/base/datadog_agent.cue
  website/cue/reference/components/sources/base/demo_logs.cue
  website/cue/reference/components/sources/base/exec.cue
  website/cue/reference/components/sources/base/file_descriptor.cue
  website/cue/reference/components/sources/base/gcp_pubsub.cue
  website/cue/reference/components/sources/base/heroku_logs.cue
  website/cue/reference/components/sources/base/http.cue
  website/cue/reference/components/sources/base/http_client.cue
  website/cue/reference/components/sources/base/http_server.cue
  website/cue/reference/components/sources/base/kafka.cue
  website/cue/reference/components/sources/base/nats.cue
  website/cue/reference/components/sources/base/redis.cue
  website/cue/reference/components/sources/base/socket.cue
  website/cue/reference/components/sources/base/stdin.cue
Labels: domain: external docs, domain: core

#19795 docs(vrl): add documentation for `parse_etld` function
  .github/actions/spelling/allow.txt
  website/cue/reference/remap/functions/parse_etld.cue
  website/cue/reference/urls.cue
Labels: domain: external docs, no-changelog

#19797 docs(setup): fix inconsistency in docker configuration example
  website/content/en/docs/setup/installation/platforms/docker.md
Labels: no-changelog

#19835 chore(ci): Look at merge base when looking for added changelog files
  scripts/check_changelog_fragments.sh
Labels: domain: ci, no-changelog

#19836 chore(dev): Ensure changelog fragment author doesn't start with @
  changelog.d/10304_add_prometheus_pushgateway_source.feature.md
  changelog.d/19711_add_s3_source_delete_configuration.feature.md
  scripts/check_changelog_fragments.sh
Labels: domain: ci, no-changelog

#19727 enhancement(vrl): Add VRL function get_vector_timezone
  .github/actions/spelling/patterns.txt
  tests/behavior/transforms/remap.toml
  website/cue/reference/remap/functions/get_timezone_name.cue
Labels: domain: external docs, no-changelog

#19794 docs(vrl): add documentation for punycode encoding functions
  .github/actions/spelling/allow.txt
  .github/actions/spelling/patterns.txt
  website/cue/reference/remap/functions/decode_punycode.cue
  website/cue/reference/remap/functions/encode_punycode.cue
  website/cue/reference/remap/functions/parse_url.cue
  website/cue/reference/urls.cue
Labels: domain: external docs, no-changelog

#19842 docs(vrl): make `parse_etld` fallible in docs
  website/cue/reference/remap/functions/parse_etld.cue
Labels: domain: external docs, no-changelog

#19844 chore(ci): checkout full depth for changelog workflow
  .github/workflows/changelog.yaml
Labels: no-changelog

#19638 docs(vrl): Add documentation for replace_with
  website/cue/reference/remap/functions/replace_with.cue
Labels: domain: external docs, no-changelog

#19845 chore(ci): Reduce test timeout to 2 minutes
  .config/nextest.toml
Labels: no-changelog

#19739 feat(clickhouse sink): add format
  .github/actions/spelling/expect.txt
  changelog.d/15813_sink_clickhouse_format.feature.md
  src/sinks/clickhouse/config.rs
  src/sinks/clickhouse/service.rs
  src/sinks/clickhouse/sink.rs
  website/cue/reference/components/sinks/base/clickhouse.cue
Labels: domain: sinks, domain: external docs

#19859 chore(dev): Add a note that GH usernames shouldn't start with @
  changelog.d/README.md
Labels: no-changelog

#19858 chore(api): Fix API address example
  website/cue/reference/api.cue
Labels: domain: external docs, no-changelog

#19860 chore(kubernetes): Bump manifists to chart v0.30.2
  distribution/kubernetes/vector-agent/README.md
  distribution/kubernetes/vector-agent/configmap.yaml
  distribution/kubernetes/vector-agent/daemonset.yaml
  distribution/kubernetes/vector-agent/rbac.yaml
  distribution/kubernetes/vector-agent/service-headless.yaml
  distribution/kubernetes/vector-agent/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/README.md
  distribution/kubernetes/vector-aggregator/configmap.yaml
  distribution/kubernetes/vector-aggregator/service-headless.yaml
  distribution/kubernetes/vector-aggregator/service.yaml
  distribution/kubernetes/vector-aggregator/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/statefulset.yaml
  distribution/kubernetes/vector-stateless-aggregator/README.md
  distribution/kubernetes/vector-stateless-aggregator/configmap.yaml
  distribution/kubernetes/vector-stateless-aggregator/deployment.yaml
  distribution/kubernetes/vector-stateless-aggregator/service-headless.yaml
  distribution/kubernetes/vector-stateless-aggregator/service.yaml
  distribution/kubernetes/vector-stateless-aggregator/serviceaccount.yaml
Labels: domain: releasing, no-changelog

#19862 fix(codecs): expose VRL deserializer options
  lib/codecs/src/decoding/format/vrl.rs
Labels: no-changelog

#19863 chore(tests): expose test utils (feature flag)
  Cargo.toml
  src/source_sender/mod.rs
  src/test_util/mod.rs
Labels: no-changelog

#18904 enhancement(file source, kubernetes_logs source): add rotate_wait_ms config option
  changelog.d/18863_k8s_logs_rotate_wait.enhancement.md
  lib/file-source/src/file_server.rs
  lib/file-source/src/file_watcher/mod.rs
  lib/file-source/src/fingerprinter.rs
  lib/file-source/src/internal_events.rs
  src/internal_events/file.rs
  src/sources/file.rs
  src/sources/kubernetes_logs/mod.rs
  website/cue/reference/components/sources/base/file.cue
  website/cue/reference/components/sources/base/kubernetes_logs.cue
Labels: source: file, domain: sources, domain: external docs, source: kubernetes_logs, meta: awaiting author

#19877 feat(kubernetes): Bump manifests to chart v0.36.0
  distribution/kubernetes/vector-agent/README.md
  distribution/kubernetes/vector-agent/configmap.yaml
  distribution/kubernetes/vector-agent/daemonset.yaml
  distribution/kubernetes/vector-agent/rbac.yaml
  distribution/kubernetes/vector-agent/service-headless.yaml
  distribution/kubernetes/vector-agent/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/README.md
  distribution/kubernetes/vector-aggregator/configmap.yaml
  distribution/kubernetes/vector-aggregator/service-headless.yaml
  distribution/kubernetes/vector-aggregator/service.yaml
  distribution/kubernetes/vector-aggregator/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/statefulset.yaml
  distribution/kubernetes/vector-stateless-aggregator/README.md
  distribution/kubernetes/vector-stateless-aggregator/configmap.yaml
  distribution/kubernetes/vector-stateless-aggregator/deployment.yaml
  distribution/kubernetes/vector-stateless-aggregator/service-headless.yaml
  distribution/kubernetes/vector-stateless-aggregator/service.yaml
  distribution/kubernetes/vector-stateless-aggregator/serviceaccount.yaml
Labels: domain: releasing, no-changelog

#19874 chore(releasing): Bump development version to v0.37.0
  Cargo.lock
  Cargo.toml
Labels: no-changelog

#19828 enhancement(vrl): RFC for return expression
  rfcs/2023-02-08-7496-vrl-return.md
Labels: domain: rfc, no-changelog

#19885 chore(tests): expose more test utils
  src/config/source.rs
Labels: no-changelog

#19521 enhancement(kubernetes): add support for include_paths_glob_patterns
  changelog.d/include_paths_glob_patterns.enhancement.md
  src/sources/kubernetes_logs/k8s_paths_provider.rs
  src/sources/kubernetes_logs/mod.rs
  website/cue/reference/components/sources/base/kubernetes_logs.cue
  website/cue/reference/components/sources/kubernetes_logs.cue
Labels: domain: sources, domain: external docs

#19780 enhancement(http sink): Update HttpRequest struct to pass additional metadata
  Cargo.toml
  changelog.d/clickhouse_acknowledgements.breaking.md
  src/sinks/clickhouse/config.rs
  src/sinks/clickhouse/integration_tests.rs
  src/sinks/clickhouse/mod.rs
  src/sinks/clickhouse/request_builder.rs
  src/sinks/clickhouse/service.rs
  src/sinks/clickhouse/sink.rs
  src/sinks/gcp/stackdriver/logs/request_builder.rs
  src/sinks/gcp/stackdriver/logs/service.rs
  src/sinks/gcp/stackdriver/logs/sink.rs
  src/sinks/gcp/stackdriver/logs/tests.rs
  src/sinks/gcp/stackdriver/metrics/config.rs
  src/sinks/gcp/stackdriver/metrics/request_builder.rs
  src/sinks/gcp/stackdriver/metrics/sink.rs
  src/sinks/honeycomb/request_builder.rs
  src/sinks/honeycomb/service.rs
  src/sinks/honeycomb/sink.rs
  src/sinks/http/request_builder.rs
  src/sinks/http/service.rs
  src/sinks/http/sink.rs
  src/sinks/util/http.rs
Labels: domain: sinks

#19893 enhancement(s3 sink): add express one zone storage class
  Cargo.lock
  Cargo.toml
  changelog.d/19891_s3_sink_add_express_onezone_storage_class.enhancement.md
  src/sinks/s3_common/config.rs
  website/cue/reference/components/sinks/base/aws_s3.cue
Labels: domain: sinks, domain: external docs

#19886 enhancement(http sink): update HTTP request builder to return error
  src/sinks/clickhouse/service.rs
  src/sinks/gcp/stackdriver/logs/service.rs
  src/sinks/gcp/stackdriver/logs/tests.rs
  src/sinks/gcp/stackdriver/metrics/config.rs
  src/sinks/honeycomb/service.rs
  src/sinks/http/service.rs
  src/sinks/mod.rs
  src/sinks/util/http.rs
Labels: domain: sinks, no-changelog

#19895 chore(ci): Add a timeout to all CI jobs
  .github/workflows/changes.yml
  .github/workflows/cli.yml
  .github/workflows/comment-trigger.yml
  .github/workflows/create_preview_sites.yml
  .github/workflows/cross.yml
  .github/workflows/deny.yml
  .github/workflows/e2e.yml
  .github/workflows/environment.yml
  .github/workflows/gardener_issue_comment.yml
  .github/workflows/gardener_open_issue.yml
  .github/workflows/gardener_open_pr.yml
  .github/workflows/gardener_remove_waiting_author.yml
  .github/workflows/install-sh.yml
  .github/workflows/integration-comment.yml
  .github/workflows/integration.yml
  .github/workflows/k8s_e2e.yml
  .github/workflows/labeler.yml
  .github/workflows/master_merge_queue.yml
  .github/workflows/misc.yml
  .github/workflows/msrv.yml
  .github/workflows/preview_site_trigger.yml
  .github/workflows/protobuf.yml
  .github/workflows/publish.yml
  .github/workflows/regression.yml
  .github/workflows/spelling.yml
  .github/workflows/test.yml
  .github/workflows/unit_mac.yml
  .github/workflows/unit_windows.yml
  .github/workflows/workload_checks.yml
Labels: no-changelog

#19875 chore(releases website): 0.36 changelog fixes
  website/content/en/highlights/2024-02-13-0-36-0-upgrade-guide.md
  website/cue/reference/releases/0.36.0.cue
Labels: domain: external docs, no-changelog

#19918 docs(remap transform): Fix `drop_on_abort` docs
  src/transforms/remap.rs
  website/cue/reference/components/transforms/base/remap.cue
Labels: no-changelog

#19925 chore(dev): Update release instructions for deploying vector.dev
  .github/ISSUE_TEMPLATE/minor-release.md
  .github/ISSUE_TEMPLATE/patch-release.md
Labels: no-changelog

#19880 chore(website): bump openssl version used for links in docs
  website/config.toml
Labels: no-changelog

#19668 docs: Add pre-requisite for vdev
  vdev/README.md
Labels: domain: vdev, no-changelog

#18062 feat(component validation): add sink error path validation + multi config
  src/components/validation/mod.rs
  src/components/validation/resources/event.rs
  src/components/validation/runner/config.rs
  src/components/validation/runner/mod.rs
  src/components/validation/test_case.rs
  src/components/validation/validators/component_spec/mod.rs
  src/sinks/http/config.rs
  src/sources/http_client/client.rs
  src/sources/http_server.rs
  tests/validation/components/sinks/http.yaml
  tests/validation/components/sources/http_client.yaml
  tests/validation/components/sources/http_server.yaml
Labels: sink: http, domain: tests, domain: observability, domain: sources, domain: sinks, no-changelog

#18475 feat(sources): Initial pulsar source
  .github/semantic.yml
  Cargo.toml
  changelog.d/pulsar_source.feature.md
  src/internal_events/mod.rs
  src/internal_events/pulsar.rs
  src/sinks/datadog/metrics/encoder.rs
  src/sources/mod.rs
  src/sources/pulsar.rs
  website/content/en/docs/reference/configuration/sources/pulsar.md
  website/cue/reference/components/sources/base/pulsar.cue
  website/cue/reference/components/sources/pulsar.cue
  website/data/redirects.yaml
Labels: domain: sources, domain: sinks, domain: external docs, source: new

#19937 feat(dnsmsg_parser): add support for EDNS EDE fields
  .github/actions/spelling/allow.txt
  changelog.d/19937_edns_ede_support.feature.md
  lib/dnsmsg-parser/src/dns_message.rs
  lib/dnsmsg-parser/src/dns_message_parser.rs
  lib/dnsmsg-parser/src/ede.rs
  lib/dnsmsg-parser/src/lib.rs
  src/sources/dnstap/parser.rs
  src/sources/dnstap/schema.rs
  website/cue/reference/components/sources/dnstap.cue
  website/cue/reference/urls.cue
Labels: domain: sources, domain: external docs

#19950 fix(pulsar source): PulsarErrorEvent only occurs for the source
  src/internal_events/pulsar.rs
Labels: no-changelog

#19939 fix (aws service): use http client so we can use openssl tls.
  Cargo.lock
  Cargo.toml
  src/aws/auth.rs
  src/aws/mod.rs
Labels: no-changelog

#19927 chore(observability): robustly synchronize component validation framework tasks
  Cargo.toml
  src/components/validation/resources/event.rs
  src/components/validation/resources/http.rs
  src/components/validation/resources/mod.rs
  src/components/validation/runner/mod.rs
  src/components/validation/runner/telemetry.rs
  src/components/validation/sync.rs
  src/components/validation/validators/component_spec/mod.rs
  src/sinks/http/config.rs
  src/sources/http_client/client.rs
  tests/validation/components/sinks/http.yaml
Labels: domain: tests, domain: observability, domain: sources, domain: sinks, no-changelog

#19964 chore(testing): expose component validation framework
  src/components/validation/mod.rs
Labels: no-changelog
