Repository vectordotdev/vector, pull requests merged in 2024-12, with the labels that each got.

#21823 enhancement(nats sink): can now parse multiple nats urls
  changelog.d/21822-nats-sink-multiple-urls.enhancement.md
  src/sinks/nats/config.rs
  website/cue/reference/components/sinks/base/nats.cue
Labels: domain: sinks, domain: external docs

#21726 feat(file sink): supports input based on encoding type
  changelog.d/21704_file_sink_supports_encoding_input.feature.md
  src/sinks/file/mod.rs
  src/test_util/mod.rs
Labels: domain: sinks

#21940 fix(ci): multiple workflows need 'contents: write' permissions
  .github/workflows/custom_builds.yml
  .github/workflows/nightly.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
Labels: no-changelog

#21942 feat(ci): introduce OSSF scorecard
  .github/workflows/scorecard.yml
Labels: no-changelog

#21941 docs(vrl): Add documentation for new `zip` function
  website/cue/reference/remap/functions/zip.cue
Labels: type: tech debt, domain: external docs, vrl: stdlib, no-changelog

#21952 chore(dev): tweaks to the minor release guide
  .github/ISSUE_TEMPLATE/minor-release.md
Labels: no-changelog

#21957 chore(dev): Regenerate Cargo.lock to fix bad conflict resolution
  Cargo.lock
Labels: no-changelog

#21956 chore(releasing): cargo vdev build manifests
  distribution/kubernetes/vector-agent/README.md
  distribution/kubernetes/vector-agent/configmap.yaml
  distribution/kubernetes/vector-agent/daemonset.yaml
  distribution/kubernetes/vector-agent/rbac.yaml
  distribution/kubernetes/vector-agent/service-headless.yaml
  distribution/kubernetes/vector-agent/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/README.md
  distribution/kubernetes/vector-aggregator/configmap.yaml
  distribution/kubernetes/vector-aggregator/service-headless.yaml
  distribution/kubernetes/vector-aggregator/service.yaml
  distribution/kubernetes/vector-aggregator/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/statefulset.yaml
  distribution/kubernetes/vector-stateless-aggregator/README.md
  distribution/kubernetes/vector-stateless-aggregator/configmap.yaml
  distribution/kubernetes/vector-stateless-aggregator/deployment.yaml
  distribution/kubernetes/vector-stateless-aggregator/service-headless.yaml
  distribution/kubernetes/vector-stateless-aggregator/service.yaml
  distribution/kubernetes/vector-stateless-aggregator/serviceaccount.yaml
Labels: domain: releasing, no-changelog

#21954 chore(dev): mention job manual trigger
  .github/ISSUE_TEMPLATE/minor-release.md
  .github/ISSUE_TEMPLATE/patch-release.md
Labels: no-changelog

#21930 chore(ci): change some dependabot schedules to weekly
  .github/dependabot.yml
Labels: no-changelog

#21958 chore(ci): dependabot allow all dep types
  .github/dependabot.yml
Labels: no-changelog

#21955 chore(releasing): bump vector version to 0.44.0
  Cargo.lock
  Cargo.toml
Labels: no-changelog

#21959 chore(dev): replace the aqua local registry with the standard registry
  aqua/aqua-policy.yaml
  aqua/aqua.yaml
  aqua/registry.yaml
Labels: no-changelog

#21962 chore(deps): Bump hashbrown to 0.15.2
  Cargo.lock
Labels: no-changelog

#21963 docs(vrl): add example syntax for valid expressions.
  website/cue/reference/remap/syntax/expressions.cue
Labels: domain: external docs, no-changelog

#21964 docs(exclusive_route transform, route transform): fix links in route/exclusive route
  website/cue/reference/components/transforms/exclusive_route.cue
  website/cue/reference/components/transforms/route.cue
Labels: domain: external docs, no-changelog

#21966 chore(deps): Bump patched tokio-util to 0.7.13
  Cargo.lock
  Cargo.toml
Labels: no-changelog

#21973 docs(external): add notice for 'to_float'
  website/cue/reference/remap/functions/to_float.cue
  website/cue/reference/urls.cue
Labels: domain: external docs, no-changelog

#21977 docs(external): fix fallibility badge
  website/cue/reference/remap/functions/parse_float.cue
  website/cue/reference/remap/functions/parse_regex_all.cue
Labels: domain: external docs, no-changelog

#21979 chore(ci): run regression suite weekly
  .github/workflows/regression.yml
Labels: no-changelog

#21980 chore(ci): Fix baseline SHA default for new weekly schedule
  .github/workflows/regression.yml
Labels: no-changelog

#21986 chore(dev): Bump regression replicas to 100
  .github/workflows/regression.yml
Labels: no-changelog

#21987 chore(ci): run nightly workflow on weekday commits (only)
  .github/workflows/nightly.yml
Labels: no-changelog

#21971 fix(sample transform): use configured sample_rate_key value
  changelog.d/pass-sample-rate-key-config.fix.md
  src/transforms/sample/config.rs
Labels: type: bug, transform: sample, domain: transforms

#21990 chore(website): Render chores for release changelog
  website/layouts/releases/single.html
Labels: no-changelog

#21989 fix(reduce transform): enable quoting for invalid fields
  changelog.d/21989-reduce-quote-invalid-path.fix.md
  lib/vector-core/src/event/util/log/all_fields.rs
  src/transforms/reduce/transform.rs
Labels: domain: transforms, domain: core

#21991 fix(internal_metrics source): Emit `build_info` gauge on an interval
  changelog.d/21988_emit_build_info_interval.fix.md
  src/internal_events/heartbeat.rs
  src/internal_events/process.rs
Labels: source: internal_metrics

#21993 chore(releasing): Prepare `v0.43.1` release
  Cargo.lock
  Cargo.toml
  distribution/install.sh
  lib/vector-core/src/event/util/log/all_fields.rs
  src/internal_events/heartbeat.rs
  src/internal_events/process.rs
  src/transforms/reduce/transform.rs
  website/content/en/releases/0.43.1.md
  website/cue/reference/releases/0.43.1.cue
  website/cue/reference/versions.cue
Labels: domain: transforms, domain: releasing, domain: external docs, domain: core, no-changelog

#22000 chore(deps): Ignore RUSTSEC-2024-0421 temporarily
  deny.toml
Labels: no-changelog

#22012 docs(external): remove obsolete note
  website/cue/reference/remap/functions/to_float.cue
Labels: domain: external docs, no-changelog

#22011 chore(releasing): cherry-pick v0.43.1 patch commits
  changelog.d/21988_emit_build_info_interval.fix.md
  changelog.d/21989-reduce-quote-invalid-path.fix.md
  distribution/install.sh
  website/content/en/releases/0.43.1.md
  website/cue/reference/releases/0.43.1.cue
  website/cue/reference/versions.cue
Labels: domain: releasing, domain: external docs, no-changelog

#22016 chore(ci): Skip humio integration tests in CI
  .github/workflows/integration.yml
Labels: no-changelog

#22025 chore(ci): Fix integration test file syntax
  .github/workflows/integration.yml
Labels: no-changelog

#22019 chore(releasing): build manifests for vector 0.43.1 chart 0.38.1
  distribution/kubernetes/vector-agent/README.md
  distribution/kubernetes/vector-agent/configmap.yaml
  distribution/kubernetes/vector-agent/daemonset.yaml
  distribution/kubernetes/vector-agent/rbac.yaml
  distribution/kubernetes/vector-agent/service-headless.yaml
  distribution/kubernetes/vector-agent/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/README.md
  distribution/kubernetes/vector-aggregator/configmap.yaml
  distribution/kubernetes/vector-aggregator/service-headless.yaml
  distribution/kubernetes/vector-aggregator/service.yaml
  distribution/kubernetes/vector-aggregator/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/statefulset.yaml
  distribution/kubernetes/vector-stateless-aggregator/README.md
  distribution/kubernetes/vector-stateless-aggregator/configmap.yaml
  distribution/kubernetes/vector-stateless-aggregator/deployment.yaml
  distribution/kubernetes/vector-stateless-aggregator/service-headless.yaml
  distribution/kubernetes/vector-stateless-aggregator/service.yaml
  distribution/kubernetes/vector-stateless-aggregator/serviceaccount.yaml
Labels: domain: releasing, no-changelog

#22018 chore(website): bump hugo to latest version
  website/layouts/partials/css.html
  website/layouts/shortcodes/jump.html
Labels: no-changelog

#21984 chore(greptimedb_metrics sink): fix greptimedb examples
  .github/workflows/semantic.yml
  src/sinks/greptimedb/metrics/config.rs
  website/cue/reference/components/sinks/base/greptimedb.cue
  website/cue/reference/components/sinks/base/greptimedb_metrics.cue
Labels: domain: sinks, domain: external docs, no-changelog

#22021 chore(deps): remove some unused deps
  Cargo.lock
  Cargo.toml
  lib/codecs/Cargo.toml
  lib/docs-renderer/Cargo.toml
  lib/file-source/Cargo.toml
  lib/loki-logproto/Cargo.toml
  lib/prometheus-parser/Cargo.toml
  lib/vector-api-client/Cargo.toml
  lib/vector-buffers/Cargo.toml
  lib/vector-common/Cargo.toml
  lib/vector-config/Cargo.toml
  lib/vector-core/Cargo.toml
  lib/vector-lib/Cargo.toml
  lib/vector-tap/Cargo.toml
  lib/vector-vrl/tests/Cargo.toml
  lib/vector-vrl/web-playground/Cargo.toml
  vdev/Cargo.toml
Labels: domain: core, domain: vdev, no-changelog

#22010 chore(ci): SMP increase timeout to 120 mins
  .github/workflows/regression.yml
Labels: no-changelog

#22015 chore(dev): Switch to new humio image
  scripts/integration/humio/compose.yaml
  scripts/integration/humio/test.yaml
Labels: domain: ci, no-changelog

#22020 fix(clickhouse sink)!: make `skip_unknown_fields` optional
  changelog.d/22013-optional-clickhouse-skip_unknown_fields.breaking.md
  src/sinks/clickhouse/config.rs
  src/sinks/clickhouse/integration_tests.rs
  src/sinks/clickhouse/service.rs
  website/cue/reference/components/sinks/base/clickhouse.cue
Labels: domain: sinks, domain: external docs

#22030 chore(deps): Update to Rust 1.82.0
  Tiltfile
  lib/vector-core/src/tls/incoming.rs
  rust-toolchain.toml
Labels: domain: core, no-changelog

#22038 chore(soak tests): Increases inner GH action timeout to match job-level timeout
  .github/workflows/regression.yml
Labels: no-changelog

#22043 chore(ci): Fix SMP job timeouts
  .github/workflows/regression.yml
Labels: no-changelog

#22044 chore(ci): Pin ubuntu versions in GHA
  .github/workflows/changelog.yaml
  .github/workflows/changes.yml
  .github/workflows/ci-integration-review.yml
  .github/workflows/ci-review-trigger.yml
  .github/workflows/cli.yml
  .github/workflows/component_features.yml
  .github/workflows/create_preview_sites.yml
  .github/workflows/cross.yml
  .github/workflows/deny.yml
  .github/workflows/e2e.yml
  .github/workflows/gardener_issue_comment.yml
  .github/workflows/gardener_open_issue.yml
  .github/workflows/gardener_open_pr.yml
  .github/workflows/gardener_remove_waiting_author.yml
  .github/workflows/integration.yml
  .github/workflows/k8s_e2e.yml
  .github/workflows/msrv.yml
  .github/workflows/preview_site_trigger.yml
  .github/workflows/protobuf.yml
  .github/workflows/regression.yml
  .github/workflows/scorecard.yml
  .github/workflows/semantic.yml
  .github/workflows/spelling.yml
Labels: no-changelog

#22048 chore(deps): Regenerate Cargo.lock
  Cargo.lock
Labels: no-changelog

#22056 chore(ci): Bump timeout for cli tests
  .github/workflows/cli.yml
Labels: no-changelog

#21953 enhancement(elasticsearch sink): Add option to specify a default index if template cannot be resolved for Elasticsearch destination index
  changelog.d/add_default_fallback_index_elasticsearch_destination.enhancement.md
  src/sinks/elasticsearch/config.rs
  src/sinks/elasticsearch/mod.rs
  src/sinks/elasticsearch/tests.rs
  website/cue/reference/components/sinks/base/elasticsearch.cue
Labels: domain: sinks, domain: external docs

#21905 fix(kubernetes_logs source): Set user-agent for k8s apiserver requests.
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  changelog.d/21864_kubernetes_logs_user_agent.fix.md
  license-tool.toml
  src/kubernetes/reflector.rs
  src/sources/kubernetes_logs/mod.rs
Labels: domain: sources

#22058 chore(ci): Bump cargo-deny timeout
  .github/workflows/deny.yml
Labels: no-changelog

#21762 enhancement(socket sink): support unix datagram mode
  changelog.d/5269_support_unix_datagram_mode_in_socket_sink.enhancement.md
  src/internal_events/unix.rs
  src/sinks/socket.rs
  src/sinks/util/datagram.rs
  src/sinks/util/mod.rs
  src/sinks/util/service/net/mod.rs
  src/sinks/util/service/net/unix.rs
  src/sinks/util/udp.rs
  src/sinks/util/unix.rs
  website/cue/reference/components/sinks/base/socket.cue
Labels: domain: sinks, domain: external docs

#22041 fix(kafka sink): retry messages that result in kafka policy violations
  changelog.d/22026-retry-kafka-policy-violations.fix.md
  src/sinks/kafka/service.rs
Labels: domain: sinks

#21999 feat(aws_s3 sink): add option to use virtual addressing
  changelog.d/21999-add-option-to-use-virtual-addressing.feature.md
  src/aws/mod.rs
  src/common/s3.rs
  src/common/sqs.rs
  src/secrets/aws_secrets_manager.rs
  src/sinks/aws_cloudwatch_logs/config.rs
  src/sinks/aws_cloudwatch_logs/integration_tests.rs
  src/sinks/aws_cloudwatch_metrics/mod.rs
  src/sinks/aws_kinesis/firehose/config.rs
  src/sinks/aws_kinesis/firehose/integration_tests.rs
  src/sinks/aws_kinesis/streams/config.rs
  src/sinks/aws_kinesis/streams/integration_tests.rs
  src/sinks/aws_s3/config.rs
  src/sinks/aws_s3/integration_tests.rs
  src/sinks/aws_s_s/sns/config.rs
  src/sinks/aws_s_s/sns/integration_tests.rs
  src/sinks/aws_s_s/sqs/config.rs
  src/sinks/aws_s_s/sqs/integration_tests.rs
  src/sinks/s3_common/config.rs
  src/sources/aws_s3/mod.rs
  src/sources/aws_sqs/config.rs
  website/cue/reference/components/sinks/base/aws_s3.cue
Labels: domain: sources, domain: sinks, domain: external docs
