Repository vectordotdev/vector, pull requests merged in 2024-06, with the labels that each got.

#19728 feat(opentelemetry source): support trace ingestion
  changelog.d/opentelemetry_trace.feature.md
  lib/opentelemetry-proto/build.rs
  lib/opentelemetry-proto/src/convert.rs
  lib/opentelemetry-proto/src/proto.rs
  lib/opentelemetry-proto/src/proto/opentelemetry-proto/opentelemetry/proto/trace/v1/trace.proto
  src/sources/opentelemetry/grpc.rs
  src/sources/opentelemetry/http.rs
  src/sources/opentelemetry/integration_tests.rs
  src/sources/opentelemetry/mod.rs
  src/sources/opentelemetry/tests.rs
  src/sources/util/grpc/mod.rs
  tests/data/opentelemetry/config.yaml
  website/cue/reference/components/sources/opentelemetry.cue
Labels: domain: sources, domain: external docs

#20611 chore(ci): Update versions of OSes used for testing the RPM package
  .github/workflows/publish.yml
Labels: no-changelog

#20614 chore(enrichment_tables): Make configuration fields public
  src/enrichment_tables/file.rs
Labels: type: tech debt, domain: config, enrichment_table: csv, domain: enrichment_tables, no-changelog

#20615 chore(docs): Remove references to HTTP Content-Length from component spec
  docs/specs/component.md
Labels: no-changelog

#19667 enhancement(http): log source IP as `host` key in the `http` source
  changelog.d/4221_host_key_http_source.enhancement.md
  src/sources/heroku_logs.rs
  src/sources/http_server.rs
  src/sources/util/http/prelude.rs
  website/cue/reference/components/sources/base/http.cue
  website/cue/reference/components/sources/base/http_server.cue
Labels: domain: sources, domain: external docs

#20384 feat(new encoding): add pretty json encoding
  changelog.d/20384_pretty_json_config.enhancement.md
  config/vector.yaml
  lib/codecs/src/encoding/format/json.rs
  lib/codecs/src/encoding/format/mod.rs
  lib/k8s-e2e-tests/tests/vector-agent.rs
  src/components/validation/resources/event.rs
  src/generate.rs
  src/sinks/datadog/logs/config.rs
  src/sinks/http/config.rs
  src/sinks/splunk_hec/logs/config.rs
  website/cue/reference/components/sinks/base/amqp.cue
  website/cue/reference/components/sinks/base/aws_cloudwatch_logs.cue
  website/cue/reference/components/sinks/base/aws_kinesis_firehose.cue
  website/cue/reference/components/sinks/base/aws_kinesis_streams.cue
  website/cue/reference/components/sinks/base/aws_s3.cue
  website/cue/reference/components/sinks/base/aws_sns.cue
  website/cue/reference/components/sinks/base/aws_sqs.cue
  website/cue/reference/components/sinks/base/azure_blob.cue
  website/cue/reference/components/sinks/base/console.cue
  website/cue/reference/components/sinks/base/databend.cue
  website/cue/reference/components/sinks/base/file.cue
  website/cue/reference/components/sinks/base/gcp_chronicle_unstructured.cue
  website/cue/reference/components/sinks/base/gcp_cloud_storage.cue
  website/cue/reference/components/sinks/base/gcp_pubsub.cue
  website/cue/reference/components/sinks/base/http.cue
  website/cue/reference/components/sinks/base/humio_logs.cue
  website/cue/reference/components/sinks/base/kafka.cue
  website/cue/reference/components/sinks/base/loki.cue
  website/cue/reference/components/sinks/base/mqtt.cue
  website/cue/reference/components/sinks/base/nats.cue
  website/cue/reference/components/sinks/base/papertrail.cue
  website/cue/reference/components/sinks/base/pulsar.cue
  website/cue/reference/components/sinks/base/redis.cue
  website/cue/reference/components/sinks/base/socket.cue
  website/cue/reference/components/sinks/base/splunk_hec_logs.cue
  website/cue/reference/components/sinks/base/webhdfs.cue
  website/cue/reference/components/sinks/base/websocket.cue
Labels: domain: sinks, domain: external docs

#20555 enhancement(remap transform): add caching to remap vrl compilation
  changelog.d/cache-remap-compilation.enhancement.md
  lib/enrichment/src/tables.rs
  src/transforms/remap.rs
Labels: domain: transforms

#20373 enhancement(kafka sink): Make healthcheck topic configurable
  changelog.d/10465_kafka_sink_healthcheck_topic.enhancement.md
  src/sinks/kafka/config.rs
  src/sinks/kafka/sink.rs
  src/sinks/kafka/tests.rs
  website/cue/reference/components/sinks/base/kafka.cue
Labels: domain: sinks, domain: external docs

#20624 chore: bump rust version to 1.78
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  lib/codecs/src/encoding/format/gelf.rs
  lib/codecs/src/encoding/format/logfmt.rs
  lib/codecs/src/encoding/format/native_json.rs
  lib/codecs/src/encoding/format/raw_message.rs
  lib/codecs/src/encoding/framing/bytes.rs
  lib/codecs/src/encoding/framing/newline_delimited.rs
  lib/k8s-test-framework/src/pod.rs
  lib/vector-api-client/src/subscription.rs
  lib/vector-config/tests/integration/configurable_string.rs
  lib/vector-config/tests/integration/smoke.rs
  lib/vector-core/src/event/metadata.rs
  lib/vector-core/src/fanout.rs
  rust-toolchain.toml
  src/codecs/encoding/config.rs
  src/codecs/encoding/encoder.rs
  src/components/validation/resources/event.rs
  src/components/validation/resources/mod.rs
  src/config/loading/mod.rs
  src/lib.rs
  src/sinks/aws_kinesis/streams/config.rs
  src/sinks/aws_s_s/config.rs
  src/sinks/azure_blob/test.rs
  src/sinks/console/sink.rs
  src/sinks/datadog/traces/request_builder.rs
  src/sinks/influxdb/metrics.rs
  src/sinks/kafka/sink.rs
  src/sinks/loki/sink.rs
  src/sinks/new_relic/model.rs
  src/sinks/new_relic/tests.rs
  src/sinks/redis/mod.rs
  src/sinks/splunk_hec/logs/tests.rs
  src/sinks/statsd/config.rs
  src/sinks/statsd/request_builder.rs
  src/sinks/util/encoding.rs
  src/sinks/util/tcp.rs
  src/sinks/util/unix.rs
  src/sources/amqp.rs
  src/sources/aws_s3/mod.rs
  src/sources/aws_s3/sqs.rs
  src/sources/datadog_agent/mod.rs
  src/sources/file.rs
  src/sources/gcp_pubsub.rs
  src/sources/journald.rs
  src/sources/kafka.rs
  src/sources/mod.rs
  src/sources/opentelemetry/http.rs
  src/sources/opentelemetry/reply.rs
  src/sources/postgresql_metrics.rs
  src/sources/prometheus/scrape.rs
  src/sources/util/message_decoding.rs
  src/transforms/lua/v2/mod.rs
  src/transforms/mod.rs
  vdev/src/testing/runner.rs
  vdev/src/util.rs
Labels: domain: sources, domain: transforms, domain: sinks, domain: codecs, domain: core, domain: vdev, no-changelog

#20468 chore(enterprise)!: Remove `enterprise` feature
  .github/semantic.yml
  Cargo.lock
  Cargo.toml
  changelog.d/remove-enterprise-feature.breaking.md
  docs/DEPRECATIONS.md
  regression/cases/enterprise_http_to_http/data/.gitkeep
  regression/cases/enterprise_http_to_http/lading/lading.yaml
  regression/cases/enterprise_http_to_http/vector/vector.yaml
  src/app.rs
  src/cli.rs
  src/common/mod.rs
  src/config/builder.rs
  src/config/compiler.rs
  src/config/enterprise.rs
  src/config/mod.rs
  src/lib.rs
  src/sinks/datadog/logs/tests.rs
  src/topology/controller.rs
  tests/data/enterprise/base.toml
  tests/data/enterprise/missing_api_key.toml
  vdev/src/features.rs
Labels: domain: topology, meta: breaking change, domain: sinks, domain: enterprise, domain: vdev

#20634 chore(vrl): update to crate version to 0.16.0
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  lib/file-source/src/file_server.rs
  lib/vector-core/src/event/vrl_target.rs
  src/transforms/aws_ec2_metadata.rs
  website/cue/reference/remap/expressions/path.cue
  website/cue/reference/remap/functions/parse_aws_alb_log.cue
Labels: domain: transforms, domain: external docs, domain: core, no-changelog

#20644 fix(datadog sinks): Compute proper validate endpoint
  .github/actions/spelling/allow.txt
  changelog.d/datadog-api-endpoint.fix.md
  src/common/datadog.rs
  src/sinks/datadog/events/config.rs
  src/sinks/datadog/mod.rs
Labels: type: bug, domain: config, domain: sinks, provider: datadog, sink: datadog_logs, sink: datadog_events, sink: datadog_traces

#20645 chore(dev): Update sasl2-sys to fix building on GCC 14+ / CLang environments
  Cargo.lock
Labels: no-changelog

#20656 fix(datadog sinks): Fix regex typo in computation of API endpoint
  src/common/datadog.rs
Labels: type: bug, domain: config, sink: datadog_metrics, provider: datadog, sink: datadog_logs, sink: datadog_events, sink: datadog_traces, no-changelog

#20647 chore(deps): Allow unicode-3 license
  deny.toml
Labels: no-changelog

#20658 docs(vrl): Correct documentation of algorithms supported by `decrypt`
  website/cue/reference/remap/functions/decrypt.cue
Labels: domain: external docs, no-changelog

#20579 feat(#19183): make Chronicle namespace a templateable field
  changelog.d/19183_templateable_chronicle_namespace.enhancement.md
  src/sinks/gcp_chronicle/chronicle_unstructured.rs
  src/sinks/gcp_chronicle/mod.rs
  src/sinks/gcp_chronicle/partitioner.rs
  src/sinks/gcp_chronicle/sink.rs
  website/cue/reference/components/sinks/base/gcp_chronicle_unstructured.cue
Labels: domain: sinks, domain: external docs

#20657 chore(deps): Ensure prometheus::remote_write::Errors is appropriately gated
  src/sinks/prometheus/remote_write/mod.rs
Labels: domain: sinks, no-changelog

#20661 fix(website): Update action for previews
  .github/workflows/create_preview_sites.yml
  .github/workflows/preview_site_trigger.yml
Labels: website: operations, no-changelog

#20672 chore(ci): Update minikube to v1.33.1
  .github/workflows/k8s_e2e.yml
Labels: no-changelog

#20668 chore(deps): Bump Alpine Linux base image to 3.20
  changelog.d/alpine-update.enhancement.md
  distribution/docker/alpine/Dockerfile
  distribution/docker/distroless-static/Dockerfile
Labels: domain: releasing

#20542 docs(vrl): add docs for `psl` argument for `parse_etld`
  .github/actions/spelling/allow.txt
  lib/vector-vrl/tests/resources/public_suffix_list.dat
  website/cue/reference/remap/functions/parse_etld.cue
Labels: domain: external docs, no-changelog

#20646 chore(ci): Bump timeout for publishing new environment
  .github/workflows/environment.yml
Labels: no-changelog

#20440 enhancement(reduce transform): New setting for reduce transform: end_every_period_ms
  changelog.d/reduce_end_every_period.feature.md
  lib/vector-config/src/external/serde_with.rs
  src/transforms/reduce/config.rs
  src/transforms/reduce/transform.rs
  website/cue/reference/components/transforms/base/reduce.cue
Labels: domain: transforms, domain: external docs

#20670 chore(deps): Bump Rust version to 1.79
  Tiltfile
  lib/file-source/src/metadata_ext.rs
  lib/vector-buffers/src/variants/disk_v2/record.rs
  lib/vector-buffers/src/variants/disk_v2/tests/mod.rs
  lib/vector-buffers/src/variants/disk_v2/tests/size_limits.rs
  lib/vector-config-common/src/validation.rs
  lib/vector-config-macros/src/ast/container.rs
  lib/vector-stream/src/partitioned_batcher.rs
  rust-toolchain.toml
  src/api/schema/components/mod.rs
  src/sinks/elasticsearch/retry.rs
  src/sinks/elasticsearch/service.rs
  src/sinks/greptimedb/service.rs
  src/sinks/splunk_hec/logs/config.rs
  src/sinks/splunk_hec/logs/sink.rs
  src/sinks/splunk_hec/metrics/config.rs
  src/sinks/splunk_hec/metrics/sink.rs
  src/sinks/util/batch.rs
  src/sinks/util/retries.rs
  src/sinks/util/service.rs
  src/sources/fluent/message.rs
  src/sources/journald.rs
  src/sources/kubernetes_logs/lifecycle.rs
  src/sources/logstash.rs
  src/sources/mongodb_metrics/types.rs
  src/sources/prometheus/parser.rs
  src/top/metrics.rs
Labels: type: tech debt, domain: sources, domain: sinks, domain: deps, dependencies, no-changelog

#20666 chore(deps): Bump cue to 0.9.1
  cue.mod/module.cue
  scripts/environment/bootstrap-ubuntu-20.04.sh
Labels: domain: ci, no-changelog

#20683 chore(elasticsearch): make multiple modules public
  src/sinks/elasticsearch/mod.rs
  src/sinks/util/uri.rs
Labels: sink: elasticsearch, type: tech debt, domain: sinks, no-changelog

#20686 chore(releasing): Bump k8s manifests to v0.34.0 of the chart
  distribution/kubernetes/vector-agent/README.md
  distribution/kubernetes/vector-agent/configmap.yaml
  distribution/kubernetes/vector-agent/daemonset.yaml
  distribution/kubernetes/vector-agent/rbac.yaml
  distribution/kubernetes/vector-agent/service-headless.yaml
  distribution/kubernetes/vector-agent/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/README.md
  distribution/kubernetes/vector-aggregator/configmap.yaml
  distribution/kubernetes/vector-aggregator/service-headless.yaml
  distribution/kubernetes/vector-aggregator/service.yaml
  distribution/kubernetes/vector-aggregator/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/statefulset.yaml
  distribution/kubernetes/vector-stateless-aggregator/README.md
  distribution/kubernetes/vector-stateless-aggregator/configmap.yaml
  distribution/kubernetes/vector-stateless-aggregator/deployment.yaml
  distribution/kubernetes/vector-stateless-aggregator/service-headless.yaml
  distribution/kubernetes/vector-stateless-aggregator/service.yaml
  distribution/kubernetes/vector-stateless-aggregator/serviceaccount.yaml
Labels: domain: releasing, no-changelog

#20734 chore(ci): Remove reference to the deleted workload checks workflow
  .github/workflows/comment-trigger.yml
Labels: no-changelog

#20736 chore(ci): Restrict comment trigger workflow to repository
  .github/workflows/comment-trigger.yml
Labels: no-changelog

#20743 chore(ci): Restrict integration comment workflow to PRs from maintainers
  .github/workflows/integration-comment.yml
Labels: no-changelog

#20698 fix(kafka source): consumer subscribe in main kafka source task
  changelog.d/20687-kafka_source_validate_deadlock.fix.md
  src/sources/kafka.rs
Labels: domain: sources

#20754 enhancement(demo_logs source): Add `host` to emitted logs
  changelog.d/demo_logs_host.enhancement.md
  src/sources/demo_logs.rs
Labels: domain: sources
