Repository vectordotdev/vector, pull requests merged in 2024-05, with the labels that each got.

#20315 docs(lib,website): remove repetitive words
  lib/vector-buffers/src/variants/disk_v2/mod.rs
  website/cue/reference/releases/0.20.1.cue
  website/cue/reference/releases/0.29.0.cue
Labels: domain: external docs, no-changelog

#20412 chore: Add future deprecation note for `component_(sent|received)_bytes_total` metrics
  docs/specs/component.md
Labels: no-changelog

#20413 doc: nixos.md: Corrected to showcase module usage
  website/content/en/docs/setup/installation/operating-systems/nixos.md
Labels: no-changelog

#20415 chore(deps): Bump VRL to 0.15.0
  Cargo.toml
Labels: no-changelog

#20422 chore(config)!: Remove deprecated `--strict-env-vars` flag
  changelog.d/remove_strict_env_vars.breaking.md
  docs/DEPRECATIONS.md
  src/cli.rs
  src/config/cmd.rs
  src/config/enterprise.rs
  src/config/loading/config_builder.rs
  src/config/loading/loader.rs
  src/config/loading/mod.rs
  src/config/loading/secret.rs
  src/config/loading/source.rs
  src/config/mod.rs
  src/config/unit_test/mod.rs
  src/config/vars.rs
  src/providers/http.rs
  src/validate.rs
  website/cue/reference/cli.cue
Labels: domain: external docs

#20426 chore(ci): Bump timeout for `publish-new-environment` in CI
  .github/workflows/environment.yml
Labels: no-changelog

#20280 chore(releasing): Regenerate k8s manifests for chart 0.32.1
  distribution/kubernetes/vector-agent/README.md
  distribution/kubernetes/vector-agent/configmap.yaml
  distribution/kubernetes/vector-agent/daemonset.yaml
  distribution/kubernetes/vector-agent/rbac.yaml
  distribution/kubernetes/vector-agent/service-headless.yaml
  distribution/kubernetes/vector-agent/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/README.md
  distribution/kubernetes/vector-aggregator/configmap.yaml
  distribution/kubernetes/vector-aggregator/service-headless.yaml
  distribution/kubernetes/vector-aggregator/service.yaml
  distribution/kubernetes/vector-aggregator/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/statefulset.yaml
  distribution/kubernetes/vector-stateless-aggregator/README.md
  distribution/kubernetes/vector-stateless-aggregator/configmap.yaml
  distribution/kubernetes/vector-stateless-aggregator/deployment.yaml
  distribution/kubernetes/vector-stateless-aggregator/service-headless.yaml
  distribution/kubernetes/vector-stateless-aggregator/service.yaml
  distribution/kubernetes/vector-stateless-aggregator/serviceaccount.yaml
Labels: domain: releasing, no-changelog

#20142 feat(config): Support loading secrets from AWS Secrets Manager
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  changelog.d/19990_support_loading_secrets_from_aws_secrets_manager.feature.md
  src/secrets/aws_secrets_manager.rs
  src/secrets/mod.rs
  website/cue/reference/configuration.cue
Labels: domain: external docs

#20357 docs: Document new uuid_from_friendly_id function
  .github/actions/spelling/patterns.txt
  website/cue/reference/remap/functions/uuid_from_friendly_id.cue
Labels: domain: external docs, no-changelog

#20430 fix(ci): component features comment trigger one runner label
  .github/workflows/component_features.yml
Labels: no-changelog

#20429 chore(datadog logs): expose internals and test utils
  src/sinks/datadog/logs/config.rs
  src/sinks/datadog/logs/mod.rs
  src/sinks/datadog/logs/sink.rs
  src/sinks/datadog/mod.rs
  src/sinks/datadog/test_utils.rs
Labels: domain: sinks, no-changelog

#20438 chore(ci): Bump timeouts for test-misc and integration tests
  .github/workflows/integration.yml
  .github/workflows/misc.yml
Labels: no-changelog

#20437 chore(enterprise): Deprecate the `enterprise` feature
  Cargo.lock
  changelog.d/20437-enterprise.deprecation.md
  docs/DEPRECATIONS.md
  src/app.rs
Labels: type: tech debt, domain: enterprise

#20454 chore(docs): Fix link in release notes
  website/content/en/highlights/2024-05-07-0-38-0-upgrade-guide.md
Labels: no-changelog

#20453 chore(releasing): Regenerate manifests for chart v0.33.0
  distribution/kubernetes/vector-agent/README.md
  distribution/kubernetes/vector-agent/configmap.yaml
  distribution/kubernetes/vector-agent/daemonset.yaml
  distribution/kubernetes/vector-agent/rbac.yaml
  distribution/kubernetes/vector-agent/service-headless.yaml
  distribution/kubernetes/vector-agent/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/README.md
  distribution/kubernetes/vector-aggregator/configmap.yaml
  distribution/kubernetes/vector-aggregator/service-headless.yaml
  distribution/kubernetes/vector-aggregator/service.yaml
  distribution/kubernetes/vector-aggregator/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/statefulset.yaml
  distribution/kubernetes/vector-stateless-aggregator/README.md
  distribution/kubernetes/vector-stateless-aggregator/configmap.yaml
  distribution/kubernetes/vector-stateless-aggregator/deployment.yaml
  distribution/kubernetes/vector-stateless-aggregator/service-headless.yaml
  distribution/kubernetes/vector-stateless-aggregator/service.yaml
  distribution/kubernetes/vector-stateless-aggregator/serviceaccount.yaml
Labels: domain: releasing, no-changelog

#20465 chore(ci): Switch to Confluent docker images since wurstmeister ones disappeared
  .github/actions/spelling/excludes.txt
  .github/actions/spelling/expect.txt
  scripts/integration/kafka/compose.yaml
  scripts/integration/kafka/test.yaml
  scripts/integration/shutdown/compose.yaml
  tests/data/ca/intermediate_server/private/kafka.pass
  tests/data/kafka_server_jaas.conf
Labels: domain: ci, no-changelog

#20455 chore(deps): Drop `cached`
  Cargo.lock
  vdev/Cargo.toml
Labels: dependencies, domain: vdev, no-changelog

#20467 fix(kafka source): Reorder message consume loop to avoid memory growth
  changelog.d/kafka-source-ack-leak.fix.md
  src/sources/kafka.rs
Labels: type: bug, source: kafka, domain: sources, domain: performance

#20065 enhancement(prometheus_exporter sink): add CompressionLayer support
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  changelog.d/19962_prometheus_exporter_compression.enhancement.md
  src/http.rs
  src/sinks/prometheus/exporter.rs
Labels: domain: sinks

#20469 chore(loki sink): Changed OutOfOrderAction default to accept
  changelog.d/loki-sink-default-out-of-order-action-accept.breaking.md
  src/sinks/loki/config.rs
  website/cue/reference/components/sinks/base/loki.cue
Labels: domain: sinks, domain: external docs

#20544 chore(ci): Fix nextest / rustup dll issue
  scripts/environment/bootstrap-windows-2019.ps1
Labels: domain: ci, no-changelog

#20537 chore(reduce): add arbitrary trait
  Cargo.lock
  Cargo.toml
  src/transforms/reduce/merge_strategy.rs
Labels: domain: transforms, no-changelog

#20543 chore(reduce): expose reduce logic
  Cargo.toml
  src/internal_events/mod.rs
  src/transforms/mod.rs
  src/transforms/reduce/config.rs
  src/transforms/reduce/mod.rs
  src/transforms/reduce/transform.rs
Labels: domain: transforms, no-changelog

#20536 docs: Fix link to remap event data model
  website/cue/reference/remap/concepts/metrics.cue
Labels: domain: external docs, no-changelog

#20530 chore(kubernetes_logs source): Remove unreported metrics from the docs
  website/cue/reference/components/sources/internal_metrics.cue
  website/cue/reference/components/sources/kubernetes_logs.cue
Labels: domain: external docs, no-changelog

#20529 feat(kafka source): use `msg.payload_len()` to initialize `FramedRead`
  changelog.d/kafka-source-parse_message.feature.md
  src/sources/kafka.rs
Labels: domain: sources

#20550 chore(config): Drop support for missing example configs
  lib/vector-config/src/component/description.rs
  src/generate.rs
Labels: type: tech debt, domain: config, no-changelog

#20554 fix(reduce): correct feature gate
  src/transforms/reduce/mod.rs
Labels: domain: transforms, no-changelog

#20557 chore(gcp_chronicle): allow enabling google chronicle separately from…
  Cargo.toml
  src/sinks/gcp/mod.rs
  src/sinks/gcp_chronicle/chronicle_unstructured.rs
  src/sinks/gcp_chronicle/mod.rs
  src/sinks/mod.rs
Labels: domain: sinks, no-changelog

#20556 chore: Move third-party proto files into their own module
  buf.work.yaml
  build.rs
  lib/loki-logproto/build.rs
  lib/prometheus-parser/build.rs
  lib/vector-core/build.rs
  proto/third-party/buf.yaml
  proto/third-party/dnstap.proto
  proto/third-party/google/LICENSE-Apache-2.0.txt
  proto/third-party/google/README
  proto/third-party/google/api/annotations.proto
  proto/third-party/google/api/client.proto
  proto/third-party/google/api/field_behavior.proto
  proto/third-party/google/api/http.proto
  proto/third-party/google/api/resource.proto
  proto/third-party/google/protobuf/LICENSE
  proto/third-party/google/protobuf/any.proto
  proto/third-party/google/protobuf/descriptor.proto
  proto/third-party/google/protobuf/empty.proto
  proto/third-party/google/protobuf/timestamp.proto
  proto/third-party/google/pubsub/v1/pubsub.proto
  proto/third-party/google/rpc/status.proto
  proto/vector/buf.yaml
  proto/vector/dd_metric.proto
  proto/vector/dd_trace.proto
  proto/vector/ddsketch_full.proto
  proto/vector/vector.proto
Labels: domain: core, no-changelog

#20572 chore(deps): Bump cargo-nextest
  scripts/e2e/Dockerfile
  scripts/environment/bootstrap-windows-2019.ps1
  scripts/environment/prepare.sh
  scripts/integration/Dockerfile
Labels: domain: ci, no-changelog

#20497 doc: Improve NixOS documentation
  website/content/en/docs/setup/installation/operating-systems/nixos.md
Labels: no-changelog

#20513 fix(external docs): Fix parsing-csv-logs-with-lua.md example for postgres > 13
  website/content/en/guides/advanced/parsing-csv-logs-with-lua.md
Labels: no-changelog

#20580 chore(elasticsearch): add arbitrary trait to ElasticsearchApiVersion
  src/sinks/elasticsearch/mod.rs
Labels: sink: elasticsearch, type: tech debt, domain: sinks, no-changelog
