Repository vectordotdev/vector, pull requests merged in 2024-10, with the labels that each got.

#21384 fix(nats source): use correct default value for subscriber_capacity
  changelog.d/21383-nats-subscriber-capacity.fix.md
  src/sources/nats.rs
  website/cue/reference/components/sources/base/nats.cue
Labels: domain: sources, domain: external docs

#21392 chore(deps): update VRL to v0.19.0
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
Labels: no-changelog

#21391 chore(deps): Bump community-id from 0.2.2 to 0.2.3
  Cargo.lock
Labels: no-changelog

#21386 enhancement(nats source): add support for multiple URLs
  changelog.d/21385-nats-source-multiple-url.enhancement.md
  src/sources/nats.rs
  website/cue/reference/components/sources/base/nats.cue
Labels: domain: sources, domain: external docs

#21370 fix(sysv script): Improvement to sysv script for the vector process start within background
  .github/actions/spelling/expect.txt
  changelog.d/21370-improvement-to-sysv-script.fix.md
  distribution/init.d/vector
Labels: domain: releasing

#21416 chore(deps): Use wasm-pack 0.13.0
  lib/vector-vrl/web-playground/README.md
  scripts/ensure-wasm-pack-installed.sh
  scripts/environment/prepare.sh
Labels: domain: ci, no-changelog

#21158 enhancement(gcp_cloud_storage): Make API endpoint configurable
  changelog.d/21137_configurable_gcs_sink_endpoint.enhancement.md
  src/sinks/gcp/cloud_storage.rs
  src/sinks/gcs_common/config.rs
  website/cue/reference/components/sinks/base/gcp_cloud_storage.cue
Labels: domain: sinks, domain: external docs

#21424 chore(dev): Update CODEOWNERS
  .github/CODEOWNERS
Labels: no-changelog

#21417 chore(ci): Have Vector `master` use `main` of VRL
  .github/ISSUE_TEMPLATE/minor-release.md
  Cargo.lock
  Cargo.toml
  lib/vector-vrl/web-playground/Cargo.toml
  lib/vector-vrl/web-playground/build.rs
Labels: no-changelog

#21412 chore(ci): Update install.sh workflow to not publish to AWS
  .github/workflows/install-sh.yml
  Makefile
Labels: no-changelog

#21422 chore(ci): Collect Vector telemetry in regression tests
  regression/cases/datadog_agent_remap_blackhole/lading/lading.yaml
  regression/cases/datadog_agent_remap_blackhole_acks/lading/lading.yaml
  regression/cases/datadog_agent_remap_datadog_logs/lading/lading.yaml
  regression/cases/datadog_agent_remap_datadog_logs_acks/lading/lading.yaml
  regression/cases/file_to_blackhole/lading/lading.yaml
  regression/cases/fluent_elasticsearch/lading/lading.yaml
  regression/cases/http_elasticsearch/lading/lading.yaml
  regression/cases/http_text_to_http_json/lading/lading.yaml
  regression/cases/http_text_to_http_json/vector/vector.yaml
  regression/cases/http_to_http_acks/lading/lading.yaml
  regression/cases/http_to_http_json/lading/lading.yaml
  regression/cases/http_to_http_noack/lading/lading.yaml
  regression/cases/http_to_s3/lading/lading.yaml
  regression/cases/otlp_grpc_to_blackhole/lading/lading.yaml
  regression/cases/otlp_http_to_blackhole/lading/lading.yaml
  regression/cases/socket_to_socket_blackhole/lading/lading.yaml
  regression/cases/splunk_hec_indexer_ack_blackhole/lading/lading.yaml
  regression/cases/splunk_hec_route_s3/lading/lading.yaml
  regression/cases/splunk_hec_to_splunk_hec_logs_acks/lading/lading.yaml
  regression/cases/splunk_hec_to_splunk_hec_logs_noack/lading/lading.yaml
  regression/cases/syslog_humio_logs/lading/lading.yaml
  regression/cases/syslog_log2metric_humio_metrics/lading/lading.yaml
  regression/cases/syslog_log2metric_splunk_hec_metrics/lading/lading.yaml
  regression/cases/syslog_log2metric_tag_cardinality_limit_blackhole/lading/lading.yaml
  regression/cases/syslog_loki/lading/lading.yaml
  regression/cases/syslog_regex_logs2metric_ddmetrics/lading/lading.yaml
  regression/cases/syslog_splunk_hec_logs/lading/lading.yaml
Labels: no-changelog

#21403 fix(releasing): Fix install.sh handling of new directory structure on MacOS
  distribution/install.sh
Labels: domain: releasing, no-changelog

#21429 fix(transforms): optional metric namespace in `log_to_metric` transform
  changelog.d/21423-optional-namespace-log-to-metric.fix.md
  src/transforms/log_to_metric.rs
Labels: domain: transforms

#21431 enhancement(transforms): redundant clone in `log_to_metric` transform
  src/transforms/log_to_metric.rs
Labels: domain: transforms, no-changelog

#21439 fix(docs): Metric `namespace` should be optional
  website/cue/reference/data_model/schema.cue
Labels: domain: external docs, no-changelog

#21442 * doc fix, fixing a ref path which goes to 404
  website/content/en/docs/setup/installation/platforms/kubernetes.md
Labels: no-changelog

#21375 enhancement(http_server and heroku_logs sources): Added wildcard support for query parameters
  changelog.d/21321_http_server_query_parameters_wildcards.enhancement.md
  src/sources/heroku_logs.rs
  src/sources/http_server.rs
  src/sources/util/http/query.rs
  website/cue/reference/components/sources/base/heroku_logs.cue
  website/cue/reference/components/sources/base/http.cue
  website/cue/reference/components/sources/base/http_server.cue
Labels: domain: sources, domain: external docs

#21426 chore(deps): make prost* crates workspace dependencies
  Cargo.lock
  Cargo.toml
  lib/codecs/Cargo.toml
  lib/loki-logproto/Cargo.toml
  lib/opentelemetry-proto/Cargo.toml
  lib/prometheus-parser/Cargo.toml
  lib/vector-core/Cargo.toml
Labels: domain: core, no-changelog

#21452 docs: Remove "What is" from about pages
  website/config.toml
  website/content/en/docs/about/observability-pipelines.md
  website/content/en/docs/about/vector.md
Labels: no-changelog

#21449 enhancement(gcs sink): add retry for 408 http error
  changelog.d/21447-gcs-sink-retry-on-http-error-408.fix.md
  src/sinks/gcs_common/config.rs
Labels: domain: sinks

#21453 fix(docs): typo
  docs/DEVELOPING.md
Labels: no-changelog

#21455 fix(socket sink): gracefully shutdown on reload when stream is terminated
  changelog.d/21455-socket-sink-graceful-reload.fix.md
  src/lib.rs
  src/sinks/util/tcp.rs
Labels: domain: sinks

#21467 docs(vrl stdlib): Document regex replacement group escaping
  website/cue/reference/remap/functions/replace.cue
Labels: domain: external docs, no-changelog

#21463 chore(ci): simplify chanelog validation to always check for authors
  .github/workflows/changelog.yaml
  scripts/check_changelog_fragments.sh
Labels: domain: ci, no-changelog

#21362 fix(axiom sink): Rebase sink on `http` sink and remove `elasticsearch` compatibility
  Cargo.toml
  changelog.d/21292_axiom_sink_rebase_on_http_sink.feature.md
  lib/codecs/src/encoding/mod.rs
  src/sinks/axiom.rs
  website/cue/reference/components/sinks/axiom.cue
  website/cue/reference/components/sinks/base/axiom.cue
Labels: domain: sinks, domain: external docs

#21465 chore(ci): enable http retries for choco installations
  .github/actions/spelling/allow.txt
  .github/actions/spelling/excludes.txt
  scripts/environment/bootstrap-windows-2019.ps1
Labels: domain: ci, no-changelog

#21477 docs(kubernetes_logs source): Clarify that the source only tails logs from the host
  website/cue/reference/components/sources/kubernetes_logs.cue
Labels: domain: external docs, no-changelog

#21461 fix(loki): serialize the structured metadata to JSON
  changelog.d/21443-serialize-loki-structured-metadata-to-json.fix.md
  src/sinks/loki/event.rs
  src/sinks/loki/tests.rs
Labels: domain: sinks

#20949 chore(deps): Bump Rust version to 1.80
  .github/actions/spelling/expect.txt
  Cargo.toml
  Tiltfile
  lib/vector-api-client/src/lib.rs
  lib/vector-buffers/Cargo.toml
  lib/vector-buffers/benches/sized_records.rs
  lib/vector-core/Cargo.toml
  lib/vector-core/src/event/discriminant.rs
  lib/vector-core/src/transform/mod.rs
  lib/vector-tap/src/controller.rs
  rust-toolchain.toml
  src/config/cmd.rs
  src/config/mod.rs
  src/config/transform.rs
  src/config/watcher.rs
  src/convert_config.rs
  src/http.rs
  src/internal_events/http.rs
  src/internal_events/mod.rs
  src/internal_events/prelude.rs
  src/internal_events/tcp.rs
  src/internal_events/unix.rs
  src/kafka.rs
  src/sinks/aws_kinesis/firehose/integration_tests.rs
  src/sinks/elasticsearch/encoder.rs
  src/sinks/elasticsearch/integration_tests.rs
  src/sinks/greptimedb/metrics/mod.rs
  src/sinks/kafka/config.rs
  src/sinks/kafka/tests.rs
  src/sinks/mod.rs
  src/sinks/prometheus/collector.rs
  src/sources/docker_logs/tests.rs
  src/sources/file_descriptors/file_descriptor.rs
  src/sources/file_descriptors/mod.rs
  src/sources/fluent/mod.rs
  src/sources/kafka.rs
  src/sources/mod.rs
  src/sources/util/framestream.rs
  src/sources/util/unix_datagram.rs
  src/sources/util/unix_stream.rs
  src/transforms/lua/v1/mod.rs
  vdev/src/platform.rs
  vdev/src/testing/runner.rs
Labels: type: tech debt, domain: sources, domain: transforms, domain: sinks, domain: core, dependencies, domain: vdev, no-changelog

#21486 chore(ci): update windows runner to 2022
  .github/actions/spelling/excludes.txt
  .github/workflows/publish.yml
  .github/workflows/unit_windows.yml
  scripts/environment/bootstrap-windows-2019.ps1
  scripts/environment/bootstrap-windows-2022.ps1
Labels: domain: ci, no-changelog

#21508 chore(tests): Fix event `size_of` test
  lib/vector-core/src/event/test/size_of.rs
Labels: domain: tests, type: tech debt, domain: core, no-changelog

#21510 chore(deps): Update lading to 0.23.3
  regression/cases/file_to_blackhole/lading/lading.yaml
  regression/cases/fluent_elasticsearch/lading/lading.yaml
  regression/cases/otlp_grpc_to_blackhole/lading/lading.yaml
  regression/cases/socket_to_socket_blackhole/lading/lading.yaml
  regression/cases/syslog_humio_logs/lading/lading.yaml
  regression/cases/syslog_log2metric_humio_metrics/lading/lading.yaml
  regression/cases/syslog_log2metric_splunk_hec_metrics/lading/lading.yaml
  regression/cases/syslog_log2metric_tag_cardinality_limit_blackhole/lading/lading.yaml
  regression/cases/syslog_loki/lading/lading.yaml
  regression/cases/syslog_regex_logs2metric_ddmetrics/lading/lading.yaml
  regression/cases/syslog_splunk_hec_logs/lading/lading.yaml
  regression/config.yaml
Labels: no-changelog

#21511 chore(deps): Drop usage of `once_cell::LazyLock`
  Cargo.lock
  Cargo.toml
  STYLE.md
  clippy.toml
  lib/codecs/Cargo.toml
  lib/codecs/src/gelf.rs
  lib/vector-buffers/Cargo.toml
  lib/vector-buffers/src/test/helpers.rs
  lib/vector-config-common/Cargo.toml
  lib/vector-config-common/src/human_friendly.rs
  lib/vector-core/Cargo.toml
  lib/vector-core/src/config/log_schema.rs
  lib/vector-core/src/config/telemetry.rs
  lib/vector-core/src/event/log_event.rs
  lib/vector-core/src/event/util/log/all_fields.rs
  src/api/schema/components/mod.rs
  src/api/schema/components/state.rs
  src/app.rs
  src/common/datadog.rs
  src/config/loading/secret.rs
  src/config/vars.rs
  src/gcp.rs
  src/sinks/azure_monitor_logs/service.rs
  src/sinks/datadog/metrics/encoder.rs
  src/sinks/loki/sink.rs
  src/sinks/util/request_builder.rs
  src/sources/apache_metrics/parser.rs
  src/sources/aws_s3/sqs.rs
  src/sources/dnstap/parser.rs
  src/sources/dnstap/schema.rs
  src/sources/docker_logs/mod.rs
  src/sources/eventstoredb_metrics/types.rs
  src/sources/gcp_pubsub.rs
  src/sources/journald.rs
  src/sources/prometheus/parser.rs
  src/sources/statsd/parser.rs
  src/template.rs
  src/test_util/components.rs
  src/topology/builder.rs
  src/transforms/aws_ec2_metadata.rs
  vdev/Cargo.toml
  vdev/src/app.rs
  vdev/src/features.rs
  vdev/src/testing/runner.rs
  vdev/src/testing/state.rs
  vdev/src/util.rs
Labels: domain: topology, type: tech debt, domain: sources, domain: transforms, domain: sinks, domain: core, domain: vdev, no-changelog

#21458 docs(gcs sink): add 401 and 408 under retry policy
  website/cue/reference/components/sinks.cue
  website/cue/reference/components/sinks/gcp_cloud_storage.cue
Labels: domain: external docs, no-changelog

#21513 chore(deps): Bump smp to 0.18.0
  .github/workflows/regression.yml
Labels: no-changelog

#21522 chore(deps): Downgrade smp to 0.16.1
  .github/workflows/regression.yml
Labels: no-changelog

#21524 chore(docs): Fix link in DEPRECATIONS.md
  docs/DEPRECATIONS.md
Labels: no-changelog

#21526 chore(releasing): Update minor-release template with a few tweaks
  .github/ISSUE_TEMPLATE/minor-release.md
Labels: no-changelog

#21527 chore(ci): delete unused output in the regression workflow
  .github/workflows/regression.yml
Labels: no-changelog

#21529 chore(ci): Add SMP as CODEOWNERS for .github/workflows/regression.yml
  .github/CODEOWNERS
Labels: no-changelog

#21521 chore(ci): Run regression tests if workflow changed
  .github/workflows/regression.yml
Labels: no-changelog

#21507 chore(ci): skip regression checks for PRs with the `ci-condition: skip-regression` label
  .github/dependabot.yml
  .github/workflows/regression.yml
Labels: no-changelog, ci-condition: skip-regression

#21497 feat(transform): add support for loading and joining an array of vrl files in remap
  changelog.d/21485_load_multiple_vrl_files_in_remap.feature.md
  src/transforms/remap.rs
  website/cue/reference/components/transforms/base/remap.cue
Labels: domain: transforms, domain: external docs

#21491 chore(deps): Expose `vrl` through `vector-lib`
  Cargo.lock
  Cargo.toml
  lib/vector-lib/Cargo.toml
  lib/vector-lib/src/lib.rs
Labels: type: tech debt, dependencies, no-changelog

#21509 chore(deps): Bump Rust version to 1.81.0
  Tiltfile
  lib/prometheus-parser/src/line.rs
  lib/vector-core/src/event/log_event.rs
  lib/vector-core/src/schema/definition.rs
  rust-toolchain.toml
  src/api/schema/metrics/sink/generic.rs
  src/api/schema/metrics/source/file.rs
  src/api/schema/metrics/source/generic.rs
  src/api/schema/metrics/transform/generic.rs
  src/api/server.rs
  src/app.rs
  src/aws/mod.rs
  src/components/validation/mod.rs
  src/generate.rs
  src/http.rs
  src/sinks/amqp/service.rs
  src/sinks/aws_kinesis/firehose/integration_tests.rs
  src/sinks/aws_kinesis/streams/integration_tests.rs
  src/sinks/aws_s_s/sink.rs
  src/sinks/azure_common/service.rs
  src/sinks/datadog/logs/sink.rs
  src/sinks/datadog/traces/request_builder.rs
  src/sinks/elasticsearch/encoder.rs
  src/sinks/elasticsearch/integration_tests.rs
  src/sinks/file/bytes_path.rs
  src/sinks/greptimedb/logs/integration_tests.rs
  src/sinks/greptimedb/metrics/integration_tests.rs
  src/sinks/influxdb/mod.rs
  src/sinks/new_relic/model.rs
  src/sinks/prometheus/collector.rs
  src/sinks/util/encoding.rs
  src/sinks/util/http.rs
  src/sinks/util/snappy.rs
  src/source_sender/mod.rs
  src/sources/aws_s3/sqs.rs
  src/sources/datadog_agent/tests.rs
  src/sources/fluent/mod.rs
  src/sources/gcp_pubsub.rs
  src/sources/http_server.rs
  src/sources/kubernetes_logs/k8s_paths_provider.rs
  src/sources/splunk_hec/mod.rs
  src/sources/statsd/mod.rs
  src/sources/util/unix_datagram.rs
  src/top/state.rs
  src/topology/test/end_to_end.rs
  src/transforms/lua/v1/mod.rs
  src/transforms/lua/v2/mod.rs
  src/transforms/reduce/merge_strategy.rs
  vdev/src/commands/check/licenses.rs
  website/cue/reference/components/sources/base/statsd.cue
Labels: domain: topology, type: tech debt, domain: sources, domain: transforms, domain: sinks, domain: external docs, domain: core, dependencies, domain: vdev, no-changelog

#21539 chore(ci): add source changed gate in test.yml
  .github/workflows/test.yml
Labels: no-changelog

#21541 chore(ci): revert recent changes to the regression workflow
  .github/dependabot.yml
  .github/workflows/regression.yml
Labels: no-changelog

#21528 chore(deps): Handle recent GitHub Actions deprecations
  .github/workflows/publish.yml
Labels: no-changelog

#21274 enhancement(sample transform): add stratified sampling capability
  changelog.d/20921_add_stratified_sampling_to_sample_transform.enhancement.md
  src/transforms/sample/config.rs
  src/transforms/sample/transform.rs
  website/cue/reference/components/transforms/base/sample.cue
Labels: domain: transforms, domain: external docs

#21551 chore(CODEOWNERS): remove OP team
  .github/CODEOWNERS
Labels: no-changelog

#21550 chore(deps): Bump `metrics` to 0.24.0
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
Labels: type: tech debt, dependencies, no-changelog

#21245 enhancement(components): Add customizable connection retry options for Pulsar client in Pulsar sink
  changelog.d/21245_pulsar_sink_connection_retry_options.enhancement.md
  src/sinks/pulsar/config.rs
  website/cue/reference/components/sinks/base/pulsar.cue
Labels: domain: sinks, domain: external docs

#21568 chore(ci): print line numbers with trailing spaces
  scripts/check-style.sh
Labels: domain: ci, no-changelog

#21558 fix(sources): fix unexpected timestamp field
  changelog.d/20404-log-redundant-timestamp.fix.md
  src/sources/exec/mod.rs
  src/sources/http_server.rs
Labels: domain: sources

#21571 chore(ci): update actions/checkout to v4
  .github/workflows/changelog.yaml
  .github/workflows/changes.yml
  .github/workflows/ci-integration-review.yml
  .github/workflows/cli.yml
  .github/workflows/compilation-timings.yml
  .github/workflows/component_features.yml
  .github/workflows/cross.yml
  .github/workflows/deny.yml
  .github/workflows/e2e.yml
  .github/workflows/environment.yml
  .github/workflows/gardener_remove_waiting_author.yml
  .github/workflows/install-sh.yml
  .github/workflows/integration-test.yml
  .github/workflows/k8s_e2e.yml
  .github/workflows/misc.yml
  .github/workflows/msrv.yml
  .github/workflows/protobuf.yml
  .github/workflows/publish.yml
  .github/workflows/regression.yml
  .github/workflows/unit_mac.yml
  .github/workflows/unit_windows.yml
Labels: no-changelog

#21282 feat(config): support loading secrets from files and directories
  .github/actions/spelling/expect.txt
  changelog.d/add-file-secrets.enhancement.md
  src/secrets/directory.rs
  src/secrets/file.rs
  src/secrets/mod.rs
  tests/behavior/config/secret.toml
  tests/data/secret-backends/directory-secrets/jkl
  tests/data/secret-backends/file-secrets.json
  website/cue/reference/configuration.cue
Labels: domain: external docs

#21572 chore: upgrade `typesense-sync` package
  website/package.json
  website/yarn.lock
Labels: no-changelog

#21557 fix(sinks/gcp/pubsub.rs): remove pubsub log only restriction
  changelog.d/21557_remove_pubsub_log_only_restriction.fix.md
  src/sinks/gcp/pubsub.rs
Labels: domain: sinks

#21574 chore(deps): Properly hand off the `proptest` feature to `vrl`
  Cargo.toml
  lib/vector-lib/Cargo.toml
Labels: type: tech debt, dependencies, no-changelog

#14723 chore(ci): rework Semantic check workflow
  .github/semantic.yml
  .github/workflows/semantic.yml
Labels: no-changelog

#21579 fix(ci): Prevent workflow from triggering unless previous workflow succeeds
  .github/workflows/build_preview_sites.yml
  .github/workflows/preview_site_trigger.yml
Labels: no-changelog

#21582 chore(ci): set regression workflow timeouts to 70 mins
  .github/workflows/regression.yml
Labels: no-changelog

#21567 feat(ci): regression detection overhaul
  .github/workflows/regression_v2.yml
Labels: no-changelog

#21594 chore(ci): regression detection v2 followups
  .github/workflows/regression_v2.yml
  regression/Dockerfile
Labels: no-changelog

#21595 chore(ci): Group together patch updates with dependabot
  .github/dependabot.yml
Labels: no-changelog

#21600 chore(ci): replace regression workflow
  .github/workflows/ci-review-trigger.yml
  .github/workflows/regression.yml
  .github/workflows/regression_v2.yml
Labels: no-changelog

#21612 chore(external docs): update support and community docs
  .github/SUPPORT.md
  website/content/en/community/_index.md
Labels: no-changelog

#21573 docs(core): fix MetricsKind typo
  lib/vector-core/src/event/metric/mod.rs
  website/cue/reference/components/transforms/base/log_to_metric.cue
Labels: domain: external docs, domain: core, no-changelog

#21272 feat(chronicle-sink): add support for compression to Google Chronicle sink
  changelog.d/chronicle_compression_support.enhancement.md
  src/sinks/gcp_chronicle/chronicle_unstructured.rs
  src/sinks/gcp_chronicle/compression.rs
  src/sinks/gcp_chronicle/mod.rs
  src/sinks/util/buffer/compression.rs
  website/cue/reference/components/sinks/base/gcp_chronicle_unstructured.cue
Labels: domain: sinks, domain: external docs

#21619 chore(external docs): improve vrl.dev tutorial
  website/content/en/docs/reference/vrl/_index.md
Labels: no-changelog

#21498 chore: format markdown tables
  README.md
Labels: no-changelog

#21620 chore(javascript website): bump ts package
  website/Makefile
  website/package.json
  website/yarn.lock
Labels: no-changelog

#21621 chore(ci): additional scopes
  .github/workflows/semantic.yml
Labels: no-changelog

#21505 enhancement(kubernetes_logs source): support scraping metadata from Kubernetes log files on Windows
  changelog.d/18521-kubernetes-windows-metadata.enhancement.md
  src/sources/kubernetes_logs/path_helpers.rs
  src/sources/kubernetes_logs/pod_metadata_annotator.rs
Labels: domain: sources

#21611 docs(azure_blob sink): Clarify SAS connection_string support
  src/sinks/azure_blob/config.rs
  website/cue/reference/components/sinks/base/azure_blob.cue
Labels: domain: sinks, domain: external docs, no-changelog

#21634 fix(external docs): add CI flag and use cue.sh
  docs/DOCUMENTING.md
Labels: no-changelog

#21623 chore(deps): Drop use of `infer` crate
  Cargo.lock
  Cargo.toml
  src/sources/aws_kinesis_firehose/handlers.rs
Labels: type: tech debt, domain: sources, dependencies, no-changelog

#21636 docs(static_metrics source): Fix example configuration
  .github/workflows/semantic.yml
  website/cue/reference/components/sources/static_metrics.cue
Labels: domain: external docs, no-changelog

#21624 fix(transforms): Fix matching boolean values for Datadog search s…
  changelog.d/fix_matching_boolean_fields_in_datadog_search.fix.md
  src/conditions/datadog_search.rs
Labels: type: bug, provider: datadog

#21559 chore: remove unnecessary string hashes
  src/aws/auth.rs
  src/aws/region.rs
  src/aws/timeout.rs
  src/config/loading/secret.rs
  src/config/unit_test/tests.rs
  src/generate.rs
  src/sinks/influxdb/mod.rs
  src/sinks/prometheus/collector.rs
  src/sinks/prometheus/remote_write/tests.rs
  src/sinks/util/buffer/compression.rs
  src/sinks/util/encoding.rs
  src/sinks/util/service.rs
  src/sinks/util/service/concurrency.rs
  src/sources/apache_metrics/mod.rs
  src/sources/apache_metrics/parser.rs
  src/sources/exec/tests.rs
  src/sources/http_client/tests.rs
  src/sources/kubernetes_logs/parser/cri.rs
  src/sources/prometheus/parser.rs
  src/sources/syslog.rs
  src/transforms/aggregate.rs
  src/transforms/log_to_metric.rs
  src/transforms/lua/v1/mod.rs
  src/transforms/remap.rs
  src/transforms/throttle.rs
Labels: domain: sources, domain: transforms, domain: sinks, no-changelog

#21650 fix(tests): fixed numerous API tests issues
  lib/vector-tap/src/controller.rs
  src/api/mod.rs
  src/api/tests.rs
Labels: no-changelog

#21651 chore(administration): improve GitHub PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: no-changelog

#21635 chore(external docs): improve `route` transform docs
  src/conditions/vrl.rs
  src/transforms/route.rs
  website/cue/reference/components/transforms/base/route.cue
  website/cue/reference/components/transforms/route.cue
Labels: domain: transforms, domain: external docs, no-changelog

#21660 chore(administration): tweak PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: no-changelog

#21659 docs(vrl): Update docs for new AES-SIV encryption/decryption types available in latest VRL.
  .github/actions/spelling/expect.txt
  website/cue/reference/remap/functions/decrypt.cue
  website/cue/reference/remap/functions/encrypt.cue
Labels: domain: external docs, no-changelog

#21663 docs(external): tiny improvement to changelog README
  changelog.d/README.md
Labels: no-changelog

#21658 fix(ci): deb-verify cannot use actions/checkout@v4
  .github/workflows/publish.yml
  changelog.d/21639_ubuntu-16.breaking.md
Labels: no-changelog

#21283 feat(sample transform): add sample_rate_key config option
  changelog.d/configurable-sample-rate-key.enhancement.md
  src/transforms/sample/config.rs
  src/transforms/sample/transform.rs
  website/cue/reference/components/transforms/base/sample.cue
Labels: domain: transforms, domain: external docs

#21668 fix(ci): Revert to actions/[upload,download]-artifact@v3
  .github/workflows/publish.yml
Labels: no-changelog

#21670 chore(deps): Update VRL to c69a52e67 and mlua to 0.10.0
  .github/actions/spelling/expect.txt
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  lib/vector-core/Cargo.toml
  lib/vector-core/src/event/lua/event.rs
  lib/vector-core/src/event/lua/log.rs
  lib/vector-core/src/event/lua/metric.rs
  lib/vector-core/src/event/lua/util.rs
  src/internal_events/lua.rs
  src/transforms/lua/v1/mod.rs
  src/transforms/lua/v2/mod.rs
Labels: domain: transforms, domain: core, no-changelog
