Repository vectordotdev/vector, pull requests merged in 2024-03, with the labels that each got.

#19941 chore(observability): extend component validation framework for more flexible test case building
  src/components/validation/mod.rs
  src/components/validation/resources/event.rs
  src/components/validation/resources/http.rs
  src/components/validation/runner/mod.rs
  src/components/validation/validators/component_spec/mod.rs
  src/components/validation/validators/mod.rs
  tests/validation/components/sinks/http.yaml
  tests/validation/components/sources/http_client.yaml
  tests/validation/components/sources/http_server.yaml
Labels: domain: tests, domain: observability, no-changelog

#19992 chore(dedupe transform): expose deduping logic
  Cargo.toml
  src/internal_events/mod.rs
  src/transforms/dedupe/config.rs
  src/transforms/dedupe/mod.rs
  src/transforms/dedupe/transform.rs
  src/transforms/mod.rs
Labels: transform: dedupe, no-changelog

#19975 fix(splunk_hec_logs sink): don't remove timestamp for `raw` endpoint
  Cargo.toml
  changelog.d/splunk_hec_logs_raw_timestamp.fix.md
  src/components/validation/resources/http.rs
  src/components/validation/runner/mod.rs
  src/sinks/prelude.rs
  src/sinks/splunk_hec/logs/config.rs
  src/sinks/splunk_hec/logs/sink.rs
  tests/validation/components/sinks/splunk_hec_logs.yaml
Labels: type: bug, sink: splunk_hec, domain: tests, domain: observability, domain: sinks

#20001 chore(deps): Update lockfree-object-pool to 0.1.5
  Cargo.lock
Labels: no-changelog

#20010 chore(core): Remove optionality from topology controller reload
  src/app.rs
  src/topology/controller.rs
Labels: domain: topology, type: tech debt, no-changelog

#19942 fix(splunk_hec source): calculate `EstimatedJsonSizeOf` for `component_received_event_bytes_total` before enrichment
  Cargo.toml
  changelog.d/splunk_hec_received_event_bytes.fix.md
  src/sources/splunk_hec/mod.rs
  tests/validation/components/sources/splunk_hec.yaml
Labels: type: bug, domain: tests, domain: observability, domain: sources

#20020 chore(ci): Use gzip compression for datadog_logs regression tests
  regression/cases/datadog_agent_remap_datadog_logs/vector/vector.yaml
  regression/cases/datadog_agent_remap_datadog_logs_acks/vector/vector.yaml
Labels: no-changelog

#19887 chore(observability): add component spec validation tests for `datadog_logs` sink
  Cargo.toml
  src/components/validation/runner/mod.rs
  src/sinks/datadog/logs/config.rs
  src/sources/http_client/client.rs
  src/sources/http_server.rs
  tests/validation/components/sinks/datadog_logs.yaml
Labels: domain: tests, domain: observability, domain: sources, domain: sinks, sink: datadog_logs, no-changelog

#20021 chore(tests): caller resolves the component validation framework test case path
  src/components/validation/mod.rs
Labels: no-changelog

#20023 chore(core): Add missing `TraceEvent::remove` function
  lib/vector-core/src/event/trace.rs
Labels: type: tech debt, domain: core, no-changelog

#20024 chore(testing): only compile ValidatableComponent in test runs
  src/sinks/datadog/logs/config.rs
  src/sinks/http/config.rs
  src/sinks/prelude.rs
  src/sinks/splunk_hec/logs/config.rs
  src/sources/http_client/client.rs
  src/sources/http_client/tests.rs
  src/sources/http_server.rs
  src/sources/splunk_hec/mod.rs
Labels: domain: tests, type: tech debt, no-changelog

#19892 feat(sources)!: add TCP mode to DNSTAP source
  .github/actions/spelling/allow.txt
  Cargo.lock
  Cargo.toml
  changelog.d/19892_dnstap_over_tcp.breaking.md
  lib/vector-core/Cargo.toml
  lib/vector-core/src/ipallowlist.rs
  lib/vector-core/src/lib.rs
  lib/vector-core/src/tls/incoming.rs
  lib/vector-lib/src/lib.rs
  src/internal_events/tcp.rs
  src/sources/dnstap/mod.rs
  src/sources/dnstap/tcp.rs
  src/sources/dnstap/unix.rs
  src/sources/fluent/mod.rs
  src/sources/logstash.rs
  src/sources/mod.rs
  src/sources/socket/mod.rs
  src/sources/socket/tcp.rs
  src/sources/statsd/mod.rs
  src/sources/syslog.rs
  src/sources/util/framestream.rs
  src/sources/util/net/mod.rs
  src/sources/util/net/tcp/mod.rs
  website/cue/reference/components/sources/base/dnstap.cue
  website/cue/reference/components/sources/base/socket.cue
  website/cue/reference/components/sources/dnstap.cue
Labels: domain: sources, domain: external docs, domain: core

#20033 docs(statsd source): Update statsd doc to mention timing conversion
  website/cue/reference/components/sources/statsd.cue
Labels: source: statsd, domain: external docs, no-changelog

#20003 enhancement(datadog_agent source): add `parse_ddtags` config setting to parse the `ddtags` log event field into an object
  changelog.d/datadog_agent_ddtags_parsing.enhancement.md
  src/sources/datadog_agent/logs.rs
  src/sources/datadog_agent/mod.rs
  src/sources/datadog_agent/tests.rs
  website/cue/reference/components/sources/base/datadog_agent.cue
Labels: domain: sources, domain: external docs, source: datadog_agent

#20018 chore(deps): Bump whoami to 1.5.0
  Cargo.lock
  LICENSE-3rdparty.csv
Labels: no-changelog

#20035 feat(sources): add `lowercase_hostnames` option to `dnstap` source
  changelog.d/20035_dnstap_lowercase_hostnames.feature.md
  lib/dnsmsg-parser/src/dns_message_parser.rs
  src/sources/dnstap/mod.rs
  src/sources/dnstap/parser.rs
  website/cue/reference/components/sources/base/dnstap.cue
Labels: domain: sources, domain: external docs

#20032 fix(compression): Fix gzip and zlib performance degradation
  changelog.d/20032_gzip_zlib_performance.fix.md
  src/sinks/util/compressor.rs
Labels: domain: sinks

#20037 chore(deps): Update VRL to v0.12.0
  Cargo.lock
  Cargo.toml
Labels: no-changelog

#19933 feat(website): integrate Cargo package dependency info
  website/.gitignore
  website/Makefile
  website/README.md
  website/config.toml
  website/content/en/docs/reference/configuration/tls.md
  website/layouts/partials/cargo-package.html
  website/layouts/shortcodes/openssl-version.html
Labels: no-changelog

#20040 chore(dev): Remove mention of handwriting changelog for patch release
  .github/ISSUE_TEMPLATE/patch-release.md
Labels: no-changelog

#20052 test(dnsmsg_parser): fix tests for currently unknown rdata types
  lib/dnsmsg-parser/src/dns_message_parser.rs
Labels: no-changelog

#19923 docs(vrl): add docs for new validate flag in punycode functions
  website/cue/reference/remap/functions/decode_punycode.cue
  website/cue/reference/remap/functions/encode_punycode.cue
Labels: domain: external docs, no-changelog

#20006 feat(greptimedb sink): improve tls support for greptimedb sink
  Cargo.lock
  Cargo.toml
  changelog.d/20006_improve_greptimedb_tls.enhancement.md
  src/sinks/greptimedb/mod.rs
  src/sinks/greptimedb/service.rs
Labels: domain: sinks

#20060 chore(releasing): Regenerate k8s manifests for Helm chart v0.31.1
  distribution/kubernetes/vector-agent/README.md
  distribution/kubernetes/vector-agent/configmap.yaml
  distribution/kubernetes/vector-agent/daemonset.yaml
  distribution/kubernetes/vector-agent/rbac.yaml
  distribution/kubernetes/vector-agent/service-headless.yaml
  distribution/kubernetes/vector-agent/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/README.md
  distribution/kubernetes/vector-aggregator/configmap.yaml
  distribution/kubernetes/vector-aggregator/service-headless.yaml
  distribution/kubernetes/vector-aggregator/service.yaml
  distribution/kubernetes/vector-aggregator/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/statefulset.yaml
  distribution/kubernetes/vector-stateless-aggregator/README.md
  distribution/kubernetes/vector-stateless-aggregator/configmap.yaml
  distribution/kubernetes/vector-stateless-aggregator/deployment.yaml
  distribution/kubernetes/vector-stateless-aggregator/service-headless.yaml
  distribution/kubernetes/vector-stateless-aggregator/service.yaml
  distribution/kubernetes/vector-stateless-aggregator/serviceaccount.yaml
Labels: domain: releasing, no-changelog

#19192 feat(platforms): Add ARMv6 builds
  .github/actions/spelling/allow.txt
  .github/workflows/cross.yml
  .github/workflows/publish.yml
  .gitignore
  Cargo.toml
  Cross.toml
  Makefile
  changelog.d/18445_armv6_binaries.enhancement.md
  distribution/docker/alpine/Dockerfile
  scripts/build-docker.sh
  scripts/cross/arm-unknown-linux-gnueabi.dockerfile
  scripts/cross/arm-unknown-linux-musleabi.dockerfile
Labels: type: enhancement, domain: ci, domain: releasing, platform: arm

#20059 chore(docs): Update banner to use past tense for repository decommissioning
  website/layouts/partials/banner.html
Labels: no-changelog

#20063 fix(docs): Use `component_kind` rather than `kind` in templates
  website/layouts/_default/component-card-selectable.html
  website/layouts/_default/component-card.html
  website/layouts/partials/meta.html
Labels: no-changelog

#20073 chore(ci): Default env vars for enterprise_http_to_http regression case
  regression/cases/enterprise_http_to_http/vector/vector.yaml
Labels: no-changelog

#20062 chore(cli)!: Update default for --strict-env-vars to true
  changelog.d/deprecate_strict_env_vars.breaking.md
  docs/DEPRECATIONS.md
  src/cli.rs
  website/cue/reference/cli.cue
Labels: domain: external docs

#20075 chore(dev): Update changelog generation script to handle authors and whitespace
  changelog.d/README.md
  scripts/check_changelog_fragments.sh
  scripts/generate-release-cue.rb
Labels: domain: ci, no-changelog

#20051 feat(sources): add `permit_origin` config option for all tcp sources
  .github/actions/spelling/allow.txt
  changelog.d/20051_permit_origin_tcp.feature.md
  lib/vector-core/src/ipallowlist.rs
  src/sources/dnstap/tcp.rs
  src/sources/fluent/mod.rs
  src/sources/logstash.rs
  src/sources/socket/mod.rs
  src/sources/socket/tcp.rs
  src/sources/statsd/mod.rs
  src/sources/syslog.rs
  website/cue/reference/components/sources/base/dnstap.cue
  website/cue/reference/components/sources/base/fluent.cue
  website/cue/reference/components/sources/base/logstash.cue
  website/cue/reference/components/sources/base/socket.cue
  website/cue/reference/components/sources/base/statsd.cue
  website/cue/reference/components/sources/base/syslog.cue
Labels: domain: sources, domain: external docs, domain: core

#20076 fix(file source): Set ignored_header_bytes default to `0`
  changelog.d/file_ignored_header_bytes_default.fix.md
  src/sources/file.rs
Labels: domain: sources

#20087 chore(dev): Update CODEOWNERS to reflect consolidation
  .github/CODEOWNERS
Labels: no-changelog

#20054 feat(enrichment_tables): add support for custom MMDB types
  Cargo.toml
  benches/enrichment_tables.rs
  changelog.d/20054_custom_mmdb_types.feature.md
  src/enrichment_tables/geoip.rs
  src/enrichment_tables/mmdb.rs
  src/enrichment_tables/mod.rs
  tests/data/custom-type.mmdb
  website/cue/reference/configuration.cue
  website/cue/reference/remap/functions.cue
Labels: domain: external docs

#20095 fix(docs): Use correct how_it_works section for Vector sink
  website/cue/reference/components/sinks/vector.cue
Labels: domain: external docs, no-changelog

#20091 chore: remove repetitive words
  lib/k8s-e2e-tests/src/lib.rs
  lib/k8s-e2e-tests/tests/vector-agent.rs
  lib/vector-buffers/examples/buffer_perf.rs
  lib/vector-buffers/src/lib.rs
  rfcs/2020-03-06-1999-api-extensions-for-lua-transform.md
  src/transforms/lua/v2/mod.rs
  website/cue/reference/components/transforms/base/lua.cue
  website/cue/reference/releases/0.31.0.cue
Labels: domain: transforms, domain: external docs, domain: rfc, no-changelog

#20086 fix(datadog_logs sink): relax required input semantic meanings
  changelog.d/dd_logs_semantic_meaning.fix.md
  src/sinks/datadog/logs/config.rs
  src/sinks/datadog/logs/sink.rs
Labels: domain: sinks, sink: datadog_logs

#20125 enhancement(remap): do not filter out file contents from error logs
  changelog.d/remove_remap_file_filter.enhancement.md
  src/transforms/remap.rs
Labels: domain: transforms

#20043 chore(testing): further adjustments to component validation framework
  src/components/validation/resources/event.rs
  src/components/validation/resources/http.rs
  src/components/validation/runner/mod.rs
Labels: domain: tests, domain: observability, no-changelog

#20044 fix(datadog_agent source): bugs in internal component metric reporting
  Cargo.toml
  changelog.d/datadog_agent_source_internal_metrics.fix.md
  src/internal_events/datadog_agent.rs
  src/internal_events/mod.rs
  src/sources/datadog_agent/logs.rs
  src/sources/datadog_agent/tests.rs
  tests/validation/components/sources/datadog_agent.yaml
Labels: type: bug, domain: tests, domain: observability, domain: sources, source: datadog_agent

#20126 chore(deps): Bump VRL to v0.13.0
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
Labels: no-changelog

#20134 chore(api): Move host_metrics feature gate
  src/api/schema/metrics/mod.rs
  src/api/schema/mod.rs
Labels: no-changelog

#20000 docs(vrl): add documentation for `sieve` function
  website/cue/reference/remap/functions/sieve.cue
Labels: domain: external docs, no-changelog

#20149 chore(deps): Bump Rust to 1.77.0
  lib/vector-buffers/src/topology/channel/receiver.rs
  lib/vector-buffers/src/topology/test_util.rs
  lib/vector-stream/src/driver.rs
  rust-toolchain.toml
  src/sinks/aws_s3/integration_tests.rs
  src/sinks/azure_blob/integration_tests.rs
  src/sinks/datadog/metrics/request_builder.rs
  src/sinks/file/mod.rs
  src/sinks/util/service/health.rs
  src/sources/file_descriptors/mod.rs
  src/sources/http_client/client.rs
  src/sources/journald.rs
  src/sources/kafka.rs
  vdev/src/testing/integration.rs
Labels: type: tech debt, domain: sources, domain: sinks, dependencies, domain: vdev, no-changelog

#20048 feat(vrl): add `uuid_v7` function
  lib/vector-vrl/tests/src/docs.rs
  tests/behavior/transforms/remap.toml
  website/cue/reference/remap/functions/uuid_v7.cue
  website/cue/reference/urls.cue
Labels: domain: external docs, no-changelog

#20139 docs(vrl): Add documentation for parse_proto and encode_proto
  .github/actions/spelling/patterns.txt
  lib/vector-vrl/tests/resources/protobuf_descriptor_set.desc
  scripts/check-style.sh
  website/cue/reference/remap/functions/encode_proto.cue
  website/cue/reference/remap/functions/parse_proto.cue
Labels: domain: ci, domain: external docs, editorial review, no-changelog

#20154 feat(codecs): add options to `length_delimited` framing
  changelog.d/20154_length_delimited_framing_options.feature.md
  lib/codecs/src/common/length_delimited.rs
  lib/codecs/src/common/mod.rs
  lib/codecs/src/decoding/framing/length_delimited.rs
  lib/codecs/src/decoding/mod.rs
  lib/codecs/src/encoding/framing/length_delimited.rs
  lib/codecs/src/encoding/mod.rs
  src/codecs/encoding/config.rs
  src/components/validation/resources/event.rs
  src/components/validation/resources/mod.rs
  website/cue/reference/components/sinks/base/aws_s3.cue
  website/cue/reference/components/sinks/base/azure_blob.cue
  website/cue/reference/components/sinks/base/console.cue
  website/cue/reference/components/sinks/base/file.cue
  website/cue/reference/components/sinks/base/gcp_cloud_storage.cue
  website/cue/reference/components/sinks/base/http.cue
  website/cue/reference/components/sinks/base/socket.cue
  website/cue/reference/components/sinks/base/webhdfs.cue
  website/cue/reference/components/sources/base/amqp.cue
  website/cue/reference/components/sources/base/aws_kinesis_firehose.cue
  website/cue/reference/components/sources/base/aws_s3.cue
  website/cue/reference/components/sources/base/aws_sqs.cue
  website/cue/reference/components/sources/base/datadog_agent.cue
  website/cue/reference/components/sources/base/demo_logs.cue
  website/cue/reference/components/sources/base/exec.cue
  website/cue/reference/components/sources/base/file_descriptor.cue
  website/cue/reference/components/sources/base/gcp_pubsub.cue
  website/cue/reference/components/sources/base/heroku_logs.cue
  website/cue/reference/components/sources/base/http.cue
  website/cue/reference/components/sources/base/http_client.cue
  website/cue/reference/components/sources/base/http_server.cue
  website/cue/reference/components/sources/base/kafka.cue
  website/cue/reference/components/sources/base/nats.cue
  website/cue/reference/components/sources/base/pulsar.cue
  website/cue/reference/components/sources/base/redis.cue
  website/cue/reference/components/sources/base/socket.cue
  website/cue/reference/components/sources/base/stdin.cue
Labels: domain: codecs, domain: external docs

#20178 chore(core): expose semantic meaning log event helper fn
  lib/vector-core/src/event/log_event.rs
Labels: domain: core, no-changelog

#20181 chore(docs): Remove package deprecation banner
  website/config.toml
Labels: no-changelog

#20180 chore(dev): Bump Vector to 0.38.0
  Cargo.lock
  Cargo.toml
Labels: no-changelog

#20182 chore(releasing): Bump Kubernetes manifsts to chart version 0.32.0
  distribution/kubernetes/vector-agent/README.md
  distribution/kubernetes/vector-agent/configmap.yaml
  distribution/kubernetes/vector-agent/daemonset.yaml
  distribution/kubernetes/vector-agent/rbac.yaml
  distribution/kubernetes/vector-agent/service-headless.yaml
  distribution/kubernetes/vector-agent/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/README.md
  distribution/kubernetes/vector-aggregator/configmap.yaml
  distribution/kubernetes/vector-aggregator/service-headless.yaml
  distribution/kubernetes/vector-aggregator/service.yaml
  distribution/kubernetes/vector-aggregator/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/statefulset.yaml
  distribution/kubernetes/vector-stateless-aggregator/README.md
  distribution/kubernetes/vector-stateless-aggregator/configmap.yaml
  distribution/kubernetes/vector-stateless-aggregator/deployment.yaml
  distribution/kubernetes/vector-stateless-aggregator/service-headless.yaml
  distribution/kubernetes/vector-stateless-aggregator/service.yaml
  distribution/kubernetes/vector-stateless-aggregator/serviceaccount.yaml
Labels: domain: releasing, no-changelog

#20155 chore(deps): Bump MSRV to reduce usage of `async_trait`
  Cargo.lock
  Cargo.toml
  lib/vector-api-client/Cargo.toml
  lib/vector-api-client/src/gql/components.rs
  lib/vector-api-client/src/gql/health.rs
  lib/vector-api-client/src/gql/meta.rs
  lib/vector-api-client/src/lib.rs
  lib/vector-api-client/src/test/mod.rs
  lib/vector-buffers/src/lib.rs
  lib/vector-buffers/src/variants/disk_v2/io.rs
  lib/vector-buffers/src/variants/disk_v2/tests/mod.rs
  lib/vector-buffers/src/variants/disk_v2/tests/model/filesystem.rs
  lib/vector-core/src/sink.rs
  src/config/enrichment_table.rs
  src/config/provider.rs
  src/enrichment_tables/file.rs
  src/enrichment_tables/geoip.rs
  src/enrichment_tables/mmdb.rs
  src/lib.rs
  src/providers/http.rs
  src/sinks/aws_kinesis/firehose/record.rs
  src/sinks/aws_kinesis/record.rs
  src/sinks/aws_kinesis/streams/record.rs
  src/sinks/aws_s_s/client.rs
  src/sinks/aws_s_s/sns/client.rs
  src/sinks/aws_s_s/sqs/client.rs
  src/sinks/gcp/pubsub.rs
  src/sinks/influxdb/logs.rs
  src/sinks/mezmo.rs
  src/sinks/util/http.rs
  src/sources/util/http/prelude.rs
Labels: type: tech debt, domain: sources, domain: sinks, domain: core, dependencies, no-changelog

#20196 chore(ci): peg `fakeintake` docker image
  scripts/e2e/datadog-logs/compose.yaml
  scripts/e2e/datadog-metrics/compose.yaml
Labels: domain: tests, domain: ci, no-changelog

#20203 chore(ci): Drop `apt-get upgrade`
  scripts/environment/bootstrap-ubuntu-20.04.sh
Labels: domain: ci, no-changelog

#20186 chore(docs): note for 0.37 about incorrect ddtags parsing behavior
  src/sources/datadog_agent/mod.rs
  website/cue/reference/components/sources/base/datadog_agent.cue
  website/cue/reference/releases/0.37.0.cue
Labels: domain: sources, domain: external docs, no-changelog

#20202 docs(dnstap source, releasing): Add breaking change note for dnstap source mode
  website/content/en/highlights/2023-03-26-0-37-0-upgrade-guide.md
Labels: no-changelog

#20184 fix(datadog_agent)!: align `ddtags` parsing with DD logs intake
  changelog.d/dd_agent_parse_ddtags_format.breaking.md
  src/sources/datadog_agent/logs.rs
  src/sources/datadog_agent/mod.rs
  src/sources/datadog_agent/tests.rs
  website/cue/reference/components/sources/base/datadog_agent.cue
Labels: type: bug, meta: breaking change, domain: sources, domain: external docs, source: datadog_agent

#20148 chore(testing): support LogNamespace in Component Validation Framework
  src/components/validation/mod.rs
  src/components/validation/resources/http.rs
  src/components/validation/resources/mod.rs
  src/components/validation/runner/config.rs
  src/components/validation/runner/mod.rs
  src/components/validation/validators/component_spec/mod.rs
  src/sinks/datadog/logs/config.rs
  src/sinks/http/config.rs
  src/sinks/splunk_hec/logs/config.rs
  src/sources/datadog_agent/tests.rs
  src/sources/http_client/tests.rs
  src/sources/http_server.rs
  src/sources/splunk_hec/mod.rs
  src/sources/vector/mod.rs
Labels: domain: tests, domain: sources, domain: sinks, no-changelog

#20210 chore(ci): Only use one label for selecting GHA runner
  .github/workflows/compilation-timings.yml
  .github/workflows/e2e.yml
  .github/workflows/integration-comment.yml
  .github/workflows/integration-test.yml
  .github/workflows/integration.yml
  .github/workflows/k8s_e2e.yml
  .github/workflows/misc.yml
  .github/workflows/publish.yml
  .github/workflows/regression.yml
  .github/workflows/test.yml
  .github/workflows/unit_windows.yml
Labels: no-changelog
