Repository vectordotdev/vector, pull requests merged in 2024-04, with the labels that each got.

#20085 docs(kubernetes platform): fix example kustomization file
  website/content/en/docs/setup/installation/platforms/kubernetes.md
Labels: no-changelog

#20209 docs: fix type cardinality docs
  src/transforms/tag_cardinality_limit/config.rs
  website/cue/reference/components/transforms/base/tag_cardinality_limit.cue
  website/cue/reference/components/transforms/tag_cardinality_limit.cue
Labels: domain: transforms, domain: external docs, no-changelog

#20213 fix(splunk_hec_logs sink): don't attempt to remove timestamp if auto extract is enabled
  changelog.d/splunk_hec_logs_auto_extract_ts.fix.md
  src/sinks/splunk_hec/logs/config.rs
  src/sinks/splunk_hec/logs/integration_tests.rs
  src/sinks/splunk_hec/logs/sink.rs
  src/sinks/splunk_hec/logs/tests.rs
Labels: type: bug, sink: splunk_hec, domain: sinks

#20198 fix(datadog_logs sink): reconstruct `ddtags` if not already in format expected by DD logs intake
  changelog.d/dd_logs_reconstruct_ddtags.fix.md
  lib/vector-core/src/schema/meaning.rs
  src/common/datadog.rs
  src/sinks/datadog/logs/sink.rs
  src/sources/datadog_agent/logs.rs
Labels: type: bug, domain: sources, domain: sinks, domain: core

#20226 chore(datadog_logs sink): properly encode all semantically defined DD reserved attributes
  lib/vector-core/src/schema/meaning.rs
  scripts/integration/datadog-logs/test.yaml
  src/common/datadog.rs
  src/sinks/datadog/logs/sink.rs
  src/sources/datadog_agent/mod.rs
Labels: domain: sources, domain: sinks, sink: datadog_logs, domain: ci, domain: core, no-changelog

#19398 feat(#19183): add namespace input to chronicle sink
  changelog.d/19183_chronicle_namespace_support.enhancement.md
  src/sinks/gcp/chronicle_unstructured.rs
  website/cue/reference/components/sinks/base/gcp_chronicle_unstructured.cue
Labels: domain: sinks, type: feature, domain: external docs, sink: gcp_chronicle, meta: awaiting author

#20227 docs: Correct docker.md so the command can be executed
  website/content/en/docs/setup/installation/platforms/docker.md
Labels: no-changelog

#20074 Use new VRL protobuf library to remove duplication in the protobuf codec
  changelog.d/20074_protobuf_decoder.breaking.md
  lib/codecs/src/common/mod.rs
  lib/codecs/src/common/protobuf.rs
  lib/codecs/src/decoding/format/protobuf.rs
  lib/codecs/src/encoding/format/protobuf.rs
  lib/codecs/tests/data/protobuf/protos/test.desc
  lib/codecs/tests/data/protobuf/protos/test.proto
Labels: no-changelog

#20211 chore(splunk_hec_logs sink): support log namespaced host and timestamp attributes
  src/sinks/humio/logs.rs
  src/sinks/humio/metrics.rs
  src/sinks/splunk_hec/common/util.rs
  src/sinks/splunk_hec/logs/config.rs
  src/sinks/splunk_hec/logs/integration_tests.rs
  src/sinks/splunk_hec/logs/sink.rs
  src/sinks/splunk_hec/logs/tests.rs
  src/sources/splunk_hec/mod.rs
  website/cue/reference/components/sinks/base/humio_logs.cue
  website/cue/reference/components/sinks/base/humio_metrics.cue
  website/cue/reference/components/sinks/base/splunk_hec_logs.cue
Labels: sink: splunk_hec, domain: sources, domain: sinks, sink: humio_logs, domain: external docs, sink: humio_metrics, no-changelog

#20236 chore(deps): Update h2
  Cargo.lock
Labels: no-changelog

#20257 chore(datadog): make consts public
  src/common/datadog.rs
Labels: no-changelog

#20241 docs: Update pacman.md as vector is available now in extra repository
  website/content/en/docs/setup/installation/package-managers/pacman.md
Labels: no-changelog

#20245 chore: remove unnecessary clone
  src/app.rs
Labels: no-changelog

#20242 fix(kafka source): fix source span instrumentation
  changelog.d/20224_kafka_source_event_instrumentation.fix.md
  src/sources/kafka.rs
Labels: domain: sources

#20244 feat(databend sink): service use databend-client
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  changelog.d/20244_change_inner_databend_client.enhancement.md
  scripts/integration/databend/test.yaml
  src/sinks/databend/api.rs
  src/sinks/databend/config.rs
  src/sinks/databend/error.rs
  src/sinks/databend/integration_tests.rs
  src/sinks/databend/mod.rs
  src/sinks/databend/service.rs
  website/cue/reference/components/sinks/base/databend.cue
  website/cue/reference/components/sinks/databend.cue
Labels: domain: sinks, domain: ci, domain: external docs

#20228 fix(log_to_metric transform): set not working in log-to-metric transform when all_metrics=true
  changelog.d/20228_fix-log-to-metric-set-supported.fix.md
  src/transforms/log_to_metric.rs
  testing/github-20228/config.toml
Labels: domain: transforms

#20193 fix(metrics): normalizer doesn't handle mix of absolute and incremental metrics
  changelog.d/prometheus_mixed_gauges.fix.md
  src/sinks/prometheus/exporter.rs
Labels: domain: sinks

#20269 chore(ci): Download SHA256SUMS to correct location
  .github/workflows/publish.yml
Labels: no-changelog

#20215 enhancement(amqp sink): add expiration option to AMQP messages
  changelog.d/20214_amqp_expiration.enhancement.md
  src/sinks/amqp/config.rs
  website/cue/reference/components/sinks/base/amqp.cue
Labels: domain: sinks, domain: external docs

#19686 enhancement(source metrics): Adding a histogram for event byte size
  changelog.d/19686_element_size_histogram.enhancement.md
  src/internal_events/socket.rs
  website/cue/reference/components/sources/internal_metrics.cue
  website/cue/reference/components/sources/socket.cue
  website/cue/reference/components/sources/statsd.cue
  website/cue/reference/components/sources/syslog.cue
Labels: domain: external docs

#20261 enhancement(aws_s3 source): Adds an option `max_number_of_messages` for the aws_s3 source
  changelog.d/20172_max_number_of_messages.enhancement.md
  src/sources/aws_s3/mod.rs
  src/sources/aws_s3/sqs.rs
  website/cue/reference/components/sources/base/aws_s3.cue
Labels: domain: sources, domain: external docs

#20292 chore(splunk hec): add semantic meaning for Vector log namespace
  changelog.d/20292_splunk_hec_add_message_semantic_meaning.fix.md
  src/sources/splunk_hec/mod.rs
Labels: domain: sources

#20313 chore: Run unit test tests in CI
  src/config/unit_test/mod.rs
  src/config/unit_test/tests.rs
Labels: no-changelog

#20102 feat(elasticsearch sink): allow external document versioning
  changelog.d/elasticsearch_sink_document_versioning.feature.md
  src/sinks/elasticsearch/common.rs
  src/sinks/elasticsearch/config.rs
  src/sinks/elasticsearch/encoder.rs
  src/sinks/elasticsearch/mod.rs
  src/sinks/elasticsearch/sink.rs
  src/sinks/elasticsearch/tests.rs
  website/cue/reference/components/sinks/base/elasticsearch.cue
Labels: domain: sinks, domain: external docs

#20331 feat(databend sink): add config missing_field_as for ndjson insert
  Cargo.lock
  Cargo.toml
  changelog.d/20331_databend_config_ndjson.enhancement.md
  src/sinks/databend/config.rs
  src/sinks/databend/encoding.rs
  website/cue/reference/components/sinks/base/databend.cue
  website/cue/reference/components/sinks/databend.cue
Labels: domain: sinks, domain: external docs

#20343 chore(security): update rustls crate for RUSTSEC-2024-0336
  Cargo.lock
Labels: no-changelog

#20344 chore(deps): Bump rust-toolchain to 1.77.2
  rust-toolchain.toml
Labels: no-changelog

#20336 added option to insert to random shard
  changelog.d/20335_added_support_for_insert_distributed_one_random_shard.feature.md
  src/sinks/clickhouse/config.rs
  src/sinks/clickhouse/service.rs
  website/cue/reference/components/sinks/base/clickhouse.cue
Labels: domain: sinks, domain: external docs

#20294 fix(host_metrics source): Include cgroups2 root memory metrics
  src/sources/host_metrics/cgroups.rs
Labels: domain: sources, no-changelog

#20346 docs: Update docker.md
  website/content/en/docs/setup/installation/platforms/docker.md
Labels: no-changelog

#20358 chore(core): Implement `LogEvent::get_mut_by_meaning`
  lib/vector-core/src/event/log_event.rs
  lib/vector-core/src/event/metadata.rs
  src/sources/datadog_agent/tests.rs
  src/transforms/remap.rs
Labels: type: tech debt, domain: sources, domain: transforms, domain: core, no-changelog

#20369 chore(dev): Bump down zstd-sys from 2.0.10 to 2.0.9
  .github/workflows/test.yml
  Cargo.lock
  Cargo.toml
  scripts/ensure-wasm-pack-installed.sh
  scripts/environment/prepare.sh
Labels: domain: ci, no-changelog

#20387 docs: fix grammar in what-is-observability-pipelines.md
  website/content/en/docs/about/what-is-observability-pipelines.md
Labels: no-changelog

#20397 test: Install dd-pkg in *-verify workflows and lint in verify-install.sh
  .github/workflows/publish.yml
  scripts/verify-install.sh
Labels: domain: ci, no-changelog

#20398 chore(deps): Bump VRL to 0.14.0
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  lib/vector-common/Cargo.toml
  lib/vector-config/Cargo.toml
  lib/vector-core/Cargo.toml
  lib/vector-vrl/tests/Cargo.toml
Labels: domain: core, no-changelog

#20307 enhancement(chronicle sink): support labels
  changelog.d/20281_chronicle_labels_support.enhancement.md
  src/sinks/gcp/chronicle_unstructured.rs
  website/cue/reference/components/sinks/base/gcp_chronicle_unstructured.cue
Labels: domain: sinks, domain: external docs
