Repository vectordotdev/vector, pull requests merged in 2025-05, with the labels that each got.

#22921 fix(kubernetes_logs source): remove limit if use apiserver cache
  changelog.d/22921_remove_limit_if_use_apiserver_cache.fix.md
  src/sources/kubernetes_logs/mod.rs
  website/cue/reference/components/sources/base/kubernetes_logs.cue
Labels: domain: sources, domain: external docs

#22985 docs(external): introduce log namespace guide
  website/content/en/docs/reference/vrl/_index.md
  website/content/en/guides/getting-started/getting-started.md
  website/content/en/guides/getting-started/transformation.md
  website/content/en/guides/level-up/log_namespace.md
  website/content/en/guides/level-up/managing-schemas.md
Labels: no-changelog

#22992 docs(external): fix reduce transfrom examples
  website/cue/reference/components/transforms/reduce.cue
Labels: domain: external docs, no-changelog

#23004 chore(dev): run markdownlint on git files only
  vdev/src/commands/check/markdown.rs
  vdev/src/git.rs
Labels: domain: vdev, no-changelog

#23035 docs(sinks): Remove slash from max_bytes text
  src/sinks/util/batch.rs
  website/cue/reference/components/sinks/base/appsignal.cue
  website/cue/reference/components/sinks/base/aws_cloudwatch_logs.cue
  website/cue/reference/components/sinks/base/aws_cloudwatch_metrics.cue
  website/cue/reference/components/sinks/base/aws_kinesis_firehose.cue
  website/cue/reference/components/sinks/base/aws_kinesis_streams.cue
  website/cue/reference/components/sinks/base/aws_s3.cue
  website/cue/reference/components/sinks/base/axiom.cue
  website/cue/reference/components/sinks/base/azure_blob.cue
  website/cue/reference/components/sinks/base/azure_monitor_logs.cue
  website/cue/reference/components/sinks/base/clickhouse.cue
  website/cue/reference/components/sinks/base/databend.cue
  website/cue/reference/components/sinks/base/datadog_logs.cue
  website/cue/reference/components/sinks/base/datadog_metrics.cue
  website/cue/reference/components/sinks/base/datadog_traces.cue
  website/cue/reference/components/sinks/base/elasticsearch.cue
  website/cue/reference/components/sinks/base/gcp_chronicle_unstructured.cue
  website/cue/reference/components/sinks/base/gcp_cloud_storage.cue
  website/cue/reference/components/sinks/base/gcp_pubsub.cue
  website/cue/reference/components/sinks/base/gcp_stackdriver_logs.cue
  website/cue/reference/components/sinks/base/gcp_stackdriver_metrics.cue
  website/cue/reference/components/sinks/base/greptimedb.cue
  website/cue/reference/components/sinks/base/greptimedb_logs.cue
  website/cue/reference/components/sinks/base/greptimedb_metrics.cue
  website/cue/reference/components/sinks/base/honeycomb.cue
  website/cue/reference/components/sinks/base/http.cue
  website/cue/reference/components/sinks/base/humio_logs.cue
  website/cue/reference/components/sinks/base/humio_metrics.cue
  website/cue/reference/components/sinks/base/influxdb_logs.cue
  website/cue/reference/components/sinks/base/influxdb_metrics.cue
  website/cue/reference/components/sinks/base/kafka.cue
  website/cue/reference/components/sinks/base/keep.cue
  website/cue/reference/components/sinks/base/logdna.cue
  website/cue/reference/components/sinks/base/loki.cue
  website/cue/reference/components/sinks/base/mezmo.cue
  website/cue/reference/components/sinks/base/new_relic.cue
  website/cue/reference/components/sinks/base/opentelemetry.cue
  website/cue/reference/components/sinks/base/postgres.cue
  website/cue/reference/components/sinks/base/prometheus_remote_write.cue
  website/cue/reference/components/sinks/base/redis.cue
  website/cue/reference/components/sinks/base/sematext_logs.cue
  website/cue/reference/components/sinks/base/sematext_metrics.cue
  website/cue/reference/components/sinks/base/splunk_hec_logs.cue
  website/cue/reference/components/sinks/base/splunk_hec_metrics.cue
  website/cue/reference/components/sinks/base/statsd.cue
  website/cue/reference/components/sinks/base/vector.cue
  website/cue/reference/components/sinks/base/webhdfs.cue
Labels: domain: sinks, domain: external docs, no-changelog

#22752 feat(new source): Initial MQTT Source, #19931
  Cargo.toml
  changelog.d/19931_add_mqtt_source.feature.md
  scripts/integration/mqtt/test.yaml
  src/common/mod.rs
  src/common/mqtt.rs
  src/sinks/mqtt/config.rs
  src/sinks/mqtt/integration_tests.rs
  src/sinks/mqtt/sink.rs
  src/sources/mod.rs
  src/sources/mqtt/config.rs
  src/sources/mqtt/integration_tests.rs
  src/sources/mqtt/mod.rs
  src/sources/mqtt/source.rs
  src/sources/util/mod.rs
  website/content/en/docs/reference/configuration/sources/mqtt.md
  website/cue/reference/components/sinks/base/mqtt.cue
  website/cue/reference/components/sources/base/mqtt.cue
  website/cue/reference/components/sources/mqtt.cue
Labels: domain: sources, domain: sinks, domain: ci, domain: external docs

#23038 fix(ci): e2e dd logs failure
  .github/workflows/ci-integration-review.yml
  .github/workflows/e2e.yml
  .github/workflows/integration.yml
  scripts/e2e/datadog-logs/compose.yaml
  scripts/int-e2e-test.sh
  tests/data/e2e/datadog/logs/agent_only.yaml
  tests/data/e2e/datadog/logs/agent_vector.yaml
  tests/e2e/datadog/logs/mod.rs
Labels: domain: ci, no-changelog

#23039 fix(azure service): revert deps bump
  .github/workflows/integration.yml
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  src/sinks/azure_common/config.rs
Labels: domain: sinks, no-changelog

#23049 fix(ci): request ARG in every build stage
  scripts/e2e/Dockerfile
  tilt/Dockerfile
Labels: domain: ci, no-changelog

#23055 chore(ci): disable E2E datadog-logs test
  .github/workflows/e2e.yml
Labels: no-changelog

#23059 chore(ci): remove redundant rustup prefix
  scripts/integration/Dockerfile
Labels: domain: ci

#23060 chore(ci): provide default RUST_VERSION if one is not specified
  scripts/e2e/Dockerfile
  scripts/integration/Dockerfile
  tilt/Dockerfile
Labels: domain: ci, no-changelog

#23058 chore(ci): bump nextest to latest version
  scripts/e2e/Dockerfile
  scripts/environment/bootstrap-windows-2022.ps1
  scripts/environment/prepare.sh
  scripts/integration/Dockerfile
Labels: domain: ci, no-changelog

#23010 feat(remap transform): make `--watch-config` watch external VRL files in `remap` transforms
  changelog.d/9819_watch_remap_external_vrl.enhancement.md
  src/app.rs
  src/config/mod.rs
  src/config/transform.rs
  src/transforms/remap.rs
Labels: domain: transforms

#23064 chore(ci): install mold (no need to build it)
  scripts/e2e/Dockerfile
Labels: domain: ci, no-changelog

#22926 enhancement(enriching): add from and to date search to enrichment tables
  changelog.d/22926_enrichment_function_single_bounded_date_range_search.enhancement.md
  lib/enrichment/src/lib.rs
  lib/enrichment/src/vrl_util.rs
  src/enrichment_tables/file.rs
  website/cue/reference/remap/functions.cue
Labels: domain: external docs

#23066 fix(ci): path resolution for docker compose files
  .github/workflows/e2e.yml
  .github/workflows/integration.yml
  scripts/e2e/datadog-logs/compose.yaml
  scripts/e2e/datadog-metrics/compose.yaml
  scripts/integration/amqp/compose.yaml
Labels: domain: ci, no-changelog

#23067 chore(releasing): relax prepare script branch creation
  vdev/src/commands/release/prepare.rs
Labels: domain: releasing, domain: vdev

#23075 chore(releasing): update VRL changelog block insertion
  vdev/src/commands/release/prepare.rs
Labels: domain: vdev

#23073 chore(releasing): prepare v0.47.0 release
  .gitignore
  Cargo.lock
  Cargo.toml
  changelog.d/14082_add_mermaid_support.feature.md
  changelog.d/17294_allocation_group_id_groups_max_limit_increased.fix.md
  changelog.d/19931_add_mqtt_source.feature.md
  changelog.d/22125.feature.md
  changelog.d/22212_fluent_unix_socket.feature.md
  changelog.d/22533_zlib-rs.enhancement.md
  changelog.d/22540_websocket_server_buffering_ack_support.feature.md
  changelog.d/22651_greptimedb_logs_headers.breaking.md
  changelog.d/22656_statsd_timer_conversion.feature.md
  changelog.d/22786_remove_empty_file_after_secs.fix.md
  changelog.d/22827_cloudwatch_auth_missing_region.fix.md
  changelog.d/22831_increase_cloudwatch_log_event_max_size.fix.md
  changelog.d/22850_custom_auth_address_access.feature.md
  changelog.d/22854_websocket_server_subprotocol_support.feature.md
  changelog.d/22857_junit_reports_for_unit_tests.feature.md
  changelog.d/22865_framing_performance.enhancement.md
  changelog.d/22909_redis_sink_supports_encoding_input.feature.md
  changelog.d/22921_remove_limit_if_use_apiserver_cache.fix.md
  changelog.d/22922_healthcheck_timeout_config.feature.md
  changelog.d/22926_enrichment_function_single_bounded_date_range_search.enhancement.md
  changelog.d/23011_add_relaxed_wildcard_matching.feature.md
  changelog.d/23047_add_a6_prefix_check_in_dns_parsing.fix.md
  changelog.d/23048_fix_arith_logic_dnstap_parse.fix.md
  changelog.d/9819_watch_remap_external_vrl.enhancement.md
  changelog.d/add_priority_amqp_sink.enhancement.md
  changelog.d/datadog_agent_http_header.fix.md
  changelog.d/datadog_logs_sink_logs_namespace.fix.md
  changelog.d/gelf-error.fix.md
  changelog.d/opentelemetry_metrics.feature.md
  changelog.d/s3-source-defer-or-delete.enhancement.md
  changelog.d/window-transform.feature.md
  distribution/install.sh
  docker_logs.txt
  website/content/en/docs/reference/configuration/sources/mqtt.md
  website/content/en/releases/0.47.0.md
  website/cue/reference/administration/interfaces/kubectl.cue
  website/cue/reference/releases/0.47.0.cue
  website/cue/reference/versions.cue
  website/layouts/releases/single.html
Labels: domain: releasing, domain: external docs, no-changelog

#23081 fix(ci): update git repo url for homebrew release
  vdev/src/commands/release/homebrew.rs
Labels: domain: vdev, no-changelog

#23080 chore(releasing): improve release templates
  .github/ISSUE_TEMPLATE/minor-release.md
  .github/ISSUE_TEMPLATE/patch-release.md
Labels: no-changelog

#23085 chore(releasing): final release steps
  .gitignore
  Cargo.lock
  Cargo.toml
  changelog.d/14082_add_mermaid_support.feature.md
  changelog.d/17294_allocation_group_id_groups_max_limit_increased.fix.md
  changelog.d/19931_add_mqtt_source.feature.md
  changelog.d/22125.feature.md
  changelog.d/22212_fluent_unix_socket.feature.md
  changelog.d/22533_zlib-rs.enhancement.md
  changelog.d/22540_websocket_server_buffering_ack_support.feature.md
  changelog.d/22651_greptimedb_logs_headers.breaking.md
  changelog.d/22656_statsd_timer_conversion.feature.md
  changelog.d/22786_remove_empty_file_after_secs.fix.md
  changelog.d/22827_cloudwatch_auth_missing_region.fix.md
  changelog.d/22831_increase_cloudwatch_log_event_max_size.fix.md
  changelog.d/22850_custom_auth_address_access.feature.md
  changelog.d/22854_websocket_server_subprotocol_support.feature.md
  changelog.d/22857_junit_reports_for_unit_tests.feature.md
  changelog.d/22865_framing_performance.enhancement.md
  changelog.d/22909_redis_sink_supports_encoding_input.feature.md
  changelog.d/22921_remove_limit_if_use_apiserver_cache.fix.md
  changelog.d/22922_healthcheck_timeout_config.feature.md
  changelog.d/22926_enrichment_function_single_bounded_date_range_search.enhancement.md
  changelog.d/23011_add_relaxed_wildcard_matching.feature.md
  changelog.d/23047_add_a6_prefix_check_in_dns_parsing.fix.md
  changelog.d/23048_fix_arith_logic_dnstap_parse.fix.md
  changelog.d/9819_watch_remap_external_vrl.enhancement.md
  changelog.d/add_priority_amqp_sink.enhancement.md
  changelog.d/datadog_agent_http_header.fix.md
  changelog.d/datadog_logs_sink_logs_namespace.fix.md
  changelog.d/gelf-error.fix.md
  changelog.d/opentelemetry_metrics.feature.md
  changelog.d/s3-source-defer-or-delete.enhancement.md
  changelog.d/window-transform.feature.md
  distribution/install.sh
  distribution/kubernetes/vector-agent/README.md
  distribution/kubernetes/vector-agent/configmap.yaml
  distribution/kubernetes/vector-agent/daemonset.yaml
  distribution/kubernetes/vector-agent/rbac.yaml
  distribution/kubernetes/vector-agent/service-headless.yaml
  distribution/kubernetes/vector-agent/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/README.md
  distribution/kubernetes/vector-aggregator/configmap.yaml
  distribution/kubernetes/vector-aggregator/service-headless.yaml
  distribution/kubernetes/vector-aggregator/service.yaml
  distribution/kubernetes/vector-aggregator/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/statefulset.yaml
  distribution/kubernetes/vector-stateless-aggregator/README.md
  distribution/kubernetes/vector-stateless-aggregator/configmap.yaml
  distribution/kubernetes/vector-stateless-aggregator/deployment.yaml
  distribution/kubernetes/vector-stateless-aggregator/service-headless.yaml
  distribution/kubernetes/vector-stateless-aggregator/service.yaml
  distribution/kubernetes/vector-stateless-aggregator/serviceaccount.yaml
  docker_logs.txt
  website/content/en/docs/reference/configuration/sources/mqtt.md
  website/content/en/releases/0.47.0.md
  website/cue/reference/administration/interfaces/kubectl.cue
  website/cue/reference/releases/0.47.0.cue
  website/cue/reference/versions.cue
  website/layouts/releases/single.html
Labels: domain: releasing, domain: external docs, no-changelog

#23089 chore(sources): Refactor `struct SourceSender` a bit
  src/source_sender/mod.rs
Labels: type: tech debt, no-changelog
