Repository vectordotdev/vector, pull requests merged in 2025-02, with the labels that each got.

#22351 fix(ci): fix report path
  .github/workflows/regression.yml
Labels: no-changelog

#22356 chore(ci): make Integration Test Suite runnable on Actions
  .github/workflows/integration.yml
Labels: no-changelog

#22352 chore(deps): update openssl related crates
  Cargo.lock
  Cargo.toml
  lib/vector-core/src/tls/settings.rs
Labels: domain: core, no-changelog

#22359 fix(ci): revert to a previous async-nats version
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
Labels: domain: tests, no-changelog

#22372 fix(ci): check for merge_group in check-all job
  .github/workflows/integration.yml
Labels: no-changelog

#22378 fix(ci): temporarily ignore failing tests
  .github/workflows/ci-integration-review.yml
  .github/workflows/integration.yml
Labels: no-changelog

#22380 feat(ci): refactor and parallelize integration-tests (CI review)
  .github/workflows/ci-integration-review.yml
Labels: no-changelog

#22242 enhancement(http source): unifying http query parameters
  changelog.d/12073_unifying_query_parameters.feature.md
  src/http.rs
  src/sinks/elasticsearch/common.rs
  src/sinks/elasticsearch/config.rs
  src/sinks/elasticsearch/integration_tests.rs
  src/sources/http_client/client.rs
  src/sources/http_client/tests.rs
  src/sources/prometheus/scrape.rs
  src/sources/util/http_client.rs
  website/cue/reference/components/sinks/elasticsearch.cue
  website/cue/reference/components/sources/base/http_client.cue
  website/cue/reference/components/sources/base/prometheus_scrape.cue
  website/cue/reference/components/sources/http_client.cue
  website/cue/reference/components/sources/prometheus_scrape.cue
Labels: domain: sources, domain: sinks, domain: external docs

#22386 feat(cli): Add http sink tls cert/key to `config::watcher`
  changelog.d/22386_extend_watcher_paths.enhancement.md
  src/app.rs
  src/config/sink.rs
  src/sinks/http/config.rs
Labels: domain: sinks

#22381 fix(website): use safe semver version
  website/yarn.lock
Labels: no-changelog

#22371 chore(dev): fix CVE-2024-47614 by bumping async-graphql
  Cargo.lock
  Cargo.toml
Labels: no-changelog

#22345 chore(external docs): generate global option configuration automatically from Rust code
  lib/vector-config-common/src/constants.rs
  lib/vector-config-macros/src/attrs.rs
  lib/vector-config-macros/src/component_name.rs
  lib/vector-config-macros/src/configurable_component.rs
  lib/vector-config-macros/src/lib.rs
  lib/vector-config/src/component/marker.rs
  lib/vector-config/src/component/mod.rs
  scripts/generate-component-docs.rb
  src/enrichment_tables/file.rs
  src/enrichment_tables/mod.rs
  src/secrets/mod.rs
  website/cue/reference/base/configuration.cue
  website/cue/reference/configuration.cue
Labels: domain: ci, domain: external docs, no-changelog

#22414 chore(ci): only run integration tests when secrets are available
  .github/workflows/integration.yml
Labels: no-changelog

#22421 feat(internal): Make fields in HumioLogsConfig public
  src/sinks/humio/logs.rs
Labels: domain: sinks, no-changelog

#22236 feat(sources): add custom auth strategy for components with HTTP server
  changelog.d/22236_custom_server_auth_strategy.feature.md
  src/common/http/error.rs
  src/common/http/mod.rs
  src/common/http/server_auth.rs
  src/common/mod.rs
  src/config/sink.rs
  src/config/source.rs
  src/sources/datadog_agent/logs.rs
  src/sources/datadog_agent/metrics.rs
  src/sources/datadog_agent/mod.rs
  src/sources/datadog_agent/traces.rs
  src/sources/heroku_logs.rs
  src/sources/http_server.rs
  src/sources/opentelemetry/http.rs
  src/sources/prometheus/pushgateway.rs
  src/sources/prometheus/remote_write.rs
  src/sources/socket/mod.rs
  src/sources/util/http/auth.rs
  src/sources/util/http/encoding.rs
  src/sources/util/http/mod.rs
  src/sources/util/http/prelude.rs
  src/sources/util/mod.rs
  src/topology/builder.rs
  website/cue/reference/components/sources/base/heroku_logs.cue
  website/cue/reference/components/sources/base/http.cue
  website/cue/reference/components/sources/base/http_server.cue
  website/cue/reference/components/sources/base/prometheus_pushgateway.cue
  website/cue/reference/components/sources/base/prometheus_remote_write.cue
Labels: domain: topology, domain: sources, domain: external docs

#22416 chore(vrl): use `as_str()` as implemented by `Value`
  lib/vector-vrl/functions/src/get_secret.rs
  lib/vector-vrl/functions/src/remove_secret.rs
  lib/vector-vrl/functions/src/set_secret.rs
  src/sinks/elasticsearch/sink.rs
  src/sources/journald.rs
  src/sources/kubernetes_logs/parser/docker.rs
Labels: domain: sources, domain: sinks, no-changelog

#22408 docs(external): generate global option and common field from Rust macro
  Cargo.lock
  Cargo.toml
  lib/vector-config-common/src/constants.rs
  lib/vector-core/Cargo.toml
  lib/vector-core/src/config/global_options.rs
  scripts/generate-component-docs.rb
  src/enrichment_tables/mod.rs
  src/secrets/mod.rs
  website/cue/reference/base/configuration.cue
  website/cue/reference/configuration.cue
Labels: domain: ci, domain: external docs, domain: core, no-changelog

#22434 fix(cli): Revert add http sink tls cert/key to `config::watcher`
  changelog.d/22386_extend_watcher_paths.enhancement.md
  src/app.rs
  src/config/sink.rs
  src/sinks/http/config.rs
Labels: domain: sinks, no-changelog

#22435 docs(external): add note for input/output typs in remap docs
  website/cue/reference/components/transforms/remap.cue
  website/cue/reference/urls.cue
Labels: domain: external docs, no-changelog

#22441 fix(ci): add zstd decompression to DD metrics E2E tests
  .github/workflows/ci-integration-review.yml
  Cargo.toml
  lib/vector-common/src/constants.rs
  scripts/e2e/datadog-metrics/test.yaml
  src/test_util/compression.rs
  src/test_util/mod.rs
  tests/e2e/datadog/metrics/mod.rs
  tests/e2e/datadog/metrics/series.rs
  tests/e2e/datadog/metrics/sketches.rs
Labels: domain: ci, no-changelog

#22437 docs(external): Generate API docs from Rust code
  lib/vector-config-common/src/constants.rs
  lib/vector-config-macros/src/attrs.rs
  lib/vector-config-macros/src/component_name.rs
  lib/vector-config-macros/src/configurable_component.rs
  lib/vector-config-macros/src/lib.rs
  lib/vector-config/src/component/marker.rs
  lib/vector-config/src/component/mod.rs
  scripts/generate-component-docs.rb
  src/config/api.rs
  website/cue/reference/api.cue
  website/cue/reference/base/api.cue
Labels: domain: ci, domain: external docs, no-changelog

#22456 chore(performance): Enable simdutf8 feature for maxminddb
  Cargo.lock
  Cargo.toml
Labels: no-changelog

#22428 docs(external): add docs for `shannon_entropy` function
  .github/actions/spelling/allow.txt
  website/cue/reference/remap/functions/shannon_entropy.cue
  website/cue/reference/urls.cue
Labels: domain: external docs, no-changelog

#22082 docs(vrl): Add parse_cbor vrl function documentation
  .github/actions/spelling/expect.txt
  website/cue/reference/remap/functions/parse_cbor.cue
  website/cue/reference/urls.cue
Labels: domain: external docs, no-changelog

#22463 docs(vrl): Update documentation for ip_cidr_contains
  Cargo.lock
  website/cue/reference/remap/functions/ip_cidr_contains.cue
Labels: domain: external docs, no-changelog

#22482 docs(websocket_server sink): add `how_it_works` section for `websocket_server`
  .github/workflows/semantic.yml
  website/cue/reference/components/sinks/websocket_server.cue
Labels: domain: external docs, no-changelog

#22483 docs(external): add `how_it_works` section for auth config
  website/cue/reference/components.cue
  website/cue/reference/components/sinks/websocket_server.cue
  website/cue/reference/components/sources/heroku_logs.cue
  website/cue/reference/components/sources/http_server.cue
  website/cue/reference/components/sources/prometheus_pushgateway.cue
  website/cue/reference/components/sources/prometheus_remote_write.cue
Labels: domain: external docs, no-changelog

#22480 docs(external docs): fix missing configuration section for `websocket_server` docs
  website/cue/reference/components/sinks/websocket_server.cue
Labels: domain: external docs, no-changelog

#22485 chore(releasing): automate release preperation steps (part 1)
  Cargo.lock
  Cargo.toml
  vdev/Cargo.toml
  vdev/src/commands/release/prepare.rs
  vdev/src/git.rs
  vdev/src/util.rs
Labels: domain: vdev, no-changelog

#22417 docs(external): introduce debugging guide
  .github/actions/spelling/allow.txt
  website/content/en/blog/highlights-february-2025.md
  website/content/en/guides/developer/config-autocompletion.md
  website/content/en/guides/developer/debugging/debugging.md
  website/static/img/guides/debugging-meme.png
  website/static/img/guides/vector-tap.png
  website/static/img/guides/vector-top.png
Labels: editorial review, no-changelog

#22392 feat(cli): Add `--components` option in `vector top` to filter out components
  changelog.d/14282_vector_top_filter_components.feature.md
  src/top/cmd.rs
  src/top/metrics.rs
  src/top/mod.rs
  website/cue/reference/cli.cue
Labels: domain: external docs

#22490 docs(external): update vector tap help
  src/tap/mod.rs
Labels: no-changelog

#22486 chore(releasing): prepare v0.45.0
  .github/actions/spelling/allow.txt
  Cargo.lock
  Cargo.toml
  changelog.d/11185.feature.md
  changelog.d/12073_unifying_query_parameters.feature.md
  changelog.d/21348_memory_enrichment_table.feature.md
  changelog.d/21965-add-keep-sink.feature.md
  changelog.d/21972-add-tcp-collector-host-metrics.feature.md
  changelog.d/22007_chronicle_ingest_header.fix.md
  changelog.d/22077_per_metric_limits_for_tag_cardinality_limit_transform.feature.md
  changelog.d/22213_websocket_server_sink.feature.md
  changelog.d/22236_custom_server_auth_strategy.feature.md
  changelog.d/22279_systemd_service_reload.fix.md
  changelog.d/22348_dnstap_protobuf_update.feature.md
  changelog.d/add-session-name-config-for-aws.fix.md
  changelog.d/add_chronicle_regional_endpoints.enhancement.md
  changelog.d/add_default_fallback_index_google_chronicle_sink.enhancement.md
  changelog.d/add_virtual_memory_process_metric.feature.md
  changelog.d/datadog_search_syntax_support_ddtags.enhancement.md
  changelog.d/enrichment_table_keep_first_row.fix.md
  changelog.d/gen-schema-out.enhancement.md
  changelog.d/log-fields-additional-types.enhancement.md
  changelog.d/pulsar_sink_source_support_tls_options.feature.md
  changelog.d/s3-log-spam.fix.md
  distribution/install.sh
  website/content/en/highlights/2025-02-24-0-45-0-upgrade-guide.md
  website/content/en/highlights/2025-02-24-memory_enrichment_table.md
  website/content/en/releases/0.45.0.md
  website/cue/reference/administration/interfaces/kubectl.cue
  website/cue/reference/releases/0.45.0.cue
  website/cue/reference/versions.cue
Labels: domain: releasing, domain: external docs, no-changelog

#22502 chore(ci): update publish-homebrew token
  .github/workflows/publish.yml
Labels: no-changelog

#22505 chore(releasing): cargo vdev build manifests
  distribution/kubernetes/vector-agent/README.md
  distribution/kubernetes/vector-agent/configmap.yaml
  distribution/kubernetes/vector-agent/daemonset.yaml
  distribution/kubernetes/vector-agent/rbac.yaml
  distribution/kubernetes/vector-agent/service-headless.yaml
  distribution/kubernetes/vector-agent/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/README.md
  distribution/kubernetes/vector-aggregator/configmap.yaml
  distribution/kubernetes/vector-aggregator/service-headless.yaml
  distribution/kubernetes/vector-aggregator/service.yaml
  distribution/kubernetes/vector-aggregator/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/statefulset.yaml
  distribution/kubernetes/vector-stateless-aggregator/README.md
  distribution/kubernetes/vector-stateless-aggregator/configmap.yaml
  distribution/kubernetes/vector-stateless-aggregator/deployment.yaml
  distribution/kubernetes/vector-stateless-aggregator/service-headless.yaml
  distribution/kubernetes/vector-stateless-aggregator/service.yaml
  distribution/kubernetes/vector-stateless-aggregator/serviceaccount.yaml
Labels: domain: releasing, no-changelog

#22506 chore(releasing): Complete v0.45.0 release
  .github/actions/spelling/allow.txt
  Cargo.lock
  Cargo.toml
  changelog.d/11185.feature.md
  changelog.d/12073_unifying_query_parameters.feature.md
  changelog.d/21348_memory_enrichment_table.feature.md
  changelog.d/21965-add-keep-sink.feature.md
  changelog.d/21972-add-tcp-collector-host-metrics.feature.md
  changelog.d/22007_chronicle_ingest_header.fix.md
  changelog.d/22077_per_metric_limits_for_tag_cardinality_limit_transform.feature.md
  changelog.d/22213_websocket_server_sink.feature.md
  changelog.d/22236_custom_server_auth_strategy.feature.md
  changelog.d/22279_systemd_service_reload.fix.md
  changelog.d/22348_dnstap_protobuf_update.feature.md
  changelog.d/add-session-name-config-for-aws.fix.md
  changelog.d/add_chronicle_regional_endpoints.enhancement.md
  changelog.d/add_default_fallback_index_google_chronicle_sink.enhancement.md
  changelog.d/add_virtual_memory_process_metric.feature.md
  changelog.d/datadog_search_syntax_support_ddtags.enhancement.md
  changelog.d/enrichment_table_keep_first_row.fix.md
  changelog.d/gen-schema-out.enhancement.md
  changelog.d/log-fields-additional-types.enhancement.md
  changelog.d/pulsar_sink_source_support_tls_options.feature.md
  changelog.d/s3-log-spam.fix.md
  distribution/install.sh
  website/content/en/highlights/2025-02-24-0-45-0-upgrade-guide.md
  website/content/en/highlights/2025-02-24-memory_enrichment_table.md
  website/content/en/releases/0.45.0.md
  website/cue/reference/administration/interfaces/kubectl.cue
  website/cue/reference/releases/0.45.0.cue
  website/cue/reference/versions.cue
Labels: domain: releasing, domain: external docs, no-changelog

#22526 chore(ci): install released wasm-pack version 0.13.1
  scripts/environment/prepare.sh
Labels: domain: ci, no-changelog

#22513 fix(host_metrics source): use single system instance
  changelog.d/host_metrics_process_metrics.fix.md
  src/sources/host_metrics/mod.rs
  src/sources/host_metrics/process.rs
Labels: domain: sources

#22525 chore(dev): switch to Rust 1.85
  Cargo.toml
  lib/vector-config-common/src/schema/json_schema.rs
  lib/vector-config/src/schema/parser/query.rs
  lib/vector-config/src/schema/visitors/unevaluated.rs
  lib/vector-core/src/config/global_options.rs
  lib/vector-core/src/config/proxy.rs
  lib/vector-core/src/metrics/recorder.rs
  rust-toolchain.toml
  src/api/schema/metrics/source/file.rs
  src/encoding_transcode.rs
  src/secrets/exec.rs
  src/sinks/aws_cloudwatch_metrics/mod.rs
  src/sinks/azure_blob/integration_tests.rs
  src/sinks/datadog/traces/sink.rs
  src/sinks/vector/mod.rs
  src/sources/gcp_pubsub.rs
  src/sources/host_metrics/cgroups.rs
  src/sources/internal_metrics.rs
  src/sources/prometheus/parser.rs
  src/sources/splunk_hec/mod.rs
  src/template.rs
  src/transforms/dedupe/config.rs
  src/transforms/dedupe/mod.rs
  vdev/src/commands/e2e/mod.rs
  vdev/src/commands/integration/mod.rs
  vdev/src/testing/runner.rs
Labels: domain: sources, domain: transforms, domain: sinks, domain: core, domain: vdev, no-changelog

#22241 docs(vrl): add documentation for `to_syslog_facility_code` vrl function
  website/cue/reference/remap/functions/to_syslog_facility_code.cue
Labels: domain: external docs, no-changelog

#22479 feat(websocket_server sink): add message buffering for `websocket_server`
  changelog.d/22479_websocket_server_sink_buffering.feature.md
  src/sinks/websocket_server/buffering.rs
  src/sinks/websocket_server/config.rs
  src/sinks/websocket_server/mod.rs
  src/sinks/websocket_server/sink.rs
  website/cue/reference/components/sinks/base/websocket_server.cue
  website/cue/reference/components/sinks/websocket_server.cue
Labels: domain: sinks, domain: external docs

#22503 chore(website): Update workflow from bash to gh scripts
  .github/workflows/create_preview_sites.yml
  .github/workflows/preview_site_trigger.yml
Labels: no-changelog

#22473 feat(gcp_stackdriver_logs sink): Support additional top level labels for gcp_stackdriver_logs sink
  changelog.d/add-user-labels-to-gcp-stackdriver-logs-sink.enhancement.md
  src/sinks/gcp/stackdriver/logs/config.rs
  src/sinks/gcp/stackdriver/logs/encoder.rs
  src/sinks/gcp/stackdriver/logs/tests.rs
  website/cue/reference/components/sinks/base/gcp_stackdriver_logs.cue
Labels: domain: sinks, domain: external docs
