Repository vectordotdev/vector, pull requests merged in 2025-07, with the labels that each got.

#23320 feat(website): navigation overhaul - part 1
  website/content/en/docs/_index.md
  website/content/en/docs/about/_index.md
  website/content/en/docs/about/observability-pipelines.md
  website/content/en/docs/about/under-the-hood/_index.md
  website/content/en/docs/about/under-the-hood/architecture/_index.md
  website/content/en/docs/about/under-the-hood/networking/_index.md
  website/content/en/docs/administration/monitoring.md
  website/content/en/docs/introduction/_index.md
  website/content/en/docs/introduction/architecture/_index.md
  website/content/en/docs/introduction/architecture/arc.md
  website/content/en/docs/introduction/architecture/buffering-model.md
  website/content/en/docs/introduction/architecture/concurrency-model.md
  website/content/en/docs/introduction/architecture/data-model/_index.md
  website/content/en/docs/introduction/architecture/data-model/log.md
  website/content/en/docs/introduction/architecture/data-model/metric.md
  website/content/en/docs/introduction/architecture/end-to-end-acknowledgements.md
  website/content/en/docs/introduction/architecture/pipeline-model.md
  website/content/en/docs/introduction/architecture/runtime-model.md
  website/content/en/docs/introduction/concepts.md
  website/content/en/docs/introduction/guarantees.md
  website/content/en/docs/reference/_index.md
  website/content/en/docs/reference/configuration/template-syntax.md
  website/content/en/docs/reference/configuration/unit-tests.md
  website/content/en/docs/reference/vrl/_index.md
  website/content/en/docs/setup/deployment/_index.md
  website/content/en/docs/setup/going-to-prod/_index.md
  website/content/en/docs/setup/going-to-prod/arch/agent.md
  website/content/en/docs/setup/going-to-prod/arch/aggregator.md
  website/content/en/docs/setup/going-to-prod/architecting.md
  website/content/en/docs/setup/going-to-prod/high-availability.md
  website/content/en/docs/setup/going-to-prod/sizing.md
  website/content/en/docs/setup/installation/_index.md
  website/content/en/docs/setup/optimization/_index.md
  website/content/en/docs/setup/optimization/pgo.md
Labels: no-changelog

#23321 fix(website): fix broken links due to // in vrl_expressions
  website/cue/reference/urls.cue
Labels: domain: external docs, no-changelog

#23331 fix(website): remove leftover dbg statement
  website/layouts/partials/author-with-avatar.html
Labels: no-changelog

#23337 fix(ci): integration remove useless setup job
  .github/workflows/integration.yml
Labels: no-changelog

#23340 fix(core): potential hang in ConcurrentMap
  changelog.d/fix_concurrent_map_potential_hang.fix.md
  lib/vector-stream/Cargo.toml
  lib/vector-stream/src/concurrent_map.rs
Labels: type: bug, domain: core

#23074 enhancement(enriching): add optional wildcard search parameter
  changelog.d/23074_enrichment_function_single_bounded_date_range_search.enhancement.md
  lib/enrichment/src/find_enrichment_table_records.rs
  lib/enrichment/src/get_enrichment_table_record.rs
  lib/enrichment/src/lib.rs
  lib/enrichment/src/tables.rs
  lib/enrichment/src/test_util.rs
  lib/vector-vrl/tests/src/test_enrichment.rs
  src/enrichment_tables/file.rs
  src/enrichment_tables/geoip.rs
  src/enrichment_tables/memory/table.rs
  src/enrichment_tables/mmdb.rs
  website/cue/reference/remap/functions.cue
  website/cue/reference/remap/functions/find_enrichment_table_records.cue
  website/cue/reference/remap/functions/get_enrichment_table_record.cue
Labels: domain: external docs, domain: enrichment_tables

#18785 docs(external): Updated `replace` capture group example
  website/cue/reference/remap/functions/replace.cue
Labels: domain: external docs, editorial review

#23360 fix(ci): re-enable splunk ITs
  .github/workflows/integration.yml
Labels: no-changelog

#23361 fix(core): unreadable interval_ms
  Cargo.lock
  LICENSE-3rdparty.csv
  changelog.d/23361_interval_ms_readable.fix.md
  lib/vector-core/src/event/vrl_target.rs
Labels: domain: core

#23381 chore(ci): rename name for publish-github job
  .github/workflows/publish.yml
Labels: no-changelog

#23330 enhancement(sinks): Add support for `max_bytes` for memory buffers
  changelog.d/8679_add_support_max_bytes_memory_buffers.feature.md
  lib/vector-buffers/benches/common.rs
  lib/vector-buffers/benches/sized_records.rs
  lib/vector-buffers/examples/buffer_perf.rs
  lib/vector-buffers/src/config.rs
  lib/vector-buffers/src/lib.rs
  lib/vector-buffers/src/test/variant.rs
  lib/vector-buffers/src/topology/builder.rs
  lib/vector-buffers/src/topology/channel/limited_queue.rs
  lib/vector-buffers/src/topology/test_util.rs
  lib/vector-buffers/src/variants/in_memory.rs
  lib/vector-config-macros/src/configurable.rs
  src/source_sender/mod.rs
  src/test_util/mock/sources/basic.rs
  src/topology/test/backpressure.rs
  website/cue/reference/components/generated/sinks.cue
Labels: domain: topology, domain: buffers, domain: external docs

#23371 fix(core): `metrics-tag-values: full` made tags unmodifiable
  changelog.d/23371_metric-tag-values-full-unmodifiable-tags.fix.md
  lib/vector-core/src/event/vrl_target.rs
Labels: domain: core

#23382 fix(ci): checkout changelog script from master
  .github/workflows/changelog.yaml
  scripts/check_changelog_fragments.sh
Labels: domain: ci, no-changelog

#23386 fix(ci): add MIT-0 to allowed licenses
  deny.toml
Labels: no-changelog

#23367 fix(elasticsearch sink): opensearch credentials provided in uri not used
  changelog.d/23103_fix_uri_provided_basic_auth_opensearch.fix.md
  src/sinks/elasticsearch/common.rs
  src/sinks/elasticsearch/config.rs
  src/sinks/elasticsearch/tests.rs
  website/cue/reference/components/sinks/generated/elasticsearch.cue
Labels: sink: elasticsearch, domain: sinks, domain: external docs

#23389 fix(ci): use Debian-native bind package
  tests/data/dnstap/Dockerfile
Labels: no-changelog

#23383 feat(ci): split up test.yml
  .github/workflows/changes.yml
  .github/workflows/test.yml
  vdev/README.md
Labels: domain: vdev, no-changelog

#23397 chore(ci): merge test/test-component-validation and upload results
  .github/workflows/test.yml
Labels: no-changelog

#23400 fix(elasticsearch sink): allow unused var
  src/sinks/elasticsearch/common.rs
Labels: domain: sinks, no-changelog

#23399 chore(codecs): Compare correct decoded byte size in Validator tests
  src/components/validation/resources/http.rs
Labels: domain: tests, no-changelog, domain: validation

#23402 chore(ci): only install datadog-ci if int test runs
  .github/workflows/integration.yml
Labels: no-changelog

#23359 docs(external): add documentation for validate_json_schema() function support in VRL
  lib/vector-vrl/tests/resources/json-schema_definition.json
  website/cue/reference/remap/functions/validate_json_schema.cue
Labels: domain: external docs, no-changelog

#23404 fix(elasticsearch sink): match only when feature is enabled
  src/sinks/elasticsearch/tests.rs
Labels: domain: sinks, no-changelog

#23405 chore(ci): refactor changelog file fetching
  .github/workflows/changelog.yaml
  scripts/check_changelog_fragments.sh
Labels: domain: ci, no-changelog

#23411 chore(ci): pin macos runner image version
  .github/workflows/publish.yml
  .github/workflows/unit_mac.yml
Labels: no-changelog

#23413 chore(ci): add changelog fragments upper limit per PR
  scripts/check_changelog_fragments.sh
Labels: domain: ci, no-changelog

#23414 chore(dev): clippy fixes
  benches/batch.rs
  benches/codecs/encoder.rs
  benches/codecs/newline_bytes.rs
  benches/distribution_statistic.rs
  benches/dnstap/mod.rs
  benches/enrichment_tables.rs
  benches/lua.rs
  benches/metrics_snapshot.rs
  benches/transform/common.rs
  benches/transform/dedupe.rs
  benches/transform/reduce.rs
  benches/transform/route.rs
  src/components/validation/runner/mod.rs
  tests/integration/cli.rs
  tests/integration/shutdown.rs
Labels: no-changelog

#23424 fix(buffers): wait 1s before panicking in test
  lib/vector-buffers/src/variants/disk_v2/tests/basic.rs
Labels: no-changelog

#23434 chore(ci): scripts/int-e2e-test.sh debugging improvements
  scripts/int-e2e-test.sh
Labels: domain: ci, no-changelog

#23436 chore(ci): use cargo binstall in prepare.sh
  scripts/environment/binstall.sh
  scripts/environment/prepare.sh
Labels: domain: ci, no-changelog

#23446 fix(ci): fix trigger for DD logs E2E
  .github/workflows/ci-integration-review.yml
Labels: no-changelog

#23443 fix(ci): remove arbitrary sleep
  scripts/int-e2e-test.sh
Labels: domain: ci, no-changelog

#23454 chore(ci): workaround vdev issues by using project-name for debug logs
  scripts/int-e2e-test.sh
Labels: domain: ci, no-changelog

#23459 chore(ci): fix and renable otel logs e2e
  .github/workflows/e2e.yml
  scripts/e2e/opentelemetry-logs/compose.yaml
  scripts/int-e2e-test.sh
  tests/data/e2e/opentelemetry/logs/collector-sink.yaml
  tests/data/e2e/opentelemetry/logs/vector.yaml
  tests/e2e/mod.rs
  tests/e2e/opentelemetry/logs/mod.rs
Labels: domain: ci, no-changelog

#23355 feat(redis sink): add Redis Sentinel support for redis sink
  Cargo.lock
  Cargo.toml
  changelog.d/redis_sentinel_in_sink.feature.md
  scripts/integration/redis/compose.yaml
  scripts/integration/redis/test.yaml
  src/sinks/redis/config.rs
  src/sinks/redis/integration_tests.rs
  src/sinks/redis/mod.rs
  src/sinks/redis/service.rs
  src/sinks/redis/sink.rs
  src/sinks/util/retries.rs
  src/sources/redis/mod.rs
  website/cue/reference/components/sinks/generated/redis.cue
Labels: domain: sources, domain: sinks, domain: ci, domain: external docs

#23470 chore(deps): bump indicatif to 0.18.0
  Cargo.lock
  vdev/Cargo.toml
Labels: domain: vdev, no-changelog

#23473 chore(ci): disable splunk ITs
  .github/workflows/integration.yml
Labels: no-changelog
