Repository vectordotdev/vector, pull requests merged in 2025-08, with the labels that each got.

#23465 fix(config): allowed symbols in secrets #23220
  changelog.d/23220_hyphens_in_secrets.fix.md
  src/config/loading/secret.rs
Labels: domain: config

#23503 fix(websocket source): treat websocket source tests as unit
  .github/workflows/semantic.yml
  Cargo.toml
  src/sources/websocket/source.rs
Labels: domain: sources, no-changelog, source: websocket

#23480 feat(dedupe transform): add time-based settings to dedupe transform
  benches/transform/dedupe.rs
  changelog.d/23480_dedupe_transform_time_settings.feature.md
  src/transforms/dedupe/common.rs
  src/transforms/dedupe/config.rs
  src/transforms/dedupe/mod.rs
  src/transforms/dedupe/timed_transform.rs
  src/transforms/dedupe/transform.rs
  website/cue/reference/components/transforms/generated/dedupe.cue
Labels: domain: transforms, domain: external docs

#23533 chore(ci): add datadog_common sink to semantic.yml
  .github/workflows/semantic.yml
Labels: no-changelog

#23529 fix(dev): update test config
  src/api/tests.rs
Labels: no-changelog

#23448 fix(dnstap source): increase request limit for TCP dnstap source
  changelog.d/23448_dnstap_tcp_source_throughput_issue.fix.md
  src/sources/util/framestream.rs
Labels: domain: sources

#23537 chore(dnstap source): change type of `max_frame_handling_tasks` to `usize`
  src/sources/dnstap/mod.rs
  src/sources/dnstap/tcp.rs
  src/sources/dnstap/unix.rs
  src/sources/util/framestream.rs
Labels: domain: sources, no-changelog

#23538 fix(log_to_metric transform): emit PairExpansion error
  changelog.d/log_to_metric_pair_expansion_error.fix.md
  src/internal_events/expansion.rs
  src/internal_events/mod.rs
  src/transforms/log_to_metric.rs
Labels: transform: log_to_metric, domain: transforms

#23515 feat(config): allow setting max packet size for mqtt source and sink
  changelog.d/23515_max_packet_size_mqtt.feature.md
  src/common/mqtt.rs
  src/sinks/mqtt/config.rs
  src/sources/mqtt/config.rs
  website/cue/reference/components/sinks/generated/mqtt.cue
  website/cue/reference/components/sources/generated/mqtt.cue
Labels: domain: sources, domain: sinks, domain: external docs

#23510 enhancement(nats sink): add support for JetStream message headers
  changelog.d/23509_allow_headers_in_nats_jetstream_sink.enhancement.md
  scripts/integration/nats/compose.yaml
  scripts/integration/nats/test.yaml
  src/sinks/nats/config.rs
  src/sinks/nats/integration_tests.rs
  src/sinks/nats/request_builder.rs
  src/sinks/nats/service.rs
  src/sinks/nats/sink.rs
  tests/data/nats/nats-jetstream.conf
  website/cue/reference/components/sinks/generated/nats.cue
Labels: domain: sinks, domain: ci, domain: external docs

#23545 fix(ci): fail when jobs are cancelled
  .github/workflows/ci-integration-review.yml
  .github/workflows/e2e.yml
  .github/workflows/integration.yml
  .github/workflows/k8s_e2e.yml
  .github/workflows/master_merge_queue.yml
  .github/workflows/regression.yml
Labels: no-changelog

#23551 chore(opentelemetry lib): improve build.rs
  .github/workflows/semantic.yml
  Cargo.lock
  lib/opentelemetry-proto/Cargo.toml
  lib/opentelemetry-proto/build.rs
Labels: no-changelog

#23543 chore(sinks): remove downcast and trait in sink retry code
  src/sinks/aws_cloudwatch_logs/retry.rs
  src/sinks/aws_cloudwatch_logs/service.rs
  src/sinks/aws_cloudwatch_metrics/mod.rs
  src/sinks/aws_kinesis/config.rs
  src/sinks/aws_kinesis/firehose/config.rs
  src/sinks/aws_kinesis/streams/config.rs
  src/sinks/aws_s_s/retry.rs
  src/sinks/azure_common/config.rs
  src/sinks/clickhouse/service.rs
  src/sinks/clickhouse/sink.rs
  src/sinks/databend/service.rs
  src/sinks/datadog/logs/service.rs
  src/sinks/datadog/metrics/service.rs
  src/sinks/datadog/traces/service.rs
  src/sinks/elasticsearch/retry.rs
  src/sinks/gcp/cloud_storage.rs
  src/sinks/gcp_chronicle/chronicle_unstructured.rs
  src/sinks/gcs_common/config.rs
  src/sinks/greptimedb/logs/http_request_builder.rs
  src/sinks/greptimedb/metrics/request.rs
  src/sinks/influxdb/metrics.rs
  src/sinks/loki/service.rs
  src/sinks/nats/sink.rs
  src/sinks/new_relic/config.rs
  src/sinks/postgres/service.rs
  src/sinks/redis/sink.rs
  src/sinks/s3_common/config.rs
  src/sinks/sematext/metrics.rs
  src/sinks/splunk_hec/logs/config.rs
  src/sinks/splunk_hec/metrics/config.rs
  src/sinks/util/adaptive_concurrency/service.rs
  src/sinks/util/adaptive_concurrency/tests.rs
  src/sinks/util/http.rs
  src/sinks/util/retries.rs
  src/sinks/util/service.rs
  src/sinks/vector/config.rs
Labels: sink: elasticsearch, domain: sinks, no-changelog

#23574 fix(ci): fix not_website matcher
  .github/workflows/changes.yml
Labels: no-changelog

#23573 chore(website): Add a margin between the author and the badges
  website/layouts/highlights/li.html
Labels: website: css, no-changelog

#23563 chore(releasing): prepare v0.49.0 release
  .github/actions/spelling/allow.txt
  Cargo.lock
  changelog.d/10870_aws_sink_retry_logic_update.enhancement.md
  changelog.d/1155_http_sink_templateable_uri.feature.md
  changelog.d/201_http_sink_header_templates.enhancement.md
  changelog.d/22070_utilization_metric_periodic_emit.fix.md
  changelog.d/22764_clickhouse_query_settings.feature.md
  changelog.d/23074_enrichment_function_single_bounded_date_range_search.enhancement.md
  changelog.d/23103_fix_uri_provided_basic_auth_opensearch.fix.md
  changelog.d/23111_postgres_sink_healthcheck_disabled.fix.md
  changelog.d/23220_hyphens_in_secrets.fix.md
  changelog.d/23279_logs_sources_output_logs.breaking.md
  changelog.d/23287_fix_nats_sink_ignored_healthcheck.fix.md
  changelog.d/23361_interval_ms_readable.fix.md
  changelog.d/23371_metric-tag-values-full-unmodifiable-tags.fix.md
  changelog.d/23442_watch_enrichment_table_changes.feature.md
  changelog.d/23448_dnstap_tcp_source_throughput_issue.fix.md
  changelog.d/23453_prevent_negative_buffer_size_and_event_gauges.fix.md
  changelog.d/23480_dedupe_transform_time_settings.feature.md
  changelog.d/23509_allow_headers_in_nats_jetstream_sink.enhancement.md
  changelog.d/23513_config_prevent_panic.fix.md
  changelog.d/23514_datadog_prevent_panic.fix.md
  changelog.d/23515_max_packet_size_mqtt.feature.md
  changelog.d/6491_add_websocket_source.feature.md
  changelog.d/8679_add_support_max_bytes_memory_buffers.feature.md
  changelog.d/batch-newline.fix.md
  changelog.d/elasticsearch_sink_skip_retrying_succeeded_documents.feature.md
  changelog.d/fix_concurrent_map_potential_hang.fix.md
  changelog.d/fix_metric_set_memory_growth.feature.md
  changelog.d/log_to_metric_config.fix.md
  changelog.d/log_to_metric_pair_expansion_error.fix.md
  changelog.d/proto_codecs.enhancement.md
  changelog.d/redis_sentinel_in_sink.feature.md
  changelog.d/redis_zadd_in_sink.feature.md
  changelog.d/strftime_items_in_unsigned_int_templates.enhancement.md
  distribution/install.sh
  website/content/en/highlights/2025-08-12-0-49-0-upgrade-guide.md
  website/content/en/releases/0.49.0.md
  website/cue/reference/administration/interfaces/kubectl.cue
  website/cue/reference/releases/0.49.0.cue
  website/cue/reference/versions.cue
Labels: domain: releasing, domain: external docs, editorial review, no-changelog

#23579 chore(releasing): v0.49.0 release
  .github/actions/spelling/allow.txt
  Cargo.lock
  Cargo.toml
  changelog.d/10870_aws_sink_retry_logic_update.enhancement.md
  changelog.d/1155_http_sink_templateable_uri.feature.md
  changelog.d/201_http_sink_header_templates.enhancement.md
  changelog.d/22070_utilization_metric_periodic_emit.fix.md
  changelog.d/22764_clickhouse_query_settings.feature.md
  changelog.d/23074_enrichment_function_single_bounded_date_range_search.enhancement.md
  changelog.d/23103_fix_uri_provided_basic_auth_opensearch.fix.md
  changelog.d/23111_postgres_sink_healthcheck_disabled.fix.md
  changelog.d/23220_hyphens_in_secrets.fix.md
  changelog.d/23279_logs_sources_output_logs.breaking.md
  changelog.d/23287_fix_nats_sink_ignored_healthcheck.fix.md
  changelog.d/23361_interval_ms_readable.fix.md
  changelog.d/23371_metric-tag-values-full-unmodifiable-tags.fix.md
  changelog.d/23442_watch_enrichment_table_changes.feature.md
  changelog.d/23448_dnstap_tcp_source_throughput_issue.fix.md
  changelog.d/23453_prevent_negative_buffer_size_and_event_gauges.fix.md
  changelog.d/23480_dedupe_transform_time_settings.feature.md
  changelog.d/23509_allow_headers_in_nats_jetstream_sink.enhancement.md
  changelog.d/23513_config_prevent_panic.fix.md
  changelog.d/23514_datadog_prevent_panic.fix.md
  changelog.d/23515_max_packet_size_mqtt.feature.md
  changelog.d/6491_add_websocket_source.feature.md
  changelog.d/8679_add_support_max_bytes_memory_buffers.feature.md
  changelog.d/batch-newline.fix.md
  changelog.d/elasticsearch_sink_skip_retrying_succeeded_documents.feature.md
  changelog.d/fix_concurrent_map_potential_hang.fix.md
  changelog.d/fix_metric_set_memory_growth.feature.md
  changelog.d/log_to_metric_config.fix.md
  changelog.d/log_to_metric_pair_expansion_error.fix.md
  changelog.d/proto_codecs.enhancement.md
  changelog.d/redis_sentinel_in_sink.feature.md
  changelog.d/redis_zadd_in_sink.feature.md
  changelog.d/strftime_items_in_unsigned_int_templates.enhancement.md
  distribution/install.sh
  distribution/kubernetes/vector-agent/README.md
  distribution/kubernetes/vector-agent/configmap.yaml
  distribution/kubernetes/vector-agent/daemonset.yaml
  distribution/kubernetes/vector-agent/rbac.yaml
  distribution/kubernetes/vector-agent/service-headless.yaml
  distribution/kubernetes/vector-agent/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/README.md
  distribution/kubernetes/vector-aggregator/configmap.yaml
  distribution/kubernetes/vector-aggregator/service-headless.yaml
  distribution/kubernetes/vector-aggregator/service.yaml
  distribution/kubernetes/vector-aggregator/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/statefulset.yaml
  distribution/kubernetes/vector-stateless-aggregator/README.md
  distribution/kubernetes/vector-stateless-aggregator/configmap.yaml
  distribution/kubernetes/vector-stateless-aggregator/deployment.yaml
  distribution/kubernetes/vector-stateless-aggregator/service-headless.yaml
  distribution/kubernetes/vector-stateless-aggregator/service.yaml
  distribution/kubernetes/vector-stateless-aggregator/serviceaccount.yaml
  website/content/en/highlights/2025-08-12-0-49-0-upgrade-guide.md
  website/content/en/releases/0.49.0.md
  website/cue/reference/administration/interfaces/kubectl.cue
  website/cue/reference/releases/0.49.0.cue
  website/cue/reference/versions.cue
Labels: domain: releasing, domain: external docs, no-changelog

#23581 chore(website): 0.49.0 release - address docs review
  website/content/en/highlights/2025-08-12-0-49-0-upgrade-guide.md
  website/cue/reference/releases/0.49.0.cue
Labels: domain: external docs, no-changelog

#23582 fix(ci): use sha instead of ref in changes.yml
  .github/workflows/changes.yml
Labels: no-changelog

#23587 chore(ci): sort semantic scopes
  .github/workflows/semantic.yml
Labels: no-changelog

#23594 fix(website): document Vector 0.49.0 behavior change
  website/content/en/highlights/2025-08-12-0-49-0-upgrade-guide.md
Labels: website: css, website: releases, no-changelog

#23578 chore(transforms): Expose Datadog search matching directly
  src/conditions/datadog_search.rs
Labels: type: tech debt, provider: datadog, domain: filtering, no-changelog

#23352 feat(codecs): add varint length delimited framing for protobuf
  changelog.d/protobuf_varint_framing_support.enhancement.md
  config/examples/varint_framing_protobuf.yaml
  lib/codecs/src/decoding/framing/mod.rs
  lib/codecs/src/decoding/framing/varint_length_delimited.rs
  lib/codecs/src/decoding/mod.rs
  lib/codecs/src/encoding/framing/mod.rs
  lib/codecs/src/encoding/framing/varint_length_delimited.rs
  lib/codecs/src/encoding/mod.rs
  lib/codecs/src/lib.rs
  lib/codecs/tests/varint_framing.rs
  src/components/validation/resources/mod.rs
  website/cue/reference/components/sinks/generated/aws_s3.cue
  website/cue/reference/components/sinks/generated/azure_blob.cue
  website/cue/reference/components/sinks/generated/console.cue
  website/cue/reference/components/sinks/generated/file.cue
  website/cue/reference/components/sinks/generated/gcp_cloud_storage.cue
  website/cue/reference/components/sinks/generated/http.cue
  website/cue/reference/components/sinks/generated/opentelemetry.cue
  website/cue/reference/components/sinks/generated/socket.cue
  website/cue/reference/components/sinks/generated/webhdfs.cue
  website/cue/reference/components/sources/generated/amqp.cue
  website/cue/reference/components/sources/generated/aws_kinesis_firehose.cue
  website/cue/reference/components/sources/generated/aws_s3.cue
  website/cue/reference/components/sources/generated/aws_sqs.cue
  website/cue/reference/components/sources/generated/datadog_agent.cue
  website/cue/reference/components/sources/generated/demo_logs.cue
  website/cue/reference/components/sources/generated/exec.cue
  website/cue/reference/components/sources/generated/file_descriptor.cue
  website/cue/reference/components/sources/generated/gcp_pubsub.cue
  website/cue/reference/components/sources/generated/heroku_logs.cue
  website/cue/reference/components/sources/generated/http.cue
  website/cue/reference/components/sources/generated/http_client.cue
  website/cue/reference/components/sources/generated/http_server.cue
  website/cue/reference/components/sources/generated/kafka.cue
  website/cue/reference/components/sources/generated/mqtt.cue
  website/cue/reference/components/sources/generated/nats.cue
  website/cue/reference/components/sources/generated/pulsar.cue
  website/cue/reference/components/sources/generated/redis.cue
  website/cue/reference/components/sources/generated/socket.cue
  website/cue/reference/components/sources/generated/stdin.cue
  website/cue/reference/components/sources/generated/websocket.cue
Labels: domain: external docs

#23622 chore(tests): better e2e out dir permissions
  scripts/int-e2e-test.sh
  tests/data/e2e/opentelemetry/logs/output/.gitignore
Labels: domain: ci, no-changelog

#23623 chore(tests): integration script runner should run all environments
  .github/workflows/ci-integration-review.yml
  .github/workflows/e2e.yml
  .github/workflows/integration.yml
  scripts/e2e/opentelemetry-logs/README.md
  scripts/int-e2e-test.sh
  scripts/run-integration-test.sh
  vdev/src/commands/compose_tests/show.rs
  vdev/src/commands/e2e/show.rs
  vdev/src/commands/integration/show.rs
Labels: domain: ci, domain: vdev, no-changelog

#23634 fix(ci): msrv increase timeout
  .github/workflows/msrv.yml
Labels: no-changelog

#23603 chore(elasticsearch sink): Add documentation and tests about OpenSearch
  src/sinks/elasticsearch/config.rs
  website/cue/reference/components/sinks/elasticsearch.cue
Labels: domain: sinks, domain: external docs, no-changelog

#23625 chore(nats source): make shared nats module public
  src/lib.rs
  src/nats.rs
Labels: no-changelog

#23647 chore(vdev): rust clippy enhancements
  CONTRIBUTING.md
  Makefile
  vdev/src/commands/check/rust.rs
Labels: domain: vdev, no-changelog

#23654 chore(vdev): fix default features to all-features
  lib/k8s-e2e-tests/tests/vector-agent.rs
  lib/k8s-e2e-tests/tests/vector-aggregator.rs
  lib/k8s-e2e-tests/tests/vector-dd-agent-aggregator.rs
  lib/k8s-e2e-tests/tests/vector.rs
  vdev/src/commands/check/rust.rs
Labels: domain: vdev, no-changelog

#23576 docs(vrl): Add xxhash vrl function documentation
  .github/actions/spelling/expect.txt
  Cargo.lock
  LICENSE-3rdparty.csv
  website/cue/reference/remap/functions/xxhash.cue
  website/cue/reference/urls.cue
Labels: domain: external docs, no-changelog

#23374 feat(new transform): Add new incremental_to_absolute transform and change to MetricSet to an LRU cache with optional capacity policies
  Cargo.toml
  changelog.d/incremental_to_absolute_transform.feature.md
  lib/vector-core/src/event/metric/data.rs
  src/sinks/util/buffer/metrics/mod.rs
  src/sinks/util/buffer/metrics/normalize.rs
  src/sinks/util/normalizer.rs
  src/transforms/incremental_to_absolute.rs
  src/transforms/mod.rs
  website/cue/reference/components.cue
  website/cue/reference/components/transforms/generated/incremental_to_absolute.cue
  website/cue/reference/components/transforms/incremental_to_absolute.cue
Labels: domain: transforms, domain: sinks, domain: external docs, domain: core

#23664 fix(dev): fixed environment parsing for local IT runs
  scripts/run-integration-test.sh
Labels: domain: ci, domain: dev, no-changelog

#23663 fix(ci): features check
  src/api/schema/metrics/mod.rs
  src/internal_events/aws_sqs.rs
  src/internal_events/websocket.rs
Labels: no-changelog

#23662 feat(config): log changed global fields when reload is rejected
  changelog.d/log_global_config_diff.feature.md
  lib/vector-core/src/config/global_options.rs
  src/topology/running.rs
Labels: domain: topology, domain: core

#22968 feat(new source): okta
  .github/actions/spelling/allow.txt
  .github/workflows/semantic.yml
  Cargo.toml
  changelog.d/22968_okta.feature.md
  src/sources/mod.rs
  src/sources/okta/client.rs
  src/sources/okta/mod.rs
  src/sources/okta/tests.rs
  website/content/en/docs/reference/configuration/sources/okta.md
  website/cue/reference/components/sources/generated/okta.cue
  website/cue/reference/components/sources/okta.cue
Labels: domain: sources, domain: external docs, source: new, source: okta

#23673 fix(dev): fix sources-okta component features check
  scripts/check-one-feature
  src/sources/util/http_client.rs
  src/sources/util/mod.rs
Labels: domain: sources, domain: ci, no-changelog, source: okta
