Repository vectordotdev/vector, pull requests merged in 2025-03, with the labels that each got.

#22544 chore(host_metrics source): ignore flakey tcp metrics tests
  src/sources/host_metrics/tcp.rs
Labels: domain: sources, no-changelog

#22572 fix(ci): `prepare.sh` should install the toolchain
  .github/workflows/k8s_e2e.yml
  .github/workflows/msrv.yml
  .github/workflows/test.yml
  scripts/environment/prepare.sh
Labels: domain: ci, no-changelog

#22569 docs(external): add missing Quad9 credits in previous releases
  website/cue/reference/releases/0.36.0.cue
  website/cue/reference/releases/0.37.0.cue
  website/cue/reference/releases/0.37.1.cue
  website/cue/reference/releases/0.38.0.cue
  website/cue/reference/releases/0.41.0.cue
  website/cue/reference/releases/0.42.0.cue
  website/cue/reference/releases/0.43.0.cue
  website/cue/reference/releases/0.44.0.cue
  website/cue/reference/releases/0.45.0.cue
Labels: domain: external docs, no-changelog

#22568 docs(external): add missing Quad9 credits in changelog entries
  changelog.d/22479_websocket_server_sink_buffering.feature.md
  changelog.d/22528_enrichment_panic.fix.md
Labels: no-changelog

#22583 chore(ci): delete unused script
  scripts/ensure-wasm-pack-installed.sh
Labels: domain: ci, no-changelog

#22520 docs(internal docs): Fix dead link on commit sub-categories
  CONTRIBUTING.md
Labels: no-changelog

#22591 chore(dev): cargo update -p vrl
  Cargo.lock
  LICENSE-3rdparty.csv
Labels: no-changelog

#22580 fix(website): Update permissions and revert id call
  .github/workflows/build_preview_sites.yml
  .github/workflows/create_preview_sites.yml
Labels: no-changelog

#22596 fix(ci): install rust toolchain for macos nightly targets
  .github/workflows/publish.yml
Labels: no-changelog

#22536 fix(codecs): `LengthDelimitedEncoder` fix last message framing
  changelog.d/22536_last_message_length_encoding_framing.fix.md
  src/sinks/util/encoding.rs
  tests/data/protobuf/.gitignore
  tests/data/protobuf/Makefile
  tests/data/protobuf/README.md
  tests/data/protobuf/serialize.py
  tests/data/protobuf/test_proto.desc
  tests/data/protobuf/test_proto.pb
  tests/data/protobuf/test_proto.proto
Labels: domain: sinks

#22598 chore(website): WEB-5803 | Remove netifly references from Privacy markdown
  PRIVACY.md
Labels: no-changelog

#21248 feat(postgres sink): Add postgres sink
  .github/actions/spelling/expect.txt
  .github/workflows/semantic.yml
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  changelog.d/15765_postgres_sink.feature.md
  scripts/integration/postgres/test.yaml
  src/sinks/clickhouse/integration_tests.rs
  src/sinks/databend/integration_tests.rs
  src/sinks/mod.rs
  src/sinks/postgres/config.rs
  src/sinks/postgres/integration_tests.rs
  src/sinks/postgres/mod.rs
  src/sinks/postgres/service.rs
  src/sinks/postgres/sink.rs
  src/sources/postgresql_metrics.rs
  src/test_util/integration.rs
  src/test_util/mod.rs
  website/content/en/docs/reference/configuration/sinks/postgres.md
  website/cue/reference.cue
  website/cue/reference/components/sinks/base/postgres.cue
  website/cue/reference/components/sinks/postgres.cue
  website/cue/reference/services/postgres.cue
  website/cue/reference/urls.cue
  website/data/redirects.yaml
  website/layouts/partials/docs/component-under-hero.html
Labels: domain: sources, domain: sinks, domain: ci, domain: external docs, meta: awaiting author

#22606 chore(ci): update smp to 0.21.0
  .github/workflows/regression.yml
Labels: no-changelog

#22604 fix(host_metrics source): add defensive check to prevent panics
  changelog.d/host_metrics_tcp_panic.fix.md
  src/sources/host_metrics/tcp.rs
Labels: domain: sources

#22614 chore(releasing): automate more pre-release steps
  scripts/generate-release-cue.rb
  vdev/src/commands/release/prepare.rs
  vdev/src/util.rs
Labels: domain: ci, domain: vdev, no-changelog

#22627 fix(ci): deny check fixes
  Cargo.lock
  deny.toml
Labels: no-changelog

#22546 chore(releasing): add basic oci labels
  distribution/docker/alpine/Dockerfile
  distribution/docker/debian/Dockerfile
  distribution/docker/distroless-libc/Dockerfile
  distribution/docker/distroless-static/Dockerfile
Labels: domain: releasing, no-changelog

#22632 chore(ci): add retries to k8s test job
  .github/workflows/k8s_e2e.yml
Labels: no-changelog

#22637 fix(ci): add new unmaintained dependency
  deny.toml
Labels: no-changelog

#22645 fix(website): Remove link checker command from CI commands
  website/Makefile
Labels: no-changelog

#22646 chore(website): fix enrichment table link
  README.md
Labels: no-changelog

#22647 chore(administration): update CODEOWNERS for website related PRs
  .github/CODEOWNERS
Labels: no-changelog

#22652 docs(external): fix typo in csv enrichment guide
  website/content/en/guides/level-up/csv-enrichment-guide.md
Labels: no-changelog

#22635 docs(website): add `alpha` definition
  website/content/en/docs/about/under-the-hood/guarantees.md
Labels: no-changelog

#22674 chore(ci): add the npm package ecosystem for dependabot
  .github/dependabot.yml
  .github/workflows/semantic.yml
Labels: no-changelog

#22658 chore(sinks): Allow S3Sink builder to accept a type that implements Partitioner
  src/sinks/s3_common/sink.rs
Labels: domain: sinks, no-changelog

#22676 docs(external): document 'open_files' metric
  website/cue/reference/components/sinks/file.cue
  website/cue/reference/components/sources/file.cue
  website/cue/reference/components/sources/internal_metrics.cue
Labels: domain: external docs, no-changelog

#22684 docs(external): Clarify Homebrew support documentation
  website/content/en/docs/setup/installation/package-managers/homebrew.md
Labels: no-changelog

#22685 fix(website): Update search index for developer guides
  website/content/en/blog/highlights-february-2025.md
  website/content/en/guides/developer/debugging.md
  website/scripts/typesense-index.ts
Labels: no-changelog

#22699 chore(ci): `scripts/environment/Dockerfile` now based on ubuntu-24.04
  scripts/environment/Dockerfile
Labels: domain: ci, no-changelog

#22688 chore(releasing): automate the rest of the release prep steps
  Cargo.lock
  Cargo.toml
  lib/codecs/Cargo.toml
  lib/k8s-e2e-tests/Cargo.toml
  vdev/Cargo.toml
  vdev/src/commands/release/prepare.rs
Labels: domain: vdev, no-changelog

#22687 fix(aws_s3 sink): Respect endpoint_url field in AWS_CONFIG_FILE
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  changelog.d/22686_s3_sink_endpoint_url_from_aws_config_file.fix.md
  src/aws/auth.rs
  src/aws/mod.rs
Labels: meta: awaiting author

#22707 chore(website): Update `typesense-sync` depedency, search config
  website/package.json
  website/scripts/typesense-sync.ts
  website/typesense.config.json
  website/yarn.lock
Labels: no-changelog

#22694 feat(ci): publish build images to the GitHub Container Registry
  .github/workflows/publish.yml
  scripts/build-docker.sh
  scripts/test-e2e-kubernetes.sh
Labels: domain: ci, no-changelog

#22724 docs(website): fix incorrect example about the contains function
  website/content/en/guides/level-up/transformation.md
Labels: no-changelog

#22731 docs(external): fix DD agent docs
  website/cue/reference/components/sources/datadog_agent.cue
  website/cue/reference/urls.cue
Labels: domain: external docs, no-changelog

#22732 enhancement(internal): Implement Display trait for Discriminant type
  lib/vector-core/src/event/discriminant.rs
Labels: domain: core, no-changelog

#22719 enhancement(throttle transform): Refactor throttle/rate limiter logic into reusable wrapper
  src/transforms/throttle/config.rs
  src/transforms/throttle/mod.rs
  src/transforms/throttle/rate_limiter.rs
  src/transforms/throttle/transform.rs
Labels: domain: transforms, no-changelog

#22695 enhancement(vector source): add `headers` option
  changelog.d/add_headers_vector_source.enhancement.md
  src/sources/http_server.rs
  src/sources/vector/mod.rs
  website/cue/reference/components/sources/base/vector.cue
Labels: domain: sources, domain: external docs

#22727 feat(sample transform): Sample by percent rate
  changelog.d/sample-percentage.feature.md
  changelog.d/sample-ratio.feature.md
  src/transforms/sample/config.rs
  src/transforms/sample/tests.rs
  src/transforms/sample/transform.rs
  website/cue/reference/components/transforms/base/sample.cue
Labels: domain: transforms, domain: external docs

#22741 chore(vector source): Revert add `headers` option"
  changelog.d/add_headers_vector_source.enhancement.md
  src/sources/http_server.rs
  src/sources/vector/mod.rs
  website/cue/reference/components/sources/base/vector.cue
Labels: domain: sources, domain: external docs, no-changelog

#22681 docs(internal docs): fix dead link on web playground README
  lib/vector-vrl/web-playground/README.md
Labels: no-changelog

#22745 fix(external docs): Fix wrong links in the guide to Parsing CSV logs with Lua
  website/content/en/guides/advanced/parsing-csv-logs-with-lua.md
  website/cue/reference/urls.cue
Labels: domain: external docs, no-changelog

#22765 docs(external): fix is_nullish docs
  website/cue/reference/remap/functions/is_nullish.cue
Labels: domain: external docs, no-changelog
