Repository vectordotdev/vector, pull requests merged in 2025-04, with the labels that each got.

#22747 fix(dev): use explicit cast because deranged crate may break compile
  lib/vector-core/src/metrics/ddsketch.rs
Labels: domain: core, no-changelog

#21759 chore(deps): update `hickory_proto` to 0.25.0
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  lib/dnsmsg-parser/src/dns_message.rs
  lib/dnsmsg-parser/src/dns_message_parser.rs
  lib/dnsmsg-parser/src/ede.rs
Labels: no-changelog

#22779 chore(dev): PR template enhancements
  .github/PULL_REQUEST_TEMPLATE.md
Labels: no-changelog

#22771 chore(ci): run IT suite when cargo files are modified
  .github/workflows/integration.yml
  Cargo.lock
  Cargo.toml
  vdev/src/commands/compose_tests/ci_paths.rs
Labels: domain: vdev, no-changelog

#22776 chore(kubernetes platform): Update kustomization.yaml
  distribution/kubernetes/vector-agent/kustomization.yaml
Labels: domain: releasing, platform: kubernetes, no-changelog

#22484 feat(websocket_server sink): add simple customizable extra metrics tags for `websocket_server`
  changelog.d/22484_websocket_server_custom_metric_tags.feature.md
  src/internal_events/mod.rs
  src/internal_events/websocket_server.rs
  src/sinks/websocket_server/config.rs
  src/sinks/websocket_server/sink.rs
  website/cue/reference/components/sinks/base/websocket_server.cue
  website/cue/reference/components/sinks/websocket_server.cue
Labels: domain: sinks, domain: external docs

#22409 feat(metrics): separate `expire_metrics_secs` configuration per metric set
  changelog.d/22409_per_metric_set_expire_metrics_secs.feature.md
  lib/vector-core/src/config/global_options.rs
  lib/vector-core/src/config/metrics_expiration.rs
  lib/vector-core/src/config/mod.rs
  lib/vector-core/src/metrics/metric_matcher.rs
  lib/vector-core/src/metrics/mod.rs
  lib/vector-core/src/metrics/recency.rs
  lib/vector-core/src/metrics/recorder.rs
  src/topology/running.rs
  website/cue/reference/base/configuration.cue
  website/cue/reference/configuration.cue
Labels: domain: topology, domain: external docs, domain: core

#22791 chore(releasing): vdev prepare refactoring
  scripts/generate-release-cue.rb
  vdev/src/commands/release/prepare.rs
Labels: domain: ci, domain: vdev

#22792 fix(releasing): release.rb now fully resolves paths
  scripts/util/release.rb
Labels: domain: releasing

#22796 chore(releasing): add debug statements
  vdev/src/commands/release/prepare.rs
Labels: domain: vdev

#22820 fix(deps): update tokio to fix RUSTSEC-2025-0023
  Cargo.lock
Labels: no-changelog

#22822 chore(ci): update interval changed to 'monthly'
  .github/dependabot.yml
Labels: no-changelog

#22824 chore(administration): update CODEOWNERS files for cue docs PRs
  .github/CODEOWNERS
Labels: no-changelog

#22801 chore(releasing): prepare v0.46.0 release
  .github/CODEOWNERS
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  changelog.d/14282_vector_top_filter_components.feature.md
  changelog.d/15765_postgres_sink.feature.md
  changelog.d/20231-gcs-token-refresh.fix.md
  changelog.d/22386_extend_watcher_paths.enhancement.md
  changelog.d/22409_per_metric_set_expire_metrics_secs.feature.md
  changelog.d/22466_memory_enrichment_table_source.feature.md
  changelog.d/22479_websocket_server_sink_buffering.feature.md
  changelog.d/22484_websocket_server_custom_metric_tags.feature.md
  changelog.d/22528_enrichment_panic.fix.md
  changelog.d/22536_last_message_length_encoding_framing.fix.md
  changelog.d/22629_kinesis_source_access_key_passthrough.fix.md
  changelog.d/22686_s3_sink_endpoint_url_from_aws_config_file.fix.md
  changelog.d/22748_vector_top_not_refreshing.fix.md
  changelog.d/add-user-labels-to-gcp-stackdriver-logs-sink.enhancement.md
  changelog.d/host_metrics_process_metrics.fix.md
  changelog.d/host_metrics_tcp_panic.fix.md
  changelog.d/s3-source-vhosts.feature.md
  changelog.d/sample-percentage.feature.md
  changelog.d/sample-ratio.feature.md
  distribution/install.sh
  lib/file-source/Cargo.toml
  lib/vector-core/Cargo.toml
  vdev/src/commands/release/prepare.rs
  vdev/src/git.rs
  website/content/en/releases/0.46.0.md
  website/cue/reference/administration/interfaces/kubectl.cue
  website/cue/reference/releases.cue
  website/cue/reference/releases/0.45.0.cue
  website/cue/reference/releases/0.46.0.cue
  website/cue/reference/remap/functions/decode_lz4.cue
  website/cue/reference/remap/functions/encode_lz4.cue
  website/cue/reference/versions.cue
  website/layouts/releases/single.html
Labels: domain: releasing, domain: external docs, domain: vdev, no-changelog

#22830 chore(releasing): fix website branch name
  vdev/src/commands/release/prepare.rs
Labels: domain: vdev, no-changelog

#22835 chore(releasing): release prep
  .github/CODEOWNERS
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  changelog.d/14282_vector_top_filter_components.feature.md
  changelog.d/15765_postgres_sink.feature.md
  changelog.d/20231-gcs-token-refresh.fix.md
  changelog.d/22386_extend_watcher_paths.enhancement.md
  changelog.d/22409_per_metric_set_expire_metrics_secs.feature.md
  changelog.d/22466_memory_enrichment_table_source.feature.md
  changelog.d/22479_websocket_server_sink_buffering.feature.md
  changelog.d/22484_websocket_server_custom_metric_tags.feature.md
  changelog.d/22528_enrichment_panic.fix.md
  changelog.d/22536_last_message_length_encoding_framing.fix.md
  changelog.d/22629_kinesis_source_access_key_passthrough.fix.md
  changelog.d/22686_s3_sink_endpoint_url_from_aws_config_file.fix.md
  changelog.d/22748_vector_top_not_refreshing.fix.md
  changelog.d/add-user-labels-to-gcp-stackdriver-logs-sink.enhancement.md
  changelog.d/host_metrics_process_metrics.fix.md
  changelog.d/host_metrics_tcp_panic.fix.md
  changelog.d/s3-source-vhosts.feature.md
  changelog.d/sample-percentage.feature.md
  changelog.d/sample-ratio.feature.md
  distribution/install.sh
  lib/file-source/Cargo.toml
  lib/vector-core/Cargo.toml
  vdev/src/commands/release/prepare.rs
  vdev/src/git.rs
  website/content/en/releases/0.46.0.md
  website/cue/reference/administration/interfaces/kubectl.cue
  website/cue/reference/releases.cue
  website/cue/reference/releases/0.45.0.cue
  website/cue/reference/releases/0.46.0.cue
  website/cue/reference/remap/functions/decode_lz4.cue
  website/cue/reference/remap/functions/encode_lz4.cue
  website/cue/reference/versions.cue
  website/layouts/releases/single.html
Labels: domain: releasing, domain: external docs, domain: core, domain: vdev

#22829 enhancement(reduce transform): Refactor reduce transform logic
  src/transforms/reduce/merge_strategy.rs
  src/transforms/reduce/transform.rs
Labels: domain: transforms, no-changelog

#22832 fix(releasing): update homebrew repo link
  vdev/src/commands/release/homebrew.rs
Labels: domain: vdev, no-changelog

#22836 chore(releasing): cherry pick release prep commit
  Cargo.lock
  Cargo.toml
  changelog.d/14282_vector_top_filter_components.feature.md
  changelog.d/15765_postgres_sink.feature.md
  changelog.d/20231-gcs-token-refresh.fix.md
  changelog.d/22386_extend_watcher_paths.enhancement.md
  changelog.d/22409_per_metric_set_expire_metrics_secs.feature.md
  changelog.d/22466_memory_enrichment_table_source.feature.md
  changelog.d/22479_websocket_server_sink_buffering.feature.md
  changelog.d/22484_websocket_server_custom_metric_tags.feature.md
  changelog.d/22528_enrichment_panic.fix.md
  changelog.d/22536_last_message_length_encoding_framing.fix.md
  changelog.d/22629_kinesis_source_access_key_passthrough.fix.md
  changelog.d/22686_s3_sink_endpoint_url_from_aws_config_file.fix.md
  changelog.d/22748_vector_top_not_refreshing.fix.md
  changelog.d/add-user-labels-to-gcp-stackdriver-logs-sink.enhancement.md
  changelog.d/host_metrics_process_metrics.fix.md
  changelog.d/host_metrics_tcp_panic.fix.md
  changelog.d/s3-source-vhosts.feature.md
  changelog.d/sample-percentage.feature.md
  changelog.d/sample-ratio.feature.md
  distribution/install.sh
  vdev/src/commands/release/prepare.rs
  website/content/en/releases/0.46.0.md
  website/cue/reference/administration/interfaces/kubectl.cue
  website/cue/reference/releases.cue
  website/cue/reference/releases/0.45.0.cue
  website/cue/reference/releases/0.46.0.cue
  website/cue/reference/versions.cue
  website/layouts/releases/single.html
Labels: domain: releasing, domain: external docs, domain: vdev, no-changelog

#22833 chore(releasing): cargo vdev build manifests
  distribution/kubernetes/vector-agent/README.md
  distribution/kubernetes/vector-agent/configmap.yaml
  distribution/kubernetes/vector-agent/daemonset.yaml
  distribution/kubernetes/vector-agent/rbac.yaml
  distribution/kubernetes/vector-agent/service-headless.yaml
  distribution/kubernetes/vector-agent/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/README.md
  distribution/kubernetes/vector-aggregator/configmap.yaml
  distribution/kubernetes/vector-aggregator/service-headless.yaml
  distribution/kubernetes/vector-aggregator/service.yaml
  distribution/kubernetes/vector-aggregator/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/statefulset.yaml
  distribution/kubernetes/vector-stateless-aggregator/README.md
  distribution/kubernetes/vector-stateless-aggregator/configmap.yaml
  distribution/kubernetes/vector-stateless-aggregator/deployment.yaml
  distribution/kubernetes/vector-stateless-aggregator/service-headless.yaml
  distribution/kubernetes/vector-stateless-aggregator/service.yaml
  distribution/kubernetes/vector-stateless-aggregator/serviceaccount.yaml
Labels: domain: releasing, no-changelog

#22540 feat(websocket_server sink): add ACK support for message buffering
  changelog.d/22540_websocket_server_buffering_ack_support.feature.md
  src/internal_events/websocket_server.rs
  src/sinks/websocket_server/buffering.rs
  src/sinks/websocket_server/sink.rs
  website/cue/reference/components/sinks/base/websocket_server.cue
  website/cue/reference/components/sinks/websocket_server.cue
Labels: domain: sinks, domain: external docs

#22788 chore(dev): PR template and CONTRIBUTING.md enhancements
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Labels: no-changelog

#22842 chore(releasing): add known issue to v0.46.0
  website/cue/reference/releases/0.46.0.cue
Labels: domain: external docs, no-changelog

#22846 docs(external): fix dead links to configuration reference
  config/examples/environment_variables.yaml
  config/examples/es_s3_hybrid.yaml
  config/examples/wrapped_json.yaml
  distribution/docker/README.md
  website/content/en/blog/graphql-api.md
  website/content/en/guides/advanced/cloudwatch-logs-firehose.md
Labels: domain: releasing, no-changelog

#22855 fix(websocket_server sink): properly display client count in websocket_server debug logs
  src/internal_events/websocket_server.rs
Labels: no-changelog

#21493 chore(deps): Bump OpenDAL to v0.53.0
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  src/sinks/webhdfs/config.rs
  src/sinks/webhdfs/integration_tests.rs
Labels: domain: sinks, no-changelog

#22804 chore(deps): Bump maxminddb from 0.25.0 to 0.26.0
  Cargo.lock
  Cargo.toml
  src/enrichment_tables/geoip.rs
  src/enrichment_tables/mmdb.rs
Labels: no-changelog

#22844 fix(releasing): AWS integrations regression in v0.46.0
  .github/workflows/integration.yml
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  scripts/integration/aws/compose.yaml
  src/sources/aws_sqs/source.rs
Labels: domain: sources, domain: ci, no-changelog

#22854 feat(websocket_server sink): add support for websocket subprotocol
  changelog.d/22854_websocket_server_subprotocol_support.feature.md
  src/sinks/websocket_server/config.rs
  src/sinks/websocket_server/sink.rs
  website/cue/reference/components/sinks/base/websocket_server.cue
Labels: domain: sinks, domain: external docs

#22870 chore(releasing): prepare v0.46.1
  .github/workflows/integration.yml
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  distribution/install.sh
  scripts/integration/aws/compose.yaml
  src/sources/aws_sqs/source.rs
  website/content/en/releases/0.46.1.md
  website/cue/reference/releases/0.46.1.cue
  website/cue/reference/versions.cue
Labels: domain: sources, domain: ci, domain: releasing, domain: external docs, no-changelog

#22871 chore(dev): enhancements to the patch release template
  .github/ISSUE_TEMPLATE/patch-release.md
Labels: no-changelog

#22873 chore(deps): update Cargo.lock
  Cargo.lock
Labels: no-changelog

#22872 chore(dev): enhancements to the patch release template
  .github/ISSUE_TEMPLATE/patch-release.md
Labels: no-changelog

#22874 chore(releasing): add v0.46.1 patch commits
  distribution/install.sh
  website/content/en/releases/0.46.1.md
  website/cue/reference/releases/0.46.1.cue
  website/cue/reference/versions.cue
Labels: domain: releasing, domain: external docs, no-changelog

#22882 chore(website): fix rendering of 0.46.1.cue
  website/cue/reference/releases/0.46.1.cue
Labels: domain: external docs

#22883 chore(deps): bump darling version
  Cargo.lock
  Cargo.toml
  lib/vector-config-common/Cargo.toml
  lib/vector-config-common/src/validation.rs
  lib/vector-config-macros/Cargo.toml
Labels: no-changelog

#22864 enhancement(config provider): support all formats: YAML,TOML,JSON
  .github/workflows/semantic.yml
  src/config/format.rs
  src/providers/http.rs
Labels: no-changelog

#22887 chore(releasing): build manifests - 0.46.1
  distribution/kubernetes/vector-agent/README.md
  distribution/kubernetes/vector-agent/configmap.yaml
  distribution/kubernetes/vector-agent/daemonset.yaml
  distribution/kubernetes/vector-agent/rbac.yaml
  distribution/kubernetes/vector-agent/service-headless.yaml
  distribution/kubernetes/vector-agent/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/README.md
  distribution/kubernetes/vector-aggregator/configmap.yaml
  distribution/kubernetes/vector-aggregator/service-headless.yaml
  distribution/kubernetes/vector-aggregator/service.yaml
  distribution/kubernetes/vector-aggregator/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/statefulset.yaml
  distribution/kubernetes/vector-stateless-aggregator/README.md
  distribution/kubernetes/vector-stateless-aggregator/configmap.yaml
  distribution/kubernetes/vector-stateless-aggregator/deployment.yaml
  distribution/kubernetes/vector-stateless-aggregator/service-headless.yaml
  distribution/kubernetes/vector-stateless-aggregator/service.yaml
  distribution/kubernetes/vector-stateless-aggregator/serviceaccount.yaml
Labels: domain: releasing, no-changelog

#22886 fix(aws_cloudwatch_logs sink): increase cloudwatch logs max event size to match new aws limit of 1MB
  changelog.d/22831_increase_cloudwatch_log_event_max_size.fix.md
  src/sinks/aws_cloudwatch_logs/request_builder.rs
Labels: domain: sinks

#22701 fix(datadog_logs sink): Apply agent-json header on events from agent
  changelog.d/datadog_agent_http_header.fix.md
  changelog.d/datadog_logs_sink_logs_namespace.fix.md
  src/common/datadog.rs
  src/sinks/datadog/logs/config.rs
  src/sinks/datadog/logs/sink.rs
  website/cue/reference/components/sinks/base/datadog_logs.cue
Labels: domain: sinks, domain: external docs

#22609 feat(new transform): Add new `window` transform
  Cargo.toml
  changelog.d/window-transform.feature.md
  src/internal_events/mod.rs
  src/internal_events/window.rs
  src/transforms/mod.rs
  src/transforms/window/config.rs
  src/transforms/window/mod.rs
  src/transforms/window/transform.rs
  website/content/en/docs/reference/configuration/transforms/window.md
  website/cue/reference/components.cue
  website/cue/reference/components/transforms/base/window.cue
  website/cue/reference/components/transforms/window.cue
  website/static/img/sliding-window.svg
Labels: domain: transforms, domain: external docs

#22850 feat(sources): add access to client address in custom VRL auth
  changelog.d/22850_custom_auth_address_access.feature.md
  src/common/http/server_auth.rs
  src/sinks/websocket_server/sink.rs
  src/sources/util/http/prelude.rs
  website/cue/reference/components.cue
Labels: domain: sources, domain: sinks, domain: external docs

#22212 enhancement(fluent source): Add support for forwarding over unix socket
  Cargo.toml
  changelog.d/22212_fluent_unix_socket.feature.md
  src/sources/fluent/mod.rs
  src/sources/util/unix_stream.rs
  website/cue/reference/components/sources/base/fluent.cue
Labels: domain: sources, domain: external docs

#22716 feat(statsd source): add `convert_to` option for controlling timing unit conversion
  changelog.d/22656_statsd_timer_conversion.feature.md
  src/sinks/statsd/encoder.rs
  src/sources/statsd/mod.rs
  src/sources/statsd/parser.rs
  src/sources/statsd/unix.rs
  website/cue/reference/components/sources/base/statsd.cue
  website/cue/reference/components/sources/statsd.cue
Labels: domain: sources, domain: sinks, domain: external docs

#22691 enhancement(aws_s3 source): optionally configure source to defer or delete older notifications
  changelog.d/s3-source-defer-or-delete.enhancement.md
  src/internal_events/aws_sqs.rs
  src/sources/aws_s3/sqs.rs
  website/cue/reference/components/sources/base/aws_s3.cue
Labels: domain: sources, domain: external docs

#22927 docs(datadog service): Remove datadog specific telemetry
  website/cue/reference/components/sources/internal_metrics.cue
Labels: domain: external docs, no-changelog

#22936 chore(website): guide page improvements
  website/content/en/guides/_index.md
  website/content/en/guides/advanced/_index.md
  website/content/en/guides/developer/_index.md
  website/content/en/guides/getting-started/_index.md
  website/content/en/guides/getting-started/getting-started.md
  website/content/en/guides/level-up/_index.md
  website/layouts/guides/li.html
  website/layouts/guides/list.html
  website/layouts/guides/section.html
Labels: no-changelog

#22930 docs(external): fix typo in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: no-changelog

#22651 enhancement(greptimedb_logs sink): add headers field to greptimedb_logs config
  changelog.d/22651_greptimedb_logs_headers.breaking.md
  scripts/integration/greptimedb/test.yaml
  src/sinks/greptimedb/logs/config.rs
  src/sinks/greptimedb/logs/http_request_builder.rs
  website/cue/reference/components/sinks/base/greptimedb_logs.cue
Labels: domain: sinks, domain: ci, domain: external docs

#22744 feat(http sink): Allows users to specify AWS authentication and the AWS service name for HTTP sinks to support AWS API endpoints that require SigV4.
  changelog.d/22125.feature.md
  src/aws/auth.rs
  src/aws/mod.rs
  src/http.rs
  src/sinks/databend/config.rs
  src/sinks/http/config.rs
  src/sinks/prometheus/exporter.rs
  src/sinks/util/http.rs
  src/sinks/websocket/sink.rs
  website/cue/reference/components/sinks/base/clickhouse.cue
  website/cue/reference/components/sinks/base/databend.cue
  website/cue/reference/components/sinks/base/http.cue
  website/cue/reference/components/sinks/base/loki.cue
  website/cue/reference/components/sinks/base/opentelemetry.cue
  website/cue/reference/components/sinks/base/prometheus_exporter.cue
  website/cue/reference/components/sinks/base/websocket.cue
  website/cue/reference/components/sources/base/http_client.cue
  website/cue/reference/components/sources/base/nginx_metrics.cue
  website/cue/reference/components/sources/base/prometheus_scrape.cue
Labels: domain: sinks, domain: external docs

#22243 feat(amqp sink): add priority property
  changelog.d/add_priority_amqp_sink.enhancement.md
  lib/vector-config/src/lib.rs
  src/sinks/amqp/config.rs
  src/sinks/amqp/integration_tests.rs
  src/sinks/amqp/sink.rs
  src/sinks/prelude.rs
  src/template.rs
  website/cue/reference/components/sinks/base/amqp.cue
Labels: domain: sinks, domain: external docs

#22955 docs(external): updates concepts/traces page
  website/content/en/docs/about/concepts.md
Labels: no-changelog

#22962 docs(external): fix reduce transfrom examples
  src/transforms/reduce/config.rs
  website/cue/reference/components/transforms/base/reduce.cue
  website/cue/reference/components/transforms/reduce.cue
Labels: domain: transforms, domain: external docs, no-changelog
