Repository vectordotdev/vector, pull requests merged in 2025-01, with the labels that each got.

#22109 chore(tests): Update year for parse_klog test
  website/cue/reference/remap/functions/parse_klog.cue
Labels: domain: external docs, no-changelog

#22111 docs(external): add parse_klog notice
  website/cue/reference/remap/functions/parse_klog.cue
Labels: domain: external docs, no-changelog

#22079 fix(config): Correct `filter` transform generation via `vector generate` to use a comparison
  changelog.d/22079_correct_filter_condition_via_vector_generate.fix.md
  src/transforms/filter.rs
Labels: domain: transforms

#22113 chore(socket sink): Revert addition of unix datagram mode
  changelog.d/5269_support_unix_datagram_mode_in_socket_sink.enhancement.md
  src/internal_events/unix.rs
  src/sinks/socket.rs
  src/sinks/util/datagram.rs
  src/sinks/util/mod.rs
  src/sinks/util/service/net/mod.rs
  src/sinks/util/service/net/unix.rs
  src/sinks/util/udp.rs
  src/sinks/util/unix.rs
  website/cue/reference/components/sinks/base/socket.cue
Labels: domain: sinks, domain: external docs, no-changelog

#22110 chore(vrl): Fix example for linux auth log
  website/cue/reference/remap/functions/parse_linux_authorization.cue
Labels: domain: external docs, no-changelog

#22118 docs(external): fix network_* metric type
  website/cue/reference/components/sources/host_metrics.cue
Labels: domain: external docs, no-changelog

#22091 fix(gcp_pubsub source): Remove Tonic default 4MB decode size limit
  changelog.d/22090_remove_gcp_pubsub_msg_size_limit.fix.md
  src/sources/gcp_pubsub.rs
Labels: domain: sources

#22123 enhancement(aws_s3 sink): add glacier instant retrieval storage class
  changelog.d/s3_sink_add_glacier_ir_storage_class.enhancement.md
  src/sinks/s3_common/config.rs
  website/cue/reference/components/sinks/base/aws_s3.cue
Labels: domain: sinks, domain: external docs

#22134 fix(ci): macOS runner for Intel
  .github/workflows/publish.yml
Labels: no-changelog

#22124 chore(vrl): re-enable `parse_dnstap` without VRL playground support
  .github/actions/spelling/patterns.txt
  Cargo.lock
  Cargo.toml
  buf.yaml
  build.rs
  changelog.d/21985_parse_dnstap.feature.md
  lib/dnsmsg-parser/Cargo.toml
  lib/dnstap-parser/Cargo.toml
  lib/dnstap-parser/build.rs
  lib/dnstap-parser/proto/dnstap.proto
  lib/dnstap-parser/src/internal_events.rs
  lib/dnstap-parser/src/lib.rs
  lib/dnstap-parser/src/parser.rs
  lib/dnstap-parser/src/schema.rs
  lib/dnstap-parser/src/vrl_functions/mod.rs
  lib/dnstap-parser/src/vrl_functions/parse_dnstap.rs
  lib/vector-vrl/tests/Cargo.toml
  lib/vector-vrl/tests/src/main.rs
  src/conditions/vrl.rs
  src/internal_events/dnstap.rs
  src/sources/dnstap/mod.rs
  src/sources/dnstap/unix.rs
  src/transforms/remap.rs
  vdev/Cargo.toml
  website/cue/reference/remap/functions/parse_dnstap.cue
Labels: domain: sources, domain: transforms, domain: external docs, domain: vdev

#22135 chore(deps): bump VRL
  Cargo.lock
  LICENSE-3rdparty.csv
  license-tool.toml
Labels: no-changelog

#22139 docs(external): add known issue for v0.43.1
  website/cue/reference/releases/0.43.0.cue
  website/cue/reference/releases/0.43.1.cue
Labels: domain: external docs, no-changelog

#22120 enhancement(socket sink): support unix datagram mode
  changelog.d/5269_support_unix_datagram_mode_in_socket_sink.enhancement.md
  src/internal_events/unix.rs
  src/sinks/socket.rs
  src/sinks/util/datagram.rs
  src/sinks/util/mod.rs
  src/sinks/util/service/net/mod.rs
  src/sinks/util/service/net/unix.rs
  src/sinks/util/udp.rs
  src/sinks/util/unix.rs
  website/cue/reference/components/sinks/base/socket.cue
Labels: domain: sinks, domain: external docs

#22140 feat(ci): publish ARM macOS builds
  .github/workflows/publish.yml
  distribution/install.sh
Labels: domain: releasing, no-changelog

#22138 chore(external docs): render array of object type in component docs
  website/layouts/partials/data.html
Labels: no-changelog

#22147 chore(ci): Update lading to 0.25.3, lower resource allocations in experiments
  regression/cases/datadog_agent_remap_blackhole/experiment.yaml
  regression/cases/datadog_agent_remap_blackhole_acks/experiment.yaml
  regression/cases/datadog_agent_remap_datadog_logs/experiment.yaml
  regression/cases/datadog_agent_remap_datadog_logs_acks/experiment.yaml
  regression/cases/file_to_blackhole/data/.gitkeep
  regression/cases/file_to_blackhole/experiment.yaml
  regression/cases/fluent_elasticsearch/experiment.yaml
  regression/cases/http_elasticsearch/experiment.yaml
  regression/cases/http_text_to_http_json/experiment.yaml
  regression/cases/http_to_http_acks/data/.gitkeep
  regression/cases/http_to_http_acks/experiment.yaml
  regression/cases/http_to_http_json/data/.gitkeep
  regression/cases/http_to_http_json/experiment.yaml
  regression/cases/http_to_http_noack/data/.gitkeep
  regression/cases/http_to_http_noack/experiment.yaml
  regression/cases/http_to_s3/data/.gitkeep
  regression/cases/http_to_s3/experiment.yaml
  regression/cases/otlp_grpc_to_blackhole/experiment.yaml
  regression/cases/otlp_http_to_blackhole/experiment.yaml
  regression/cases/socket_to_socket_blackhole/experiment.yaml
  regression/cases/splunk_hec_indexer_ack_blackhole/data/.gitkeep
  regression/cases/splunk_hec_indexer_ack_blackhole/experiment.yaml
  regression/cases/splunk_hec_route_s3/experiment.yaml
  regression/cases/splunk_hec_to_splunk_hec_logs_acks/experiment.yaml
  regression/cases/splunk_hec_to_splunk_hec_logs_noack/experiment.yaml
  regression/cases/syslog_humio_logs/experiment.yaml
  regression/cases/syslog_log2metric_humio_metrics/experiment.yaml
  regression/cases/syslog_log2metric_splunk_hec_metrics/experiment.yaml
  regression/cases/syslog_log2metric_tag_cardinality_limit_blackhole/experiment.yaml
  regression/cases/syslog_loki/experiment.yaml
  regression/cases/syslog_regex_logs2metric_ddmetrics/experiment.yaml
  regression/cases/syslog_splunk_hec_logs/experiment.yaml
  regression/config.yaml
Labels: no-changelog

#22050 fix(file source)!: use uncompressed content for fingerprinting files (lines and ignored_header_bytes)
  changelog.d/22050-fingerprint-uncompressed-file-content.fix.md
  lib/file-source/src/fingerprinter.rs
  src/sources/file.rs
  website/cue/reference/components/sources/base/file.cue
  website/cue/reference/components/sources/file.cue
Labels: domain: sources, domain: external docs

#22083 enhancement(aws_s3 source): Logs processed S3 objects
  changelog.d/21128_log_aws_s3_objects_consumed.enhancement.md
  src/sources/aws_s3/sqs.rs
Labels: domain: sources, source: aws_s3

#22121 docs(vrl): add docs for new `timezone` option in parse_timestamp function
  website/cue/reference/remap/functions/parse_timestamp.cue
Labels: domain: external docs, no-changelog

#22089 docs(vrl): add docs for new `parse_bytes` function
  .github/actions/spelling/expect.txt
  website/cue/reference/remap/functions/parse_bytes.cue
Labels: domain: external docs, no-changelog

#22159 chore(dev): add cargo commands to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: no-changelog

#22160 chore(ci): Revert "dependabot allow all dep types"
  .github/dependabot.yml
Labels: domain: ci, no-changelog

#21981 docs(vrl): decode_charset.cue, encode_charset.cue documentations
  website/cue/reference/remap/functions/decode_charset.cue
  website/cue/reference/remap/functions/encode_charset.cue
  website/cue/reference/urls.cue
Labels: domain: external docs, no-changelog

#22119 docs(vrl): update documentation for `parse_nginx_log` with the `main` log format
  website/cue/reference/remap/functions/parse_nginx_log.cue
  website/cue/reference/urls.cue
Labels: domain: external docs, no-changelog

#22153 feat(host_metrics source): Add additional cgroup memory metrics
  changelog.d/add_active_and_inactive_cgroup_memory_metrics.feature.md
  src/sources/host_metrics/cgroups.rs
  website/cue/reference/components/sources/host_metrics.cue
Labels: domain: sources, domain: external docs

#22162 chore(website): remove obsolete mentions to netlify
  .github/workflows/regression.yml
  docs/REVIEWING.md
  website/README.md
  website/package.json
  website/yarn.lock
Labels: no-changelog

#22088 docs(vrl): add more `parse-duration` function doc
  website/cue/reference/remap/functions/parse_duration.cue
Labels: domain: external docs, no-changelog

#21969 docs(vrl): Add documentation for new `object_from_array` function
  website/cue/reference/remap/functions/object_from_array.cue
Labels: type: tech debt, domain: external docs, transform: remap, vrl: stdlib, no-changelog

#21924 docs(vrl): add crc vrl function docs
  .github/actions/spelling/allow.txt
  .github/actions/spelling/expect.txt
  website/cue/reference/remap/functions.cue
  website/cue/reference/remap/functions/crc.cue
Labels: domain: external docs, no-changelog

#21939 feat(log_to_metric transform): support tags expansion similar to `labels expansion` for loki sink
  changelog.d/21939_log_to_metric_tags_expansion.feature.md
  src/common/expansion.rs
  src/common/mod.rs
  src/sinks/loki/sink.rs
  src/transforms/log_to_metric.rs
  website/cue/reference/components/transforms/base/log_to_metric.cue
  website/cue/reference/components/transforms/log_to_metric.cue
Labels: domain: transforms, domain: sinks, domain: external docs

#22183 feat(host_metrics source): Add process virtual memory metric
  changelog.d/add_virtual_memory_process_metric.feature.md
  src/sources/host_metrics/process.rs
  website/cue/reference/components/sources/host_metrics.cue
Labels: domain: sources, domain: external docs

#22009 fix( gcp_chronicle sink): add content encoding header when compression is enabled
  changelog.d/22007_chronicle_ingest_header.fix.md
  src/sinks/gcp_chronicle/chronicle_unstructured.rs
Labels: domain: sinks

#22192 chore(releasing): Prepare v0.44.0
  .github/ISSUE_TEMPLATE/minor-release.md
  .github/ISSUE_TEMPLATE/patch-release.md
  .github/actions/spelling/allow.txt
  Cargo.lock
  Cargo.toml
  changelog.d/21128_log_aws_s3_objects_consumed.enhancement.md
  changelog.d/21704_file_sink_supports_encoding_input.feature.md
  changelog.d/21822-nats-sink-multiple-urls.enhancement.md
  changelog.d/21864_kubernetes_logs_user_agent.fix.md
  changelog.d/21873-correctly-propagate-http-config-provider.fix.md
  changelog.d/21939_log_to_metric_tags_expansion.feature.md
  changelog.d/21985_parse_dnstap.feature.md
  changelog.d/21999-add-option-to-use-virtual-addressing.feature.md
  changelog.d/22013-optional-clickhouse-skip_unknown_fields.breaking.md
  changelog.d/22026-retry-kafka-policy-violations.fix.md
  changelog.d/22050-fingerprint-uncompressed-file-content.fix.md
  changelog.d/22079_correct_filter_condition_via_vector_generate.fix.md
  changelog.d/22090_remove_gcp_pubsub_msg_size_limit.fix.md
  changelog.d/22126.fix.md
  changelog.d/5269_support_unix_datagram_mode_in_socket_sink.enhancement.md
  changelog.d/add_active_and_inactive_cgroup_memory_metrics.feature.md
  changelog.d/add_default_fallback_index_elasticsearch_destination.enhancement.md
  changelog.d/pass-sample-rate-key-config.fix.md
  changelog.d/s3_sink_add_glacier_ir_storage_class.enhancement.md
  distribution/docker/alpine/Dockerfile
  distribution/docker/distroless-static/Dockerfile
  distribution/install.sh
  website/content/en/highlights/2025-01-13-0-44-0-upgrade-guide.md
  website/content/en/releases/0.44.0.md
  website/cue/reference/administration/interfaces/kubectl.cue
  website/cue/reference/releases/0.44.0.cue
  website/cue/reference/versions.cue
  website/layouts/releases/single.html
Labels: domain: releasing, domain: external docs, no-changelog

#22194 docs(external): fix 'parse-groks' VRL doc
  website/cue/reference/remap/functions/parse_groks.cue
Labels: domain: external docs, vrl: stdlib, no-changelog

#22201 chore(releasing): cargo vdev build manifests
  distribution/kubernetes/vector-agent/README.md
  distribution/kubernetes/vector-agent/configmap.yaml
  distribution/kubernetes/vector-agent/daemonset.yaml
  distribution/kubernetes/vector-agent/rbac.yaml
  distribution/kubernetes/vector-agent/service-headless.yaml
  distribution/kubernetes/vector-agent/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/README.md
  distribution/kubernetes/vector-aggregator/configmap.yaml
  distribution/kubernetes/vector-aggregator/service-headless.yaml
  distribution/kubernetes/vector-aggregator/service.yaml
  distribution/kubernetes/vector-aggregator/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/statefulset.yaml
  distribution/kubernetes/vector-stateless-aggregator/README.md
  distribution/kubernetes/vector-stateless-aggregator/configmap.yaml
  distribution/kubernetes/vector-stateless-aggregator/deployment.yaml
  distribution/kubernetes/vector-stateless-aggregator/service-headless.yaml
  distribution/kubernetes/vector-stateless-aggregator/service.yaml
  distribution/kubernetes/vector-stateless-aggregator/serviceaccount.yaml
Labels: domain: releasing, no-changelog

#22156 feat(releasing): refactor homebrew.rs to support ARM builds
  vdev/src/commands/release/homebrew.rs
Labels: domain: releasing, domain: vdev, no-changelog

#22202 chore(releasing): tweak release templates
  .github/ISSUE_TEMPLATE/minor-release.md
  .github/ISSUE_TEMPLATE/patch-release.md
Labels: domain: releasing, no-changelog

#22214 chore(deps): update Cargo.lock
  .github/ISSUE_TEMPLATE/minor-release.md
  Cargo.lock
Labels: no-changelog

#22144 chore(ci): add link to macOS ARM builds
  website/cue/reference/administration/downloads.cue
  website/layouts/partials/download/download-matrix.html
Labels: domain: external docs, no-changelog

#22057 feat(host_metrics source): add a new collector for tcp stats
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  changelog.d/21972-add-tcp-collector-host-metrics.feature.md
  license-tool.toml
  src/api/schema/metrics/host.rs
  src/sources/host_metrics/mod.rs
  src/sources/host_metrics/tcp.rs
  website/cue/reference/components/sources/base/host_metrics.cue
  website/cue/reference/components/sources/host_metrics.cue
Labels: domain: sources, domain: external docs

#22205 feat(ci): run integration tests in parallel
  .github/workflows/changes.yml
  .github/workflows/integration.yml
Labels: no-changelog

#22219 chore(dev): fix markdown lint failures
  rfcs/2020-03-06-1999-api-extensions-for-lua-transform.md
  website/content/en/highlights/2022-03-22-0-21-0-upgrade-guide.md
Labels: no-changelog

#22215 fix(aws_s3 source): replace info! with debug! to avoid spam
  changelog.d/s3-log-spam.fix.md
  src/sources/aws_s3/sqs.rs
Labels: domain: sources

#22217 chore(dev): replace plork images
  .github/actions/spelling/allow.txt
  .github/actions/spelling/expect.txt
  .github/workflows/integration.yml
  docs/tutorials/sinks/2_http_sink.md
  scripts/integration/gcp/compose.yaml
Labels: domain: ci, no-changelog

#22222 docs(external): fix OpenTelemetry Sink Quickstart to match expected log data model
  website/cue/reference/components/sinks/opentelemetry.cue
Labels: domain: external docs, no-changelog

#22221 chore(dev): fix protoc installation script for macOS arm64
  scripts/environment/install-protoc.sh
Labels: domain: ci, no-changelog

#22206 fix(auth): allow users to specify session_name for aws auth
  changelog.d/add-session-name-config-for-aws.fix.md
  src/aws/auth.rs
  website/cue/reference/components/sinks/base/aws_cloudwatch_logs.cue
  website/cue/reference/components/sinks/base/aws_cloudwatch_metrics.cue
  website/cue/reference/components/sinks/base/aws_kinesis_firehose.cue
  website/cue/reference/components/sinks/base/aws_kinesis_streams.cue
  website/cue/reference/components/sinks/base/aws_s3.cue
  website/cue/reference/components/sinks/base/aws_sns.cue
  website/cue/reference/components/sinks/base/aws_sqs.cue
  website/cue/reference/components/sinks/base/elasticsearch.cue
  website/cue/reference/components/sinks/base/prometheus_remote_write.cue
  website/cue/reference/components/sources/base/aws_s3.cue
  website/cue/reference/components/sources/base/aws_sqs.cue
Labels: domain: external docs

#22225 docs(external): Adds example log payload Vector ships OTEL Collector
  website/cue/reference/components/sinks/opentelemetry.cue
Labels: domain: external docs, no-changelog

#22237 chore(ci): integration test suite enhancements
  .github/workflows/integration.yml
Labels: no-changelog

#22238 chore(deps): bump async-nats to v0.38
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
Labels: no-changelog

#22033 enhancement(gcp_chronicle sink): add support for all Google SecOps regional endpoints
  .github/actions/spelling/allow.txt
  changelog.d/add_chronicle_regional_endpoints.enhancement.md
  src/sinks/gcp_chronicle/chronicle_unstructured.rs
  website/cue/reference/components/sinks/base/gcp_chronicle_unstructured.cue
Labels: domain: sinks, domain: external docs

#22239 fix(ci): bandaid for flaky macOS tests
  .github/workflows/unit_mac.yml
Labels: no-changelog

#22266 chore(ci): smp version: 0.19.3 -> 0.20.1
  .github/workflows/regression.yml
Labels: no-changelog

#22271 chore(ci): Update lading to 0.25.4
  regression/config.yaml
Labels: no-changelog

#22148 feat(pulsar sink): support tls options
  changelog.d/pulsar_sink_source_support_tls_options.feature.md
  scripts/integration/pulsar/compose.yaml
  scripts/integration/pulsar/test.yaml
  src/sinks/pulsar/config.rs
  src/sinks/pulsar/integration_tests.rs
  src/sinks/pulsar/sink.rs
  src/sources/pulsar.rs
  tests/data/Makefile
  tests/data/ca/intermediate_server/certs/pulsar-chain.cert.pem
  tests/data/ca/intermediate_server/certs/pulsar.cert.pem
  tests/data/ca/intermediate_server/csr/pulsar.csr.pem
  tests/data/ca/intermediate_server/index.txt
  tests/data/ca/intermediate_server/index.txt.old
  tests/data/ca/intermediate_server/newcerts/1008.pem
  tests/data/ca/intermediate_server/private/pulsar.key.pem
  tests/data/ca/intermediate_server/serial
  tests/data/ca/intermediate_server/serial.old
  website/cue/reference/components/sinks/base/pulsar.cue
  website/cue/reference/components/sources/base/pulsar.cue
Labels: domain: security, domain: networking, domain: sources, domain: sinks, sink: pulsar, domain: ci, domain: external docs

#22223 fix(dev): make doc generation platform agnostic
  Cargo.lock
  Cargo.toml
  src/lib.rs
  src/sinks/socket.rs
Labels: domain: sinks, no-changelog

#22280 docs(external): improve proto codecs docs
  lib/codecs/src/decoding/format/protobuf.rs
  lib/codecs/src/encoding/format/protobuf.rs
  website/cue/reference/components/sinks/base/amqp.cue
  website/cue/reference/components/sinks/base/aws_cloudwatch_logs.cue
  website/cue/reference/components/sinks/base/aws_kinesis_firehose.cue
  website/cue/reference/components/sinks/base/aws_kinesis_streams.cue
  website/cue/reference/components/sinks/base/aws_s3.cue
  website/cue/reference/components/sinks/base/aws_sns.cue
  website/cue/reference/components/sinks/base/aws_sqs.cue
  website/cue/reference/components/sinks/base/azure_blob.cue
  website/cue/reference/components/sinks/base/console.cue
  website/cue/reference/components/sinks/base/file.cue
  website/cue/reference/components/sinks/base/gcp_chronicle_unstructured.cue
  website/cue/reference/components/sinks/base/gcp_cloud_storage.cue
  website/cue/reference/components/sinks/base/gcp_pubsub.cue
  website/cue/reference/components/sinks/base/http.cue
  website/cue/reference/components/sinks/base/humio_logs.cue
  website/cue/reference/components/sinks/base/kafka.cue
  website/cue/reference/components/sinks/base/loki.cue
  website/cue/reference/components/sinks/base/mqtt.cue
  website/cue/reference/components/sinks/base/nats.cue
  website/cue/reference/components/sinks/base/opentelemetry.cue
  website/cue/reference/components/sinks/base/papertrail.cue
  website/cue/reference/components/sinks/base/pulsar.cue
  website/cue/reference/components/sinks/base/redis.cue
  website/cue/reference/components/sinks/base/socket.cue
  website/cue/reference/components/sinks/base/splunk_hec_logs.cue
  website/cue/reference/components/sinks/base/webhdfs.cue
  website/cue/reference/components/sinks/base/websocket.cue
  website/cue/reference/components/sources/base/amqp.cue
  website/cue/reference/components/sources/base/aws_kinesis_firehose.cue
  website/cue/reference/components/sources/base/aws_s3.cue
  website/cue/reference/components/sources/base/aws_sqs.cue
  website/cue/reference/components/sources/base/datadog_agent.cue
  website/cue/reference/components/sources/base/demo_logs.cue
  website/cue/reference/components/sources/base/exec.cue
  website/cue/reference/components/sources/base/file_descriptor.cue
  website/cue/reference/components/sources/base/gcp_pubsub.cue
  website/cue/reference/components/sources/base/heroku_logs.cue
  website/cue/reference/components/sources/base/http.cue
  website/cue/reference/components/sources/base/http_client.cue
  website/cue/reference/components/sources/base/http_server.cue
  website/cue/reference/components/sources/base/kafka.cue
  website/cue/reference/components/sources/base/nats.cue
  website/cue/reference/components/sources/base/pulsar.cue
  website/cue/reference/components/sources/base/redis.cue
  website/cue/reference/components/sources/base/socket.cue
  website/cue/reference/components/sources/base/stdin.cue
Labels: domain: external docs, no-changelog

#22279 fix(deployment): #22264 add `--no-environment` to systemd service file at `ExecReload`
  changelog.d/22279_systemd_service_reload.fix.md
  distribution/systemd/vector.service
Labels: domain: releasing

#21348 feat(enriching): add `memory` enrichment table
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  changelog.d/21348_memory_enrichment_table.feature.md
  src/api/schema/components/mod.rs
  src/config/builder.rs
  src/config/compiler.rs
  src/config/diff.rs
  src/config/enrichment_table.rs
  src/config/graph.rs
  src/config/loading/config_builder.rs
  src/config/mod.rs
  src/config/sink.rs
  src/config/validation.rs
  src/enrichment_tables/memory/config.rs
  src/enrichment_tables/memory/internal_events.rs
  src/enrichment_tables/memory/mod.rs
  src/enrichment_tables/memory/table.rs
  src/enrichment_tables/mod.rs
  src/topology/builder.rs
  src/topology/running.rs
  website/content/en/docs/reference/configuration/_index.md
  website/cue/reference/configuration.cue
  website/cue/reference/urls.cue
Labels: domain: topology, domain: external docs

#22072 feat(new sink): Keep sink
  .github/actions/spelling/allow.txt
  Cargo.toml
  changelog.d/21965-add-keep-sink.feature.md
  src/sinks/keep/config.rs
  src/sinks/keep/encoder.rs
  src/sinks/keep/mod.rs
  src/sinks/keep/request_builder.rs
  src/sinks/keep/service.rs
  src/sinks/keep/sink.rs
  src/sinks/mod.rs
  website/content/en/docs/reference/configuration/sinks/keep.md
  website/cue/reference/components/sinks/base/keep.cue
  website/cue/reference/components/sinks/keep.cue
  website/cue/reference/services/keep.cue
  website/cue/reference/urls.cue
  website/data/redirects.yaml
Labels: domain: sinks, domain: external docs

#22077 feat(tag_cardinality_limit transform): enable per metric limits for `tag_cardinality_limit`
  changelog.d/22077_per_metric_limits_for_tag_cardinality_limit_transform.feature.md
  src/transforms/tag_cardinality_limit/config.rs
  src/transforms/tag_cardinality_limit/mod.rs
  src/transforms/tag_cardinality_limit/tests.rs
  website/cue/reference/components/transforms/base/tag_cardinality_limit.cue
Labels: domain: transforms, domain: external docs

#22315 chore(dev): populated the new github 'type' field for features
  .github/ISSUE_TEMPLATE/feature.yml
Labels: no-changelog

#22318 chore(ci): update smp to 0.20.2
  .github/workflows/regression.yml
Labels: no-changelog

#22285 chore(ci): Swap traditional file generator for logrotate_fs for file_to_blackhole test
  regression/cases/file_to_blackhole/lading/lading.yaml
  regression/cases/file_to_blackhole/vector/vector.yaml
Labels: no-changelog

#22324 fix(ci): make some final regression steps optional
  .github/workflows/regression.yml
Labels: no-changelog

#22319 docs(external): fix `enrichment_table` and `secret` docs
  website/cue/reference/configuration.cue
Labels: domain: external docs, no-changelog

#22332 docs(external): fix getting starting guide rendering
  website/content/en/guides/_index.md
  website/content/en/guides/getting-started/_index.md
Labels: no-changelog

#22323 enhancement(gcp_chronicle sink): Add default fallback logic if log_type template cannot be resolved fo…
  changelog.d/add_default_fallback_index_google_chronicle_sink.enhancement.md
  src/sinks/gcp_chronicle/chronicle_unstructured.rs
  src/sinks/gcp_chronicle/partitioner.rs
  website/cue/reference/components/sinks/base/gcp_chronicle_unstructured.cue
Labels: domain: sinks, domain: external docs

#22329 feat(dev): add config IDE autocompletion guide
  .github/actions/spelling/allow.txt
  changelog.d/gen-schema-out.enhancement.md
  src/cli.rs
  src/generate_schema.rs
  website/content/en/guides/developer/_index.md
  website/content/en/guides/developer/config-autocompletion.md
  website/static/gifs/guides/config-autocomplete.gif
Labels: no-changelog
