Repository vectordotdev/vector, pull requests merged in 2025-06, with the labels that each got.

#23125 chore(ci): Updates SMP cli client version
  .github/workflows/regression.yml
Labels: no-changelog

#23176 chore(ci): add docker compose debug logs (if a test fails)
  scripts/e2e/datadog-logs/compose.yaml
  scripts/int-e2e-test.sh
  vdev/src/testing/config.rs
  vdev/src/testing/integration.rs
Labels: domain: ci, domain: vdev, no-changelog

#23175 chore(deps): update Rust to 1.86
  lib/codecs/src/encoding/mod.rs
  lib/vector-buffers/src/config.rs
  lib/vector-buffers/src/test/variant.rs
  lib/vector-buffers/src/topology/builder.rs
  lib/vector-buffers/src/topology/channel/receiver.rs
  lib/vector-buffers/src/topology/channel/sender.rs
  lib/vector-buffers/src/variants/disk_v2/reader.rs
  lib/vector-buffers/src/variants/disk_v2/writer.rs
  lib/vector-common/src/request_metadata.rs
  lib/vector-core/src/event/discriminant.rs
  lib/vector-core/src/event/metadata.rs
  lib/vector-core/src/event/util/log/all_fields.rs
  lib/vector-core/src/tls/settings.rs
  lib/vector-stream/src/driver.rs
  lib/vector-tap/src/controller.rs
  rust-toolchain.toml
  src/api/schema/relay.rs
  src/async_read.rs
  src/codecs/ready_frames.rs
  src/components/validation/resources/event.rs
  src/config/mod.rs
  src/sinks/aws_kinesis/firehose/record.rs
  src/sinks/aws_kinesis/streams/record.rs
  src/sinks/datadog/metrics/request_builder.rs
  src/sinks/util/buffer/metrics/normalize.rs
  src/sinks/util/buffer/mod.rs
  src/sinks/util/retries.rs
  src/sinks/util/service.rs
  src/source_sender/mod.rs
  src/sources/aws_kinesis_firehose/errors.rs
  src/sources/aws_kinesis_firehose/handlers.rs
  src/sources/docker_logs/mod.rs
  src/sources/opentelemetry/status.rs
  src/sources/socket/tcp.rs
  src/sources/socket/udp.rs
  src/sources/util/wrappers.rs
  src/template.rs
  src/topology/builder.rs
  src/topology/task.rs
  src/transforms/log_to_metric.rs
  src/transforms/remap.rs
Labels: domain: topology, domain: sources, domain: transforms, domain: sinks, domain: codecs, domain: core, no-changelog

#23182 chore(internal docs): Fix spelling and add QA'd to allow.txt
  .github/actions/spelling/allow.txt
  website/content/en/docs/about/under-the-hood/guarantees.md
Labels: no-changelog

#23024 feat(splunk_hec source): Allow content-type header if it includes application/json
  changelog.d/23022_hec_allow_content_header_contains.enhancement.md
  src/sources/splunk_hec/mod.rs
Labels: domain: sources

#23187 fix(core): Add deny_unknown_fields to TlsEnableableConfig
  changelog.d/23187_tls_enableable_config_deny_unknown_fields.fix.md
  lib/vector-core/src/tls/settings.rs
Labels: domain: core

#23192 docs(internal docs): remove vector-test-harness from REVIEWING.md
  docs/REVIEWING.md
Labels: no-changelog

#23197 chore(internal docs): Add enableable to allow.txt
  .github/actions/spelling/allow.txt
Labels: no-changelog

#22964 enhancement(sinks): allow to provide aws session token
  changelog.d/aws-auth-session-token.enhancement.md
  src/aws/auth.rs
  website/cue/reference/base/configuration.cue
  website/cue/reference/components/sinks/base/aws_cloudwatch_logs.cue
  website/cue/reference/components/sinks/base/aws_cloudwatch_metrics.cue
  website/cue/reference/components/sinks/base/aws_kinesis_firehose.cue
  website/cue/reference/components/sinks/base/aws_kinesis_streams.cue
  website/cue/reference/components/sinks/base/aws_s3.cue
  website/cue/reference/components/sinks/base/aws_sns.cue
  website/cue/reference/components/sinks/base/aws_sqs.cue
  website/cue/reference/components/sinks/base/clickhouse.cue
  website/cue/reference/components/sinks/base/databend.cue
  website/cue/reference/components/sinks/base/elasticsearch.cue
  website/cue/reference/components/sinks/base/http.cue
  website/cue/reference/components/sinks/base/loki.cue
  website/cue/reference/components/sinks/base/opentelemetry.cue
  website/cue/reference/components/sinks/base/prometheus_exporter.cue
  website/cue/reference/components/sinks/base/prometheus_remote_write.cue
  website/cue/reference/components/sinks/base/websocket.cue
  website/cue/reference/components/sources/base/aws_s3.cue
  website/cue/reference/components/sources/base/aws_sqs.cue
  website/cue/reference/components/sources/base/http_client.cue
  website/cue/reference/components/sources/base/nginx_metrics.cue
  website/cue/reference/components/sources/base/prometheus_scrape.cue
Labels: domain: external docs

#22582 enhancement(kubernetes_logs source): Allow specification of a maximum line size to be applied after merging instead of just before
  .github/actions/spelling/expect.txt
  changelog.d/22581_max_merged_line_bytes.feature.md
  lib/file-source/src/buffer.rs
  lib/file-source/src/file_server.rs
  lib/file-source/src/file_watcher/mod.rs
  lib/file-source/src/file_watcher/tests/experiment.rs
  lib/file-source/src/file_watcher/tests/experiment_no_truncations.rs
  lib/file-source/src/fingerprinter.rs
  lib/file-source/src/internal_events.rs
  src/internal_events/file.rs
  src/internal_events/kubernetes_logs.rs
  src/sources/kubernetes_logs/mod.rs
  src/sources/kubernetes_logs/partial_events_merger.rs
  website/cue/reference/components/sources/base/kubernetes_logs.cue
Labels: domain: sources, domain: external docs

#22971 fix(amqp sink): attempt one reconnect when channel has errored
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  changelog.d/22971_reconnect_broken_amqp_sink.fix.md
  docs/DEVELOPING.md
  src/sinks/amqp/channel.rs
  src/sinks/amqp/config.rs
  src/sinks/amqp/integration_tests.rs
  src/sinks/amqp/mod.rs
  src/sinks/amqp/service.rs
  src/sinks/amqp/sink.rs
  website/cue/reference/components/sinks/base/amqp.cue
Labels: domain: sinks, domain: external docs, sink: amqp

#23166 docs(website): Fix config extension typo in Windows command (from-source.md)
  website/content/en/docs/setup/installation/manual/from-source.md
Labels: no-changelog

#21293 fix(elasticsearch sink): Encode bulk action parameters as JSON
  changelog.d/elasticsearch-encoding.fix.md
  src/sinks/elasticsearch/encoder.rs
  src/sinks/elasticsearch/tests.rs
Labels: domain: sinks, no-changelog

#23151 fix(aws_ecs_metrics source): skip over empty ECS metrics payloads
  changelog.d/skip_empty_ecs_metrics.fix.md
  src/sources/aws_ecs_metrics/parser.rs
Labels: domain: sources, source: aws_ecs_metrics

#23213 fix(ci): add missing perms to gardener_remove_waiting_author.yml
  .github/workflows/gardener_remove_waiting_author.yml
Labels: no-changelog

#23210 chore(deps): Bump greptimedb
  Cargo.lock
  Cargo.toml
Labels: no-changelog

#23218 chore(website): prettier rc formatting of hugo/html
  website/.prettierrc.json
  website/layouts/partials/data.html
  website/layouts/partials/logs_output.html
  website/package.json
  website/yarn.lock
Labels: no-changelog

#23222 feat(website): add input telemetry types section for transforms and sinks
  src/codecs/encoding/config.rs
  website/cue/reference/components.cue
  website/cue/reference/components/sinks/base/amqp.cue
  website/cue/reference/components/sinks/base/aws_cloudwatch_logs.cue
  website/cue/reference/components/sinks/base/aws_kinesis_firehose.cue
  website/cue/reference/components/sinks/base/aws_kinesis_streams.cue
  website/cue/reference/components/sinks/base/aws_s3.cue
  website/cue/reference/components/sinks/base/aws_sns.cue
  website/cue/reference/components/sinks/base/aws_sqs.cue
  website/cue/reference/components/sinks/base/azure_blob.cue
  website/cue/reference/components/sinks/base/console.cue
  website/cue/reference/components/sinks/base/file.cue
  website/cue/reference/components/sinks/base/gcp_chronicle_unstructured.cue
  website/cue/reference/components/sinks/base/gcp_cloud_storage.cue
  website/cue/reference/components/sinks/base/gcp_pubsub.cue
  website/cue/reference/components/sinks/base/http.cue
  website/cue/reference/components/sinks/base/humio_logs.cue
  website/cue/reference/components/sinks/base/kafka.cue
  website/cue/reference/components/sinks/base/loki.cue
  website/cue/reference/components/sinks/base/mqtt.cue
  website/cue/reference/components/sinks/base/nats.cue
  website/cue/reference/components/sinks/base/opentelemetry.cue
  website/cue/reference/components/sinks/base/papertrail.cue
  website/cue/reference/components/sinks/base/pulsar.cue
  website/cue/reference/components/sinks/base/redis.cue
  website/cue/reference/components/sinks/base/socket.cue
  website/cue/reference/components/sinks/base/splunk_hec_logs.cue
  website/cue/reference/components/sinks/base/webhdfs.cue
  website/cue/reference/components/sinks/base/websocket.cue
  website/cue/reference/components/sinks/base/websocket_server.cue
  website/cue/reference/components/sinks/websocket_server.cue
  website/layouts/docs/component.html
  website/layouts/partials/data.html
  website/layouts/partials/telemetry_input.html
  website/layouts/partials/telemetry_output.html
Labels: domain: codecs, domain: external docs, no-changelog

#23225 chore(website): minor improvements to output data section
  website/cue/reference/components/transforms/remap.cue
  website/layouts/partials/data.html
Labels: domain: external docs, no-changelog

#23229 fix(website): Fixed documentation badges space on documentation
  website/layouts/partials/badge.html
Labels: no-changelog

#23239 chore(dev): improve gitignore
  .gitignore
  README.md
Labels: no-changelog

#23236 chore(website): improve environment variable docs
  .github/actions/spelling/allow.txt
  website/content/en/docs/reference/api.md
  website/content/en/docs/reference/configuration/_index.md
  website/content/en/docs/reference/environment_variables.md
  website/content/en/docs/reference/glossary.md
Labels: no-changelog

#23224 feat(ci): improve and remove authorization requirements
  .github/workflows/changelog.yaml
  .github/workflows/gardener_remove_waiting_author.yml
  .github/workflows/semantic.yml
Labels: no-changelog

#23238 docs(internal): remove obsolete and unused team.cue
  README.md
  website/cue/reference/team.cue
Labels: domain: external docs, no-changelog

#23245 chore(website): improve decoder docs
  lib/codecs/src/decoding/mod.rs
  src/sources/http_client/client.rs
  website/cue/reference/components/sinks/base/websocket_server.cue
  website/cue/reference/components/sources/base/amqp.cue
  website/cue/reference/components/sources/base/aws_kinesis_firehose.cue
  website/cue/reference/components/sources/base/aws_s3.cue
  website/cue/reference/components/sources/base/aws_sqs.cue
  website/cue/reference/components/sources/base/datadog_agent.cue
  website/cue/reference/components/sources/base/demo_logs.cue
  website/cue/reference/components/sources/base/exec.cue
  website/cue/reference/components/sources/base/file_descriptor.cue
  website/cue/reference/components/sources/base/gcp_pubsub.cue
  website/cue/reference/components/sources/base/heroku_logs.cue
  website/cue/reference/components/sources/base/http.cue
  website/cue/reference/components/sources/base/http_client.cue
  website/cue/reference/components/sources/base/http_server.cue
  website/cue/reference/components/sources/base/kafka.cue
  website/cue/reference/components/sources/base/mqtt.cue
  website/cue/reference/components/sources/base/nats.cue
  website/cue/reference/components/sources/base/pulsar.cue
  website/cue/reference/components/sources/base/redis.cue
  website/cue/reference/components/sources/base/socket.cue
  website/cue/reference/components/sources/base/stdin.cue
Labels: no-changelog

#23248 chore(ci): update PULL_REQUEST_TEMPLATE
  .github/PULL_REQUEST_TEMPLATE.md
Labels: no-changelog

#23247 chore(website): add/fix telemetry input & output for transforms
  website/cue/reference/components/transforms/aggregate.cue
  website/cue/reference/components/transforms/dedupe.cue
  website/cue/reference/components/transforms/exclusive_route.cue
  website/cue/reference/components/transforms/filter.cue
  website/cue/reference/components/transforms/log_to_metric.cue
  website/cue/reference/components/transforms/lua.cue
  website/cue/reference/components/transforms/metric_to_log.cue
  website/cue/reference/components/transforms/reduce.cue
  website/cue/reference/components/transforms/route.cue
  website/cue/reference/components/transforms/sample.cue
  website/cue/reference/components/transforms/tag_cardinality_limit.cue
  website/cue/reference/components/transforms/throttle.cue
  website/cue/reference/components/transforms/window.cue
Labels: domain: external docs, no-changelog

#23258 chore(releasing): minor fixes for minor release tmpl
  .github/ISSUE_TEMPLATE/minor-release.md
Labels: no-changelog

#23165 feat(sources): add access to URL path in custom VRL auth
  changelog.d/23165_custom_auth_path_access.feature.md
  src/common/http/server_auth.rs
  src/sinks/websocket_server/sink.rs
  src/sources/util/http/prelude.rs
  website/cue/reference/components.cue
Labels: domain: sources, domain: sinks, domain: external docs

#23259 chore(ci): avoid IT setup if suite will not run
  .github/workflows/integration.yml
Labels: no-changelog

#23265 chore(vdev): add `int build` command
  .github/workflows/semantic.yml
  vdev/src/commands/info.rs
  vdev/src/commands/integration/build.rs
  vdev/src/commands/integration/mod.rs
  vdev/src/testing/build.rs
  vdev/src/testing/config.rs
  vdev/src/testing/docker.rs
  vdev/src/testing/integration.rs
  vdev/src/testing/mod.rs
  vdev/src/testing/runner.rs
Labels: domain: vdev, no-changelog

#23268 fix(ci): K8S E2E tests skipping changes.yml in MQ
  .github/workflows/changes.yml
  .github/workflows/k8s_e2e.yml
Labels: no-changelog

#23274 fix(ci): IT suite should run when manually evoked
  .github/workflows/integration.yml
Labels: no-changelog

#23278 fix(ci): Use source changes in integration.yml
  .github/workflows/integration.yml
Labels: no-changelog

#23279 fix!(sources): make heroku_logs and demo_logs only output logs
  changelog.d/23279_logs_sources_output_logs.breaking.md
  src/sources/demo_logs.rs
  src/sources/heroku_logs.rs
Labels: domain: sources, source: heroku_logs, source: demo_logs

#23275 chore(releasing): prepare v0.48.0 release
  Cargo.lock
  Cargo.toml
  changelog.d/14621_http_client_source_vrl_query_parameters.enhancement.md
  changelog.d/22581_max_merged_line_bytes.feature.md
  changelog.d/22935_axiom_sink_trace_data_support.feature.md
  changelog.d/22971_reconnect_broken_amqp_sink.fix.md
  changelog.d/23022_hec_allow_content_header_contains.enhancement.md
  changelog.d/23106_rcode_16_dnsmsg_parser_handling.fix.md
  changelog.d/23123_dnstap_tcp_errors.fix.md
  changelog.d/23165_custom_auth_path_access.feature.md
  changelog.d/23187_tls_enableable_config_deny_unknown_fields.fix.md
  changelog.d/23196_kafka_sink_rate_limit.feature.md
  changelog.d/23199_opentelemetry_source_panic_on_nan_attributes.fix.md
  changelog.d/23217_interval_ms_modifiable.feature.md
  changelog.d/23228_vector_top_uptime.feature.md
  changelog.d/5732_multicast_udp_socket_sources.feature.md
  changelog.d/aws-auth-session-token.enhancement.md
  changelog.d/dnstap_better_errors_timestamp.fix.md
  changelog.d/elasticsearch-encoding.fix.md
  changelog.d/fix_dnstap_extract_address_logic.fix.md
  changelog.d/fix_prometheus_timestamp_parse.fix.md
  changelog.d/skip_empty_ecs_metrics.fix.md
  distribution/docker/alpine/Dockerfile
  distribution/install.sh
  website/content/en/releases/0.48.0.md
  website/cue/reference/administration/interfaces/kubectl.cue
  website/cue/reference/releases/0.48.0.cue
  website/cue/reference/versions.cue
Labels: domain: releasing, domain: external docs, no-changelog

#23285 chore(website): use YAML for the default config language
  website/assets/js/app.js
Labels: no-changelog

#23294 feat(ci): add workflow_dispatch to msrv
  .github/workflows/msrv.yml
Labels: domain: ci, no-changelog

#23298 chore(releasing): improve minor release documentation
  .github/ISSUE_TEMPLATE/minor-release.md
  .gitignore
Labels: no-changelog
